<div class="container">
  <p id="acceptCallRoomName" class="top">{{ roomName }}</p>
  <p id="acceptCallConfrenceCall" class="top-next">{{ conferenceType }} call</p>

  <svg-icon id="acceptCallUserImg" icon="icon-user" class="user-img"></svg-icon>
  <p class="accept-reject">
    <a id="acceptCallAcceptCall" (click)="acceptIncomingCall()">
      <svg-icon icon="icon-accept" class="accept-reject-image"></svg-icon>
    </a>
    <a id="acceptCallRejectCall" (click)="rejectIncomingCall()">
      <svg-icon icon="icon-reject" class="accept-reject-image"></svg-icon>
    </a>
  </p>
</div>
