@import '../../../../scss/colors.scss';

.preview {
  .pages {
    display: none;
    .page-header {
      background-color: $white2;
      padding: 8px;
      border-bottom: 1px solid $gray34;
      .page-name {
        display: flex;
        justify-content: center;
        margin: 0px 0px 4px 15px;
        font-size: 85%;
        align-items: center;
        width: 90%;
      }
      .task-progress-bar {
        font-size: 85%;
        .filledTxt {
          font-size: 100%;
        }
      }
      hr {
        height: 3px;
        background-color: $gray34;
        border: none;
        margin-bottom: 12px;
      }
    }
    .submit-button {
      margin: 0 0 8px 16px;
      padding: 8px;
      background-color: $blue-head;
      color: $white;
      border-radius: 8px;
      border: none;
      width: 86%;
    }
  }
  .read-only-field {
    color: $dark-gray;
  }
  .pages.active {
    display: block !important;
  }
  .preview-content {
    padding: 8px 8px 0 8px;
  }

  .section-header {
    background: $blue-head;
    border-radius: 8px;
    color: $white;
    padding: 4px;
    margin-bottom: 4px;

    .fix-arrow {
      cursor: pointer;
      position: relative;
      top: 3px;
    }

    .section-name {
      font-size: 95%;
      font-weight: 500;
      position: relative;
      top: -2px;
      width: 65%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }

    .section-count {
      font-size: 90%;
      font-weight: 500;
      float: right;
      position: relative;
      top: 8px;
      right: 5px;
    }
  }

  #preview {
    .bg-bottom-array {
      background: $white;

      .bottom-header {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        align-items: center;
        border-bottom: 1px solid $gray3;
        font-size: 14px;

        p {
          font-size: 12px;
        }

        .red-h {
          color: $red-main;
        }
      }
      .form-control-type {
        width: 100%;
        border: 1px solid $gray3;
        height: 35px;
        border-radius: 6px;
        margin-bottom: 0.5rem;
      }
      .type-label {
        font-size: 13px;
        padding-bottom: 5px;
        display: block;
      }
      .form-type {
        margin-left: 0.4rem;
        margin-right: 0.9rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.slider-form {
  display: flex;
  align-items: center;
}
