<div class="preview" *ngIf="previewFormData$ | async as pageData">
  <div
    *ngFor="let page of pageData; let i = index"
    class="pages"
    [ngClass]="{ active: pageIndex === i + 1 }"
  >
    <div class="page-header" *ngIf="moduleType !== 'formDetailView'">
      <div id="previewPageName" class="page-name">{{ page.name }}</div>
      <div id="previewPageSectionLength" class="task-progress-bar">
        0/{{ page.sections.length }}
        <span
          id="previewPageFilled"
          class="filledTxt"
          translate="filled"
        ></span>
      </div>
      <hr />
    </div>
    <div
      *ngFor="let section of page.sections; let i = index"
      class="preview-content"
    >
      <div class="section-header">
        <mat-icon
          id="previewExpandMore"
          (click)="toggleSectionOpenState(i, page)"
          *ngIf="section?.isOpen"
          class="fix-arrow"
        >
          expand_more
        </mat-icon>
        <mat-icon
          id="previewRightArrow"
          (click)="toggleSectionOpenState(i, page)"
          *ngIf="!section?.isOpen"
          class="fix-arrow"
        >
          chevron_right
        </mat-icon>

        <span id="previewSectionName" class="section-name">{{
          section.name
        }}</span>
        <span id="previewSectionLength" class="section-count"
          >0/{{ section.questions.length }}</span
        >
      </div>

      <div *ngIf="section?.isOpen === true">
        <div id="preview" *ngFor="let question of section.questions">
          <app-preview-question
            [moduleType]="moduleType"
            [question]="question"
            (isOpenBottomSheet)="openBottomSheet($event)"
          ></app-preview-question>
        </div>
      </div>
    </div>
    <button
      id="previewSubmitBtn"
      *ngIf="
        pageIndex === pageData.length &&
        page.sections.length !== 0 &&
        moduleType !== 'formDetailView'
      "
      class="submit-button"
      translate="submit"
    ></button>
  </div>
</div>
