<div class="preview" *ngIf="previewFormData$ | async as pageData">
  <!-- {{ pageIndex }} -->
  <!-- {{ subFormId }} -->
  <!-- {{ pageData | json }} -->
  <div
    *ngFor="let page of pageData; let i = index"
    class="pages"
    [ngClass]="{ active: pageIndex === i + 1 }"
  >
    <!-- {{ pageData | json }} -->
    <!-- {{ subFormId }} -->
    <div class="page-header">
      <div class="page-name">{{ page.name }}</div>
      <div class="task-progress-bar">0/{{ page.sections.length }} Filled</div>
      <hr />
    </div>
    <div *ngFor="let section of page.sections" class="preview-content">
      <div class="section-header">
        <mat-icon
          (click)="toggleSectionOpenState()"
          *ngIf="isSectionOpenState === true"
          class="fix-arrow"
        >
          expand_more
        </mat-icon>
        <mat-icon
          (click)="toggleSectionOpenState()"
          *ngIf="isSectionOpenState === false"
          class="fix-arrow"
        >
          chevron_right
        </mat-icon>

        <span class="section-name">{{ section.name }}</span>
        <span class="section-count">0/{{ section.questions.length }}</span>
      </div>

      <div *ngIf="isSectionOpenState === true">
        <div id="preview" *ngFor="let question of section.questions">
          <app-preview-question [question]="question"></app-preview-question>
        </div>
      </div>
    </div>
  </div>
</div>
