<div class="userRemoveModal">
  <p
    id="removeUserHeading"
    class="heading"
    translate="{{
      selectedUserGroupType === 'positions'
        ? 'removePositionHeading'
        : 'removeUserHeading'
    }}"
  ></p>
  <p
    id="removeUserMessage"
    class="message"
    translate="{{
      selectedUserGroupType === 'positions'
        ? 'removePositionMessage'
        : 'removeUserMessage'
    }}"
  ></p>
  <button
    id="removeUserYesBtn"
    mat-raised-button
    class="yes-btn"
    (click)="deleteUser('yes')"
    translate="yesBtn"
  ></button>
  <button
    id="removeUserNoBtn"
    mat-button
    class="no-btn"
    (click)="deleteUser('no')"
    translate="noBtn"
  ></button>
</div>
