@import '../../../../scss/colors.scss';

.api-key-info {
  .generate-btn {
    position: relative;
    left: 40%;
    background-color: $blue-main;
    box-shadow: none;
    color: $white;
    margin-top: 7px;
  }

  .generate-btn:disabled {
    background-color: $gray2-bg;
    color: $gray7;
  }
}

.api-table {
  margin-top: 12px;

  ::ng-deep .table-column {
    width: 35%;
  }
}

.api-table-disable {
  margin-top: 12px;

  ::ng-deep .table-column {
    width: 45%;
  }
}
