<ng-container *ngIf="userInfo$ | async">
  <div class="dis-flex" id="apikeyInfo">
    <div class="width-30"></div>
    <div class="width-40">
      <form
        class="api-key-info"
        [formGroup]="apiKeyInfoForm"
        (ngSubmit)="generateApiKey()"
      >
        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label translate id="descriptionLabel">description</mat-label>
            <input
              id="description"
              matInput
              [placeholder]="'description' | translate"
              formControlName="description"
            />
          </mat-form-field>
        </p>
        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label translate id="expiresLabel">expires</mat-label>
            <mat-select formControlName="expires" id="expires">
              <mat-option *ngFor="let expire of expires" [value]="expire">
                {{ expire }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p class="m-0">
          <button
            id="generate"
            mat-raised-button
            translate="generate"
            class="generate-btn"
            [disabled]="disabeleApiKeyGeneration"
            type="submit"
          ></button>
        </p>
      </form>
    </div>
    <div class="width-30"></div>
  </div>
  <div
    [ngClass]="{
      'api-table-disable': disabeleApiKeyGeneration,
      'api-table': !disabeleApiKeyGeneration
    }"
  >
    <cwp-dynamictable
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      class="width-100"
    ></cwp-dynamictable>
  </div>
</ng-container>
