<div class="submission-view">
  <div class="header-penel">
    <div class="header-left">
      <img (click)="goToBack()" src="assets/rdf-forms-icons/back-arrow.svg" />
      <h1 class="slider-heading">{{ data.name }}</h1>
    </div>
    <div class="header-rigth">
      <button class="download-btn" disabled>
        <mat-icon class="download-icon">picture_as_pdf</mat-icon>
        <span class="download-text" translate="download"></span>
      </button>
    </div>
  </div>
  <div class="submission-view-body">
    <div class="heading">
      <h1 class="form-title" translate="formOverview"></h1>
    </div>
    <div class="submission-content" id="pdfDiv">
      <div>
        <span>{{ submittedFormData.FORMS[0].PAGES.length }}</span>
        <span translate="pages"></span>
      </div>
      <div class="page-heading">
        <img [src]="data.formLogo" alt="formLogo" class="image" />
        <div class="page-heading-title">
          <h1>{{ data.name }}</h1>
          <p>
            {{ data.descripition ? data.descripition : 'Form Description' }}
          </p>
        </div>
      </div>
      <div class="page-heading-status">
        <span class="last-updated m-r-15">
          <span translate="lastUpdated"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>{{ data.updatedAt }}</span>
        </span>
        <span
          [ngClass]="{
            'green-badge': data.status === 'Submitted',
            'orange-badge': data.status === 'In-Progress'
          }"
          class="m-r-15"
        >
          {{ data.status }}
        </span>
        <span class="slash m-r-15">/</span>
        <span class="filled-byz m-r-15">
          <span translate="filledBy"></span> {{ data.submittedBy }}
        </span>
        <!-- <span class="slash m-r-15">/</span> -->
        <!-- <span class="complete-status">90% Completed</span> -->
      </div>

      <div class="pages">
        <ng-container
          *ngFor="
            let page of submittedFormData.FORMS[0].PAGES;
            let pageIndex = index
          "
        >
          <h1 class="page-title">
            {{ pageIndex + 1 }}.&nbsp; Page {{ pageIndex + 1 }}
          </h1>
          <hr class="horizontal-line" />
          <div
            class="sections"
            *ngFor="let section of page.SECTIONS; let secIndex = index"
          >
            <h3>
              {{ pageIndex + 1 }}.{{ secIndex + 1 }} &nbsp;
              {{ section.SECTIONNAME }}
            </h3>
            <div
              class="fields"
              *ngFor="let field of section.FIELDS; let fieldIndex = index"
            >
              <!-- Read only-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'LF'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>&nbsp;
                <span>{{ field.DEFAULTVALUE }}</span>
              </p>
              <!--Short Text-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'TF'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">{{ field.FIELDVALUE }}</span>
              </p>
              <!--Long Text-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'LTV'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">{{ field.FIELDVALUE }}</span>
              </p>
              <!--Number-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'NF'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">{{ field.FIELDVALUE }}</span>
              </p>
              <!--Scan-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'SF'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">{{ field.FIELDVALUE }}</span>
              </p>
              <!--Date and Time-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'DT'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">
                  <img
                    src="../../../../assets/rdf-forms-icons/date-time.svg"
                    alt="date time icon"
                    class="date-time-icon"
                  />
                  {{ field.FIELDVALUE }}
                </span>
              </p>
              <!--HyperLink-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'HL'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">{{ field.FIELDVALUE }}</span>
              </p>
              <!--Checkbox-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'CB'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">
                  <mat-checkbox
                    class="checkbox"
                    [checked]="field.FIELDVALUE === 'X' ? true : false"
                  ></mat-checkbox>
                </span>
              </p>
              <!--Signauture-->
              <p
                class="each-fields signature-field"
                *ngIf="field.UIFIELDTYPE === 'SGF'"
              >
                <span class="field-label signature-label">
                  {{ field.FIELDLABEL }}:
                </span>
                <img
                  [src]="signatureImage(field.FIELDVALUE)"
                  alt="signature"
                  class="field-values signature-image"
                />
              </p>
              <!--Slider-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'RT'">
                <span class="field-label">
                  {{ field.FIELDLABEL }} ({{ field.DEFAULTVALUE[0] }}-{{
                    field.DEFAULTVALUE[1]
                  }}):
                </span>
                &nbsp;
                <span>{{ field.FIELDVALUE }}</span>
              </p>
              <!--Attachment-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'ATT'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span><br />
                <img
                  src="{{ field.FIELDVALUE }}"
                  alt="images"
                  class="attachments"
                />
              </p>
              <!--Geo Location-->
              <div class="each-fields" *ngIf="field.UIFIELDTYPE === 'GAL'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values">{{ field.FIELDVALUE.address }}</span>
              </div>
              <!--Date Range-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'DFR'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="field-values"> {{ field.FIELDVALUE }}</span>
              </p>
              <!--VI-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'VI'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="vi-fields"> {{ field.FIELDVALUE }}</span>
              </p>
              <!--DD-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'DD'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="vi-fields">{{ field.FIELDVALUE }}</span>
              </p>
              <!--DDM-->
              <p class="each-fields" *ngIf="field.UIFIELDTYPE === 'DDM'">
                <span class="field-label">{{ field.FIELDLABEL }}:</span>
                <span class="vi-fields" *ngFor="let field of field.FIELDVALUE">
                  {{ field }} &nbsp;</span
                >
              </p>
              <hr class="horizontal-line m-0" />
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
