<div class="submission-view">
  <div class="header-penel">
    <div class="header-left">
        <img (click)="goToBack()" src="assets/rdf-forms-icons/back-arrow.svg" />
        <h1 class="slider-heading">Form Name Goes Here</h1>
    </div>
    <div class="header-rigth">
      <button class="download-btn">
        <mat-icon class="download-icon">picture_as_pdf</mat-icon>
        <span class="download-text">Download</span>
      </button>
      <button class="view-report-btn">
        <span class="download-text">Share</span>
      </button>
    </div>
  </div>
  <div class="submission-view-body">
    <div class="heading">
        <h1 class="form-title">Form Overview</h1>
        <h1 class="form-date">09 : 23 Am  23/12/2022</h1>
    </div>
    <mat-card>
      <div>
        <h1>3 Pages</h1>
      </div>
      <div class="page-heading">
        <img src="assets/rdf-forms-icons/image.svg" />
        <div class="page-heading-title">
          <h1>Process Plant Weekly Safety Shower</h1>
          <p>
            Form description
          </p>
        </div>
      </div>
      <div class="page-heading-status">
        <p class="last-updated">Last updated : <span>22 Nov 2022 - 10:20 AM</span></p>
        <p class="sub-headings-value-badge">Draft</p>
        <p class="slash">/</p>
        <p class="filled-byz`">Filled By Amy Krista </p>
        <p class="slash">/</p>
        <p class="complete-status">90% Completed</p>
      </div>
    </mat-card>
  </div>
  
</div>
