@import '../../../../scss/colors.scss';
.submission-view{
    .header-penel{
        background: #DBE6FF;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        align-content: center;
        align-items: center;
        img{
            cursor: pointer;
        }
        .header-left {
            display: flex;
            justify-content: flex-start;
            .slider-heading {
                font-size: 130%;
                margin-left: 15px;
            }
        }
        .header-rigth {
            display: flex;
            justify-content: flex-end;
            .view-report-btn {
                margin-left: 15px;
                width: 220px;
                border: 1px solid $blue-main;
                border-radius: 4px;
                background: $blue-main;
                padding: 3px;
                position: relative;
                .download-text {
                    color: $white;
                    font-size: 110%;
                    position: relative;
                    top: 0px;
                    font-weight: 500;
                    margin-left: 5px;
                }
            }
            .download-btn {
                width: 220px;
                border: 1px solid $blue-main;
                border-radius: 4px;
                background: white;
                padding: 3px;
                position: relative;
               
                .download-icon {
                color: $blue-main;
                font-size: 180%;
                position: relative;
                top: 3px;
                }

                .download-text {
                color: $blue-main;
                font-size: 110%;
                position: relative;
                top: -5px;
                font-weight: 500;
                margin-left: 5px;
                }
            }

        }
    }
    .submission-view-body {
        width: 820px;
        margin: auto;
        .heading{
            display: flex;
            justify-content: space-between;
            height: 66px;
            align-items: center;
            h1{
                font-weight: 500;
            }
        }
    }
}