<div class="list-view" *ngIf="userInfo$ | async">
  <div class="main-container">
    <div class="forms-header">
      <span class="custom-form-field-gray-color search">
        <span class="no-of-forms" *ngIf="templatesCount$ | async as totalCount">
          <span class="forms-count">
            {{ totalCount | count }}
          </span>
          <span class="forms-text">{{
            'templates'
              | translate
                : {
                    count: totalCount || 0
                  }
          }}</span>
        </span>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="searchIcon">search</mat-icon>
          <input
            matInput
            type="text"
            [placeholder]="'searchTemplates' | translate"
            autocomplete="off"
            [formControl]="searchTemplates"
          />
          <svg-icon
            icon="icon-filterIcon"
            class="filter-icon"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="isPopoverOpen = !isPopoverOpen"
            matSuffix
          ></svg-icon>
        </mat-form-field>
      </span>
    </div>

    <div *ngIf="(isLoading$ | async) === false">
      <cwp-dynamictable
        [dataSource]="dataSource"
        [configOptions]="configOptions"
        (rowLevelActionHandler)="rowLevelActionHandler($event)"
        (onConfigOptionsChange)="configOptionsChangeHandler($event)"
        (cellClickActionHandler)="cellClickActionHandler($event)"
        class="width-100"
      ></cwp-dynamictable>
    </div>
  </div>

  <div *ngIf="isLoading$ | async">
    <div class="ghost-loading">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="updateFilter($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template>
</div>
