.main-container {
  background-color: #ffffff;
  margin: 14px;
}

.roles-header {
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.more-roles {
  position: relative;
  top: -2px;
}

.count-of-roles {
  margin: 0 15px;
}

.roles-count {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  position: relative;
  right: 7px;
}

.roles-text {
  font-weight: 500;
  font-size: 16px;
  color: #9e9e9e;
}

.add-role-btn {
  background: #3d5afe;
  color: #ffffff;
}

.roles-content {
  height: 75vh;
}

.roles-left-panel {
  border-right: 1px solid #e7e7e7;
}

.roles-right-panel {
  border-bottom: 1px solid #e7e7e7;
}

.roles-title {
  margin: 10px 10px 0 10px;
}

.search-form-field {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.copy-role-btn {
  color: #3d5afe;
  border: 1px solid #3d5afe;
  float: right;
  margin: 10px;
}

.role-name {
  padding: 10px;
  margin-top: 3px;
}

.role-count {
  padding: 3px 7px;
  font-size: 12px;
  background: pink;
  border-radius: 27px;
  background: rgba(61, 90, 254, 0.08);
  border-radius: 20px;
  position: absolute;
  right: 40px;
}

.more-items {
  position: absolute;
  right: 0;
}

.roles {
  padding: 0;
}

.roles-list {
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
}

.roles-list:first-child {
  border-top: 1px solid #e7e7e7;
}

.selected-roles-list {
  background: rgba(61, 90, 254, 0.08);
  .role-name {
    color: #5449b7;
  }
}

.roles-list:hover {
  background-color: rgba(61, 90, 254, 0.08);
}

.custom-mat-form-field-white-color {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 8px;
    background: #ffffff;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 1px 0px 7px 0px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  // .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  //   opacity: 0;
  // }

  // .mat-form-field-appearance-outline .mat-form-field-outline-start,
  // .mat-form-field-appearance-outline .mat-form-field-outline-end {
  //   border: none !important;
  //   min-width: 0;
  // }
}
