.main-container {
  background-color: #ffffff;
  margin: 14px;
}

.users-header {
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #e7e7e7;
}

.more-users {
  position: relative;
  top: -2px;
  float: right;
}

.count-of-users {
  margin: 0 15px;
}

.users-count {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  position: relative;
  top: 10px;
  float: right;
  margin: 0 10px 0 0px;
}

.users-text {
  font-weight: 500;
  font-size: 16px;
  color: #9e9e9e;
}

.add-user-btn {
  background: #3d5afe;
  color: #ffffff;
  float: right;
}

.users-content {
  height: 75vh;
  width: 100%;
}

.count-loading {
  text-align: right;
}
