<div class="main-container" *ngIf="loggedInUserInfo$ | async">
  <div class="users-header">
    <span class="custom-form-field-gray-color">
      <mat-form-field appearance="outline" class="search-form-field">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input
          matInput
          type="text"
          [placeholder]="'searchUsers' | translate"
          disabled
        />
      </mat-form-field>
    </span>

    <button
      mat-raised-button
      class="add-user-btn"
      (click)="openEditAddUserModal()"
      *appCheckUserHasPermission="[perms.createUser]"
      translate="addUserBtn"
    ></button>
    <span class="no-of-users" *ngIf="userCount$ | async as userCount">
      <span class="users-count" *ngIf="userCount.count">
        {{ userCount.count }}
      </span>
      <span class="users-count" *ngIf="!userCount.count">0</span>
      <span class="users-text">{{
        'usersPlural'
          | translate
            : {
                count: userCount.count ? userCount.count : 0
              }
      }}</span>
    </span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="more-users"
      *appCheckUserHasPermission="[perms.deactivateUser]"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [disabled]="!selectedUsers.length || disableDeactivate"
        (click)="deactivateUsers()"
        class="text-red"
      >
        <span translate="deactivate"></span>
      </button>
    </mat-menu>
  </div>
  <div
    *ngIf="users$ | async as users; else loadingUsers"
    class="dis-flex users-content"
  >
    <cwp-dynamictable
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      (onConfigOptionsChange)="configOptionsChangeHandler($event)"
      (cellClickActionHandler)="cellClickActionHandler($event)"
      class="width-100"
    ></cwp-dynamictable>
  </div>
</div>

<ng-template #loadingUsers>
  <div style="padding: 0 20px">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
