<div class="main-container">
  <div class="roles-header">
    <div class="width-60 custom-mat-form-field-gray-color">
      <mat-form-field appearance="outline" class="search-form-field">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input matInput type="text" placeholder="Search Users" disabled />
      </mat-form-field>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="more-roles">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="!selectedUsers.length || disableDeactivate" (click)="deactivateUsers()" class="text-red">
        <span>Deactivate</span>
      </button>
    </mat-menu>
    <span class="roles-count">
      <span
        class="no-of-records"
        *ngIf="userCount$ | async as userCount; else loadingUsers"
      >
        {{ userCount.count }}
      </span>
      <span class="roles-text">Users</span>
    </span>
    <button
      mat-raised-button
      class="add-role-btn"
      (click)="openEditAddUserModal()"
    >
      Add User
    </button>
  </div>
  <div *ngIf="users$ | async as users; else loadingUsers" class="">
    <cwp-dynamictable
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      (onConfigOptionsChange)="configOptionsChangeHandler($event)"
      (cellClickActionHandler)="cellClickActionHandler($event)"
    ></cwp-dynamictable>
  </div>
</div>

<ng-template #loadingUsers>
  <div style="padding: 0 20px">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
