<div class="temporary-list-view">
  <ng-container>
    <div class="main-container">
      <div class="temporary-header">
        <div>
          <h2 class="heading" translate="Temporary"></h2>
        </div>
        <div>
          <!-- ---------------------------------------------------------------------------------------------- -->
          <!-- <span
            class="no-of-asset"
            *ngIf="assetsListCount$ | async as totalCount"
          >
            <span class="asset-count">
              {{ totalCount }}
            </span>
            <span class="asset-text">{{
              'assets'
                | translate
                  : {
                      count: totalCount || 0
                    }
            }}</span>
          </span> -->
          <!-- code start from here ---------------------------------------------------------------------------->
          <span class="custom-form-field-gray-color search">
            <mat-form-field appearance="outline">
              <mat-icon matPrefix class="searchIcon">search</mat-icon>
              <input
                matInput
                type="text"
                [placeholder]="'search' | translate"
                autocomplete="off"
              />
              <img
                [src]="filterIcon"
                matSuffix
                alt="Open Filter"
                class="filter-icon"
              />
            </mat-form-field>
          </span>

          <button
            mat-raised-button
            [matMenuTriggerFor]="createMenu"
            translate="createNew"
            class="create-new-btn"
          ></button>
          <mat-menu #createMenu="matMenu">
            <button
              mat-menu-item
              class="menu-buttons"
              (click)="uploader.click()"
            >
              <img
                src="assets/master-configurations/upload-from-excel.svg"
                alt="Excel"
                class="menu-icons"
              />
              <span translate="uploadExcel"></span>
            </button>
            <button mat-menu-item class="menu-buttons" (click)="addManually()">
              <img
                src="assets/master-configurations/add-manually.svg"
                alt="add manually"
                class="add-manually-icon"
              />
              <span translate="addManually"></span>
            </button>
          </mat-menu>

          <button
            mat-raised-button
            [matMenuTriggerFor]="moreMenu"
            class="more-btn"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #moreMenu="matMenu">
            <button mat-menu-item class="menu-buttons">
              <img
                src="assets/master-configurations/upload-from-excel.svg"
                alt="Excel"
                class="menu-icons"
              />
              <span translate="downloadTemplate"></span>
            </button>
            <button mat-menu-item class="menu-buttons">
              <img
                src="assets/rdf-forms-icons/edit-icon.svg"
                alt="Excel"
                class="menu-icons"
              />
              <span translate="editTableColumn"></span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <!-- code ends here ---------------------------------------------------------------------------->

    <ng-container *ngIf="assetsAddOrEditOpenState">
      <app-add-edit-mdm
        [@slideInOut]="assetsAddOrEditOpenState"
        (slideInOut)="onCloseAssetsAddOrEditOpenState($event)"
      ></app-add-edit-mdm>
    </ng-container>

    <!-- <ng-container *ngIf="openAssetsDetailedView">
      <app-mdm-detail-view
        [@slideInOut]="openAssetsDetailedView"
        (slideInOut)="onCloseAssetsDetailedView($event)"
      ></app-mdm-detail-view>
    </ng-container> -->

    <!-- ---------------------------------------------------------------------------------- -->
  </ng-container>
</div>
