@import '../../../../../scss/colors.scss';

.mdm-table-list-view {
  background-color: $white;
  height: calc(100vh - 85px);

  ::ng-deep .table-column {
    width: 60%;
  }

  .heading {
    font-weight: 700;
    font-size: 130%;
    color: $blue-head;
    margin: 0;
    padding-left: 20px;
  }

  .main-container {
    width: 100%;
    margin-top: 1%;
  }

  .mdm-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
  }

  .search {
    margin-top: 5px;
    margin-right: 15px;
  }

  .filter-icon {
    width: 15px;
    height: 15px;
  }

  .create-new-btn {
    background: $blue-main;
    color: $white;
  }

  .more-btn {
    background: $blue-main;
    color: $white;
    margin-left: 10px;
    min-width: 50px;
    margin-right: 15px;
  }
  // .asset-text {
  //   font-weight: 500;
  //   font-size: 110%;
  //   color: #9e9e9e;
  //   margin-left: 5px;

  //   .ghost-loading {
  //     padding: 0 20px;
  //   }
  // }
  // .no-of-asset {
  //   margin-right: 10px;
  // }
  // .asset-count {
  //   font-weight: 500;
  //   font-size: 110%;
  //   color: #212121;
  // }
  // .ghost-loading {
  //   padding: 0 20px;
  // }
}

.menu-icons {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 12px;
}

.add-manually-icon {
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  margin-right: 12px;
}

.menu-buttons {
  height: 40px;
  align-items: center;
  line-height: 20px;
}
