.filter-form-fields {
  height: auto;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0px 20px;
}

.max-height {
  max-height: 350px;
}

.datepicker {
  z-index: 1100 !important;
}

.common-filter-formfield {
  width: 275px;
  margin-right: 15px;
}

.reset-filters-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
  line-height: 150%;
  letter-spacing: 0.15px;
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
  border: none;
}

.apply-filters-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
  letter-spacing: 0.15px;
  float: right;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 15px;
  border: none;
  background-color: #3d5afe;
  color: white;
}

.mat-field {
  width: 100%;
}

.common-filter-search {
  padding: 0;
  font-size: 100%;
}

.common-filter-icon {
  width: 16px;
  cursor: pointer;
  opacity: 0.9;
  height: 15px;
}

.filter-modal {
  margin: 10px 0px 15px 0px;
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  width: 350px;
  position: fixed;
  right: 20px;
}

.filter-report-modal {
  margin: 10px 0px 15px 0px;
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  position: relative;
  left: -220px;
  top: 5px;
  width: 330px;
}

.filter-input-modal {
  width: 270px;
  height: auto;
  max-height: 300px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  position: relative;
  left: 112px;
  top: 15px;
}

.operator-text {
  margin-bottom: 7px;
  font-weight: 500;
}

.operator-dropdown {
  width: 100%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 0 10px;
}

.select-date-range-btn {
  background: none;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  height: 42px;
  width: 100%;
}

.save-btn {
  float: right;
  background-color: #3d5afe;
  color: white;
  border: none;
  border-radius: 7px;
}

.width-100 {
  width: 100%;
}

.delete-icon {
  color: #808080;
  cursor: pointer;
}

.filter-header {
  padding: 20px 20px 0px 20px;
}

.filter-modal-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 110%;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
}

.filter-modal-cancel {
  color: #757575;
  float: right;
  background-color: white;
  border: none;
  cursor: pointer;
}
::ng-deep
  .filter-report-modal
  .mat-list-base
  .mat-list-item
  .mat-list-item-content {
  padding: 0 !important;
}

.date-range-form-field {
  visibility: hidden;
  width: 0;
}
