<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" placeholder="Search" [formControl]="filter" aria-label="Search"style="border:1px solid #F2F2F2; opacity: 0.75; background:#F2F2F2;">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <ion-img [src]="filterIcon"
                 [popover]="popTemplate"
                 [placement]="'bottom'"
                 [container]="'body'"
                 #pop="bs-popover"></ion-img>
      </span>
    </div>
  </div>

  <ng-template #popTemplate>
    <form #form="ngForm">
      <mat-form-field appearance="outline" class="mat-field">
        <mat-label>Show Overdue</mat-label>
        <mat-select [formControl]="overdueFilter" name="showOverdue" [(ngModel)]="showOverdue">
          <mat-option *ngFor="let showdue of showOverdueList" [value]="showdue">
            {{showdue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- <mat-form-field appearance="outline" class="mat-field">
        <mat-label>Priority</mat-label>
        <mat-select name="priority" multiple [(ngModel)]="priority" [formControl]="priorityFilter">
          <mat-option *ngFor="let prioritizedItem of priorityList" [value]="prioritizedItem">{{prioritizedItem}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-field">
        <mat-label>Kitting Status</mat-label>
        <mat-select name="kitStatus" multiple [(ngModel)]="kitStatus">
          <mat-option *ngFor="let kit of kitStatusList" [value]="kit">{{kit}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-field">
        <mat-label>Work Center</mat-label>
        <mat-select name="workCenter" multiple [(ngModel)]="workCenter">
          <mat-option *ngFor="let workCenterItem of workCenterList" [value]="workCenterItem">{{workCenterItem}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-field" *ngIf="workCenter != ''">
        <mat-label>Assignee</mat-label>
        <mat-select name="assign" multiple [(ngModel)]="assign">
          <mat-option *ngFor="let assigned of assignList" [value]="assigned">{{assigned}}</mat-option>
        </mat-select>
      </mat-form-field>  -->

      <br/>
      <button class="btn apply-filters-btn" (click)="pop.hide()">Apply</button>
      <button (click)="form.reset()" class="reset-filters-btn">Reset</button>
      
    </form>
  </ng-template>