<div class="input-group">
    <ion-searchbar [(ngModel)]="searchValue" (ngModelChange)="searchOrder($event)" showClearButton="focus" class="common-filter-search"></ion-searchbar>
    <div class="input-group-prepend">
      <span class="input-group-text">
        <ion-img [src]="filterIcon"
                 [popover]="popTemplate"
                 [placement]="'bottom'"
                 [container]="'body'"
                 #pop="bs-popover" class="common-filter-icon"></ion-img>
      </span>
    </div>
</div>

<ng-template #popTemplate>
  <div class="filter-modal">
    <span class="filter-modal-heading">Filter</span>
    <button class="filter-modal-cancel" (click)="pop.hide();">
      <img src="../../../../assets/img/svg/cancel-icon.svg"/>
    </button>
  </div>
  <form #form="ngForm">
    <mat-form-field appearance="outline" class="mat-field">
      <mat-label>Show Overdue</mat-label>
      <mat-select name="showOverdue" [(ngModel)]="showOverdue">
        <mat-option *ngFor="let showdue of showOverdueList" [value]="showdue">
          {{showdue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="mat-field">
      <mat-label>Priority</mat-label>
      <mat-select name="priority" multiple [(ngModel)]="priority">
        <mat-option *ngFor="let prioritizedItem of priorityList" [value]="prioritizedItem">{{prioritizedItem}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="kitStatusList" appearance="outline" class="mat-field">
      <mat-label>Kitting Status</mat-label>
      <mat-select disabled name="kitStatus" multiple [(ngModel)]="kitStatus">
        <mat-option *ngFor="let kit of kitStatusList" [value]="kit">{{kit}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="workCenterList" appearance="outline" class="mat-field">
      <mat-label>Work Center</mat-label>
      <mat-select name="workCenter" multiple [(ngModel)]="workCenter" (selectionChange)="this.onCenterChange($event)">
        <mat-option *ngFor="let workCenterItem of workCenterList" [value]="workCenterItem">{{workCenterItem}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-field" *ngIf="workCenter != ''">
      <mat-label>Assignee</mat-label>
      <mat-select name="assign" multiple [(ngModel)]="assign">
        <mat-option *ngFor="let assigned of displayedAssigneeList" [value]="assigned">
          <img [hidden]="!getImageSrc(assigned.image)" [attr.src]="getImageSrc(assigned.image)" alt="" style="width: 36px; height: 36px; border-radius: 50%; margin-right:5px;"/>
          {{assigned.personName}}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <br/>
    <button class="btn apply-filters-btn" (click)="pop.hide();searchFilter()">Apply</button>
    <button (click)="form.reset();searchFilter()" class="reset-filters-btn">Reset</button>
    
  </form>
</ng-template>