<ng-container *ngIf="this.title === 'Report Configuration'">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-icon id="commonFilterSearchIcon" matPrefix class="searchIcon"
      >search</mat-icon
    >
    <input
      id="commonFilterSearchText"
      matInput
      [placeholder]="'searchWorkOrders' | translate"
      [(ngModel)]="searchValue"
      (ngModelChange)="debouncedSearchReport($event)"
      class="common-filter-search"
      autocomplete="off"
    />
  </mat-form-field>
</ng-container>
<ng-container *ngIf="this.title !== 'Report Configuration'">
  <span class="custom-form-field-gray-color">
    <mat-form-field appearance="outline" class="search-bar">
      <mat-icon id="commonFilterSearch" matPrefix class="search-icon"
        >search</mat-icon
      >
      <input
        id="commonFilterSearchOrder"
        matInput
        [placeholder]="'searchWorkOrders' | translate"
        [(ngModel)]="searchValue"
        (ngModelChange)="debouncedSearchOrder($event)"
        class="common-filter-search"
        autocomplete="off"
      />

      <svg-icon
        id="commonFilterFilterIcon"
        icon="icon-filterIcon"
        matSuffix
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="isPopoverOpen = !isPopoverOpen"
        class="common-filter-icon"
      ></svg-icon>
    </mat-form-field>
  </span>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <div
      class="filter-modal custom-form-field-white-color"
      *ngIf="
        this.title === 'Spare Parts Control Center' ||
        this.title === 'Maintenance Control Center'
      "
    >
      <div class="m-b-10 filter-header">
        <span id="commonFilterText" class="filter-modal-heading">{{
          'filter' | translate
        }}</span>
        <button
          id="commonFilterCancel"
          class="filter-modal-cancel"
          (click)="isPopoverOpen = false"
          aria-label="Close Filter"
        >
          <svg-icon
            id="commonFilterCancelIcon"
            icon="icon-cancel-icon"
          ></svg-icon>
        </button>
      </div>
      <form #form="ngForm">
        <div class="filter-form-fields">
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label id="commonFilterShowOverDue">{{
              'showOverdue' | translate
            }}</mat-label>
            <mat-select
              name="showOverdue"
              [(ngModel)]="showOverdue"
              (selectionChange)="selectedFilterValue($event.value)"
            >
              <mat-option
                *ngFor="let showdue of showOverdueList"
                [value]="showdue"
              >
                {{ showdue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-field">
            <mat-label id="commonFilterPriority">{{
              'priority' | translate
            }}</mat-label>
            <mat-select
              name="priority"
              multiple
              [(ngModel)]="priority"
              (selectionChange)="selectedFilterValue($event.value)"
            >
              <mat-option
                *ngFor="let prioritizedItem of priorityList"
                [value]="prioritizedItem"
                >{{ prioritizedItem }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="kitStatusList"
            appearance="outline"
            class="mat-field"
          >
            <mat-label id="commonFilterKittingStatus">{{
              'kittingStatus' | translate
            }}</mat-label>
            <mat-select
              name="kitStatus"
              multiple
              [(ngModel)]="kitStatus"
              (selectionChange)="selectedFilterValue($event.value)"
            >
              <mat-option *ngFor="let kit of kitStatusList" [value]="kit">{{
                kit
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button
          id="commonFilterApply"
          mat-raised-button
          color="primary"
          class="apply-filters-btn"
          [disabled]="this.applyBtnDisable"
          (click)="isPopoverOpen = false; searchFilter()"
          aria-label="Apply Filter"
        >
          {{ 'apply' | translate }}
        </button>
        <button
          id="commonFilterReset"
          mat-button
          color="primary"
          class="reset-filters-btn"
          [disabled]="this.resetBtnDisable"
          (click)="form.reset(); clearFilter(); searchFilter()"
        >
          {{ 'reset' | translate }}
        </button>
      </form>
    </div>

    <div
      class="filter-report-modal custom-form-field-white-color"
      *ngIf="this.title === undefined"
    >
      <div class="m-b-10 filter-header">
        <span id="commonFilterCloseFilter" class="filter-modal-heading">{{
          'filter' | translate
        }}</span>
        <button
          class="filter-modal-cancel"
          (click)="isPopoverOpen = false"
          aria-label="Close Filter"
        >
          <svg-icon icon="icon-cancel-icon"></svg-icon>
        </button>
      </div>
      <div class="filter-form-fields max-height">
        <mat-form-field appearance="outline" class="width-100">
          <mat-icon matPrefix>search</mat-icon>
          <input
            id="commonFilterAddFilterText"
            type="text"
            placeholder="Add Filter"
            matInput
            [matAutocomplete]="autoCompleteFilter"
            [formControl]="addFilterControl"
          />
          <mat-autocomplete
            #autoCompleteFilter="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let col of reportColumns$ | async"
              [value]="col"
            >
              <div id="commonFilterDisplayName" (click)="addFilter(col)">
                {{ col.displayName }}
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <form [formGroup]="filtersForm" (ngSubmit)="onSave()" id="filtersForm">
          <mat-list
            role="list"
            *ngFor="let filterForm of filters.controls; let i = index"
            formArrayName="filters"
          >
            <mat-list-item role="listitem">
              <ng-container [formGroupName]="i">
                <mat-form-field
                  appearance="outline"
                  cdkOverlayOrigin
                  #trigger="cdkOverlayOrigin"
                  (click)="openFilterModal(filterForm.value, i)"
                  class="width-100"
                  *ngIf="filterForm.value.filterType !== 'daterange'"
                >
                  <mat-label id="commonFilterFormName">{{
                    filterForm.value.displayName
                  }}</mat-label>
                  <input
                    id="commonFilterDisplayText"
                    type="text"
                    placeholder="{{ filterForm.value.displayName }}"
                    value="{{ filterForm.value.displayText }}"
                    matInput
                    autocomplete="off"
                  />
                  <mat-icon
                    matSuffix
                    (click)="deleteFilteredField(filterForm.value, i)"
                    class="delete-icon"
                  >
                    delete
                  </mat-icon>
                </mat-form-field>
              </ng-container>
              <ng-container [formGroupName]="i">
                <mat-form-field
                  appearance="outline"
                  cdkOverlayOrigin
                  #trigger="cdkOverlayOrigin"
                  (click)="openFilterModal(filterForm.value, i)"
                  class="width-100"
                  *ngIf="filterForm.value.filterType === 'daterange'"
                >
                  <mat-label id="commonFilterDisplayNameLabel">{{
                    filterForm.value.displayName
                  }}</mat-label>
                  <input
                    id="commonFilteDisplayNameText"
                    type="text"
                    placeholder="{{ filterForm.value.displayName }}"
                    value="{{ filterForm.value.displayText }}"
                    matInput
                    autocomplete="off"
                  />
                  <mat-icon
                    matSuffix
                    (click)="deleteFilteredField(filterForm.value, i)"
                    class="delete-icon"
                  >
                    delete
                  </mat-icon>
                </mat-form-field>
              </ng-container>
            </mat-list-item>
            <ng-template
              cdkConnectedOverlay
              [cdkConnectedOverlayHasBackdrop]="true"
              cdkConnectedOverlayPanelClass="custom-popover"
              cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
              cdkConnectedOverlayWidth="400px"
              [cdkConnectedOverlayOpen]="isfilterTooltipOpen[i]"
              [cdkConnectedOverlayOrigin]="trigger"
              (backdropClick)="isfilterTooltipOpen[i] = false"
            >
              <div [formGroupName]="i" class="filter-input-modal">
                <div class="m-b-10">
                  <span id="commonFilterBy" class="filter-modal-heading">
                    Filter by {{ filterForm.value.displayName }}
                  </span>
                  <button
                    id="commonFilterCloseFilterBtn"
                    class="filter-modal-cancel"
                    type="button"
                    (click)="isfilterTooltipOpen[i] = false"
                    aria-label="Close Filter"
                  >
                    <svg-icon icon="icon-cancel-icon"></svg-icon>
                  </button>
                </div>
                <div>
                  <div
                    *ngIf="
                      filterForm.value.filterType !== 'multi' &&
                      filterForm.value.filterType !== 'single' &&
                      filterForm.value.filterType !== 'daterange'
                    "
                  >
                    <p id="commonFilterOperator" class="operator-text">
                      Operator
                    </p>
                    <select
                      formControlName="operator"
                      name="operatorType"
                      class="operator-dropdown"
                    >
                      <option
                        id="commonFilterOptions"
                        *ngFor="let option of filteredOptionsByType"
                        value="{{ option }}"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </div>

                  <div *ngIf="filterForm.value.filterType === 'string'">
                    <mat-form-field appearance="outline" class="width-100">
                      <input
                        id="commonFilterStringOperand"
                        type="text"
                        matInput
                        name="stringOperand"
                        formControlName="operand"
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </div>

                  <div *ngIf="filterForm.value.filterType === 'number'">
                    <mat-form-field appearance="outline" class="width-100">
                      <input
                        id="commonFilterNumber"
                        type="number"
                        name="inputValue"
                        matInput
                        formControlName="operand"
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </div>

                  <div *ngIf="filterForm.value.filterType === 'daterange'">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-select
                        name="inputValue"
                        formControlName="operator"
                        (selectionChange)="
                          updateDateRangeValidation($event.value, filterForm)
                        "
                      >
                        <mat-option
                          *ngFor="let val of this.filteredOptionsByType"
                          [value]="val"
                          >{{ val }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>

                    <div *ngIf="filterForm.value.operator === 'custom'">
                      <button
                        id="commonFilterCustomBtnText"
                        (focus)="rangePicker.open()"
                        class="select-date-range-btn"
                        aria-label="Open Date Range"
                      >
                        {{ customBtnText }}
                      </button>
                      <mat-form-field
                        appearance="fill"
                        class="date-range-form-field"
                      >
                        <mat-date-range-input
                          [rangePicker]="rangePicker"
                          formGroupName="operand"
                          class="datepicker"
                        >
                          <input
                            id="commonFilterBtn"
                            type="button"
                            matStartDate
                            name="startDate"
                            formControlName="startDate"
                          />
                          <input
                            type="button"
                            matEndDate
                            name="endDate"
                            formControlName="endDate"
                          />
                        </mat-date-range-input>
                        <mat-date-range-picker #rangePicker>
                          <mat-date-range-picker-actions>
                            <button
                              id="commonFilterCancelBtn"
                              mat-button
                              matDateRangePickerCancel
                              aria-label="Cancel Date Range"
                            >
                              {{ 'cancel' | translate }}
                            </button>
                            <button
                              id="commonFilterApplyBtn"
                              mat-raised-button
                              type="button"
                              color="primary"
                              matDateRangePickerApply
                              aria-label="Apply Date Range"
                            >
                              {{ 'apply' | translate }}
                            </button>
                          </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="filterForm.value.filterType === 'multi'">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label id="commonFilterOperand">{{
                        filterForm.value.displayName
                      }}</mat-label>
                      <mat-select
                        multiple
                        name="inputValue"
                        formControlName="operand"
                      >
                        <mat-option
                          *ngFor="
                            let val of this.filteredOptionsByType[
                              filterForm.value.name
                            ]
                          "
                          [value]="val"
                          >{{ val }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div *ngIf="filterForm.value.filterType === 'single'">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label id="commonFilterName">{{
                        filterForm.value.displayName
                      }}</mat-label>
                      <mat-select name="inputValue" formControlName="operand">
                        <mat-option
                          name="singleOperand"
                          *ngFor="
                            let val of this.filteredOptionsByType[
                              filterForm.value.name
                            ]
                          "
                          [value]="val"
                          >{{ val }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <button
                    id="commonFilterSaveBtn"
                    class="save-btn"
                    mat-raised-button
                    type="button"
                    (click)="onSave()"
                    form="filtersForm"
                    [disabled]="filterForm.invalid || filtersForm.pristine"
                    aria-label="Save Filter"
                  >
                    Save
                  </button>
                </div>
              </div>
            </ng-template>
          </mat-list>
        </form>
      </div>
      <button
        id="commonFilterApplyFilterBtn"
        mat-raised-button
        class="btn apply-filters-btn"
        (click)="applyFilters()"
        [disabled]="this.applydynamicFiltersBtnDisable"
        type="button"
        aria-label="Apply Filter"
      >
        {{ 'apply' | translate }}
      </button>
      <button
        id="commonFilterCancelFilterBtn"
        mat-button
        color="primary"
        class="btn reset-filters-btn"
        [disabled]="this.resetdynamicFiltersBtnDisable"
        (click)="clearFilters()"
        aria-label="Cancel Filter"
      >
        {{ 'reset' | translate }}
      </button>
    </div>
  </ng-template>
</ng-container>
