@import '../../../../scss/colors.scss';

.node {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkbox {
  margin-top: 10px;
}

.master-data-image {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 7px;
}

.master-data-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
// .node-break {
//   border-bottom: $border-color;
//   border-top: none;
// }

.child-node {
  margin-left: 35px;
  margin-top: 10px;
}

.arrows {
  width: 18px;
  height: 18px;
  font-size: 18px;
  background: $note-bg;
  border-radius: 4px;
  color: $light-gray;
}

.count-assets {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: 10px;
  top: -4px;
}

.borders {
  border-bottom: 1px solid $border-color;
  border-top: none;
}
