<div class="node">
  <mat-checkbox
    [(ngModel)]="masterData.isSelected"
    (change)="nodeCheckboxToggled($event)"
    class="checkbox"
  ></mat-checkbox>

  <img [src]="masterData?.image" class="master-data-image" />
  <div class="master-data-title">{{ masterData.name }}</div>
  <div *ngIf="selectionMode === 'selectAssets' && masterData?.children?.length">
    <div *ngFor="let data of masterData.children">
      <button (click)="data.isToggledView = !data.isToggledView">-</button>
      {{ hierarchyCount(data) }}
      <div *ngIf="data.isToggledView">
        <app-hierarchy-node
          [nodeData]="data"
          (checkboxToggleHandler)="handleChildEntityToggle($event)"
          [mode]="'selectAssets'"
        ></app-hierarchy-node>
      </div>
    </div>
  </div>
  <hr class="node-break" />
</div>
