@import '../../../../scss/colors.scss';

.node {
  margin-left: 25px;
  margin-bottom: 5px;
}

.checkbox {
  margin-top: 10px;
}

.select-all-checkbox {
  margin-top: -5px;
  margin-left: 12px;
}

.highlight-bg {
  animation-name: node-higlight-animation;
  animation-duration: 5s;
}

@keyframes node-higlight-animation {
  from {
    background-color: rgba($chart-yellow, $opacity15);
  }
  to {
    background-color: $white;
  }
}

.master-data-image {
  height: 15px;
  width: 15px;
  position: relative;
  top: 4px;
  padding: 5px;

  .selection-mode {
    background: '#f0f0f0';
    margin-left: 2px;
  }

  .hierarchy-tail {
    background: rgba($chart-yellow, $opacity15);
  }

  .hierarchy-not-tail {
    background: $white;
  }
}

.master-data-title {
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
}

.view-mode {
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.child-node {
  margin-left: 35px;
  width: fit-content;
}

.arrows {
  width: 18px;
  height: 18px;
  font-size: 18px;
  background: $gray42;
  border-radius: 4px;
  color: $light-gray;
}

.count-assets {
  font-size: 12px;
  position: relative;
  left: 10px;
  top: -4px;
  margin-top: 5px;
}

.borders {
  border-bottom: 1px solid $gray41;
  border-top: none;
}

.master-checkbox {
  padding-top: 0px;
  margin-left: 7px;
}

.hierarchy-head {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.node-container {
  height: 38px;
}

.node-info {
  position: relative;
  top: -7px;
  margin-right: 20px;
}

.node-id {
  position: relative;
  top: -8px;
  white-space: nowrap;
}
