.node {
  display: flex;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkbox {
  margin-top: 10px;
}

.master-data-image {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 7px;
}

.master-data-title {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
}
