<ngx-spinner
  size="medium"
  bdColor="rgba(0, 0, 0, 0.6)"
  type="ball-clip-rotate-pulse"
  [fullScreen]="false"
>
</ngx-spinner>

<div class="add-instruction-main">
  <div class="wi-status-container dis-flex">
    <div class="p-0 width-60 dis-flex">
      <a
        matTooltip="{{ selectedInstruction.WI_Name }}"
        matTooltipClass=""
        class="work-instruction-title"
      >
        <input
          type="text"
          id="wi_title"
          [(ngModel)]="selectedInstruction.WI_Name"
          [disabled]="selectedInstruction.Published === true"
          class="wi_title_input"
          placeholder="Untitled Work Instruction"
          autofocus="true"
          autocomplete="off"
          value="{{ selectedInstruction.WI_Name }}"
          (keyup)="titleChange(selectedInstruction.WI_Name)"
          #workInstructionTitle
        />
      </a>
      <p class="m-l-10">
        <!-- {{ workInstructionTitle.focus() }} -->
        <span class="wi-title-info-position">
          <span
            class="f-left text-danger wi-title-info"
            *ngIf="titleErrors?.required || titleErrors?.whiteSpace"
          >
            Title is required
          </span>
        </span>
        <span class="wi-title-info-position">
          <span
            class="f-left text-danger wi-title-info"
            *ngIf="
              !titleErrors?.required &&
              !titleErrors?.whiteSpace &&
              titleErrors?.trimWhiteSpace
            "
          >
            Title should not start or end with space
          </span>
        </span>
        <span class="wi-title-info-position">
          <span
            class="f-left text-danger wi-title-info"
            *ngIf="
              !titleErrors?.required &&
              !titleErrors?.whiteSpace &&
              !titleErrors?.trimWhiteSpace &&
              titleErrors?.maxLength
            "
          >
            Title should not exceed 80 charcters
          </span>
        </span>
        <span class="wi-title-info-position">
          <span
            class="f-left text-danger wi-title-info"
            *ngIf="
              !titleErrors?.required &&
              !titleErrors?.whiteSpace &&
              !titleErrors?.trimWhiteSpace &&
              !titleErrors?.maxLength &&
              titleErrors?.startPattern
            "
          >
            Title should not start with special characters
          </span>
        </span>
        <span class="wi-title-info-position">
          <span
            class="f-left text-danger wi-title-info"
            *ngIf="
              !titleErrors?.required &&
              !titleErrors?.whiteSpace &&
              !titleErrors?.trimWhiteSpace &&
              !titleErrors?.maxLength &&
              !titleErrors?.startPattern &&
              titleErrors?.pattern
            "
          >
            Title should not contain special characters
          </span>
        </span>
        <span class="wi-title-info-position">
          <span
            class="f-left text-danger wi-title-info"
            *ngIf="
              !titleErrors?.required &&
              !titleErrors?.whiteSpace &&
              !titleErrors?.trimWhiteSpace &&
              !titleErrors?.maxLength &&
              !titleErrors?.startPattern &&
              !titleErrors?.pattern &&
              titleErrors?.exists
            "
          >
            Title already exists!
          </span>
        </span>
      </p>
    </div>
    <div class="alignment width-40">
      <ul class="wi-status display">
        <li class="display">
          <app-player
            *ngIf="
              selectedInstruction.IsFromAudioOrVideoFile &&
              !selectedInstruction.IsAudioOrVideoFileDeleted
            "
            [fileInfo]="fileInfo"
          ></app-player>
          <a [class.disabled]="!titleProvided" (click)="setFav()">
            <span
              *ngIf="!selectedInstruction.IsFavorite"
              matTooltip="Make it Favorite"
              matTooltipClass=""
            >
              <mat-icon class="mat-icon-star">star_border</mat-icon>
            </span>
            <span
              *ngIf="selectedInstruction.IsFavorite"
              matTooltip="Make it UnFavorite"
              matTooltipClass=""
            >
              <mat-icon class="mat-icon-star is-fav-icon">star</mat-icon>
            </span>
          </a>
          <button
            [class.disabled]="!titleProvided"
            matTooltip="More"
            matTooltipClass=""
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="more_horiz_btn"
            *appCheckUserHasPermission="[
              permissions.copyWorkInstruction,
              permissions.deleteWorkInstruction
            ]"
            aria-label="More Options"
          >
            <mat-icon class="more_horiz-icon">more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="copyWI(selectedInstruction)"
              id="copyWorkInstruction"
              *appCheckUserHasPermission="[permissions.copyWorkInstruction]"
            >
              <span class="menu-text">Copy Work Instruction</span>
            </button>
            <button
              mat-menu-item
              (click)="removeWI(selectedInstruction)"
              id="deleteWorkInstruction"
              *appCheckUserHasPermission="[permissions.deleteWorkInstruction]"
            >
              <span class="menu-text text-red">Delete Work Instruction</span>
            </button>
          </mat-menu>
        </li>
        <li>
          <div class="message" *ngIf="this.saveStatus === 'Saving..'">
            <mat-icon class="cached">cached</mat-icon>{{ saveStatus }}
          </div>
          <div class="message" *ngIf="this.saveStatus === 'All Changes Saved'">
            {{ saveStatus }}
          </div>
        </li>
        <li>
          <button
            [disabled]="
              !receivedInstruction ||
              titleErrors?.required ||
              titleErrors?.maxLength ||
              titleErrors?.startPattern ||
              titleErrors?.pattern ||
              titleErrors?.whiteSpace ||
              titleErrors?.trimWhiteSpace
            "
            [ngClass]="{
              'fnt-white': receivedInstruction,
              save: !isWIPublished
            }"
            (click)="publishInstruction(selectedInstruction)"
            mat-raised-button
            class="b-r-8 publish-btn"
            *appCheckUserHasPermission="[permissions.publishWorkInstruction]"
          >
            <span
              *ngIf="
                !receivedInstruction ||
                titleErrors?.required ||
                titleErrors?.maxLength ||
                titleErrors?.startPattern ||
                titleErrors?.pattern ||
                titleErrors?.whiteSpace ||
                titleErrors?.trimWhiteSpace
              "
            >
              <svg-icon icon="icon-upload" class="publish-btn-icon"></svg-icon>
              <span class="dis-publish">Publish</span>
            </span>
            <span
              *ngIf="
                receivedInstruction &&
                !titleErrors?.required &&
                !titleErrors?.maxLength &&
                !titleErrors?.startPattern &&
                !titleErrors?.pattern &&
                !titleErrors?.whiteSpace &&
                !titleErrors?.trimWhiteSpace
              "
            >
              <svg-icon
                icon="icon-upload-white"
                class="publish-btn-icon"
              ></svg-icon>
              <span class="publish">Publish</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="paginate-steps-container">
    <div class="paginate-steps">
      <app-overview
        (publishOnAddCloneSteps)="publishOnAddCloneStepsHandler()"
        (stepsDataEntry)="getStepsData($event)"
        (instructionDataEntry)="getWorkInstruction($event)"
      ></app-overview>
    </div>
  </div>
</div>
