@import '../../../../scss/colors.scss';

.add-instruction-main {
  height: calc(100vh - 85px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.wi-status-container {
  height: auto;
  background: $white;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

input[type='text']:focus {
  outline: none;
  caret-color: #007aff;
}

.mat-raised-button,
.mat-stroked-button {
  color: $gray-text;
}

.disabled {
  pointer-events: none;
}

.wi-status-container ul.wi-status {
  float: right;
  margin: 0;
  padding: 0;
  padding: 12px 5px;
}

.wi-status-container ul.wi-status li {
  float: left;
  display: inline;
  padding-right: 0;
}

.wi-status-container ul.wi-status li:last-child {
  padding-right: 10px;
}

.wi_title_input {
  border: none;
  cursor: pointer;
  width: 100%;
  background: none;
  font-size: 140%;
  font-weight: 500;
  text-overflow: ellipsis;
}

.work-instruction-title {
  overflow: hidden;
  white-space: nowrap;
  font-size: 120%;
  text-overflow: ellipsis;
  display: block;
  width: 70%;
  margin-top: 12px;
  margin-left: 12px;
}

.wi-status-container ul.wi-status li:first-child {
  border-right: 1px solid $border-color-gray;
  height: 30px;
  padding: 0 5px;
  margin-right: 10px;
  margin-top: 5px;
  display: inline-flex;
}

.paginate-steps-container {
  border-top: 1px solid $border-color-gray;
  border-bottom: 1px solid $border-color-gray;
  /*background: $white;*/
  height: 60px;
  padding: 0;
  width: 100%;
}

.paginate-steps {
  background: $white;
  border-bottom: 1px solid $border-color-gray;
}

.mat-tab-body {
  padding: 10px;
}

.success-msg {
  padding: 0 5px;
  opacity: 0.8;
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: $gray-text;
  padding: 10px;
  background-color: white;
  white-space: nowrap;
}

.save {
  margin-right: 10px;
}

.wi-title-info {
  color: #dc3545;
  font-size: 90%;
  font-weight: 600;
  white-space: nowrap;
}

.wi-title-info-created {
  height: 28px;
  position: relative;
  top: -3px;
}

.wi-title-mat-icon {
  height: 30px;
  position: relative;
  top: 5px;
}

.wi-title-info-position {
  position: relative;
  top: 7px;
  float: right;
}

.alignment {
  text-align: right;
  float: right;
}

.display {
  display: inline-flex;
}

.cached {
  position: relative;
  height: 0;
  top: -12px;
}

.dis-publish {
  background: $border-color-gray;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: $gray-text;
  position: relative;
  left: 3px;
  /* top: 2px; */
}

.publish {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: $white;
  position: relative;
  left: 3px;
  /* top: 2px; */
}

.width {
  width: 100%;
}

.publish-btn {
  width: 160px;
  height: 36px;
  background-color: $blue-main;
  border-color: $blue-main;
}

.publish-btn-icon {
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 2px;
    left: -3px;
  }
}

.btn-primary {
  color: $white;
  background-color: $blue-main;
  border-color: $blue-main;
}

.more_horiz_btn {
  position: relative;
  top: -5px;
}

.more_horiz-icon {
  position: relative;
  top: -3px;
}
