@import '../../../../../scss/colors.scss';

:host {
  background: $white;
  color: $white;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  min-width: 450px;
  z-index: 9999;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.actions-footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 95%;
  margin-left: 10px;
}

.top-bar {
  padding: 16px 16px 0px 16px;
}

.container-div {
  padding: 0px 16px;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 145px);

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-top: 20px;
  }
}

#add-edit-asset-slider {
  .mat-card {
    box-shadow: none;
    padding: 0px;
  }

  .cancel {
    cursor: pointer;
    height: 15px;
    width: 15px;
  }

  .heading {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .image-container {
    margin: 20px 0 10px 0;
  }

  .image-contain {
    height: 75px;
    width: 75px;
    position: relative;
    left: -2px;
  }

  .error-fields {
    margin-top: 14px;
  }

  .create-btn {
    background-color: $blue-main;
    color: $white;
    width: 48%;
  }

  .create-btn:disabled {
    background-color: $gray2-bg;
    color: $gray7;
    width: 48%;
  }

  .cancel-btn {
    color: $blue-main;
    border-color: $blue-main;
    margin-right: 15px;
    width: 48%;
  }

  .parent-type {
    margin: 10px 5px;

    .m-r-20 {
      margin-right: 20px;
    }

    .parent-type-radio {
      position: relative;
      top: -2px;
      ::ng-deep .mat-radio-outer-circle {
        height: 16px !important;
        width: 16px !important;
        border-color: $gray5;
      }
      ::ng-deep .mat-radio-inner-circle {
        background-color: $blue-main;
      }

      ::ng-deep .mat-radio-checked .mat-radio-outer-circle {
        border-color: $blue-main;
      }
      ::ng-deep .mat-focus-indicator {
        display: none;
      }
    }
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 5px 0px 10px 0px !important;
    margin-bottom: 10px;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.3em;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background: $white;
    border-radius: 4px;
  }

  ::ng-deep .mat-select-arrow {
    margin-top: 10px !important;
  }
}

.searchable-input {
  width: 92%;
  border: 1px solid $border-color;
  padding: 5px;
  border-radius: 4px;
  margin: 10px 10px 10px 12px;
}
.scrollable-area {
  max-height: 200px;
  overflow: auto;
}
