<div id="add-edit-asset-slider">
  <mat-card [formGroup]="assetForm">
    <div>
      <img
        (click)="cancel()"
        src="assets/rdf-forms-icons/close.svg"
        alt="close"
        class="cancel"
      />
      <h1 class="heading">{{ assetTitle }}</h1>
    </div>
    <div>
      <p class="m-0">Image</p>
      <p style="margin: 10px 0 5px 0">
        <img
          src="assets/master-configurations/image-placeholder.svg"
          alt="Image Placeholder"
          class="image"
          *ngIf="assetImage === ''"
        />
        <img
          [src]="assetImage"
          alt="Image"
          class="image-contain"
          *ngIf="assetImage !== ''"
        />
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />

          <mat-error
            *ngIf="processValidationErrors('name')"
            class="m-t-5 error-fields"
          >
            {{
              errors.name.name
                | translate
                  : {
                      name: 'name' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Asset Id</mat-label>
          <input matInput placeholder="Asset Id" formControlName="assetsId" />
          <mat-error
            *ngIf="processValidationErrors('assetsId')"
            class="m-t-5 error-fields"
          >
            {{
              errors.assetsId.name
                | translate
                  : {
                      name: 'assetsId' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Model</mat-label>
          <input matInput placeholder="Model" formControlName="model" />
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Description"
            formControlName="description"
          >
          </textarea>
        </mat-form-field>
      </p>
      <p style="margin: 10px 5px">
        <span style="margin-right: 20px">Parent Type</span>
        <mat-radio-group
          formControlName="parentType"
          style="position: relative; top: -2px"
        >
          <mat-radio-button value="location" style="margin-right: 20px">
            Location
          </mat-radio-button>
          <mat-radio-button value="asset"> Asset </mat-radio-button>
        </mat-radio-group>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Parent</mat-label>
          <mat-select formControlName="parentId">
            <input
              class="searchable-input"
              placeholder="Search"
              (keyup)="onKey($event.target.value)"
            />
            <mat-option
              [value]="parent.name"
              *ngFor="let parent of allParentsData"
              >{{ parent.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </p>

      <button
        mat-raised-button
        class="create-btn"
        type="submit"
        [disabled]="assetForm.invalid"
        (click)="create()"
      >
        {{ assetButton }}
      </button>
      <button
        mat-stroked-button
        class="cancel-btn"
        type="button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </mat-card>
</div>
