<div id="add-edit-asset-slider">
  <mat-card [formGroup]="assetForm">
    <div class="top-bar">
      <svg-icon
        id="addEditAssetsCancelIcon"
        (click)="cancel()"
        icon="icon-close"
        class="cancel"
      ></svg-icon>
      <h1 id="addEditAssetsTitle" class="heading">{{ assetTitle }}</h1>
    </div>
    <div class="container-div">
      <p class="image-container">
        <span *ngIf="!assetImage?.length">
          <svg-icon
            id="assetsIcon"
            icon="icon-asset-icon"
            class="image-contain"
          ></svg-icon>
        </span>

        <img
          id="assetImg"
          [src]="assetImage"
          alt="Image"
          class="image-contain"
          *ngIf="assetImage !== ''"
        />
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label
            id="addEditAssetsName"
            translate="nameMandatory"
          ></mat-label>
          <input
            matInput
            [placeholder]="'nameMandatory' | translate"
            formControlName="name"
          />

          <mat-error
            id="addEditAssetsNameError"
            *ngIf="processValidationErrors('name')"
            class="m-t-5 error-fields"
          >
            {{
              errors.name.name
                | translate
                  : {
                      name: 'name' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label
            id="addEditAssetsId"
            translate="assetsIdMandatory"
          ></mat-label>
          <input
            matInput
            [placeholder]="'assetsIdMandatory' | translate"
            formControlName="assetsId"
          />
          <mat-error
            id="addEditAssetsIdError"
            *ngIf="processValidationErrors('assetsId')"
            class="m-t-5 error-fields"
          >
            {{
              errors.assetsId.name
                | translate
                  : {
                      name: 'assetsId' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label id="addEditAssetsModel" translate="model"></mat-label>
          <input
            matInput
            [placeholder]="'model' | translate"
            formControlName="model"
            autocomplete="off"
          />
          <mat-error
            id="addEditAssetsModelError"
            *ngIf="processValidationErrors('model')"
            class="m-t-5 error-fields"
          >
            {{
              errors.model.name
                | translate
                  : {
                      name: 'model' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-0">
          <mat-label
            id="addEditAssetsDescription"
            translate="description"
          ></mat-label>
          <textarea
            matInput
            [placeholder]="'description' | translate"
            formControlName="description"
          >
          </textarea>
          <mat-error
            id="addEditAssetsDescriptionError"
            *ngIf="processValidationErrors('description')"
            class="m-t-5 error-fields"
          >
            {{
              errors.description.name
                | translate
                  : {
                      name: 'description' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0 select-field">
        <mat-form-field
          appearance="outline"
          class="plant-input-field"
          class="width-100"
        >
          <mat-label
            id="addEditAssetsPlant"
            translate="plantMandatory"
          ></mat-label>
          <mat-select
            formControlName="plantsID"
            (valueChange)="onSelectPlant($event)"
          >
            <input
              class="searchable-input"
              [placeholder]="'searchId' | translate"
              (keyup)="onKeyPlant($event)"
            />
            <div class="scrollable-area">
              <mat-option
                id="addEditAssetsPlantOptions"
                [value]="plant.id"
                *ngFor="let plant of allPlantsData"
                >{{ plant.plantId }} - {{ plant.name }}</mat-option
              >
            </div>
          </mat-select>
          <mat-error
            id="addEditAssetsPlantError"
            *ngIf="processValidationErrors('plantsID')"
            class="m-t-5 error-fields"
          >
            {{
              errors.plantsID.name
                | translate
                  : {
                      name: 'Plant' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="parent-type">
        <span
          class="m-r-20"
          id="addEditAssetsParentType"
          translate="parentType"
        ></span>
        <mat-radio-group
          formControlName="parentType"
          class="parent-type-radio"
          (change)="onChangeParentType($event)"
        >
          <mat-radio-button value="location" class="m-r-20">
            <span id="addEditAssetsLocationBtn" translate="location"></span>
          </mat-radio-button>
          <mat-radio-button value="asset">
            <span id="addEditAssetsBtn" translate="asset"></span>
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label translate="parent"></mat-label>
          <mat-select
            formControlName="parentId"
            (valueChange)="onSelectLocation($event)"
          >
            <input
              id="addEditAssetsSearchInput"
              class="searchable-input"
              [placeholder]="'searchId' | translate"
              (keyup)="onKey($event)"
              (keydown)="$event.stopPropagation()"
            />
            <div class="scrollable-area">
              <mat-option
                id="addEditAssetsOptions"
                [value]="parent.id"
                *ngFor="let parent of allParentsData$ | async"
              >
                {{
                  parentType === 'location'
                    ? parent.locationId
                    : parent.assetsId
                }}
                {{ parent.name }}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
  </mat-card>
  <div class="actions-footer">
    <button
      id="addEditAssetsCancelBtn"
      mat-stroked-button
      class="cancel-btn"
      type="button"
      (click)="cancel()"
      translate="cancelBtn"
    ></button>
    <button
      id="addEditAssetsCreateBtn"
      mat-raised-button
      class="create-btn"
      type="submit"
      [disabled]="assetForm.invalid"
      (click)="create()"
    >
      {{ assetButton }}
    </button>
  </div>
</div>
