<div
  mat-dialog-title
  ngClass="dialogTitle"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
>
  <div ngClass="dialogHeader">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      name="collaborationMode"
      aria-label="Collaboration Mode"
      ngClass="buttonGroup"
      [value]="selectedTab"
      (change)="onValChange(group.value)"
    >
      <mat-button-toggle ngClass="btnGroupBtn" value="chats"
        >Chats</mat-button-toggle
      >
      <mat-button-toggle ngClass="btnGroupBtn" value="calls"
        >Calls</mat-button-toggle
      >
      <mat-button-toggle ngClass="btnGroupBtn" value="peoples"
        >People</mat-button-toggle
      >
    </mat-button-toggle-group>
    <button mat-icon-button ngClass="closeBtn" (click)="closeCollabDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content ngClass="dialogContent">
  <div ngClass="dialogBody">
    <div>
      <div *ngIf="selectedTab ==='chats'" ngClass="tabContent">
        <app-chats [targetUser]="selectedUser"></app-chats>
      </div>
      <div *ngIf="selectedTab ==='calls'" ngClass="tabContent">
        <app-calls [targetUser]="selectedUser"></app-calls>
      </div>
      <div *ngIf="selectedTab ==='peoples'" ngClass="tabContent">
        <app-people
          (handleTextMessaging)="handleTextMessaging($event)"
          (handleAudioMessaging)="handleAudioMessaging($event)"
          (handleVideoMessaging)="handleVideoMessaging($event)"
        ></app-people>
      </div>
    </div>
  </div>
</div>
