.min-toolbar {
  background-color: white;
  height: 65px;
  border-bottom: 1px solid #e0e0e0;
}

::ng-deep .sidebar-minimize-icons .mat-button-focus-overlay {
  background-color: transparent !important;
}

.connectToSlackButton {
  align-items: center;
  color: #000;
  background-color: #e8f3f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-flex;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  text-decoration: none;
  width: 236px;
  cursor: pointer;
  margin-right: 15px;
  .slackIcon {
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }
}

.collabButton {
  margin: 0px 15px;
  & ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }
}

.header-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  margin-left: 10px;
  color: #000000;
  line-height: 42px;
}

.header-cols {
  display: flex;
  align-items: center;
  justify-content: end;
}

.width-auto {
  width: auto;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-message-icon {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-top: 7px;
}

.header-user-icon {
  width: 45px;
  height: 45px;
  margin: 0px 5px 0px 10px;
  border-radius: 50%;
}

.arrow-icon {
  margin-top: 10px;
  font-size: 45px;
}

.create-new-ins {
  height: 36px;
}

.create-new-ins-btn {
  padding: 0 10px 0 10px;
  font-size: 14px;
}

.sidebar-minimize-icons {
  display: inline-flex;
}

.sidebar-close {
  width: 28px;
  min-width: 28px;
  // padding: 7px 10px 7px 7px;
  cursor: pointer;
}

// .sidebar-close:hover {
//   background: rgba(61, 90, 254, 0.08);
//   border-radius: 50%;
// }

.sidebar-open {
  width: 28px;
  min-width: 28px;
  cursor: pointer;
  position: relative;
  top: 4px;
  left: 5px;
}
// .sidebar-open:hover {
//   background: rgba(61, 90, 254, 0.08);
//   border-radius: 50%;
// }

::ng-deep .xng-breadcrumb-root {
  margin: 0 0 0 10px !important;
}

::ng-deep xng-breadcrumb {
  font-size: 12px;
  margin-left: 45px;
  margin-bottom: 10px;
}

.displayGrid {
  display: grid;
}

.breadcrumbs {
  position: relative;
  top: -50px;
  height: 0px;
  left: 0px;
}

::ng-deep xng-breadcrumb .xng-breadcrumb-trail {
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}

::ng-deep xng-breadcrumb .xng-breadcrumb-link {
  color: #3d5afe;
}

::ng-deep xng-breadcrumb .xng-breadcrumb-link:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .sidebar-open {
    display: none;
  }
  .sidebar-close {
    display: none;
  }
}

.cursor {
  cursor: pointer;
}

.header-cols {
  .user {
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 7px;
  }

  .profile {
    width: 39px;
    height: 39px;
    position: relative;
    top: 5px;
    border-radius: 50%;
  }

  .without-company-logo {
    border: 1px dashed #e0e0e0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px;
    height: 48px;
  }

  .with-company-logo {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 49px;
    white-space: nowrap;
    text-align: center;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .logo-comes-here-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
    margin: 10px 0;
  }

  .logo {
    max-height: 44px;
    max-width: 126px;
    vertical-align: middle;
  }
}
.header-profile-menu:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 15px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.header-profile-menu {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 6px 4px 84px rgba(0, 0, 0, 0.15);
  padding: 16px 0px;
  width: 210px;
  position: relative;
  top: 10px;
  left: 190px;

  .profile-image {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 62px;
  }

  .loggedin-user-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    word-wrap: break-word;
    margin: 10px 0 7px 0;
  }

  .loggedin-user-role {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 7px 0;
    text-align: center;
    color: #8f8f8f;
    word-wrap: break-word;
  }

  .loggedin-user-email {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    text-align: center;
    color: #8f8f8f;
    word-wrap: break-word;
  }

  .profile-signout {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
}
.collabDialog .mat-dialog-container {
  border-radius: 20px !important;
}
