<div class="response-type-modal">
  <h1 class="modal-heading">
    <mat-icon (click)="toggleResponseTypeModal()" class="cancel-icon">
      clear
    </mat-icon>
    <span class="response-heading" translate="responseHeading"></span>
  </h1>

  <div class="dis-flex content">
    <div class="width-50">
      <h2 class="orange-color" translate="questionHeading"></h2>
      <li
        *ngFor="let fieldType of fieldTypes"
        (click)="selectFieldType(fieldType)"
        class="response-field-types"
        [ngClass]="{
          active: fieldType.type === question.fieldType
        }"
      >
        <img
          [src]="getFieldTypeImage(fieldType.type)"
          class="response-type-icons"
        />&nbsp;
        <span class="response-type-description">
          {{ fieldType.description }}
        </span>
      </li>
    </div>
    <div class="width-50">
      <div>
        <h2 class="orange-color" translate="multiChoiceHeading"></h2>

        <button
          class="add-new-btn"
          (click)="handleResponses('quickResponse', '-1')"
          translate="addNew"
        ></button>
      </div>
      <div class="height-50">
        <h2 class="orange-color" translate="globalResponseHeading"></h2>
        <div *ngIf="globalResponses$ | async as globalResponses">
          <div *ngFor="let response of globalResponses">
            {{ response.name }}
            <button
              mat-flat-button
              (click)="handleEditGlobalResponse(response)"
            >
              <img
                src="assets/rdf-forms-icons/edit-icon.svg"
                alt="edit-icon"
                class="edit-icon-img"
              />
            </button>
          </div>
        </div>
        <button
          class="add-new-btn"
          (click)="handleGlobalResponsesToggle()"
          translate="addNew"
        ></button>
      </div>

      <div *ngIf="isMCQResponseOpen">
        <app-response-type-side-drawer></app-response-type-side-drawer>
      </div>

      <div *ngIf="question.fieldType === 'RT'">
        <app-response-type-side-drawer></app-response-type-side-drawer>
      </div>

      <div *ngIf="isGlobalResponseOpen">
        <app-global-response-type-side-drawer
          [globalResponseToBeEdited]="responseToBeEdited"
        ></app-global-response-type-side-drawer>
      </div>
    </div>
  </div>
</div>
