.response-type-modal {
  height: 500px;
  width: 550px;
  border: 1px solid;
  position: absolute;
  left: 40%;
  top: 20px;
  background: white;

  .content {
    height: 480px;
    overflow-y: scroll;
    padding: 0 15px;
  }

  .response-field-types {
    padding: 10px 0 5px 10px;
    margin: 5px 0;
    cursor: pointer;
  }

  .response-field-types:hover,
  .active {
    background-color: #ebedfe;
  }

  .response-type-icons {
    width: 15px;
    height: 15px;
  }
}
