@import '../../../../scss/colors.scss';

.response-type-modal {
  height: 70vh;
  border-radius: 4px;
  width: 380px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 50%;
  top: 90px;
  background: $white;
  z-index: 1000;

  .modal-heading {
    margin: 15px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
  }

  .cancel-icon {
    cursor: pointer;
    font-size: 150%;
  }
  .search {
    width: 100%;

    .icon {
      position: relative;
    }
  }

  .search-width {
    width: 94%;
    margin: 10px 10px 0px;
  }

  .width-100 {
    border: none;
    padding: 5px 5px;
  }

  ::ng-deep .mat-tab-label {
    min-width: 125px !important;
    padding: 0 !important;
  }

  .response-heading {
    position: relative;
    left: 5px;
    margin: 0;
  }

  .orange-color {
    color: $gray1;
    margin: 21px 0px 12px 22px;
  }

  .content {
    height: 74%;
    overflow-y: scroll;
    padding: 0 15px;
  }

  .response-field-types {
    height: 35px;
    box-sizing: border-box;
    max-width: 45%;
  }

  .response-field-types:hover,
  .active {
    background-color: $hover-bg2;
  }

  .response-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;

    ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
      margin: 0 !important;
    }

    ::ng-deep .mat-chip.mat-standard-chip {
      background-color: transparent !important;
    }

    ::ng-deep .mat-chip.mat-standard-chip::after {
      background-color: transparent !important;
    }
  }

  .response-container > div {
    flex: 50%;
  }

  .response-type-icons {
    width: 20px;
    height: 20px;
    padding: 10px 0px 0px 10px;
  }

  .response-type-description {
    position: relative;
    top: -4px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 100%;
  }

  .add-new-btn {
    color: $blue-main;
    border: none;
    background: none;
    margin-bottom: 35px;
  }

  .height-50 {
    height: 50%;
  }
}
.main-conatiner {
  ::ng-deep .mat-tab-label {
    min-width: 123px;
  }
}

.quick-response {
  ::ng-deep .mat-button-wrapper {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
  }

  ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin: 12px 10px 5px 5px !important;
  }
}

.picklist-scroll {
  overflow-y: scroll;
  height: calc(70vh - 95px);
  overflow-x: hidden;
}

.add-more-icon {
  height: 25px;
  width: 20px;
  position: relative;
  top: 7px;
  right: 5px;
}

.multiple-responses {
  margin: 10px 15px;
}

.h-36 {
  height: 36px;
  .responseBtn {
    padding: 0 0 0 5px;
    height: 36px;
  }
}
.m-l-10 {
  margin-left: 10px;
}
.more {
  margin-top: -10px;
  margin-left: 5px;
  font-weight: 400;
}
.editBtn {
  min-width: 10px;
  padding: 0;
}

::ng-deep .global-resp .mat-standard-chip {
  padding: 0 !important;
}

.edit-icon-img {
  padding: 10px;
  height: 14px;
}

.global-resp {
  margin-left: 25px;
}
