@import '../../../../../scss/colors.scss';

.success-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;

  p {
    font-weight: 700;
    font-size: 120%;
    line-height: 19px;
  }

  .schedulerGif {
    height: 100px;
    width: 100px;
  }

  p.processColor {
    color: $blue-main;
  }
  p.successColor {
    color: $green2;
  }

  p.failureColor {
    color: $red-main;
  }

  .schedule-icon {
    height: 39px;
    width: 49px;
    position: relative;
    right: 10px;
  }

  button {
    font-weight: 500;
    font-size: 120%;
    color: $blue-main;
  }

  .message {
    display: flex;
    align-items: center;
    flex-direction: column;

    p:first-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    p:last-of-type {
      margin-top: 0;
      font-weight: 500;
      font-size: 120%;
    }
  }

  ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }
}
