@import '../../../../../../scss/colors.scss';

.copy-ins {
  background-color: $white;
  width: 460px;
  padding: 10px;
  border-radius: 8px;
}

.copy-header {
  margin: 5px;
  font-size: 120%;
}

.main-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 200%;
  color: $gray11;
  padding: 20px 20px 10px 20px;
}

.cancel-icon {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.recents-favorites-row {
  padding: 20px 20px 0px 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 120%;
  color: $gray11;
}
.recent-wi-img {
  width: 80px;
}
.list-data {
  flex-wrap: nowrap;
}
.no-fav {
  text-align: center;
  width: 93%;
  background: $white2;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px;
  border: 1px dashed $gray53;
}

.form-input {
  background: $white;
  border: 1px solid $gray44;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 36px;
}

.files-list {
  width: 95%;
  color: $blue18;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img {
  width: 30px;
}

.nav-tabs .nav-link.active {
  color: $blue-primary;
  background-color: $white;
  border-bottom: 3px solid $blue-primary;
}

.nav-tabs .nav-link {
  border: none;
  width: 50%;

  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: $gray4;
}

.tabs-heading {
  padding: 4px 0px 0px 7px;
}

.tab-content {
  margin-top: 0px;
  background: $white;
  border: none;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: rgba(0, 0, 0, 0.08);
  color: $gray21;
  cursor: default;
  border-radius: 50%;
}

.tabs-recent-title {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 21px;
  color: $gray11;
}

.tabs-recent-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $gray4;
  margin-top: 7px;
}

.tabs-recent-add {
  background: $white;
  border: 1px solid $blue-primary;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 6px 14px;
  float: right;
  margin-top: 7px;
  margin-right: -4px;
}

.tab-recent-add-title {
  font-style: normal;
  font-weight: 500;
  font-size: 90%;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: $blue-primary;
}

.table td {
  padding: 0.75rem;
  padding-left: 0px;
  vertical-align: top;
  border-top: 1px solid $gray32;
}
.heading-icon {
  position: relative;
  top: 7px;
}

.star-icon {
  position: relative;
  font-size: 100%;
  text-align: center;
  margin: 0 auto;
  padding-left: 220px;
}

.no-favs {
  height: 200px;
  opacity: 0.3;
}

.coverImg {
  width: 48px;
  height: 48px;
  max-width: none;
}

.fav-icon {
  position: relative;
  left: 5px;
  top: 0px;
  float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -25px;
}

.data {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: $white;
}
.create-button {
  background-color: $blue-primary;
  border: none;
}
.arrow-button {
  background-color: $blue-primary;
  border: none;
  border-left: 1px solid $gray11;
}

.draft-icon {
  font-weight: 500;
  font-size: 140%;
  position: relative;
  top: 2px;
}

.favorite-icon {
  font-weight: 500;
  font-size: 180%;
  position: relative;
  top: 3px;
}

.chip {
  background: $gray44;
  padding: 5px;
  border-radius: 4px;
  font-size: 80%;

  font-style: normal;
  font-weight: normal;
  color: $white;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  height: 15px;
}

.t-minus-5 {
  position: relative;
  top: -5px;
}
.dropdown-item {
  border-bottom: none;
}

.dropdown-item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 19px;
  color: $gray11;
  padding-left: 10px;
  position: relative;
  top: 2px;
}
.dropdown-item-line {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.tab-content .tab-pane {
  padding: 0;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 588px;
  height: 560px;
  pointer-events: auto;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.1rem 0rem 0.1rem 1rem;
  overflow-y: auto;
  margin-left: -16px;
  margin-right: 0px;
}
.modal-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 1rem 0rem 1rem;
  border-top: 1px solid $gray31;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.search-box {
  width: 88%;
  background-color: $white2;
  border: 1px solid $white2;
  border-radius: 5px;
  height: 36px;
}

.filter-dropdowns {
  width: 130px;
  height: 35px;
  position: relative;
  left: -10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: $white;
  font: inherit;
  padding: 0.5em 1.7em 0.5em 1em;
  margin-top: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}

.filter-dropdowns.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 19px) calc(1em + 2px),
    calc(100% - 14px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  margin-left: 25px;
}

.custom-modal-card {
  width: 550px;
}

::ng-deep .modal-body .mat-tab-label {
  width: 50%;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  min-width: 50%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.input-group-text {
  background: $white2;
  border: none;
}

.copy-ins-header {
  border-bottom: none;
  padding-bottom: 0px;
}
.copy-ins-coverimages {
  width: 60px;
  padding-right: 15px;
  padding-left: 15px;
}

h5.modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 21px;
  color: rgb(37, 40, 43);
  margin-top: 0;
}

.margin-search {
  margin-left: -15px;
}

::ng-deep .copy-ins .mat-tab-body {
  overflow-y: auto;
  height: 270px;
}
