@import '../../../../scss/colors.scss';

.instruction-pdf-container {
  background: $blue8;
  padding: 13px;
  margin-top: 13px;

  .pdf-icon {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
  }

  .pdf-text {
    font-size: 95%;
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: -0.24px;
    color: $active-blue;
  }

  .pdf-sub-text {
    font-size: 85%;
    margin-left: 10px;
    font-weight: 400;
    letter-spacing: 0.066px;
    color: $active-blue;
  }

  .close {
    position: relative;
    top: -15px;
    right: -15px;
    z-index: 100;
    cursor: pointer;
    height: 15px;
    width: 15px;
  }
}
