<div class="bg-white dis-flex instruction-pdf-container">
  <div>
    <svg-icon
      id="instructionPDFIcon"
      icon="icon-pdfIcon"
      class="pdf-icon"
    ></svg-icon>
  </div>
  <div>
    <span id="instructionPDFName" class="pdf-text">
      {{ pdf.name }}
    </span>
    <br />
    <span id="instructionPDFSize" class="pdf-sub-text">
      {{ (pdf.size / 1024).toFixed(2) }}
      KB
    </span>
  </div>
  <div>
    <svg-icon
      id="instructionPDFCancelIcon"
      icon="icon-red-cancel"
      class="close"
      (click)="triggerDelete()"
    ></svg-icon>
  </div>
</div>
