<div class="template-delete-modal">
  <p
    id="deleteArchiveHeading"
    class="cancel-title"
    translate="deleteArchivedFormModalHeading"
  ></p>
  <p
    id="deleteArchiveSubHeading"
    class="cancel-subtitle"
    translate="deleteArchivedFormModalSubHeading"
  ></p>
  <button
    id="deleteArchiveDeleteBtn"
    mat-raised-button
    class="delete-btn"
    (click)="deleteForm('delete')"
    translate="deleteBtn"
  ></button>
  <button
    id="deleteArchiveCancelBtn"
    mat-button
    class="cancel-btn"
    (click)="deleteForm('cancel')"
    translate="cancelBtn"
  ></button>
</div>
