@import '../../../../scss/colors.scss';

.widget-delete-modal {
  width: 400px;
  height: auto;
  overflow: hidden;
  padding: 17px;
  background: $white;
  border-radius: 4px;
}

.cancel-title {
  font-size: 110%;
  font-weight: 600;
  margin: 0;
}

.cancel-subtitle {
  font-size: 100%;
}

.delete-btn {
  color: $orange-text;
  border-radius: 4px;
  background: $white;
  float: right;
  border: none;
}

.cancel-btn {
  color: $blue-head;
  background: $white;
  border-radius: 4px;
  float: right;
  border: 1px solid $blue-head;
}
