$blue-color: #3d5afe;
$white-color: #ffffff;
$black-color: #000000;
$gray-600: #757575;
$gray-900: #212121;
$border: 1px solid #e0e0e0;
$blue-color: #3d5afe;

.m-t-minus-25 {
  margin-top: -25px;
}

.padding {
  padding: 5px 0;
}

.delete-icon {
  ::ng-deep svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.main-tenant-container {
  background-color: #ffffff;
  position: relative;
  height: 100%;

  ::ng-deep .mat-tab-label {
    opacity: 1;
  }
}

.tenant-header {
  border-bottom: 1px solid #e7e7e7;
  padding: 12px 12px 20px 12px;
}

.adding-tenant-text {
  font-weight: 500;
  font-size: 150%;
  color: #000000;
  position: relative;
  top: 5px;
}

.cancel-btn {
  float: right;
  color: $blue-color;
  border: 1px solid $blue-color;
  background-color: #ffffff;
  box-shadow: none;
  margin-right: 14px;
}

.next-btn {
  float: right;
  background-color: $blue-color;
  box-shadow: none;
  color: #ffffff;
}

.save-btn,
.edit-btn {
  float: right;
  background-color: $blue-color;
  box-shadow: none;
  color: #ffffff;
}

.scroll-content {
  overflow-y: scroll;
  height: calc(100vh - 215px);
  padding: 10px;
}

.sub-headings {
  margin: 10px 0 10px 0;
  font-size: 100%;
  font-weight: 500;
}

.main-content {
  width: 87%;
}

.prevbtn {
  display: flex;
  border-bottom: 1px solid #cccccc;
}

.prevnextbtns {
  border: none;
  background-color: white;
}

.nextbtn {
  display: flex;
  border-bottom: 1px solid #cccccc;
}

.add-url-icon {
  float: right;
  position: relative;
  top: 40px;
  left: 40px;
  cursor: auto;
  background: transparent;
  border: none;
}

.delete-button {
  border: none;
  background: transparent;
  cursor: auto;
}

.assets {
  text-align: center;
  margin-top: 25px;

  .browse-btn {
    color: $blue-color;
    border: 1px solid $blue-color;
    background-color: $white-color;
    box-shadow: none;
  }

  .browse-btn:disabled {
    color: $gray-600;
    border: 1px solid $gray-600;
    background-color: $white-color;
    box-shadow: none;
  }

  .m-10 {
    margin: 10px;
  }

  .m-4 {
    margin: 4px;
  }

  .m-t-20 {
    margin-top: 20px;
  }

  .remove-btn {
    color: $blue-color;
    font-size: 90%;
    font-weight: 500;
    border: none;
    background-color: transparent;
  }

  .remove-btn:disabled {
    color: $gray-600;
    cursor: auto;
  }

  .info1 {
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    color: $gray-600;
    line-height: 28px;
    letter-spacing: 0.35px;
  }

  .info2 {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    color: $gray-900;
    line-height: 28px;
    letter-spacing: 0.35px;
  }

  .info3 {
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    color: $gray-900;
    line-height: 22px;
  }

  .info4 {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    color: $gray-600;
    line-height: 20px;
  }

  .header {
    display: flex;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.05);
    align-items: center;
    height: 75px;
    min-width: fit-content;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 160%;
      margin: 0;
      padding: 16px;
      color: $black-color;
      line-height: 32px;
      text-align: left;
      width: 50%;
    }

    .right-content {
      width: 50%;
      justify-content: flex-end;
    }

    .user {
      border-top: $border;
      border-left: $border;
      border-bottom: $border;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      float: right;
    }

    .profile {
      position: relative;
      top: 6px;
      padding: 7px 10px 2px 10px;
      height: 35px;
      width: 35px;
    }

    .without-company-logo {
      border: $border;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      float: right;
      padding: 5px 10px;
    }

    .with-company-logo {
      border-top: $border;
      border-right: $border;
      border-bottom: $border;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      float: right;
      height: 48px;
      white-space: nowrap;
      text-align: center;
      padding-right: 10px;
    }

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .logo-comes-here-text {
      font-weight: 600;
      font-size: 100%;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: $black-color;
      opacity: 0.3;
      white-space: nowrap;
    }

    .logo {
      max-height: 44px;
      max-width: 126px;
      vertical-align: middle;
    }
  }
}

.ideal-dimension-text {
  letter-spacing: 0.35px;
  color: $gray-600;
  font-size: 110%;
}

.ideal-dimension-width-height {
  letter-spacing: 0.35px;
  font-size: 110%;
}

.cursor-pointer {
  cursor: pointer;
}

.apps-icon {
  position: relative;
  top: 10px;
  right: 10px;
  height: 30px !important;
  width: 25px !important;
}
