<form
  class="main-tenant-container"
  [formGroup]="tenantForm"
  (ngSubmit)="saveTenant()"
>
  <div class="tenant-header">
    <span class="adding-tenant-text">Adding Tenant...</span>
    <button
      mat-raised-button
      translate="nextBtn"
      class="next-btn"
      *ngIf="this.selectedID.value !== 4"
      (click)="moveNext(this.selectedID)"
    ></button>
    <button
      mat-raised-button
      translate="saveBtn"
      class="save-btn"
      *ngIf="this.selectedID.value === 4"
      [disabled]="tenantForm.invalid || tenantForm.pristine"
    ></button>
    <button mat-raised-button translate="cancelBtn" class="cancel-btn"></button>
  </div>
  <div class="dis-flex width-100" style="padding: 5px 0">
    <div class="prevbtn p-0">
      <button
        (click)="buttonActionsInHeader(noOfTabs)"
        [disabled]="firstButton"
        class="prevnextbtns m-l-10"
      >
        <mat-icon>first_page</mat-icon>
      </button>
      <button
        (click)="buttonActionsInSteps(selectedID.value - 1, noOfTabs)"
        [disabled]="firstButton"
        class="prevnextbtns"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <div class="p-0 main-content">
      <mat-tab-group
        [selectedIndex]="selectedID.value"
        (selectedIndexChange)="selectedID.setValue($event)"
        (selectedTabChange)="onTabsChange(selectedID.value, noOfTabs)"
      >
        <mat-tab label="1. PRIMARY"></mat-tab>
        <mat-tab label="2. ERPs"></mat-tab>
        <mat-tab label="3. PROTECTED RESOURCES"></mat-tab>
        <mat-tab label="4. DB CONFIGURATIONS"></mat-tab>
        <mat-tab label="5. CONFIGURATIONS"></mat-tab>
      </mat-tab-group>
    </div>
    <div class="nextbtn p-0">
      <button
        (click)="buttonActionsInSteps(selectedID.value + 1, noOfTabs)"
        [disabled]="lastButton"
        class="prevnextbtns"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button
        (click)="buttonActionsInSteps(noOfTabs - 1, noOfTabs)"
        [disabled]="lastButton"
        class="prevnextbtns m-r-10"
      >
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
  <div class="dis-flex scroll-content">
    <div class="width-30"></div>
    <div class="custom-mat-form-field-white-color width-40">
      <div [hidden]="selectedID.value !== 0">
        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label translate>tenantId</mat-label>
            <input
              matInput
              [placeholder]="'tenantId' | translate"
              formControlName="tenantId"
            />
          </mat-form-field>
          <mat-error *ngIf="validationErrors$ | async as errors">
            {{
              errors.tenantId.name
                | translate
                  : {
                      name: 'tenantId' | translate,
                      length: errors.tenantId.length
                    }
            }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label translate>tenantName</mat-label>
            <input
              matInput
              [placeholder]="'tenantName' | translate"
              formControlName="tenantName"
            />
          </mat-form-field>
          <mat-error *ngIf="validationErrors$ | async as errors">
            {{
              errors.tenantName.name
                | translate
                  : {
                      name: 'tenantName' | translate,
                      length: errors.tenantName.length
                    }
            }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Tenant IDP</mat-label>
            <mat-select formControlName="tenantIdp">
              <mat-option value="azure">Azure</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="f.tenantIdp.errors?.required && f.tenantIdp.touched"
          >
            {{ 'fieldRequired' | translate: { name: 'tenantIdp' | translate } }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Client ID</mat-label>
            <input
              matInput
              placeholder="Client ID"
              formControlName="clientId"
            />
          </mat-form-field>
          <mat-error *ngIf="f.clientId.errors?.required && f.clientId.touched">
            {{ 'fieldRequired' | translate: { name: 'clientId' | translate } }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Authority</mat-label>
            <input
              matInput
              placeholder="Authority"
              formControlName="authority"
            />
          </mat-form-field>
          <mat-error
            *ngIf="f.authority.errors?.required && f.authority.touched"
          >
            {{ 'fieldRequired' | translate: { name: 'Authority' | translate } }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Redirect URI</mat-label>
            <input
              matInput
              placeholder="Redirect URI"
              formControlName="redirectUri"
            />
          </mat-form-field>
          <mat-error
            *ngIf="f.redirectUri.errors?.required && f.redirectUri.touched"
          >
            {{
              'fieldRequired' | translate: { name: 'redirectUri' | translate }
            }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Tenant Domain Name</mat-label>
            <input
              matInput
              placeholder="Tenant Domain Name"
              formControlName="tenantDomainName"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              f.tenantDomainName.errors?.required && f.tenantDomainName.touched
            "
          >
            {{
              'fieldRequired'
                | translate: { name: 'tenantDomainName' | translate }
            }}
          </mat-error>
        </p>

        <p class="sub-headings">Tenant Admin Details</p>

        <div formGroupName="tenantAdmin">
          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Tenant Admin First Name</mat-label>
              <input
                matInput
                placeholder="Tenant Admin First Name"
                formControlName="firstName"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('tenantAdmin.firstName').errors?.required &&
                tenantForm.get('tenantAdmin.firstName').touched
              "
            >
              {{
                'fieldRequired' | translate: { name: 'firstName' | translate }
              }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Tenant Admin Last Name</mat-label>
              <input
                matInput
                placeholder="Tenant Admin Last Name"
                formControlName="lastName"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('tenantAdmin.lastName').errors?.required &&
                tenantForm.get('tenantAdmin.lastName').touched
              "
            >
              {{
                'fieldRequired' | translate: { name: 'lastName' | translate }
              }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Tenant Admin Title</mat-label>
              <input
                matInput
                placeholder="Tenant Admin Title"
                formControlName="title"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('tenantAdmin.title').errors?.required &&
                tenantForm.get('tenantAdmin.title').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'title' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Tenant Admin Email</mat-label>
              <input
                matInput
                placeholder="Tenant Admin Email"
                formControlName="email"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('tenantAdmin.email').errors?.required &&
                tenantForm.get('tenantAdmin.email').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'email' | translate } }}
            </mat-error>
          </p>
        </div>
      </div>

      <div [hidden]="selectedID.value !== 1">
        <div formGroupName="erps">
          <div formGroupName="sap">
            <p class="sub-headings">SAP Details</p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Base URL</mat-label>
                <input
                  matInput
                  placeholder="Base URL"
                  formControlName="baseUrl"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.baseUrl').errors?.required &&
                  tenantForm.get('erps.sap.baseUrl').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'baseUrl' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Authentication URL</mat-label>
                <input
                  matInput
                  placeholder="Authentication URL"
                  formControlName="oauth2Url"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.oauth2Url').errors?.required &&
                  tenantForm.get('erps.sap.oauth2Url').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'oauth2Url' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>User Name</mat-label>
                <input
                  matInput
                  placeholder="User Name"
                  formControlName="username"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.username').errors?.required &&
                  tenantForm.get('erps.sap.username').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'username' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  formControlName="password"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.password').errors?.required &&
                  tenantForm.get('erps.sap.password').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'password' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Grant Type</mat-label>
                <input
                  matInput
                  placeholder="Grant Type"
                  formControlName="grantType"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.grantType').errors?.required &&
                  tenantForm.get('erps.sap.grantType').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'grantType' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Client ID</mat-label>
                <input
                  matInput
                  placeholder="Client ID"
                  formControlName="clientId"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.clientId').errors?.required &&
                  tenantForm.get('erps.sap.clientId').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'clientId' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Scope</mat-label>
                <input matInput placeholder="Scope" formControlName="scope" />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('erps.sap.scope').errors?.required &&
                  tenantForm.get('erps.sap.scope').touched
                "
              >
                {{ 'fieldRequired' | translate: { name: 'scope' | translate } }}
              </mat-error>
            </p>
            <p class="sub-headings">SAML Details</p>

            <div formGroupName="saml">
              <p class="m-0">
                <mat-form-field appearance="outline" class="width-100">
                  <mat-label>SAML Authentication URL</mat-label>
                  <input
                    matInput
                    placeholder="SAML Authentication URL"
                    formControlName="oauth2Url"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    tenantForm.get('erps.sap.saml.oauth2Url').errors
                      ?.required &&
                    tenantForm.get('erps.sap.saml.oauth2Url').touched
                  "
                >
                  {{
                    'fieldRequired'
                      | translate: { name: 'oauth2Url' | translate }
                  }}
                </mat-error>
              </p>

              <p class="m-0">
                <mat-form-field appearance="outline" class="width-100">
                  <mat-label>SAML Grant Type</mat-label>
                  <input
                    matInput
                    placeholder="SAML Grant Type"
                    formControlName="grantType"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    tenantForm.get('erps.sap.saml.grantType').errors
                      ?.required &&
                    tenantForm.get('erps.sap.saml.grantType').touched
                  "
                >
                  {{
                    'fieldRequired'
                      | translate: { name: 'grantType' | translate }
                  }}
                </mat-error>
              </p>

              <p class="m-0">
                <mat-form-field appearance="outline" class="width-100">
                  <mat-label>SAML Client Secret</mat-label>
                  <input
                    matInput
                    placeholder="SAML Clent Secret"
                    formControlName="clientSecret"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    tenantForm.get('erps.sap.saml.clientSecret').errors
                      ?.required &&
                    tenantForm.get('erps.sap.saml.clientSecret').touched
                  "
                >
                  {{
                    'fieldRequired'
                      | translate: { name: 'clientSecret' | translate }
                  }}
                </mat-error>
              </p>

              <p class="m-0">
                <mat-form-field appearance="outline" class="width-100">
                  <mat-label>SAML Resource</mat-label>
                  <input
                    matInput
                    placeholder="SAML Resource"
                    formControlName="resource"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    tenantForm.get('erps.sap.saml.resource').errors?.required &&
                    tenantForm.get('erps.sap.saml.resource').touched
                  "
                >
                  {{
                    'fieldRequired'
                      | translate: { name: 'resource' | translate }
                  }}
                </mat-error>
              </p>

              <p class="m-0">
                <mat-form-field appearance="outline" class="width-100">
                  <mat-label>SAML Token Use</mat-label>
                  <input
                    matInput
                    placeholder="SAML Token Use"
                    formControlName="tokenUse"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    tenantForm.get('erps.sap.saml.tokenUse').errors?.required &&
                    tenantForm.get('erps.sap.saml.tokenUse').touched
                  "
                >
                  {{
                    'fieldRequired'
                      | translate: { name: 'tokenUse' | translate }
                  }}
                </mat-error>
              </p>

              <p class="m-0">
                <mat-form-field appearance="outline" class="width-100">
                  <mat-label>SAML Token Type</mat-label>
                  <input
                    matInput
                    placeholder="SAML Token Type"
                    formControlName="tokenType"
                  />
                </mat-form-field>
                <mat-error
                  *ngIf="
                    tenantForm.get('erps.sap.saml.tokenType').errors
                      ?.required &&
                    tenantForm.get('erps.sap.saml.tokenType').touched
                  "
                >
                  {{
                    'fieldRequired'
                      | translate: { name: 'tokenType' | translate }
                  }}
                </mat-error>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="selectedID.value !== 2">
        <div formGroupName="protectedResources">
          <div formGroupName="sap">
            <p class="sub-headings">SAP Details</p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Identity Metadata</mat-label>
                <input
                  matInput
                  placeholder="Identity Metadata"
                  formControlName="identityMetadata"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.identityMetadata')
                    .errors?.required &&
                  tenantForm.get('protectedResources.sap.identityMetadata')
                    .touched
                "
              >
                {{
                  'fieldRequired'
                    | translate: { name: 'identityMetadata' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Issuer</mat-label>
                <input matInput placeholder="Issuer" formControlName="issuer" />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.issuer').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.issuer').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'issuer' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Client ID</mat-label>
                <input
                  matInput
                  placeholder="Client ID"
                  formControlName="clientId"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.clientId').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.clientId').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'clientId' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Audience</mat-label>
                <input
                  matInput
                  placeholder="Audience"
                  formControlName="audience"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.audience').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.audience').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'audience' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Scope</mat-label>
                <input matInput placeholder="Scope" formControlName="scope" />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.scope').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.scope').touched
                "
              >
                {{ 'fieldRequired' | translate: { name: 'scope' | translate } }}
              </mat-error>
            </p>

            <div class="m-0">
              <div formArrayName="urls" class="m-t-minus-25">
                <mat-icon (click)="addUrl('sap')" class="add-url-icon">
                  add
                </mat-icon>
                <div *ngFor="let url of sapUrls.controls; let i = index">
                  <mat-form-field appearance="outline" class="width-100">
                    <mat-label>URLs</mat-label>
                    <input matInput placeholder="URL" [formControlName]="i" />
                    <mat-icon
                      matSuffix
                      (click)="deleteUrl(i, 'sap')"
                      *ngIf="sapUrls.length !== 1"
                    >
                      delete
                    </mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div formGroupName="sap">
            <p class="sub-headings">Node Details</p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Identity Metadata</mat-label>
                <input
                  matInput
                  placeholder="Identity Metadata"
                  formControlName="identityMetadata"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.identityMetadata')
                    .errors?.required &&
                  tenantForm.get('protectedResources.sap.identityMetadata')
                    .touched
                "
              >
                {{
                  'fieldRequired'
                    | translate: { name: 'identityMetadata' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Issuer</mat-label>
                <input matInput placeholder="Issuer" formControlName="issuer" />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.issuer').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.issuer').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'issuer' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Client ID</mat-label>
                <input
                  matInput
                  placeholder="Client ID"
                  formControlName="clientId"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.clientId').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.clientId').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'clientId' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Audience</mat-label>
                <input
                  matInput
                  placeholder="Audience"
                  formControlName="audience"
                />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.audience').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.audience').touched
                "
              >
                {{
                  'fieldRequired' | translate: { name: 'audience' | translate }
                }}
              </mat-error>
            </p>

            <p class="m-0">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>Scope</mat-label>
                <input matInput placeholder="Scope" formControlName="scope" />
              </mat-form-field>
              <mat-error
                *ngIf="
                  tenantForm.get('protectedResources.sap.scope').errors
                    ?.required &&
                  tenantForm.get('protectedResources.sap.scope').touched
                "
              >
                {{ 'fieldRequired' | translate: { name: 'scope' | translate } }}
              </mat-error>
            </p>

            <div class="m-0">
              <div formArrayName="urls" class="m-t-minus-25">
                <mat-icon (click)="addUrl('node')" class="add-url-icon">
                  add
                </mat-icon>
                <div *ngFor="let url of nodeUrls.controls; let i = index">
                  <mat-form-field appearance="outline" class="width-100">
                    <mat-label>URLs</mat-label>
                    <input matInput placeholder="URL" [formControlName]="i" />
                    <mat-icon
                      matSuffix
                      (click)="deleteUrl(i, 'node')"
                      *ngIf="nodeUrls.length !== 1"
                    >
                      delete
                    </mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="selectedID.value !== 3">
        <div formGroupName="rdbms">
          <p class="sub-headings">RDBMS</p>
          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Host</mat-label>
              <input matInput placeholder="Host" formControlName="host" />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('rdbms.host').errors?.required &&
                tenantForm.get('rdbms.host').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'host' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Port</mat-label>
              <input
                matInput
                placeholder="Port"
                formControlName="port"
                type="number"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('rdbms.port').errors?.required &&
                tenantForm.get('rdbms.port').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'port' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>User</mat-label>
              <input matInput placeholder="User" formControlName="user" />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('rdbms.user').errors?.required &&
                tenantForm.get('rdbms.user').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'user' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                type="password"
                formControlName="password"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('rdbms.password').errors?.required &&
                tenantForm.get('rdbms.password').touched
              "
            >
              {{
                'fieldRequired' | translate: { name: 'password' | translate }
              }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Database</mat-label>
              <input
                matInput
                placeholder="Database"
                formControlName="database"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('rdbms.database').errors?.required &&
                tenantForm.get('rdbms.database').touched
              "
            >
              {{
                'fieldRequired' | translate: { name: 'database' | translate }
              }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Dialect</mat-label>
              <mat-select formControlName="dialect">
                <mat-option value="dialect">dialect</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('rdbms.dialect').errors?.required &&
                tenantForm.get('rdbms.dialect').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'dialect' | translate } }}
            </mat-error>
          </p>
        </div>
        <div formGroupName="nosql">
          <p class="sub-headings">NoSQL</p>
          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Host</mat-label>
              <input matInput placeholder="Host" formControlName="host" />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('nosql.host').errors?.required &&
                tenantForm.get('nosql.host').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'host' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Port</mat-label>
              <input
                matInput
                placeholder="Port"
                formControlName="port"
                type="number"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('nosql.port').errors?.required &&
                tenantForm.get('nosql.port').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'port' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>User</mat-label>
              <input matInput placeholder="User" formControlName="user" />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('nosql.user').errors?.required &&
                tenantForm.get('nosql.user').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'user' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                type="password"
                formControlName="password"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('nosql.password').errors?.required &&
                tenantForm.get('nosql.password').touched
              "
            >
              {{
                'fieldRequired' | translate: { name: 'password' | translate }
              }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>Database</mat-label>
              <input
                matInput
                placeholder="Database"
                formControlName="database"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('nosql.database').errors?.required &&
                tenantForm.get('nosql.database').touched
              "
            >
              {{
                'fieldRequired' | translate: { name: 'database' | translate }
              }}
            </mat-error>
          </p>
        </div>
      </div>

      <div [hidden]="selectedID.value !== 4">
        <div formGroupName="licenseInfo">
          <p class="sub-headings">License Info</p>
          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>License Start</mat-label>
              <input
                matInput
                placeholder="License Start"
                formControlName="start"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('licenseInfo.start').errors?.required &&
                tenantForm.get('licenseInfo.start').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'start' | translate } }}
            </mat-error>
          </p>

          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>License End</mat-label>
              <input matInput placeholder="License End" formControlName="end" />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('licenseInfo.end').errors?.required &&
                tenantForm.get('licenseInfo.end').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'end' | translate } }}
            </mat-error>
          </p>
          <p class="m-0">
            <mat-form-field appearance="outline" class="width-100">
              <mat-label>License Count</mat-label>
              <input
                matInput
                placeholder="License Count"
                type="number"
                formControlName="count"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                tenantForm.get('licenseInfo.count').errors?.required &&
                tenantForm.get('licenseInfo.count').touched
              "
            >
              {{ 'fieldRequired' | translate: { name: 'count' | translate } }}
            </mat-error>
          </p>
        </div>
        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Products</mat-label>
            <mat-select formControlName="products" multiple>
              <mat-option *ngFor="let product of products" [value]="product">{{
                product
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Modules</mat-label>
            <mat-select formControlName="modules" multiple>
              <mat-option *ngFor="let module of modules" [value]="module">
                {{ module }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Log DB Type</mat-label>
            <mat-select formControlName="logDBType">
              <mat-option value="logDBType"> logDBType </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              tenantForm.get('logDBType').errors?.required &&
              tenantForm.get('logDBType').touched
            "
          >
            {{ 'fieldRequired' | translate: { name: 'logDBType' | translate } }}
          </mat-error>
        </p>

        <p class="m-0">
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Log Level</mat-label>
            <mat-select formControlName="logLevel">
              <mat-option value="logLevel"> logLevel </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error
            *ngIf="
              tenantForm.get('logLevel').errors?.required &&
              tenantForm.get('logLevel').touched
            "
          >
            {{ 'fieldRequired' | translate: { name: 'logLevel' | translate } }}
          </mat-error>
        </p>
      </div>
    </div>

    <div class="width-30"></div>
  </div>
</form>
