@import '../../../../scss/colors.scss';

.chart-wrapper {
  height: 100%;
}

.warning-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $red-main;
  padding: 0 50px;

  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 20px;
}

.edit-button {
  background: $white;
  min-width: auto;
  margin: 0px 3px;
  color: $blue-main;
  border: 1px solid $blue-main;
  padding: 0px 10px 5px 10px;
  height: 36px;
}

::ng-deep .table-wrapper .mat-elevation-z8 {
  box-shadow: none;
}

.table-wrapper {
  ::ng-deep .table-column {
    width: 20%;
  }
}
