@import '../../../../scss/colors.scss';

.observations-container {
  background-color: $white;

  .charts {
    padding: 15px 150px 10px 150px;
    height: 200px;
  }

  .chart {
    border: 1px solid $border-color;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 9%);
    border-radius: 10px;
    padding: 0px 10px;
  }

  .tabs-header {
    background-color: $white;
    padding: 0 10px;
  }

  ::ng-deep .mat-tab-header {
    width: 17%;
    margin-bottom: 10px !important;
  }

  ::ng-deep .mat-tab-label {
    min-width: 120px;
  }

  ::ng-deep .mat-tab-body-content,
  .ng-trigger,
  .ng-trigger-translateTab,
  .mat-tab-list {
    transform: none !important;
  }

  ::ng-deep .mat-tab-body-wrapper {
    overflow: inherit !important;
  }
}
