<span class="array-field">
  <button id="arrayBtn" class="add-sub-fields-btn" (click)="addSubField()">
    <svg-icon
      id="arrayAddColIcon"
      icon="icon-add-column"
      class="add-sub-fields-icon"
    ></svg-icon>
    <span
      id="arrayAddFieldText"
      class="add-sub-fields-text"
      translate="addSubFields"
    ></span>
  </button>

  <div
    class="array-content dis-flex"
    *ngFor="let array of arrayFields; let i = index"
  >
    <button
      id="arrayDeleteBtn"
      class="delete-button width-5"
      (click)="delete(i)"
    >
      <svg-icon icon="icon-delete-icon" class="delete-icon"></svg-icon>
    </button>

    <div class="width-65 question-input-box">
      <svg-icon
        id="arraySixDots"
        icon="icon-six-dots"
        class="m-l-10 six-dots"
      ></svg-icon>

      <input
        id="arrayText"
        autocomplete="off"
        type="text"
        [placeholder]="'typeQuestion' | translate"
        class="width-90 question-input"
      />
    </div>

    <span id="arrayDivider" class="divider">|</span>

    <div class="width-30">
      <app-response-type-button
        [questionForm]="questionForm"
        [fieldTypes]="fieldTypes"
      >
      </app-response-type-button>
    </div>
  </div>
</span>
