<div
  class="form-header-modal"
  [formGroup]="issuesActionsDetailViewForm"
  [ngClass]="{
    'disable-detail-interactions': updatingDetails === true
  }"
>
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
    </button>
    <h4 class="heading">
      <mat-icon
        (click)="onPrevious()"
        class="arrows"
        [ngClass]="{ 'disabled-arrow': !isPreviousEnabled }"
        >keyboard_arrow_left</mat-icon
      >
      &nbsp;
      {{ this.issuesActionsDetailViewForm.get('title').value }}
      &nbsp;
      <mat-icon
        (click)="onNext()"
        class="arrows"
        [ngClass]="{ 'disabled-arrow': !isNextEnabled }"
        >keyboard_arrow_right</mat-icon
      >
    </h4>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div
      class="width-60 chat-div"
      *ngIf="logHistory$ | async as logHistory; else historyLoading"
    >
      <div
        class="chat-panel"
        [ngStyle]="{ height: chatPanelHeight }"
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight"
      >
        <ng-container *ngFor="let history of logHistory.rows; let i = index">
          <div
            [ngClass]="{
              'text-align-right': history.username === userInfo.email
            }"
          >
            <ng-container *ngIf="history.type === 'Object'">
              <ng-container *ngIf="i === 0">
                <div class="username-top">
                  {{ getUserNameByEmail(history.username) }}
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div
            class="dis-flex"
            [ngClass]="{
              'text-align-right': history.username === userInfo.email
            }"
          >
            <ng-container *ngIf="history.type === 'Object'">
              <div class="issue-created">
                <ng-container *ngIf="i === 0">
                  <span
                    class="main-heading"
                    *ngIf="data.type === 'issue'"
                    translate="issueCreated"
                  >
                  </span>
                  <span
                    class="main-heading"
                    *ngIf="data.type === 'action'"
                    translate="actionCreated"
                  >
                  </span>
                  <br />
                  <span class="data">
                    <span
                      class="sub-headings"
                      *ngIf="data.type === 'issue'"
                      translate="issue"
                    >
                    </span>
                    <span
                      class="sub-headings"
                      *ngIf="data.type === 'action'"
                      translate="action"
                    >
                    </span>
                    {{ history.message.TITLE }}
                  </span>
                  <br />
                  <span class="data" *ngIf="data.type === 'action'">
                    <span class="sub-headings" translate="description"></span>
                    {{ history.message.DESCRIPTION }}
                  </span>
                  <br *ngIf="data.type === 'action'" />
                  <span class="data" *ngIf="data.type === 'action'">
                    <span
                      class="sub-headings"
                      translate="assignedToAction"
                    ></span>
                    {{ history.message.ASSIGNEE }}
                  </span>
                  <br *ngIf="data.type === 'action'" />
                  <span class="data">
                    <span
                      class="sub-headings"
                      translate="createdByAction"
                    ></span>
                    {{ getUserNameByEmail(history.username) }}
                  </span>
                  <br *ngIf="data.category !== placeholder" />
                  <span class="data" *ngIf="data.category !== placeholder">
                    <span
                      class="sub-headings"
                      translate="categoryCreated"
                    ></span>
                    {{ data.category }}
                  </span>
                  <br *ngIf="data.round !== placeholder" />
                  <span class="data" *ngIf="data.round !== placeholder">
                    <span class="sub-headings" translate="roundCreated"></span>
                    {{ data.round }}
                  </span>
                  <br *ngIf="data.asset !== placeholder" />
                  <span class="data" *ngIf="data.asset !== placeholder">
                    <span class="sub-headings" translate="assetCreated"></span>
                    {{ data.asset }}
                  </span>
                  <br *ngIf="data.location !== placeholder" />
                  <span class="data" *ngIf="data.location !== placeholder">
                    <span
                      class="sub-headings"
                      translate="locationCreated"
                    ></span>
                    {{ data.location }}
                  </span>
                  <br *ngIf="data.plant !== placeholder" />
                  <span class="data" *ngIf="data.plant !== placeholder">
                    <span class="sub-headings" translate="plantCreated"></span>
                    {{ data.plant }}
                  </span>
                </ng-container>

                <ng-container *ngIf="i !== 0">
                  <ng-container *ngIf="history.message.STATUS">
                    <span class="data">
                      <span
                        class="sub-headings"
                        *ngIf="data.type === 'action'"
                        translate="actionStatusUpdated"
                      >
                      </span>
                      <span
                        class="sub-headings"
                        *ngIf="data.type === 'issue'"
                        translate="issueStatusUpdated"
                      >
                      </span>
                      {{ history.message.STATUS }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="history.message.ASSIGNEE">
                    <span class="data">
                      <span
                        *ngIf="history.message.assignmentType === 'add'"
                        class="sub-headings"
                        translate="assigneeAddedTo"
                      ></span>
                      <span
                        *ngIf="history.message.assignmentType === 'remove'"
                        class="sub-headings"
                        translate="assigneeRemovedTo"
                      ></span>
                      {{ getUserNameByEmail(history.message.ASSIGNEE) }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="history.message.ERPNOTIF">
                    <span class="data">
                      <span class="sub-headings" translate="erpNotif"> </span>
                      {{ history.message.ERPNOTIF }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="history.message.PRIORITY">
                    <span class="data">
                      <span class="sub-headings" translate="priorityUpdated">
                      </span>
                      {{ history.message.PRIORITY }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="history.message.DUEDATE">
                    <span class="data">
                      <span class="sub-headings" translate="dueDateUpdated">
                      </span>
                      {{ history.message.DUEDATE }}
                    </span>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>

            <ng-container *ngIf="history.type === 'Message'">
              <div class="message-created">{{ history.message }}</div>
            </ng-container>

            <ng-container *ngIf="history.type === 'Media'">
              <div class="media-created">
                <img
                  [src]="getS3Url(history.message)"
                  alt="Log History"
                  class="media-image"
                />
              </div>
            </ng-container>
          </div>
          <div
            class="time"
            [ngClass]="{
              'text-align-right': history.username === userInfo.email
            }"
          >
            {{ history.createdAt }}
          </div>
        </ng-container>
      </div>
      <div class="custom-form-field-white-color footer" #footer>
        <mat-form-field appearance="outline" class="width-90 margin">
          <textarea
            matInput
            matAutosize
            name=""
            formControlName="message"
            cdkTextareaAutosize
            #messageContainer
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
          <svg-icon
            icon="icon-add-attachment-icon"
            matSuffix
            class="add-attachment-icon"
            (click)="fileInput.click()"
          ></svg-icon>
        </mat-form-field>
        <input
          hidden
          type="file"
          accept="image/x-png,image/jpeg,,image/jpg"
          #fileInput
          (change)="uploadFile($event)"
          (click)="resetFile($event)"
        />
        <svg-icon
          icon="icon-send-message"
          class="send-message"
          (click)="createIssueOrActionHistory()"
        ></svg-icon>
      </div>
    </div>
    <ng-template #historyLoading>
      <div class="width-60 chat-div">
        <div class="chat-panel">
          <div *ngFor="let number of ghostLoading">
            <br />
            <ngx-shimmer-loading
              [width]="'47%'"
              [height]="'30px'"
              [ngClass]="number % 2 === 0 ? 'right-chat' : 'left-chat'"
              class="left-chat"
            >
            </ngx-shimmer-loading>
            <br />
          </div>
        </div>
        <div class="custom-form-field-white-color footer" #footer>
          <mat-form-field appearance="outline" class="width-90 margin">
            <input type="text" matInput [placeholder]="'type' | translate" />
            <svg-icon
              icon="icon-add-attachment-icon"
              matSuffix
              class="add-attachment-icon"
              (click)="fileInput.click()"
            ></svg-icon>
          </mat-form-field>
          <input
            hidden
            type="file"
            accept="image/x-png,image/jpeg"
            #fileInput
            (change)="uploadFile($event)"
          />
          <svg-icon icon="icon-send-message" class="send-message"></svg-icon>
        </div>
      </div>
    </ng-template>
    <div class="width-40 details-div form-fields">
      <div class="right-div p-5-0">
        <div class="titles" translate="title"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('title').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="des"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('description').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="category"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('category').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="round"></div>
        <div class="values round-title" (click)="navigateToRounds()">
          {{ this.issuesActionsDetailViewForm.get('round').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="plant"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('plant').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="location"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('location').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="asset"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('asset').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="task"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('task').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div class="titles m-t-15" translate="priority"></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="priority"
              (selectionChange)="
                updateIssueOrAction({ field: 'priority', value: $event.value })
              "
            >
              <mat-option
                *ngFor="let priority of priorities"
                [value]="priority"
                >{{ priority }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div class="titles m-t-15" translate="status"></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="status"
              (selectionChange)="
                updateIssueOrAction({ field: 'status', value: $event.value })
              "
            >
              <mat-option
                *ngFor="let status of statuses; let i = index"
                [value]="status"
                >{{ statusValues[i] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div class="titles m-t-15" translate="dueDate"></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <input
              matInput
              type="text"
              formControlName="dueDateDisplayValue"
              readonly
            />
            <input
              matInput
              [matDatepicker]="picker"
              [min]="minDate"
              formControlName="dueDate"
              (dateChange)="updateDate($event, 'dueDateDisplayValue')"
              hidden
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
              (click)="picker.open()"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />

      <div class="right-div">
        <div class="titles m-t-15" translate="assignedTo"></div>
        <ng-container *ngIf="users$ | async">
          <div class="values dropdowns">
            <mat-form-field
              appearance="outline"
              [matMenuTriggerFor]="menu"
              #menuTrigger="matMenuTrigger"
            >
              <input
                class="searchable-input"
                type="text"
                [placeholder]="'selectAssignee' | translate"
                matInput
                formControlName="assignedToDisplay"
                class="cursor"
              />
              <mat-icon matSuffix class="cursor">arrow_drop_down</mat-icon>
            </mat-form-field>
          </div>

          <mat-menu #menu="matMenu" backdropClass="assign-menu">
            <app-assign-to
              [assigneeDetails]="assigneeDetails"
              [isMultiple]="true"
              [assignedTo]="issuesActionsDetailViewForm.get('assignedTo').value"
              (selectedAssignee)="selectedAssigneeHandler($event)"
            ></app-assign-to>
          </mat-menu>
        </ng-container>
      </div>
      <hr class="line" *ngIf="data.type === 'issue'" />

      <div class="right-div p-5-0" *ngIf="data.type === 'issue'">
        <div class="titles m-t-10" translate="erpnotification"></div>
        <div class="values" *ngIf="!isCreateNotification">
          <button
            *ngIf="!data.notificationNumber.length"
            mat-raised-button
            color="primary"
            (click)="createNotification()"
          >
            {{ 'create' | translate }}
          </button>
          <span *ngIf="data.notificationNumber.length">{{
            data.notificationNumber
          }}</span>
        </div>
        <div class="values" *ngIf="isCreateNotification">
          <span>{{ 'notificationCreation' | translate }}</span>
        </div>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles" translate="raisedBy"></div>
        <div class="values">
          {{
            getUserNameByEmail(
              this.issuesActionsDetailViewForm.get('raisedBy').value
            )
          }}
        </div>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles" translate="attachment"></div>
        <div class="values">
          {{ filteredMediaType?.length }}
        </div>
      </div>
      <div class="attachments-container" *ngIf="filteredMediaType">
        <div *ngFor="let att of filteredMediaType; let i = index">
          <img
            [src]="getS3Url(att.message)"
            alt="images"
            class="attachments cursor-pointer"
            (click)="openPreviewDialog()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
