<div
  class="form-header-modal"
  [formGroup]="issuesActionsDetailViewForm"
  [ngClass]="{
    'disable-detail-interactions': updatingDetails === true
  }"
>
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
    </button>
    <h4 class="heading">
      <mat-icon class="arrows">keyboard_arrow_left</mat-icon> &nbsp;
      {{ this.issuesActionsDetailViewForm.get('title').value }}
      &nbsp; <mat-icon class="arrows">keyboard_arrow_right</mat-icon>
    </h4>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div
      class="width-60 chat-div"
      *ngIf="logHistory$ | async; else historyLoading"
    >
      <div class="chat-panel"></div>
      <div class="custom-form-field-white-color footer">
        <mat-form-field appearance="outline" class="width-90 margin">
          <input type="text" matInput placeholder="Type" />

          <svg-icon
            icon="icon-add-attachment-icon"
            matSuffix
            class="add-attachment-icon"
          ></svg-icon>
        </mat-form-field>

        <svg-icon icon="icon-send-message" class="send-message"></svg-icon>
      </div>
    </div>
    <ng-template #historyLoading>
      <div class="width-60 chat-div">
        <div class="chat-panel"></div>
        <div class="custom-form-field-white-color footer">
          <mat-form-field appearance="outline" class="width-90 margin">
            <input type="text" matInput placeholder="Type" />

            <svg-icon
              icon="icon-add-attachment-icon"
              matSuffix
              class="add-attachment-icon"
            ></svg-icon>
          </mat-form-field>

          <svg-icon icon="icon-send-message" class="send-message"></svg-icon>
        </div>
      </div>
    </ng-template>
    <div class="width-40 details-div form-fields">
      <div class="right-div p-5-0">
        <div class="titles" translate="title"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('title').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="des"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('description').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="category"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('category').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="round"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('round').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="location"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('location').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="asset"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('asset').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div class="titles" translate="task"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('task').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div class="titles m-t-15" translate="priority"></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="priority"
              (selectionChange)="
                updateIssueOrAction({ field: 'priority', value: $event.value })
              "
            >
              <mat-option
                *ngFor="let priority of priorities"
                [value]="priority"
                >{{ priority }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div class="titles m-t-15" translate="status"></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="status"
              (selectionChange)="
                updateIssueOrAction({ field: 'status', value: $event.value })
              "
            >
              <mat-option
                *ngFor="let status of statuses; let i = index"
                [value]="status"
                >{{ statusValues[i] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div class="titles m-t-15" translate="dueDate"></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <input
              matInput
              type="text"
              formControlName="dueDateDisplayValue"
              readonly
            />
            <input
              matInput
              [matDatepicker]="picker"
              [min]="minDate"
              formControlName="dueDate"
              (dateChange)="updateDate($event, 'dueDateDisplayValue')"
              hidden
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
              (click)="picker.open()"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />

      <div class="right-div">
        <div class="titles m-t-15" translate="assignedTo"></div>
        <ng-container *ngIf="users$ | async">
          <div class="values dropdowns">
            <mat-form-field
              appearance="outline"
              [matMenuTriggerFor]="menu"
              #menuTrigger="matMenuTrigger"
            >
              <input
                class="searchable-input"
                type="text"
                matInput
                formControlName="assignedTo"
                class="cursor"
              />
              <mat-icon matSuffix class="cursor">arrow_drop_down</mat-icon>
            </mat-form-field>
          </div>

          <mat-menu #menu="matMenu" backdropClass="assign-menu">
            <app-assign-to
              [assigneeDetails]="assigneeDetails"
              [isMultiple]="true"
              (selectedAssignee)="selectedAssigneeHandler($event)"
            ></app-assign-to>
          </mat-menu>
        </ng-container>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles m-t-10" translate="erpnotification"></div>
        <div class="values">
          <button
            mat-raised-button
            color="primary"
            (click)="createNotification()"
          >
            Create
          </button>
        </div>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles" translate="raisedBy"></div>
        <div class="values">
          {{ this.issuesActionsDetailViewForm.get('raisedBy').value }}
        </div>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles" translate="attachment"></div>
        <div class="values">3</div>
      </div>
      <hr class="line" />
    </div>
  </div>
</div>
