.import-questions-modal {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.heading {
  font-size: 120%;
  margin-top: 10px;
}

.clear-icon {
  font-size: 130%;
  margin-top: 10px;
}

.selected-list-element {
  list-style-type: none;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.selected-list-element:hover {
  background: #cae4fb;
  box-shadow: 0px 2px 4px rgba(160, 160, 160, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background: #cae4fb;
  box-shadow: 0px 2px 4px rgba(160, 160, 160, 0.25);
  border-radius: 5px;
}

.form-name {
  padding: 0 15px;
  color: black;
  font-size: 110%;
  margin: 7px 0 0 0;
  font-weight: 500;
}

.form-des {
  padding: 0 15px;
  color: #76767b;
  font-size: 100%;
  margin: 5px 0;
}

.no-of-ques {
  float: right;
  padding-right: 15px;
  color: #76767b;
  font-size: 100%;
}
