@import '../../../../scss/colors.scss';

.widget-delete-modal {
  width: 400px;
  height: auto;
  overflow: hidden;
  padding: 17px;
  background: $white;
  border-radius: 4px;
}

.cancel-title {
  font-size: 100%;
  font-weight: 600;
  margin: 0;
}

.cancel-subtitle {
  font-size: 90%;
  font-weight: 500;
}

.yes-btn {
  background: $red-main;
  border-radius: 4px;
  color: $white;
  float: right;
  border: none;
}

.no-btn {
  color: $blue-main;
  background: $white;
  border-radius: 4px;
  float: right;
  border: none;
}
