<div
  *ngIf="previewFormData$ | async as pageData"
  class="preview-embedded-forms"
>
  <div *ngFor="let section of pageData[0].sections; let i = index">
    <div class="section-name">
      <p id="previewEmbeddedName" class="width-90 name">
        {{ section.name ? section.name : 'Section Name' }}
      </p>
      <mat-icon id="previewEmbeddedArrow" class="section-arrow">
        keyboard_arrow_down
      </mat-icon>
    </div>
    <div *ngFor="let question of section.questions">
      <div class="dis-flex m-b-10 m-r-15">
        <div
          class="width-100 question-name dis-flex dis-flex-center"
          *ngIf="question.fieldType === 'USR'"
        >
          <span id="previewEmbeddedQuestionName" class="font-90">{{
            question.name
          }}</span>
          <span
            id="previewEmbeddedUser"
            class="font-90"
            translate="user"
          ></span>
        </div>
        <div
          class="width-100 question-name dis-flex dis-flex-center"
          *ngIf="question.fieldType === 'SGF'"
        >
          <span id="previewEmbeddedQuestionType" class="font-90">
            {{ question.name ? question.name : 'Type Question' }}
            {{ question.required ? '*' : '' }}
          </span>
          <span>
            <svg-icon
              id="previewEmbeddedSignIcon"
              icon="icon-signature"
              class="signature-icon"
            ></svg-icon>
          </span>
        </div>

        <div
          class="width-100 dis-flex dis-flex-center question-name"
          *ngIf="question.fieldType === 'DFR'"
        >
          <span id="previewEmbeddedQuestionRequired" class="font-90">
            {{ question.name ? question.name : 'Type Question' }}
            {{ question.required ? '*' : '' }}
          </span>
          <span class="width-min">
            <input id="previewEmbeddedDate" type="date" class="input-fields" />
            <input
              id="previewEmbeddedDateField"
              type="date"
              class="input-fields"
            />
          </span>
        </div>

        <div
          class="width-100 question-name"
          *ngIf="question.fieldType === 'GAL'"
        >
          <span id="previewEmbeddedGALType" class="font-90">
            {{ question.name ? question.name : 'Type Question' }}
            {{ question.required ? '*' : '' }}
          </span>
          <span class="">
            <svg-icon
              id="previewEmbeddedLocationIcon"
              icon="icon-location-view"
              class="location-icon"
            ></svg-icon>
          </span>
        </div>

        <div
          class="width-40 question-name"
          *ngIf="
            question.fieldType !== 'USR' &&
            question.fieldType !== 'INST' &&
            question.fieldType !== 'VI' &&
            question.fieldType !== 'DD' &&
            question.fieldType !== 'SGF' &&
            question.fieldType !== 'GAL' &&
            question.fieldType !== 'ATT' &&
            question.fieldType !== 'IMG' &&
            question.fieldType !== 'RT' &&
            question.fieldType !== 'ARD' &&
            question.fieldType !== 'DFR' &&
            question.value !== 'LTV'
          "
          id="previewEmbeddedLTVType"
        >
          {{ question.name ? question.name : 'Type Question' }}
          {{ question.required ? '*' : '' }}
        </div>

        <div
          class="width-100 question-name"
          *ngIf="
            question.fieldType !== 'INST' &&
            question.fieldType !== 'IMG' &&
            (question.fieldType === 'VI' ||
              question.fieldType === 'DD' ||
              question.fieldType === 'ATT' ||
              question.fieldType === 'RT' ||
              question.fieldType === 'ARD' ||
              question.value === 'LTV')
          "
          id="previewEmbeddedVIType"
        >
          {{ question.name ? question.name : 'Type Question' }}
          {{ question.required ? '*' : '' }}
        </div>
        <div
          class="width-100 question-name"
          *ngIf="question.fieldType === 'INST'"
        >
          <div [innerHTML]="question.name" class="instruction"></div>
        </div>
        <div
          class="width-40 text-left"
          *ngIf="
            question.fieldType !== 'INST' &&
            question.fieldType !== 'VI' &&
            question.fieldType !== 'DD' &&
            question.fieldType !== 'SGF' &&
            question.fieldType !== 'ATT' &&
            question.fieldType !== 'IMG' &&
            question.fieldType !== 'RT' &&
            question.fieldType !== 'ARD' &&
            question.fieldType !== 'DFR' &&
            question.fieldType !== 'GAL' &&
            question.fieldType !== 'USR' &&
            question.value !== 'LTV'
          "
          id="previewEmbeddedNoValue"
        >
          <p
            class="m-0"
            *ngIf="question.fieldType === 'TF' && question.value !== 'LTV'"
          >
            <input id="previewEmbeddedText" type="text" class="input-fields" />
          </p>

          <p class="m-0" *ngIf="question.fieldType === 'DF'">
            <input
              id="previewEmbeddedDFDate"
              type="date"
              class="input-fields"
            />
          </p>

          <p *ngIf="question.fieldType === 'CB'" class="m-0 cb-input">
            <input
              id="previewEmbeddedCBType"
              type="checkbox"
              class="radio-checkbox"
            />
            <label
              id="previewEmbeddedOption"
              for="previewEmbeddedCBType"
              class="radio-label"
            ></label>
          </p>

          <p *ngIf="question.fieldType === 'TIF'" class="m-0">
            <input
              id="previewEmbeddedTIFTime"
              type="time"
              class="input-fields"
            />
          </p>

          <p *ngIf="question.fieldType === 'NF'" class="m-0">
            <input
              id="previewEmbeddedNFType"
              type="number"
              class="input-fields"
            />
          </p>

          <p
            *ngIf="question.fieldType === 'LF'"
            class="default-value m-0 m-r-minus40"
            id="previewEmbeddedLFValue"
          >
            {{ question.value }}
          </p>

          <p
            *ngIf="question.fieldType === 'HL'"
            class="default-value m-0 m-r-minus40"
          >
            <a
              id="previewEmbeddedHLValue"
              href=" question.value"
              target="_blank"
              class="hyderlink-value"
              >{{ question.value }}</a
            >
          </p>

          <p *ngIf="question.fieldType === 'SF'" class="dis-flex m-0">
            <input
              id="previewEmbeddedSFType"
              type="text"
              class="input-fields-with-icons"
            />
            <svg-icon
              id="previewEmbeddedScanIcon"
              icon="icon-scan"
              class="scan-icon"
            ></svg-icon>
          </p>
        </div>
      </div>
      <div class="width-100">
        <div *ngIf="question.fieldType === 'ATT'" class="attachment-div">
          <a class="attachment-btn">
            <mat-icon id="previewEmbeddedATT" class="attachment-btn-img"
              >add</mat-icon
            >
          </a>
        </div>

        <div *ngIf="question.fieldType === 'IMG'">
          <img
            id="previewEmbeddedIMG"
            [src]="question.value.objectURL"
            *ngIf="question.value.objectURL"
            alt="image"
            class="image-field"
          />
        </div>

        <div *ngIf="question.fieldType === 'RT'">
          <mat-slider
            id="previewEmbeddedSlider"
            class="range-field"
            min="{{ question.value.min }}"
            max="{{ question.value.max }}"
            step="{{ question.value.increment }}"
            thumbLabel
            [displayWith]="formatLabel"
          >
          </mat-slider>
          <span id="previewEmbeddedRTMin" class="slider-min-value">
            {{ question.value.min }}
          </span>
          <span id="previewEmbeddedRTMax" class="slider-max-value">
            {{ question.value.max }}
          </span>
        </div>

        <p
          class="m-0"
          *ngIf="question.value === 'LTV' && question.fieldType === 'TF'"
        >
          <textarea
            id="previewEmbeddedTextArea"
            rows="3"
            cols="10"
            class="text-area-field"
          ></textarea>
        </p>

        <div *ngIf="question.fieldType === 'VI'" class="m-b-10">
          <div *ngIf="question.value?.value?.length > 0">
            <div *ngIf="4 >= question.value.value.length">
              <mat-button-toggle-group class="vi-input">
                <mat-button-toggle
                  class="vi-values"
                  [value]="ques.title"
                  [ngStyle]="{
                    color: ques.color
                  }"
                  *ngFor="let ques of question.value.value"
                  id="previewEmbeddedVITitle"
                >
                  {{ ques.title }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>

        <div *ngIf="question.fieldType === 'DD'" class="m-b-10">
          <div *ngIf="question.value?.value?.length > 0">
            <div *ngIf="question.value.value.length > 4">
              <mat-select class="dropdown" [multiple]="question.multi">
                <mat-option
                  *ngFor="let ques of question.value.value"
                  [value]="ques.title"
                  [ngStyle]="{
                    color: ques.color
                  }"
                  id="previewEmbeddedDDTitle"
                >
                  {{ ques.title }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
