@import '../../../../scss/colors.scss';

.locations-modal {
  height: 478px;
  width: 680px;
  overflow: hidden;
  padding: 10px;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 10px 0;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: $border-color-gray;
    border-radius: 4px;
  }

  .heading-container {
    justify-content: space-between;
    padding: 10px 10px 0 15px;

    .heading {
      font-size: 120%;
      margin-top: 10px;
    }

    .back-btn {
      border: none;
      background-color: transparent;
    }

    .clear-icon {
      font-size: 130%;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .search {
    margin: 0 10px;
    padding: 0 80px;

    .icon {
      position: relative;
      top: 3px;
    }
  }

  .actions {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    .cancel-btn {
      border-color: $blue-main;
      color: $blue-main;
      width: 160px;
      background-color: $white;
      margin-right: 10px;
    }

    .next-btn {
      background-color: $blue-main;
      color: $white;
      width: 160px;
    }

    .next-btn:disabled {
      background-color: $gray2-bg;
      color: $gray7;
    }
  }

  .list-container {
    height: 315px;
    overflow-y: auto;

    .borders {
      border-bottom: 1px solid $border-color;
      border-top: none;
    }

    .list-item-conatiner {
      border-bottom: 1px solid $gray8;
      margin: 0 15px;

      .selected-list-element {
        list-style-type: none;
        display: flex;
        width: 100%;
        cursor: pointer;
      }

      .selected-list-element:hover {
        background: $blue4-hover;
        box-shadow: 0px 2px 4px rgba(160, 160, 160, 0.25);
        border-radius: 5px;
        cursor: pointer;
      }

      .active {
        background: $blue4-hover;
        box-shadow: 0px 2px 4px rgba(160, 160, 160, 0.25);
        border-radius: 5px;
      }
    }

    .no-records {
      background: $white;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.ghost-loading {
  padding: 0 15px;
}

.master-checkbox {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.node-container {
  padding: 0px 80px;
}

.selected-items {
  margin-top: 30px;
  margin-left: 15px;
  font-weight: 500;
  color: $black;
}

.locations-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-results-text {
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
}
