<div class="locations-modal">
  <div class="dis-flex heading-container">
    <h2 class="heading">
      {{
        'selectHierarchyType'
          | translate
            : {
                type: 'Locations'
              }
      }}
    </h2>
  </div>
  <div class="search">
    <span>
      <mat-form-field class="width-100" appearance="outline">
        <mat-icon matPrefix class="icon">search</mat-icon>
        <input
          matInput
          [placeholder]="'searchLocation' | translate"
          class="width-100"
          autocomplete="off"
          [formControl]="searchLocations"
        />
      </mat-form-field>
    </span>
  </div>
  <div class="list-container">
    <div *ngIf="allItems.length; else loadingLocations" class="node-container">
      <mat-checkbox
        class="master-checkbox"
        [(ngModel)]="isMasterChecked"
        (change)="handleMasterToggle($event)"
        color="primary"
        >{{ 'selectAll' | translate }}</mat-checkbox
      >

      <hr class="borders" />
      <div *ngIf="searchFilterItems.length; else noResults">
        <div *ngFor="let location of searchFilterItems">
          <app-hierarchy-node
            [nodeData]="location"
            [selectedList]="selectedHierarchyList"
            [isMasterChecked]="isMasterCheckedData"
            (checkboxToggleHandler)="handleNodeToggle($event)"
            [mode]="'selectLocations'"
          ></app-hierarchy-node>
        </div>
      </div>
      <ng-template #noResults
        ><p class="no-results-text">
          {{ 'noResults' | translate }}
        </p></ng-template
      >
    </div>
  </div>

  <div class="locations-footer">
    <div class="selected-items">
      {{
        'selectedLocations'
          | translate
            : {
                count: selectedItems.length
              }
      }}
    </div>

    <div mat-dialog-actions class="actions">
      <button
        mat-stroked-button
        class="cancel-btn"
        mat-dialog-close="true"
        translate="Cancel"
        (click)="cancel()"
      ></button>
      <button
        mat-raised-button
        class="next-btn"
        translate="Next"
        [disabled]="selectedItems.length < 1"
        (click)="submitSelectedLocations()"
      ></button>
    </div>
  </div>
</div>

<ng-template #loadingLocations>
  <div class="ghost-loading">
    <div>
      <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
