<div class="slider-form">
  <span id="sliderValues" class="slider-values">{{ question.value.min }}</span>
  <mat-slider
    [max]="question.value.max"
    [min]="question.value.min"
    [step]="question.value.increment"
    [(ngModel)]="question.value.value"
    [ngModelOptions]="{ standalone: true }"
    color="primary"
    class="slider"
    showTickMarks
    thumbLabel
    discrete
    [displayWith]="formatLabel"
  >
    <input matSliderThumb />
  </mat-slider>
  <span id="sliderValueMax" class="slider-values">{{
    question.value.max
  }}</span>
</div>
