@import '../../../../scss/colors.scss';

.form-header-modal {
  background: $white2;

  .form-toolbar {
    height: 65px;
    background-color: $white;
    border-bottom: 1px solid $border-color;

    .back-btn {
      border: none;
      background-color: transparent;

      .back-arrow {
        height: 15px;
        width: 15px;
        position: relative;
        top: 1px;
      }
    }
  }

  .form-content {
    height: calc(100vh - 75px);

    .form-detials {
      background-color: $white;
      width: 600px;
      border-radius: 5px;
      margin: 15px auto;
      padding: 49px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
      overflow-y: auto;
      max-height: calc(100vh - 220px);

      .heading {
        font-size: 130%;
        font-weight: 500;
        color: $black;
        margin: 5px;
      }

      .sub-heading {
        font-weight: 400;
        font-size: 110%;
        color: $text-color;
        margin: 10px 5px;
      }

      .radio-btn-text {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        position: relative;
        left: 10px;
      }

      .radio-sub-text {
        font-weight: 400;
        font-size: 90%;
        color: $text-color;
        opacity: 0.8;
        margin: 3px 0px 5px 35px;
      }

      .horizontal-line {
        border: 1px solid $border-color;
        margin: 20px 0;
      }

      .form-name-description {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        margin: 20px 5px 0px 5px;
      }

      .form-name {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 6px 0px 13px 0 !important;
        }
        .error-fields {
          margin-top: 14px;
        }
      }

      .tags {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 17px 0 0 0 !important;
        }
      }

      .tags-mat-chips {
        margin: 5px 5px !important;
      }

      .buttons {
        padding: 15px 0 15px 0;
      }

      .next-btn {
        float: right;
        margin-top: 38px;
        height: 29px;
        font-weight: normal;
        line-height: normal;
      }

      .skip-btn {
        float: right;
        margin-right: 15px;
        margin-top: 38px;
        color: $radio-button-checked;
        height: 29px;
        font-weight: normal;
        line-height: normal;
        border: 1px solid $blue-main;
      }
    }
  }
  .close-icon {
    width: 20px;
    height: 30px;
  }
}

.searchable-input {
  width: 92%;
  border: 1px solid $border-color;
  padding: 5px;
  border-radius: 4px;
  margin: 10px 10px 10px 12px;
}

.scrollable-area {
  max-height: 200px;
  overflow: auto;
}

.next-btn {
  background-color: $radio-button-checked;
  border-color: $radio-button-checked;
}

.add-button {
  color: $blue-main;
  border: none;
  background: none;
  float: right;
  position: relative;
  bottom: 14px;
  right: 5px;
}
.additional-details {
  background-color: $blue7;
  border-radius: 8px;
  margin-top: 33px;
  height: 40px;
}

.additional-details-text {
  font-weight: bold;
  font-size: 120%;
  position: relative;
  top: 13px;
  left: 10px;
  margin: 0px;
  padding-bottom: 10px;
}

.label-value-text {
  display: flex;
  margin: 15px 0 5px 10px;
}

.label,
.value {
  font-size: 120%;
  font-weight: 500;
}

.cancel-icon {
  position: relative;
  top: 15px;
  left: 35px;
}

.arrow {
  font-size: 260%;
  position: relative;
  top: 5px;
}

.mat-dialog-container {
  height: 10px;
  width: 10px;
  float: left;
}

.remove-btn {
  color: $disabled-color;
  float: right;
  cursor: pointer;
  margin-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

::ng-deep .mat-option-text {
  font-size: 100%;
  display: flex;
}
.mat-error {
  margin-top: 16px;
  margin-left: 20px;
}
.formtype-flex {
  display: flex;

  input[type='radio'] {
    width: 6%;
    height: 17px;
    position: relative;
    top: 18px;
  }

  .formtype-style {
    border: 2px solid $gray;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
  }
}
