<div class="form-header-modal" [formGroup]="headerDataForm">
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
    </button>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div class="width-5"></div>
    <div class="width-95">
      <div class="form-detials">
        <h2 class="heading" translate="setFormDetailsHeading"></h2>

        <!-- <p class="sub-heading" translate="setFormTypeHeading"></p> -->
        <!-- <input
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.standalone"
          id="1"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="standalone"> </span><br /> -->

        <!-- <input
          id="2"
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.embedded"
          [disabled]="true"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="embedded"> </span><br /> -->

        <!-- <p class="radio-sub-text" translate="embeddedSubText"></p> -->

        <!-- <hr class="horizontal-line" /> -->

        <div class="form-name">
          <p class="form-name-description">
            {{ 'addFormNameMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              type="text"
              name="formName"
              matInput
              [placeholder]="'formName' | translate"
              formControlName="name"
            />
            <mat-error
              *ngIf="processValidationErrors('name')"
              class="m-5 error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : { name: 'name' | translate, length: errors.name.length }
              }}
            </mat-error>
          </mat-form-field>
          <p class="form-name-description" translate="addFormDescription"></p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>
          <p class="form-name-description">
            {{ 'plantMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100">
            <mat-select
              formControlName="plantId"
              [placeholder]="'plant' | translate"
            >
              <input
                class="searchable-input"
                [placeholder]="'search' | translate"
                (keyup)="onKeyPlant($event)"
              />
              <div class="scrollable-area">
                <mat-option
                  [value]="plant.id"
                  *ngFor="let plant of plantInformation"
                  >{{ plant.plantId }} - {{ plant.name }}</mat-option
                >
              </div>
            </mat-select>
            <mat-error
              *ngIf="processValidationErrors('plantId')"
              class="m-t-5 error-fields"
            >
              {{
                errors.plantId.name
                  | translate
                    : {
                        name: 'plant' | translate
                      }
              }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="tags">
          <p class="form-name-description m-b-0" translate="tags"></p>
          <mat-form-field class="chips-list width-100" appearance="outline">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
                class="tags-mat-chips"
              >
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                [placeholder]="'startTypingTags' | translate"
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                #tagsInput
                [formControl]="tagsCtrl"
              />
            </mat-chip-list>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div mat-dialog-actions align="end" class="buttons">
          <button
            mat-stroked-button
            type="button"
            color="primary"
            class="skip-btn"
            (click)="onCancel()"
            translate="cancelBtn"
          ></button>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="next-btn"
            (click)="next()"
            [disabled]="headerDataForm.invalid || headerDataForm.pristine"
            translate="nextBtn"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
