@import '../../../../scss/colors.scss';

.form-header-modal {
  background: $white2;

  .form-toolbar {
    height: 65px;
    background-color: $white;
    border-bottom: 1px solid $border-color;

    .back-btn {
      border: none;
      background-color: transparent;

      .back-btn-text {
        font-weight: 700;
        font-size: 120%;
        letter-spacing: 0.15px;
        color: $text-color;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }

      .back-arrow {
        height: 15px;
        width: 15px;
        position: relative;
        top: 1px;
      }
    }
  }

  .form-content {
    height: calc(100vh - 75px);

    .form-detials {
      background-color: $white;
      width: 600px;
      border-radius: 5px;
      margin: 15px auto;
      padding: 49px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

      .heading {
        font-size: 130%;
        font-weight: 500;
        color: $black;
        margin: 5px;
      }

      .sub-heading {
        font-weight: 400;
        font-size: 110%;
        color: $text-color;
        margin: 10px 5px;
      }

      .margin {
        margin: 10px 5px;
      }

      .radio-btn-text {
        font-weight: 400;
        font-size: 110%;
        color: $light-gray;
        position: relative;
        top: -2px;
      }

      .radio-sub-text {
        font-weight: 400;
        font-size: 90%;
        color: $text-color;
        opacity: 0.8;
        margin: 0px 28px;
      }

      .form-name-description {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        margin: 20px 5px 0px 5px;
      }

      .form-name {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 6px 0px 13px 0 !important;
        }
        .error-fields {
          margin-top: 14px;
        }
      }

      .tags {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 17px 0 0 0 !important;
        }
      }

      .tags-mat-chips {
        margin: 0 5px !important;
      }

      .buttons {
        padding: 10px 0 15px 0;
        margin-right: 120px;
      }

      .next-btn {
        float: right;
        margin-top: 38px;
        height: 29px;
        font-weight: normal;
        line-height: normal;
      }

      .skip-btn {
        float: right;
        margin-right: 15px;
        margin-top: 38px;
        color: $radio-button-checked;
        height: 29px;
        font-weight: normal;
        line-height: normal;
      }
    }
  }
  ::ng-deep .mat-form-field[_ngcontent-hbq-c404] {
    margin: 0.25em 0;
    margin-top: 8px;
  }
  ::ng-deep .display-toolbar .ql-toolbar.ql-snow {
    display: block;
    margin-left: 140px;
  }
}

.searchable-input {
  width: 92%;
  border: 1px solid $border-color;
  padding: 5px;
  border-radius: 4px;
  margin: 10px 10px 10px 12px;
}

.next-btn {
  background-color: $radio-button-checked;
  border-color: $radio-button-checked;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.25em 0;
  margin-top: 26px;
  position: relative;
}

.horizontal-line {
  border: 1px solid $gray9;

  margin-top: 20px;
}

.mat-icon {
  -webkit-transform: rotate(120deg);
}

.mat-error {
  margin-top: 10px;
}
.mat-dialog-actions[align='end'] {
  margin-right: 60px;
}
.attachments-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 10px;
}
