<div class="form-header-modal" [formGroup]="headerDataForm">
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
      <span class="back-btn-text">
        {{ 'backBtn' | translate }}
      </span>
    </button>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div class="width-5"></div>
    <div class="width-95">
      <div class="form-detials">
        <h2 class="heading">
          {{ 'setFormDetailsHeading' | translate }}
        </h2>

        <p class="sub-heading" translate="setFormTypeHeading"></p>
        <div class="formtype-flex">
          <div class="formtype-style">
            <input
              type="radio"
              name="formType"
              [value]="formConfigurationStatus.standalone"
              id="1"
              formControlName="formType"
            />
            <span class="radio-btn-text" translate="standalone"> </span>
            <p class="radio-sub-text" translate="standaloneSubText"></p>
          </div>
          <div class="formtype-style">
            <input
              id="2"
              type="radio"
              name="formType"
              [value]="formConfigurationStatus.embedded"
              [disabled]="true"
              formControlName="formType"
            />
            <span class="radio-btn-text" translate="embedded"> </span><br />

            <p class="radio-sub-text" translate="embeddedSubText"></p>
          </div>
        </div>
        <hr class="horizontal-line" />

        <div class="form-name">
          <p class="form-name-description">
            {{ 'addFormNameMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              type="text"
              name="formName"
              matInput
              [placeholder]="'formName' | translate"
              formControlName="name"
            />
            <mat-error
              *ngIf="processValidationErrors('name')"
              class="m-5 error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : { name: 'name' | translate, length: errors.name.length }
              }}
            </mat-error>
          </mat-form-field>
          <p class="form-name-description" translate="addFormDescription"></p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>
          <p class="form-name-description">
            {{ 'plantMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100">
            <mat-select
              formControlName="plantId"
              [placeholder]="'plant' | translate"
              (openedChange)="resetPlantSearchFilter()"
            >
              <input
                class="searchable-input"
                [placeholder]="'search' | translate"
                (keyup)="onKeyPlant($event)"
                [value]="plantFilterInput"
              />
              <div class="scrollable-area">
                <mat-option
                  [value]="plant.id"
                  *ngFor="let plant of plantInformation"
                  >{{ plant.plantId }} - {{ plant.name }}</mat-option
                >
              </div>
            </mat-select>
            <mat-error
              *ngIf="processValidationErrors('plantId')"
              class="m-t-5 error-fields"
            >
              {{
                errors.plantId.name
                  | translate
                    : {
                        name: 'plant' | translate
                      }
              }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="tags">
          <p class="form-name-description m-b-0">{{ 'tags' | translate }}</p>
          <mat-form-field class="chips-list width-100" appearance="outline">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
                class="tags-mat-chips"
              >
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                [placeholder]="'startTypingTags' | translate"
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                (click)="openAutoComplete()"
                #tagsInput
                [formControl]="tagsCtrl"
              />
            </mat-chip-list>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div
          class="additional-details"
          *ngIf="headerDataForm.get('additionalDetails')['controls'].length < 5"
        >
          <p translate="additionalDetails" class="additional-details-text"></p>
          <button class="add-button" (click)="addAdditionalDetails()">
            {{ 'add' | translate }}
          </button>
        </div>
        <div
          class="label-value-text"
          *ngIf="
            headerDataForm.get('additionalDetails')['controls']?.length > 0
          "
        >
          <div class="width-45 label">{{ 'label' | translate }}</div>
          <div class="width-45 m-l-20 value">{{ 'value' | translate }}</div>
        </div>
        <div formArrayName="additionalDetails">
          <div
            *ngFor="
              let additionalDetails of getAdditionalDetailList();
              let i = index
            "
          >
            <div [formGroupName]="i" class="dis-flex">
              <div class="width-45">
                <mat-form-field
                  appearance="outline"
                  class="m-l-5 symbol m-b-10 width-100"
                >
                  <input
                    #labelInput
                    matInput
                    type="text"
                    formControlName="label"
                    class="example-input"
                    [matAutocomplete]="autolabel"
                  />
                  <mat-icon matSuffix class="arrow">arrow_drop_down</mat-icon>
                </mat-form-field>
                <mat-error
                  *ngIf="additionalDetails.get('label').errors?.maxlength"
                >
                  {{
                    'maxlength'
                      | translate
                        : {
                            name: 'label' | translate,
                            length:
                              additionalDetails.get('label').errors.maxlength
                                .requiredLength
                          }
                  }}
                </mat-error>

                <mat-autocomplete #autolabel="matAutocomplete">
                  <mat-option
                    *ngFor="let label of filteredLabels$ | async"
                    [value]="label"
                  >
                    {{ label }}
                    <button
                      mat-button
                      class="remove-btn"
                      (click)="removeLabel(label)"
                    >
                      <span>{{ 'removeBtn' | translate }}</span>
                    </button>
                  </mat-option>
                  <mat-option
                    *ngIf="
                      headerDataForm.get('additionalDetails')['controls'][i]
                        .value.label
                    "
                  >
                    <ng-container>
                      <button
                        mat-button
                        color="primary"
                        class="p-0"
                        (click)="storeDetails(i)"
                      >
                        <mat-icon class="m-r-5">add</mat-icon>

                        <span
                          >{{ 'addNew' | translate }} ({{
                            headerDataForm.get('additionalDetails')['controls'][
                              i
                            ].value.label
                          }})</span
                        >
                      </button>
                    </ng-container>
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div class="width-45">
                <mat-form-field
                  appearance="outline"
                  class="m-l-20 symbol m-b-10 width-100"
                >
                  <input
                    #valueInput
                    matInput
                    type="text"
                    formControlName="value"
                    [matAutocomplete]="autoValue"
                    class="example-input"
                    (click)="valueOptionClick(i)"
                  />
                  <mat-icon matSuffix class="arrow">arrow_drop_down</mat-icon>
                </mat-form-field>
                <mat-error
                  *ngIf="additionalDetails.get('value').errors?.maxlength"
                >
                  {{
                    'maxlength'
                      | translate
                        : {
                            name: 'value' | translate,
                            length:
                              additionalDetails.get('value').errors.maxlength
                                .requiredLength
                          }
                  }}
                </mat-error>
                <mat-autocomplete #autoValue="matAutocomplete">
                  <mat-option
                    *ngFor="let value of filteredValues$ | async"
                    [value]="value"
                  >
                    {{ value }}
                    <button
                      mat-button
                      class="remove-btn"
                      (click)="removeValue(value)"
                    >
                      <span>{{ 'removeBtn' | translate }}</span>
                    </button>
                  </mat-option>

                  <mat-option
                    *ngIf="
                      headerDataForm.get('additionalDetails')['controls'][i][
                        'value'
                      ].value
                    "
                  >
                    <button
                      mat-button
                      color="primary"
                      class="p-0"
                      (click)="storeValueDetails()"
                    >
                      <mat-icon class="m-r-5">add</mat-icon>

                      <span
                        >{{ 'addNew' | translate }} ({{
                          headerDataForm.get('additionalDetails')['controls'][
                            i
                          ]['value'].value
                        }})</span
                      >
                    </button>
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="width-10 cancel-icon">
                <svg-icon
                  icon="icon-closeIcon"
                  class="close-icon"
                  (click)="deleteAdditionalDetails(i)"
                ></svg-icon>
              </div>
            </div>
          </div>
        </div>

        <div mat-dialog-actions align="end" class="buttons">
          <button
            mat-stroked-button
            type="button"
            color="primary"
            class="skip-btn"
            (click)="onCancel()"
            translate="cancelBtn"
          ></button>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="next-btn"
            (click)="next()"
            [disabled]="headerDataForm.invalid || headerDataForm.pristine"
            translate="nextBtn"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
