<div style="background: #f2f2f2" [formGroup]="headerDataForm">
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <img
        src="../../../../assets/rdf-forms-icons/back-arrow.svg"
        alt="back arrow"
      />
      <span class="back-btn-text">Back</span>
    </button>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div class="width-5 bg-white"></div>
    <div class="width-95">
      <div class="form-detials">
        <h2 class="heading">Set form details and Metadata</h2>

        <p class="sub-heading">Select Form type</p>
        <input
          type="radio"
          name="formType"
          value="Standalone"
          checked
          class="margin"
        />
        <span class="radio-btn-text"> Standalone </span><br />

        <input
          type="radio"
          name="formType"
          value="Embedded"
          class="margin"
          disabled
        />
        <span class="radio-btn-text"> Embedded</span><br />

        <p class="radio-sub-text">
          On Publishing form will show in your mWorkorder app
        </p>

        <hr class="horizontal-line" />

        <p class="form-name-description">Add a Form Name</p>
        <input
          type="text"
          name="formName"
          placeholder="eg. Inspection Check"
          class="inputs"
          formControlName="name"
        />
        <p class="form-name-description">
          Add a short description to your form
        </p>
        <input
          type="text"
          name="formDescription"
          placeholder="60 minutes"
          class="inputs"
          formControlName="description"
        />
        <p class="form-name-description" style="margin-bottom: 0px">Tags</p>
        <mat-form-field class="chips-list width-100" appearance="outline">
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let tag of tags"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(tag)"
              style="margin: 0 5px !important"
            >
              {{ tag }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Start typing to see tags"
              [matChipInputFor]="chipList"
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              #tagsInput
              [formControl]="tagsCtrl"
            />
          </mat-chip-list>

          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          style="float: right"
          (click)="next()"
        >
          Next
        </button>
        <button
          mat-stroked-button
          color="primary"
          style="float: right; margin-right: 15px"
          (click)="onCancel()"
        >
          Skip
        </button>
      </div>
    </div>
  </div>
</div>
