<ion-header className="nav-header">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Used Cars Analytics & Insights</ion-title>
    <ion-buttons slot="end">
      <img [src]="userImg"  style="cursor:pointer;width: 75%;height: 75%;" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card style="border-radius: 1.2em;">
          <ion-list>
            <ion-item>
              <ion-label>Model - <span style="font-size: 11px;">Response Time : {{this.respBarChart}}ms ( {{this.cachedBarChart}} )</span></ion-label>
              <ion-select [(ngModel)]="barChartModel" (ionChange)="fetchNewCarsByModelAndYear(barChartModel)"  interface="popover">
                <ion-select-option *ngFor="let modelName of modelNames" [value]="modelName">{{modelName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card style="border-radius: 1.2em;">
          <ion-list>
            <ion-item>
              <ion-label>MakeName - <span style="font-size: 11px;">Response Time : {{this.respDonutChart}}ms ( {{this.cachedDonutChart}} )</span></ion-label>
              <ion-select [(ngModel)]="doughnutMakeName" (ionChange)="fetchNewCarsByMakeName(doughnutMakeName)"  interface="popover">
                <ion-select-option *ngFor="let makeName of makeNames" [value]="makeName">{{makeName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <canvas baseChart
            [data]="doughnutChartData"
            [options]="doughnutChartOptions"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card style="border-radius: 1.2em;">
          <ion-list>
            <ion-item>
              <ion-label>MakeName - <span style="font-size: 11px;">Response Time : {{this.respLineChart}}ms ( {{this.cachedLineChart}} )</span></ion-label>
              <ion-select [(ngModel)]="lineChartMakeName" (ionChange)="fetchAllModelNameByMakeName(lineChartMakeName)"  interface="popover">
                <ion-select-option *ngFor="let makeName of makeNames" [value]="makeName">{{makeName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card style="border-radius: 1.2em;">
          <ion-list>
            <ion-item>
              <ion-label>MakeName - <span style="font-size: 11px;">Response Time : {{this.respStackChart}}ms ( {{this.cachedStackChart}} )</span></ion-label>
              <ion-select [(ngModel)]="stackChartMakeName" (ionChange)="fetchCountByMakeNameAndYear(stackChartMakeName)" interface="popover">
                <ion-select-option *ngFor="let makeName of makeNames" [value]="makeName">{{makeName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <canvas baseChart
            [datasets]="stackChartData"
            [labels]="stackChartLabels"
            [options]="stackChartOptions"
            [plugins]="stackChartPlugins"
            [legend]="stackChartLegend"
            [chartType]="stackChartType">
          </canvas>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

