<div class="modal-card custom-modal-card p-20 bulk-upload">
  <h3 *ngIf="!loadResults" class="building-wi">
    Building your Work Instructions...
  </h3>
  <h3 *ngIf="loadResults" class="building-wi">All done!</h3>

  <img
    *ngIf="!loadResults"
    class="illustration_bulkupload"
    src="assets/Images/illustration_bulkupload.svg"
    alt="Bulk Upload"
  />
  <svg-icon
    *ngIf="loadResults && isUploadSuccess()"
    icon="icon-illustration_bulkupload_success"
    class="illustration_bulkupload_success"
  ></svg-icon>

  <svg-icon
    *ngIf="loadResults && !isUploadSuccess()"
    icon="icon-illustration_bulkupload_failure"
    class="illustration_bulkupload_success"
  ></svg-icon>

  <br />
  <mat-progress-bar
    *ngIf="!loadResults"
    mode="indeterminate"
  ></mat-progress-bar>
  <div
    class="font-weight-bold"
    *ngIf="loadResults && getDraftedInstructionsCount()"
  >
    {{ getDraftedInstructionsCount() }} Work Instruction<span
      *ngIf="getDraftedInstructionsCount() > 1"
      >s</span
    >
    <span *ngIf="getDraftedInstructionsCount() === 1"> has</span>
    <span *ngIf="getDraftedInstructionsCount() > 1"> have</span> been saved as
    draft<span *ngIf="getDraftedInstructionsCount() > 1">s</span
    ><span *ngIf="!isAudioOrVideoFile">.</span
    ><span *ngIf="isAudioOrVideoFile">
      and audio file saved in the library.</span
    >
  </div>
  <div
    class="font-weight-bold"
    *ngIf="loadResults && getDraftedInstructionsCount() === 0"
  >
    {{ getDeletedInstructionsCount() }} Work Instruction<span
      *ngIf="getDeletedInstructionsCount() > 1"
      >s</span
    >
    <span *ngIf="getDeletedInstructionsCount() === 1"> has</span>
    <span *ngIf="getDeletedInstructionsCount() > 1"> have</span> been deleted
    from drafts.
  </div>
  <app-alert></app-alert>
  <br />
  <hr class="hrline-modal" [ngStyle]="getBorderStyle(true)" />
  <ul class="bulk-upload-instructions-list">
    <li *ngFor="let ins of this.ins; let i = index">
      <div *ngIf="!ins.insDeletedSuccessfully">
        <div class="pull-left">
          <mat-progress-spinner
            *ngIf="!ins.insPostingFailed && !ins.insPostedSuccessfully"
            class="bulkupload-margin"
            diameter="20"
            [color]="color"
            [mode]="mode"
          ></mat-progress-spinner>
          <mat-icon
            class="bulkupload-success-mark-position mat-primary"
            *ngIf="ins.insPostingFailed"
            >close</mat-icon
          >
          <mat-icon
            class="bulkupload-success-mark-position mat-primary"
            *ngIf="ins.insPostedSuccessfully"
            >check</mat-icon
          >
          <span class="m-l-10">{{ ins.instructionName }}</span>
        </div>
        <div class="pull-right" *ngIf="!ins.insPostingFailed">
          <mat-icon class="delete-forever-icon" (click)="deleteIns(ins, i)"
            >delete_forever</mat-icon
          >
        </div>
        <br />
      </div>
    </li>
    <li *ngIf="isAudioOrVideoFile">
      <div class="pull-left">
        <mat-progress-spinner
          *ngIf="!loadResults"
          class="bulkupload-margin"
          diameter="20"
          [color]="color"
          [mode]="mode"
        ></mat-progress-spinner>
        <span class="m-l-10" *ngIf="uploadInfo.progress !== 100"
          >{{ uploadInfo.message }}: {{ uploadInfo.progress }}%</span
        >
      </div>
    </li>
  </ul>
  <div class="modal-footer" [ngStyle]="getBorderStyle()">
    <button
      type="button"
      disabled="disabled"
      *ngIf="loadResults"
      class="publishnow-btn"
    >
      Publish Now
    </button>
    <button
      type="button"
      *ngIf="loadResults"
      (click)="close()"
      class="okay-btn"
      data-dismiss="modal"
    >
      Okay
    </button>
    <button
      type="button"
      *ngIf="!loadResults"
      (click)="close()"
      class="cancel-btn"
      data-dismiss="modal"
    >
      Cancel
    </button>
  </div>
</div>
