@import '../../../../scss/colors.scss';

.app-customizer {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  width: 400px;
  z-index: 999;
  height: 100vh;
  background-color: $white;
  border-left: 1px solid $gray41;
  box-shadow: -15px 0px 17px -7px rgba(0, 0, 0, 0.46);

  ::ng-deep .mat-card {
    box-shadow: none !important;
  }

  .hyperlink-heading {
    font-size: 1.2rem;
    border-bottom: 1px solid $gray41;
    padding: 15px;
    font-weight: 600;
    padding-left: 0;
  }

  .margin {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .input-forms {
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .delete-btn {
    float: right;
    padding: 0;
    min-width: 40px;
    margin-top: 3px;
    color: $blue24;

    .delete-btn-icon {
      width: 15px;
    }
  }

  .submit-response-btn {
    width: 48%;
    background-color: $blue-main;
    color: $white;
  }

  .submit-response-btn:disabled {
    background-color: $gray2-bg;
    color: $gray7;
    width: 48%;
  }

  .cancel-response-btn {
    width: 49%;
    margin-right: 10px;
    border: 1px solid $blue-main;
    color: $blue-main;
  }

  .width-100 {
    margin: 15px 0px;
  }

  .buttons {
    margin-top: 20px;
  }
}

.hyperlink-input {
  border: none;
  background: none;
  font-size: 130%;
  font-weight: 500;
  color: $black;
  margin-top: 5px;
  margin-left: 15px;
}
