<div class="app-customizer">
  <mat-card class="p-0">
    <mat-card-title class="m-0 light-gray">
      <div class="hyperlink-heading" translate="hyperlink"></div>
    </mat-card-title>
    <div [formGroup]="hyperlinkForm">
      <mat-form-field appearance="outline" class="m-r-10 width-100">
        <mat-label translate>title</mat-label>
        <div>
          <input
            matInput
            formControlName="displayText"
            [placeholder]="'untitledLink' | translate"
            autocomplete="off"
          />
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-r-10 width-100">
        <mat-label translate>url</mat-label>
        <div>
          <input
            matInput
            formControlName="hyperlink"
            [placeholder]="'url' | translate"
            autocomplete="off"
          />
        </div>
      </mat-form-field>
      <mat-error *ngIf="processValidationErrors('hyperlink')">
        {{
          errors.hyperlink.name
            | translate
              : {
                  name: 'hyperlink' | translate,
                  message:
                    'invalidUrl' | translate : { name: 'hyperlink' | translate }
                }
        }}
      </mat-error>
    </div>

    <div class="buttons">
      <button
        mat-stroked-button
        (click)="cancelHyperlink()"
        class="cancel-response-btn"
        translate="cancel"
      ></button>
      <button
        mat-raised-button
        (click)="submitHyperlink()"
        color="primary"
        class="submit-response-btn"
        translate="apply"
        [disabled]="hyperlinkForm.invalid || hyperlinkForm.pristine"
      ></button>
    </div>
  </mat-card>
</div>
