<div class="app-customizer">
  <mat-card class="p-0">
    <mat-card-title class="m-0 light-gray">
      <div class="top-bar">
        <svg-icon
          id="sliderResponseCancelBtn"
          icon="icon-close"
          class="cancel"
          (click)="cancelHyperlink()"
        ></svg-icon>
        <h1
          id="hyperlinkHeading"
          class="hyperlink-heading"
          translate="hyperlink"
        ></h1>
      </div>
    </mat-card-title>
    <div [formGroup]="hyperlinkForm">
      <mat-form-field appearance="outline" class="m-r-10 width-100">
        <mat-label id="hyperlinkTitle" translate>title</mat-label>
        <div>
          <input
            id="hyperlinkText"
            matInput
            formControlName="displayText"
            [placeholder]="'untitledLink' | translate"
            autocomplete="off"
          />
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-r-10 width-100">
        <mat-label id="hyperlinkUrl" translate>url</mat-label>
        <div>
          <input
            id="hyperlinkUrlText"
            matInput
            formControlName="hyperlink"
            [placeholder]="'url' | translate"
            autocomplete="off"
          />
        </div>
      </mat-form-field>
      <mat-error
        id="hyperlinkName"
        *ngIf="processValidationErrors('hyperlink')"
      >
        {{
          errors.hyperlink.name
            | translate
              : {
                  name: 'hyperlink' | translate,
                  message:
                    'invalidUrl' | translate : { name: 'hyperlink' | translate }
                }
        }}
      </mat-error>
    </div>
  </mat-card>
  <div class="hyperlinkFooter">
    <button
      id="hyperlinkCancelBtn"
      mat-stroked-button
      (click)="cancelHyperlink()"
      class="cancel-response-btn"
      translate="cancel"
    ></button>
    <button
      id="hyperlinkApplyBtn"
      mat-raised-button
      (click)="submitHyperlink()"
      color="primary"
      class="submit-response-btn"
      translate="apply"
      [disabled]="hyperlinkForm.invalid || hyperlinkForm.pristine"
    ></button>
  </div>
</div>
