@use './../../../../../../scss/colors.scss' as colors;

.uploadContainer {
  width: 500px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$white1;
}
.uploadInput {
  padding: 5px;
  background: colors.$gray38;
  border-radius: 5px 0px 0px 5px;
  border: 5px solid colors.$white;
}
.uploadBtn {
  background: colors.$green;
  padding: 5px;
  color: colors.$white;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  text-transform: uppercase;
}
.uploadHead {
  cursor: move;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  background: colors.$gray34;
  border-bottom: 2px solid colors.$gray37;
}
