@import '../../../../scss/colors.scss';

:host {
  background: $white;
  color: $white;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  min-width: 450px;
  overflow-y: scroll;
  z-index: 9999;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#openSlider {
  .mat-card {
    box-shadow: none;
  }
  .close-img {
    cursor: pointer;
  }
  .view-report-btn {
    width: 48%;
    border: 1px solid $blue-main;
    border-radius: 4px;
    color: $white;
    background: $blue-main;
    padding: 8px;
    margin-right: 10px;
    font-size: 110%;
    font-weight: 500;
  }

  .view-report-btn:disabled {
    background: $border-color;
    border: 1px solid $border-color;
    color: $light-gray;
    cursor: auto;
  }
  .download-btn {
    width: 48%;
    border: 1px solid $blue-main;
    border-radius: 4px;
    background: $white;
    padding: 3px;
    margin-top: 10px;
    position: relative;
    top: 5px;

    .download-icon {
      color: $blue-main;
      font-size: 180%;
      position: relative;
      top: 3px;
    }

    .download-text {
      color: $blue-main;
      font-size: 110%;
      position: relative;
      top: -5px;
      font-weight: 500;
      margin-left: 5px;
    }
  }

  .download-btn:disabled {
    background: $border-color;
    border: 1px solid $border-color;
    cursor: auto;

    .download-icon {
      color: $light-gray;
    }
    .download-text {
      color: $light-gray;
    }
  }

  .slider-heading {
    font-size: 130%;
  }

  .just-content-space {
    justify-content: space-between;
    align-items: center;
  }

  .sub-headings {
    margin: 5px;
    color: $light-gray;
    font-size: 110%;
    font-weight: 500;
  }

  .sub-headings-value {
    margin: 5px;
    color: $black;
    font-size: 110%;
    font-weight: 500;
  }

  .sub-headings-value-badge {
    margin: 5px;
    font-size: 110%;
    font-weight: 500;
    border-radius: 10px;
    padding: 3px 10px;
  }

  .in-progress {
    background: $in-progress-bg;
    color: $in-progress-color;
  }

  .horizon-line {
    border-bottom: 1px solid $border-color;
  }
}
