@import '../../../../scss/colors.scss';

.padding {
  padding: 0 20px;
}

.main-tenant-container {
  background-color: $white;
  position: relative;

  ::ng-deep .table-column {
    width: 30%;
  }
}

.select-products {
  margin: 14px;
  position: relative;
  top: 8px;
}

.search-field {
  position: relative;
  top: 8px;
}

.count-of-tenants {
  margin: 22px 14px 22px 0;
  float: right;
}

.tenant-count {
  font-weight: 500;
  font-size: 110%;
  color: $gray-bg;
  position: relative;
  right: 7px;
}

.tenant-text {
  font-weight: 500;
  font-size: 110%;
  color: $gray1;
}

.add-tenant-btn {
  background: $blue-main;
  color: $white;
  box-shadow: none;
  float: right;
  margin: 16px 14px 14px 0;
  font-weight: normal;
  line-height: normal;
  height: 29px;
}

.tenant-content {
  height: 75vh;
  width: 100%;
  border-top: 1px solid $border-bottom;
}

.count-loading {
  text-align: right;
  position: relative;
  top: -7px;
  margin-top: -35px;
}
