<div class="main-tenant-container" *ngIf="userInfo$ | async">
  <div class="tenant-header" [formGroup]="searchForm">
    <span class="custom-form-field-white-color select-products">
      <mat-form-field appearance="outline">
        <mat-label translate>product</mat-label>
        <mat-select multiple formControlName="products">
          <mat-select-trigger>
            {{ allProducts?.selected ? allProductsLabel : products[0] }}
            <span
              *ngIf="
                searchForm.get('products').value?.length > 1 &&
                !allProducts?.selected
              "
            >
              ( +{{ searchForm.get('products').value.length - 1 }}
              {{
                searchForm.get('products').value.length === 2 ? 'more' : 'more'
              }})
            </span>
          </mat-select-trigger>
          <mat-option
            #allProducts
            [value]="allProductsLabel"
            class="filter-option"
            (click)="toggleAllProducts()"
            >{{ allProductsLabel }}</mat-option
          >
          <mat-option
            *ngFor="let product of products"
            [value]="product"
            (click)="toggleProduct()"
          >
            {{ product }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span class="custom-form-field-gray-color search-field">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input
          matInput
          type="text"
          placeholder="Search"
          formControlName="search"
          autocomplete="off"
        />
      </mat-form-field>
    </span>

    <button
      mat-raised-button
      class="add-tenant-btn"
      translate="addTenantBtn"
      [routerLink]="['/tenant-management/create']"
      *appCheckUserHasPermission="[perms.createTenant]"
    ></button>
    <span
      class="count-of-tenants"
      *ngIf="tenantsCount$ | async as tenantsCount; else loadingTenantsCount"
    >
      <span class="tenant-count" *ngIf="tenantsCount.count">{{
        tenantsCount.count
      }}</span>
      <span class="tenant-count" *ngIf="!tenantsCount.count">0</span>
      <span class="tenant-text">{{
        'tenantsPlural'
          | translate
            : {
                count: tenantsCount.count ? tenantsCount.count : 0
              }
      }}</span>
    </span>
  </div>
  <div
    *ngIf="tenantsData$ | async; else loadingTenants"
    class="dis-flex tenant-content"
  >
    <cwp-dynamictable
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      (cellClickActionHandler)="cellClickActionHandler($event)"
      class="width-100"
    ></cwp-dynamictable>
  </div>
</div>

<ng-template #loadingTenants>
  <div class="padding">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
<ng-template #loadingTenantsCount>
  <div class="count-loading">
    <ngx-shimmer-loading [width]="'15%'" [height]="'30px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
