@import '../../../../../scss/colors.scss';

.table {
  width: 100%;
  text-align: right;
  th,
  td {
    text-align: center;
    padding: 8px;
  }
  th {
    font-weight: 500;
    font-size: 100%;
    background: aliceblue;
  }
}

.heading {
  font-weight: 500;
  font-size: 140%;
  color: $blue-head;
  margin: 15px;
  padding-left: 12px;
}
