<div id="view-location-slider">
  <mat-card>
    <div>
      <img
        (click)="cancel()"
        src="assets/rdf-forms-icons/close.svg"
        alt="close"
        class="cancel"
      />
    </div>
  </mat-card>
</div>

<div id="add-edit-slider">
  <p class="m-l-5 m-t-5" *ngIf="!this.unitEditData">
    <mat-form-field appearance="outline" class="unit-measurement">
      <mat-label translate="unitOfMeasurement"></mat-label>
      <mat-select
        [(ngModel)]="unitType"
        name="unitType"
        (selectionChange)="onMeasurementChange($event)"
        [(value)]="unitType"
      >
        <mat-option *ngFor="let unit of measurementList" [value]="unit">
          {{ unit }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <div class="m-l-5 m-t-5 display-flex" *ngIf="this.unitEditData">
    <div class="show-measurement">
      <a class="width-90" *ngIf="!isEditMeasurement">
        <input
          #measurement
          type="text"
          [size]="measurement.value !== '' ? getSize(measurement.value) : 20"
          class="form_title_input"
          [(ngModel)]="unitOfMeasurement"
          autofocus="true"
          autocomplete="off"
          (blur)="isEditMeasurement = true"
        />
      </a>
      <p *ngIf="isEditMeasurement">
        {{ unitOfMeasurement }}
        <button class="edit-icon" (click)="editMeasurement()">
          <img
            src="../../../../../assets/rdf-forms-icons/edit-icon.svg"
            alt="edit-icon"
            class="edit-icon-img"
          />
        </button>
      </p>
    </div>
    <span class="delete-icon" (click)="deleteUnitAndUOM()">
      <img
        src="../../../../../assets/rdf-forms-icons/delete-icon.svg"
        class="list-icons"
        alt="delete-icon"
      />
    </span>
  </div>

  <div
    [formGroup]="unitMeasurementForm"
    class="custom-form-field-white-color"
    style="margin-top: 15px"
  >
    <div
      class="input-container"
      formArrayName="units"
      *ngFor="
        let item of unitMeasurementForm?.get('units')?.controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <mat-form-field appearance="outline" class="m-b-10 m-l-5 description">
          <mat-label translate="description"></mat-label>
          <input matInput formControlName="description" />
          <mat-error
            *ngIf="processValidationErrors(i, 'description')"
            class="m-t-5 error-fields"
          >
            {{
              errors?.description?.name
                | translate
                  : {
                      name: 'description' | translate,
                      length: errors?.description?.length
                    }
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="m-b-10 m-l-5 symbol">
          <mat-label translate="symbol"></mat-label>
          <input matInput formControlName="symbol" />
          <mat-error
            *ngIf="processValidationErrors(i, 'symbol')"
            class="m-t-5 error-fields"
          >
            {{
              errors?.symbol?.name
                | translate
                  : {
                      name: 'symbol' | translate,
                      length: errors?.symbol?.length
                    }
            }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <span (click)="addNewUmo()" class="add-new-btn">
    <img src="assets/img/add-new.svg" alt="add-new-icon" class="add-new-icon" />
    <label translate="addNew"></label>
  </span>
</div>

<mat-dialog-actions align="end" class="footer" style="float: right">
  <button mat-button class="cancel-btn" (click)="cancel()">
    {{ 'cancel' | translate | uppercase }}
  </button>
  <button
    mat-button
    color="primary"
    (click)="onSave()"
    class="save-btn"
    [disabled]="unitMeasurementForm.invalid || isLoading"
  >
    {{ 'save' | translate | uppercase }}
    <mat-icon *ngIf="isLoading"
      ><mat-spinner color="accent" diameter="20"> </mat-spinner
    ></mat-icon>
  </button>
</mat-dialog-actions>
