<div id="view-location-slider">
  <mat-card>
    <div>
      <img
        (click)="cancel()"
        src="assets/rdf-forms-icons/close.svg"
        alt="close"
        class="cancel"
      />
    </div>
  </mat-card>
</div>

<div id="add-edit-slider">
  <p class="m-l-5 m-t-5"  *ngIf="!this.unitEditData">
    <mat-form-field appearance="outline" class="unit-measurement">
      <mat-label translate>unitOfMeasurement </mat-label>
      <mat-select
        [(ngModel)]="unitOfMeasurement"
        name="unitOfMeasurement"
        (selectionChange)="onMeasurementChange($event)"
        [(value)]="unitOfMeasurement"
      >
        <mat-option *ngFor="let unit of measurementList" [value]="unit">
          {{ unit }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
<div class="m-l-5 m-t-5 display-flex" *ngIf="this.unitEditData">
  <div class="show-measurement">
      <a class="width-90" *ngIf="!isEditMeasurement">
        <input
          #measurement
          type="text"
          [size]="measurement.value !== '' ? getSize(measurement.value) : 20"
          class="form_title_input"
          [(ngModel)]="unitOfMeasurement"
          autofocus="true"
          autocomplete="off"
         
          (blur)="isEditMeasurement = true"
        />
      </a>
  <p *ngIf="isEditMeasurement">
      {{unitOfMeasurement}}
   <button
     class="edit-icon" 
     (click)="editMeasurement()"
   >
     <img
       src="../../../../../assets/rdf-forms-icons/edit-icon.svg"
       alt="edit-icon"
       class="edit-icon-img"
     />
   </button>
  </p>
</div>
  <span class="delete-icon" (click)="deleteMeasurement()">
    <img
      src="../../../../../assets/rdf-forms-icons/delete-icon.svg"
      class="list-icons"
    />
  </span>
</div>


  <div
    [formGroup]="unitMeasurementForm"
    class="custom-form-field-white-color"
    style="margin-top: 15px"
  >
    <div
      class="input-container"
      formArrayName="units"
      *ngFor="
        let item of unitMeasurementForm?.get('units')?.controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <mat-form-field appearance="outline" class="m-b-10 m-l-5 description">
          <mat-label>{{ 'description' | translate }}</mat-label>
          <input matInput formControlName="description" />
          <mat-error
            *ngIf="processValidationErrors(i, 'description')"
            class="m-t-5 error-fields"
          >
            {{
              errors.description.name
                | translate
                  : {
                      name: 'description' | translate,
                      length: errors.description.length
                    }
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="m-b-10 m-l-5 symbol">
          <mat-label>{{ 'symbol' | translate }}</mat-label>
          <input matInput formControlName="symbol" />
          <mat-error
            *ngIf="processValidationErrors(i, 'symbol')"
            class="m-t-5 error-fields"
          >
            {{
              errors.symbol.name
                | translate
                  : {
                      name: 'symbol' | translate,
                      length: errors.symbol.length
                    }
            }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <span (click)="addNewUmo()" class="add-new-btn">
    <img src="assets/img/add-new.svg" alt="add-new-icon" class="add-new-icon" />
    <label>Add new</label>
  </span>
</div>

<mat-dialog-actions align="end" class="footer" style="float: right">
  <button mat-button class="cancel-btn" (click)="cancel()">
    {{ 'cancel' | translate | uppercase }}
  </button>
  <button
    mat-button
    color="primary"
    (click)="onSave()"
    class="save-btn"
    [disabled]="unitMeasurementForm.invalid"
  >
    {{ 'save' | translate | uppercase }}
  </button>
</mat-dialog-actions>
