@import '../../../../scss/colors.scss';

.search-container {
  position: fixed;
  top: 78px;
  right: 10px;
  z-index: 100;

  .search {
    margin-right: 14px;
    position: relative;
    top: 4px;

    .no-of-inspections {
      margin-right: 10px;
    }

    .inspections-count {
      font-weight: 500;
      font-size: 110%;
      color: $gray-bg;
    }

    .inspections-text {
      font-weight: 500;
      font-size: 110%;
      color: $gray1;
      margin-left: -1px;
    }

    .common-filter-icon {
      cursor: pointer;
      width: 15px;
      height: 15px;
    }
  }
}

.inspections-list {
  ::ng-deep .table-column {
    width: 20%;
  }

  ::ng-deep .space-between {
    width: 90px !important;
  }

  ::ng-deep .mat-column-name {
    min-width: 250px;
  }

  ::ng-deep .mat-column-tasksCompleted {
    min-width: 90px;
  }

  ::ng-deep .mat-column-dueDate {
    min-width: 95px;
  }

  ::ng-deep .mat-column-schedule {
    min-width: 80px;
  }

  ::ng-deep .mat-column-status {
    min-width: 80px;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: none !important;
  }

  ::ng-deep .dropdown .arrow {
    margin-right: 15px;
  }

  ::ng-deep .dropdown mat-icon {
    font-size: 195% !important;
    line-height: 30px !important;
  }

  ::ng-deep .date-picker {
    align-items: center;
  }

  ::ng-deep .date-picker mat-icon {
    font-size: 195% !important;
    line-height: 22px !important;
  }
}

::ng-deep .remove-zindex th {
  z-index: 0 !important;
}

.padding-lr-20 {
  padding: 0 20px;
}

.loading-inspections {
  position: absolute;
  width: 40%;
  height: 35px;
  border-radius: 5px;
  right: 270px;
  top: 6px;
}

::ng-deep .assign-menu-list + * .mat-menu-panel {
  position: relative;
  top: 60px;
  left: 915px;
}

@media (min-width: 1090px) and (max-width: 1240px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 172px !important;
    left: 495px !important;
  }
}

@media (min-width: 1240px) and (max-width: 1365px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 175px !important;
    left: 641px !important;
  }
}

@media (min-width: 1365px) and (max-width: 1515px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 175px !important;
    left: 765px !important;
  }
}

@media (min-width: 1515px) and (max-width: 1705px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 175px !important;
    left: 915px !important;
  }
}

.filter-icon {
  height: 17px !important;
  width: 17px !important;
}

@media (min-width: 1705px) and (max-width: 1820px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 175px !important;
    left: 1106px !important;
  }
}

@media (min-width: 1820px) and (max-width: 2049px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 175px !important;
    left: 1220px !important;
  }
}

@media (min-width: 2049px) and (max-width: 2735px) {
  ::ng-deep .assign-menu-list + * .mat-menu-panel {
    position: relative;
    top: 175px !important;
    left: 1450px !important;
  }
}
