<div class="filter-section" [formGroup]="dependencyForm">
  <div class="width-100 m-r-10 dis-flex">
    <span style="margin: 5px 10px 0 5px; width: 14%; padding-top: 10px"
      >Global Response</span
    >
    <mat-select
      style="width: 20%"
      class="dropdowns"
      formControlName="response"
      placeholder="Select"
    >
      <mat-option *ngFor="let resp of globalResponseSet">
        {{ resp.name }}
      </mat-option>
    </mat-select>
  </div>

  <div
    *ngIf="filterByResponseSet$ | async as responseSetHeaders"
    class="width-100 m-r-10 dis-flex"
  >
    <span style="margin: 5px 10px 0 5px; width: 14%; padding-top: 10px"
      >Filter By</span
    >
    <mat-select
      style="width: 20%"
      class="dropdowns"
      formControlName="header"
      placeholder="Select"
    >
      <mat-option *ngFor="let header of responseSetHeaders">
        {{ header }}
      </mat-option>
    </mat-select>
  </div>
</div>
