@import '../../../../../scss/colors.scss';

:host {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  border-left: 1px solid $border-color;
}

#scheduler-customizer {
  .mat-card {
    margin: 0;
    border-radius: 0;
    height: 100%;
    padding: 0;

    .cancel-side-drawer {
      position: absolute;
      left: 15px;
      top: -5px;
      cursor: pointer;
      display: inline-flex;
    }

    .heading {
      padding: 56px 16px 6px 16px;
      font-size: 80%;
    }

    .mat-card-content {
      padding: 32px;
      height: calc(100vh - 160px);
      overflow-y: auto;
      overflow-x: hidden;

      .field-info {
        color: $black;
        font-weight: 500;
        font-size: 110%;
      }

      p {
        line-height: 143%;
        margin-bottom: 0;
      }

      .field-name {
        font-weight: 500;
        background: $gray;
        padding: 12px;
        border-radius: 4px;
        height: 20px;
      }

      .schedule {
        margin: 20px 0 10px 0;
        font-size: 115%;
        font-weight: bold;
      }

      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0 6px;
        border-radius: 4px;
        text-align: center;
      }

      ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: translateY(0%);
      }

      ::ng-deep .cancel-side-drawer .mat-icon-button,
      ::ng-deep mat-datepicker-toggle .mat-icon-button {
        position: absolute;
        top: -3px;
        right: -10px;
      }

      ::ng-deep
        .mat-form-field-appearance-fill
        .mat-form-field-underline::before {
        background-color: transparent;
      }

      .by-frequency {
        display: flex;
        flex-direction: column;
        padding: 10px 16px 16px 16px;

        .weeks-of-month {
          display: flex;
          margin-bottom: 10px;
          align-items: center;
        }

        .m-r-36 {
          margin-right: 36px;
        }

        .repeat-num {
          width: 8%;
          font-weight: 500;
        }

        .repeat-day {
          width: 11%;
          font-weight: 500;
        }

        mat-form-field {
          margin-left: 20px;
        }

        .display-vertical mat-radio-button {
          margin: 5px 10px 5px 0;
        }

        .display-vertical > mat-radio-button:first-child {
          margin: 5px 10px 15px 0;
        }

        mat-radio-group.display-vertical {
          display: flex;
          flex-direction: column;

          ::ng-deep .mat-radio-label-content {
            font-weight: 400;
            font-size: 100%;
          }
        }

        .on {
          display: inline-block;
          margin-left: 27px;
        }

        .on mat-form-field {
          width: 52%;
        }

        .after {
          display: inline-block;
          margin-left: 35px;

          .occurrences-num {
            width: 20%;
          }

          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
            border-radius: 4px 0 0 4px;
          }
        }

        .after mat-form-field {
          margin-left: 0;
        }

        .after mat-form-field.occurrences {
          width: 25%;

          ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
            border-radius: 0 4px 4px 0;
          }
        }

        .row-title {
          margin: 12px 0;
          font-weight: 400;
        }

        mat-button-toggle {
          height: 34px;
          width: 34px;
          border-radius: 50%;
          margin-left: 6px;
          line-height: 34px;
        }

        ::ng-deep
          .mat-button-toggle-appearance-standard
          .mat-button-toggle-label-content {
          line-height: 0;
        }

        .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
        .mat-button-toggle-group-appearance-standard {
          border: 0;
        }

        .mat-button-toggle-group-appearance-standard
          .mat-button-toggle
          + .mat-button-toggle {
          border-left: 0;
        }

        .mat-button-toggle-checked {
          background-color: $blue-primary;
          color: $white;
        }

        ::ng-deep .mat-button-toggle .mat-button-toggle-ripple {
          border-radius: 50%;
        }

        ::ng-deep .mat-checkbox-layout {
          white-space: pre-wrap;
        }

        ::ng-deep .mat-form-field-underline {
          bottom: 1px;
        }
      }

      .schedule-type,
      .assign-to .radio-group,
      mat-radio-button {
        margin: 10px;

        ::ng-deep .mat-radio-label-content {
          font-weight: 500;
          font-size: 115%;
        }
      }

      .assign-to,
      .forms-count {
        .title {
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 24px;
          font-size: 115%;
        }

        .info {
          font-size: 85%;
          font-weight: 400;
          line-height: 20px;
          color: $gray-bg;
        }

        .cursor {
          cursor: pointer;
        }
      }

      .by-date {
        mat-calendar {
          padding: 0 32px;

          ::ng-deep
            .mat-calendar-body-cell.selected
            > .mat-calendar-body-cell-content,
          ::ng-deep
            .mat-calendar-body-cell.selected:hover
            > .mat-calendar-body-cell-content,
          ::ng-deep
            .mat-calendar-body-cell.selected
            > .mat-calendar-body-cell-content:hover {
            background-color: $blue-primary !important;
            color: $white !important;
          }
        }
      }
    }
  }

  .mat-card:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }

  .footer {
    padding: 0 15px 10px 15px;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 94%;
    justify-content: center;

    .cancel-button {
      width: 48%;
      margin-right: 10px;
    }
  }
  schedule-btn {
    float: right;
    margin-right: 40px;
    margin-top: 15px;
  }
  .left {
    display: flex;
    align-items: center;
  }
  ::ng-deep .heading-schedule {
    margin: 10px 16px 10px 16px;
    font-size: 80%;
    display: flex;
    justify-content: space-between;
  }
  .content {
    margin-top: 30px;
    margin-left: 320px;
    margin-right: 320px;
    border-radius: 10px;
    background-color: $white !important;
  }
  .bg-white {
    background-color: $light-blue-bg !important;
  }
  .schedule-btn {
    float: right;
    margin-right: 40px;
    margin-top: 15px;
  }
  ::ng-deep .center {
    text-align: center;
  }
  .dialog-close {
    margin-top: 10px;
    margin-right: 5px;
    font-weight: lighter;
    color: $gray1;
  }
  .dialog-close h2 {
    margin-top: 5px;
  }
  .close-text {
    font-weight: bold;
    font-size: 1rem;
  }
  .schedule-text {
    padding: 10px 0 10px;
    font-size: 1rem;
    background-color: $white;
    margin-bottom: 0;
    border-bottom: 1px solid $gray14;
  }
  .plus-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .form-title {
    font-weight: 500;
  }
  .form-description {
    color: $light-gray;
    margin: 2px 0;
  }
  .mt-12 {
    margin-top: 12px;
  }
  .shift-dropdown {
    color: $black;
    font-weight: 500;
    font-size: 110%;
  }

  .sub-text {
    color: $light-gray;
  }

  .mat-calendar {
    width: 50%;
    margin-left: 20%;
  }
}

#horizontal-row {
  border: 0.3px solid $gray14;
}

::ng-deep .float-right {
  float: right;
}

::ng-deep .assign-menu + * .mat-menu-panel {
  position: relative;
  top: 60px;
}
::ng-deep .mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  margin-bottom: 70px;
}

.schedule-button {
  width: 100%;
  background-color: $blue-main;
  color: $white;
  padding: 0 25px 0 25px;
}

.schedule-button:disabled {
  background-color: $gray2-bg;
  color: $gray7;
}

.date-flex {
  display: flex;
}

.form-name {
  font-weight: bold;
  font-size: 130%;
  margin: 0;
}
