@import '../../../../scss/colors.scss';

.report-delete-modal {
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background: $white;
  border-radius: 4px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 110%;
  line-height: 19px;
  margin-bottom: 10px;
  margin-top: 0;
}

.warning-body {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 19px;
  margin-bottom: 10px;
}

.widgets-bold-text {
  font-weight: 600;
}

.widgets-associated-text {
  font-style: normal;
  font-weight: 500;
  color: $blue-main;
  cursor: pointer;
}

.yes-btn {
  float: right;
  margin-top: 10px;
}

.yes-no-btn {
  float: right;
  margin-top: 10px;
}

.widgets-modal {
  margin: 10px 0px 15px 0px;
  background: $white;
  border: 1px solid gray;
  border-radius: 4px;
  position: relative;
  left: 95px;
  top: -90px;
  width: 290px;
}

.header {
  padding: 15px 15px 0 15px;
}

.dashboard-widgets-list {
  padding: 0 15px 15px 15px;
  overflow-y: scroll;
  height: auto;
  max-height: 250px;
}

.widgets-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  line-height: 21px;
  color: $gray-bg;
}

.widgets-cancel {
  background: $white;
  border: none;
  float: right;
}

.dashboard-heading {
  background: rgba(33, 150, 243, 0.08);
  padding: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 16px;
  color: $light-gray;
  margin-top: 5px;
}

.dashboard-titles {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 19px;
  color: $gray-bg;
  margin-left: 10px;
}

.cancel-icon {
  height: 15px !important;
  width: 15px !important;
}
