<div class="report-delete-modal">
  <p class="title" translate="deleteReport"></p>
  <p *ngIf="widgetCount" class="warning-body">
    <span translate="warningText1"></span>
    <span class="widgets-bold-text">{{ reportName }}</span>
    <span translate="warningText2"></span>
    <span
      class="widgets-associated-text"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      (click)="isPopoverOpen = !isPopoverOpen"
    >
      {{ widgetCount }}
    </span>
    <span translate="warningText3"></span>
    <span translate="warningText4"></span>
    <ng-template
      cdkConnectedOverlay
      cdkConnectedOverlayPanelClass="custom-popover"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayHasBackdrop]="true"
      [cdkConnectedOverlayOpen]="isPopoverOpen"
      [cdkConnectedOverlayOrigin]="trigger"
      cdkConnectedOverlayWidth="400px"
      (backdropClick)="isPopoverOpen = false"
    >
      <div class="widgets-modal">
        <div class="header custom-form-field-gray-color">
          <span class="widgets-heading" translate="widgets"></span>
          <button (click)="isPopoverOpen = false" class="widgets-cancel">
            <svg-icon icon="icon-cancel-icon" class="cancel-icon"></svg-icon>
          </button>
          <mat-form-field appearance="outline" class="width-100 m-t-10">
            <mat-icon matPrefix class="searchIcon">search</mat-icon>
            <input
              matInput
              [placeholder]="'searchDashboardOrWidgets' | translate"
              autocomplete="off"
              disabled
            />
          </mat-form-field>
        </div>
        <div class="dashboard-widgets-list">
          <ng-container *ngFor="let dashboard of groupedWidgets">
            <p class="dashboard-heading">
              {{ dashboard.dashboardName }}
              <span class="f-right">
                {{ dashboard.widgets.length }}
              </span>
            </p>
            <div *ngFor="let widget of dashboard.widgets">
              <p class="dashboard-titles">
                {{ widget.name }}
              </p>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </p>
  <p *ngIf="!widgetCount" class="warning-body">
    <span translate="deleteWarning"></span><b> {{ reportName }}</b
    >?
  </p>
  <p class="warning-body">
    <b><span translate="note"></span></b>
    <span translate="deleteText"></span>
  </p>
  <button
    mat-raised-button
    color="warn"
    class="yes-btn"
    (click)="deleteReport()"
    translate="yes"
  ></button>
  <button
    mat-button
    color="primary"
    class="yes-no-btn"
    autofocus="false"
    mat-dialog-close
    translate="no"
  ></button>
</div>
