<div class="chatsBody">
  <div class="conversationsList">
    <div class="participants">
      <button
        id="createGroupBtn"
        mat-icon-button
        (click)="switchToConversationsView()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span id="createGroupAddParticipants" class="participantsTitle" translate
        >addParticipants</span
      >
    </div>
    <div class="searchBar">
      <input
        id="createGroupSearchText"
        matInput
        placeholder="{{ 'searchPeople' | translate }}"
        name="searchKey"
        id="searchKey"
        [(ngModel)]="searchKey"
        (ngModelChange)="this.searchKeyUpdate.next($event)"
        autocomplete="off"
        class="searchInput"
      />
    </div>
    <div class="userList" (scroll)="onPeopleListScrolled($event)">
      <mat-list *ngIf="activeUsers$ | async as activeUsers; else loadingUsers">
        <mat-list-item
          *ngFor="let user of activeUsers; let i = index"
          class="peopleList"
          [ngClass]="{
            selectedUser: user.selected === true
          }"
          (click)="addParticipant(user)"
        >
          <div class="icon-button" mat-list-icon>
            <img
              id="createGroupUserImg"
              class="icon"
              [src]="user.profileImage"
            />
          </div>
          <div mat-line>
            <b id="createGroupUserName"
              >{{ user.firstName }} {{ user.lastName }}</b
            >
          </div>
          <div id="createGroupUserTitle" mat-line>{{ user.title }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="conversationContent">
    <div class="centerText userList" *ngIf="!selectedUsers.length">
      <span id="createGroupSelectUser" translate>selectUserToCreateGroup</span>
    </div>

    <div class="userList" *ngIf="selectedUsers.length">
      <span id="createGroupParticipant" class="participantLabel" translate
        >participants</span
      >

      <mat-list>
        <mat-list-item
          *ngFor="let user of selectedUsers; let i = index"
          class="peopleList"
        >
          <div class="icon-button" mat-list-icon>
            <img
              id="createGroupProfilemg"
              class="icon"
              [src]="user.profileImage"
            />
          </div>
          <div mat-line>
            <span id="createGroupName" class="userName"
              >{{ user.firstName }} {{ user.lastName }}</span
            >
          </div>
          <div id="createGroupTitle" mat-line class="userTitle">
            {{ user.title }}
          </div>
          <button
            id="createGroupRemoveParticipant"
            mat-icon-button
            (click)="removeParticipant(user)"
            [disabled]="user.disabled"
            class="closeBtn"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <mat-divider class="horiz-divider"></mat-divider>
    <div class="chatBottom">
      <div class="messageInputBar">
        <div class="messageInputGroup">
          <input
            id="createGroupAddName"
            matInput
            class="messageInput"
            placeholder="Group Name"
            [(ngModel)]="groupName"
            autocomplete="off"
            [disabled]="
              groupCreationInProgress ||
              conversationMode === 'ADD_GROUP_MEMBERS'
            "
            (keyup.enter)="onGroupCreateEnter(groupName, selectedUsers)"
          />
          <button
            id="createGroupConvBtn"
            mat-flat-button
            class="convBtn"
            color="primary"
            [disabled]="
              !(groupName.length && selectedUsers.length) ||
              groupCreationInProgress
            "
            (click)="startConversation(groupName, selectedUsers)"
            *ngIf="
              conversationMode === 'CREATE_GROUP_WITH_USER' ||
              conversationMode === 'CREATE_GROUP'
            "
            translate
          >
            <span id="createGroup" translate>createGroup</span>
            <mat-spinner
              class="displayInline"
              *ngIf="groupCreationInProgress"
              strokeWidth="5"
              diameter="25"
            ></mat-spinner>
          </button>
          <button
            id="createGroupUpdateMemBtn"
            mat-flat-button
            class="convBtn"
            color="primary"
            *ngIf="conversationMode === 'ADD_GROUP_MEMBERS'"
            [disabled]="
              !(groupName.length && selectedUsers.length) ||
              !newUsersAddedToGroup ||
              groupCreationInProgress
            "
            (click)="updateGroupMembers()"
          >
            <span id="createGroupUpdateGroup" translate>updateGroup</span>
            <mat-spinner
              class="displayInline"
              *ngIf="groupCreationInProgress"
              strokeWidth="5"
              diameter="25"
            ></mat-spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingUsers>
  <div class="p-15">
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
