@use './../../../../../../scss/colors.scss' as colors;

.chatsBody {
  display: flex;
}
.conversationsList {
  width: 400px;
  background: colors.$white;
  border-right: 2px solid colors.$white2;
  max-width: 400px;
  .searchBar {
    margin-top: 0px !important;
    display: flex;
    .searchInput {
      border-radius: 5px;
      padding: 10px;
      background: colors.$gray;
    }
    .searchMore {
      color: colors.$blue;
    }
  }
  .participants {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .participantsTitle {
    margin-left: 10px;
  }
  .userList {
    height: 60vh;
    overflow: auto;
    overflow-x: hidden;
  }
}
.conversationListItem {
  cursor: pointer;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
    background: colors.$gray35;
  }
}

.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  width: 40px;
  border-radius: 45px;
  margin-top: -15px;
  margin-right: 10px;
}

.icon-button .icon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 45px;
}
.horiz-dividerConv {
  margin: 0px 25px !important;
  width: 80% !important;
}

.conversationContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: colors.$white !important;
  height: 85vh;
  .conversationHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 50px;
    .iconButton {
      background: none;
      padding: 0;
      border: 0;
      cursor: pointer;
      width: 40px;
      border-radius: 45px;
    }
    .iconButton .icon {
      width: 45px !important;
      height: 45px !important;
      border-radius: 45px;
    }
    .userTitle {
      margin-left: 15px;
      .userName {
        width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .userDescription {
        width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .conversationBody {
    width: 100%;
    height: 275px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
  }
  .conversationMessage {
    width: 375px;
    margin: 10px 0px;
    display: flex;
    word-break: break-word;
    .nameAndMessage {
      width: 95% !important;
    }
  }
  .conv-user-icon {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 40px;
    border-radius: 45px;
    margin-right: 10px;
  }
  .attachmentItem {
    font-size: 90%;
    background: colors.$green6;
    border-radius: 5px;
    width: 99% !important;
    .attachmentTitle {
      font-size: 90%;
      font-weight: 450;
    }
    .attachmentSubTitle {
      font-size: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .downloadBtn {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        background: colors.$blue2;
        border-radius: 5px;
        color: colors.$white;

        &:hover {
          background: colors.$blue3-hover;
        }
        .downloadLabel {
          margin-left: 5px;
        }
      }
    }
  }
  .conv-user-icon .icon {
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
  .userList {
    height: 520px;
    overflow: auto;
    overflow-x: hidden;
    .participantLabel {
      font-weight: 500;
      font-size: 92%;
      padding: 10px 20px;
      display: flex;
    }
  }
  .chatBottom {
    .messageInputBar {
      display: flex;
      padding: 10px 10px;
      .messageInputGroup {
        display: flex;
        align-items: center;
      }
      .messageInput {
        padding: 10px;
        background: colors.$gray;
        margin-right: 5px;
        border-radius: 5px;
      }
      .convBtn {
        width: 225px;
      }
      .audioRecord {
        color: colors.$white;
        border-radius: 8px;
        font-size: 70%;
        background: colors.$blue;
        margin-left: 5px;
      }
    }
  }
}
.peopleList {
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background: colors.$gray35;
  }
}
.selectedUser {
  background: colors.$blue22;
}

.centerText {
  display: flex !important;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  color: colors.$gray1;
  font-weight: 400;
}

.displayInline {
  display: inline;
}

.userName {
  font-weight: 500;
}
.userTitle {
  color: colors.$gray1;
}
.closeBtn {
  color: colors.$gray1;
}
