<div ngClass="chatsBody">
  <div ngClass="conversationsList">
    <div ngClass="participants">
      <button mat-icon-button (click)="switchToConversationsView()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span ngClass="participantsTitle">Add Participants</span>
    </div>
    <div ngClass="searchBar">
      <input
        matInput
        placeholder="Search Users"
        disabled
        ngClass="searchInput"
      />
    </div>
    <div ngClass="userList">
      <mat-list>
        <mat-list-item
          *ngFor="let user of activeUsers$ | async; let i = index"
          ngClass="peopleList"
          (click)="selectUser(user)"
        >
          <div class="icon-button" mat-list-icon>
            <img class="icon" [src]="user.profileImage" />
          </div>
          <div mat-line>
            <b>{{ user.firstName }} {{ user.lastName }}</b>
          </div>
          <div mat-line>{{ user.title }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div ngClass="conversationContent">
    <div ngClass="userList">
      <mat-list>
        <mat-list-item
          *ngFor="let user of selectedUsers; let i = index"
          ngClass="peopleList"
        >
          <div class="icon-button" mat-list-icon>
            <img class="icon" [src]="user.profileImage" />
          </div>
          <div mat-line>
            <b>{{ user.firstName }} {{ user.lastName }}</b>
          </div>
          <div mat-line>{{ user.title }}</div>
          <button mat-icon-button (click)="removeParticipant(user)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <mat-divider ngClass="horiz-divider"></mat-divider>
    <div ngClass="chatBottom">
      <div ngClass="messageInputBar">
        <div ngClass="messageInputGroup">
          <input
            matInput
            ngClass="messageInput"
            placeholder="Group Name"
            [(ngModel)]="groupName"
            autocomplete="off"
          />
          <button
            mat-flat-button
            ngClass="convBtn"
            color="primary"
            [disabled]="!(groupName.length && selectedUsers.length)"
            (click)="startConversation(groupName, selectedUsers)"
          >
            Start Conversation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
