@import '../../../../../scss/colors.scss';

.questionContainerPreview {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .questionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .questionTitle {
      font-style: normal;
      font-weight: 500;
      font-size: 90%;
      line-height: 143%;
      letter-spacing: 0.107276px;
      color: $gray11;
    }
    .fieldMockValue {
      font-style: normal;
      font-weight: 400;
      font-size: 90%;
      line-height: 143%;
      letter-spacing: 0.107276px;
      color: $gray11;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .userName {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 90%;
        line-height: 143%;
        letter-spacing: 0.107276px;
        color: $light-gray;
      }
    }
  }
}
.w-100 {
  width: 100%;
}
.responseType-VI {
  color: $green;
  border: 0.715174px solid $border-color-vi;
  padding: 2px 10px;
  border-radius: 5px;
}
.photosRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: center;
  padding: 5.72139px 11.4428px;
  height: 25.44px;
  background: $photos-bg;
  border-bottom: 0.715174px solid $border-color;
}
.photosContainer {
  width: 100%;
  padding: 15px 0px;
  display: flex;
  align-items: flex-start;
}
.photoIcon {
  margin-top: -2px;
}
.photosHead {
  display: flex;
  align-items: center;
}
.image {
  width: 33%;
  margin: 5px;
  border: 1px solid $image-border;
  border-radius: 2px;
}
.thead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 233.29px;
  height: 20.8px;
  background: $gray1-bg;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 80%;
  line-height: 11px;
  text-align: center;
  letter-spacing: -0.200914px;
  color: $table-head-bg;
}
.mockTable,
.mockTableRow,
.mockTableCell {
  border: 1px solid $black;
  border-collapse: collapse;
}
.headCell {
  padding: 5px;
  width: 59px;
  height: 20.8px;
  background: $gray1-bg;
  text-align: center;
}
.text-center {
  text-align: center;
}
