<div *ngIf="selectedNode">
  <div
    *ngIf="{
      pageIndexes: pageIndexes$ | async,
      subFormPages: subFormPages$ | async,
      questionCounter: questionCounter$ | async,
      pageWiseSections: pageWiseSections$ | async,
      pageWiseSectionQuestions: pageWiseSectionQuestions$ | async,
      sectionIds: sectionIds$ | async,
      questionIds: questionIds$ | async,
      pageWiseQuestionLogics: pageWiseQuestionLogics$ | async,
      importedSectionsByTemplateId: importedSectionsByTemplateId$ | async,
      formConfigurationCounter: getFormConfigurationCounter$ | async
    } as props"
  >
    <ng-container *ngFor="let pageIndex of props.pageIndexes">
      <app-page
        [pageIndex]="pageIndex"
        [page]="props.pageWiseSectionQuestions[pageIndex].page"
        [pageQuestionsCount]="
          props.pageWiseSectionQuestions[pageIndex].pageQuestionsCount
        "
        [isTemplate]="isTemplate"
        [isEmbeddedForm]="isEmbeddedForm"
        (pageEvent)="pageEventHandler($event)"
        cdkDropListGroup
        [selectedNodeId]="selectedNode.id"
      >
        <div
          cdkDropList
          (cdkDropListDropped)="dropSection($event, pageIndex, selectedNode.id)"
          [cdkDropListData]="props.pageWiseSections[pageIndex]"
        >
          <ng-container *ngIf="sectionIndexes$ | async as sectionIndexes">
            <div *ngFor="let sectionIndex of sectionIndexes[pageIndex]">
              <div class="dis-flex" cdkDrag>
                <div class="section-drag-handler">
                  <svg-icon
                    icon="icon-six-dots-white"
                    class="section-six-dots"
                    [ngClass]="{
                      'section-six-dots': isPreviewActive === false,
                      'section-six-dots-preview': isPreviewActive === true
                    }"
                    cdkDragHandle
                  ></svg-icon>
                </div>

                <app-section
                  class="sectionContainer"
                  [pageIndex]="pageIndex"
                  [sectionIndex]="sectionIndex"
                  [isTemplate]="isTemplate"
                  [sectionId]="props.sectionIds[pageIndex][sectionIndex]"
                  (sectionEvent)="sectionEventHandler($event)"
                  [selectedNodeId]="selectedNode.id"
                  [section]="
                    props.pageWiseSectionQuestions[pageIndex][
                      props.sectionIds[pageIndex][sectionIndex]
                    ].section
                  "
                  [sectionQuestionsCount]="
                    props.pageWiseSectionQuestions[pageIndex][
                      props.sectionIds[pageIndex][sectionIndex]
                    ].questions.length
                  "
                >
                  <div
                    class="sectionMinimumDragArea"
                    cdkDropList
                    id="{{ props.sectionIds[pageIndex][sectionIndex] }}"
                    [cdkDropListConnectedTo]="props.sectionIds[pageIndex]"
                    (cdkDropListDropped)="
                      drop(
                        $event,
                        pageIndex,
                        props.sectionIds[pageIndex][sectionIndex],
                        selectedNode.id
                      )
                    "
                    [cdkDropListData]="
                      props.pageWiseSectionQuestions[pageIndex][
                        props.sectionIds[pageIndex][sectionIndex]
                      ].questions
                    "
                    [id]="props.sectionIds[pageIndex][sectionIndex]"
                  >
                    <div
                      *ngIf="
                        props.pageWiseSectionQuestions[pageIndex][
                          props.sectionIds[pageIndex][sectionIndex]
                        ].questions.length === 0
                      "
                    >
                      <span
                        id="builderEmptySection"
                        class="sectionEmpty"
                        translate="sectionEmptyMessage"
                      >
                      </span>
                      <div class="floating-btns empty-section">
                        <button
                          id="builderQuestionsBtn"
                          class="questions-btn"
                          (click)="
                            addQuestion(
                              pageIndex,
                              props.sectionIds[pageIndex][sectionIndex],
                              0,
                              selectedNode.id
                            )
                          "
                        >
                          <svg-icon
                            id="builderAddQuestionIcon"
                            icon="icon-add-question"
                            class="add-question-icon"
                          ></svg-icon>
                          <p
                            id="builderAddQuestionText"
                            class="questions-delete-btn-text"
                            translate="question"
                          ></p>
                        </button>
                      </div>
                    </div>
                    <ng-container
                      *ngFor="
                        let questionId of props.questionIds[pageIndex][
                          props.sectionIds[pageIndex][sectionIndex]
                        ];
                        let questionIndex = index
                      "
                    >
                      <div
                        cdkDrag
                        [cdkDragDisabled]="
                          pageWiseSections[pageIndex][sectionIndex]?.isImported
                        "
                        class="questionContainer"
                        [ngClass]="{
                          'highlight-bg':
                            props.pageWiseSectionQuestions[pageIndex][
                              props.sectionIds[pageIndex][sectionIndex]
                            ].questions[questionIndex].isOpen === true
                        }"
                      >
                        <div class="question-drag-handler">
                          <svg-icon
                            *ngIf="
                              !pageWiseSections[pageIndex][sectionIndex]
                                ?.isImported
                            "
                            icon="icon-six-dots"
                            class="question-six-dots section-dots"
                            cdkDragHandle
                          ></svg-icon>
                          <svg-icon
                            *ngIf="
                              pageWiseSections[pageIndex][sectionIndex]
                                ?.isImported
                            "
                            icon="icon-Unlink"
                            class="icon-unlink"
                          ></svg-icon>
                        </div>

                        <app-question
                          class="question"
                          [pageIndex]="pageIndex"
                          [sectionId]="
                            props.sectionIds[pageIndex][sectionIndex]
                          "
                          [isImported]="
                            pageWiseSections[pageIndex][sectionIndex]
                              ?.isImported
                          "
                          [isTemplate]="isTemplate"
                          [questionId]="questionId"
                          [questionIndex]="questionIndex"
                          [question]="
                            props.pageWiseSectionQuestions[pageIndex][
                              props.sectionIds[pageIndex][sectionIndex]
                            ].questions[questionIndex]
                          "
                          [logics]="
                            props.pageWiseQuestionLogics[pageIndex][questionId]
                              .logics
                          "
                          (questionEvent)="questionEventHandler($event)"
                          [selectedNodeId]="selectedNode.id"
                          [isPreviewActive]="isPreviewActive"
                          [isEmbeddedForm]="isEmbeddedForm"
                        ></app-question>
                      </div>
                    </ng-container>
                  </div>
                </app-section>
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="isEmptyPage[pageIndex]"
            class="emptyPageContainer"
          >
            <div
              class="floating-btns"
              *ngIf="props.sectionIds[pageIndex].length !== 0"
            >
              <button
                id="builderQuestionBtn"
                class="questions-btn"
                (click)="
                  addQuestion(
                    pageIndex,
                    props.sectionIds[pageIndex][0],
                    0,
                    selectedNode.id
                  )
                "
              >
                <svg-icon
                  id="builderQuesIcon"
                  icon="icon-add-question"
                  class="add-question-icon"
                ></svg-icon>
                <p
                  id="builderQuestionText"
                  class="questions-delete-btn-text"
                  translate="question"
                ></p>
              </button>
              <br />

              <button id="builderDeleteBtn" class="delete-btn">
                <svg-icon
                  id="builderDeleteIcon"
                  icon="icon-delete-question"
                  class="add-question-icon"
                ></svg-icon>
                <p
                  id="builderDeleteText"
                  class="questions-delete-btn-text"
                  translate="delete"
                ></p>
              </button>
            </div>
            <button
              id="builderAddSection"
              class="add-section-btn"
              [ngClass]="{
                'add-section-btn': props.sectionIds[pageIndex].length !== 0,
                'add-section-without-floating-btns':
                  props.sectionIds[pageIndex].length === 0
              }"
              (click)="addSection(pageIndex)"
            >
              <svg-icon
                id="builderAddSectionIcon"
                icon="icon-add-section"
                class="add-section-btn-icon"
              ></svg-icon>
              {{ 'addSection' | translate }}
            </button>
          </ng-container>
        </div>
      </app-page>
    </ng-container>
  </div>
  <div
    *ngIf="isEmptyPlan"
    [ngClass]="{
      emptyRoutePlanContainer: moduleName === 'rounds',
      emptyRoutePlanContainerWithPreview: moduleName === 'forms'
    }"
  >
    <div>
      <svg-icon
        id="builderAddPageIcon"
        icon="icon-add-page"
        class="add-page-icon"
      ></svg-icon>
    </div>
    <div
      id="builderEmptyRound"
      class="empty-text"
      translate="emptyRoundsPlan"
    ></div>
    <div>
      <button id="builderAddPageBtn" class="add-page-btn" (click)="addPage()">
        <svg-icon
          id="builderAddPage"
          icon="icon-add-page"
          class="icon-add-page"
        ></svg-icon>
        {{ 'addPage' | translate }}
      </button>
    </div>
  </div>
</div>
