<div class="user-modal" [formGroup]="userForm">
  <span *ngIf="dialogText === 'editUser'" class="title" translate
    >editUser</span
  >
  <span *ngIf="dialogText === 'addUser'" class="title" translate>addUser</span>
  <span class="dialog-close-btn" (click)="close()">
    <mat-icon class="dialog-close">close</mat-icon>
  </span>

  <div class="image-upload">
    <img [src]="profileImage" class="user-profile-img" />
    <label for="file-input">
      <img
        src="assets//user-management-icons/upload.svg"
        class="file-upload-icon"
      />
    </label>
    <input type="hidden" formControlName="profileImageFileName" />
    <input
      id="file-input"
      type="file"
      (change)="onFileChange($event)"
      accept="image/*"
    />
  </div>
  <div class="custom-form-field-white-color" style="margin-top: 15px">
    <div class="input-container">
      <mat-form-field appearance="outline" class="m-b-10 first-name">
        <mat-label>{{ 'firstName' | translate }}</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error
          *ngIf="
            !userForm.controls.firstName.errors?.noWhiteSpace &&
            userForm.controls.firstName.errors?.required &&
            userForm.controls.firstName.touched
          "
          class="m-t-5 error-fields"
        >
          {{ 'fieldRequired' | translate: { name: 'firstName' | translate } }}
        </mat-error>
        <mat-error
          *ngIf="
            !userForm.controls.firstName.errors?.noWhiteSpace &&
            userForm.controls.firstName.errors?.minlength &&
            userForm.controls.firstName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'fieldMinimumLength'
              | translate
                : {
                    name: 'firstName' | translate,
                    length:
                      userForm.controls.firstName.errors?.minlength
                        .requiredLength
                  }
          }}
        </mat-error>
        <mat-error
          *ngIf="
            !userForm.controls.firstName.errors?.noWhiteSpace &&
            userForm.controls.firstName.errors?.maxlength &&
            userForm.controls.firstName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'fieldMaximumLength'
              | translate
                : {
                    name: 'firstName' | translate,
                    length:
                      userForm.controls.firstName.errors?.maxlength
                        .requiredLength
                  }
          }}
        </mat-error>

        <mat-error
          *ngIf="
            !userForm.controls.firstName.errors?.noWhiteSpace &&
            userForm.controls.firstName.errors?.pattern &&
            userForm.controls.firstName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'patternNotAllowed' | translate: { name: 'firstName' | translate }
          }}
        </mat-error>

        <mat-error
          *ngIf="
            userForm.controls.firstName.errors?.noWhiteSpace &&
            userForm.controls.firstName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'noWhiteSpace'
              | translate
                : {
                    name: 'firstName' | translate
                  }
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-b-10 last-name">
        <mat-label>{{ 'lastName' | translate }}</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error
          *ngIf="
            !userForm.controls.lastName.errors?.noWhiteSpace &&
            userForm.controls.lastName.errors?.required &&
            userForm.controls.lastName.touched
          "
          class="m-t-5 error-fields"
        >
          {{ 'fieldRequired' | translate: { name: 'lastName' | translate } }}
        </mat-error>
        <mat-error
          *ngIf="
            !userForm.controls.lastName.errors?.noWhiteSpace &&
            userForm.controls.lastName.errors?.minlength &&
            userForm.controls.lastName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'fieldMinimumLength'
              | translate
                : {
                    name: 'lastName' | translate,
                    length:
                      userForm.controls.lastName.errors?.minlength
                        .requiredLength
                  }
          }}
        </mat-error>
        <mat-error
          *ngIf="
            !userForm.controls.lastName.errors?.noWhiteSpace &&
            userForm.controls.lastName.errors?.maxlength &&
            userForm.controls.lastName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'fieldMaximumLength'
              | translate
                : {
                    name: 'lastName' | translate,
                    length:
                      userForm.controls.lastName.errors?.maxlength
                        .requiredLength
                  }
          }}
        </mat-error>

        <mat-error
          *ngIf="
            !userForm.controls.lastName.errors?.noWhiteSpace &&
            userForm.controls.lastName.errors?.pattern &&
            userForm.controls.lastName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'patternNotAllowed' | translate: { name: 'lastName' | translate }
          }}
        </mat-error>

        <mat-error
          *ngIf="
            userForm.controls.lastName.errors?.noWhiteSpace &&
            userForm.controls.lastName.touched
          "
          class="m-t-5 error-fields"
        >
          {{
            'noWhiteSpace'
              | translate
                : {
                    name: 'lastName' | translate
                  }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field
      appearance="outline"
      class="input-container width-100 m-b-10"
    >
      <mat-label>{{ 'title' | translate }}</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        *ngIf="
          !userForm.controls.title.errors?.noWhiteSpace &&
          userForm.controls.title.errors?.required &&
          userForm.controls.title.touched
        "
        class="m-t-5 error-fields"
      >
        {{ 'fieldRequired' | translate: { name: 'title' | translate } }}
      </mat-error>
      <mat-error
        *ngIf="
          !userForm.controls.title.errors?.noWhiteSpace &&
          userForm.controls.title.errors?.minlength &&
          userForm.controls.title.touched
        "
        class="m-t-5 error-fields"
      >
        {{
          'fieldMinimumLength'
            | translate
              : {
                  name: 'title' | translate,
                  length:
                    userForm.controls.title.errors?.minlength.requiredLength
                }
        }}
      </mat-error>
      <mat-error
        *ngIf="
          !userForm.controls.title.errors?.noWhiteSpace &&
          userForm.controls.title.errors?.maxlength &&
          userForm.controls.title.touched
        "
        class="m-t-5 error-fields"
      >
        {{
          'fieldMaximumLength'
            | translate
              : {
                  name: 'title' | translate,
                  length:
                    userForm.controls.title.errors?.maxlength.requiredLength
                }
        }}
      </mat-error>
      <mat-error
        *ngIf="
          userForm.controls.title.errors?.noWhiteSpace &&
          userForm.controls.title.touched
        "
        class="m-t-5 error-fields"
      >
        {{
          'noWhiteSpace'
            | translate
              : {
                  name: 'title' | translate
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10">
      <mat-label>{{ 'email' | translate }}</mat-label>
      <input matInput formControlName="email" />
      <div matSuffix>
        <mat-spinner
          *ngIf="verificationInProgress"
          strokeWidth="5"
          diameter="25"
        ></mat-spinner>
        <button *ngIf="emailValidated" mat-icon-button>
          <mat-icon class="email-verified" *ngIf="isValidIDPUser"
            >check_circle</mat-icon
          >
          <mat-icon class="email-not-verified" *ngIf="!isValidIDPUser"
            >error_outline</mat-icon
          >
        </button>
      </div>
      <mat-error
        *ngIf="
          userForm.controls.email.errors?.required &&
          userForm.controls.email.touched
        "
        class="m-t-5"
      >
        {{
          'fieldRequired'
            | translate
              : {
                  name: 'email' | translate
                }
        }}
      </mat-error>
      <mat-error
        *ngIf="
          userForm.controls.email.errors?.email &&
          userForm.controls.email.touched
        "
        class="m-t-5"
      >
        {{ 'validEmail' | translate }}
      </mat-error>

      <mat-error
        *ngIf="
          userForm.controls.email.hasError('duplicateName') &&
          userForm.controls.email.touched
        "
        class="m-t-5"
      >
        {{
          'alreadyExists'
            | translate
              : {
                  name: 'email' | translate
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10">
      <mat-label>{{ 'roles' | translate }}</mat-label>
      <mat-select
        name="priority"
        multiple
        [compareWith]="objectComparisonFunction"
        formControlName="roles"
      >
        <mat-select-trigger>
          {{ roles.value[0]?.name }}
          <span
            *ngIf="roles.value?.length > 1"
            class="example-additional-selection"
          >
            (+{{ roles.value.length - 1 }}
            {{ roles.value?.length === 2 ? 'more' : 'more' }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let role of rolesInput; let i = index"
          [value]="role"
          style="padding-right: 0"
          class="roles-select"
          [disabled]="role.name === superAdminText"
        >
          <span>{{ role.name }}</span>
          <div (click)="$event.stopPropagation()" class="info-div">
            <mat-icon
              cdkOverlayOrigin
              (click)="getPermissions(role)"
              #trigger="cdkOverlayOrigin"
              class="material-icons-outlined"
              style="
                margin-top: 17px;
                float: right;
                color: #9e9e9e;
                font-size: 140%;
              "
              (click)="isfilterTooltipOpen[i] = true"
            >
              info_border
            </mat-icon>
          </div>
          <ng-template
            cdkConnectedOverlay
            cdkConnectedOverlayPanelClass="custom-popover"
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            [cdkConnectedOverlayHasBackdrop]="true"
            [cdkConnectedOverlayOpen]="isfilterTooltipOpen[i]"
            [cdkConnectedOverlayOrigin]="trigger"
            cdkConnectedOverlayWidth="400px"
            (backdropClick)="isfilterTooltipOpen[i] = false"
          >
            <div class="permissions-modal">
              <div class="header custom-form-field-gray-color">
                <span class="widgets-heading">Permissions</span>
                <button
                  (click)="isfilterTooltipOpen[i] = false"
                  class="permissions-cancel"
                >
                  <img src="assets/img/svg/cancel-icon.svg" />
                </button>
                <app-permissions
                  [selectedRolePermissions$]="selectedRolePermissions$"
                  [allPermissions$]="permissionsList$"
                  [rolesWithPermissionsInUsers]="userRolePermissions"
                ></app-permissions>
              </div>
              <div class="dashboard-widgets-list"></div>
            </div>
          </ng-template>
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          userForm.controls.roles.errors?.selectOne &&
          userForm.controls.roles.touched
        "
        style="margin-top: 7px"
      >
        {{ 'rolesEmpty' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <button
    *ngIf="dialogText === 'addUser'"
    mat-raised-button
    color="primary"
    class="add-user-btn"
    (click)="save()"
    type="submit"
    [disabled]="userForm.invalid"
    translate="addUserBtn"
  ></button>
  <button
    *ngIf="dialogText === 'editUser'"
    mat-raised-button
    color="primary"
    class="add-user-btn"
    (click)="save()"
    type="submit"
    [disabled]="userForm.invalid || userForm.pristine"
    translate="editUserBtn"
  ></button>
  <button
    mat-button
    class="cancel-btn"
    autofocus="false"
    mat-dialog-close
    translate="cancelBtn"
    tabindex="-1"
  ></button>
</div>
