<form class="user-modal" [formGroup]="userForm">
  <span
    id="addEditUser"
    *ngIf="dialogText === 'editUser'"
    class="title"
    translate
  >
    editUser
  </span>
  <span
    id="addUserText"
    *ngIf="dialogText === 'addUser'"
    class="title"
    translate
    >addUser</span
  >
  <span class="dialog-close-btn" (click)="close()">
    <mat-icon id="addUserCloseIcon" class="dialog-close">close</mat-icon>
  </span>

  <div class="image-upload">
    <img id="addEditUserImg" [src]="profileImage" class="user-profile-img" />
    <label for="file-input">
      <svg-icon
        id="AddEditUserUploadIcon"
        icon="icon-upload-icon-tenant"
        class="file-upload-icon"
      ></svg-icon>
    </label>
    <input
      id="addEditUserFileName"
      type="hidden"
      formControlName="profileImageFileName"
    />
    <input
      id="file-input"
      type="file"
      (change)="onFileChange($event)"
      accept="image/*"
      disabled="true"
    />
  </div>
  <div class="custom-form-field-white-color">
    <div class="input-container">
      <mat-form-field appearance="outline" class="m-b-10 first-name m-t-10">
        <mat-label id="addEditUserFirstName">{{
          'firstName' | translate
        }}</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error
          id="addEditUserFirstNameError"
          *ngIf="processValidationErrors('firstName')"
          class="m-t-5 error-fields"
        >
          {{
            errors.firstName.name
              | translate
                : {
                    name: 'firstName' | translate,
                    length: errors.firstName.length
                  }
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-b-10 last-name m-t-10">
        <mat-label id="addEditUserLastName">{{
          'lastName' | translate
        }}</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error
          id="addEditUserLastNameError"
          *ngIf="processValidationErrors('lastName')"
          class="m-t-5 error-fields"
        >
          {{
            errors.lastName.name
              | translate
                : {
                    name: 'lastName' | translate,
                    length: errors.lastName.length
                  }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field
      appearance="outline"
      class="input-container width-100 m-b-10 m-t-10"
    >
      <mat-label id="addEditUserTitle">{{ 'title' | translate }}</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        id="addEditUserTitleError"
        *ngIf="processValidationErrors('title')"
        class="m-t-5 error-fields"
      >
        {{
          errors.title.name
            | translate
              : {
                  name: 'title' | translate,
                  length: errors.title.length
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10 m-t-10">
      <mat-label id="addEditUserEmailLabel">{{
        'emailLabel' | translate
      }}</mat-label>
      <input
        matInput
        formControlName="email"
        id="addEditUserEmail"
        [disabled]="dialogText === 'editUser'"
      />
      <div matSuffix>
        <mat-spinner
          *ngIf="verificationInProgress"
          strokeWidth="5"
          diameter="25"
        ></mat-spinner>
        <button *ngIf="emailValidated" mat-icon-button>
          <mat-icon
            id="addEditUserValidEmailIcon"
            class="email-verified"
            *ngIf="isValidIDPUser"
            >check_circle</mat-icon
          >
          <mat-icon
            id="addEditUserInvalidEmailIcon"
            class="email-not-verified"
            *ngIf="!isValidIDPUser"
            >error_outline</mat-icon
          >
        </button>
      </div>
      <mat-error
        id="addEditUserEmailError"
        *ngIf="processValidationErrors('email')"
        class="m-t-5 error-fields"
      >
        {{
          errors.email.name
            | translate
              : {
                  name: 'emailLabel' | translate
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10 m-t-10">
      <mat-label id="addEditUserRoles">{{ 'roles' | translate }}</mat-label>
      <mat-select
        name="priority"
        multiple
        [compareWith]="objectComparisonFunction"
        formControlName="roles"
      >
        <mat-select-trigger id="addEditUserSelectRole">
          {{ roles.value[0]?.name }}
          <span
            id="addEditUserLength"
            *ngIf="roles.value?.length > 1"
            class="example-additional-selection"
          >
            (+{{ roles.value.length - 1 }}
            {{ roles.value?.length === 2 ? 'more' : 'more' }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let role of rolesInput; let i = index"
          [value]="role"
          class="roles-select p-r-0"
          [disabled]="role.name === superAdminText"
        >
          <span id="addEditUserRoleName">{{ role.name }}</span>
          <div (click)="$event.stopPropagation()" class="info-div">
            <mat-icon
              id="addEditUserPermissionIcon"
              cdkOverlayOrigin
              (click)="getPermissions(role)"
              #trigger="cdkOverlayOrigin"
              class="material-icons-outlined info-icon"
              (click)="isfilterTooltipOpen[i] = true"
            >
              info_border
            </mat-icon>
          </div>
          <ng-template
            cdkConnectedOverlay
            cdkConnectedOverlayPanelClass="custom-popover"
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            [cdkConnectedOverlayHasBackdrop]="true"
            [cdkConnectedOverlayOpen]="isfilterTooltipOpen[i]"
            [cdkConnectedOverlayOrigin]="trigger"
            cdkConnectedOverlayWidth="400px"
            (backdropClick)="isfilterTooltipOpen[i] = false"
          >
            <div class="permissions-modal">
              <div class="header custom-form-field-gray-color">
                <span id="addEditUserPermission" class="widgets-heading"
                  >Permissions</span
                >
                <button
                  id="addEditUserPermissionCancelBtn"
                  (click)="isfilterTooltipOpen[i] = false"
                  class="permissions-cancel"
                >
                  <mat-icon
                    id="addEditUserPermissionCancelIcon"
                    class="permissions-cancel-icon"
                    >close</mat-icon
                  >
                </button>
                <app-permissions
                  [selectedRolePermissions$]="selectedRolePermissions$"
                  [allPermissions$]="permissionsList$"
                  [rolesWithPermissionsInUsers]="userRolePermissions"
                  [addingRole$]="addingRole$"
                ></app-permissions>
              </div>
              <div class="dashboard-widgets-list"></div>
            </div>
          </ng-template>
        </mat-option>
      </mat-select>
      <mat-error
        id="addEditUserRoleError"
        *ngIf="
          userForm.controls.roles.errors?.selectOne &&
          userForm.controls.roles.touched
        "
        class="m-t-5 error-fields"
      >
        {{ 'rolesEmpty' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10 m-t-10">
      <mat-label id="addEditUserGroups">{{
        'userGroup' | translate
      }}</mat-label>
      <mat-select
        name="priority"
        multiple
        [compareWith]="objectComparisonFunction"
        formControlName="usergroup"
      >
        <mat-select-trigger id="addEditUserGroupsName">
          {{ usergroup.value[0]?.name }}
          <span
            id="addEditUserGroupLength"
            *ngIf="usergroup.value?.length > 1"
            class="example-additional-selection"
          >
            ( + {{ usergroup.value.length - 1 }} more)
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let usergroup of usergroupInput; let i = index"
          [value]="usergroup"
          class="usergroup-select"
        >
          <span id="addEditUserGroupName">{{ usergroup.name }}</span>
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          userForm.controls.usergroup.errors?.selectOne &&
          userForm.controls.usergroup.touched
        "
        class="m-t-5 error-fields"
        id="addEditUserGroupNameError"
      >
        {{ 'userGroupsRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <div class="width-100 user-date-range m-b-10 m-t-10">
      <mat-form-field class="width-95 user-date-from" appearance="outline">
        <mat-label id="addEditUserGroupValidate">{{
          'validFrom' | translate
        }}</mat-label>
        <input
          matInput
          [matDatepicker]="validFromPicker"
          [min]="minDate"
          formControlName="validFrom"
          (dateChange)="validFromDateChange($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="validFromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #validFromPicker></mat-datepicker>
        <mat-error
          id="addEditUserGroupValidateError"
          *ngIf="userForm.controls.validFrom.errors?.required"
          class="m-t-5 error-fields"
          >{{ 'validFromInvalid' | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="width-100">
        <mat-label id="addEditUserGroupValidateThrough">{{
          'validThrough' | translate
        }}</mat-label>
        <input
          matInput
          [matDatepicker]="validThroughPicker"
          [min]="userValidFromDate"
          formControlName="validThrough"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="validThroughPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #validThroughPicker></mat-datepicker>
        <mat-error
          id="addEditUserGroupError"
          *ngIf="userForm.controls.validThrough.errors?.required"
          class="m-t-5 error-fields"
          >{{ 'validThroughInvalid' | translate }}</mat-error
        >
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="width-100 m-b-10 m-t-10">
      <mat-label id="addEditUserGroupsPlant">{{
        'plant' | translate
      }}</mat-label>
      <mat-select formControlName="plantId" multiple>
        <mat-option
          *ngFor="let plant of data.plantsList"
          [value]="plant.id"
          class="roles-select p-r-0"
        >
          <span id="addEditUserGroupPlantId">{{ plant.plantId }}</span>
        </mat-option>
      </mat-select>
      <mat-error
        id="addEditUserGroupPlantError"
        *ngIf="
          userForm.controls.plantId.errors?.selectOne &&
          userForm.controls.plantId.touched
        "
        class="m-t-5 error-fields"
      >
        {{ 'plantsEmpty' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <button
    id="addUserGroupBtn"
    *ngIf="dialogText === 'addUser'"
    mat-raised-button
    class="add-user-btn"
    (click)="save()"
    type="submit"
    [disabled]="userForm.invalid || (!userForm.pristine && userForm.pending)"
    translate="addUserBtn"
  ></button>
  <button
    id="editUserGroupBtn"
    *ngIf="dialogText === 'editUser'"
    mat-raised-button
    class="add-user-btn"
    (click)="save()"
    type="submit"
    [disabled]="userForm.invalid || userForm.pristine"
    translate="editUserBtn"
  ></button>
  <button
    id="cancelUserGroupBtn"
    mat-button
    class="cancel-btn"
    autofocus="false"
    mat-dialog-close
    translate="cancelBtn"
    tabindex="-1"
  ></button>
</form>
