@import '../../../../../scss/colors.scss';

.uom-list-view {
  background-color: $white;
  height: calc(100vh - 85px);

  ::ng-deep .table-column {
    width: 30%;
  }

  ::ng-deep .mat-column-unitType,
  ::ng-deep .mat-column-noOfUnits {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  ::ng-deep .mat-column-description > div > span {
    display: flex;
  }

  ::ng-deep .mat-column-description > div > span > span:first-of-type {
    line-height: 25px;
  }

  .heading {
    font-weight: 700;
    font-size: 130%;
    color: $blue-head;
    margin: 0;
    padding-left: 20px;
  }

  .main-container {
    width: 100%;
    margin-top: 1%;
  }

  .uom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
  }

  .search {
    margin-top: 5px;
    margin-right: 7px;
  }

  .filter-icon {
    width: 15px;
    height: 15px;
  }

  .create-new-btn {
    background: $blue-main;
    color: $white;
    font-weight: normal;
    line-height: normal;
    height: 29px;
  }

  .menu-icon {
    position: relative;
    right: 5px;
  }

  .more-btn {
    background: $blue-main;
    color: $white;
    margin-left: 7px;
    min-width: 8px;
    max-width: 45px;
    margin-right: 15px;
    font-weight: normal;
    line-height: normal;
    height: 29px;
    position: relative;
    top: -2px;
  }

  .ghost-loading {
    padding: 0 20px;
  }
}

.menu-icons {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 12px;
}

.add-manually-icon {
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  margin-right: 12px;
}

.menu-buttons {
  height: 40px;
  align-items: center;
  line-height: 20px;
}
