<div class="number-container">
  <div class="number-input">
    <input
      id="numberResponseEnter"
      type="number"
      class="number"
      [placeholder]="'enter' | translate"
    />
    <div
      id="numberResponseQuestion"
      *ngIf="question.unitOfMeasurement !== 'None'"
      class="uom-text"
    >
      {{ question.unitOfMeasurement }}
    </div>
  </div>
  <div
    class="rangeMetadata"
    *ngIf="question.rangeMetadata.min && question.rangeMetadata.max"
  >
    <div class="range-text">
      <span
        id="numberResponseMin"
        class="range-text-label"
        translate="minTxt"
      ></span
      >: {{ question.rangeMetadata.min }}
    </div>
    <div class="range-text">
      <span
        id="numberResponseMax"
        class="range-text-label"
        translate="maxTxt"
      ></span
      >: {{ question.rangeMetadata.max }}
    </div>
  </div>
</div>
