<div class="number-container">
  <div class="number-input">
    <input type="number" class="number" [placeholder]="'enter' | translate" />
    <div *ngIf="question.unitOfMeasurement !== 'None'">
      {{ question.unitOfMeasurement }}
    </div>
  </div>
  <div
    class="rangeMetadata"
    *ngIf="question.rangeMetadata.min && question.rangeMetadata.max"
  >
    <div class="range-text">Min: {{ question.rangeMetadata.min }}</div>
    <div class="range-text">Max: {{ question.rangeMetadata.max }}</div>
  </div>
</div>
