<div
  class="arrow-left"
  [ngStyle]="{ left: positions?.arrowleft, top: positions?.arrowtop }"
></div>
<div class="show-hierarchy-container" *ngIf="hierarchyList$ | async">
  <div class="heading">
    <a translate>hierarchy</a>
    <button class="cancel-icon" (click)="closeShowHierarchy()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="node-container">
    <app-hierarchy-node
      [nodeData]="hierarchyToBeDisplayed"
      [displayMode]="true"
      [mode]="'selectAssets'"
    ></app-hierarchy-node>
  </div>
</div>
