<div class="questions" [formGroup]="questionForm">
  <div>
    <div [ngClass]="{ 'highlight-bg': fieldContentOpenState === true }">
      <div
        class="dis-flex questions-div"
        (click)="toggleFieldContentOpenState()"
      >
        <input type="hidden" formControlName="position" />
        <div class="width-70 question-input-box">
          <img
            src="assets/rdf-forms-icons/six-dots.svg"
            alt="six-dots"
            class="m-l-10 six-dots"
          />

          <input
            autocomplete="off"
            type="text"
            formControlName="name"
            placeholder="Type Question"
            class="width-90 question-input"
            (keyup.enter)="addQuestion(questionForm.get('index').value)"
          />
          <div class="floating-btns">
            <button
              class="questions-btn"
              (click)="addQuestion(questionForm.get('index').value)"
            >
              <img
                src="assets/rdf-forms-icons/add-question.svg"
                alt="add questions"
              />
              <p class="questions-delete-btn-text">Question</p>
            </button>
            <br />

            <button
              class="delete-btn"
              (click)="deleteQuestion()"
              [disabled]="questionForm.length === 1"
            >
              <img
                src="assets/rdf-forms-icons/delete-question.svg"
                alt="delete questions"
              />
              <p class="questions-delete-btn-text">Delete</p>
            </button>
          </div>
        </div>

        <span class="divider">|</span>

        <div class="width-30">
          <button
            (click)="openResponseType = true"
            class="response-type-btn"
            [ngClass]="{
              'dis-flex p-t-0':
                questionForm.get('fieldType').value === 'VI' ||
                questionForm.get('fieldType').value === 'DD'
            }"
          >
            <div
              *ngIf="
                questionForm.get('fieldType').value === 'VI' ||
                  questionForm.get('fieldType').value === 'DD';
                else nonMCQFields
              "
              class="chip-list"
            >
              <mat-chip-list
                *ngIf="
                  questionForm.get('value').value?.name &&
                  !questionForm.get('value').value?.globalDataset
                "
                class="response-type-chips"
              >
                <mat-chip
                  [ngStyle]="{
                    backgroundColor: '#ffffff',
                    border: '1px solid #d3d3d3',
                    minHeight: '24px',
                    fontSize: '90%'
                  }"
                >
                  {{ questionForm.get('value').value?.name }}
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list
                *ngIf="
                  !questionForm.get('value').value?.name &&
                  !questionForm.get('value').value?.globalDataset
                "
                class="response-type-chips"
              >
                <mat-chip
                  [ngStyle]="{
                    color: questionForm.get('value').value?.values[0]?.color,
                    backgroundColor: '#ffffff',
                    border: '1px solid #d3d3d3',
                    minHeight: '24px',
                    fontSize: '90%'
                  }"
                >
                  {{ questionForm.get('value').value?.values[0].title }}
                </mat-chip>
                <mat-chip
                  *ngIf="questionForm.get('value').value?.values.length >= 2"
                  [ngStyle]="{
                    color: questionForm.get('value').value?.values[1]?.color,
                    backgroundColor: '#ffffff',
                    border: '1px solid #d3d3d3',
                    minHeight: '24px',
                    fontSize: '90%'
                  }"
                >
                  {{ questionForm.get('value').value?.values[1].title }}
                </mat-chip>
                <span
                  *ngIf="questionForm.get('value').value?.values.length > 2"
                  class="ellipsis-more"
                  >+ ({{ questionForm.get('value').value?.values.length - 2 }}
                  more)
                </span>
              </mat-chip-list>
              <div
                *ngIf="questionForm.get('value').value?.globalDataset"
                class="globalset-res-type"
              >
                {{ questionForm.get('value').value?.responseType }}
              </div>
            </div>

            <ng-template #nonMCQFields>
              <img
                [src]="getFieldTypeImage(questionForm.get('fieldType').value)"
                class="response-type-icons"
              />&nbsp;
              <span class="response-type-text">
                {{
                  getFieldTypeDescription(questionForm.get('fieldType').value)
                }}
              </span>
            </ng-template>
            <mat-icon
              class="response-type-btn-arrow"
              [ngClass]="{
                'p-t-13':
                  questionForm.get('fieldType').value === 'VI' ||
                  questionForm.get('fieldType').value === 'DD'
              }"
            >
              keyboard_arrow_down
            </mat-icon>
          </button>

          <div *ngIf="openResponseType === true">
            <app-response-type
              (selectFieldTypeEvent)="selectFieldTypeEventHandler($event)"
              (openResponseTypeModalEvent)="
                openResponseTypeModalEventHandler($event)
              "
              [fieldTypes]="fieldTypes"
              [question]="questionInfo"
            ></app-response-type>
          </div>
        </div>
      </div>

      <div *ngIf="questionForm.get('fieldType').value === 'IMG'">
        <input
          #insertImages
          [hidden]="true"
          type="file"
          accept="image/jpeg,image/jpg,image/png"
          (change)="insertImageHandler($event)"
        />
      </div>

      <div
        class="dis-flex justify-content"
        *ngIf="fieldContentOpenState === true"
      >
        <div class="input-fields">
          <div *ngIf="questionForm.get('fieldType').value !== 'IMG'">
            <div>
              <span
                class="m-l-40"
                *ngIf="
                  questionForm.get('fieldType').value !== 'TAF' &&
                  questionForm.get('fieldType').value !== 'ARD'
                "
              >
                <input
                  type="checkbox"
                  id="required"
                  class="required-input"
                  name="required"
                  formControlName="required"
                />&nbsp;
                <label for="required">Required</label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'DF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="date"
                  class="required-input"
                  name="date"
                  formControlName="value"
                />&nbsp;
                <label for="date">Default to current date</label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'TIF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="time"
                  class="required-input"
                  name="time"
                  formControlName="value"
                />&nbsp;
                <label for="time">Default to current time</label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'LF'"
                class="m-l-40"
              >
                <label for="defaultValue">Default Value</label>&nbsp;&nbsp;
                <input
                  type="text"
                  id="defaultValue"
                  formControlName="value"
                  class="default-field-input-box"
                />
              </span>
              <span
                *ngIf="questionForm.get('fieldType').value === 'TF'"
                class="m-l-50"
              >
                <label>Type:</label>&nbsp;

                <select formControlName="value" class="text-field-select">
                  <option value="TF">Short Answer</option>
                  <option value="LTV">Long Answer</option>
                </select>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'RT'"
                (click)="sliderOpen()"
                class="m-l-50"
              >
                <label>Range: </label>&nbsp;
              </span>
              <app-response-type-side-drawer></app-response-type-side-drawer>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'DD' &&
                  !questionForm.get('value').value?.globalDataset
                "
                class="m-l-20"
              >
                <input
                  type="checkbox"
                  id="multi"
                  class="required-input"
                  name="multi"
                  formControlName="multi"
                  (click)="
                    questionForm
                      .get('multi')
                      .setValue(!questionForm.get('multi').value)
                  "
                />&nbsp;
                <label for="multi">Allow more than one selection</label>
              </span>
            </div>
          </div>
          <div *ngIf="questionForm.get('fieldType').value === 'IMG'">
            <div
              class="width-50 bg-white dis-flex"
              *ngIf="questionForm.get('value').value"
            >
              <img
                class="insert-image"
                [src]="getImageSrc(questionForm.get('value').value.base64)"
                alt="image"
              />
              <div>
                <span>
                  {{ questionForm.get('value').value.name }}
                </span>
                <br />
                <span>
                  {{ (questionForm.get('value').value.size / 1024).toFixed(2) }}
                  KB
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-content></ng-content>
