<div class="questions" [formGroup]="questionForm">
  <div>
    <div>
      <div
        class="dis-flex questions-div"
        (click)="toggleFieldContentOpenState()"
      >
        <input type="hidden" formControlName="position" />
        <div class="width-70 m-t-10">
          <img
            src="assets/rdf-forms-icons/six-dots.svg"
            alt="six-dots"
            class="m-l-10 six-dots"
          />

          <input
            autocomplete="off"
            type="text"
            formControlName="name"
            placeholder="Type Question"
            class="width-90 question-input"
            *ngIf="questionForm.get('fieldType').value !== 'LLF'"
            (keyup.enter)="addQuestion(questionForm.get('index').value)"
          />
          <!-- <quill-material
                  formControlName="name"
                  placeholder="Type Question"
                  [ngClass]="{
                    'display-toolbar': richTextEditorToolbarState[i + 1][j + 1]
                  }"
                  class="instruction-quill-box"
                  *ngIf="question.controls.fieldType.value === 'LLF'"
                  (editorFocus)="handleEditorFocus($event, i, j)"
                >
                </quill-material> -->
          <div class="floating-btns">
            <button
              class="questions-btn"
              (click)="addQuestion(questionForm.get('index').value)"
            >
              <img
                src="assets/rdf-forms-icons/add-question.svg"
                alt="add questions"
              />
              <p class="questions-delete-btn-text">Question</p>
            </button>
            <br />

            <button
              class="delete-btn"
              (click)="deleteQuestion()"
              [disabled]="questionForm.length === 1"
            >
              <img
                src="assets/rdf-forms-icons/delete-question.svg"
                alt="delete questions"
              />
              <p class="questions-delete-btn-text">Delete</p>
            </button>
          </div>
        </div>

        <span class="divider">|</span>

        <div class="width-30">
          <button (click)="openResponseType = true" class="response-type-btn">
            <img
              [src]="getFieldTypeImage(questionForm.get('fieldType').value)"
              class="response-type-icons"
            />&nbsp;
            <span class="response-type-text">
              {{ getFieldTypeDescription(questionForm.get('fieldType').value) }}
            </span>
            <mat-icon class="response-type-btn-arrow">
              keyboard_arrow_down
            </mat-icon>
          </button>

          <div *ngIf="openResponseType === true">
            <app-response-type
              (selectFieldTypeEvent)="selectFieldTypeEventHandler($event)"
              (openResponseTypeModalEvent)="
                openResponseTypeModalEventHandler($event)
              "
              [fieldTypes]="fieldTypes"
              [question]="questionInfo"
            ></app-response-type>
          </div>
        </div>
      </div>

      <div *ngIf="questionForm.get('fieldType').value === 'IMG'">
        <input
          #insertImages
          [hidden]="true"
          type="file"
          accept="image/jpeg,image/jpg,image/png"
          (change)="insertImageHandler($event)"
        />
      </div>

      <div
        class="dis-flex justify-content"
        [ngClass]="{
          height: questionForm.get('fieldType').value === 'LLF'
        }"
        *ngIf="fieldContentOpenState === true"
      >
        <div
          class="input-fields"
          *ngIf="questionForm.get('fieldType').value !== 'LLF'"
        >
          <div *ngIf="questionForm.get('fieldType').value !== 'IMG'">
            <div class="add-logic-row">
              <span
                *ngIf="
                  questionForm.get('fieldType').value !== 'TAF' &&
                  questionForm.get('fieldType').value !== 'ARD'
                "
              >
                <input
                  type="checkbox"
                  id="required"
                  class="required-input"
                  name="required"
                  formControlName="required"
                />&nbsp;
                <label for="required">Required</label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'DF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="date"
                  class="required-input"
                  name="date"
                  formControlName="value"
                />&nbsp;
                <label for="date">Default to current date</label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'TIF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="time"
                  class="required-input"
                  name="time"
                  formControlName="value"
                />&nbsp;
                <label for="time">Default to current time</label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'LF'"
                class="m-l-50"
              >
                <label for="defaultValue">Default Value</label>&nbsp;&nbsp;
                <input
                  type="text"
                  id="defaultValue"
                  formControlName="value"
                  xlass="default-field-input-box"
                />
              </span>
              <span
                *ngIf="questionForm.get('fieldType').value === 'TF'"
                class="m-l-50"
              >
                <label>Format:</label>&nbsp;

                <select formControlName="value" class="text-field-select">
                  <option value="TF">Short Answer</option>
                  <option value="LTV">Long Answer</option>
                </select>
              </span>
              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'DD' &&
                  !questionForm.get('value').value?.globalDataset
                "
                class="m-l-20"
              >
                <input
                  type="checkbox"
                  id="multi"
                  class="required-input"
                  name="multi"
                  formControlName="multi"
                  (click)="
                    questionForm
                      .get('multi')
                      .setValue(!questionForm.get('multi').value)
                  "
                />&nbsp;
                <label for="multi"> Multi Selection </label>
              </span>
            </div>
          </div>
          <div *ngIf="questionForm.get('fieldType').value === 'IMG'">
            <div
              class="width-50 bg-white dis-flex"
              *ngIf="questionForm.get('value').value"
            >
              <img
                class="insert-image"
                [src]="getImageSrc(questionForm.get('value').value.base64)"
                alt="image"
              />
              <div>
                <span>
                  {{ questionForm.get('value').value.name }}
                </span>
                <br />
                <span>
                  {{ (questionForm.get('value').value.size / 1024).toFixed(2) }}
                  KB
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-content></ng-content>
