@import '../../../../scss/colors.scss';

.questions {
  .floating-btns {
    position: absolute;
    left: 10px;
    border: 1px solid $border-color;
    border-radius: 7px;
    margin-top: -60px;
    display: none;
  }

  .questions-btn {
    background-color: $white;
    border: none;
    width: 55px;
    padding: 5px 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .delete-btn {
    background-color: $white;
    border: none;
    width: 55px;
    padding: 5px 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .questions-delete-btn-text {
    margin: 0;
    font-size: 75%;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: $black;
  }

  .questions-div {
    border-bottom: 1px solid $border-color;

    .question-input-box {
      margin-top: 7px;
      margin-bottom: 5px;
    }
  }

  .highlight-bg {
    border: 2px solid $blue-main;
    border-radius: 4px;
  }

  .six-dots {
    position: relative;
    top: 2px;
    width: 9px;
    cursor: move;
  }

  .question-input {
    padding: 7px;
    border: none;
    margin-left: 10px;
    width: auto;
  }

  input:focus {
    outline: none;
  }

  .question-input:focus + .floating-btns {
    display: block;
  }

  .divider {
    font-size: 150%;
    color: $border-color;
    position: relative;
    top: 7px;
    margin-right: 20px;
  }

  .response-type-btn {
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;

    .response-type-icons {
      position: relative;
      top: 12px;
      width: 14px;
      height: 14px;
    }

    .response-type-text {
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
      width: 60%;
      overflow: hidden;
      position: relative;
      top: 13px;
    }

    .response-type-btn-arrow {
      float: right;
      position: relative;
      top: 8px;
    }
  }

  .justify-content {
    justify-content: flex-end;
  }

  .response-type-chips {
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;

    ::ng-deep .mat-chip-list-wrapper {
      flex-wrap: nowrap;
    }
  }

  .chip-list {
    width: 90%;
    ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
      position: relative;
      top: 12px;
    }
  }

  .quick-response {
    ::ng-deep .mat-button-wrapper {
      display: flex;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 10px;
    }

    ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
      margin: 12px 5px 5px 5px !important;
    }
  }

  .input-fields {
    background: $white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    justify-content: center;

    .m-l-50 {
      margin-left: 50px;
    }

    .default-field-input-box {
      border: 1px solid $border-color;
      border-radius: 3px;
      background: $white;
      height: 25px;
      width: 40%;
    }

    .text-field-select {
      border: none;
      background: transparent;
      -webkit-appearance: none;
      width: 110px;
      color: $blue-main;
    }

    .required-input {
      position: relative;
      top: 2px;
    }
  }

  .globalset-res-type {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    width: 95%;
    overflow: hidden;
    position: relative;
    top: 12px;
  }

  .ellipsis-more {
    position: relative;
    top: 15px;
  }
}
