<div ngClass="chatsBody">
  <div ngClass="conversationsList">
    <div ngClass="searchBar">
      <input
        matInput
        placeholder="Search Users"
        disabled
        ngClass="searchInput"
      />
      <button mat-icon-button ngClass="searchMore">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div ngClass="userList">
      <mat-list>
        <mat-list-item
          *ngFor="let conversation of conversations; let i = index"
          (click)="setSelectedConversation(conversation)"
          class="conversationListItem"
          [ngClass]="{
            active: selectedConversation.id === conversation.id
          }"
        >
          <div class="icon-button" mat-list-icon>
            <img
              class="icon"
              src="{{ conversation.userInfo.profile.image_original }}"
            />
          </div>
          <div mat-line>
            <b>{{ conversation.userInfo.real_name }}</b>
          </div>
          <div mat-line>{{ conversation.info.latest?.text }}</div>
          <mat-divider ngClass="horiz-dividerConv"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div ngClass="conversationContent" *ngIf="selectedConversation">
    <div ngClass="conversationHead">
      <div ngClass="displayFlex">
        <div ngClass="iconButton">
          <img
            class="icon"
            src="{{ selectedConversation.userInfo.profile.image_original }}"
          />
        </div>
        <div ngClass="userTitle">
          <b ngClass="userName">{{
            selectedConversation.userInfo.real_name
          }}</b>
          <div mat-line ngClass="userDescription">
            {{ selectedConversation.userInfo.profile?.title }}
          </div>
        </div>
      </div>
      <div>
        <button mat-icon-button color="primary">
          <mat-icon>phone</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider ngClass="horiz-divider"></mat-divider>
    <div ngClass="conversationBody" id="conversationHistory">
      <div *ngIf="conversationHistory">
        <div
          *ngFor="let message of conversationHistory"
          ngClass="conversationMessage"
        >
          <div class="conv-user-icon">
            <img
              class="icon"
              src="{{ userMaps[message.user].profile.image_original }}"
            />
          </div>
          <div ngClass="nameAndMessage">
            <div>
              <b>{{ userMaps[message.user].real_name }}</b>
              <span ngClass="timeAgoLabel">{{
                getLocalDateFromEpoch(message.ts)
              }}</span>
            </div>
            <div mat-line>{{ message.text }}</div>
            <div *ngIf="message.files && message.files.length">
              <mat-list>
                <mat-list-item
                  *ngFor="let file of message.files"
                  ngClass="attachmentItem"
                >
                  <mat-icon mat-list-icon>folder</mat-icon>
                  <div mat-line ngClass="attachmentTitle">{{ file.name }}</div>
                  <div mat-line ngClass="attachmentSubTitle">
                    <div>Size: {{ file.size / 1024 | number: '1.0-0' }} KB</div>
                    <div ngClass="downloadBtn">
                      <mat-icon>cloud_download</mat-icon
                      ><span ngClass="downloadLabel">Download</span>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider ngClass="horiz-divider"></mat-divider>
    <div ngClass="chatBottom">
      <div ngClass="messageInputBar">
        <div ngClass="messageInputGroup">
          <mat-icon matPrefix (click)="openUploadDialog(selectedConversation)"
            >attach_file</mat-icon
          >
          <input
            matInput
            ngClass="messageInput"
            placeholder="Enter Message.."
            autocomplete="off"
            [(ngModel)]="messageText"
          />
          <div matSuffix>
            <button
              mat-icon-button
              (click)="
                sendMessageToUser(selectedConversation.userInfo, messageText)
              "
            >
              <mat-icon color="primary">send</mat-icon>
            </button>
          </div>
        </div>

        <button mat-mini-fab ngClass="audioRecord">
          <mat-icon>mic</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div ngClass="conversationContent" *ngIf="!selectedConversation">
    <h6>Please select a conversation to send message</h6>
  </div>
</div>
