<div ngClass="chatsBody" *ngIf="selectedView === 'CHAT'">
  <div ngClass="conversationsList">
    <div ngClass="searchBar">
      <input
        matInput
        placeholder="Search Users"
        disabled
        ngClass="searchInput"
      />
      <button mat-icon-button ngClass="searchMore" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createGroup()">Create Group</button>
        <button mat-menu-item>Mute Messages</button>
        <button mat-menu-item>Delete Conversations</button>
      </mat-menu>
    </div>
    <div ngClass="userList">
      <mat-list>
        <mat-list-item
          *ngFor="let conversation of conversations$ | async; let i = index"
          (click)="setSelectedConversation(conversation)"
          class="conversationListItem"
          [ngClass]="{
            active: selectedConversation.id === conversation.id
          }"
        >
          <div class="icon-button" mat-list-icon>
            <img class="icon" [src]="conversation.userInfo.profileImage" />
          </div>
          <div mat-line>
            <b
              >{{ conversation.userInfo.firstName }}
              {{ conversation.userInfo.lastName }}</b
            >
          </div>
          <div mat-line>{{ conversation.info.latest?.text }}</div>
          <mat-divider ngClass="horiz-dividerConv"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div ngClass="conversationContent" *ngIf="selectedConversation">
    <div ngClass="conversationHead">
      <div ngClass="displayFlex">
        <div ngClass="iconButton">
          <img
            class="icon"
            [src]="selectedConversation.userInfo.profileImage"
          />
        </div>
        <div ngClass="userTitle">
          <b ngClass="userName"
            >{{ selectedConversation.userInfo.firstName }}
            {{ selectedConversation.userInfo.lastName }}
          </b>
          <div mat-line ngClass="userDescription">
            {{ selectedConversation.userInfo.title }}
          </div>
        </div>
      </div>
      <div>
        <button
          disabled
          mat-icon-button
          color="primary"
          (click)="triggerCall(selectedConversation)"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          disabled
          mat-icon-button
          color="primary"
          (click)="openVideoCallDialog(selectedConversation)"
        >
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider ngClass="horiz-divider"></mat-divider>
    <div
      ngClass="conversationBody"
      id="conversationHistory"
      #scrollMe
      [scrollTop]="scrollMe.scrollHeight"
    >
      <div *ngFor="let message of conversationHistory$ | async">
        <div *ngIf="message.user" ngClass="conversationMessage">
          <div class="conv-user-icon">
            <img class="icon" [src]="message.userInfo.profileImage" />
          </div>
          <div ngClass="nameAndMessage">
            <div>
              <b
                >{{ message.userInfo.firstName }}
                {{ message.userInfo.lastName }}</b
              >
              <span ngClass="timeAgoLabel">{{
                getLocalDateFromEpoch(message.ts)
              }}</span>
            </div>
            <div *ngIf="message.isMeeting === true">
              <div ngClass="attachmentItemMeeting">
                <!-- <div mat-line>{{ message.text }}</div> -->
                <mat-icon mat-list-icon>videocam</mat-icon>
                <div mat-line ngClass="attachmentTitle">
                  {{ message.userInfo.firstName }}
                  {{ message.userInfo.lastName }} is Inviting you for a meeting.
                </div>
                <div mat-line ngClass="attachmentSubTitle">
                  <div ngClass="downloadBtn" (click)="openMeetingLink(message)">
                    <mat-icon>videocam</mat-icon
                    ><span ngClass="downloadLabel">Join the meeting</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="message.isMeeting === false">
              <div mat-line>{{ message.text }}</div>
              <div *ngIf="message.files && message.files.length">
                <mat-list>
                  <mat-list-item
                    *ngFor="let file of message.files"
                    ngClass="attachmentItem"
                  >
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <div mat-line ngClass="attachmentTitle">
                      {{ file.name }}
                    </div>
                    <div mat-line ngClass="attachmentSubTitle">
                      <div>
                        Size: {{ file.size / 1024 | number: '1.0-0' }} KB
                      </div>
                      <div
                        *ngIf="!downloadInProgress"
                        ngClass="downloadBtn"
                        (click)="downloadFile(file)"
                      >
                        <mat-icon>cloud_download</mat-icon
                        ><span ngClass="downloadLabel">Download</span>
                      </div>
                      <div *ngIf="downloadInProgress" ngClass="downloadBtn">
                        <mat-spinner
                          strokeWidth="5"
                          diameter="25"
                        ></mat-spinner>
                        <span ngClass="downloadLabel">Downloading...</span>
                      </div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider ngClass="horiz-divider"></mat-divider>
    <div ngClass="chatBottom">
      <div ngClass="messageInputBar">
        <div ngClass="messageInputGroup">
          <mat-icon matPrefix (click)="openUploadDialog(selectedConversation)"
            >attach_file</mat-icon
          >
          <input
            matInput
            ngClass="messageInput"
            placeholder="Enter Message.."
            autocomplete="off"
            [(ngModel)]="messageText"
            (keyup.enter)="onMessageEnter(selectedConversation, messageText)"
          />
          <div matSuffix>
            <button
              mat-icon-button
              [disabled]="!messageText.length"
              (click)="sendMessageToUser(selectedConversation, messageText)"
            >
              <mat-spinner
                *ngIf="messageDeliveryProgress"
                strokeWidth="5"
                diameter="25"
              ></mat-spinner>
              <mat-icon *ngIf="!messageDeliveryProgress" color="primary"
                >send</mat-icon
              >
            </button>
          </div>
        </div>

        <button mat-mini-fab ngClass="audioRecord" disabled>
          <mat-icon>mic</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div ngClass="conversationContent" *ngIf="!selectedConversation">
    <h6>Please select a conversation to send message</h6>
  </div>
</div>
<div *ngIf="selectedView === 'CREATE_GROUP'">
  <app-create-group></app-create-group>
</div>
