.chatsBody {
  display: flex;
}
.active {
  border-left: 5px solid #7dbef6;
  cursor: pointer;
  border-radius: 15px;
  background: #b7b9bc2e;
}
.conversationListItem {
  cursor: pointer;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
    background: #b7b9bc2e;
  }
}
.conversationContent {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-left: 10px;
  background: #ffffff !important;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 1px -1px rgb(116 116 116), 0 1px 1px 0 rgb(116 116 116),
    0 1px 3px 0 rgb(116 116 116);
  .conversationHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 50px;
    // box-shadow: 0px 15px 10px -15px #111;
    .iconButton {
      background: none;
      padding: 0;
      border: 0;
      cursor: pointer;
      width: 40px;
      border-radius: 45px;
      // margin-top: 15px;
    }
    .iconButton .icon {
      width: 45px !important;
      height: 45px !important;
      border-radius: 45px;
    }
    .userTitle {
      margin-left: 15px;
      .userName {
        width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .userDescription {
        width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .conversationBody {
    width: 100%;
    height: 275px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
  }
  .conversationMessage {
    width: 375px;
    margin: 10px 0px;
    display: flex;
    word-break: break-word;
  }
  .conv-user-icon {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 40px;
    border-radius: 45px;
    margin-right: 10px;
    // margin-top: -15px;
  }
  .attachmentItem {
    font-size: 10pt;
    background: #ebf5f8;
    border-radius: 5px;
    width: 300px;
    .attachmentTitle {
      font-size: 10pt;
      font-weight: 450;
    }
    .attachmentSubTitle {
      font-size: 8pt;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .downloadBtn {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        background: #0391fd;
        border-radius: 5px;
        color: white;

        &:hover {
          background: #7dbef6;
        }
        .downloadLabel {
          margin-left: 5px;
        }
      }
    }
  }
  .conv-user-icon .icon {
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }

  .chatBottom {
    .messageInputBar {
      display: flex;
      padding: 10px 0px;
      .messageInputGroup {
        display: flex;
        align-items: center;
        background: #eeeeee;
        margin-left: 24px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 0px 10px;
      }
      .messageInput {
        border: 1px solid #e1dcdc;
        padding: 10px;
        background: #eeeeee;
        margin-left: 5px;
        border-left: none;
        border-right: none;
      }
      .audioRecord {
        color: #ffffff;
        border-radius: 8px;
        font-size: 8pt;
        background: #1a66ff;
        margin-left: 5px;
      }
    }
  }
}
.conversationsList {
  width: 40%;
  background: #ffffff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 1px -1px rgb(116 116 116), 0 1px 1px 0 rgb(116 116 116),
    0 1px 3px 0 rgb(116 116 116);
  .searchBar {
    display: flex;
    .searchInput {
      border: 1px solid #e1dcdc;
      border-radius: 45px;
      padding: 10px;
      background: #eeeeee;
    }
    .searchMore {
      color: #1a66ff;
    }
  }
  .userList {
    height: 375px;
    overflow: auto;
    overflow-x: hidden;
  }
}
.userIcon {
  font-size: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add application styles & imports to this file! */

.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  width: 40px;
  border-radius: 45px;
  margin-top: -15px;
  margin-right: 10px;
}

.icon-button .icon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 45px;
}

.displayFlex {
  display: flex;
}
.horiz-divider {
  margin: 5px 25px;
}
.horiz-dividerConv {
  margin: 0px 25px !important;
  width: 80% !important;
}

.timeAgoLabel {
  margin-left: 5px;
  color: gray;
  font-size: 8pt;
  background: #f0f0f0;
  padding: 5px;
  border-radius: 10px;
}

.shadow {
  width: 100px;
  margin: 0 auto;
  height: 100px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  &.top {
    box-shadow: 0px -15px 10px -15px #111;
  }
  &.bottom {
    box-shadow: 0px 15px 10px -15px #111;
  }
  &.left {
    box-shadow: -15px 0px 10px -15px #111;
  }
  &.right {
    box-shadow: 15px 0px 10px -15px #111;
  }
}

.attachmentItemMeeting {
  font-size: 10pt;
  display: flex;
  background: #cde7d9;
  border-radius: 5px;
  width: 300px;
  padding: 15px 12px;
  margin-top: 5px;

  .attachmentTitle {
    font-size: 10pt;
    font-weight: 450;
  }
  .attachmentSubTitle {
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .downloadBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0px 5px;
      background: #0391fd;
      border-radius: 5px;
      color: white;

      &:hover {
        background: #7dbef6;
      }
      .downloadLabel {
        margin-left: 5px;
        padding: 5px;
      }
    }
  }
}
