@import '../../../../scss/colors.scss';

.questions {
  .floating-btns {
    position: relative;
    left: -95px;
    top: 40px;
    border: 1px solid $border-color;
    border-radius: 7px;
    margin-top: -100px;
    display: block;
    width: 55px;
  }

  .question-line {
    border: 1px solid $border-color;
    margin: 0px 0px 0px -29px;
    position: relative;
  }

  .questions-btn {
    background-color: $white;
    border: none;
    width: 55px;
    padding: 5px 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .delete-btn {
    background-color: $white;
    border: none;
    width: 55px;
    padding: 5px 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .delete-icon {
    background: $white;
    height: 20px;
    position: relative;
    cursor: pointer;
    width: 20px;
    margin-left: 15px;
    top: 9px;
  }

  .questions-delete-btn-text {
    margin: 0;
    font-size: 75%;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: $black;
  }

  .questions-div {
    .question-input-box {
      margin-top: 7px;
    }

    .rtf-input-box {
      height: auto !important;
    }

    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
    ::ng-deep .mat-form-field-outline {
      opacity: 0;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0 !important;
    }
  }

  .question-input {
    padding: 7px 7px 14px 7px;
    border: none;
    margin-left: 5px;
    width: 90%;
  }

  input:focus {
    outline: none;
  }

  .divider {
    font-size: 150%;
    color: $border-color;
    position: relative;
    top: 7px;
    margin-right: 20px;
  }

  .justify-content {
    justify-content: flex-start;
  }

  .input-fields {
    background: $white;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 92.5%;
    justify-content: center;

    .questionActionsRow {
      display: flex;
      align-items: left;
      .addLogicBtn {
        margin-left: -23px;
        color: $blue-main;
        font-weight: 400;
        .icon {
          transform: rotate(120deg);
          font-size: 12pt;
          margin-top: -5px;
        }
      }

      .action {
        padding: 0px 15px;
        display: flex;
        align-items: center;
        background: none;
        border: none;
      }
    }
    .addLogicRow {
      width: 100%;
    }

    .m-l-50 {
      margin-left: 50px;
    }

    .required-input {
      position: relative;
      top: 2px;
    }

    .range-values {
      color: $blue-main;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .required-label {
    position: relative;
    top: 1px;
  }

  .required-checkbox {
    margin: 0 8px 0 0px;
  }
}

.enableHistory-checkbox {
  margin: 0 8px 0 0px;
}

.uomBtn {
  color: $blue-main;
  margin-left: 5px;
  cursor: pointer;
}
.uomMenu {
  width: 250px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 350px);
  min-height: auto;
  background: $white2;
  .searchUOM {
    height: 35px;
    display: flex;
    align-items: center;
    background: $gray;
    padding: 5px 10px;
    .searchInput {
      border: none;
      width: 100%;
      padding: 5px;
      background: $gray;
    }
  }
  .noneOption {
    height: 20px;
    padding: 10px;
    cursor: pointer;
  }
  .uomOption {
    height: 20px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: $hover-bg2;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .uomSymbol {
      font-weight: 600;
    }
  }
}

.rangeBtn {
  cursor: pointer;
  margin-left: 5px;
  .rangeValues {
    color: $blue-main;
  }
  .rangeValuesNone {
    color: $blue-main;
  }
}

.question-icon {
  height: 25px;
  width: 25px;
}
