<div
  class="questions"
  [formGroup]="questionForm"
  *ngIf="{
    formMetadata: formMetadata$ | async,
    moduleName: moduleName$ | async,
    uom: uom$ | async
  } as props"
>
  <div>
    <div (click)="updateIsOpen(true)">
      <div class="dis-flex questions-div">
        <div
          class="width-70"
          [ngClass]="{
            'width-60': isAskQuestion,
            'width-70': !isAskQuestion,
            'question-input-box':
              questionForm.get('fieldType').value !== 'INST',
            'rtf-input-box': questionForm.get('fieldType').value === 'INST'
          }"
        >
          <input
            id="questionText"
            #name
            autocomplete="off"
            type="text"
            formControlName="name"
            [placeholder]="'typeQuestion' | translate"
            class="width-90 question-input"
            (keyup.enter)="addQuestion(false, false)"
            [id]="questionForm.get('id').value"
            *ngIf="questionForm.get('fieldType').value !== 'INST'"
          />

          <mat-form-field
            *ngIf="questionForm.get('fieldType').value === 'INST'"
            appearance="outline"
            class="width-100 instruction-question"
            placeholder="Type Question"
          >
            <quill-material
              #name
              formControlName="name"
              [placeholder]="'typeQuestion' | translate"
              [ngClass]="{
                'display-toolbar': questionForm.get('isOpen').value
              }"
              *ngIf="questionForm.get('fieldType').value === 'INST'"
              (editorFocus)="handleEditorFocus($event)"
            >
            </quill-material>
          </mat-form-field>

          <div
            class="floating-btns"
            *ngIf="!isAskQuestion && questionForm.get('isOpen').value"
          >
            <button
              id="questionBtn"
              class="questions-btn"
              (click)="addQuestion(true, true)"
            >
              <svg-icon
                id="questionAddIcon"
                icon="icon-add-question"
                class="question-icon"
              ></svg-icon>
              <p
                id="question"
                class="questions-delete-btn-text"
                translate="question"
              ></p>
            </button>
            <br />

            <button
              id="questionDeleteBtn"
              class="delete-btn"
              (click)="deleteQuestion($event)"
            >
              <svg-icon
                id="questionDeleteIcon"
                icon="icon-delete-question"
                class="question-icon"
              ></svg-icon>
              <p
                id="questionDelete"
                class="questions-delete-btn-text"
                translate="delete"
              ></p>
            </button>
          </div>
        </div>

        <span class="divider">|</span>
        <div class="width-30">
          <app-response-type-button
            [questionForm]="questionForm"
            [isImported]="this.isImported"
            [fieldTypes]="fieldTypes"
            (responseTypeOpenEvent)="responseTypeOpenEventHandler($event)"
          >
          </app-response-type-button>
          <ng-container
            *ngIf="questionForm.get('isResponseTypeModalOpen').value === true"
          >
            <app-response-type
              (selectFieldTypeEvent)="selectFieldTypeEventHandler($event)"
              (responseTypeCloseEvent)="responseTypeCloseEventHandler($event)"
              (setQuestionValue)="setQuestionValue($event)"
              [fieldTypes]="fieldTypes"
              [question]="questionForm.value"
              [isPreviewActive]="isPreviewActive"
            ></app-response-type>
          </ng-container>
        </div>
        <div *ngIf="isAskQuestion">
          <svg-icon
            id="deleteQuestionBtn"
            icon="icon-delete-icon"
            class="delete-icon"
            (click)="deleteQuestion($event)"
          ></svg-icon>
        </div>
      </div>
      <hr [ngClass]="!isAskQuestion ? 'question-line' : 'ask-question-line'" />

      <div
        class="dis-flex justify-content"
        *ngIf="
          (!isAskQuestion && questionForm.get('isOpen').value) ||
          (isAskQuestion &&
            showAskQuestionFeatures &&
            questionForm.get('id').value === isAskQuestionFocusId)
        "
      >
        <div class="input-fields">
          <div *ngIf="questionForm.get('fieldType').value !== 'IMG'">
            <div class="questionActionsRow">
              <button
                id="questionAddLogicBtn"
                mat-button
                color="primary"
                class="addLogicBtn"
                *ngIf="
                  !isAskQuestion &&
                  addLogicNotAppliedFields.indexOf(
                    questionForm.get('fieldType').value
                  ) < 0
                "
                (click)="
                  addLogicToQuestion(pageIndex, questionForm.get('id').value)
                "
              >
                <mat-icon id="questionLink" class="icon">link</mat-icon>
                <span
                  id="questionAddLogicBtnText"
                  translate="addLogicBtn"
                ></span>
              </button>

              <div
                *ngIf="
                  questionForm.get('fieldType').value === 'INST' &&
                  !isEmbeddedForm
                "
              >
                <div class="dis-flex">
                  <span
                    *ngFor="
                      let image of questionForm.get('value').value.images;
                      index as i
                    "
                  >
                    <app-instruction-image
                      [image]="image"
                      [index]="i"
                      (indexEmitter)="instructionsFileDeleteHandler($event)"
                      *ngIf="image !== null"
                      class="m-r-10"
                      (click)="openPreviewDialog()"
                    ></app-instruction-image>
                  </span>

                  <span *ngIf="questionForm.get('value').value.pdf !== null">
                    <app-instruction-pdf
                      [pdf]="questionForm.get('value').value.pdf"
                      [index]="'4'"
                      (indexEmitter)="instructionsFileDeleteHandler($event)"
                    >
                    </app-instruction-pdf>
                  </span>
                </div>
                <input
                  id="questionFile"
                  type="file"
                  class="file-upload"
                  accept="image/jpeg,image/jpg,image/png,application/pdf"
                  (change)="instructionsFileUploadHandler($event)"
                  [hidden]="true"
                  #instructionsFileUpload
                />

                <button
                  id="questionIsAskQuestionBtn"
                  mat-button
                  color="primary"
                  [ngClass]="
                    isAskQuestion ? 'ask-question-inst-btn' : 'addLogicBtn'
                  "
                  *ngIf="questionForm.get('fieldType').value === 'INST'"
                  (click)="instructionsFileUpload.click()"
                >
                  <mat-icon id="questionAskQuestionLink" class="icon"
                    >link</mat-icon
                  >
                  <span
                    id="questionAddImgPDFBtn"
                    translate="addImagesAndPDFBtn"
                  ></span>
                </button>

                <app-tag-select
                  [question]="questionForm"
                  (inputTagAnswer)="updateInstructionTag($event)"
                ></app-tag-select>
              </div>

              <span
                *ngIf="
                  !isAskQuestion &&
                  questionForm.get('fieldType').value !== 'LF' &&
                  questionForm.get('fieldType').value !== 'HL' &&
                  questionForm.get('fieldType').value !== 'INST'
                "
                class="action"
              >
                <mat-checkbox
                  formControlName="required"
                  class="required-checkbox"
                >
                </mat-checkbox>
                <label class="required-label" translate="requiredtext"></label>
              </span>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'NF' &&
                  !isEmbeddedForm
                "
                class="action"
              >
                <span translate="unitTxt"></span>
                <span
                  [matMenuTriggerFor]="menu"
                  #unitMenuTrigger="matMenuTrigger"
                  class="uomBtn"
                >
                  {{ questionForm.get('unitOfMeasurement').value }}
                </span>
                <mat-menu #menu="matMenu" (closed)="handleMatMenu()">
                  <ng-template matMenuContent>
                    <div (click)="$event.stopPropagation()" class="uomMenu">
                      <span class="searchUOM">
                        <mat-icon>search</mat-icon>
                        <input
                          type="text"
                          (input)="onKey($event)"
                          placeholder="Search.."
                          class="searchInput"
                        />
                      </span>

                      <span
                        class="noneOption"
                        (click)="uomChanged({ symbol: 'None' })"
                        >None</span
                      >
                      <span
                        *ngFor="let uom of unitOfMeasurementsAvailable"
                        class="uomOption"
                        (click)="uomChanged(uom)"
                      >
                        <span class="uomSymbol">{{ uom.symbol }}</span>
                        <span class="uomTitle">{{ uom.description }}</span>
                      </span>
                    </div>
                  </ng-template>
                </mat-menu>
              </span>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'NF' &&
                  !isEmbeddedForm
                "
                class="action"
              >
                <span translate="rangeTxt"></span>
                <span
                  class="rangeBtn"
                  (click)="rangeSelectorOpen(questionForm.value)"
                >
                  <span class="rangeValues">{{ rangeDisplayText }}</span>
                </span>
              </span>

              <span
                class="action"
                *ngIf="
                  (questionForm.get('fieldType').value === 'NF' ||
                    questionForm.get('fieldType').value === 'RT') &&
                  !isEmbeddedForm
                "
              >
                <mat-checkbox
                  #enableHistory
                  formControlName="enableHistory"
                  class="enableHistory-checkbox"
                >
                </mat-checkbox>
                <label class="required-label" translate="historyTxt"></label>
                <input
                  id="historyCount"
                  #historyCount
                  autocomplete="off"
                  type="number"
                  min="0"
                  step="1"
                  formControlName="historyCount"
                  class="history-count-input"
                  *ngIf="questionForm.get('enableHistory').value"
                  [ngClass]="[
                    questionForm.get('historyCount').invalid
                      ? 'history-error'
                      : ''
                  ]"
                />
                <label
                  class="required-label"
                  translate="readingLabelPlural"
                  *ngIf="questionForm.get('enableHistory').value"
                ></label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'DF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="date"
                  class="required-input"
                  name="date"
                  formControlName="value"
                />&nbsp;
                <label for="date" translate="defaultCurrentDate"></label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'TIF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="time"
                  class="required-input"
                  name="time"
                  formControlName="value"
                />&nbsp;
                <label for="time" translate="defaultCurrentTime"></label>
              </span>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'LF' ||
                  (isEmbeddedForm &&
                    questionForm.get('fieldType').value === 'HL')
                "
                class="action"
                [ngClass]="{
                  'width-100':
                    isEmbeddedForm &&
                    questionForm.get('fieldType').value === 'HL'
                }"
              >
                <app-read-only
                  [question]="questionForm"
                  [ngClass]="{
                    'hyperlink-long':
                      isEmbeddedForm &&
                      questionForm.get('fieldType').value === 'HL'
                  }"
                  [translateValue]="
                    questionForm.get('fieldType').value === 'LF'
                      ? 'defaultValue'
                      : 'link'
                  "
                  (defaultValue)="questionForm.get('value').setValue($event)"
                ></app-read-only>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'TF'"
                class="action"
              >
                <app-text
                  [question]="questionForm"
                  (inputTextAnswer)="questionForm.get('value').setValue($event)"
                ></app-text>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'DT'"
                class="action"
              >
                <app-date
                  [question]="questionForm.get('value')"
                  (checkedToDefaultDateAndTime)="
                    questionForm.get('value').setValue($event)
                  "
                ></app-date>
              </span>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'HL' &&
                  !isEmbeddedForm
                "
                class="action"
              >
                <button
                  id="questionAddLogicBtn"
                  mat-button
                  color="primary"
                  [ngClass]="
                    isAskQuestion ? 'ask-question-hl-btn' : 'addLogicBtn'
                  "
                  (click)="toggleHyperLink()"
                  [matTooltip]="
                    questionForm.get('value').value &&
                    questionForm.get('value').value?.link
                      ? questionForm.get('value').value.link
                      : 'Enter URL'
                  "
                >
                  <mat-icon class="icon">link</mat-icon>
                  <span id="questionAddLinkBtn">{{
                    questionForm.get('value').value.title
                      ? questionForm.get('value').value.title
                      : ('addLinkBtn' | translate)
                  }}</span>
                </button>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'RT'"
                (click)="sliderOpen()"
                class="action"
              >
                <label translate="range"></label>&nbsp;
                <span id="questionRange" class="range-values">
                  {{ questionForm.get('value').value.min }} -
                  {{ questionForm.get('value').value.max }}
                </span>
              </span>
              <app-response-type-side-drawer
                (rangeSelectionHandler)="rangeSelectionHandler($event)"
                [question]="questionForm.value"
                [formId]="formId"
                (setSliderValues)="questionForm.get('value').setValue($event)"
              ></app-response-type-side-drawer>

              <span
                class="action"
                *ngIf="questionForm.get('fieldType').value === 'TAF'"
              >
                <app-table
                  [questionForm]="questionForm"
                  [fieldTypes]="fieldTypes"
                ></app-table>
              </span>

              <span
                class="action"
                *ngIf="questionForm.get('fieldType').value === 'ARD'"
              >
                <app-array
                  [questionForm]="questionForm"
                  [fieldTypes]="fieldTypes"
                ></app-array>
              </span>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'DD' &&
                  !questionForm.get('value').value?.globalDataset
                "
                class="action"
              >
                <app-drop-down
                  [question]="questionForm"
                  (checkedMultiple)="questionForm.get('multi').setValue($event)"
                ></app-drop-down>
              </span>
            </div>
            <div class="addLogicRow" *ngIf="logics.length">
              <app-add-logic
                [questionId]="questionForm.get('id').value"
                [quickResponseValues]="questionForm.get('value').value"
                [fieldType]="questionForm.get('fieldType').value"
                [pageIndex]="pageIndex"
                [sectionId]="sectionId"
                [isTemplate]="isTemplate"
                (logicEvent)="logicEventHandler($event)"
                [selectedNodeId]="selectedNodeId"
                [isEmbeddedForm]="isEmbeddedForm"
                [questionName]="questionForm.get('name').value"
              ></app-add-logic>
            </div>
          </div>
          <div [hidden]="questionForm.get('fieldType').value !== 'IMG'">
            <app-image [question]="questionForm"></app-image>
            <input
              #insertImage
              [hidden]="true"
              type="file"
              accept="image/jpeg,image/jpg,image/png"
              (change)="insertImageHandler($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isHyperLinkOpen">
    <app-hyperlink-side-drawer
      [questionToBeHyperlinked]="questionForm.value"
      (hyperlinkHandler)="handlerHyperlink($event)"
    ></app-hyperlink-side-drawer>
  </div>
</div>
