<div
  class="questions"
  [formGroup]="questionForm"
  *ngIf="{
    question: question$ | async,
    sectionQuestionsCount: sectionQuestionsCount$ | async
  } as props"
>
  <div>
    <div [ngClass]="{ 'highlight-bg': fieldContentOpenState === true }">
      <div
        class="dis-flex questions-div"
        (click)="toggleFieldContentOpenState()"
      >
        <div class="width-70 question-input-box">
          <img
            src="assets/rdf-forms-icons/six-dots.svg"
            alt="six-dots"
            class="m-l-10 six-dots"
          />

          <input
            autocomplete="off"
            type="text"
            formControlName="name"
            placeholder="Type Question"
            class="width-90 question-input"
            (keyup.enter)="addQuestion()"
          />

          <div class="floating-btns">
            <button class="questions-btn" (click)="addQuestion()">
              <img
                src="assets/rdf-forms-icons/add-question.svg"
                alt="add questions"
              />
              <p class="questions-delete-btn-text" translate="question"></p>
            </button>
            <br />

            <button
              class="delete-btn"
              (click)="deleteQuestion()"
              [disabled]="props.sectionQuestionsCount === 1"
            >
              <img
                src="assets/rdf-forms-icons/delete-question.svg"
                alt="delete questions"
              />
              <p class="questions-delete-btn-text" translate="delete"></p>
            </button>
          </div>
        </div>

        <span class="divider">|</span>

        <div class="width-30">
          <app-response-type-button
            (openResponseTypeEvent)="openResponseType = true"
            [questionForm]="questionForm"
            [fieldTypes]="fieldTypes"
          >
          </app-response-type-button>
          <div *ngIf="openResponseType === true">
            <app-response-type
              (selectFieldTypeEvent)="selectFieldTypeEventHandler($event)"
              (openResponseTypeModalEvent)="
                openResponseTypeModalEventHandler($event)
              "
              [fieldTypes]="fieldTypes"
              [question]="question"
            ></app-response-type>
          </div>
        </div>
      </div>

      <div *ngIf="questionForm.get('fieldType').value === 'IMG'">
        <input
          #insertImages
          [hidden]="true"
          type="file"
          accept="image/jpeg,image/jpg,image/png"
          (change)="insertImageHandler($event)"
        />
      </div>

      <div
        class="dis-flex justify-content"
        *ngIf="fieldContentOpenState === true"
      >
        <div class="input-fields">
          <div *ngIf="questionForm.get('fieldType').value !== 'IMG'">
            <div>
              <span class="m-l-40">
                <input
                  type="checkbox"
                  id="required"
                  class="required-input"
                  name="required"
                  formControlName="required"
                />&nbsp;
                <label for="required" translate="requiredtext"></label>
              </span>

              <span
                class="m-l-40"
                *ngIf="questionForm.get('fieldType').value === 'TAF'"
              >
                <app-table></app-table>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'DF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="date"
                  class="required-input"
                  name="date"
                  formControlName="value"
                />&nbsp;
                <label for="date" translate="dateLabel"></label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'TIF'"
                class="m-l-10"
              >
                <input
                  type="checkbox"
                  id="time"
                  class="required-input"
                  name="time"
                  formControlName="value"
                />&nbsp;
                <label for="time" translate="timeLabel"></label>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'LF'"
                class="m-l-40"
              >
                <label for="defaultValue" translate="defaultValue"> </label>
                &nbsp;&nbsp;
                <input
                  type="text"
                  id="defaultValue"
                  formControlName="value"
                  class="default-field-input-box"
                />
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'TF'"
                class="m-l-50"
              >
                <label translate="type"></label>&nbsp;

                <select formControlName="value" class="text-field-select">
                  <option value="TF" translate="shortAns"></option>
                  <option value="LTV" translate="longAns"></option>
                </select>
              </span>

              <span
                *ngIf="questionForm.get('fieldType').value === 'RT'"
                (click)="sliderOpen()"
                class="m-l-50"
              >
                <label translate="range"></label>&nbsp;
              </span>
              <app-response-type-side-drawer></app-response-type-side-drawer>

              <span
                *ngIf="
                  questionForm.get('fieldType').value === 'DD' &&
                  !questionForm.get('value').value?.globalDataset
                "
                class="m-l-20"
              >
                <input
                  type="checkbox"
                  id="multi"
                  class="required-input"
                  name="multi"
                  formControlName="multi"
                  (click)="
                    questionForm
                      .get('multi')
                      .setValue(!questionForm.get('multi').value)
                  "
                />&nbsp;
                <label for="multi" translate="multiLabel"></label>
              </span>
            </div>
          </div>

          <div *ngIf="questionForm.get('fieldType').value === 'IMG'">
            <div
              class="width-50 bg-white dis-flex"
              *ngIf="questionForm.get('value').value"
            >
              <img
                class="insert-image"
                [src]="getImageSrc(questionForm.get('value').value.base64)"
                alt="image"
              />
              <div>
                <span>
                  {{ questionForm.get('value').value.name }}
                </span>
                <br />
                <span>
                  {{ (questionForm.get('value').value.size / 1024).toFixed(2) }}
                  KB
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-content></ng-content>
