@import '../../../scss/colors.scss';

.toast {
  position: relative;
  display: flex;
  top: 15px;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 10px 10px 15px;
  min-width: auto;
  width: auto;
  overflow: hidden;
  background: $black;
  color: $white;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #d6d6d6 #cfcfcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.p-t-4 {
  padding-top: 4px;
}

.toast-close {
  font-size: 160%;
  margin-left: 10px;
  cursor: pointer;
}
