@import '../../../../scss/colors.scss';

.report-configuration {
  width: 570px;
  height: 475px;
  overflow: hidden;
  padding: 15px 0px;
}

.list-group-item:focus {
  outline: none;
}

.favorite-icon {
  left: 20px;
}

.modal-header-title {
  margin: 0 20px 10px 20px;
  font-size: 110%;
}

.content {
  height: 100%;
  max-height: 80%;
}

.content-div {
  height: 100%;
  display: flex;
}

.content-left-div {
  width: 50%;
}

.content-right-div {
  border-left: 1px solid $disabled-color;
  width: 50%;
}

.search-fields {
  padding: 0 15px;
  width: 90%;
}

.titles {
  font-style: normal;
  font-weight: 500;
  padding-left: 20px;
  font-size: 110%;
  color: $gray-bg;
}

.list-group-item {
  border: none;
  padding: 10px 0px 10px 20px;
  font-weight: 400;
  font-size: 100%;
  color: $black;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #e5f2ff;
}

.list-group-item.active {
  background-color: #e5f2ff;
}

li {
  list-style-type: none;
}

.footer {
  border-top: 1px solid $disabled-color;
}

.cancel-button {
  color: $blue-main;
  margin-right: 10px;
}

.no-report-objects {
  text-align: center;
  width: 80%;
  background: $white2;
  margin: 0 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px dashed #666;
  font-weight: 600;
}
