@import '../../../../scss/colors.scss';
.main-container {
  background-color: #ffffff;
  height: 90vh;
  position: relative;
}

.usergroup-header {
  border-bottom: 1px solid $border-color;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.usergroup-right-pannel {
  position: relative;
  left: 450px;
}

.add-role-btn {
  background: $blue-main;
  color: $white;
  box-shadow: none;
  margin-left: 54vw;
  width: 21%;
  height: 29px;
  font-weight: normal;
  line-height: normal;
  top: -37px;
}
.more-usergroup {
  color: $light-gray;
  position: relative;
  top: -2px;
  left: 11px;

  mat-icon {
    font-size: 170%;
  }
}

.add-btn {
  height: 30px;
  border-radius: 100%;
  width: 30px;
  border: none;
  position: relative;
  top: 10px;
  left: 1px;
  background: none;
}

.add-btn:hover {
  background-color: $add-hover-bg;
}

.add-btn-icon {
  position: relative;
  right: 3px;
  top: 1px;
  color: $blue;
}

.left-pannel-header {
  display: flex;
}

.count-of-usergroup {
  margin: 0 0 0 10px;
}
.right-pannel-header {
  position: relative;
  right: 10px;
  display: inline;
  top: 14px;
}

.usergroup-count-header {
  font-weight: 500;
  font-size: 140%;
  color: $gray-bg;
  position: relative;
  padding: 3px 12px;
  border-radius: 20px;
  top: -1px;
}

.usergroup-text {
  position: relative;
  left: -6px;
  font-weight: 500;
  font-size: 143%;
  color: $gray1;
}

.add-usergroup-btn {
  background: $blue-main;
  color: $white;
  box-shadow: none;
  margin-left: 10px;
  height: 29px;
  font-weight: 400;
  line-height: normal;
  font-size: 110%;
}

.usergroup-content {
  height: 80vh;
}

.usergroup-left-panel {
  border-right: 1px solid $border-color;
}

.heading {
  font-weight: 700;
  font-size: 130%;
  color: $blue-head;
  margin: 0;
  padding-left: 20px;
  position: relative;
  top: 15px;
}

.roles-title {
  position: relative;
  top: 5px;
}

.search-form-field {
  width: 94%;
  margin: 0 0 11px 0;
  position: relative;
  top: 5px;
  padding: 0px 9px 5px;
}

.copy-role-btn {
  color: $blue-main;
  border: 1px solid $disabled-color;
  float: right;
  margin: 8px 10px 0 0;
  height: 29px;
  font-weight: normal;
  line-height: normal;
}

.save-role-btn {
  background-color: $blue-main;
  color: $white;
  float: right;
  margin: 8px 10px 0 0;
  box-shadow: none;
  height: 29px;
  font-weight: normal;
  line-height: normal;
}

.show-cancel-btn {
  display: block;
}

.hide-cancel-btn {
  display: none;
}

.role-name {
  color: $gray-bg;
  padding: 10px;
  margin-top: 3px;
  font-weight: 500;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.usergroup-count {
  padding: 3px 7px;
  font-size: 80%;
  background: rgba(61, 90, 254, 0.08);
  border-radius: 20px;
  position: absolute;
  right: 60px;
}

.super-admin-icon {
  position: relative;
  top: 2px;
  ::ng-deep svg {
    height: 15px !important;
    width: 20px !important;
  }
}

.more-items {
  position: absolute;
  right: 0;
}

.roles {
  padding: 0;
  height: 100%;
  overflow-y: auto;
  background: white;
}

.roles-list {
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
}

.roles-list:first-child {
  border-top: 1px solid #e7e7e7;
}

.selected-roles-list {
  background: rgba(61, 90, 254, 0.08);
  .role-name {
    color: #5449b7;
  }
}

.roles-list:hover {
  background-color: rgba(61, 90, 254, 0.08);
}

.custom-mat-form-field-white-color {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 8px;
    background: #ffffff;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -24px !important;
  }
  ::ng-deep.mat-form-field-flex > .mat-form-field-infix {
    padding: 1px 0px 8px 0px !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
}

.mat-error-name {
  position: absolute;
  z-index: 10;
  margin-left: 20px;
  margin-top: -7px;
  background: white;
  padding: 0 4px;
  letter-spacing: 0.4px;
}

.mat-error-description {
  position: absolute;
  z-index: 10;
  margin-left: 7px;
  margin-top: -7px;
  background: white;
  padding: 4px;
  letter-spacing: 0.4px;
}

.role-errors {
  margin-bottom: 0 !important;
}

.confirm-btn {
  background-color: red;
  color: yellow;
}

.text-red-color {
  color: #f44336;
}

.error-fields {
  white-space: nowrap;
  margin-left: -10px;
  background: white;
}

.roles-content {
  ::ng-deep .mat-form-field-subscript-wrapper {
    width: auto;
  }
}
.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.list-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}
.userList-left-component {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.title {
  font-size: 120%;
  font-weight: 500;
}
.header-right-elements {
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
