@import '../../../../scss/colors.scss';

.widgets {
  width: 300px;
  background: $white;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;

  .widgets-title {
    letter-spacing: 0.25px;
    color: $text-color;
    font-size: 120%;
    margin-left: 12px;
    position: relative;
    top: -5px;
  }
}

.widgets:disabled {
  cursor: auto;
}

.container-padding {
  justify-content: center;
}
