@import '../../../../scss/colors.scss';

::ng-deep .template-list + * .mat-menu-panel {
  position: absolute;
  top: -42px;
  left: 10px;
  background: $white;
  box-shadow: 3px 3px 5px 0px $box-shadow1;
}

.widgets {
  width: 300px;
  background: $white;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 15px 0;
  text-align: center;
  margin: 0 10px;

  .widgets-title {
    letter-spacing: 0.25px;
    color: $text-color;
    font-size: 120%;
    margin-left: 12px;
    position: relative;
    top: -5px;
  }
}

.widgets:disabled {
  cursor: auto;
  background-color: $gray2-bg;
  color: $gray7;
  filter: grayscale(1);
  opacity: 0.7;
}

.container-padding {
  justify-content: center;
}

.add-form-icon {
  width: 22px;
  height: 22px;
}

.import-excel-icon {
  width: 25px;
  height: 25px;
}
