<div *ngIf="currentRouteUrl$ | async as currentRouteUrl" class="template-list">
  <ng-container *ngIf="currentRouteUrl === routingUrls.raceDynamicForms.url">
    <div class="dis-flex container-padding">
      <button class="widgets" [matMenuTriggerFor]="menu">
        <img
          src="assets/rdf-forms-icons/add-form.svg"
          alt="Create"
          width="22"
          height="22"
        />
        <span class="widgets-title" translate="createForm"></span>
      </button>
      <mat-menu #menu="matMenu" backdropClass="template-list">
        <button mat-menu-item (click)="openCreateFromTemplateModal()">
          {{ 'createFromTemplate' | translate }}
        </button>
        <button mat-menu-item (click)="openFormCreationModal()">
          {{ 'createNew' | translate }}
        </button>
      </mat-menu>
      <button class="widgets" [disabled]="true">
        <img
          src="assets/rdf-forms-icons/import-excel.svg"
          alt="Import"
          width="25"
          height="25"
        />
        <span class="widgets-title" translate="importForm"></span>
      </button>
      <button class="widgets" [disabled]="true">
        <img
          src="assets/rdf-forms-icons/export-excel.svg"
          alt="Export"
          width="25"
          height="25"
        />
        <span class="widgets-title" translate="exportExcel"></span>
      </button>
    </div>

    <app-form-list></app-form-list>
  </ng-container>
  <router-outlet></router-outlet>
</div>
