<div class="peoplesTabBody">
  <div class="searchBar">
    <input
      disabled
      matInput
      placeholder="{{ 'searchCallList' | translate }}"
      name="searchKey"
      id="searchKey"
      [(ngModel)]="searchKey"
      (ngModelChange)="this.searchKeyUpdate.next($event)"
      autocomplete="off"
      class="searchInput"
    />
    <button id="callsMoreBtn" mat-icon-button class="searchMore" disabled>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div
    class="userList"
    *ngIf="callList$ | async as callList; else loadingUsers"
    (scroll)="onPeopleListScrolled($event)"
  >
    <mat-list>
      <mat-list-item
        *ngFor="let call of callList; let i = index"
        class="peopleList"
      >
        <div class="icon-button" mat-list-icon>
          <div class="userPresence">
            <img id="callsProfileImg" class="icon" [src]="call.profileImage" />
          </div>
        </div>
        <div mat-line>
          <b id="callsName">{{ call.firstName }} {{ call.lastName }}</b>
        </div>
        <div mat-line>
          <div id="callsOutGoing" *ngIf="call.isInitiator" class="alignCenter">
            <mat-icon class="callMade">call_made</mat-icon>
            Outgoing
          </div>
          <div *ngIf="!call.isInitiator" class="alignCenter">
            <mat-icon
              [ngClass]="{
                callReceived: !call.isInitiator && call.hasJoined,
                callMissed: !call.isInitiator && !call.hasJoined
              }"
              >call_received</mat-icon
            >
            <span id="callsIncoming" *ngIf="!call.isInitiator && call.hasJoined"
              >Incoming</span
            >
            <span id="callsMissed" *ngIf="!call.isInitiator && !call.hasJoined"
              >Missed</span
            >
          </div>
        </div>
        <div id="callsCreatedAt">{{ call.createdAt | timeAgo }}</div>

        <button
          id="callsPhoneBtn"
          mat-icon-button
          color="primary"
          *ngIf="call.conferenceDetails.conferenceType === 'audio'"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          id="callsVideoCam"
          mat-icon-button
          color="primary"
          *ngIf="call.conferenceDetails.conferenceType === 'video'"
        >
          <mat-icon>videocam</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<ng-template #loadingUsers>
  <div class="p-15">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
