<div mat-dialog-actions align="end" class="buttons">
  <button
    id="templateConfigurationModelCancelBtn"
    mat-stroked-button
    type="button"
    color="primary"
    class="skip-btn"
    (click)="onCancel()"
    translate="cancelBtn"
  ></button>
  <button
    id="templateConfigurationModelNextBtn"
    mat-raised-button
    type="submit"
    color="primary"
    class="next-btn"
    (click)="next()"
    [disabled]="
      headerDataForm.invalid || headerDataForm.pristine || tagsCtrl.invalid
    "
    translate="nextBtn"
  ></button>
</div>

<div class="form-header-modal" [formGroup]="headerDataForm">
  <div class="dis-flex form-content">
    <div class="width-5"></div>
    <div class="width-95">
      <div class="form-details">
        <h2
          id="templateConfigurationModelHeading"
          class="heading"
          translate="templateDetailsHeading"
        ></h2>
        <p
          id="templateConfigurationModelSubHeading"
          class="sub-heading"
          translate="setTemplateTypeHeading"
        ></p>
        <div class="formtype-flex">
          <mat-radio-group class="dis-flex" formControlName="formType">
            <div class="formtype-style">
              <mat-radio-button
                id="templateConfigurationModelStandaloneType"
                class="radio-btns"
                [value]="formConfigurationStatus.standalone"
                [disabled]="this.templateData.templateExists"
              ></mat-radio-button>
              <span
                class="radio-btn-text"
                id="templateConfigurationModelStandalone"
                translate="standalone"
              >
              </span>
              <p
                class="radio-sub-text"
                id="templateConfigurationModelStandaloneText"
                translate="standaloneSubText"
              ></p>
            </div>
            <div class="formtype-style">
              <mat-radio-button
                id="templateConfigurationModelStandaloneRadio"
                class="radio-btns"
                [value]="formConfigurationStatus.embedded"
                [disabled]="this.templateData.templateExists"
              ></mat-radio-button>
              <span
                class="radio-btn-text"
                id="templateConfigurationModelEmbedded"
                translate="embedded"
              >
              </span
              ><br />
              <p
                class="radio-sub-text"
                id="templateConfigurationModelEmbeddedText"
                translate="embeddedSubText"
              ></p>
            </div>
          </mat-radio-group>
        </div>
        <div class="form-name">
          <p
            id="templateConfigurationModelName"
            class="form-name-description"
            translate="templateName"
          ></p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              id="templateConfigurationModelNameText"
              type="text"
              name="formName"
              matInput
              [placeholder]="'templateName' | translate"
              formControlName="name"
            />
            <mat-error
              id="templateConfigurationModelNameError"
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'Template name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </mat-form-field>
          <p
            id="templateConfigurationModelDescription"
            class="form-name-description"
            translate="templateDescription"
          ></p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              id="templateConfigurationModelDescriptionText"
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>

          <div class="tags">
            <p class="form-name-description m-b-0" translate="tags"></p>
            <mat-form-field class="chips-list width-100" appearance="outline">
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag)"
                  class="tags-mat-chips"
                >
                  {{ tag }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  [placeholder]="'startTypingTags' | translate"
                  [matChipInputFor]="chipList"
                  [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"
                  #tagsInput
                  [formControl]="tagsCtrl"
                />
              </mat-chip-list>

              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let tag of filteredTags | async"
                  [value]="tag"
                >
                  {{ tag }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-error
              id="tagsError"
              *ngIf="processValidationErrorTags()"
              class="m-5"
            >
              {{
                errors.tagsCtrl.name
                  | translate
                    : {
                        name: 'tags' | translate,
                        length: errors.tagsCtrl.length
                      }
              }}
            </mat-error>
          </div>

          <div class="additional-details">
            <p
              translate="additionalDetailsHeading"
              id="additionalDetailsHeading"
              class="additional-details-text"
            ></p>
            <button
              *ngIf="
                headerDataForm.get('additionalDetails')['controls'].length < 5
              "
              class="add-button"
              (click)="addAdditionalDetails()"
            >
              {{ 'add' | translate }}
            </button>
          </div>
          <div
            class="label-value-text"
            *ngIf="
              headerDataForm.get('additionalDetails')['controls']?.length > 0
            "
          >
            <div class="width-45 label">{{ 'label' | translate }}</div>
            <div class="width-45 m-l-20 value">{{ 'value' | translate }}</div>
          </div>
          <div formArrayName="additionalDetails">
            <div
              *ngFor="
                let additionalDetails of getAdditionalDetailList();
                let i = index
              "
            >
              <div [formGroupName]="i" class="dis-flex">
                <div class="width-45">
                  <mat-form-field
                    appearance="outline"
                    class="m-l-5 symbol m-b-10 width-100"
                  >
                    <input
                      #labelInput
                      matInput
                      type="text"
                      formControlName="label"
                      class="example-input"
                      [matAutocomplete]="autolabel"
                      (click)="labelOptionClick(i)"
                    />

                    <mat-autocomplete #autolabel="matAutocomplete">
                      <mat-option
                        *ngFor="let label of filteredLabels$ | async"
                        [value]="label"
                      >
                        {{ label }}
                        <button
                          mat-button
                          class="remove-btn"
                          (click)="removeLabel(label, i)"
                        >
                          <span>{{ 'removeBtn' | translate }}</span>
                        </button>
                      </mat-option>
                      <mat-option
                        *ngIf="
                          headerDataForm.get('additionalDetails')['controls'][i]
                            .value.label
                        "
                      >
                        <ng-container>
                          <button
                            mat-button
                            color="primary"
                            class="p-0"
                            (click)="storeDetails(i)"
                            [disabled]="
                              headerDataForm.get('additionalDetails')[
                                'controls'
                              ][i].invalid ||
                              headerDataForm.get('additionalDetails')[
                                'controls'
                              ][i].pristine
                            "
                          >
                            <mat-icon class="m-r-5">add</mat-icon>

                            <span
                              >{{ 'addNew' | translate }} ({{
                                headerDataForm.get('additionalDetails')[
                                  'controls'
                                ][i].value.label
                              }})</span
                            >
                          </button>
                        </ng-container>
                      </mat-option>
                    </mat-autocomplete>

                    <mat-error
                      *ngIf="
                        processValidationErrorsAdditionalDetails(i, 'label')
                      "
                      class="m-t-5 error-fields"
                    >
                      {{
                        errors?.label?.name
                          | translate
                            : {
                                name: 'label' | translate,
                                length: errors?.label?.length
                              }
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="width-45">
                  <mat-form-field
                    appearance="outline"
                    class="m-l-20 symbol m-b-10 width-100"
                  >
                    <input
                      #valueInput
                      matInput
                      type="text"
                      formControlName="value"
                      [matAutocomplete]="autoValue"
                      class="example-input"
                      (click)="valueOptionClick(i)"
                    />
                    <mat-autocomplete #autoValue="matAutocomplete">
                      <mat-option
                        *ngFor="let value of filteredValues$ | async"
                        [value]="value"
                      >
                        {{ value }}
                        <button
                          mat-button
                          class="remove-btn"
                          (click)="removeValue(value, i)"
                        >
                          <span>{{ 'removeBtn' | translate }}</span>
                        </button>
                      </mat-option>

                      <mat-option
                        *ngIf="
                          headerDataForm.get('additionalDetails')['controls'][
                            i
                          ]['value'].value
                        "
                      >
                        <button
                          mat-button
                          color="primary"
                          class="p-0"
                          (click)="storeValueDetails(i)"
                          [disabled]="
                            headerDataForm.get('additionalDetails')['controls'][
                              i
                            ].invalid ||
                            headerDataForm.get('additionalDetails')['controls'][
                              i
                            ].pristine
                          "
                        >
                          <mat-icon class="m-r-5">add</mat-icon>

                          <span
                            >{{ 'addNew' | translate }} ({{
                              headerDataForm.get('additionalDetails')[
                                'controls'
                              ][i]['value'].value
                            }})</span
                          >
                        </button>
                      </mat-option>
                    </mat-autocomplete>

                    <mat-error
                      *ngIf="
                        processValidationErrorsAdditionalDetails(i, 'value')
                      "
                      class="m-t-5 error-fields"
                    >
                      {{
                        errors?.value?.name
                          | translate
                            : {
                                name: 'value' | translate,
                                length: errors?.value?.length
                              }
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="width-10 cancel-icon">
                  <svg-icon
                    icon="icon-closeIcon"
                    class="close-icon"
                    (click)="deleteAdditionalDetails(i)"
                  ></svg-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
