<div mat-dialog-actions align="end" class="buttons">
  <button
    id="templateConfigurationModelCancelBtn"
    mat-stroked-button
    type="button"
    color="primary"
    class="skip-btn"
    (click)="onCancel()"
    translate="cancelBtn"
  ></button>
  <button
    id="templateConfigurationModelNextBtn"
    mat-raised-button
    type="submit"
    color="primary"
    class="next-btn"
    (click)="next()"
    [disabled]="
      headerDataForm.invalid || headerDataForm.pristine || tagsCtrl.invalid
    "
    translate="nextBtn"
  ></button>
</div>

<div class="form-header-modal" [formGroup]="headerDataForm">
  <div class="dis-flex form-content">
    <div class="width-5"></div>
    <div class="width-95">
      <div class="form-details">
        <h2
          id="templateConfigurationModelHeading"
          class="heading"
          translate="templateDetailsHeading"
        ></h2>
        <p
          id="templateConfigurationModelSubHeading"
          class="sub-heading"
          translate="setTemplateTypeHeading"
        ></p>

        <p class="formtype-formfield">
          {{
            (this.headerDataForm.get('formType').value === 'Embedded'
              ? 'createEmbedded'
              : 'createStandalone'
            ) | translate
          }}
        </p>

        <div class="form-name">
          <p
            id="templateConfigurationModelName"
            class="form-name-description"
            translate="templateName"
          ></p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              id="templateConfigurationModelNameText"
              type="text"
              name="formName"
              matInput
              [placeholder]="'templateName' | translate"
              formControlName="name"
            />
            <mat-error
              id="templateConfigurationModelNameError"
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'Template name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </mat-form-field>
          <p
            id="templateConfigurationModelDescription"
            class="form-name-description"
            translate="templateDescription"
          ></p>
          <mat-form-field appearance="outline" class="width-100">
            <input
              id="templateConfigurationModelDescriptionText"
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>

          <div class="tags">
            <p class="form-name-description m-b-0" translate="tags"></p>
            <mat-form-field class="chips-list width-100" appearance="outline">
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let tag of tags"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(tag)"
                  class="tags-mat-chips"
                >
                  {{ tag }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  [placeholder]="'startTypingTags' | translate"
                  [matChipInputFor]="chipList"
                  [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"
                  #tagsInput
                  [formControl]="tagsCtrl"
                />
              </mat-chip-list>

              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let tag of filteredTags | async"
                  [value]="tag"
                >
                  {{ tag }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-error
              id="tagsError"
              *ngIf="processValidationErrorTags()"
              class="m-5"
            >
              {{
                errors.tagsCtrl.name
                  | translate
                    : {
                        name: 'tags' | translate,
                        length: errors.tagsCtrl.length
                      }
              }}
            </mat-error>
          </div>
          <div class="additional-details">
            <p
              translate="additionalDetailsHeading"
              id="additionalDetailsHeading"
              class="additional-details-text"
            ></p>
          </div>
          <div class="m-t-15" *ngIf="isLoading$ | async">
            <div class="ghost-loading">
              <div *ngFor="let number of ghostLoading">
                <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
                </ngx-shimmer-loading>
              </div>
            </div>
          </div>
          <div *ngIf="(isLoading$ | async) === false">
            <div
              class="label-value-text"
              *ngIf="
                headerDataForm.get('additionalDetails')['controls']?.length > 0
              "
            >
              <div class="width-45 label">{{ 'label' | translate }}</div>
              <div class="width-45 value">{{ 'value' | translate }}</div>
            </div>
            <div formArrayName="additionalDetails">
              <div
                *ngFor="
                  let additionalDetails of getAdditionalDetailList();
                  let i = index
                "
              >
                <div [formGroupName]="i" class="dis-flex">
                  <div class="width-45">
                    <p class="formtype-formfield">
                      {{ additionalDetails.value.label }}
                    </p>
                  </div>
                  <div class="width-45">
                    <mat-form-field
                      appearance="outline"
                      class="m-l-5 symbol m-b-10 width-100"
                    >
                      <mat-label id="filterStatusLabel">Select</mat-label>
                      <mat-select
                        #matSelect
                        multiple
                        [(value)]="additionalDetails.value.selectedValue"
                        name="showStatus"
                        placeholder="Select"
                        [compareWith]="compareValues"
                        (selectionChange)="
                          onSelectionChange(
                            $event,
                            additionalDetails.value.label
                          )
                        "
                      >
                        <div class="multiple-header">
                          <span id="doneLabel">Select</span>
                          <button
                            id="filterDoneBtn"
                            class="done-filters-btn"
                            (click)="closeSelect(matSelect)"
                          >
                            {{ 'done' | translate }}
                          </button>
                        </div>
                        <mat-select-trigger>
                          {{
                            additionalDetails?.value.value.length > 0 &&
                            additionalDetailMap[additionalDetails.value?.label]
                              .length !==
                              additionalDetails['value']['value'].length
                              ? additionalDetails.value.selectedValue[0]
                              : ''
                          }}
                          <span
                            *ngIf="
                              additionalDetailMap[additionalDetails.value.label]
                                .length > 1 &&
                              additionalDetailMap[additionalDetails.value.label]
                                .length !==
                                additionalDetails['value']['value'].length
                            "
                          >
                            (+{{
                              additionalDetailMap[additionalDetails.value.label]
                                .length - 1
                            }}
                            {{
                              additionalDetailMap[additionalDetails.value.label]
                                .length === 2
                                ? 'other'
                                : 'others'
                            }})
                          </span>
                          <span
                            *ngIf="
                              additionalDetailMap[additionalDetails.value.label]
                                .length ===
                              additionalDetails['value']['value']?.length
                            "
                            >All
                          </span>
                        </mat-select-trigger>
                        <div class="scrollable-area">
                          <mat-option
                            *ngFor="
                              let addValue of additionalDetails.value.value
                            "
                            [value]="addValue"
                          >
                            {{ addValue }}
                          </mat-option>
                        </div>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
