<div class="list-view" *ngIf="userInfo$ | async">
  <div class="main-container">
    <div class="forms-header">
      <h2 id="roundPlanListName" class="heading" translate="myPlans"></h2>
      <div class="custom-form-field-gray-color search">
        <span class="no-of-forms" *ngIf="formsListCount$ | async as totalCount">
          <span id="roundPlanListCount" class="forms-count">
            {{ totalCount | count }} &nbsp;
          </span>
          <span id="roundPlanListCountText" class="forms-text">{{
            'plans'
              | translate
                : {
                    count: totalCount || 0
                  }
          }}</span>
        </span>
        <mat-form-field appearance="outline">
          <mat-icon id="=roundPlanListSearchIcon" matPrefix class="searchIcon">
            search
          </mat-icon>
          <input
            id="roundPlanListSearchText"
            matInput
            type="text"
            [placeholder]="'searchForms' | translate"
            autocomplete="off"
            [formControl]="searchForm"
          />

          <svg-icon
            id="roundPlanListFilterIcon"
            icon="icon-filterIcon"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="isPopoverOpen = !isPopoverOpen"
            matSuffix
            class="filter-icon"
          ></svg-icon>
        </mat-form-field>
        <button
          id="roundPlanListCreateBtn"
          class="create-new-btn"
          (click)="openRoundPlanCreationModal()"
          *appCheckUserHasPermission="[perms.createORPlan]"
        >
          <span
            id="roundPlanListCreateText"
            class="widgets-title"
            translate="createNew"
          ></span>
        </button>
      </div>
    </div>

    <div *ngIf="(forms$ | async) && (isLoading$ | async) === false">
      <cwp-dynamictable
        [dataSource]="dataSource"
        [configOptions]="configOptions"
        (fetchDataCallback)="handleTableEvent($event)"
        (rowLevelActionHandler)="rowLevelActionHandler($event)"
        (onConfigOptionsChange)="configOptionsChangeHandler($event)"
        (cellClickActionHandler)="cellClickActionHandler($event)"
        class="width-100"
      ></cwp-dynamictable>
    </div>
  </div>

  <ng-container *ngIf="menuState">
    <app-form-detail
      [@slideInOut]="menuState"
      (slideInOut)="onCloseViewDetail()"
      [selectedForm]="selectedForm"
      [moduleName]="'OPERATOR_ROUNDS'"
      (formDetailAction)="roundPlanDetailActionHandler($event)"
    ></app-form-detail>
  </ng-container>

  <div *ngIf="isLoading$ | async">
    <div class="ghost-loading">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="applyFilter($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template>
</div>
