<div *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <ng-container *ngIf="currentRouteUrl === routingUrls.myRoundPlans.url">
    <!-- <div class="dis-flex container-padding">
      <button class="widgets" (click)="openRoundPlanCreationModal()">
        <svg-icon icon="icon-add-form" class="add-form-icon"></svg-icon>
        <span class="widgets-title" translate="createForm"></span>
      </button>
      <button class="widgets" [disabled]="true">
        <svg-icon icon="icon-import-excel" class="import-excel-icon"></svg-icon>
        <span class="widgets-title" translate="importForm"></span>
      </button>
      <button class="widgets" [disabled]="true">
        <svg-icon icon="icon-export-excel" class="import-excel-icon"></svg-icon>
        <span class="widgets-title" translate="exportExcel"></span>
      </button>
    </div> -->
    <app-round-plan-list></app-round-plan-list>
  </ng-container>
  <router-outlet></router-outlet>
</div>
