<div class="create-form-main" [formGroup]="createForm">
  <div class="dis-flex form-header">
    <div>
      <div class="dis-flex">
        <img
          src="assets/rdf-forms-icons/form-image-upload.svg"
          alt=""
          (click)="formImageuploader.click()"
        />
        <input
          hidden
          type="file"
          #formImageuploader
          accept="image/x-png,image/jpeg"
          (change)="uploadFormImageFile($event)"
        />
        <div>
          <a class="form-title">
            <input
              #name
              type="text"
              class="form_title_input"
              placeholder="Untitled Form"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
            />
          </a>
          <a class="form-description">
            <input
              type="text"
              class="form_description_input"
              placeholder="Add Form description"
              formControlName="description"
              autofocus="true"
              autocomplete="off"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="dis-flex">
      <button
        mat-stroked-button
        class="import-btn"
        translate="importBtn"
      ></button>

      <button mat-raised-button class="publish-btn">
        <span>
          <img
            alt="upload"
            src="assets/work-instructions-icons/svg/upload-white.png"
            class="publish-btn-icon"
          />
          <span class="publish" translate="publishBtn"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="dis-flex form">
    <div class="width-70">
      <ng-container *ngFor="let page of getPages(); let pageIndex = index">
        <app-page
          [pageData]="getPageData(pageIndex)"
          (addPageEvent)="addPageEventHandler($event)"
        >
          <ng-container
            *ngFor="
              let section of getSections(pageIndex);
              let sectionIndex = index
            "
          >
            <app-section
              [sectionData]="getSectionData(pageIndex, sectionIndex)"
              (addSectionEvent)="addSectionEventHandler($event, pageIndex)"
            >
              <ng-container
                *ngFor="
                  let question of getSectionQuestions(pageIndex, section.id);
                  let questionIndex = index
                "
              >
                <app-template
                  [questionData]="
                    getQuestionData(pageIndex, questionIndex, section.id)
                  "
                  (addQuestionEvent)="
                    addQuestionEventHandler($event, pageIndex, section.id)
                  "
                ></app-template>
              </ng-container>
            </app-section>
          </ng-container>
        </app-page>
      </ng-container>
    </div>
    <div class="width-30">
      <app-preview></app-preview>
    </div>
  </div>
</div>
