<div
  class="create-form-main"
  [formGroup]="formConfiguration"
  *ngIf="formMetadata$ | async"
>
  <div class="dis-flex form-header">
    <div>
      <div class="dis-flex">
        <img
          src="assets/rdf-forms-icons/form-image-upload.svg"
          alt=""
          (click)="formImageuploader.click()"
        />
        <input
          hidden
          type="file"
          #formImageuploader
          accept="image/x-png,image/jpeg"
          (change)="uploadFormImageFile($event)"
        />
        <div>
          <a class="form-title">
            <input
              #name
              type="text"
              class="form_title_input"
              placeholder="Untitled Form"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
            />
          </a>
          <a class="form-description">
            <input
              type="text"
              class="form_description_input"
              placeholder="Add Form description"
              formControlName="description"
              autofocus="true"
              autocomplete="off"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="dis-flex">
      <button
        mat-stroked-button
        class="import-btn"
        translate="importBtn"
      ></button>

      <button mat-raised-button class="publish-btn">
        <span>
          <img
            alt="upload"
            src="assets/work-instructions-icons/svg/upload-white.png"
            class="publish-btn-icon"
          />
          <span class="publish" translate="publishBtn"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="dis-flex form">
    <div class="width-70">
      <ng-container *ngFor="let pageIndex of pageIndexes$ | async">
        <app-page
          [pageIndex]="pageIndex"
          (addPageEvent)="addPageEventHandler($event)"
        >
          <ng-container *ngIf="sectionIds$ | async as sectionIds">
            <ng-container *ngIf="sectionIndexes$ | async as sectionIndexes">
              <ng-container
                *ngFor="let sectionIndex of sectionIndexes[pageIndex]"
              >
                <app-section
                  [pageIndex]="pageIndex"
                  [sectionIndex]="sectionIndex"
                  (addSectionEvent)="addSectionEventHandler($event)"
                  (updateSectionEvent)="updateSectionEventHandler($event)"
                >
                  <ng-container
                    *ngIf="questionIndexes$ | async as questionIndexes"
                  >
                    <ng-container
                      *ngFor="
                        let questionIndex of questionIndexes[pageIndex][
                          sectionIndex
                        ]
                      "
                    >
                      <app-question
                        [pageIndex]="pageIndex"
                        [sectionId]="sectionIds[pageIndex][sectionIndex]"
                        [questionIndex]="questionIndex"
                        (addQuestionEvent)="addQuestionEventHandler($event)"
                        (updateQuestionEvent)="
                          updateQuestionEventHandler($event)
                        "
                      ></app-question>
                    </ng-container>
                  </ng-container>
                </app-section>
              </ng-container>
            </ng-container>
          </ng-container>
        </app-page>
      </ng-container>
    </div>
    <div class="width-30">
      <app-iphone></app-iphone>
      <!-- <app-preview></app-preview> -->
    </div>
  </div>
</div>
