@import '../../../../scss/colors.scss';

.disable-form-interactions {
  pointer-events: none;
  user-select: none;
}

.form-logo {
  width: 50px;
  height: 50px;
}

.create-form-main {
  overflow: hidden;
  position: relative;

  .form-header {
    justify-content: space-between;
    position: relative;
  }

  .form_title_input {
    border: none;
    cursor: pointer;
    max-width: 90%;
    background: none;
    font-size: 140%;
    font-weight: 500;
    text-overflow: ellipsis;
    padding: 3px 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }

  input[type='text']:focus {
    outline: none;
    caret-color: $light-gray;
  }

  .edit-icon {
    border: none;
    background-color: transparent;
    position: relative;
    left: -10px;
    .edit-icon-img {
      width: 15px;
      height: 15px;
    }
  }

  .dis-inline {
    display: inline;
  }

  .error-fields {
    margin: 0;
    font-size: 80%;
    display: inline;
  }

  .form_description_input {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 100%;
    font-weight: 500;
    text-overflow: ellipsis;
    padding: 3px 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .changes-text {
    margin-top: 23px;
    color: $gray-text;
    font-size: 100%;
  }

  .import-btn {
    width: 140px;
    height: 36px;
    border: 1px solid $blue-primary;
    color: $blue-primary;
    margin: 12px 0 0 12px;
    border-radius: 4px;
  }

  .save-status {
    padding-top: 22px;
    font-weight: 500;
    font-size: 100%;
    line-height: 20px;
  }

  .import-btn:disabled {
    border-color: $border-color;
    background-color: $border-color;
    color: $light-gray;
  }

  .publish-btn {
    width: 160px;
    height: 36px;
    background-color: $blue-primary;
    border-color: $blue-primary;
    border-radius: 4px;
    margin: 12px 12px 0 12px;
  }

  .publish-btn:disabled {
    background-color: $disabled-color;
  }

  .publish-btn-icon {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
  }

  .publish {
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.25px;
    color: $white;
    position: relative;
    left: 3px;
  }

  .form {
    height: calc(100vh - 150px);
    overflow-y: auto;
  }
}

.questionContainer {
  display: flex;

  .question {
    width: 100%;
  }

  .question-drag-handler {
    .question-six-dots {
      padding-left: 15px;
      cursor: move;
      height: 13px;
      width: 13px;
      position: relative;
      top: 15px;
    }
  }
}

.section-drag-handler {
  position: relative;
  width: 5%;

  .section-six-dots {
    position: absolute;
    top: 28px;
    left: 92px;
    width: 10px;
    cursor: move;
  }
}

.highlight-bg {
  border: 2px solid $blue-main;
  border-radius: 4px;
}

.sectionMinimumDragArea {
  min-height: 50px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.sectionContainer {
  width: 95%;
}

.questions-responses-width {
  width: 85%;
  overflow-y: auto;
}

.iphone-width {
  width: 15%;
}
.m-t-20 {
  margin-top: 20px;
}

@media (min-width: 1900px) and (max-width: 2100px) {
  .section-six-dots {
    left: 114px !important;
  }
  .questions-responses-width {
    width: 80%;
  }

  .iphone-width {
    width: 20%;
  }
}

@media (min-width: 1800px) and (max-width: 1900px) {
  .section-six-dots {
    left: 105px !important;
  }
  .questions-responses-width {
    width: 80%;
  }

  .iphone-width {
    width: 20%;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .section-six-dots {
    left: 101px !important;
  }
  .questions-responses-width {
    width: 78%;
  }

  .iphone-width {
    width: 22%;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .section-six-dots {
    left: 95px !important;
  }
  .questions-responses-width {
    width: 75%;
  }

  .iphone-width {
    width: 25%;
  }
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .section-six-dots {
    left: 90px !important;
  }
  .questions-responses-width {
    width: 75%;
  }

  .iphone-width {
    width: 25%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .section-six-dots {
    left: 87px !important;
  }
  .questions-responses-width {
    width: 70%;
  }

  .iphone-width {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .section-six-dots {
    left: 80px !important;
  }
  .questions-responses-width {
    width: 70%;
  }

  .iphone-width {
    width: 30%;
  }
}

.sectionEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: $gray-text;
  height: 50px;
}

.floating-btns.empty-section {
  display: flex;
  justify-content: center;
  position: absolute;
  left: -62px;
  top: 0px;
  .questions-btn {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 7px;
    width: 55px;
    padding: 5px 0px;
    p {
      margin: 0;
      font-size: 75%;
      font-weight: 400;
      letter-spacing: 0.4px;
      color: $black;
    }
  }
}

.dis-flex .center {
  justify-content: space-between;
  align-items: center;

  .plant {
    font-weight: 500;
  }
}
.next-btn {
  padding: 0px 20px;
  height: 36px;
  border-radius: 4px;
  margin: 12px 12px 0px 10px;
  border: 1px solid;
  background-color: $radio-button-checked;
  border-color: $radio-button-checked;
  color: $white;
  display: flex;
  align-items: center;
}
