<div class="create-ai-form-modal">
  <div class="dis-flex heading-container">
    <h2 class="heading" translate>createFormUsingAi</h2>
    <mat-icon
      id="createAiFormModalClearIcon"
      class="clear-icon"
      mat-dialog-close="true"
      >clear</mat-icon
    >
  </div>
  <form [formGroup]="promptFormData" class="prompt-form">
    <label for="prompt" translate> enterPrompt </label>
    <div class="prompt-container">
      <div class="prompt-container-icon">
        <svg-icon icon="icon-add-form-ai" class="icon"></svg-icon>
      </div>
      <div class="prompt-container-input">
        <textarea
          id="prompt"
          name="prompt"
          formControlName="prompt"
          placeholder="Type the topic of the form"
          class="prompt-input"
          rows="3"
        ></textarea>
      </div>
      <div class="prompt-container-icon">
        <button (click)="onPromptSubmit()">
          <svg-icon icon="icon-send-form-ai" class="icon"></svg-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="sections" *ngIf="formTitle?.length > 0">
    <span>Title: {{ formTitle }}</span> <br />
    <span>Generated Sections:</span> <br />
    <ul>
      <ng-container *ngFor="let section of sections">
        <li>
          {{ section.sectionName }}
        </li>
      </ng-container>
    </ul>
  </div>
</div>
