<div>
  <div class="form-toolbar">
    <div class="width-10">
      <button id="backBtn" class="back-btn" (click)="back()">
        <svg-icon
          id="stepperHeaderBackIcon"
          id="backBtnIcon"
          icon="icon-back-arrow"
          class="back-arrow"
        ></svg-icon>
        <span class="back-text"></span>
      </button>
    </div>
    <div class="header-buttons">
      <button mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary" (click)="openAuthoring()">
        Continue
      </button>
    </div>
  </div>
  <app-work-instruction-header> </app-work-instruction-header>
</div>
