<div mat-dialog-actions align="end" class="buttons">
  <button
    id="roundPlanHeaderCancelBtn"
    mat-stroked-button
    type="button"
    color="primary"
    class="skip-btn"
    (click)="onCancel()"
    translate="cancelBtn"
  ></button>
  <button
    id="roundPlanHeaderNextBtn"
    mat-raised-button
    type="submit"
    color="primary"
    class="next-btn"
    (click)="next()"
    [disabled]="headerDataForm.invalid || tagsCtrl.invalid"
    translate="nextBtn"
  ></button>
</div>

<div class="form-header-modal" [formGroup]="headerDataForm">
  <div class="dis-flex form-content">
    <div class="width-100">
      <div class="form-detials">
        <h2 id="roundPlanHeader" class="heading">
          {{ 'setFormDetailsHeading' | translate }}
        </h2>

        <!-- <p class="sub-heading" translate="setFormTypeHeading"></p> -->
        <!-- <input
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.standalone"
          id="1"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="standalone"> </span><br /> -->

        <!-- <input
          id="2"
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.embedded"
          [disabled]="true"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="embedded"> </span><br /> -->

        <!-- <p class="radio-sub-text" translate="embeddedSubText"></p> -->

        <!-- <hr class="horizontal-line" /> -->

        <div class="form-name">
          <p
            id="roundPlanHeaderNameHeading"
            class="form-name-description m-t-0 m-b-0"
          >
            {{ 'addFormNameMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <input
              id="roundPlanHeaderName"
              type="text"
              name="formName"
              matInput
              [placeholder]="'formName' | translate"
              formControlName="name"
            />
            <mat-error
              id="roundPlanHeaderNameError"
              *ngIf="processValidationErrors('name')"
              class="m-5 error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : { name: 'name' | translate, length: errors.name.length }
              }}
            </mat-error>
          </mat-form-field>
          <p
            id="roundPlanHeaderAddDesc"
            class="form-name-description m-t-20 m-b-0"
          >
            {{ 'addFormDescription' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <input
              id="roundPlanHeaderDesc"
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>
          <div class="flexContainer">
            <div class="width-100 m-r-10">
              <p
                id="roundPlanHeaderPlan"
                class="form-name-description m-t-20 m-b-0"
              >
                {{ 'plantMandatory' | translate }}
              </p>
              <mat-form-field appearance="outline" class="width-100 form-field">
                <mat-select
                  id="roundPlanHeaderSelectPlant"
                  formControlName="plantId"
                  [placeholder]="'plant' | translate"
                  (openedChange)="resetPlantSearchFilter()"
                  [disabled]="roundData.roundExists"
                >
                  <input
                    id="roundPlanHeaderPlantInput"
                    class="searchable-input"
                    [placeholder]="'search' | translate"
                    (keyup)="onKeyPlant($event)"
                    [value]="plantFilterInput"
                  />
                  <div class="scrollable-area">
                    <mat-option
                      [value]="plant.id"
                      *ngFor="let plant of plantInformation"
                      >{{ plant.plantId }} - {{ plant.name }}</mat-option
                    >
                  </div>
                </mat-select>
                <mat-error
                  id="roundPlanHeaderPlantError"
                  *ngIf="processValidationErrors('plantId')"
                  class="m-t-5 error-fields"
                >
                  {{
                    errors.plantId.name
                      | translate
                        : {
                            name: 'plant' | translate
                          }
                  }}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="width-100">
              <p
                id="roundPlanHeaderUnit"
                class="form-name-description m-t-20 m-b-0"
              >
                {{ 'unitLocation' | translate }}
              </p>
              <mat-form-field appearance="outline" class="width-100 form-field">
                <mat-select
                  id="roundPlanHeaderSelectUnit"
                  formControlName="unitId"
                  [placeholder]="'unitLocationPlaceholder' | translate"
                  (openedChange)="resetUnitSearchFilter()"
                  [disabled]="roundData.roundExists"
                >
                  <div
                    class="custom-form-field-gray-color search search-container"
                  >
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-icon
                        id="roundPlanUnitSearchIcon"
                        matPrefix
                        class="searchIcon"
                        >search</mat-icon
                      >
                      <input
                        matInput
                        type="text"
                        autocomplete="off"
                        id="roundPlanHeaderPlantInput"
                        class="unit-searchable-input"
                        [placeholder]="'searchTxt' | translate"
                        (keyup)="onKeyUnit($event)"
                        [value]="unitFilterInput"
                      />
                    </mat-form-field>
                  </div>

                  <div class="scrollable-area">
                    <mat-option
                      [value]="unit.id"
                      *ngFor="let unit of unitLocations"
                      >{{ unit.name }}</mat-option
                    >
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="tags">
          <p
            id="roundPlanHeaderTags"
            class="form-name-description m-b-0 m-t-20"
          >
            {{ 'tags' | translate }}
          </p>
          <mat-form-field
            class="chips-list width-100 form-field"
            appearance="outline"
          >
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
                class="tags-mat-chips"
              >
                {{ tag }}
                <mat-icon
                  id="roundPlanHeaderRemoveTag"
                  matChipRemove
                  *ngIf="removable"
                  >cancel</mat-icon
                >
              </mat-chip>
              <input
                id="roundPlanHeaderTagsInput"
                [placeholder]="'startTypingTags' | translate"
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                (click)="openAutoComplete()"
                #tagsInput
                [formControl]="tagsCtrl"
              />
            </mat-chip-list>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error
            id="tagsError"
            *ngIf="processValidationErrorTags()"
            class="m-5"
          >
            {{
              errors.tagsCtrl.name
                | translate
                  : {
                      name: 'tags' | translate,
                      length: errors.tagsCtrl.length
                    }
            }}
          </mat-error>
        </div>

        <div class="notes-attachment" formGroupName="instructions">
          <p
            id="roundPlanHeaderNotesAttachments"
            class="form-name-description m-b-0 m-t-20"
            translate="notesAndAttachments"
          ></p>
          <mat-form-field
            class="notes_Attachment width-100"
            appearance="outline"
          >
            <quill-material
              [ngClass]="{
                'display-toolbar': isOpen.value
              }"
              [ngModel]="headerDataForm.get('instructions.notes').value"
              (ngModelChange)="onChangeNotes($event)"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="'addNotes' | translate"
              class="notes-field"
              (editorFocus)="handleEditorFocus($event)"
            >
            </quill-material>

            <mat-error
              id="roundPlanHeaderNotesError"
              *ngIf="maxLengthWithoutBulletPoints(250)"
              class="m-5 error-fields"
            >
              {{ 'errorExceedingLimit' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="add-attachments">
          <br />
          <input
            id="roundPlanHeaderUploadFile"
            type="file"
            class="file-upload"
            accept="image/jpeg,image/jpg,image/png,application/pdf"
            (change)="roundplanFileUploadHandler($event)"
            [hidden]="true"
            #roundPlanFileUpload
          />

          <button
            id="roundPlanHeaderUploadBtn"
            mat-button
            color="primary"
            class="upload-button"
            (click)="roundPlanFileUpload.click()"
          >
            <mat-icon id="roundPlanHeaderLink" class="icon-upload"
              >link</mat-icon
            >
            <span translate="addImagesAndPDFBtnNew"></span>
          </button>
          <div class="attachments-container">
            <span
              *ngFor="
                let image of filteredMediaType;
                index as i;
                trackBy: trackBySelectedattachments
              "
              class="m-r-10"
            >
              <app-upload-image-preview
                [image]="image?.imageData"
                (imageIndexEmitter)="roundPlanFileDeleteHandler(i)"
                class="attachments cursor-pointer"
                (triggerPreviewDialog)="openPreviewDialog()"
              ></app-upload-image-preview>
            </span>

            <span
              *ngFor="
                let pdf of filteredMediaPdfType;
                index as i;
                trackBy: trackBySelectedattachments
              "
              class="m-r-10"
            >
              <app-instruction-pdf
                [pdf]="pdf"
                (triggerPreviewDialog)="openPreviewDialog()"
                (indexEmitter)="roundPlanPdfDeleteHandler(i)"
              ></app-instruction-pdf>
            </span>
          </div>
        </div>

        <div class="additional-details">
          <p
            translate="additionalDetailsHeading"
            class="additional-details-text"
          ></p>
          <button
            id="roundPlanHeaderAdditionalDetailsBtn"
            *ngIf="
              headerDataForm.get('additionalDetails')['controls'].length < 5
            "
            class="add-button"
            (click)="addAdditionalDetails()"
          >
            {{ 'add' | translate }}
          </button>
        </div>
        <div
          class="label-value-text"
          *ngIf="
            headerDataForm.get('additionalDetails')['controls']?.length > 0
          "
        >
          <div id="roundPlanHeaderLabel" class="width-45 label">
            {{ 'label' | translate }}
          </div>
          <div id="roundPlanHeaderValue" class="width-45 m-l-20 value">
            {{ 'value' | translate }}
          </div>
        </div>
        <div formArrayName="additionalDetails">
          <div
            *ngFor="
              let additionalDetails of getAdditionalDetailList();
              let i = index
            "
          >
            <div [formGroupName]="i" class="dis-flex">
              <div class="width-45">
                <mat-form-field
                  appearance="outline"
                  class="m-l-5 symbol m-b-10 width-100"
                >
                  <input
                    id="roundPlanHeaderLabel"
                    #labelInput
                    matInput
                    type="text"
                    formControlName="label"
                    class="example-input"
                    [matAutocomplete]="autolabel"
                    (click)="labelOptionClick(i)"
                  />

                  <mat-autocomplete #autolabel="matAutocomplete">
                    <mat-option
                      *ngFor="let label of filteredLabels$ | async"
                      [value]="label"
                    >
                      {{ label }}
                      <button
                        mat-button
                        class="remove-btn"
                        (click)="removeLabel(label, i)"
                      >
                        <span id="roundPlanHeaderRemoveBtn">{{
                          'removeBtn' | translate
                        }}</span>
                      </button>
                    </mat-option>
                    <mat-option
                      *ngIf="
                        headerDataForm.get('additionalDetails')['controls'][i]
                          .value.label
                      "
                    >
                      <ng-container>
                        <button
                          id="roundPlanHeaderAddNewBtn"
                          mat-button
                          color="primary"
                          class="p-0 add-new-button"
                          (click)="storeDetails(i)"
                          [disabled]="
                            headerDataForm.get('additionalDetails')['controls'][
                              i
                            ].invalid ||
                            headerDataForm.get('additionalDetails')['controls'][
                              i
                            ].pristine
                          "
                        >
                          <mat-icon id="roundPlanHeaderAddNewIcon" class="m-r-5"
                            >add</mat-icon
                          >

                          <span id="roundPlanHeaderAddNewText"
                            >{{ 'addNew' | translate }} ({{
                              headerDataForm.get('additionalDetails')[
                                'controls'
                              ][i].value.label
                            }})</span
                          >
                        </button>
                      </ng-container>
                    </mat-option>
                  </mat-autocomplete>

                  <mat-error
                    id="roundPlanHeaderLabelError"
                    *ngIf="processValidationErrorsAdditionalDetails(i, 'label')"
                    class="m-t-5 error-fields"
                  >
                    {{
                      errors?.label?.name
                        | translate
                          : {
                              name: 'label' | translate,
                              length: errors?.label?.length
                            }
                    }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="width-45">
                <mat-form-field
                  appearance="outline"
                  class="m-l-20 symbol m-b-10 width-100"
                >
                  <input
                    id="roundPlanHeaderValueInput"
                    #valueInput
                    matInput
                    type="text"
                    formControlName="value"
                    [matAutocomplete]="autoValue"
                    class="example-input"
                    (click)="valueOptionClick(i)"
                  />
                  <mat-autocomplete #autoValue="matAutocomplete">
                    <mat-option
                      *ngFor="let value of filteredValues$ | async"
                      [value]="value"
                    >
                      {{ value }}
                      <button
                        mat-button
                        class="remove-btn"
                        (click)="removeValue(value, i)"
                      >
                        <span id="roundPlanHeaderRemoveValueBtn">{{
                          'removeBtn' | translate
                        }}</span>
                      </button>
                    </mat-option>

                    <mat-option
                      *ngIf="
                        headerDataForm.get('additionalDetails')['controls'][i][
                          'value'
                        ].value
                      "
                    >
                      <button
                        id="roundPlanHeaderValueBtn"
                        mat-button
                        color="primary"
                        class="p-0"
                        (click)="storeValueDetails(i)"
                        [disabled]="
                          headerDataForm.get('additionalDetails')['controls'][i]
                            .invalid ||
                          headerDataForm.get('additionalDetails')['controls'][i]
                            .pristine
                        "
                      >
                        <mat-icon id="roundPlanHeaderAddValueIcon" class="m-r-5"
                          >add</mat-icon
                        >

                        <span id="roundPlanHeaderAddValueText"
                          >{{ 'addNew' | translate }} ({{
                            headerDataForm.get('additionalDetails')['controls'][
                              i
                            ]['value'].value
                          }})</span
                        >
                      </button>
                    </mat-option>
                  </mat-autocomplete>

                  <mat-error
                    id="roundPlanHeaderValueError"
                    *ngIf="processValidationErrorsAdditionalDetails(i, 'value')"
                    class="m-t-5 error-fields"
                  >
                    {{
                      errors?.value?.name
                        | translate
                          : {
                              name: 'value' | translate,
                              length: errors?.value?.length
                            }
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="width-10 cancel-icon">
                <svg-icon
                  id="roundPlanHeaderCloseIcon"
                  icon="icon-closeIcon"
                  class="close-icon cursor-pointer"
                  (click)="deleteAdditionalDetails(i)"
                ></svg-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
