<div id="import-form-customizer">
  <mat-card class="p-0">
    <mat-card-title class="m-0 light-gray">
      <div class="slider-heading">Import Questions</div>
    </mat-card-title>
    <mat-card-content>
      <div style="font-weight: 500; font-size: 130%">
        {{ selectedFormName }}
      </div>
      <div *ngFor="let page of selectedFormData; let i = index">
        <p>
          <mat-checkbox
            [checked]="page.checked"
            [indeterminate]="fewComplete(page)"
            (change)="setAllChecked($event.checked, page)"
          >
          </mat-checkbox>
          {{ page.name }} {{ page.position }}
        </p>
        <div *ngFor="let section of page.sections">
          <p class="section-div">
            <mat-checkbox
              [checked]="section.checked"
              [indeterminate]="fewSectionComplete(section, page)"
              (change)="setAllSectionChecked($event.checked, section)"
            >
            </mat-checkbox>
            {{ section.name }}
          </p>
          <div *ngFor="let question of section.questions" class="questions">
            <mat-checkbox
              [checked]="question.checked"
              (change)="
                updateAllChecked($event.checked, question, section, page)
              "
            >
              <span>{{ question.name }}</span>
            </mat-checkbox>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div style="padding: 0 15px 10px 15px">
      <button
        mat-raised-button
        color="primary"
        style="width: 48%; margin-right: 10px"
        (click)="useForm()"
      >
        Use
      </button>
      <button mat-stroked-button style="width: 48%" (click)="cancel()">
        Cancel
      </button>
    </div>
  </mat-card>
</div>
