<div class="app-customizer">
  <mat-card class="p-0">
    <mat-icon
      id="globalResponseCloseIcon"
      class="close-btn"
      (click)="closeGlobalResponse()"
      >close</mat-icon
    >
    <div
      id="globalResponseHeading"
      class="mcq-heading"
      translate="globalResponseHeading"
      [hidden]="isViewMode"
    ></div>
    <div
      id="globalResponseEdit"
      class="mcq-heading"
      translate="editResponses"
      *ngIf="isViewMode"
    ></div>
    <div [formGroup]="responseForm">
      <div>
        <mat-form-field
          appearance="outline"
          class="width-100"
          *ngIf="!isViewMode"
        >
          <mat-label id="addEditGlobalResponseName">{{
            'name' | translate
          }}</mat-label>
          <input
            id="globalResponseUntitled"
            matInput
            formControlName="name"
            autocomplete="off"
            #formName
          />
        </mat-form-field>
        <mat-error
          id="addEditDescriptionError"
          *ngIf="processValidationErrors('name')"
          class="m-t-5 error-fields"
        >
          {{
            errors.name.name
              | translate
                : {
                    name: 'name' | translate
                  }
          }}
        </mat-error>

        <p
          id="globalResponseName"
          *ngIf="isViewMode"
          class="global_response_name_input"
        >
          {{ globalResponse?.name }}
        </p>
      </div>
      <div>
        <mat-form-field
          appearance="outline"
          class="width-100"
          *ngIf="!isViewMode"
        >
          <mat-label id="addEditGlobalResponseDescription">{{
            'description' | translate
          }}</mat-label>
          <input
            id="globalResponseDescription"
            matInput
            formControlName="description"
            autocomplete="off"
            [hidden]="isViewMode"
          />
        </mat-form-field>
        <mat-error
          id="addEditDescriptionError"
          *ngIf="processValidationErrors('description')"
        >
          {{
            errors.description.name
              | translate
                : {
                    name: 'description' | translate
                  }
          }}
        </mat-error>
        <p
          id="globalResponseViewMode"
          *ngIf="isViewMode"
          class="global_response_description_input"
        >
          {{ getDescription() }}
        </p>
      </div>
      <mat-form-field
        appearance="outline"
        class="width-100"
        *ngIf="!isViewMode"
      >
        <mat-label id="addEditGlobalResponseModuleNameLabel">{{
          'addModuleNameHeading' | translate
        }}</mat-label>
        <mat-select
          #matSelect
          multiple
          [compareWith]="objectComparisonFunction"
          formControlName="moduleName"
          class="width-50"
        >
          <div class="multiple-header">
            <span id="doneLabel">{{ 'addModuleNameHeading' | translate }}</span>
            <button
              id="filterDoneBtn"
              class="done-filters-btn"
              (click)="closeSelect(matSelect)"
            >
              {{ 'done' | translate }}
            </button>
          </div>
          <div class="scrollable-area">
            <mat-option
              *ngFor="let module of selectMetadataModuleNames"
              [value]="module.moduleId"
            >
              {{ module.moduleName }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <div
        id="globalResponse"
        class="margin response-heading"
        translate="values"
      ></div>
      <mat-card-content>
        <div
          class="width-100 response-drop-list"
          formArrayName="responses"
          cdkScrollable
        >
          <div
            *ngIf="!isViewMode"
            cdkDrop
            cdkDropList
            (cdkDropListDropped)="dropResponse($event)"
            [cdkDropListData]="getResponseList()"
          >
            <div *ngFor="let response of getResponseList(); let i = index">
              <div [formGroupName]="i" cdkDrag>
                <div class="dis-flex width-100">
                  <mat-form-field appearance="outline" class="width-90">
                    <input
                      id="globalResponseTitle"
                      #globalResponses
                      matInput
                      formControlName="title"
                      [placeholder]="'valueTitle' | translate"
                      autocomplete="off"
                      (keyup.enter)="addResponse(i + 1)"
                    />
                  </mat-form-field>

                  <button
                    id="globalResponseDelete"
                    mat-flat-button
                    (click)="deleteResponse(i)"
                    class="delete-btn"
                  >
                    <svg-icon
                      id="globalResponseDeleteIcon"
                      icon="icon-delete-icon"
                      class="delete-btn-icon"
                    ></svg-icon>
                  </button>
                </div>
                <mat-error
                  id="addEditTitleError"
                  *ngIf="processValidationErrorsFormArrays('responses', i)"
                >
                  {{
                    errors.responses.name
                      | translate
                        : {
                            name: 'value' | translate
                          }
                  }}
                </mat-error>
              </div>
            </div>
          </div>
          <div *ngIf="isViewMode">
            <div *ngFor="let response of getResponseList(); let i = index">
              <div [formGroupName]="i" class="dis-flex response-list">
                <input
                  id="globalResponseList"
                  formControlName="title"
                  matInput
                  class="input-forms-view"
                />
              </div>
            </div>
          </div>
        </div>
        <button
          id="globalResponseAdd"
          *ngIf="!isViewMode"
          mat-flat-button
          (click)="addResponse(getResponseCount())"
          class="add-response"
          translate="addVal"
        ></button>
      </mat-card-content>
    </div>
  </mat-card>
  <div class="actions-footer" *ngIf="!isViewMode; else viewBlock">
    <button
      id="globalResponseCancelBtn"
      mat-stroked-button
      class="cancel-response-btn"
      (click)="closeGlobalResponse()"
      translate="cancel"
    ></button>
    <button
      id="globalResponseCreateBtn"
      mat-raised-button
      color="primary"
      class="submit-response-btn"
      (click)="submitResponseSet()"
      [disabled]="isResponseFormUpdated === false || responseForm.pristine"
    >
      {{ (isCreate ? 'create' : 'update') | translate }}
    </button>
  </div>
  <ng-template #viewBlock>
    <div class="actions-footer-view">
      <button
        id="globalResponseEditBtn"
        mat-raised-button
        color="primary"
        class="edit-button"
        (click)="toggleViewMode()"
        translate="edit"
      ></button>
    </div>
  </ng-template>
</div>
