<div class="app-customizer">
  <mat-card class="p-0">
    <mat-card-title class="m-0 light-gray">
      <div class="mcq-heading" translate="globalMcqHeading"></div>
    </mat-card-title>
    <div [formGroup]="responseForm">
      <div>
        <input
          matInput
          formControlName="name"
          placeholder="Untitled Response Set"
          autocomplete="off"
          class="global_response_name_input"
        />
      </div>
      <div class="margin response-heading" translate="response"></div>
      <mat-card-content>
        <div class="width-100" formArrayName="responses">
          <div cdkDrop cdkDropList [cdkDropListData]="getResponseList()">
            <div *ngFor="let response of getResponseList(); let i = index">
              <div [formGroupName]="i" class="dis-flex response-list">
                <input
                  matInput
                  formControlName="title"
                  [placeholder]="'responseTitle' | translate"
                  autocomplete="off"
                  class="input-forms"
                  (keyup.enter)="addResponse(); keytab($event)"
                />
                <div>
                  <button
                    mat-flat-button
                    (click)="deleteResponse(i)"
                    color="#545F70"
                    class="delete-btn"
                  >
                    <img
                      src="assets/rdf-forms-icons/delete-icon.svg"
                      class="delete-btn-icon"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          mat-flat-button
          (click)="addResponse()"
          class="add-response"
          translate="addRes"
        ></button>
      </mat-card-content>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="submit-response-btn"
      (click)="submitResponseSet()"
      [disabled]="isResponseFormUpdated === false || responseForm.pristine"
      translate="apply"
    ></button>
    <button
      mat-stroked-button
      class="cancel-response-btn"
      translate="cancel"
    ></button>
  </mat-card>
</div>
