.split-pane {
  --side-max-width: 300px !important;
}
.split-pane1 {
  --side-min-width: 10px !important;
}


.header-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 42px;
    color: #000000;
    padding: 0;
  }
  
  .header-cols {
    display: flex;
    justify-content: flex-end;
  }
  
  .width-auto {
    width: auto;
  }
  
  .header-message-icon {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 7px;
  }
  
  .header-user-icon {
    width:45px;
    height:45px;
    margin: 0px 5px 0px 10px;
  }
  
  .loggedin-user-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #000000;
    white-space: nowrap;
  }
  
  .loggedin-user-role {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    text-align: right;
    color: #8F8F8F;
    white-space: nowrap;
  }
  
  .create-new-ins {
    height: 36px;
  }
  
  .create-new-ins-btn {
    padding: 0 10px 0 10px;
    font-size: 14px;
  }