<div class="attachment-wrapper">
  <div class="section">
    <label>Component: </label>
    <span>{{ question.analysisInfo.component }}</span>
  </div>
  <div class="section">
    <label>Sampling Point: </label>
    <span>{{ question.analysisInfo.samplingPoint }}</span>
  </div>
  <div class="image-div" *ngIf="question.value.fileType === 'image'">
    <span>Reference Image</span>
    <img [src]="question.value.objectURL" alt="" />
  </div>
  <button class="attachment">
    <div class="attachment-image"></div>
    <span id="attachmentAdd" translate="addAtt"></span>
  </button>
</div>
