<div id="main-container" class="container">
  <cwp-dynamictable
    class="dynamicTable width-100"
    id="table"
    *ngIf="!(isLoading$ | async)"
    [dataSource]="dataSource"
    [configOptions]="configOptions"
    (rowLevelActionHandler)="rowLevelActionHandler($event)"
  >
  </cwp-dynamictable>

  <ng-container *ngIf="menuState">
    <app-edit-notes-side-drawer
      [@slideInOut]="menuState"
      (slideInOut)="onCloseNoteMenuState($event)"
      [noteEditData]="selectedLog"
      [isLog]="true"
      [shrId]="shrId"
      (updateNote)="updateShiftLogs($event)"
    ></app-edit-notes-side-drawer>
  </ng-container>

  <div *ngIf="isLoading$ | async">
    <div class="ghost-loading">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</div>
