.container {
  ::ng-deep .table-column {
    width: 20%;
  }
  ::ng-deep .mat-column-title {
    min-width: 400px;
  }
  ::ng-deep .mat-column-description {
    min-width: 400px;
  }
  ::ng-deep .mat-column-actions {
    max-width: 15%;
  }
}
