<div id="main-container" class="container">
  <cwp-dynamictable
    class="dynamicTable width-100"
    id="table"
    [dataSource]="dataSource"
    [configOptions]="configOptions"
    (rowLevelActionHandler)="rowLevelActionHandler($event)"
  >
  </cwp-dynamictable>

  <ng-container *ngIf="menuState">
    <app-edit-notes-side-drawer
      [@slideInOut]="menuState"
      (slideInOut)="onCloseNoteMenuState($event)"
      [noteEditData]="selectedLog"
      [isLog]="true"
      [shrId]="shrId"
      (updateNote)="updateShiftLogs($event)"
    ></app-edit-notes-side-drawer>
  </ng-container>
</div>
