<div
  class="form-header-modal"
  [formGroup]="issuesActionsDetailViewForm"
  [ngClass]="{
    'disable-detail-interactions': updatingDetails === true
  }"
>
  <mat-toolbar class="form-toolbar">
    <button id="issuesActionsViewBackBtn" (click)="onCancel()" class="back-btn">
      <svg-icon
        id="issuesActionsViewBackArrow"
        icon="icon-back-arrow"
        class="back-arrow"
      ></svg-icon>
    </button>
    <h4 id="issuesActionsViewHeading" class="heading">
      <mat-icon
        id="issuesActionsViewLeftArrow"
        (click)="onPrevious()"
        class="arrows"
        [ngClass]="{ 'disabled-arrow': !isPreviousEnabled }"
        >keyboard_arrow_left</mat-icon
      >
      &nbsp;
      {{ this.issuesActionsDetailViewForm.get('title').value }}
      &nbsp;
      <mat-icon
        id="issuesActionsViewArrowRight"
        (click)="onNext()"
        class="arrows"
        [ngClass]="{ 'disabled-arrow': !isNextEnabled }"
        >keyboard_arrow_right</mat-icon
      >
    </h4>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div
      class="width-60 chat-div"
      *ngIf="logHistory$ | async as logHistory; else historyLoading"
    >
      <div
        class="chat-panel"
        [ngStyle]="{ height: chatPanelHeight }"
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight"
      >
        <ng-container *ngFor="let history of logHistory.rows; let i = index">
          <ng-container
            *ngIf="
              i === 0 ||
              formatDate(history.createdAt) !==
                formatDate(logHistory.rows[i - 1].createdAt)
            "
          >
            <div
              class="date-divider"
              *ngIf="
                !ifSameDay(
                  history?.createdAt,
                  logHistory.rows[i - 1]?.createdAt
                )
              "
            >
              <span id="issuesActionsViewCompareDates" class="date-card">
                {{ compareDates(formatDate(history.createdAt)) }}
              </span>
            </div>
          </ng-container>
          <div
            [ngClass]="{
              'text-align-right': history.username === userInfo.email
            }"
          >
            <ng-container *ngIf="history.type === 'Object'">
              <ng-container *ngIf="i === 0">
                <div id="issuesActionsViewUserName" class="username-top">
                  {{ history?.username | userNameByEmail }}
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div
            class="dis-flex"
            [ngClass]="{
              'text-align-right': history.username === userInfo.email
            }"
          >
            <ng-container *ngIf="history.type === 'Object'">
              <div class="issue-created" *ngIf="history">
                <ng-container *ngIf="i === 0">
                  <span
                    id="issuesActionsViewIssueCreated"
                    class="main-heading"
                    *ngIf="data.type === 'issue'"
                    translate="issueCreated"
                  >
                  </span>
                  <span
                    id="issuesActionsViewActionCreated"
                    class="main-heading"
                    *ngIf="data.type === 'action'"
                    translate="actionCreated"
                  >
                  </span>
                  <br />
                  <span id="issuesActionsViewTitle" class="data">
                    <span
                      id="issuesActionsViewSubHeading"
                      class="sub-headings"
                      translate="issueActionTitle"
                    >
                    </span>
                    {{ history.message.TITLE }}
                  </span>
                  <br />
                  <ng-container *ngIf="history.message.DESCRIPTION">
                    <span
                      id="issuesActionsViewDescription"
                      class="data"
                      *ngIf="data.type === 'action'"
                    >
                      <span class="sub-headings" translate="description"></span>
                      {{ history.message.DESCRIPTION }}
                    </span>
                    <br *ngIf="data.type === 'action'"
                  /></ng-container>
                  <ng-container *ngIf="history.message.ANLNR">
                    <span id="issuesActionsViewANLNR" class="data">
                      <span
                        id="issuesActionsViewMessage"
                        class="sub-headings"
                        translate="assetCreated"
                      ></span>
                      {{ history.message.ANLNR }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history?.message?.ASSIGNEE"
                    ><span id="issuesActionsViewAssignee" class="data">
                      <span
                        id="issuesActionsViewAssigneAction"
                        class="sub-headings"
                        translate="assignedToAction"
                      ></span>
                      {{ history?.message?.ASSIGNEE | userNameByEmail }}
                    </span>
                    <br
                  /></ng-container>
                  <ng-container *ngIf="history.message.CATEGORY">
                    <span id="issuesActionsViewMessageCategory" class="data">
                      <span
                        id="issuesActionsViewCategoryCreated"
                        class="sub-headings"
                        translate="categoryCreated"
                      ></span>
                      {{ history.message.CATEGORY }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history.message.DUEDATE">
                    <span id="issuesActionsViewDueDate" class="data">
                      <span
                        id="issuesActionsViewDateAndTime"
                        class="sub-headings"
                        translate="issueActionDueDateAndTime"
                      ></span>
                      {{ formatDateTime(history.message.DUEDATE) }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history.message.PRIORITY">
                    <span id="issuesActionsViewPriority" class="data">
                      <span
                        id="issuesActionsViewActionPriority"
                        class="sub-headings"
                        translate="actionPriority"
                      ></span>
                      {{ history.message.PRIORITY }}
                    </span>
                    <br
                  /></ng-container>
                  <ng-container *ngIf="history.message.STATUS">
                    <span id="issuesActionsViewStatus" class="data">
                      <span
                        id="issuesActionsViewActionStatus"
                        class="sub-headings"
                        translate="actionStatus"
                      ></span>
                      {{ history.message.STATUS }}
                    </span>
                  </ng-container>
                  <br *ngIf="data.round !== placeholder" />
                  <span
                    id="issuesActionsViewRound"
                    class="data"
                    *ngIf="data.round !== placeholder"
                  >
                    <span
                      id="issuesActionsViewRoundCreated"
                      class="sub-headings"
                      translate="roundCreated"
                    ></span>
                    {{ data.round }}
                  </span>
                  <br *ngIf="data.location !== placeholder" />
                  <span
                    id="issuesActionsViewLocation"
                    class="data"
                    *ngIf="data.location !== placeholder"
                  >
                    <span
                      id="issuesActionsViewlocationCreated"
                      class="sub-headings"
                      translate="locationCreated"
                    ></span>
                    {{ data.location }}
                  </span>
                  <br *ngIf="data.plant !== placeholder" />
                  <span
                    id="issuesActionsViewPlant"
                    class="data"
                    *ngIf="data.plant !== placeholder"
                  >
                    <span
                      id="issuesActionsViewPlantCreated"
                      class="sub-headings"
                      translate="plantCreated"
                    ></span>
                    {{ data.plant }}
                  </span>
                </ng-container>

                <ng-container *ngIf="i !== 0">
                  <ng-container *ngIf="history.message.STATUS">
                    <span id="issuesActionsViewStatusHistory" class="data">
                      <span
                        id="issuesActionsViewActionStatusUpdated"
                        class="sub-headings"
                        *ngIf="data.type === 'action'"
                        translate="actionStatusUpdated"
                      >
                      </span>
                      <span
                        id="issuesActionsViewIssueStatusUpdated"
                        class="sub-headings"
                        *ngIf="data.type === 'issue'"
                        translate="issueStatusUpdated"
                      >
                      </span>
                      {{ history.message.STATUS }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history.message.ASSIGNEE">
                    <span id="issuesActionsViewUserName" class="data">
                      <span
                        id="issuesActionsViewAddedTo"
                        *ngIf="history.message.assignmentType === 'add'"
                        class="sub-headings"
                        translate="assigneeAddedTo"
                      ></span>
                      <span
                        id="issuesActionsViewAssigneeRemoved"
                        *ngIf="history.message.assignmentType === 'remove'"
                        class="sub-headings"
                        translate="assigneeRemovedTo"
                      ></span>
                      <span
                        id="issuesActionsViewAssigneeUpdated"
                        *ngIf="!history?.message?.assignmentType"
                        class="sub-headings"
                        translate="assigneeUpdatedTo"
                      ></span>
                      {{ getUserNameByEmail(history.message.ASSIGNEE) }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history.message.ERPNOTIF">
                    <span id="issuesActionsViewERFNotif" class="data">
                      <span
                        id="issuesActionsViewERPNotifHeading"
                        class="sub-headings"
                        translate="erpNotif"
                      >
                      </span>
                      {{ history.message.ERPNOTIF }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history.message.PRIORITY">
                    <span id="issuesActionsViewPriorityHistory" class="data">
                      <span
                        id="issuesActionsViewPriorityUpdated"
                        class="sub-headings"
                        translate="priorityUpdated"
                      >
                      </span>
                      {{ history.message.PRIORITY }}
                    </span>
                    <br />
                  </ng-container>
                  <ng-container *ngIf="history.message.DUEDATE">
                    <span id="issuesActionsViewHistoryDueDate" class="data">
                      <span
                        id="issuesActionsViewDueDateUpdate"
                        class="sub-headings"
                        translate="dueDateAndTimeUpdated"
                      >
                      </span>
                      {{ formatDateTime(history.message.DUEDATE) }}
                    </span>
                    <br />
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>

            <ng-container *ngIf="history.type === 'Message'">
              <div id="issuesActionsViewHistoryMessage" class="message-created">
                {{ history.message }}
              </div>
            </ng-container>

            <ng-container *ngIf="history.type === 'Media'">
              <div class="media-created">
                <img
                  id="issuesActionsViewImg"
                  [src]="history?.message?.imageData"
                  *ngIf="
                    history?.message && history?.message?.fileType === 'image'
                  "
                  alt="Log History"
                  class="media-image"
                />
                <div
                  class="video-player-container"
                  *ngIf="
                    history?.message && history?.message?.fileType === 'video'
                  "
                >
                  <div class="video-player">
                    <video id="issuesActionsViewVideo" class="media-video">
                      <source
                        type="video/mp4"
                        [src]="history?.message?.imageData"
                      />
                    </video>
                  </div>
                  <div class="video-player-overlay">
                    <svg-icon
                      class="video-player-play-icon"
                      icon="icon-video-play"
                    ></svg-icon>
                  </div>
                </div>
                <ng-container
                  *ngIf="
                    history?.message && history?.message?.fileType === 'file'
                  "
                >
                  <div class="bg-white dis-flex document-container">
                    <svg-icon
                      id="instructionPDFIcon"
                      [icon]="getDocumentIcon(history?.message?.fileName)"
                      class="pdf-icon"
                    ></svg-icon>

                    <span id="instructionPDFName" class="pdf-text">
                      {{ history?.message?.fileName }}
                    </span>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="history?.message?.PHOTO?.length > 0">
            <div class="attachments-container mt-0">
              <div *ngFor="let photo of history?.message?.PHOTO">
                <img
                  id="issuesActionsViewAttachmentImg"
                  alt="images"
                  [src]="photo"
                  *ngIf="photo"
                  class="attachments"
                />
              </div>
            </div>
          </ng-container>

          <div
            id="issuesActionsViewFormatTime"
            class="time"
            [ngClass]="{
              'text-align-right': history.username === userInfo.email
            }"
          >
            {{ formatTime(history.createdAt) }}
          </div>
        </ng-container>
      </div>
      <div class="custom-form-field-white-color footer" #footer>
        <mat-form-field appearance="outline" class="width-90 margin">
          <textarea
            id="issuesActionsViewTextArea"
            matInput
            matAutosize
            name=""
            formControlName="message"
            cdkTextareaAutosize
            #messageContainer
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          >
          </textarea>
          <svg-icon
            id="issuesActionsViewAttachmentIcon"
            icon="icon-add-attachment-icon"
            matSuffix
            class="add-attachment-icon"
            (click)="fileInput.click()"
          ></svg-icon>
        </mat-form-field>
        <input
          id="issuesActionsViewFileType"
          hidden
          type="file"
          accept="image/x-png,image/jpeg,image/jpg,video/mp4,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          #fileInput
          (change)="uploadFile($event)"
          (click)="resetFile($event)"
        />
        <svg-icon
          id="issuesActionsViewSendImgIcon"
          icon="icon-send-message"
          class="send-message"
          (click)="createIssueOrActionHistory()"
        ></svg-icon>
      </div>
    </div>
    <ng-template #historyLoading>
      <div class="width-60 chat-div">
        <div class="chat-panel">
          <div *ngFor="let number of ghostLoading">
            <br />
            <ngx-shimmer-loading
              [width]="'47%'"
              [height]="'30px'"
              [ngClass]="number % 2 === 0 ? 'right-chat' : 'left-chat'"
              class="left-chat"
            >
            </ngx-shimmer-loading>
            <br />
          </div>
        </div>
        <div class="custom-form-field-white-color footer" #footer>
          <mat-form-field appearance="outline" class="width-90 margin">
            <input
              id="issuesActionsViewText"
              type="text"
              matInput
              [placeholder]="'type' | translate"
            />
            <svg-icon
              id="issuesActionsViewAddAttachmentIcon"
              icon="icon-add-attachment-icon"
              matSuffix
              class="add-attachment-icon"
              (click)="fileInput.click()"
            ></svg-icon>
          </mat-form-field>
          <input
            id="issuesActionsViewFIle"
            hidden
            type="file"
            accept="image/x-png,image/jpeg,image/jpg,video/mp4,application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            #fileInput
            (change)="uploadFile($event)"
          />
          <svg-icon
            id="issuesActionsViewsendMessageIcon"
            icon="icon-send-message"
            class="send-message"
          ></svg-icon>
        </div>
      </div>
    </ng-template>
    <div class="width-40 details-div form-fields">
      <div class="right-div p-5-0">
        <div
          id="issuesActionsViewTitleHeading"
          class="titles"
          translate="title"
        ></div>
        <div id="issuesActionsViewDetailTitlle" class="values">
          {{ this.issuesActionsDetailViewForm.get('title').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div id="issuesActionsViewDes" class="titles" translate="des"></div>
        <div id="issuesActionsViewDetailDescription" class="values">
          {{ this.issuesActionsDetailViewForm.get('description').value }}
        </div>
      </div>
      <ng-container *ngIf="data?.type === 'issue'">
        <hr class="line" />
        <div class="right-div p-5-0">
          <div
            id="issuesActionsViewCategory"
            class="titles"
            translate="category"
          ></div>
          <div id="issuesActionsViewDetailCategory" class="values">
            {{ this.issuesActionsDetailViewForm.get('category').value }}
          </div>
        </div>
      </ng-container>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div
          id="issuesActionsViewFormRound"
          class="titles"
          translate="round"
        ></div>
        <div
          id="issuesActionsViewDetailRound"
          class="values round-title"
          (click)="navigateToRounds()"
        >
          {{ this.issuesActionsDetailViewForm.get('round').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div
          id="issuesActionsViewFOrmPlant"
          class="titles"
          translate="plant"
        ></div>
        <div id="issuesActionsViewPlantValue" class="values">
          {{ this.issuesActionsDetailViewForm.get('plant').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div
          id="issuesActionsViewTimeZone"
          class="titles"
          translate="timeZone"
        ></div>
        <div class="values">
          <span
            id="issuesActionsViewTimeZoneValue"
            *ngIf="
              this.plantTimezoneMap[
                this.issuesActionsDetailViewForm.get('plantId').value
              ]
            "
          >
            {{
              this.plantTimezoneMap[
                this.issuesActionsDetailViewForm.get('plantId').value
              ].description
            }}
          </span>
          <span
            id="issuesActionsViewPlaceHolder"
            *ngIf="
              !this.plantTimezoneMap[
                this.issuesActionsDetailViewForm.get('plantId').value
              ]
            "
          >
            {{ placeholder }}
          </span>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div
          id="issuesActionsViewFormLocation"
          class="titles"
          translate="location"
        ></div>
        <div id="issuesActionsViewLocationValue" class="values">
          {{ this.issuesActionsDetailViewForm.get('location').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div id="issuesActionsViewAsset" class="titles" translate="asset"></div>
        <div id="issuesActionsViewAssetValue" class="values">
          {{ this.issuesActionsDetailViewForm.get('asset').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div p-5-0">
        <div id="issuesActionsViewTask" class="titles" translate="task"></div>
        <div id="issuesActionsViewTaskValue" class="values">
          {{ this.issuesActionsDetailViewForm.get('task').value }}
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div
          id="issuesActionsViewFormmPriority"
          class="titles m-t-15"
          translate="priority"
        ></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="priority"
              [disabled]="data?.type === 'issue'"
              (selectionChange)="
                updateIssueOrAction({ field: 'priority', value: $event.value })
              "
            >
              <ng-container *ngIf="data?.type === 'issue'; else actions">
                <mat-option
                  id="issuesActionsViewPriorityOption"
                  *ngFor="let priority of priorities"
                  [value]="priority"
                  >{{ priority }}</mat-option
                >
              </ng-container>
              <ng-template #actions>
                <mat-option
                  id="issuesActionsViewActionPriorityOption"
                  [value]="priority"
                  *ngFor="let priority of priorities | slice : 1 : 4"
                  >{{ priority }}
                </mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div
          id="issuesActionsViewStatusValue"
          class="titles m-t-15"
          translate="status"
        ></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="status"
              (selectionChange)="
                updateIssueOrAction({ field: 'status', value: $event.value })
              "
            >
              <mat-option
                id="issuesActionsViewStatusOption"
                *ngFor="let status of statuses; let i = index"
                [value]="status"
                >{{ statusValues[i] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />
      <div class="right-div">
        <div
          id="issuesActionsViewDueDateTime"
          class="titles m-t-15"
          translate="dueDateAndTime"
        ></div>
        <div class="values dropdowns">
          <mat-form-field appearance="outline">
            <input
              id="issuesActionsViewDueDateValue"
              matInput
              type="text"
              formControlName="dueDateDisplayValue"
              readonly
            />
            <input
              id="issuesActionsViewUpdateDueDate"
              matInput
              [ngxMatDatetimePicker]="picker"
              [min]="minDate"
              formControlName="dueDate"
              (dateChange)="updateDate($event, 'dueDateDisplayValue')"
              hidden
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="$any(picker)"
              (click)="picker.open()"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker
              [enableMeridian]="true"
            ></ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
      </div>
      <hr class="line" />

      <div class="right-div">
        <div
          id="issuesActionsViewAssignedTo"
          class="titles m-t-15"
          translate="assignedTo"
        ></div>
        <ng-container *ngIf="users$ | async">
          <div class="values dropdowns">
            <mat-form-field
              appearance="outline"
              [matMenuTriggerFor]="menu"
              #menuTrigger="matMenuTrigger"
            >
              <input
                id="issuesActionsViewSelectAssignee"
                class="searchable-input"
                type="text"
                [placeholder]="'selectAssignee' | translate"
                matInput
                formControlName="assignedToDisplay"
                class="cursor"
              />
              <mat-icon id="issuesActionsViewDropDown" matSuffix class="cursor"
                >arrow_drop_down</mat-icon
              >
            </mat-form-field>
          </div>

          <mat-menu #menu="matMenu" backdropClass="assign-menu">
            <app-assigned-to
              [assigneeType]="'user'"
              [assigneeDetails]="assigneeDetails"
              [isMultiple]="true"
              [assignedTo]="issuesActionsDetailViewForm.get('assignedTo').value"
              (selectedAssignee)="selectedAssigneeHandler($event)"
            ></app-assigned-to>
          </mat-menu>
        </ng-container>
      </div>
      <hr class="line" *ngIf="data.type === 'issue'" />

      <div class="right-div p-5-0" *ngIf="data.type === 'issue'">
        <div
          id="issuesActionsViewNotification"
          class="titles m-t-10"
          translate="erpnotification"
        ></div>
        <div *ngIf="moduleName === module">
          <div *ngIf="notificationsArrived; else loadingNotifications">
            <div class="values" *ngIf="!isCreateNotification">
              <button
                id="issuesActionsViewCreateNotification"
                *ngIf="!isNotificationNumber(data.notificationInfo)"
                mat-raised-button
                color="primary"
                (click)="notificationCreateSelector()"
              >
                {{ 'create' | translate }}
              </button>
              <div *ngIf="isNotificationNumber(data.notificationInfo)">
                <div class="notification-count">
                  <span class="issuesActionsViewNotifInfo">{{
                    data.notificationInfo
                  }}</span>
                  <div
                    *ngIf="!fromNotificationsList"
                    id="issuesActionsViewDetailRound"
                    class="values round-title"
                    (click)="openNotificationIssues()"
                  >
                    <span class="notification-issues-route"
                      >+{{ notificationsCount - 1 }} more Related
                      Notifications</span
                    >
                  </div>
                </div>
                <span
                  id="issuesActionsViewNotifInfo"
                  *ngIf="fromNotificationsList"
                  >{{ data.notificationInfo }}</span
                >
              </div>
            </div>
            <div class="values" *ngIf="isCreateNotification">
              <span id="issuesActionsViewNotifCreation">{{
                'notificationCreation' | translate
              }}</span>
            </div>
          </div>
        </div>
        <ng-template #loadingNotifications>
          <ngx-shimmer-loading
            class="loading-notifications"
            [width]="'100%'"
            [height]="'35px'"
          >
          </ngx-shimmer-loading>
        </ng-template>
        <div *ngIf="moduleName !== module">
          <div class="values" *ngIf="!isCreateNotification">
            <button
              id="issuesActionsViewCreateNotification"
              *ngIf="!isNotificationNumber(data.notificationInfo)"
              mat-raised-button
              color="primary"
              (click)="createNotification()"
            >
              {{ 'create' | translate }}
            </button>
            <span
              id="issuesActionsViewNotifInfo"
              *ngIf="isNotificationNumber(data.notificationInfo)"
              >{{ data.notificationInfo }}</span
            >
          </div>
          <div class="values" *ngIf="isCreateNotification">
            <span id="issuesActionsViewNotifCreation">{{
              'notificationCreation' | translate
            }}</span>
          </div>
        </div>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles" translate="raisedBy"></div>
        <div id="issuesActionsViewRaisedBy" class="values">
          {{
            this.issuesActionsDetailViewForm.get('raisedBy')?.value
              | userNameByEmail
          }}
        </div>
      </div>
      <hr class="line" />

      <div class="right-div p-5-0">
        <div class="titles" translate="attachment"></div>
        <div id="issuesActionsViewFilteredLength" class="values">
          {{ filteredMediaType?.length }}
        </div>
      </div>
      <div class="attachments-container" *ngIf="filteredMediaType">
        <div *ngFor="let att of filteredMediaType; let i = index">
          <img
            id="issuesActionsViewAttachmentfilterImg"
            [src]="att?.message?.imageData"
            alt="images"
            *ngIf="att?.message && att?.message?.fileType === 'image'"
            class="attachments cursor-pointer"
            (click)="openPreviewDialog()"
          />

          <div
            class="video-player-container attachments cursor-pointer"
            *ngIf="att?.message && att?.message?.fileType === 'video'"
            (click)="openPreviewDialog()"
          >
            <div class="video-player">
              <video id="issuesActionsViewVideo" class="attachments">
                <source type="video/mp4" [src]="att?.message?.imageData" />
              </video>
            </div>
            <div class="video-player-overlay">
              <svg-icon
                class="video-player-play-icon"
                icon="icon-video-play"
              ></svg-icon>
            </div>
          </div>
          <ng-container
            *ngIf="att?.message && att?.message?.fileType === 'file'"
          >
            <div
              class="bg-white dis-flex cursor-pointer attachment-document-container"
              (click)="openPreviewDialog()"
            >
              <svg-icon
                id="instructionPDFIcon"
                [icon]="getDocumentIcon(att?.message?.fileName)"
                class="pdf-icon"
              ></svg-icon>

              <span id="instructionPDFName" class="pdf-text">
                {{ att?.message?.fileName }}
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
