<div class="confirm-popup-modal">
  <p id="confirm-popup-title" class="title" *ngIf="data.popupTexts.title">
    {{ data.popupTexts.title | translate }}
  </p>
  <p
    id="confirm-popup-subtitle"
    class="subtitle"
    *ngIf="data.popupTexts.subtitle"
  >
    {{ data.popupTexts.subtitle | translate }}
  </p>
  <p
    id="confirm-popup-subtitle"
    class="notes subtitle"
    *ngIf="data.popupTexts.note"
  >
    <span *ngIf="data.popupTexts.note" class="noteText" translate> Note: </span>
    {{ data.popupTexts.note | translate }}
  </p>

  <button
    mat-raised-button
    id="confirm-popup-primary-btn"
    class="primary-btn"
    (click)="onPositiveAction()"
    *ngIf="data.popupTexts.primaryBtnText"
  >
    {{ data.popupTexts.primaryBtnText | translate }}
  </button>

  <button
    mat-raised-button
    id="confirm-popup-primary-btn"
    class="task-btn"
    (click)="onPositiveAction()"
    *ngIf="data.popupTexts.primaryBtnTaskText"
  >
    {{ data.popupTexts.primaryBtnTaskText | translate }}
  </button>
  <button
    mat-button
    id="confirm-popup-secondary-btn"
    class="secondary-btn"
    *ngIf="data.popupTexts.secondaryBtnText"
    (click)="onNegativeAction()"
  >
    {{ data.popupTexts.secondaryBtnText | translate }}
  </button>
</div>
