@import '../../../../../scss/colors.scss';

.confirm-popup-modal {
  width: 400px;
  height: auto;
  overflow: hidden;
  padding: 17px;
  background: $white;
  border-radius: 4px;

  .title {
    font-size: 120%;
    font-weight: 600;
    margin: 0;
  }

  .subtitle {
    font-size: 110%;
  }

  .notes {
    color: $light-gray;
  }

  .noteText {
    font-weight: bold;
    font-size: 110%;
    color: $black !important;
  }

  .primary-btn {
    font-size: 110%;
    color: $white;
    border-radius: 4px;
    background: $red-main;
    float: right;
    border: none;
    margin-left: 10px;
  }

  .task-btn {
    background-color: $blue-main;
    font-size: 110%;
    color: $white;
    border-radius: 4px;
    float: right;
    border: none;
    margin-left: 10px;
  }

  .secondary-btn {
    font-size: 110%;
    color: $blue-main;
    background: $white;
    border-radius: 4px;
    float: right;
    margin-left: 20px;
  }
}
