<div class="node-item" *ngIf="selectedNode">
  <div
    class="parentNode node"
    [ngClass]="{ active: selectedNode.id === node.id }"
    [attr.data-id]="node.id"
    [attr.id]="'node-' + node.id"
  >
    <div class="left">
      <svg-icon
        icon="icon-six-dots"
        cdkDragHandle
        class="question-six-dots"
        *ngIf="hierarchyMode !== 'asset_hierarchy'"
      ></svg-icon>
      <div class="nodeContent" (click)="setSelectedNode(node)">
        <svg-icon
          [icon]="
            node?.type === 'location' ? 'icon-locationIcon' : 'icon-asset-icon'
          "
          class="node-icon"
        ></svg-icon>
        <div class="description">
          <span class="title">{{ getNodeName(node.name) }}</span>
          <span class="subTitle">
            {{
              'nodeSubTitle'
                | translate
                  : { nodeType: node.type | titlecase, nodeId: node.nodeId }
            }}
          </span>
        </div>
      </div>
      <div
        *ngIf="node.hasChildren && node.children && node.children.length"
        class="childrenHead"
        [ngClass]="{ inactive: selectedNode.id !== node.id }"
      >
        <span
          class="expandCollapseBtn"
          (click)="node.isExpanded = !node.isExpanded"
        >
          <mat-icon
            [ngClass]="{ 'rotate-270': !node.isExpanded }"
            class="material-icons-outlined"
            >expand_circle_down</mat-icon
          >
        </span>
        <span>
          {{
            'nodeChildrenHead'
              | translate
                : {
                    assetsCount:
                      assetHierarchyUtil.getAssetsLocationsCountByNode(node),
                    tasksCount: getTotalTasksCountByNode(node)
                  }
          }}
        </span>
      </div>
    </div>
    <div class="right">
      <span
        class="nodeCount"
        [ngClass]="{ nodeCountInvert: selectedNode.id === node.id }"
      >
        {{ getTasksCountByNode(node) }}
      </span>
      <span
        [matMenuTriggerFor]="hierarchyMenu"
        #hierarchyMenuTrigger="matMenuTrigger"
        class="more-icon"
        aria-label="More Options"
      >
        <mat-icon>more_horiz</mat-icon>
      </span>
      <mat-menu #hierarchyMenu="matMenu" xPosition="before">
        <button
          mat-menu-item
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (click)="toggleShowHierarchyPopover(node)"
        >
          <span translate="showHierarchy"></span>
        </button>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="togglePopover"
          (backdropClick)="togglePopover = true"
        >
          <div
            class="show-popup"
            [ngStyle]="{ top: positions.top, left: positions.left }"
          >
            <app-show-hierarchy-popup
              class="showHierarchy"
              [nodeUid]="nodeSelectedForShowHierarchy.uid"
              (closeHierarchyOverlay)="togglePopover = $event"
              [positions]="positions"
            ></app-show-hierarchy-popup>
          </div>
        </ng-template>
        <button
          mat-menu-item
          class="text-red"
          (click)="onRemoveNode($event, node)"
        >
          <span translate="removeBtn"></span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="node.hasChildren" class="children">
    <div
      *ngIf="node.isExpanded && hierarchyMode !== 'flat'"
      cdkDropList
      class="node-children"
      [cdkDropListData]="node.children"
      [id]="node.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      [cdkDropListSortingDisabled]="true"
    >
      <app-node
        class="node-item"
        [node]="node"
        [hierarchyMode]="hierarchyMode"
        [dropTargetIds]="dropTargetIds"
        *ngFor="let node of node.children"
        (nodeRemoved)="removeNodeHandler($event)"
      ></app-node>
    </div>
  </div>
</div>
