<div
  class="node-item"
  *ngIf="{
    selectedNode: selectedNode$ | async,
    checkboxStatus: checkboxStatus$ | async
  }"
>
  <div
    class="parentNode node"
    [ngClass]="{
      active: selectedNode && node && selectedNode?.id === node?.id
    }"
    [attr.data-id]="node ? node?.id : null"
    [attr.id]="node ? 'node-' + node?.id : null"
  >
    <div class="left">
      <svg-icon
        id="nodeSixDots"
        icon="icon-six-dots"
        cdkDragHandle
        class="question-six-dots"
        *ngIf="
          hierarchyMode !== 'asset_hierarchy' && hierarchyMode !== 'scheduler'
        "
      ></svg-icon>
      <div class="nodeContent" (click)="setSelectedNode(node)">
        <mat-checkbox
          class="checkbox"
          *ngIf="hierarchyMode === 'scheduler'"
          [checked]="allCheckedPages.status"
          [indeterminate]="partiallyChecked.status"
          (change)="toggleCheckBox($event.checked, node)"
        ></mat-checkbox>
        <svg-icon
          id="nodeIcons"
          [icon]="
            node?.type === 'location' ? 'icon-locationIcon' : 'icon-asset-icon'
          "
          class="node-icon"
        ></svg-icon>
        <div class="description">
          <div class="dis-flex title-status">
            <span id="nodeName" class="title">{{ node.name }}</span>
            <span
              id="nodeStatus"
              *ngIf="hierarchyMode === 'scheduler'"
              class="nodeStatus"
            >
              <div *ngIf="isRevised" translate>taskLevel</div>
              <div *ngIf="!isRevised" translate>header</div>
            </span>
          </div>
          <span id="nodeSubTitle" class="subTitle">
            {{
              'nodeSubTitle'
                | translate
                  : { nodeType: node.type | titlecase, nodeId: node.nodeId }
            }}
          </span>
        </div>
      </div>
      <div
        *ngIf="node.hasChildren && node.children && node.children.length"
        class="childrenHead"
        [ngClass]="{ inactive: selectedNode?.id !== node?.id }"
      >
        <span
          id="nodeCollapseBtn"
          class="expandCollapseBtn"
          (click)="node.isExpanded = !node.isExpanded"
        >
          <mat-icon
            id="nodeExpandDown"
            [ngClass]="{ 'rotate-270': !node.isExpanded }"
            class="material-icons-outlined"
            >expand_circle_down</mat-icon
          >
        </span>
        <span id="nodeAssetCount">
          {{
            'nodeChildrenHead'
              | translate
                : {
                    assetsCount:
                      assetHierarchyUtil.getAssetsLocationsCountByNode(node),
                    tasksCount: getTotalTasksCountByNode(node)
                  }
          }}
        </span>
      </div>
    </div>
    <div class="right" *ngIf="hierarchyMode !== 'scheduler'">
      <span
        id="nodeGetCount"
        class="nodeCount"
        [ngClass]="{
          nodeCountInvert: selectedNode && node && selectedNode?.id === node?.id
        }"
      >
        {{ getTasksCountByNode(node) }}
      </span>
      <span
        [matMenuTriggerFor]="hierarchyMenu"
        #hierarchyMenuTrigger="matMenuTrigger"
        class="more-icon"
        aria-label="More Options"
      >
        <mat-icon id="nodeMoreMenu">more_horiz</mat-icon>
      </span>
      <mat-menu #hierarchyMenu="matMenu" xPosition="before">
        <button
          id="nodeMoreMenuBtn"
          mat-menu-item
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (click)="toggleShowHierarchyPopover(node)"
        >
          <span translate="showHierarchy"></span>
        </button>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="togglePopover"
          (backdropClick)="togglePopover = true"
        >
          <div
            class="show-popup"
            [ngStyle]="{ top: positions.top, left: positions.left }"
          >
            <app-show-hierarchy-popup
              class="showHierarchy"
              [nodeUid]="nodeSelectedForShowHierarchy.uid"
              (closeHierarchyOverlay)="togglePopover = $event"
              [positions]="positions"
            ></app-show-hierarchy-popup>
          </div>
        </ng-template>
        <button
          id="nodeRemovebtn"
          mat-menu-item
          class="text-red"
          (click)="onRemoveNode($event, node)"
        >
          <span id="nodeRemove" translate="removeBtn"></span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="node.hasChildren" class="children">
    <div
      *ngIf="node.isExpanded && hierarchyMode !== 'flat'"
      cdkDropList
      class="node-children"
      [cdkDropListData]="node.children"
      [id]="node?.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      [cdkDropListSortingDisabled]="true"
    >
      <app-node
        class="node-item"
        [node]="node"
        [nodeWiseQuestionsCount]="nodeWiseQuestionsCount"
        [hierarchyMode]="hierarchyMode"
        [dropTargetIds]="dropTargetIds"
        *ngFor="let node of node.children"
        (nodeRemoved)="removeNodeHandler($event)"
      ></app-node>
    </div>
  </div>
</div>
