@import '../../../../../scss/colors.scss';

.node {
  &:hover {
    cursor: pointer;
    background: $hover-bg;
    color: $black;
  }
}

.parentNode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  // width: 100%;
  min-width: max-content;
  .left {
    display: flex;
    width: 90%;
    img {
      max-width: 40px;
      max-height: 40px;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
    }
  }
  .right {
    display: flex;
    width: 10%;
    align-items: center;
  }
}
.children {
  margin-left: 40px;
  .childrenHead {
    padding: 10px;
    display: flex;
    align-items: center;
    color: $blue-main;
    .expandCollapseBtn {
      cursor: pointer;
    }
    .rotate-270 {
      transform: rotate(270deg);
    }
  }
}
.displayInlineBlock {
  display: inline-block;
}
.inactive {
  color: $light-gray !important;
}
.active {
  background: $active-blue;
  color: $white;
}
