@import '../../../../../scss/colors.scss';

.node {
  &:hover {
    background: $hover-bg;
    color: $black;
  }
}

.parentNode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 10px;
  min-width: max-content;
  .left {
    display: flex;
    width: 85%;
    flex-direction: column;
    img {
      max-width: 40px;
      max-height: 40px;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
      line-height: 1.5;
      .title {
        font-weight: 500;
      }
      .subTitle {
        font-weight: 400;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    .more-icon {
      cursor: pointer;
    }
  }
}
.nodeContent {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.children {
  margin-left: 40px;
}
.childrenHead {
  display: flex;
  align-items: center;
  margin-left: 45px;
  .expandCollapseBtn {
    cursor: pointer;
    padding: 2%;
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
}
.displayInlineBlock {
  display: inline-block;
}
.inactive {
  color: $blue-main;
}
.active {
  background: $active-blue;
  color: $white;
}

.active:hover{
  background-color: $hierarchy-active;
  color: $white;

}

.question-six-dots {
  position: relative;
  width: 10px;
  cursor: move;
  margin-right: 10px;
}
.showHierarchy {
  background-color: $white;
  box-shadow: $show-hierarchy-shadow 0px 5px 15px;
  border-radius: 5px;
}
.nodeCount {
  background: $active-blue;
  min-width: 25px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  margin-right: 10px;
}

.nodeCountInvert {
  background: $white;
  color: $active-blue;
}

.node-icon{
  height: 24px;
    width: 24px;
  position: relative;
  top: 2px;
}

