<div
  class="create-form-main"
  [formGroup]="formConfiguration"
  *ngIf="{
    formMetadata: formMetadata$ | async,
    authoredTemplateDetail: authoredTemplateDetail$ | async,
    createOrEditForm: createOrEditForm$ | async,
    formSaveStatus: formSaveStatus$ | async,
    isFormCreated: isFormCreated$ | async,
    questionCounter: questionCounter$ | async
  } as props"
>
  <div class="dis-flex form-header">
    <div class="dis-flex width-55">
      <svg-icon icon="icon-formlogo" class="form-logo"></svg-icon>
      <input
        hidden
        type="file"
        #formImageuploader
        accept="image/x-png,image/jpeg"
        (change)="uploadFormImageFile($event)"
      />
      <div class="width-90">
        <a
          matTooltip="{{ formConfiguration.get('name').value }}"
          class="dis-inline"
        >
          <a class="width-90">
            <input
              #name
              type="text"
              [size]="name.value !== '' ? getSize(name.value) : 20"
              class="form-title-input"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
              (keyup.enter)="formConfiguration.get('name').disable()"
              (blur)="formConfiguration.get('name').disable()"
            />

            <mat-error
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </a>
          <button
            (click)="editFormName()"
            class="edit-icon"
            *ngIf="formConfiguration.get('name').disabled === true"
          >
            <svg-icon icon="icon-edit-icon" class="edit-icon-img"></svg-icon>
          </button>
        </a>
        <br />
        <a matTooltip="{{ formConfiguration.get('description').value }}">
          <input
            type="text"
            class="form-description-input"
            placeholder="{{ 'addFormDesc' | translate }}"
            formControlName="description"
            autofocus="true"
            autocomplete="off"
          />
        </a>
      </div>
    </div>
    <div class="dis-flex width-70 justify-content-end">
      <div
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saved ||
          formStatus !== formConfigurationStatus.draft ||
          isTemplatePublishing
        "
      >
        {{ 'changesSaved' | translate }}
      </div>
      <div
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saving ||
          isTemplatePublishing
        "
      >
        {{ 'savingChanges' | translate }}
      </div>
      <div
        class="save-status"
        [hidden]="formStatus !== formConfigurationStatus.ready"
      >
        {{ 'changesPublished' | translate }}
      </div>
      <div class="save-status" [hidden]="!isTemplatePublishing">
        {{ 'publishingChanges' | translate }}
      </div>

      <button
        mat-raised-button
        class="publish-btn"
        (click)="publishFormDetail()"
        [disabled]="
          formStatus === formConfigurationStatus.ready || isTemplatePublishing
        "
      >
        <span>
          <span class="publish" translate="markReady"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="dis-flex form">
    <div class="questions-responses-width">
      <ng-container *ngFor="let pageIndex of pageIndexes$ | async">
        <app-page
          [pageIndex]="pageIndex"
          (pageEvent)="pageEventHandler($event)"
          cdkDropListGroup
        >
          <ng-container *ngIf="sectionIds$ | async as sectionIds">
            <div
              cdkDropList
              (cdkDropListDropped)="dropSection($event, pageIndex)"
              [cdkDropListData]="getSectionsOfPage(pageIndex)"
            >
              <ng-container *ngIf="sectionIndexes$ | async as sectionIndexes">
                <div *ngFor="let sectionIndex of sectionIndexes[pageIndex]">
                  <div class="dis-flex" cdkDrag>
                    <div class="section-drag-handler">
                      <svg-icon
                        cdkDragHandle
                        icon="icon-six-dots-white"
                        class="section-six-dots"
                      ></svg-icon>
                    </div>

                    <app-section
                      class="sectionContainer"
                      [pageIndex]="pageIndex"
                      [sectionIndex]="sectionIndex"
                      [sectionId]="sectionIds[pageIndex][sectionIndex]"
                      (sectionEvent)="sectionEventHandler($event)"
                    >
                      <div
                        class="sectionMinimumDragArea"
                        cdkDropList
                        id="{{ sectionIds[pageIndex][sectionIndex] }}"
                        [cdkDropListConnectedTo]="sectionIds[pageIndex]"
                        (cdkDropListDropped)="
                          drop(
                            $event,
                            pageIndex,
                            sectionIds[pageIndex][sectionIndex]
                          )
                        "
                        [cdkDropListData]="
                          getQuestionsOfSection(
                            pageIndex,
                            sectionIds[pageIndex][sectionIndex]
                          )
                        "
                        [id]="sectionIds[pageIndex][sectionIndex]"
                      >
                        <ng-container
                          *ngIf="questionIds$ | async as questionIds"
                        >
                          <div
                            *ngIf="
                              getQuestionsOfSection(
                                pageIndex,
                                sectionIds[pageIndex][sectionIndex]
                              ).length === 0
                            "
                          >
                            <span
                              class="sectionEmpty"
                              translate="sectionEmptyMessage"
                            >
                            </span>
                            <div class="floating-btns empty-section">
                              <button
                                class="questions-btn"
                                (click)="
                                  addQuestion(
                                    pageIndex,
                                    sectionIds[pageIndex][sectionIndex],
                                    0
                                  )
                                "
                              >
                                <svg-icon
                                  icon="icon-add-question"
                                  class="add-question-icon"
                                ></svg-icon>
                                <p
                                  class="questions-delete-btn-text"
                                  translate="question"
                                ></p>
                              </button>
                            </div>
                          </div>
                          <ng-container
                            *ngFor="
                              let questionId of questionIds[pageIndex][
                                sectionIds[pageIndex][sectionIndex]
                              ];
                              let questionIndex = index
                            "
                          >
                            <div
                              cdkDrag
                              class="questionContainer"
                              [ngClass]="{
                                'highlight-bg':
                                  getQuestionsOfSection(
                                    pageIndex,
                                    sectionIds[pageIndex][sectionIndex]
                                  )[questionIndex].isOpen === true
                              }"
                            >
                              <div class="question-drag-handler">
                                <svg-icon
                                  cdkDragHandle
                                  icon="icon-six-dots"
                                  class="question-six-dots"
                                ></svg-icon>
                              </div>

                              <app-question
                                class="question"
                                [pageIndex]="pageIndex"
                                [sectionId]="
                                  sectionIds[pageIndex][sectionIndex]
                                "
                                [questionId]="questionId"
                                [questionIndex]="questionIndex"
                                (questionEvent)="questionEventHandler($event)"
                              ></app-question>
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </app-section>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="isEmptyPage[pageIndex]"
                class="emptyPageContainer"
              >
                <div
                  class="floating-btns"
                  *ngIf="sectionIds[pageIndex].length !== 0"
                >
                  <button
                    class="questions-btn"
                    (click)="
                      addQuestion(pageIndex, sectionIds[pageIndex][0], 0)
                    "
                  >
                    <svg-icon
                      icon="icon-add-question"
                      class="add-question-icon"
                    ></svg-icon>
                    <p
                      class="questions-delete-btn-text"
                      translate="question"
                    ></p>
                  </button>
                  <br />

                  <button class="delete-btn">
                    <svg-icon
                      icon="icon-delete-question"
                      class="add-question-icon"
                    ></svg-icon>
                    <p class="questions-delete-btn-text" translate="delete"></p>
                  </button>
                </div>
                <button
                  class="add-section-btn"
                  [ngClass]="{
                    'add-section-btn': sectionIds[pageIndex].length !== 0,
                    'add-section-without-floating-btns':
                      sectionIds[pageIndex].length === 0
                  }"
                  (click)="addSection(pageIndex)"
                >
                  <svg-icon
                    icon="icon-add-section"
                    class="add-section-btn-icon"
                  ></svg-icon>
                  {{ 'addSection' | translate }}
                </button>
              </ng-container>
            </div>
          </ng-container>
        </app-page>
      </ng-container>
    </div>
    <div class="iphone-width">
      <app-iphone [subFormId]="''"></app-iphone>
    </div>
  </div>
</div>
