<div
  class="create-form-main"
  [formGroup]="formConfiguration"
  *ngIf="{
    formMetadata: formMetadata$ | async,
    authoredTemplateDetail: authoredTemplateDetail$ | async,
    createOrEditForm: createOrEditForm$ | async,
    formSaveStatus: formSaveStatus$ | async,
    isFormCreated: isFormCreated$ | async,
    questionCounter: questionCounter$ | async
  } as props"
>
  <div class="dis-flex form-header">
    <div class="dis-flex width-55">
      <svg-icon
        id="templateConfigurationFormIcon"
        icon="icon-formlogo"
        class="form-logo"
      ></svg-icon>
      <input
        id="templateConfigurationFileType"
        hidden
        type="file"
        #formImageuploader
        accept="image/x-png,image/jpeg"
        (change)="uploadFormImageFile($event)"
      />
      <div class="width-90">
        <a
          id="templateConfigurationLink"
          matTooltip="{{ formConfiguration.get('name').value }}"
          class="dis-inline"
        >
          <a class="width-90">
            <input
              id="templateConfigurationTypeText"
              #name
              type="text"
              [size]="name.value !== '' ? getSize(name.value) : 20"
              class="form-title-input"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
              (keyup.enter)="formConfiguration.get('name').disable()"
              (blur)="formConfiguration.get('name').disable()"
            />

            <mat-error
              id="templateConfigurationNameError"
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </a>
          <button
            id="templateConfigurationEditBtn"
            (click)="editFormName()"
            class="edit-icon"
            *ngIf="formConfiguration.get('name').disabled === true"
          >
            <svg-icon
              id="templateConfigurationEditIcon"
              icon="icon-edit-icon"
              class="edit-icon-img"
            ></svg-icon>
          </button>
        </a>
        <br />
        <a
          id="templateConfigurationDescriptionLink"
          matTooltip="{{ formConfiguration.get('description').value }}"
        >
          <input
            id="templateConfigurationDescriptionText"
            type="text"
            class="form-description-input"
            placeholder="{{ 'addFormDesc' | translate }}"
            formControlName="description"
            autofocus="true"
            autocomplete="off"
          />
        </a>
      </div>
    </div>
    <div class="dis-flex width-70 justify-content-end">
      <div
        id="templateConfigurationChangesSaved"
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saved ||
          formStatus !== formConfigurationStatus.draft ||
          isTemplatePublishing
        "
      >
        {{ 'changesSaved' | translate }}
      </div>
      <div
        id="templateConfigurationSavingChanges"
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saving ||
          isTemplatePublishing
        "
        id="templateConfigurationSavingChanges"
      >
        {{ 'savingChanges' | translate }}
      </div>
      <div
        id="templateConfigurationChangesPublished"
        class="save-status"
        [hidden]="formStatus !== formConfigurationStatus.ready"
      >
        {{ 'changesPublished' | translate }}
      </div>
      <div
        id="templateConfigurationPublishingChanges"
        class="save-status"
        [hidden]="!isTemplatePublishing"
      >
        {{ 'publishingChanges' | translate }}
      </div>
      <div id="collapseBtn" class="save-status collapse-margin">
        <mat-slide-toggle
          class="collapse-btn slide-toggle"
          [formControl]="collapseAllSections"
          name="collapseAllSections"
          >{{ 'collapseAllSections' | translate }}</mat-slide-toggle
        >
      </div>
      <button
        id="templateConfigurationPublishBtn"
        mat-raised-button
        class="publish-btn"
        (click)="publishFormDetail()"
        [disabled]="
          formStatus === formConfigurationStatus.ready || isTemplatePublishing
        "
      >
        <span>
          <span
            id="templateConfigurationMarkReady"
            class="publish"
            translate="markReady"
          ></span>
        </span>
      </button>
    </div>
  </div>
  <div class="dis-flex form">
    <div class="questions-responses-width">
      <app-builder
        [selectedNode]="selectedNode"
        [isPreviewActive]="true"
        [isEmbeddedForm]="isEmbeddedTemplate"
        [isTemplate]="isTemplate"
        [counter]="formConfiguration.get('counter').value"
        [moduleName]="'forms'"
      ></app-builder>
    </div>
    <div class="iphone-width m-t-20" *ngIf="!isEmbeddedTemplate">
      <app-iphone [moduleType]="'forms'" [subFormId]="''"></app-iphone>
    </div>

    <div class="iphone-width m-t-20" *ngIf="isEmbeddedTemplate">
      <app-iphone-for-embedded-forms
        [moduleType]="'forms'"
        [subFormId]="''"
      ></app-iphone-for-embedded-forms>
    </div>
  </div>
</div>
