<div
  class="create-form-main"
  [formGroup]="formConfiguration"
  *ngIf="{
    formMetadata: formMetadata$ | async,
    authoredTemplateDetail: authoredTemplateDetail$ | async,
    createOrEditForm: createOrEditForm$ | async,
    formSaveStatus: formSaveStatus$ | async,
    isFormCreated: isFormCreated$ | async,
    questionCounter: questionCounter$ | async
  } as props"
>
  <div class="dis-flex form-header">
    <div class="dis-flex width-55">
      <svg-icon icon="icon-formlogo" class="form-logo"></svg-icon>
      <input
        hidden
        type="file"
        #formImageuploader
        accept="image/x-png,image/jpeg"
        (change)="uploadFormImageFile($event)"
      />
      <div class="width-90">
        <a
          matTooltip="{{ formConfiguration.get('name').value }}"
          class="dis-inline"
        >
          <a class="width-90">
            <input
              #name
              type="text"
              [size]="name.value !== '' ? getSize(name.value) : 20"
              class="form-title-input"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
              (keyup.enter)="formConfiguration.get('name').disable()"
              (blur)="formConfiguration.get('name').disable()"
            />

            <mat-error
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </a>
          <button
            (click)="editFormName()"
            class="edit-icon"
            *ngIf="formConfiguration.get('name').disabled === true"
          >
            <svg-icon icon="icon-edit-icon" class="edit-icon-img"></svg-icon>
          </button>
        </a>
        <br />
        <a matTooltip="{{ formConfiguration.get('description').value }}">
          <input
            type="text"
            class="form-description-input"
            placeholder="{{ 'addFormDesc' | translate }}"
            formControlName="description"
            autofocus="true"
            autocomplete="off"
          />
        </a>
      </div>
    </div>
    <div class="dis-flex width-70 justify-content-end">
      <div
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saved ||
          formStatus !== formConfigurationStatus.draft ||
          isTemplatePublishing
        "
      >
        {{ 'changesSaved' | translate }}
      </div>
      <div
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saving ||
          isTemplatePublishing
        "
      >
        {{ 'savingChanges' | translate }}
      </div>
      <div
        class="save-status"
        [hidden]="formStatus !== formConfigurationStatus.ready"
      >
        {{ 'changesPublished' | translate }}
      </div>
      <div class="save-status" [hidden]="!isTemplatePublishing">
        {{ 'publishingChanges' | translate }}
      </div>

      <button
        mat-raised-button
        class="publish-btn"
        (click)="publishFormDetail()"
        [disabled]="
          formStatus === formConfigurationStatus.ready || isTemplatePublishing
        "
      >
        <span>
          <span class="publish" translate="markReady"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="dis-flex form">
    <div class="questions-responses-width">
      <app-builder
        [selectedNode]="selectedNode"
        [isPreviewActive]="true"
        [counter]="formConfiguration.get('counter').value"
        [moduleName]="'forms'"
      ></app-builder>
    </div>
    <div class="iphone-width">
      <app-iphone [subFormId]="''"></app-iphone>
    </div>
  </div>
</div>
