<div class="donut-div">
    <div class="p-15">
        <span class="donut-title">mWorkOrder</span>
        <mat-icon class="material-icons-outlined donut-icons">save_alt</mat-icon>
        <mat-icon class="material-icons-outlined donut-icons">file_copy</mat-icon>
    </div>
    <div class="row">
        <div class="col-md-6">
            Graph
        </div>

        <div class="col-md-6 p-l-40">
            <div class="m-t-20">
                <div class="display_flex">
                    <div class="users_count">
                        25
                    </div>
                    <div class="m-l-20">
                        <p class="prev_percentage"> 
                            <img src="assets/invam-icons/up_arrow.svg"/> 
                            <span class="m-l-5">0%</span>
                        </p>
                        <p class="prev_text">Prev Year</p>
                    </div>
                </div> 
                <span class="users_text">Users</span>
            </div>
            <div class="m-t-20"> 
                <div class="display_flex">
                    <div class="users_count">
                        1244
                    </div>
                    <div class="m-l-20">
                        <p class="prev_percentage"> 
                            <img src="assets/invam-icons/down_arrow.svg"/> 
                            <span class="m-l-5">90%</span>
                        </p>
                        <p class="prev_text">Prev Year</p>
                    </div>
                </div> 
                <span class="users_text">Transactions</span>
            </div>
        </div>

    </div>
    
</div>