<div [formGroup]="integrationConfigForm" class="integrations-container">
  <div class="w-100 connector-step">
    <div class="connectors-container">
      <div class="w-394 connector-left" *ngIf="connectors$ | async as connectors; else loadingConnectors">
        <div class="connector-head-left">
          <span class="form-name-description">
            Connections
          </span>
          <div class="test-connect" *ngIf="connectors.length">
            <button mat-raised-button color="primary" class="next-btn test-connection-btn" (click)="addConnector()">
              Add Connection
            </button>
          </div>
        </div>
        <div class="emptyContainer" *ngIf="!connectors.length">
          <p>
            You have not added any Connection yet. Start Creating one
          </p>
          <button mat-raised-button color="primary" class="next-btn test-connection-btn" (click)="addConnector()">
            Add Connection
          </button>
        </div>
        <div class="dis-flex flex-wrap connector-container">
          <div *ngFor="let connector of connectors" class="connector-formtype-style w-100 m-l-0"
            (click)="connectorChanged(connector.id)" [ngClass]="{
              'inactive-connector': connector.isActive,
              'active-connector': connector.isActive,
              'selected-connector':
                integrationConfigForm.value.connector === connector.id
            }">
            <div class="radio-label">
              <img [src]="connector.connectorId" class="connector-icon" />
              <div>
                <span class="radio-btn-text">{{ connector.connectorName }}</span>
                <p class="connector-radio-sub-text">
                  {{ connector.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loadingConnectors>
        <div class="p-15">
          <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
          </ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
          </ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
          </ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
          </ngx-shimmer-loading>
          <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
          </ngx-shimmer-loading>
        </div>
      </ng-template>
      <!--
      <div *ngIf="integrationConfigForm.value.connector.length" class="w-65 connectorMeta">
        <div class="connector-head">
          <span class="form-name-description" *ngIf="integrationConfigForm.value.connector">
            Configure
          </span>
          <div class="test-connect">
            <button mat-raised-button color="primary" class="next-btn test-connection-btn">
              Test Connection
            </button>
            <button mat-raised-button color="primary" class="next-btn test-connection-btn">
              Save
            </button>
          </div>
        </div>

      </div> -->
    </div>
  </div>
</div>