.dashboard-create-update-dialog {
  overflow: hidden;
  padding: 20px;
}

.dialog-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
}

.dialog-close {
  margin-top: 5px;
}

.dialog-title {
  font-size: 120%;
  font-weight: 600;
}

.dialog-content {
  height: 175px;
  padding-top: 25px;
}

.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog-close-btn {
  cursor: pointer;
}
.create-dashboard-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.15px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #3d5afe;
  float: right;
  cursor: pointer;
}

::ng-deep .dashboardTitle-formfield {
  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.2em 0px 0.5em 0px;
  }

  .mat-form-field-label-wrapper {
    margin-top: -0.25em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: #ffffff;
    border-radius: 4px;
  }
}
