<div class="assets-modal">
  <div class="dis-flex heading-container">
    <h2 class="heading" translate>Select Assets</h2>
  </div>

  <div class="list-container">
    <div class="node-container">
      <div *ngFor="let node of hierarchyList">
        <app-hierarchy-node
          [nodeData]="node"
          (checkboxToggleHandler)="handleHierarchyElementChange($event)"
          [mode]="'selectAssets'"
        ></app-hierarchy-node>
      </div>
    </div>
  </div>

  <div class="assets-footer">
    <div class="selected-items">
      {{
        'selectedLocationsAndAssets'
          | translate
            : {
                locationsCount: locationsCount,
                assetsCount: assetsCount
              }
      }}
    </div>

    <div mat-dialog-actions class="actions">
      <button
        mat-stroked-button
        class="cancel-btn"
        mat-dialog-close="true"
        translate="Cancel"
        (click)="cancel()"
      ></button>
      <button
        mat-raised-button
        class="next-btn"
        translate="Next"
        (click)="submitSelectedElementsInHierarchy()"
      ></button>
    </div>
  </div>
</div>
