@import '../../../../scss/colors.scss';

.search-container {
  position: fixed;
  top: 78px;
  right: 10px;
  z-index: 100;

  .search {
    margin-top: 5px;
    margin-right: 14px;

    .common-filter-icon {
      width: 15px;
      height: 15px;
    }
  }

  .common-filter-icon {
    cursor: pointer;
  }

  ::ng-deep .form-categories .mat-button-toggle {
    margin-right: 10px;
    border-radius: 30px;
    align-items: center;
    height: 16px;
    padding: 5px 15px 10px 15px;
    background: $blue8;
    border: none;
  }

  ::ng-deep .form-categories .mat-button-toggle-group-appearance-standard {
    border: none;
  }

  ::ng-deep
    .form-categories
    .mat-button-toggle-group-appearance-standard
    .mat-button-toggle-label-content {
    line-height: 24px;
    font-size: 90%;
    font-weight: 600;
    font-style: normal;
    color: $blue-main;
  }

  ::ng-deep
    .form-categories
    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background: $blue-main;
  }

  ::ng-deep
    .form-categories
    .mat-button-toggle-checked.mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    color: $white;
  }

  ::ng-deep .form-categories .mat-button-toggle .mat-button-toggle-ripple {
    border-radius: 30px;
  }
}

.forms-list {
  ::ng-deep .table-column {
    width: 15%;
  }

  ::ng-deep .table-buttons {
    width: 120px !important;
    height: 30px;
    line-height: 25px;
  }

  ::ng-deep .mat-column-name {
    min-width: 300px;
  }

  ::ng-deep .mat-column-questions {
    min-width: 50px;
  }
}
::ng-deep .remove-zindex th {
  z-index: 0 !important;
}

.padding-lr-20 {
  padding: 0 20px;
}

.filter-icon {
  height: 17px !important;
  width: 17px !important;
}
