<div id="app-customizer">
  <mat-card class="p-0">
    <mat-card-title class="m-0 light-gray">
      <div class="mcq-heading">Multiple Choice Responses</div>
    </mat-card-title>
    <div [formGroup]="responseForm">
      <div>
        <input
          matInput
          formControlName="name"
          placeholder="Untitled Response Set"
          [hidden]="respType === 'quickResponse'"
          autocomplete="off"
        />
      </div>
      <div style="padding-left: 10px">Response</div>
      <mat-card-content>
        <div class="width-100" formArrayName="responses">
          <div cdkDrop cdkDropList [cdkDropListData]="getResponseList()">
            <div *ngFor="let response of getResponseList(); let i = index">
              <div
                [formGroupName]="i"
                class="dis-flex"
                style="border-bottom: 1px solid #e0e0e0; height: 45px"
              >
                <input
                  matInput
                  formControlName="title"
                  placeholder="Response Title"
                  autocomplete="off"
                  (keyup.enter)="initResponse(); keytab($event)"
                />
                <input
                  matInput
                  type="color"
                  style="
                    width: 30px;
                    height: 30px;
                    position: relative;
                    top: 10px;
                  "
                  formControlName="color"
                  [hidden]="respType === 'globalResponse'"
                />
                <button
                  mat-flat-button
                  (click)="deleteResponse(i)"
                  color="#545F70"
                  style="float: right; padding: 0; min-width: 40px"
                >
                  <img
                    src="assets/rdf-forms-icons/delete-icon.svg"
                    style="width: 15px"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
        <button mat-flat-button (click)="initResponse()" class="add-response">
          + Add Response
        </button>
      </mat-card-content>
    </div>
    <button
      mat-raised-button
      (click)="submitResponses()"
      color="primary"
      style="width: 46%; margin-right: 10px; margin-left: 10px"
      [disabled]="isFormNotUpdated === true"
    >
      Apply
    </button>
    <button
      mat-stroked-button
      style="width: 46%; margin-right: 10px"
      (click)="cancelForm()"
    >
      Cancel
    </button>
  </mat-card>
</div>
