@import '../../../../scss/colors.scss';

.login-error-modal {
  width: 455px;
  height: auto;
  overflow: hidden;
  padding: 44px;
  background: $white;
  border-radius: 4px;

  p {
    margin: 0 0 16px 0;
  }

  .m-b-2 {
    margin-bottom: 2px;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 160%;
    line-height: 28px;
  }

  .info {
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 28px;
  }

  .info2 {
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 24px;
    color: $red-main;
  }

  .info3 {
    font-style: normal;
    font-weight: 400;
    font-size: 110%;
    line-height: 24px;
    color: $light-gray;
  }

  .okay-btn {
    background-color: $blue14;
    border: none;
    color: $white;
    width: 100px;
    height: 35px;
    float: right;
    font-weight: 400;
    font-size: 120%;
    line-height: 27px;
  }
}
