<span>
  <span class="kit-number">{{ workOrder.workOrderID }}</span
  ><br />
  <span class="display-flex">
    <svg-icon icon="icon-date" class="list-icons"></svg-icon>
    <span class="date-priority-label">{{
      workOrder.dueDate | date : 'd-MMM-yyyy'
    }}</span>
  </span>
  <span
    class="display-flex"
    *ngIf="
      workOrder.priorityStatus !== '' &&
      (workOrder.statusCode !== '1' || workOrder.statusCode !== '2')
    "
  >
    <svg-icon icon="icon-priority" class="list-icons"></svg-icon>
    <span class="date-priority-label">{{ workOrder.priorityStatus }}</span>
  </span>
  <span>
    <span
      class="display-flex"
      class="date-priority-label"
      *ngIf="workOrder.statusCode === '3'"
    >
      <svg-icon icon="icon-parts" class="list-icons"></svg-icon>
      <span
        >{{ workOrder.staged }} of {{ workOrder.totItems }} Parts Picked</span
      >
    </span>
    <div class="m-l-20">
      <mat-progress-bar
        *ngIf="workOrder.statusCode === '3'"
        mode="determinate"
        color="medium"
        class="progress-bar-class"
        value="{{ workOrder.progressValue }}"
      ></mat-progress-bar>
      <span
        *ngIf="workOrder.statusCode !== '4' && workOrder.statusCode !== '5'"
        [ngClass]="{
          'parts-available-label':
            workOrder.partsavailable === 'PARTS AVAILABLE',
          'waiting-on-parts-label':
            workOrder.partsavailable === 'WAITING ON PARTS'
        }"
      >
        {{ workOrder.partsavailable }}
      </span>
    </div>
  </span>

  <div
    class="display-flex m-t-10"
    *ngIf="workOrder.statusCode === '2' || workOrder.statusCode === '3'"
  >
    <svg-icon
      icon="icon-technicianProfile"
      class="technician-profile"
    ></svg-icon>
    <div class="width-100" *ngIf="workOrder.isLoading">
      <ngx-shimmer-loading
        [width]="'100%'"
        [height]="'20px'"
        class="spcc-card-loader-position"
      >
      </ngx-shimmer-loading>
    </div>

    <span class="m-l-10 assignee-text" *ngIf="!workOrder.isLoading">
      {{ workOrder.assignee }}
    </span>
  </div>
  <span
    class="display-flex"
    *ngIf="workOrder.statusCode === '4' || workOrder.statusCode === '5'"
  >
    <svg-icon icon="icon-parts" class="list-icons"></svg-icon>
    <span class="date-priority-label">{{ workOrder.totItems }} Parts</span>
  </span>
  <span class="display-flex" *ngIf="workOrder.statusCode === '5'">
    <svg-icon icon="icon-pickedup" class="list-icons"></svg-icon>
    <span class="date-priority-label"
      >Picked up by {{ workOrder.assignee }}</span
    >
  </span>
  <span *ngIf="technicians">
    <button
      [matMenuTriggerFor]="menu"
      class="assign-picklist-btn"
      *appCheckUserHasPermission="[permissions.assignPickList]"
      aria-label="Assign Picklist"
    >
      <svg-icon icon="icon-assign" class="assign-picklist-btn-icon"></svg-icon>
      <span class="assign-picklist-btn-text">{{
        'assignPicklist' | translate
      }}</span>
    </button>

    <mat-menu #menu="matMenu" class="custom-mat-menu">
      <button
        mat-menu-item
        *ngFor="let technician of technicians; let i = index"
        (click)="assignTech(technician, workOrder)"
      >
        <span> {{ technician.fName }}</span>
      </button>
    </mat-menu>
  </span>
</span>
