.kit-number {
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 19px;
  align-items: center;
  color: #000000;
}

.date-priority-label {
  font-style: normal;
  font-weight: normal;
  font-size: 85%;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #76767b;
  padding: 2px 0;
}

.parts-available-label {
  font-style: normal;
  font-weight: 500;
  font-size: 80%;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #34c759;
  border-radius: 2px;
  padding: 2px 6px;
  margin-top: 2px;
}

.waiting-on-parts-label {
  font-style: normal;
  font-weight: 500;
  font-size: 80%;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #ff9500;
  border-radius: 2px;
  padding: 2px 6px;
  margin-top: 2px;
}

.assign-picklist-btn {
  margin-top: 10px;
  opacity: 0.75;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  background: #f2f2f2;
  border: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.assign-picklist-btn-icon {
  width: 15px;
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 2px;
  }
}

.assign-picklist-btn-text {
  padding-left: 5px;
  color: #000000;
  font-size: 80%;
  position: relative;
  top: -2px;
}

.assignee-text {
  font-size: 100%;
}

.list-icons {
  width: 12px;
  padding-right: 7px;

  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 2px;
  }
}

.technician-profile {
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
  }
}

.display-flex {
  display: flex;
}

.progress-bar-class {
  margin-bottom: 7px;
  height: 6px;
  border-radius: 8px;
  width: 85%;
}

.m-l-20 {
  margin-left: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.spcc-card-loader-position {
  position: relative;
  left: 5px;
}
