:host /deep/ .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
  }
  
  :host /deep/ .mat-form-field-label-wrapper { 
    top: -1.5em; 
  }
  
  :host /deep/ .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }

  :host /deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #E5E5E5;
      border-radius: 4px;
  }


  :host /deep/ .mat-form-field {
      width: 90%;
  }

  .assign-work-order-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 20px;
  }

  .modal-dismiss-class {
    background: none; 
    border:none;
    float: right;
    margin-right: 15px;
  }

  .cancel-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #76767B;
    float: right;
  }

  .save-btn {
    float: right;
    margin-right: 20px;
  }