<div class="maintenance-body">
  <div class="header-filters">
    <app-date-segment (dateRangeEvent)="dateRangeEventHandler($event)">
    </app-date-segment>

    <div style="position: absolute; right: 20px">
      <app-common-filter
        [title]="headerTitle"
        [showOverdueList]="showOverdueList"
        [priorityList]="priorityList"
        [kitStatusList]="kitStatusList"
        [workCenterList]="workCenterList"
        [technicians]="technicians"
      >
      </app-common-filter>
    </div>
  </div>

  <mat-grid-list
    cols="4"
    *ngIf="
      this.filteredWorkOrderList$ | async as workOrders;
      else loadingRecords
    "
    class="maintenance-page"
  >
    <mat-grid-tile>
      <ul class="unassigned-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.unassigned.length }}</span>
            <br />
            <span class="kit-heading">{{
              'unassignedWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.unassigned; let i = index"
            class="li-cols"
          >
            <app-mcc-card
              [workOrder]="workOrder"
              (assign)="onAssignPress($event)"
            ></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="assigned-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.assigned.length }}</span>
            <br />
            <span class="kit-heading">{{
              'assignedWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.assigned; let i = index"
            class="li-cols"
          >
            <app-mcc-card
              [workOrder]="workOrder"
              (assign)="onAssignPress($event)"
            ></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="in-progress-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.inProgress.length }}</span>
            <br />
            <span class="kit-heading">{{
              'inProgressWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.inProgress; let i = index"
            class="li-cols"
          >
            <app-mcc-card [workOrder]="workOrder"></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="completed-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.completed.length }}</span>
            <br />
            <span class="kit-heading">{{
              'completedWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.completed; let i = index"
            class="li-cols"
          >
            <app-mcc-card [workOrder]="workOrder"></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #loadingRecords>
  <div class="ghost-loading-mcc-spcc-container">
    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'70%'"
          style="position: relative; left: 60px"
        >
        </ngx-shimmer-loading>
      </div>
    </div>

    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [shape]="'circle'" [width]="'50px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'20px'"
          style="position: relative; top: -15px; left: 10px"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'70%'"
          style="position: relative; left: 60px"
        >
        </ngx-shimmer-loading>
      </div>
    </div>

    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"> </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'35%'" class="right-alignment">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [shape]="'circle'" [width]="'50px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'20px'"
          style="position: relative; top: -15px; left: 10px"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'70%'"
          style="position: relative; left: 60px"
        >
        </ngx-shimmer-loading>
      </div>
    </div>

    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"> </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'35%'" class="right-alignment">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [shape]="'circle'" [width]="'50px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'20px'"
          style="position: relative; top: -15px; left: 10px"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'70%'"
          style="position: relative; left: 60px"
        >
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</ng-template>
