<div class="maintenance-body">
  <div class="header-filters">
    <app-date-segment
      (dateRangeEvent)="dateRangeEventHandler($event)"
      id="dateSegment"
    >
    </app-date-segment>

    <div class="mcc-filters">
      <app-common-filter
        [title]="headerTitle"
        [showOverdueList]="showOverdueList"
        [priorityList]="priorityList"
        [kitStatusList]="kitStatusList"
        [technicians]="technicians"
      >
      </app-common-filter>
    </div>
  </div>

  <div
    class="plants-workcenters dis-flex"
    [ngStyle]="{ 'padding-left': dateSegmentPosition }"
  >
    <div class="custom-form-field-white-color">
      <mat-form-field
        appearance="outline"
        class="m-0-10"
        *ngIf="allPlants$ | async as plantsList; else loadingPlants"
      >
        <mat-label>{{ 'plants' | translate }}</mat-label>
        <mat-select
          multiple
          [formControl]="plantFilter"
          [compareWith]="compareFn"
        >
          <mat-select-trigger>
            {{
              allSelectedPlants?.selected ? 'All' : plantFilter.value[0]?.desc
            }}
            <span
              *ngIf="
                plantFilter.value?.length > 1 && !allSelectedPlants?.selected
              "
            >
              ( +{{ plantFilter.value.length - 1 }}
              {{ plantFilter.value?.length === 2 ? 'more' : 'more' }})
            </span>
          </mat-select-trigger>
          <mat-option
            #allSelectedPlants
            [value]="0"
            class="filter-option"
            (click)="toggleAllSelection('plants')"
            >All</mat-option
          >
          <mat-option
            *ngFor="let plant of plantsList"
            [value]="plant"
            #matOption
            class="filter-option"
            (click)="togglePerPlant('plants')"
          >
            <p class="filter-option-id">
              {{ plant.id }}
            </p>
            <p class="filter-option-desc">
              {{ plant.desc ? plant.desc : '- -' }}
            </p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="custom-form-field-white-color">
      <ng-container
        *ngIf="
          currentWorkCenters$ | async as workCenters;
          else loadingWorkCenters
        "
      >
        <mat-form-field appearance="outline">
          <mat-label>{{ 'workCenters' | translate }}</mat-label>
          <mat-select
            multiple
            [formControl]="workCenterFilter"
            [compareWith]="compareFn"
          >
            <mat-select-trigger>
              {{
                allSelectedWorkCenters?.selected
                  ? 'All'
                  : workCenterFilter.value[0]?.workCenterDesc
              }}
              <span
                *ngIf="
                  workCenterFilter.value?.length > 1 &&
                  !allSelectedWorkCenters?.selected
                "
              >
                ( +{{ workCenterFilter.value.length - 1 }}
                {{ workCenterFilter.value?.length === 2 ? 'more' : 'more' }})
              </span>
            </mat-select-trigger>
            <mat-option
              #allSelectedWorkCenters
              [value]="0"
              class="filter-option"
              (click)="toggleAllSelection('workCenters')"
              >All</mat-option
            >
            <div *ngFor="let workCenterByPlant of workCenters">
              <mat-option
                *ngFor="let workcenter of workCenterByPlant.workCenters"
                #matOption
                [value]="workcenter"
                class="filter-option"
                (click)="togglePerPlant('workCenters')"
              >
                <p class="filter-option-id">
                  {{ workcenter.workCenterKey }}
                  <span class="f-right" *ngIf="plantFilter.value?.length > 1">{{
                    workCenterByPlant.plantId
                  }}</span>
                </p>
                <p class="filter-option-desc">
                  {{ workcenter.workCenterDesc }}
                </p></mat-option
              >
            </div>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
  </div>

  <mat-grid-list
    cols="4"
    *ngIf="
      this.filteredWorkOrderList$ | async as workOrders;
      else loadingRecords
    "
    class="maintenance-page"
  >
    <mat-grid-tile>
      <ul class="unassigned-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.unassigned.length }}</span>
            <br />
            <span class="kit-heading">{{
              'unassignedWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.unassigned; let i = index"
            class="li-cols"
          >
            <app-mcc-card
              [workOrder]="workOrder"
              (assign)="onAssignPress($event)"
            ></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="assigned-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.assigned.length }}</span>
            <br />
            <span class="kit-heading">{{
              'assignedWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.assigned; let i = index"
            class="li-cols"
          >
            <app-mcc-card
              [workOrder]="workOrder"
              (assign)="onAssignPress($event)"
            ></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="in-progress-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.inProgress.length }}</span>
            <br />
            <span class="kit-heading">{{
              'inProgressWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.inProgress; let i = index"
            class="li-cols"
          >
            <app-mcc-card [workOrder]="workOrder"></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="completed-workorder-list">
        <li class="list-elements">
          <span>
            <span class="kits-count">{{ workOrders.completed.length }}</span>
            <br />
            <span class="kit-heading">{{
              'completedWorkOrders' | translate
            }}</span>
          </span>
        </li>
        <div class="column-height">
          <li
            *ngFor="let workOrder of workOrders.completed; let i = index"
            class="li-cols"
          >
            <app-mcc-card [workOrder]="workOrder"></app-mcc-card>
          </li>
        </div>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #loadingPlants>
  <span class="m-0-10 loader-position">
    <ngx-shimmer-loading [width]="'180px'" [height]="'35px'">
    </ngx-shimmer-loading>
  </span>
</ng-template>
<ng-template #loadingWorkCenters>
  <span class="loader-position">
    <ngx-shimmer-loading [width]="'180px'" [height]="'35px'">
    </ngx-shimmer-loading>
  </span>
</ng-template>
<ng-template #loadingRecords>
  <div class="ghost-loading-mcc-spcc-container m-t-15">
    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" class="column3-loader">
        </ngx-shimmer-loading>
      </div>
    </div>

    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [shape]="'circle'" [width]="'50px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'20px'"
          class="column2-loader"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" class="column3-loader">
        </ngx-shimmer-loading>
      </div>
    </div>

    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"> </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'35%'" class="right-alignment">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [shape]="'circle'" [width]="'50px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'20px'"
          class="column2-loader"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" class="column3-loader">
        </ngx-shimmer-loading>
      </div>
    </div>

    <div class="width-25 columns">
      <div class="column-header">
        <ngx-shimmer-loading [width]="'10%'" [height]="'30px'">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'50%'" [height]="'15px'">
        </ngx-shimmer-loading>
        <br />
      </div>
      <div class="column-body">
        <ngx-shimmer-loading [width]="'25%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'35%'"
          [height]="'20px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [height]="'20px'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading><br />
        <ngx-shimmer-loading [width]="'25%'"> </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'35%'" class="right-alignment">
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'50%'"></ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'100%'" [height]="'10px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [shape]="'circle'" [width]="'50px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'20px'"
          class="column2-loader"
        >
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" class="column3-loader">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</ng-template>
