<div id="openSlider">
  <mat-card>
    <div>
      <img
        class="close-img"
        (click)="cancelForm()"
        src="assets/rdf-forms-icons/close.svg"
      />
      <br />
      <button
        class="view-report-btn"
        (click)="navigateView()"
        [disabled]="true"
      >
        View Report
      </button>
      <button disabled class="download-btn" [disabled]="true">
        <mat-icon class="download-icon">picture_as_pdf</mat-icon>
        <span class="download-text">Download</span>
      </button>
      <h1 class="slider-heading">{{ submission?.name }}</h1>
      <hr class="horizon-line" />
      <div class="dis-flex just-content-space">
        <p class="sub-headings">Status</p>
        <p
          class="sub-headings-value-badge"
          [ngClass]="{
            'in-progress': submission?.status === 'In-Progress',
            submitted: submission?.status === 'Submitted'
          }"
        >
          {{ submission?.status }}
        </p>
      </div>
      <hr class="horizon-line" />

      <div class="dis-flex just-content-space">
        <p class="sub-headings">Responses</p>
        <p class="sub-headings-value">{{ submission?.responses }}</p>
      </div>
      <hr class="horizon-line" />

      <div class="dis-flex just-content-space">
        <p class="sub-headings">Location</p>
        <p class="sub-headings-value">
          {{ submission?.address ? submission?.address : '-' }}
        </p>
      </div>
      <hr class="horizon-line" />

      <div class="dis-flex just-content-space">
        <p class="sub-headings">Last Edited by</p>
        <span>
          <span class="sub-headings-value">{{ submission?.submittedBy }}</span>
          <span class="sub-headings">{{ submission?.updatedAt }}</span>
        </span>
      </div>
      <hr class="horizon-line" />
    </div>
  </mat-card>
</div>
