<div class="rdf-forms-list-screen">
  <div class="dis-flex">
    <div class="width-90 search-box">
      <mat-form-field class="width-100" appearance="outline">
        <input
          matInput
          placeholder="Search"
          style="width: 100%"
          disabled="true"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="width-10">
      <button
        [disabled]="true"
        style="
          float: right;
          margin-top: 15px;
          border: none;
          background: transparent;
        "
      >
        <span
          style="
            color: #2a3eb1;
            font-size: 110%;
            letter-spacing: 0.419185px;
            margin-right: 2px;
          "
        >
          Filter
        </span>
        <img
          src="../../../assets/rdf-forms-icons/filter-icon.svg"
          alt="filter-icon"
          style="position: relative; top: 3px"
        />
      </button>
    </div>
  </div>
  <div class="dis-flex">
    <h1 style="font-size: 140%; width: 90%; margin-left: 5px">Recent Forms</h1>
    <button
      [routerLink]="['/rdf-forms/create']"
      mat-raised-button
      color="primary"
      style="width: 10%; height: 35px; margin-top: 12px; margin-bottom: 10px"
    >
      Create Form
    </button>
  </div>
  <div *ngIf="forms$ | async as forms">
    <div *ngFor="let form of forms" style="background-color: #ffffff">
      <div class="form-data">
        <span>
          <span class="form-name">{{ form.name }}</span>
          <br />
          <span class="form-description">{{ form.description }}</span>
        </span>

        <span style="float: right; margin-top: -12px">
          <span class="form-created">{{ form.createdAt | timeAgo }}</span>
          <img
            src="assets/rdf-forms-icons/arrow-right.svg"
            alt="arrow-right"
            style="position: relative; top: 3px"
          />
        </span>
      </div>
    </div>
    <div class="dis-flex" style="background: white" *ngIf="forms.length === 0">
      No results
    </div>
  </div>
</div>
