.rdf-forms-list-screen {
  margin: 14px 0 0 0;
  height: 85vh;
  overflow-y: auto;
  padding-right: 14px;

  ::ng-deep .mat-button-toggle {
    background-color: #3d5afe;
    color: white;
  }

  ::ng-deep .mat-button-toggle-group {
    height: 40px;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
  }

  .data {
    letter-spacing: 0.419185px;
  }
}

.filter-icon {
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 3px;
  }
}

.form-data {
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(160, 160, 160, 100%);
}

.form-name {
  font-size: 130%;
  font-weight: 500;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.form-description {
  color: #76767b;
  font-size: 110%;
}

.form-created {
  margin: 0 10px;
  color: #76767b;
}

.search-box {
  height: 45px;
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 10px 0;
  }
}

.more-icon {
  background: none;
  border: none;
  float: right;
  margin-top: -23px;
  margin-right: -5px;
  .more-icon-no-color {
    color: #757575;
  }
}

.more-icon-mt {
  margin-top: -16px;
}

.time-ago {
  float: right;
  margin-top: -19px;
}

.time-ago-mt {
  margin-top: -12px;
}

.no-records {
  justify-content: center;
}

.formsListContainer {
  height: 68vh;
  overflow: auto;
}

.filter-btn {
  float: right;
  margin-top: 15px;
  border: none;
  background: transparent;
}

.filter-text {
  color: #2a3eb1;
  font-size: 110%;
  letter-spacing: 0.419185px;
  margin-right: 2px;
}

.filter-icon {
  position: relative;
  top: 3px;
}

.recent-forms-heading {
  font-size: 140%;
  width: 90%;
  margin-left: 5px;
  padding-top: 5px;
}

.forms-list {
  background-color: #ffffff;
  cursor: pointer;
}

.white-bg {
  background: white;
}

.forms-list-loader {
  padding: 10px 15px;
  background-color: #ffffff;
}
