<div class="rdf-forms-list-screen">
  <div class="dis-flex" [formGroup]="searchForm">
    <div class="width-90 search-box">
      <mat-form-field class="width-100" appearance="outline">
        <input
          matInput
          placeholder="Search"
          style="width: 100%"
          autocomplete="off"
          formControlName="search"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="width-10">
      <button
        [disabled]="true"
        style="
          float: right;
          margin-top: 15px;
          border: none;
          background: transparent;
        "
      >
        <span
          style="
            color: #2a3eb1;
            font-size: 110%;
            letter-spacing: 0.419185px;
            margin-right: 2px;
          "
        >
          Filter
        </span>
        <svg-icon icon="icon-filter-icon" class="filter-icon"></svg-icon>
      </button>
    </div>
  </div>
  <div class="dis-flex">
    <h1 style="font-size: 140%; width: 90%; margin-left: 5px">Recent Forms</h1>
    <button
      [routerLink]="['/rdf-forms/create']"
      mat-raised-button
      color="primary"
      style="width: 10%; height: 35px; margin-top: 12px; margin-bottom: 10px"
    >
      Create Form
    </button>
  </div>
  <div
    class="formsListContainer"
    *ngIf="formsData$ | async as forms"
    (scroll)="onFormsListScrolled($event)"
  >
    <div
      *ngFor="let form of forms.data"
      style="background-color: #ffffff; cursor: pointer"
    >
      <div class="form-data">
        <span (click)="editForm(form)">
          <span class="form-name">{{ form.name }}</span>
          <br />
          <span class="form-description">{{ form.description }}</span>
        </span>

        <button
          [matMenuTriggerFor]="sectionMenu"
          class="more-icon"
          [ngClass]="{ 'more-icon-mt': form.description.trim() }"
          aria-label="More Options"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #sectionMenu="matMenu">
          <button mat-menu-item (click)="editForm(form)">
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="duplicateForm(form)">
            <span>Copy</span>
          </button>
          <button mat-menu-item (click)="deleteForm(form)" class="text-red">
            <span>Delete</span>
          </button>
        </mat-menu>
        <span
          class="time-ago"
          [ngClass]="{ 'time-ago-mt': form.description.trim() }"
        >
          <span class="form-created">{{ form.createdAt | timeAgo }}</span>
        </span>
      </div>
    </div>
    <div
      class="dis-flex no-records"
      style="background: white"
      *ngIf="forms.data.length === 0"
    >
      No results
    </div>
  </div>
</div>
