.rdf-forms-list-screen {
  margin: 14px 0 0 0;
  height: 85vh;
  overflow-y: auto;
  padding-right: 14px;
}

.form-data {
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(160, 160, 160, 100%);
}

.form-name {
  font-size: 130%;
  font-weight: 500;
}

.form-description {
  color: #76767b;
  font-size: 110%;
}

.form-created {
  margin: 0 10px;
  color: #76767b;
}
