.rdf-forms-list-screen {
  margin: 14px 0 0 0;
  height: 85vh;
  overflow-y: auto;
  padding-right: 14px;
}

.filter-icon {
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 3px;
  }
}

.form-data {
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(160, 160, 160, 100%);
}

.form-name {
  font-size: 130%;
  font-weight: 500;
}

.form-description {
  color: #76767b;
  font-size: 110%;
}

.form-created {
  margin: 0 10px;
  color: #76767b;
}

.search-box {
  height: 45px;
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 10px 0;
  }
}

.more-icon {
  background: none;
  border: none;
  float: right;
  margin-top: -23px;
  margin-right: -5px;
  .more-icon-no-color {
    color: #757575;
  }
}

.more-icon-mt {
  margin-top: -16px;
}

.time-ago {
  float: right;
  margin-top: -19px;
}

.time-ago-mt {
  margin-top: -12px;
}

.no-records {
  justify-content: center;
}
.formsListContainer {
  height: 68vh;
  overflow: auto;
  //
}
