<div mat-dialog-title *ngIf="page$ | async">
  <div class="logicRow">
    <mat-icon icon="selectQuestionInfoIcon">info</mat-icon>
    <div class="questionLogic">
      <span
        id="selectQuestionName"
        class="currentQuestion"
        *ngIf="question$ | async as question"
      >
        {{ question.name || 'Untitled Question' }}
      </span>
      <p id="selectQuestionAnswer" class="m-0">
        <span translate="ifAnswer"></span>
        {{ operatorSymbolMap[data.logic.operator] }}
        {{ data.logic.operand2 }}
      </p>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="dialogBody">
    <span class="heading">
      <span
        id="selectQuestionToBe"
        translate="selectQuestionsToBe"
        class="selectQuestionsToBe"
      ></span>
      <span
        id="selectQuestionMandate"
        *ngIf="data.viewMode === 'MANDATE'"
        class="f-inherit"
        translate="mandated"
      >
      </span>
      <span
        id="selectQuestionHidden"
        *ngIf="data.viewMode === 'HIDE'"
        class="f-inherit"
        translate="hidden"
      ></span>
    </span>
    <div>
      <div *ngFor="let section of sections">
        <div id="selectQuestionSectionName" class="sectionHead">
          {{ section.name }}
        </div>
        <div class="sectionContent">
          <div *ngFor="let question of section.questions">
            <div *ngIf="data.questionId !== question.id">
              <mat-checkbox
                class="question"
                [checked]="selectedQuestions.indexOf(question.id) > -1"
                (change)="selectQuestion($event.checked, question.id)"
                [ngClass]="{
                  'strike-question': selectedQuestions.indexOf(question.id) > -1
                }"
                id="selectQuestionCheckBox"
              >
                {{
                  question.name && question.name.length
                    ? question.name
                    : 'Untitled question'
                }}</mat-checkbox
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button
    id="selectQuestionCancelBtn"
    mat-raised-button
    mat-dialog-close
    (click)="close()"
    translate="cancel"
  ></button>
  <button
    id="selectQuestionSubmitBtn"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    color="primary"
    (click)="submit()"
    translate="okay"
  ></button>
</mat-dialog-actions>
