@import '../../../../../scss/colors.scss';

.dialogBody {
  max-height: 400px;
  .heading {
    // font-size: 125%;
    font-weight: 500;
    .selectQuestionsToBe {
      margin-right: 5px;
    }
  }
}
.logicRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  padding-bottom: 5px;
  padding-top: 20px;
  background: $blue4;
  border-radius: 6px;
  justify-content: flex-start;
  color: $blue5;
  .mat-icon {
    color: $blue6;
    margin-right: 5px;
    margin-top: -30px;
  }
  .questionLogic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.sectionHead {
  display: flex;
  padding: 10px;
  margin: 5px 0px;
  align-items: center;
  background: $blue7;
  border-radius: 10px 10px 0px 0px;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  .question {
    padding: 5px;
    margin-left: 10px;
  }
}

.strike-question {
  text-decoration: line-through;
}
.currentQuestion {
  font-size: 110%;
  font-weight: 500;
  color: $black;
  line-height: 1pt;
  margin: 0px;
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0px;
}

.f-inherit {
  font-size: inherit;
}
