<div
  *ngIf="dashboards$ | async as dashboards; else loadingDashboards"
  class="height-100"
>
  <ng-container>
    <div class="all-dashboards">
      <div class="left" *ngIf="displayAllDashboards && dashboardMode === 'ALL'">
        <mat-form-field
          appearance="outline"
          class="dashboard-dropdown m-r-5 w-100"
        >
          <mat-label translate>dashboards</mat-label>
          <mat-select
            [compareWith]="compareFn"
            [value]="selectedGlobalDashboard"
            (selectionChange)="globalDashboardSelectionChanged($event)"
          >
            <mat-option
              *ngFor="
                let dashboard of dashboards.concat([staticDropDownOption])
              "
              [value]="dashboard"
            >
              {{ dashboard.name | translate }}
              {{ dashboard.isDefault === true ? '(default)' : '' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider class="m-r-n20"></mat-divider>
        <mat-list role="list" class="m-r-n20">
          <mat-list-item role="listitem">
            <div class="create-btn-row">
              <span class="left-head-text">All Dashboards </span>
              <button
                mat-icon-button
                color="primary"
                (click)="openCreateDashboardDialog('CREATE')"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div>
            <div *ngFor="let dashboard of dashboards">
              <mat-list-item
                class="dashboards-list"
                [ngClass]="
                  dashboard.id === selectedDashboard.id
                    ? 'active-dashboard'
                    : ''
                "
                role="listitem"
                *ngIf="dashboard.id"
                (click)="setSelectedDashboard(dashboard)"
              >
                <div class="create-btn-row">
                  <span class="display-flex default-row">
                    {{ dashboard.name }}
                    <span *ngIf="dashboard.isDefault" class="default-chip"
                      >Default</span
                    >
                  </span>
                  <button
                    mat-icon-button
                    color="primary"
                    [matMenuTriggerFor]="menu"
                    class="more-icon"
                  >
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button
                      mat-menu-item
                      (click)="openCreateDashboardDialog('EDIT', dashboard)"
                    >
                      Edit
                    </button>
                    <button
                      mat-menu-item
                      (click)="markDashboardDefault(dashboard)"
                      *ngIf="!dashboard.isDefault"
                    >
                      Mark default
                    </button>
                    <button
                      mat-menu-item
                      class="delete-menu-item"
                      (click)="deleteDashboard(dashboard)"
                    >
                      Delete
                    </button>
                  </mat-menu>
                </div>
              </mat-list-item>
            </div>
          </div>
        </mat-list>
      </div>
      <mat-divider
        vertical="true"
        class="p-10"
        *ngIf="dashboardMode === 'ALL'"
      ></mat-divider>
      <div [ngClass]="displayAllDashboards ? 'right' : 'fullWidth'">
        <app-dashboard-configuration
          [dashboard]="selectedDashboard"
          [dashboardDisplayMode]="dashboardMode"
          (dashboardActionHandler)="handleDashboardActions($event)"
        ></app-dashboard-configuration>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loadingDashboards>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [width]="'100%'"></ngx-shimmer-loading>
</ng-template>
