<div
  *ngIf="dashboards$ | async as dashboards; else loadingDashboards"
  class="height-100"
>
  <ng-container>
    <div class="all-dashboards custom-form-field-white-color">
      <div class="left" *ngIf="displayAllDashboards && dashboardMode === 'ALL'">
        <mat-form-field
          appearance="outline"
          class="dashboard-dropdown m-r-5 width-95"
        >
          <mat-label translate>dashboards</mat-label>
          <mat-select
            [compareWith]="compareFn"
            [value]="selectedGlobalDashboard"
            (selectionChange)="globalDashboardSelectionChanged($event)"
          >
            <mat-option
              *ngFor="
                let dashboard of dashboards.concat([staticDropDownOption])
              "
              [value]="dashboard"
            >
              <a class="dropdown-dashboard-name-ellipsis"
                >{{ dashboard.name | translate }}
              </a>
              <a class="dropdwon-dashboard-default">
                {{ dashboard.isDefault === true ? '(default)' : '' }}
              </a>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-list role="list" class="height-100">
          <mat-list-item role="listitem">
            <div class="create-btn-row">
              <span class="left-head-text" translate>allDashboards</span>
              <button
                mat-icon-button
                color="primary"
                (click)="openCreateDashboardDialog('CREATE')"
                *appCheckUserHasPermission="[permissions.createDashboard]"
                class="add-dashboard-plus-icon"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div class="all-dashboards-list">
            <div *ngFor="let dashboard of dashboards">
              <mat-list-item
                class="dashboards-list"
                [ngClass]="
                  dashboard.id === selectedDashboard.id
                    ? 'active-dashboard'
                    : ''
                "
                role="listitem"
                *ngIf="dashboard.id"
                (click)="setSelectedDashboard(dashboard)"
              >
                <div class="create-btn-row">
                  <a
                    class="display-flex default-row"
                    matTooltip="{{ dashboard.name }}"
                    [ngClass]="{
                      'default-tagged-dashboard-name': dashboard.isDefault,
                      'ellipsis-dashboard-name': !dashboard.isDefault
                    }"
                  >
                    {{ dashboard.name }}
                  </a>
                  <span *ngIf="dashboard.isDefault" class="default-chip">
                    Default
                  </span>
                  <button
                    mat-icon-button
                    color="primary"
                    [matMenuTriggerFor]="menu"
                    class="more-icon"
                    *appCheckUserHasPermission="[
                      permissions.updateDashboard,
                      permissions.copyDashboard,
                      permissions.deleteDashboard
                    ]"
                    aria-label="More Options"
                    (click)="$event.stopPropagation()"
                  >
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button
                      mat-menu-item
                      (click)="openCreateDashboardDialog('EDIT', dashboard)"
                      *appCheckUserHasPermission="[permissions.updateDashboard]"
                      translate
                    >
                      edit
                    </button>
                    <button
                      mat-menu-item
                      (click)="copyDashboard(dashboard)"
                      *appCheckUserHasPermission="[permissions.copyDashboard]"
                      translate
                    >
                      copy
                    </button>
                    <ng-container
                      *appCheckUserHasPermission="[permissions.updateDashboard]"
                    >
                      <button
                        mat-menu-item
                        (click)="markDashboardDefault(dashboard)"
                        *ngIf="!dashboard.isDefault"
                        translate
                      >
                        markDefault
                      </button>
                    </ng-container>
                    <button
                      mat-menu-item
                      class="delete-menu-item"
                      (click)="deleteDashboard(dashboard)"
                      *appCheckUserHasPermission="[permissions.deleteDashboard]"
                      translate
                    >
                      delete
                    </button>
                  </mat-menu>
                </div>
              </mat-list-item>
            </div>
          </div>
        </mat-list>
      </div>
      <mat-divider
        vertical="true"
        class="p-0"
        *ngIf="dashboardMode === 'ALL'"
      ></mat-divider>
      <div [ngClass]="displayAllDashboards ? 'right' : 'fullWidth'">
        <app-dashboard-configuration
          [dashboard]="selectedDashboard"
          [dashboardDisplayMode]="dashboardMode"
          (dashboardActionHandler)="handleDashboardActions($event)"
        ></app-dashboard-configuration>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loadingDashboards>
  <div *ngFor="let number of ghostLoading">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
