<ng-container *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div *ngIf="currentRouteUrl === routingUrls.rolesPermissions.url">
    <div class="main-container">
      <div class="roles-header">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="more-roles">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Delete</span>
          </button>
        </mat-menu>
        <span class="count-of-roles">
          <span class="roles-count">3</span>
          <span class="roles-text">Roles</span>
        </span>
        <button mat-raised-button class="add-role-btn" (click)="addRole()">
          Add Role
        </button>
      </div>
      <div class="dis-flex roles-content">
        <div class="width-30 custom-mat-form-field-gray-color roles-left-panel">
          <mat-form-field appearance="outline" class="search-form-field">
            <mat-icon matPrefix class="searchIcon">search</mat-icon>
            <input matInput type="text" placeholder="Search" />
          </mat-form-field>
          <mat-list role="list" class="roles">
            <mat-list-item
              *ngFor="let roles of rolesList"
              class="roles-list"
              (click)="showSelectedRole(roles)"
              [ngClass]="{
                'selected-roles-list': roles.id === this.selectedRole.id
              }"
            >
              <mat-checkbox></mat-checkbox>
              <span class="role-name">
                {{ roles.role }}
              </span>
              <span class="role-count">
                {{ roles.countOfPermissions }} of 5
              </span>
              <button
                mat-icon-button
                [matMenuTriggerFor]="submenu"
                class="more-items"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #submenu="matMenu">
                <button mat-menu-item>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </mat-list-item>
          </mat-list>
        </div>
        <div
          class="width-70 custom-mat-form-field-white-color"
          [formGroup]="roleForm"
        >
          <div class="roles-right-panel">
            <mat-form-field appearance="outline" class="roles-title">
              <mat-label>Role</mat-label>
              <input matInput formControlName="role" />
            </mat-form-field>
            <button mat-stroked-button class="copy-role-btn">Copy Role</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</ng-container>
