@import '../../../../scss/colors.scss';

.configurations-div {
  ::ng-deep
    .mat-button-toggle-group-appearance-standard
    .mat-button-toggle
    + .mat-button-toggle {
    border-left: 1px solid $border-color;
  }

  ::ng-deep .mat-button-toggle {
    margin-right: 5px;
    border: 1px solid $border-color;
    border-radius: 10px;
    align-items: center;
    width: 35px;
    height: 35px;
  }

  ::ng-deep .mat-button-toggle-group-appearance-standard {
    border: none;
  }

  ::ng-deep .mat-button-toggle {
    background: $white;
  }

  ::ng-deep .mat-button-toggle-disabled.mat-button-toggle-appearance-standard {
    background: $white2;
  }

  ::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    background: $blue-main;
  }

  ::ng-deep
    .mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    padding: 0 !important;
  }

  ::ng-deep
    .mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    line-height: 52px !important;
  }

  ::ng-deep mat-error {
    margin: 5px 0;
  }

  .chart-toggle-buttons {
    margin: 0 0 7px 0;
  }

  .chart-icons {
    width: 25px;
    height: 25px;
  }

  .table-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
  }
}

.variants-title {
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
  color: $black;
  margin-bottom: 5px;
  margin-top: 0px;
}
.chartCustomColors {
  font-weight: 500;
  font-size: 120%;
  margin-bottom: 0px;
}
.color-type {
  width: 25px;
  height: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.color-head {
  font-weight: 600;
  padding: 10px 0px;
}
