@import '../../../../scss/colors.scss';

.pdfPreview-dialog {
  overflow: hidden;
  .dialogHead {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 100%;
    height: 68px;
    top: 0px;
    background: $white;
    border-bottom: 1px solid $gray41;
    .back-btn {
      border: none;
      background-color: transparent;
    }
    .back-btn-text {
      font-weight: 700;
      font-size: 120%;
      letter-spacing: 0.15px;
      color: $gray-bg;
      margin-left: 10px;
      position: relative;
      top: -2px;
    }

    .back-arrow {
      height: 17px;
      width: 16px;
      position: relative;
      top: 2px;
    }

    .pdf-picture {
      height: 20px;
      width: 20px;
      position: relative;
      top: 5px;
      right: 5px;
    }
    .downloadPDFBtn {
      background: $white;
      border: 1px solid $blue-main;
      img {
        margin-right: 5px;
      }
    }
  }
  .dialogContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .pdfPreviewContainer {
      width: 800px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85vh !important;
      padding: 10px;
      margin: 10px;
      background: $black12;
      box-shadow: 0px 0px 16.253px $black9;
    }
  }
}
