<div class="pdfPreview-dialog">
  <div class="dialogHead">
    <button id="pdfPreviewBackBtn" (click)="onCancel()" class="back-btn">
      <svg-icon
        id="pdfPreviewBackIcon"
        icon="icon-back-arrow"
        class="back-arrow"
      ></svg-icon>
      <span id="pdfPreviewName" class="back-btn-text">
        {{ data.selectedForm.name }}
      </span>
    </button>
    <button
      id="pdfPreviewDownloadPDF"
      mat-stroked-button
      class="downloadPDFBtn"
      (click)="downloadPdf()"
    >
      <svg-icon
        id="pdfPreviewIcon"
        icon="icon-picture-as-pdf"
        class="pdf-picture"
      ></svg-icon>
      <span id="pdfPreviewDownload" translate="download"></span>
    </button>
  </div>
  <div class="dialogContainer">
    <div>
      <div class="pdfPreviewContainer" *ngIf="downloadInProgress">
        <mat-spinner
          [diameter]="100"
          [mode]="'indeterminate'"
          [strokeWidth]="10"
        ></mat-spinner>
      </div>
      <pdf-viewer
        *ngIf="selectedPDFSrc && !downloadInProgress"
        [src]="selectedPDFSrc"
        [render-text]="true"
        [original-size]="false"
        [zoom]="1.5"
        [zoom-scale]="'page-fit'"
        class="pdfPreviewContainer"
      ></pdf-viewer>
    </div>
  </div>
</div>
