<div [ngClass]="['form-update-delete-progress', _isOpen ? '' : 'shrink']">
  <div class="total-progress-container">
    <div class="total-progress-count">
      {{ totalCompletedCount }} of {{ formMetadata.length }} Forms Updated
    </div>
    <div class="progress-container-cta">
      <div
        [ngClass]="['cta-icon-holder', _isExpanded ? '' : 'rotate-icon']"
        (click)="isExpandedToggle()"
      >
        <svg-icon icon="icon-arrow-down" class="cta-icon"></svg-icon>
      </div>
      <div class="cta-icon-holder" (click)="closeFormProgressComponent()">
        <svg-icon icon="icon-close" class="cta-icon"></svg-icon>
      </div>
    </div>
  </div>
  <div
    [ngClass]="[
      'form-progress-list-container',
      _isExpanded ? 'expand' : 'shrink'
    ]"
  >
    <div class="single-form-progress" *ngFor="let form of formMetadata">
      <div class="form-metadata">
        <img class="form-icon" src="{{ form.preTextImage.image }}" alt="" />
        <span class="form-name">{{ form.name }}</span>
      </div>
      <div>
        <div *ngIf="form.progressStatus === 'success'">
          <svg-icon icon="loader-success" class="icon"></svg-icon>
        </div>
        <mat-spinner
          *ngIf="form.progressStatus === 'in-progress'"
          class="form-progress-spinner"
          [diameter]="25"
        ></mat-spinner>
        <div *ngIf="form.progressStatus === 'failed'">
          <svg-icon icon="loader-failed" class="icon"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>
