<div id="scheduler-customizer">
  <mat-card>
    <mat-card-title class="m-0 light-gray">
      <span class="cancel-side-drawer" (click)="cancel()">
        <mat-icon class="dialog-close">close</mat-icon>
      </span>
      <div class="heading" translate>schedulePlan</div>
    </mat-card-title>
    <mat-card-content>
      <form
        [formGroup]="roundPlanSchedulerConfigForm"
        (ngSubmit)="scheduleConfiguration()"
        autocomplete="off"
      >
        <p translate class="field-info">plan</p>
        <div class="field-name">{{ roundPlanDetail?.name }}</div>
        <div class="schedule">{{ 'schedule' | translate }}</div>
        <mat-radio-group class="schedule-type" formControlName="scheduleType">
          <mat-radio-button
            color="primary"
            *ngFor="let scheduleType of scheduleTypes"
            [value]="scheduleType"
          >
            {{ scheduleType | translate }}</mat-radio-button
          >
        </mat-radio-group>
        <ng-container
          *ngIf="
            roundPlanSchedulerConfigForm.get('scheduleType').value ===
            'byFrequency'
          "
        >
          <div class="by-frequency">
            <div class="dis-flex">
              <p class="f-w-400">{{ 'repeatEvery' | translate }}</p>
              <mat-form-field appearance="fill">
                <input
                  type="number"
                  matInput
                  min="1"
                  formControlName="repeatDuration"
                />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-select formControlName="repeatEvery">
                  <mat-option
                    *ngFor="let repeatEvery of repeatTypes"
                    [value]="repeatEvery"
                    >{{ repeatEvery }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <ng-container
              *ngIf="
                roundPlanSchedulerConfigForm.get('repeatEvery').value === 'week'
              "
            >
              <div class="row-title">
                {{ 'repeatOn' | translate }}
              </div>
              <mat-button-toggle-group
                name="daysOfWeek"
                formControlName="daysOfWeek"
                multiple
              >
                <mat-button-toggle
                  *ngFor="let dayOfWeek of daysOfWeek; let i = index"
                  [value]="i"
                  >{{ dayOfWeek.slice(0, 1).toUpperCase() }}</mat-button-toggle
                >
              </mat-button-toggle-group>
            </ng-container>
            <ng-container
              *ngIf="
                roundPlanSchedulerConfigForm.get('repeatEvery').value ===
                'month'
              "
            >
              <div class="row-title">
                {{ 'repeatOn' | translate }}
              </div>
              <div formArrayName="monthlyDaysOfWeek">
                <div
                  *ngFor="let weekOfMonth of weeksOfMonth; let i = index"
                  class="weeks-of-month"
                >
                  <div
                    class="row-title"
                    class="m-r-40"
                    [ngClass]="{ 'm-r-36': i === 1 }"
                  >
                    {{ weekOfMonth }}
                  </div>
                  <div>
                    <mat-button-toggle-group
                      [formControlName]="i"
                      name="{{ i }}"
                      multiple
                    >
                      <mat-button-toggle
                        *ngFor="let dayOfWeek of daysOfWeek; let i = index"
                        [value]="i"
                        >{{
                          dayOfWeek.slice(0, 1).toUpperCase()
                        }}</mat-button-toggle
                      >
                    </mat-button-toggle-group>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="row-title">
              {{ 'ends' | translate }}
            </div>
            <mat-radio-group
              class="display-vertical"
              formControlName="scheduleEndType"
            >
              <mat-radio-button
                color="primary"
                *ngFor="let scheduleEndType of scheduleEndTypes"
                [value]="scheduleEndType"
              >
                {{ scheduleEndType | translate }}
                <div class="on" *ngIf="scheduleEndType === 'on'">
                  <mat-form-field appearance="fill">
                    <input
                      matInput
                      type="text"
                      formControlName="scheduleEndOn"
                      readonly
                      (click)="scheduleEndOn.open()"
                    />
                    <input
                      type="text"
                      matInput
                      [matDatepicker]="scheduleEndOn"
                      (dateChange)="updateDate($event, 'scheduleEndOn')"
                      [min]="currentDate"
                      formControlName="scheduleEndOnPicker"
                      hidden
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="scheduleEndOn"
                      hidden
                    ></mat-datepicker-toggle>
                    <mat-datepicker #scheduleEndOn></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="after" *ngIf="scheduleEndType === 'after'">
                  <mat-form-field appearance="fill">
                    <input
                      matInput
                      type="number"
                      min="1"
                      formControlName="scheduleEndOccurrences"
                    />
                  </mat-form-field>
                  <mat-form-field class="occurrences" appearance="fill">
                    <input
                      matInput
                      type="text"
                      formControlName="scheduleEndOccurrencesText"
                      readonly
                    />
                  </mat-form-field>
                </div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field appearance="outline" class="width-100">
            <mat-label translate>startDate</mat-label>
            <input matInput formControlName="startDate" readonly />
            <input
              matInput
              [matDatepicker]="startDate"
              (dateChange)="updateDate($event, 'startDate')"
              [min]="currentDate"
              formControlName="startDatePicker"
              hidden
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDate"
              (click)="startDate.open()"
              [disabled]="
                roundPlanSchedulerConfigForm.get('scheduledTill').value !== null
              "
            ></mat-datepicker-toggle>
            <mat-datepicker
              #startDate
              [disabled]="
                roundPlanSchedulerConfigForm.get('scheduledTill').value !== null
              "
            ></mat-datepicker>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="width-100"
            *ngIf="
              roundPlanSchedulerConfigForm.get('scheduleEndType').value ===
              'after'
            "
          >
            <mat-label translate>endDate</mat-label>
            <input matInput formControlName="endDate" readonly />
            <input matInput [matDatepicker]="endDate" hidden />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDate"
              (click)="endDate.open()"
              disabled
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate disabled></mat-datepicker>
          </mat-form-field>
        </ng-container>
        <ng-container
          *ngIf="
            roundPlanSchedulerConfigForm.get('scheduleType').value === 'byDate'
          "
        >
          <div class="by-date">
            <p class="f-w-500 f-s-120" translate>selectDates</p>
            <mat-calendar
              #calendar
              [minDate]="currentDate"
              [dateClass]="dateClass"
              (selectedChange)="updateScheduleByDates($event)"
            ></mat-calendar>
          </div>
        </ng-container>
        <ng-container>
          <div formGroupName="assignmentDetails" class="assign-to">
            <div class="dis-flex">
              <div class="title" translate>assignedTo</div>
              <mat-radio-group class="radio-group" formControlName="type">
                <mat-radio-button
                  color="primary"
                  *ngFor="let assignType of assignTypes; let i = index"
                  [value]="assignType"
                  [disabled]="i !== 0"
                >
                  {{ assignType | translate }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <div id="assignDropdownPosition">
              <mat-form-field
                appearance="outline"
                class="width-100 cursor"
                [matMenuTriggerFor]="menu"
                #menuTrigger="matMenuTrigger"
              >
                <mat-label translate>select</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="displayValue"
                  class="cursor"
                />
                <mat-icon matSuffix class="cursor">arrow_drop_down</mat-icon>
              </mat-form-field>
            </div>
            <div class="info" translate>assignToInfo</div>
          </div>
          <div class="rounds-count">
            <p translate class="title">roundsGeneration</p>
            <div class="info m-b-5" translate>advanceRoundsCountInfo</div>
            <mat-form-field appearance="outline" class="width-100">
              <mat-label translate>advanceRoundsCount</mat-label>
              <input
                type="number"
                matInput
                min="0"
                formControlName="advanceRoundsCount"
              />
            </mat-form-field>
            <mat-error *ngIf="processValidationErrors('advanceRoundsCount')">
              {{
                errors.advanceRoundsCount.name
                  | translate
                    : {
                        name: 'advanceRoundsCount' | translate,
                        count:
                          errors.advanceRoundsCount.name === 'min'
                            ? roundsGeneration.min
                            : errors.advanceRoundsCount.name === 'max'
                            ? roundsGeneration.max
                            : 0
                      }
              }}
            </mat-error>
          </div>
          <mat-menu #menu="matMenu" backdropClass="assign-menu">
            <app-assign
              [assigneeDetails]="assigneeDetails"
              [dropdownPosition]="dropdownPosition"
              (selectedAssignee)="selectedAssigneeHandler($event)"
            ></app-assign>
          </mat-menu>
        </ng-container>

        <div class="footer">
          <button
            mat-stroked-button
            type="button"
            class="cancel-button"
            (click)="cancel()"
            translate="cancel"
          ></button>
          <button
            [disabled]="
              roundPlanSchedulerConfigForm.pristine ||
              roundPlanSchedulerConfigForm.invalid ||
              (roundPlanSchedulerConfigForm.get('scheduleType').value ===
                'byDate' &&
                scheduleByDates.length === 0) ||
              disableSchedule
            "
            mat-raised-button
            color="primary"
            class="schedule-button"
            type="submit"
            translate="schedule"
          ></button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
