<div class="peoplesTabBody">
  <div class="searchBar">
    <input
      id="addPeopleToCallText"
      matInput
      placeholder="{{ 'searchPeople' | translate }}"
      name="searchKey"
      id="searchKey"
      [(ngModel)]="searchKey"
      (ngModelChange)="this.searchKeyUpdate.next($event)"
      autocomplete="off"
      class="searchInput"
    />
    <button
      id="addPeopleToCallMoreBtn"
      disabled
      mat-icon-button
      class="searchMore"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
  <div
    class="userList"
    *ngIf="activeUsers$ | async as activeUsers; else loadingUsers"
    (scroll)="onPeopleListScrolled($event)"
  >
    <div>
      <div
        *ngFor="let user of activeUsers; let i = index"
        class="peopleList"
        (click)="toggleUserSelection(user)"
      >
        <mat-checkbox
          [checked]="user.isSelected"
          (change)="onUserSelectionChange($event, user)"
        >
        </mat-checkbox>
        <div class="icon-button" mat-list-icon>
          <div class="userPresence">
            <img
              id="addPeopleToCallImg"
              class="icon"
              [src]="user.profileImage"
            />
            <div
              class="statusCircle"
              [ngClass]="{
                online: user.online,
                offline: !user.online
              }"
            ></div>
          </div>
        </div>
        <div class="userNameAndTitle">
          <b id="addPeopleToCallUserName"
            >{{ user.firstName }} {{ user.lastName }}</b
          >
          <span id="addPeopleToCallUserTitle">{{ user.title }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomActions" *ngIf="!fetchActiveUsersInprogress">
    <button
      id="addPeopleToCallCancelBtn"
      mat-stroked-button
      class="actionBtn"
      disabled="{{ fetchActiveUsersInprogress }}"
      color="primary"
      (click)="cancel()"
      translate="cancel"
    ></button>
    <button
      id="addPeopleToCallAddBtn"
      mat-raised-button
      class="actionBtn"
      disabled="{{ fetchActiveUsersInprogress }}"
      color="primary"
      (click)="addPeople()"
      translate="add"
    ></button>
  </div>
</div>
<ng-template #loadingUsers>
  <div class="p-15">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
