@use './../../../../../../../scss/colors.scss' as colors;

.peoplesTabBody {
  background: colors.$white !important;
  position: absolute;
  position: relative;
  padding: 10px;
  .searchBar {
    display: flex;
    .searchInput {
      border-radius: 5px;
      padding: 10px;
      background: colors.$white1;
    }
    .searchMore {
      color: colors.$blue;
    }
  }
  .userList {
    height: 72vh;
    overflow: auto;
  }
}
.peopleList {
  cursor: pointer;
  display: flex;
  height: 65px;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  &:hover {
    cursor: pointer;
    background: colors.$gray35;
  }
}
.userIcon {
  font-size: 450%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  width: 40px;
  border-radius: 45px;
  margin-top: 0px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.icon-button .icon {
  width: 45px;
  height: 45px;
  border-radius: 45px;
}
.userPresence {
  position: absolute;
  .statusCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid colors.$white;
    bottom: 2px;
    right: 0;
    position: absolute;
  }
  .online {
    background-color: colors.$green;
  }
  .offline {
    background-color: colors.$gray;
  }
}
.bottomActions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  bottom: -50px;
  right: 0;
  .actionBtn {
    margin: 5px;
  }
}
.userNameAndTitle {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
