<div class="dialog-container" [formGroup]="integrationConfigForm">
  <div class="dialog-head">
    <span class="heading">
      {{data.mode === 'create' ? 'Add ':'Edit '}} Integration
    </span>
    <mat-icon mat-dialog-close class="close-icon">close</mat-icon>
  </div>
  <div mat-dialog-content class="dialog-body">
    <div>
      <mat-form-field appearance="outline" class="width-100 form-field">
        <mat-label translate>Select Integration Point</mat-label>
        <mat-select formControlName="integrationPointId">
          <mat-option [value]="">
            Select
          </mat-option>
          <mat-option *ngFor="let integrationPoint of integrationPoints" [value]="integrationPoint.id"
            class="select-option-container">
            {{integrationPoint.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-field-wrapper">
        <span class="field-label">Data Synchronization</span>
        <mat-radio-group aria-label="Select an option" formControlName="syncType">
          <mat-radio-button value="realtime" class="radio-group-option">Real-time</mat-radio-button>
          <mat-radio-button value="scheduled" class="radio-group-option">Scheduled</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="schedule-wrapper" *ngIf="integrationConfigForm.value.syncType ==='scheduled' ">
        <ng-container class="schedule" *ngIf="
        integrationConfigForm.get('scheduleType').value === 'byFrequency'
          ">
          <div class="by-frequency">
            <div class="dis-flex">
              <p id="scheduleConfigurationRepeatEvery" class="f-w-400">
                {{ 'repeatEveryDayAt' | translate }}
              </p>
              <mat-form-field appearance="fill" class="repeat-time">
                <input id="scheduleConfigurationTime" type="time" matInput formControlName="repeatTime" />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-footer">
    <div class="dis-flex">

    </div>
    <div class="dis-flex">
      <button mat-button mat-dialog-close color="primary">Close</button>
      <button mat-flat-button class="submit-btn" (click)="saveIntegration()">
        <span>Save Integration
          <mat-progress-spinner *ngIf="isSaveInProgress" [mode]="'indeterminate'" [diameter]="25"
            class="test-conn-spinner"></mat-progress-spinner>
        </span>
      </button>
    </div>
  </div>
</div>
