<div id="assign-to">
  <mat-card>
    <mat-card-title class="m-0 light-gray dis-flex title">
      <div class="heading" translate>selectAssignee</div>
      <div class="cancel-side-drawer">
        <mat-icon class="dialog-close">close</mat-icon>
      </div>
    </mat-card-title>
    <mat-card-content (click)="$event.stopPropagation()">
      <span class="custom-form-field-gray-color">
        <mat-form-field appearance="outline" class="search width-100">
          <mat-icon matPrefix class="searchIcon">search</mat-icon>
          <input
            matInput
            type="text"
            [placeholder]="'search' | translate"
            autocomplete="off"
            [formControl]="searchUsers"
          />
        </mat-form-field>
      </span>
      <ng-container *ngFor="let user of filteredUsers$ | async">
        <div
          mat-menu-item
          class="user-menu-item"
          [ngClass]="{
            'jsutify-content': isMultiple,
            'disable-events': isMultiple
          }"
          (click)="selectAssignee(user)"
        >
          <img
            [src]="user.profileImage"
            alt="Profile Image"
            class="profile-image"
          />
          <div class="user-info">
            <span class="name">{{ user.firstName }} {{ user.lastName }}</span>
            <span class="email">{{ user.email }}</span>
          </div>
          <mat-checkbox
            [checked]="isAssigneeSelected(user.email)"
            *ngIf="isMultiple"
            (change)="selectAssignee(user, $event)"
            (click)="$event.stopPropagation()"
            [ngClass]="{ 'enable-events': isMultiple }"
          ></mat-checkbox>
        </div>
      </ng-container>
      <div *ngIf="!filteredUsersCount" class="no-results" translate>
        noSearchResultsFound
      </div>
    </mat-card-content>
  </mat-card>
</div>
