@import '../../../../scss/colors.scss';

.disable-form-interactions {
  pointer-events: none;
  user-select: none;
}

.create-form-main {
  overflow: hidden;
  position: relative;

  .form-header {
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid $border-color;
    padding: 10px 0px;
  }

  .form_title_input {
    border: none;
    cursor: pointer;
    max-width: 90%;
    background: none;
    font-size: 140%;
    font-weight: 500;
    text-overflow: ellipsis;
    padding: 3px 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }

  input[type='text']:focus {
    outline: none;
    caret-color: $light-gray;
  }

  .plans-icon {
    width: 50px;
    height: 50px;
  }

  .edit-icon {
    border: none;
    background-color: transparent;
    position: relative;
    margin-left: -35px;
    .edit-icon-img {
      width: 15px;
      height: 15px;
      padding: 20px;
    }
  }

  .dis-inline {
    display: inline;
  }

  .error-fields {
    margin: 0;
    font-size: 80%;
    display: inline;
  }

  .form_description_input {
    border: none;
    cursor: pointer;
    background: none;
    font-size: 100%;
    font-weight: 500;
    text-overflow: ellipsis;
    padding: 3px 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  .plans-icon {
    height: 50px;
    width: 50px;
  }

  .justify-content-end {
    justify-content: flex-end;
    align-items: center;
  }

  .changes-text {
    margin-top: 23px;
    color: $gray-text;
    font-size: 100%;
  }

  .import-btn {
    width: 160px;
    height: 36px;
    border: 1px solid $blue-primary;
    color: $blue-primary;
    border-radius: 8px;
  }

  .save-status {
    padding-top: 17px;
    font-weight: 500;
    font-size: 100%;
    line-height: 20px;
  }

  .import-btn:disabled {
    border-color: $border-color;
    background-color: $border-color;
    color: $light-gray;
  }

  .publish-btn {
    width: 138px;
    height: 34px;
    background-color: $blue-primary;
    border-color: $blue-primary;
    border-radius: 4px;
    margin: 7px 12px 17px 12px;
    padding: 6px, 30px, 6px, 30px;
  }

  .preview-btn {
    padding: 3px, 20px, 3px, 20px;
    height: 34px;
    border-radius: 4px;
    margin: 8px 12px -5px 12px;
    color: $blue-main;
    border: 1px solid;
    border-color: $blue-main;
    text-align: center;
  }
  .preview-btn-active {
    background-color: $blue-main;
    border-color: $blue-main;
    color: $white;
  }

  .preview-text {
    position: relative;
    top: -2px;
  }

  .publish-btn:disabled {
    background-color: $disabled-color;
  }

  .publish-btn-icon {
    position: relative;
    height: 20px;
    width: 20px;
    top: 2px;
  }
  .preview-btn-icon {
    position: relative;
    top: 2px;
    left: -5px;
    width: 18px;
    height: 18px;
  }

  .publish {
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.25px;
    color: $white;
    position: relative;
    left: 3px;
    text-align: center;
    top: -2px;
  }

  .form {
    height: calc(100vh - 150px);
    overflow-y: auto;
    margin-top: 0.6rem;
  }
}

.width-62 {
  width: 62%;
}

.questionContainer {
  display: flex;

  .question {
    width: 100%;
  }

  .question-drag-handler {
    height: 40px;
    border-bottom: 1px solid $border-color;

    .question-six-dots {
      padding-left: 15px;
      position: relative;
      top: 13px;
      width: 9px;
      cursor: move;
    }
  }
}

.section-drag-handler {
  position: relative;
  width: 5%;

  .section-six-dots {
    position: absolute;
    top: 28px;
    left: 92px;
    width: 10px;
    cursor: move;
  }
}

.highlight-bg {
  border: 2px solid $blue-main;
  border-radius: 4px;
}

.sectionMinimumDragArea {
  min-height: 50px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.sectionContainer {
  width: 95%;
}

.selectedNode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .selectedNodeTitle {
    font-weight: 500;
    font-size: 125%;
    color: $text-color;
  }
}

.questions-responses-width {
  width: 85%;
  overflow-y: auto;
}

.iphone-width {
  width: 15%;
}
.m-t-20 {
  margin-top: 20px;
}

@media (min-width: 1900px) and (max-width: 2100px) {
  .section-six-dots {
    left: 114px !important;
  }
  .questions-responses-width {
    width: 80%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 20%;
  }
}

@media (min-width: 1800px) and (max-width: 1900px) {
  .section-six-dots {
    left: 105px !important;
  }
  .questions-responses-width {
    width: 80%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 20%;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .section-six-dots {
    left: 101px !important;
  }
  .questions-responses-width {
    width: 78%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 22%;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .section-six-dots {
    left: 95px !important;
  }
  .questions-responses-width {
    width: 75%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 25%;
  }
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .section-six-dots {
    left: 90px !important;
  }
  .questions-responses-width {
    width: 75%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 25%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .section-six-dots {
    left: 87px !important;
  }
  .questions-responses-width {
    width: 70%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .section-six-dots {
    left: 80px !important;
  }
  .questions-responses-width {
    width: 70%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .iphone-width {
    width: 30%;
  }
}

.sectionEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: $gray-text;
  height: 50px;
}

.floating-btns.empty-section {
  display: flex;
  justify-content: center;
  position: absolute;
  left: -62px;
  top: 0px;
  .questions-btn {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 7px;
    width: 55px;
    padding: 5px 0px;
    p {
      margin: 0;
      font-size: 75%;
      font-weight: 400;
      letter-spacing: 0.4px;
      color: $black;
    }
  }
}

.assetHierarchyContainer {
  width: 35%;
  background: $white;
  height: -webkit-fill-available;
  border-right: 1px solid $border-color;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    letter-spacing: 0.15px;
    font-weight: 700;
    padding: 10px 15px;
    .addBtn {
      margin-top: -5px;
    }
  }
  .search {
    margin-top: 5px;
    margin-right: 15px;
    .searchField {
      width: 95%;
      padding: 0px 10px;
    }
  }
  .hierarchy {
    overflow-y: auto;
    height: calc(100vh - 275px);
  }
}

.parentNode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 10px;
  .left {
    display: flex;
    img {
      max-width: 40px;
      max-height: 40px;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
  .right {
    display: flex;
    align-items: center;
  }
}
.children {
  margin-left: 60px;
  .childrenHead {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    .rotate-270 {
      transform: rotate(270deg);
    }
  }
}
.nodeInstance {
  padding-bottom: 25px;
}

.dis-flex .center {
  justify-content: space-between;
  align-items: center;

  .plant {
    font-weight: 500;
  }
}
.next-btn {
  padding: 0px 20px;
  height: 34px;
  border-radius: 4px;
  margin: 13px 12px 0px 0px;
  border: 1px solid;
  background-color: $radio-button-checked;
  border-color: $radio-button-checked;
  color: $white;
  display: flex;
  align-items: center;
}
