<div class="dependency-modal">
  <h3 class="settings-heading">Settings</h3>

  <div class="dis-flex">
    <div class="width-70 parent-question-div">
      <p class="parent-question">
        <mat-icon class="info-icon">info</mat-icon>
        <span class="parent-question-text">Set Functional Location</span>
      </p>
    </div>
    <div class="width-30">
      <mat-form-field appearance="outline">
        <mat-label>Choose an option</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
