.dependency-modal {
  width: 700px;
  height: 500px;
  padding: 15px;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0;
  }
}

.settings-heading {
  font-size: 100%;
  margin: 10px;
}

.parent-question-div {
  background: #eff6ff;
  border-radius: 6px;
  height: 48px;
  margin-top: 8px;
  margin-right: 15px;
}

.parent-question {
  color: #1e40af;
}

.info-icon {
  font-size: 150%;
  margin: 0 3px 0 15px;
  position: relative;
}

.parent-question-text {
  position: relative;
  top: -7px;
}
