<ng-container *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div
    class="work-instructions custom-form-field-gray-color"
    *ngIf="currentRouteUrl === routeUrl"
  >
    <div class="dis-flex header-ins">
      <mat-form-field appearance="outline" class="search-field m-t-5">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input
          id="inputSearch"
          matInput
          [(ngModel)]="search"
          placeholder="Search by title or author"
        />
      </mat-form-field>
      <select [(ngModel)]="CreatedBy" class="author-dropdown minimal width-15">
        <option value="">Authors</option>
        <ng-container *ngIf="authors$ | async as authors">
          <option *ngFor="let obj of authors" [value]="obj">{{ obj }}</option>
        </ng-container>
      </select>
    </div>
    <mat-tab-group
      #tabGroup
      (selectedTabChange)="tabChanged($event)"
      *ngIf="
        workInstructions$ | async as workInstructions;
        else loadingCategoryBasedInstructions
      "
      animationDuration="0ms"
      class="mat-tabs"
    >
      <mat-tab label="DRAFTS">
        <div
          *ngIf="this.tabIndex === 0 || this.tabGroup['_selectedIndex'] === 0"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="width-40" (click)="setOrder('WI_Name')">
                  Title
                  <span [hidden]="reverseObj.WI_Name"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'WI_Name'"
                      >arrow_downward</mat-icon
                    ></span
                  >
                  <span [hidden]="!reverseObj.WI_Name"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'WI_Name'"
                      >arrow_upward</mat-icon
                    ></span
                  >
                </th>
                <th
                  scope="col"
                  class="width-25"
                  (click)="setOrder('updated_at')"
                >
                  Last Edited
                  <span [hidden]="reverseObj.updated_at"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'updated_at'"
                      >arrow_downward</mat-icon
                    ></span
                  >
                  <span [hidden]="!reverseObj.updated_at"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'updated_at'"
                      >arrow_upward</mat-icon
                    ></span
                  >
                </th>
                <th
                  scope="col"
                  class="width-25"
                  (click)="setOrder('CreatedBy')"
                >
                  Author
                  <span [hidden]="reverseObj.CreatedBy"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'CreatedBy'"
                      >arrow_downward</mat-icon
                    ></span
                  >
                  <span [hidden]="!reverseObj.CreatedBy"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'CreatedBy'"
                      >arrow_upward</mat-icon
                    ></span
                  >
                </th>
                <th scope="col" class="width-25"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="
                  workInstructions.drafts
                    | filter : search
                    | dropdownFilter : CreatedBy
                    | orderBy : order : reverse : true
                    | paginate : draftsConfig as result
                "
              >
                <app-dummy #draftedFilteredResults [value]="result"></app-dummy>
                <tr *ngFor="let obj of result">
                  <th scope="row" class="width-40">
                    <div class="dis-flex">
                      <img
                        class="coverImg"
                        [hidden]="!getImageSrc(obj.Cover_Image, obj.Id)"
                        [attr.src]="getImageSrc(obj.Cover_Image, obj.Id)"
                        alt=""
                      />
                      <a
                        class="list-ellipsis"
                        [routerLink]="[
                          '/work-instructions/category',
                          categoryId,
                          obj.Id
                        ]"
                      >
                        <span matTooltip="{{ obj.WI_Name }}">
                          {{ obj.WI_Name }}
                        </span>
                      </a>
                    </div>
                  </th>
                  <td class="width-25">
                    <a
                      class="font-color"
                      [routerLink]="[
                        '/work-instructions/category',
                        categoryId,
                        obj.Id
                      ]"
                      >Edited {{ obj.updated_at | timeAgo }} by
                      {{ obj.EditedBy }}</a
                    >
                  </td>
                  <td class="width-25">
                    <a
                      class="font-color"
                      [routerLink]="[
                        '/work-instructions/category',
                        categoryId,
                        obj.Id
                      ]"
                      ><mat-icon class="mat-icon-circle"
                        >account_circle</mat-icon
                      >
                      {{ obj.CreatedBy }}</a
                    >
                  </td>
                  <td class="width-10">
                    <a (click)="setFav(obj)">
                      <span *ngIf="obj.IsFavorite === false"
                        ><mat-icon class="mat-icon-star"
                          >star_border</mat-icon
                        ></span
                      >
                      <span *ngIf="obj.IsFavorite !== false"
                        ><mat-icon class="mat-icon-star is-fav-icon"
                          >star</mat-icon
                        ></span
                      >
                    </a>
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                      *appCheckUserHasPermission="[
                        permissions.updateWorkInstruction,
                        permissions.copyWorkInstruction,
                        permissions.deleteWorkInstruction
                      ]"
                      aria-label="More Options"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        [routerLink]="[
                          '/work-instructions/category',
                          categoryId,
                          obj.Id
                        ]"
                        id="editWorkInstruction"
                        *appCheckUserHasPermission="[
                          permissions.updateWorkInstruction
                        ]"
                      >
                        <span class="menu-text">Edit Work Instruction</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="copyWI(obj)"
                        id="copyWorkInstruction"
                        *appCheckUserHasPermission="[
                          permissions.copyWorkInstruction
                        ]"
                      >
                        <span class="menu-text"> Copy Work Instruction </span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="removeWI(obj)"
                        id="deleteWorkInstruction"
                        *appCheckUserHasPermission="[
                          permissions.deleteWorkInstruction
                        ]"
                      >
                        <span class="menu-text text-red">
                          Delete Work Instruction
                        </span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
                <tr>
                  <div
                    class="no-search-records1"
                    *ngIf="
                      result.length === 0 && workInstructions.drafts.length > 0
                    "
                  >
                    No Result Found!
                  </div>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div
            class="no-records"
            *ngIf="
              workInstructions.drafts && workInstructions.drafts.length === 0
            "
          >
            No Drafted Work Instructions in Category
            <strong>"{{ selectedCategory }}"</strong>
          </div>
          <div
            *ngIf="
              workInstructions.drafts && workInstructions.drafts.length > 0
            "
            class="pagination-main"
          >
            <pagination-template
              #p="paginationApi"
              [id]="draftsConfig.id"
              (pageChange)="draftsConfig.currentPage = $event"
              (pageBoundsCorrection)="draftsConfig.currentPage = $event"
            >
              <app-custom-pagination-controls
                [paginationData]="p"
              ></app-custom-pagination-controls>
            </pagination-template>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="PUBLISHED">
        <div *ngIf="this.tabIndex === 1">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="width-40" (click)="setOrder('WI_Name')">
                  Title
                  <span [hidden]="reverseObj.WI_Name"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'WI_Name'"
                      >arrow_downward</mat-icon
                    ></span
                  >
                  <span [hidden]="!reverseObj.WI_Name"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'WI_Name'"
                      >arrow_upward</mat-icon
                    ></span
                  >
                </th>
                <th
                  scope="col"
                  class="width-25"
                  (click)="setOrder('updated_at')"
                >
                  Last Edited
                  <span [hidden]="reverseObj.updated_at"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'updated_at'"
                      >arrow_downward</mat-icon
                    ></span
                  >
                  <span [hidden]="!reverseObj.updated_at"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'updated_at'"
                      >arrow_upward</mat-icon
                    ></span
                  >
                </th>
                <th
                  scope="col"
                  class="width-25"
                  (click)="setOrder('CreatedBy')"
                >
                  Author
                  <span [hidden]="reverseObj.CreatedBy"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'CreatedBy'"
                      >arrow_downward</mat-icon
                    ></span
                  >
                  <span [hidden]="!reverseObj.CreatedBy"
                    ><mat-icon
                      class="arrow"
                      [class.arrow-inactive]="order !== 'CreatedBy'"
                      >arrow_upward</mat-icon
                    ></span
                  >
                </th>
                <th scope="col" class="width-10"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="
                  workInstructions.published
                    | filter : search
                    | dropdownFilter : CreatedBy
                    | orderBy : order : reverse : true
                    | paginate : publishedConfig as result
                "
              >
                <app-dummy
                  #publishedFilteredResults
                  [value]="result"
                ></app-dummy>
                <tr *ngFor="let obj of result">
                  <th scope="row" class="width-40">
                    <div class="dis-flex">
                      <img
                        class="coverImg"
                        [hidden]="!getImageSrc(obj.Cover_Image, obj.Id)"
                        [attr.src]="getImageSrc(obj.Cover_Image, obj.Id)"
                        alt=""
                      />
                      <a
                        class="list-ellipsis"
                        [routerLink]="[
                          '/work-instructions/category',
                          categoryId,
                          obj.Id
                        ]"
                      >
                        <span matTooltip="{{ obj.WI_Name }}">
                          {{ obj.WI_Name }}
                        </span>
                      </a>
                    </div>
                  </th>
                  <td class="width-25">
                    <a
                      class="font-color"
                      [routerLink]="[
                        '/work-instructions/category',
                        categoryId,
                        obj.Id
                      ]"
                      >Edited {{ obj.updated_at | timeAgo }} by
                      {{ obj.EditedBy }}</a
                    >
                  </td>
                  <td class="width-25">
                    <a
                      class="font-color"
                      [routerLink]="[
                        '/work-instructions/category',
                        categoryId,
                        obj.Id
                      ]"
                      ><mat-icon class="mat-icon-circle"
                        >account_circle</mat-icon
                      >
                      {{ obj.CreatedBy }}</a
                    >
                  </td>
                  <td class="width-10">
                    <a (click)="setFav(obj)">
                      <span *ngIf="obj.IsFavorite === false"
                        ><mat-icon class="mat-icon-star"
                          >star_border</mat-icon
                        ></span
                      >
                      <span *ngIf="obj.IsFavorite !== false"
                        ><mat-icon class="mat-icon-star is-fav-icon"
                          >star</mat-icon
                        ></span
                      >
                    </a>
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                      *appCheckUserHasPermission="[
                        permissions.updateWorkInstruction,
                        permissions.deleteWorkInstruction
                      ]"
                      aria-label="More Options"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        [routerLink]="[
                          '/work-instructions/category',
                          categoryId,
                          obj.Id
                        ]"
                        id="editWorkInstruction"
                        *appCheckUserHasPermission="[
                          permissions.updateWorkInstruction
                        ]"
                      >
                        <span class="menu-text">Edit Work Instruction</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="removeWI(obj)"
                        id="deleteWorkInstruction"
                        *appCheckUserHasPermission="[
                          permissions.deleteWorkInstruction
                        ]"
                      >
                        <span class="menu-text text-red"
                          >Delete Work Instruction</span
                        >
                      </button>
                    </mat-menu>
                  </td>
                </tr>
                <tr>
                  <div
                    class="no-search-records1"
                    *ngIf="
                      result.length === 0 &&
                      workInstructions.published.length > 0
                    "
                  >
                    No Result Found!
                  </div>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div
            class="no-records"
            *ngIf="
              workInstructions.published &&
              workInstructions.published.length === 0
            "
          >
            No Published Work Instructions in Category
            <strong>"{{ selectedCategory }}"</strong>
          </div>
          <div
            *ngIf="
              workInstructions.published &&
              workInstructions.published.length > 0
            "
            class="pagination-main"
          >
            <pagination-template
              #p="paginationApi"
              [id]="publishedConfig.id"
              (pageChange)="publishedConfig.currentPage = $event"
              (pageBoundsCorrection)="publishedConfig.currentPage = $event"
            >
              <app-custom-pagination-controls
                [paginationData]="p"
              ></app-custom-pagination-controls>
            </pagination-template>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loadingCategoryBasedInstructions>
  <div class="drafts-fav-recents-publish">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
