@import '../../../../../scss/colors.scss';

.edit-unit-modal {
  width: 400px;
  height: auto;
  overflow: hidden;
  background: $white;
  border-radius: 4px;

  .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    color: $black;
  }

  .edit-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $gray41;

    .cancel {
      float: right;
      cursor: pointer;
      height: 12px;
      width: 12px;
    }

    .heading {
      font-size: 130%;
      font-weight: 500;
      margin: 0;
    }
  }

  .unitType {
    width: 97%;
  }

  .description {
    width: 47%;
    input {
      color: $black;
    }
  }

  .symbol {
    width: 47%;
    margin-left: 10px;
    input {
      color: $black;
    }
  }

  .status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: $light-gray;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-right: 10px;
  }

  .slide-toggle {
    position: relative;
    top: 5px;
    left: 5px;
  }

  ::ng-deep .mat-slide-toggle-bar {
    width: 36px;
    height: 20px !important;
    border-radius: 25px !important;
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $green4 !important;
  }

  ::ng-deep .mat-slide-toggle-thumb-container {
    top: 2px !important;
    left: 3px !important;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    height: 15px !important;
    width: 15px !important;
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $white !important;
  }

  .footer {
    border-top: 1px solid $gray41;
    padding: 10px 5px 0px 5px;

    .save-btn {
      margin-right: 10px;
      float: right;
      background-color: $blue-main;
      color: $white;
    }

    .save-btn:disabled {
      background-color: $gray2-bg;
      color: $gray7;
    }

    .cancel-btn {
      color: $blue-main;
      border-color: $blue-main;
      float: right;
    }
  }
}
