<div class="edit-unit-modal">
  <div class="edit-modal-header">
    <h1 id="editUnitHeading" class="heading">{{ 'editUOM' | translate }}</h1>

    <svg-icon
      id="editUnitCancelIcon"
      icon="icon-close"
      class="cancel"
      (click)="cancel('cancel')"
    ></svg-icon>
  </div>

  <div [formGroup]="unitForm" class="p-10">
    <p class="m-0 custom-form-field-white-color">
      <mat-form-field appearance="outline" class="unitType">
        <mat-label id="editUnitType">{{ 'unitType' | translate }}</mat-label>
        <input
          id="editUnitTypeText"
          *ngIf="false"
          matInput
          formControlName="unitType"
        />
        <mat-select id="editUnitSelect" formControlName="unitType">
          <mat-option
            id="editUnitOptions"
            *ngFor="let unit of unitList"
            [value]="unit?.unitType"
          >
            {{ unit?.unitType }}
          </mat-option>
        </mat-select>
        <mat-error
          id="editUnitError"
          *ngIf="processValidationErrors('unitType')"
          class="m-t-5 error-fields"
        >
          {{
            errors?.unitType?.name
              | translate
                : {
                    name: 'unitType' | translate,
                    length: errors?.unitType?.length
                  }
          }}
        </mat-error>
      </mat-form-field>
    </p>

    <div class="custom-form-field-white-color m-t-5">
      <div class="input-container">
        <mat-form-field appearance="outline" class="description">
          <mat-label id="editUnitDescription">{{
            'description' | translate
          }}</mat-label>
          <input
            id="editUnitDescriptionText"
            matInput
            formControlName="description"
          />
          <mat-error
            id="editUnitDescriptionError"
            *ngIf="processValidationErrors('description')"
            class="m-t-5 error-fields"
          >
            {{
              errors?.description?.name
                | translate
                  : {
                      name: 'description' | translate,
                      length: errors?.description?.length
                    }
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="symbol">
          <mat-label id="editUnitSymbol">{{ 'symbol' | translate }}</mat-label>
          <input id="editUnitSymbolText" matInput formControlName="symbol" />
          <mat-error
            id="editUnitSymbolError"
            *ngIf="processValidationErrors('symbol')"
            class="m-t-5 error-fields"
          >
            {{
              errors?.symbol?.name
                | translate
                  : {
                      name: 'symbol' | translate,
                      length: errors?.symbol?.length
                    }
            }}
          </mat-error>
        </mat-form-field>

        <mat-label id="editUnitStatus" class="status m-l-5">{{
          'status' | translate
        }}</mat-label>
        <mat-slide-toggle
          id="editUnitStatusActive"
          formControlName="isActive"
          [checked]="unitForm.value.isActive"
          class="slide-toggle"
        >
          {{ unitForm.value.isActive ? 'Active' : 'InActive' }}
        </mat-slide-toggle>
        <mat-error
          id="editUnitStatusError"
          *ngIf="processValidationErrors('isActive')"
          class="m-t-5 error-fields"
        >
          {{
            errors?.isActive?.name
              | translate
                : {
                    name: 'isActive' | translate,
                    length: errors?.isActive?.length
                  }
          }}
        </mat-error>
      </div>
    </div>
  </div>
  <div class="footer">
    <button
      id="editUnitSaveBtn"
      mat-raised-button
      color="primary"
      (click)="onSave('save')"
      class="save-btn"
      [disabled]="unitForm?.pristine || unitForm?.invalid"
    >
      {{ 'done' | translate }}
    </button>
    <button
      id="editUnitCancelBtn"
      mat-button
      class="cancel-btn"
      (click)="cancel('cancel')"
    >
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>

`
