<div class="pages" [formGroup]="pageForm">
  <div class="page-header">
    <mat-icon
      id="pageExpandIcon"
      (click)="toggleIsOpenState()"
      *ngIf="pageForm.get('isOpen').value === true"
      class="page-arrow"
    >
      expand_more
    </mat-icon>
    <mat-icon
      id="pageRightIcon"
      (click)="toggleIsOpenState()"
      *ngIf="pageForm.get('isOpen').value === false"
      class="page-arrow"
    >
      chevron_right
    </mat-icon>

    <mat-checkbox
      class="page-checkbox"
      [checked]="checkboxStatus"
    ></mat-checkbox>

    <span class="form_page_name_input">{{ page.name }} </span>
  </div>
  <div *ngIf="pageForm.get('isOpen').value === true" class="section-content">
    <div *ngFor="let section of page.sections">
      <app-task-level-mid-panel-section
        [section]="section"
        [question]="questionToSectionId.get(section.id)"
      ></app-task-level-mid-panel-section>
    </div>
  </div>
</div>
