.user-settings-body {
  height: 90vh;
  margin-right: 14px;
  background-color: #ffffff;
  display: flex;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-settings-menu {
  color: #727caf;
}

.is-active {
  background: #eff2ff;
  color: #2a3eb1;
}

.user-settings-border {
  border-right: 1px solid #bdbdbd;
}
