<div class="user-settings-body">
  <div class="width-20" style="border-right: 1px solid #bdbdbd">
    <mat-list>
      <mat-list-item
        routerLink="/user-settings"
        [routerLinkActive]="['is-active']"
        class="user-settings-menu"
      >
        Profile
      </mat-list-item>
      <mat-list-item
        routerLink="/base/dashboard"
        [routerLinkActive]="['is-active']"
        class="user-settings-menu"
      >
        Notifications
      </mat-list-item>
      <mat-list-item
        routerLink="/base/dashboard"
        [routerLinkActive]="['is-active']"
        class="user-settings-menu"
      >
        Item 3
      </mat-list-item>
    </mat-list>
  </div>
  <div class="width-80">
    <app-profile></app-profile>
  </div>
</div>
