<div
  class="right"
  [formGroup]="resviseScheduleConfigForm"
  *ngIf="{ locationListToTask: locationListToTask$ | async }"
>
  <h3 class="heading" translate>reviseSchedule</h3>

  <div class="main-scroll">
    <div>
      <div class="selected-locations">
        <p class="m-0 m-b-5" (click)="showLocations = !showLocations">
          <mat-icon *ngIf="showLocations === true">
            keyboard_arrow_down
          </mat-icon>
          <mat-icon *ngIf="showLocations === false">
            keyboard_arrow_right
          </mat-icon>
          <span class="selected-text" translate>selected</span>
        </p>
        <div *ngIf="showLocations" class="scroll-locations">
          <div *ngFor="let location of locationIdToTaskcountArr">
            <div class="locations" *ngIf="location[1] !== '0'">
              <div>{{ nodeIdToNodeName[location[0]] }}</div>
              <div>{{ location[1] }} <span translate>tasks</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="subheadings">
      <ng-container
        *ngIf="
          resviseScheduleConfigForm.get('scheduleType').value === 'byFrequency'
        "
      >
        <h3 translate>scheduleByFrequency</h3>

        <div class="dis-flex schedule-frequency">
          <p id="taskScheduleConfigurationRepeatEvery" class="f-w-400">
            {{ 'repeatEvery' | translate }}
          </p>

          <mat-form-field appearance="fill" class="repeat-num">
            <input
              type="number"
              matInput
              min="1"
              formControlName="repeatDuration"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="repeat-day">
            <mat-select formControlName="repeatEvery">
              <mat-option
                *ngFor="let repeatEvery of repeatTypes"
                [value]="repeatEvery"
              >
                {{ repeatEvery }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <ng-container
          *ngIf="resviseScheduleConfigForm.get('repeatEvery').value === 'week'"
        >
          <div id="scheduleConfigurationRepeatOn" class="row-title">
            {{ 'repeatOn' | translate }}
          </div>
          <mat-button-toggle-group
            name="daysOfWeek"
            formControlName="daysOfWeek"
            multiple
          >
            <mat-button-toggle
              id="scheduleConfigurationDayOfWeek"
              *ngFor="let dayOfWeek of daysOfWeek; let i = index"
              [value]="i"
              >{{ dayOfWeek.slice(0, 1).toUpperCase() }}</mat-button-toggle
            >
          </mat-button-toggle-group>
        </ng-container>
        <ng-container
          *ngIf="resviseScheduleConfigForm.get('repeatEvery').value === 'month'"
        >
          <div id="scheduleConfigurationRepeatOnMonth" class="row-title">
            {{ 'repeatOn' | translate }}
          </div>
          <div formArrayName="monthlyDaysOfWeek">
            <div
              *ngFor="let weekOfMonth of weeksOfMonth; let i = index"
              class="weeks-of-month"
            >
              <div
                id="scheduleConfigurationWeekOfMonth"
                class="row-title"
                class="m-r-40"
                [ngClass]="{ 'm-r-36': i === 1 }"
              >
                {{ weekOfMonth }}
              </div>
              <div>
                <mat-button-toggle-group
                  [formControlName]="i"
                  name="{{ i }}"
                  multiple
                >
                  <mat-button-toggle
                    id="scheduleConfigurationMonth"
                    *ngFor="let dayOfWeek of daysOfWeek; let i = index"
                    [value]="i"
                  >
                    {{ dayOfWeek.slice(0, 1).toUpperCase() }}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="dis-flex custom-form-field-white-color m-t-10">
          <span class="f-w-400 startdate" translate>startDate</span>
          <mat-form-field
            appearance="outline"
            class="width-40"
            (click)="startDate.open()"
          >
            <input matInput formControlName="startDate" readonly />
            <input
              matInput
              [matDatepicker]="startDate"
              formControlName="startDatePicker"
              (dateChange)="updateDate($event, 'startDate')"
              [min]="this.reviseScheduleConfig.startDate"
              [max]="this.reviseScheduleConfig.endDate"
              hidden
            />
            <mat-datepicker-toggle matIconSuffix [for]="startDate">
              <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="dis-flex custom-form-field-white-color m-t-10">
          <span class="f-w-400 enddate" translate>endDate</span>
          <mat-form-field
            appearance="outline"
            class="width-40"
            (click)="endDate.open()"
          >
            <input matInput formControlName="endDate" readonly />
            <input
              matInput
              [matDatepicker]="endDate"
              formControlName="endDatePicker"
              (dateChange)="updateDate($event, 'endDate')"
              [min]="this.reviseScheduleConfig.startDate"
              [max]="this.reviseScheduleConfig.endDate"
              hidden
            />
            <mat-datepicker-toggle matIconSuffix [for]="endDate">
              <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <ng-container
        *ngIf="resviseScheduleConfigForm.get('scheduleType').value === 'byDate'"
      >
        <h3 translate>scheduleByDate</h3>

        <div class="by-date">
          <mat-calendar
            #calendar
            [minDate]="this.reviseScheduleConfig.startDate"
            [maxDate]="this.reviseScheduleConfig.endDate"
            [dateClass]="dateClass()"
            (selectedChange)="updateScheduleByDates($event)"
          ></mat-calendar>
        </div>
      </ng-container>
    </div>

    <div class="subheadings custom-form-field-white-color shifts">
      <h3 translate>shifts</h3>

      <mat-form-field class="width-100" appearance="outline">
        <mat-select
          #shiftSelect
          [formControl]="shiftsSelected"
          multiple
          (selectionChange)="onShiftChange($event)"
          [compareWith]="compareFn"
          panelClass="task-level-shifts"
          [disabled]="allShifts[0].null"
        >
          <mat-select-trigger id="taskScheduleConfigInitialShift">
            {{ selectedShiftData }}
            <span id="taskScheduleConfigShiftMore" *ngIf="allShifts.length > 3">
              (+{{ allSlots.length - 3 }}
              {{ allSlots.length === 4 ? 'more' : 'more' }})
            </span>
          </mat-select-trigger>
          <mat-option
            id="taskScheduleConfigShiftsName"
            [value]="shifts"
            *ngFor="let shifts of allShifts"
          >
            <div>
              <span>{{ shifts?.name }}</span>
              <p id="scheduleConfigShiftTime" class="shift-time">
                {{ shifts?.startTime }} - {{ shifts?.endTime }}
              </p>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="subheadings">
      <h3 translate>slots</h3>
      <ng-container *ngIf="allSlots[0] && allSlots[0].null">
        <span class="no-slot-times">
          <mat-checkbox [checked]="true" [disabled]="true">
            {{ allSlots[0].null.startTime }} -
            {{ allSlots[0].null.endTime }}
          </mat-checkbox>
        </span>
      </ng-container>
      <ng-container *ngIf="allSlots[0] && allSlots[0].id">
        <div *ngFor="let slots of allSlots">
          <p>{{ slots?.name }}</p>
          <span class="slot-times" *ngFor="let slot of slots.payload">
            <mat-checkbox
              [checked]="true"
              (change)="checkboxEventSlots($event.checked, slots, slot)"
            >
              {{ slot?.startTime }} - {{ slot?.endTime }}
            </mat-checkbox>
          </span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <button
      id="taskScheduleCancelBtn"
      mat-stroked-button
      type="button"
      class="cancel-btn"
      translate="cancelBtn"
      (click)="cancel()"
    ></button>
    <button
      id="taskScheduleReviseBtn"
      mat-raised-button
      type="submit"
      class="revise-btn"
      translate="reviseBtn"
      (click)="onRevise()"
    ></button>
  </div>
</div>
