<div class="from-templates-modal">
  <div class="dis-flex heading-container">
    <h2 id="createFormTemplateHeading" class="heading">
      {{ 'selectTemplate' | translate }}
    </h2>
    <button
      id="createFormTemplateCancelBtn"
      class="choose-template-cancel"
      (click)="cancel()"
      aria-label="Close Template"
    >
      <svg-icon
        id="createFormTemplateCancelIcon"
        icon="icon-cancel-icon"
        class="cancel-icon"
      ></svg-icon>
    </button>
  </div>
  <div class="search">
    <span>
      <mat-form-field class="width-100" appearance="outline">
        <mat-icon id="createFormTemplateSearchIcon" matPrefix class="icon"
          >search</mat-icon
        >
        <input
          id="createFormTemplateSearchText"
          matInput
          [placeholder]="'searchTemplates' | translate"
          class="width-100"
          autocomplete="off"
          [formControl]="searchTemplates"
        />
        <svg-icon
          id="createFormTemplateFilterIcon"
          icon="icon-filterIcon"
          cdkOverlayOrigin
          class="pointer"
          #trigger="cdkOverlayOrigin"
          (click)="isPopoverOpen = !isPopoverOpen"
          matSuffix
          class="filter-icon"
        ></svg-icon>
      </mat-form-field>
    </span>
  </div>
  <div class="list-container">
    <div
      *ngIf="templateLoadingFinished; else loadingTemplates"
      class="node-container"
    >
      <div *ngFor="let template of displayedTemplates; let i = index">
        <div
          id="createFormTemplateSubmit"
          (click)="submitTemplate(i)"
          class="template"
        >
          <h5 id="createFormTemplateName" class="template-name">
            {{ template.name }}
          </h5>
          <div *ngIf="template.description; else blankText">
            <p id="createFormTemplateDescription" class="template-description">
              {{ template.description }}
            </p>
          </div>
          <ng-template #blankText>
            <p class="template-description">&nbsp;</p>
          </ng-template>
        </div>
        <hr class="borders" />
      </div>
    </div>
  </div>

  <ng-template #loadingTemplates>
    <div class="ghost-loading">
      <div>
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </ng-template>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="template-modal-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="updateFilter($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template>
</div>
