@import '../../../../scss/colors.scss';

.from-templates-modal {
  height: 450px;
  width: 600px;
  overflow: hidden;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 10px 0;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: $border-color-gray;
    border-radius: 4px;
  }

  .heading-container {
    justify-content: space-between;
    padding: 10px 10px 0 15px;

    .heading {
      font-size: 120%;
      margin-top: 10px;
    }

    .back-btn {
      border: none;
      background-color: transparent;
    }

    .clear-icon {
      font-size: 130%;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .search {
    margin: 0 10px;

    .icon {
      position: relative;
      top: 3px;
    }
  }

  .filter-icon {
    width: 15px;
    height: 15px;
  }

  .list-container {
    height: 315px;
    overflow-y: auto;

    .borders {
      margin: 0px;
      border-bottom: 1px solid $border-color;
      border-top: none;
    }

    .template-name {
      margin: 2px;
      padding: 1px;
    }

    .template-description {
      color: $gray5;
      margin: 1px;
      padding: 2px;
    }

    .no-records {
      background: $white;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.ghost-loading {
  padding: 0 15px;
}

.node-container {
  padding: 0px 10px;
}

.selected-items {
  margin-top: 30px;
  margin-left: 15px;
  font-weight: 500;
  color: $black;
}

.locations-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-results-text {
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
}

.template {
  padding: 4px 0px 4px 0px;
}

.template:hover {
  background-color: $gray8;
}

::ng-deep .template-modal-popover {
  left: 560px !important;
}
