<div
  class="pdfBuilder-dialog"
  *ngIf="{
    authoredFormDetail: authoredFormDetail$ | async,
    formMetadata: formMetadata$ | async,
    formSaveStatus: formSaveStatus$ | async,
    formDetailPublishStatus: formDetailPublishStatus$ | async
  } as props"
>
  <div class="dialogHead">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
      <span class="back-btn-text" translate="backBtn"></span>
    </button>
  </div>
  <div class="dialogContainer">
    <div class="left">
      <h2
        class="configHead"
        translate="configuration"
        *ngIf="loadPDFBuilderConfig$ | async"
      ></h2>
      <div class="configOptions" [formGroup]="pdfBuilderConfigurationsForm">
        <span class="selectAll">
          <mat-checkbox
            (change)="toggleSelectAll($event)"
            [indeterminate]="isSelectAllIndeterminate()"
          >
            <span translate="selectAll"></span>
          </mat-checkbox>
        </span>
        <div class="group">
          <span class="groupHead" translate="header"></span>
          <span class="option">
            <mat-checkbox formControlName="formId" class="checkbox">
              <span translate="roundId"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox formControlName="formTitle" class="checkbox">
              <span translate="roundTitle"></span>
            </mat-checkbox>
          </span>
        </div>
        <div class="group">
          <span class="groupHead" translate="subject"></span>
          <span class="option">
            <mat-checkbox formControlName="logo" class="checkbox">
              <span translate="logo"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox formControlName="questionCompleted" class="checkbox">
              <span translate="taskCompleted"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox formControlName="submittedOn" class="checkbox">
              <span translate="submittedOn"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox formControlName="submittedBy" class="checkbox">
              <span translate="submittedBy"></span>
            </mat-checkbox>
          </span>
        </div>
        <div class="group">
          <span class="groupHead" translate="footer"></span>
          <span class="option">
            <mat-checkbox formControlName="pdfGeneratedDate" class="checkbox">
              <span translate="pdfGeneratedDate"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox formControlName="customText" class="checkbox">
              <span translate="customText"></span>
            </mat-checkbox>
            <div class="customText">
              <div [formGroup]="pdfBuilderConfigurationsFormCustomText">
                <mat-form-field class="field" appearance="outline">
                  <mat-label translate="label"></mat-label>
                  <input
                    matInput
                    formControlName="customTextLabel"
                    maxlength="25"
                  />
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                  <mat-label translate="field"></mat-label>
                  <input
                    matInput
                    formControlName="customTextField"
                    maxlength="25"
                  />
                </mat-form-field>
              </div>
            </div>
          </span>
        </div>
        <div class="group">
          <span class="groupHead" translate="bodyContent"></span>
          <span class="option">
            <mat-checkbox formControlName="actions" class="checkbox">
              <span translate="actions"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox formControlName="issues" class="checkbox">
              <span translate="issues"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox
              formControlName="photos"
              class="checkbox"
              (change)="toggleQuestionPhotos($event)"
            >
              <span translate="photos"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox
              formControlName="questions"
              class="checkbox"
              [indeterminate]="areQuestionsIndeterminate()"
              (change)="toggleAllQuestions($event)"
            >
              <span translate="tasks"></span>
            </mat-checkbox>
          </span>
          <span class="option m-l-40">
            <mat-checkbox
              formControlName="incompleteQuestions"
              class="checkbox"
              (change)="toggleIncompleteQuestions($event)"
            >
              <span translate="incompleteTasks"></span>
            </mat-checkbox>
          </span>
          <span class="option m-l-40">
            <mat-checkbox
              formControlName="completedQuestions"
              class="checkbox"
              [indeterminate]="areCompletedQuestionsIndeterminate()"
              (change)="toggleCompletedQuestions($event)"
            >
              <span translate="completedTasks"></span>
            </mat-checkbox>
          </span>
          <span class="option m-l-80">
            <mat-checkbox
              formControlName="capturedQuestions"
              class="checkbox"
              (change)="togglecapturedQuestions($event)"
            >
              <span translate="capturedTasks"></span>
            </mat-checkbox>
          </span>
          <span class="option m-l-80">
            <mat-checkbox
              formControlName="skippedQuestions"
              class="checkbox"
              (change)="toggleSkippedQuestions($event)"
            >
              <span translate="skippedTasks"></span>
            </mat-checkbox>
          </span>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="view">
        <span class="pdf-head" translate="pdfPreviewTxt"></span>
        <div class="form-status">
          <div
            class="save-status"
            [hidden]="
              props.formSaveStatus !== formConfigurationStatus.saved ||
              props.authoredFormDetail.isFormDetailPublished
            "
          >
            {{ 'changesSaved' | translate }}
          </div>
          <div
            class="save-status"
            [hidden]="
              props.formSaveStatus !== formConfigurationStatus.saving ||
              props.authoredFormDetail.isFormDetailPublished
            "
          >
            {{ 'savingChanges' | translate }}
          </div>
          <div
            class="save-status"
            [hidden]="
              formDetailPublishStatus !== formConfigurationStatus.published ||
              formStatus !== formConfigurationStatus.published
            "
          >
            {{ 'changesPublished' | translate }}
          </div>
          <div
            class="save-status"
            [hidden]="
              formDetailPublishStatus !== formConfigurationStatus.publishing ||
              !props.authoredFormDetail.isFormDetailPublished
            "
          >
            {{ 'publishingChanges' | translate }}
          </div>
          <button
            mat-raised-button
            class="publish-btn"
            (click)="publish()"
            [disabled]="
              formStatus === 'Published' ||
              props.authoredFormDetail.isFormDetailPublished ||
              (getAssetsLocationsTasksAdded && data.moduleName !== 'RDF')
            "
          >
            <span>
              <svg-icon
                icon="icon-upload-white"
                class="publish-btn-icon"
              ></svg-icon>
              <span class="publish" translate="publishBtn"></span>
            </span>
          </button>
        </div>
      </div>
      <div *ngIf="formMetadata$ | async as formMetadata" class="pdf-container">
        <!-- LANDING PAGE -->
        <div id="myPDF" class="pdfPage-container" #myPDF>
          <ng-container
            *ngTemplateOutlet="
              landingPageTemplate;
              context: { formMetadata: formMetadata }
            "
          ></ng-container>
        </div>
        <!-- ISSUES -->
        <div
          id="myPDF"
          class="pdfPage-container"
          #myPDF
          *ngIf="pdfBuilderConfigurationsForm.get('issues').value"
        >
          <ng-container
            *ngTemplateOutlet="
              issuesTemplate;
              context: { formMetadata: formMetadata }
            "
          ></ng-container>
        </div>
        <!-- ACTIONS -->
        <div
          id="myPDF"
          class="pdfPage-container"
          #myPDF
          *ngIf="pdfBuilderConfigurationsForm.get('actions').value"
        >
          <ng-container
            *ngTemplateOutlet="
              actionsTemplate;
              context: { formMetadata: formMetadata }
            "
          ></ng-container>
        </div>
        <!-- TASKS -->
        <div
          id="myPDF"
          class="pdfPage-container"
          #myPDF
          *ngIf="pdfBuilderConfigurationsForm.get('questions').value"
        >
          <div id="content" #content class="pdfPage">
            <div class="pageHeader">
              <span
                class="roundId"
                *ngIf="pdfBuilderConfigurationsForm.get('formId').value"
                >{{ formMetadata.id }}</span
              >
              <span
                class="formName"
                *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
                >{{ formMetadata.name }}</span
              >
            </div>
            <div
              *ngIf="
                !(
                  pdfBuilderConfigurationsForm.get('issues').value &&
                  pdfBuilderConfigurationsForm.get('issues').value
                )
              "
            >
              <div class="pageTitleRow">
                <div
                  class="tableHead-logo"
                  *ngIf="pdfBuilderConfigurationsForm.get('logo').value"
                >
                  <img [src]="innovapptiveLogo" class="tablelogo" />
                </div>
                <div class="tableHeading-text">
                  <span
                    class="name"
                    *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
                    >{{ formMetadata.name }}</span
                  >
                  <span class="discribe">{{
                    formMetadata.description ? formMetadata.description : ''
                  }}</span>
                </div>
              </div>
              <div
                class="subjectRow"
                *ngIf="
                  pdfBuilderConfigurationsForm.get('submittedOn').value ||
                  pdfBuilderConfigurationsForm.get('submittedBy').value ||
                  pdfBuilderConfigurationsForm.get('questionCompleted').value
                "
              >
                <div
                  class="w-33 f-s-8 submitted-by"
                  *ngIf="pdfBuilderConfigurationsForm.get('submittedOn').value"
                >
                  Submitted On: 3/18/23, 10:00 PM
                </div>
                <div
                  class="w-33 f-s-8"
                  *ngIf="pdfBuilderConfigurationsForm.get('submittedBy').value"
                >
                  Submitted By: {{ currentUserName }}
                </div>
                <div
                  class="w-33 f-s-8 tasks-completed"
                  *ngIf="
                    pdfBuilderConfigurationsForm.get('questionCompleted').value
                  "
                >
                  {{ 'taskCompleted' | translate }}: 35/35 (100%)
                </div>
              </div>
            </div>
            <div
              *ngIf="pdfBuilderConfigurationsForm.get('questions').value"
              class="issuesRow"
            >
              <div class="tasksHead">
                <span translate="questions"></span>
                <span *ngIf="data.moduleName !== 'RDF'">
                  <span
                    >Total Locations: {{ totalLocationsCount }}, Assets:
                    {{ totalAssetsCount }}, Tasks:
                    {{ totalQuestionsCount }}
                  </span>
                </span>
              </div>
              <div *ngIf="data.moduleName !== 'RDF'">
                <div class="actionCell" *ngIf="selectedFlatHierarchy">
                  <div
                    *ngFor="let node of selectedFlatHierarchy"
                    class="hierarchyNode"
                  >
                    <div class="hierarchyNodeHead">
                      <div class="nodeLeft">
                        <span class="nodeTitle">{{ node.name }}</span>
                        <span class="nodeId">
                          {{ node.type === 'asset' ? 'Asset' : 'Location' }} ID:
                          <span class="no-bold"
                            >{{ node.nodeId }} - {{ node.id }}</span
                          ></span
                        >
                      </div>
                      <div
                        class="nodeRight"
                        *ngIf="getPagesOfNode(node.id) | async as totalPages"
                      >
                        Pages: {{ totalPages.length }} • Sections:
                        {{ getSectionsCountByNode(totalPages) }} • Tasks:
                        {{ getAllQuestionsCountByNode(totalPages) }}
                      </div>
                    </div>
                    <div
                      class="hierarchyNodeContainer"
                      *ngIf="getPagesOfNode(node.id) | async as pages"
                    >
                      <ng-container
                        *ngTemplateOutlet="
                          pagesTemplate;
                          context: { pages: pages }
                        "
                      ></ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="data.moduleName === 'RDF'">
                <div class="actionCell">
                  <div
                    class="hierarchyNodeContainer"
                    *ngIf="getPagesOfNode(null) | async as pages"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        pagesTemplate;
                        context: { pages: pages }
                      "
                    ></ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="pageFooter">
              <ng-container
                *ngTemplateOutlet="
                  footerTemplate;
                  context: { footerData: null }
                "
              ></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #landingPageTemplate>
  <div id="content" #content class="pdfPage">
    <div class="pageHeader">
      <div
        class="tableHead-logo"
        *ngIf="pdfBuilderConfigurationsForm.get('logo').value"
      >
        <img [src]="innovapptiveLogo" class="tablelogo" />
      </div>
      <div class="p-15">
        <div
          class="formName"
          *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
        >
          {{ formMetadata.name }}
        </div>
        <div
          class="roundId"
          *ngIf="pdfBuilderConfigurationsForm.get('formId').value"
        >
          <b> Id:</b> {{ formMetadata.id }}
        </div>
      </div>

      <div>
        <b>Status:</b> &nbsp;
        <span id="submitted-color">Submitted</span>
      </div>
    </div>

    <div class="landingPageRow">
      <div class="tableHeading-text">
        <table class="landing-page-table">
          <tr class="bg-gray">
            <th>Description</th>
          </tr>
          <tr>
            <td>
              {{ formMetadata.description ? formMetadata.description : '' }}
            </td>
          </tr>
        </table>

        <h5>Summary</h5>
        <table class="landing-page-table">
          <tr class="bg-gray">
            <th>{{ 'plant' | translate }}</th>
            <th>Schedule</th>
            <th>Shift</th>
          </tr>
          <tr>
            <td>
              {{ ' ' + formMetadata.plant }}
            </td>
            <td>Weekly</td>
            <td>Shift A</td>
          </tr>
        </table>
        <br />

        <table
          class="landing-page-table"
          *ngIf="
            pdfBuilderConfigurationsForm.get('submittedOn').value ||
            pdfBuilderConfigurationsForm.get('submittedBy').value ||
            pdfBuilderConfigurationsForm.get('questionCompleted').value
          "
        >
          <tr class="bg-gray">
            <th>Due</th>
            <th *ngIf="pdfBuilderConfigurationsForm.get('submittedOn').value">
              Submitted On
            </th>
            <th *ngIf="pdfBuilderConfigurationsForm.get('submittedBy').value">
              Submitted By
            </th>
          </tr>
          <tr>
            <td>Feb 02, 2023 - 8:11 AM</td>
            <td>Weekly</td>
            <td>{{ currentUserName }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="pdfBuilderConfigurationsForm.get('issues').value">
        <h5>Issues Summary</h5>
        <table class="landing-page-table">
          <tr>
            <th id="issue-color">Issues Raised</th>
            <th class="resolved-color">Issues Resolved</th>
          </tr>
          <tr>
            <td>3</td>
            <td>0</td>
          </tr>
        </table>
      </div>
      <div *ngIf="pdfBuilderConfigurationsForm.get('actions').value">
        <h5>Actions Summary</h5>
        <table class="landing-page-table">
          <tr>
            <th id="action-color">Actions Raised</th>
            <th class="resolved-color">Actions Resolved</th>
          </tr>
          <tr>
            <td>3</td>
            <td>0</td>
          </tr>
        </table>
      </div>

      <div *ngIf="pdfBuilderConfigurationsForm.get('questionCompleted').value">
        <h5>{{ 'tasks' | translate }} Summary</h5>
        <table class="landing-page-table">
          <tr class="task-color">
            <th>Open</th>
            <th>Skipped</th>
            <th>Completed</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>50</td>
            <td>0</td>
            <td>0</td>
            <td>50</td>
          </tr>
        </table>
        <br />
        <br />

        <div>
          <table class="landing-page-table">
            <tr class="bg-gray">
              <th>{{ 'taskCompleted' | translate }} By</th>
              <th>Report Generated On</th>
              <th>Total Pages</th>
            </tr>
            <tr>
              <td>
                <ol>
                  <li>Kate Alexander</li>
                  <li>David April</li>
                  <li>Henry David</li>
                  <li>Mike Wills</li>
                </ol>
              </td>
              <td>Feb 02, 2023 - 8:11 AM</td>
              <td>6</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="pageFooter">
      <ng-container
        *ngTemplateOutlet="footerTemplate; context: { footerData: null }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #pagesTemplate let-pages="pages">
  <div *ngFor="let page of pages" class="pageContainer">
    <div class="nodePageHeader">
      <span class="nodePageTitle">{{ page.name }}</span>
      <span class="nodePageRight"
        >Sections: {{ page.sections.length }} • {{ 'tasks' | translate }}:
        {{ page.questions.length }}
      </span>
    </div>
    <div *ngFor="let section of getSectionsWithQuestionsOfPage(page)">
      <div class="pageSection">
        <div class="sectionHeadRow">
          <div class="sectionTitle">
            {{ section.name }}
          </div>
          <div class="sectionRight">
            {{ 'tasks' | translate }}: {{ section.questions.length }}
          </div>
        </div>
        <div class="sectionQuestionsContainer">
          <div *ngFor="let question of section.questions" class="questionRow">
            <app-question-preview
              [question]="question"
              [pdfConfigOptions]="pdfBuilderConfigurationsForm.value"
            ></app-question-preview>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #issuesTemplate let-formMetadata="formMetadata">
  <div id="content" #content class="pdfPage">
    <div class="pageHeader">
      <span
        class="formName-gray"
        *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
        >{{ formMetadata.name }}</span
      >
    </div>
    <div
      *ngIf="pdfBuilderConfigurationsForm.get('issues').value"
      class="issuesRow"
    >
      <div class="issuesHead">
        <span>Issues</span>
        <span>Raised: 3</span>
      </div>
      <div class="issueCell">
        <div class="issue">
          <div class="issueHead issueText">
            <span class="label issueText">Issue: </span>
            Oil Spillage from DC motor
          </div>
          <div class="issueBody">
            <div class="bg-yellow">
              <div class="issueRow">
                <span class="label"> Description: </span>
                <span class="description">
                  Oil spillage found on shop floor due to broken oil drainer.
                </span>
              </div>
              <div class="issueRow">
                <span class="label"> Asset : </span>
                <span class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="issueRow">
              <span class="label"> {{ 'question' | translate }}: </span>
              <span class="description"> Check water pressure. </span>
            </div>
            <div class="issueRow">
              <span class="label"> Value: </span>
              <span class="description"> 90 </span>
            </div>
            <div class="issueRow">
              <span class="label"> Assigned to: </span>
              <span class="description"> John, Krista, Marry, Alexander </span>
            </div>
            <div class="issueColumns">
              <div class="width-100">
                <div class="p-2">
                  <span class="label"> Raised By: </span>
                  <span class="description"> Aron </span>
                </div>
                <div class="p-2">
                  <span class="label"> Category: </span>
                  <span class="description"> Safety </span>
                </div>
                <div class="p-2">
                  <span class="label"> Due Date : </span>
                  <span class="description"> 3/25/23 </span>
                </div>
              </div>

              <div class="width-95">
                <div class="bg-yellow">
                  <div class="p-2">
                    <span class="label"> Priority: </span>
                    <span class="description"> High </span>
                  </div>
                  <div class="p-2">
                    <span class="label"> Status: </span>
                    <span class="description"> Open </span>
                  </div>
                </div>
                <div class="notification-position">
                  <span class="label"> Notification No: </span>
                  <span class="description"> 123456 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="issue">
          <div class="issueHead">
            <span class="label">Issue: </span>
            Pump - 100987 breakdown, production affected
          </div>
          <div class="issueBody">
            <div class="bg-yellow">
              <div class="issueRow">
                <span class="label"> Description: </span>
                <span class="description">
                  Pump - 100987 seal failure due to cavitation and the pump is
                  not functioning.
                </span>
              </div>
              <div class="issueRow">
                <span class="label"> Asset: </span>
                <span class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="issueRow">
              <span class="label"> {{ 'question' | translate }}: </span>
              <span class="description"> Check water pressure. </span>
            </div>
            <div class="issueRow">
              <span class="label"> Value: </span>
              <span class="description"> 90 </span>
            </div>
            <div class="issueRow">
              <span class="label"> Assigned to: </span>
              <span class="description"> John, Krista, Marry, Alexander </span>
            </div>
            <div class="issueColumns">
              <div class="width-100">
                <div class="p-2">
                  <span class="label"> Raised By: </span>
                  <span class="description"> Aron </span>
                </div>
                <div class="p-2">
                  <span class="label"> Category: </span>
                  <span class="description"> Safety </span>
                </div>
                <div class="p-2">
                  <span class="label"> Due Date : </span>
                  <span class="description"> 3/25/23 </span>
                </div>
              </div>

              <div class="width-95">
                <div class="bg-yellow">
                  <div class="p-2">
                    <span class="label"> Priority: </span>
                    <span class="description"> High </span>
                  </div>
                  <div class="p-2">
                    <span class="label"> Status: </span>
                    <span class="description"> Open </span>
                  </div>
                </div>
                <div class="notification-position p-2">
                  <span class="label"> Notification No: </span>
                  <span class="description"> 123456 </span>
                </div>
              </div>
            </div>
            <div class="imagesContainer">
              <img
                [src]="image"
                *ngFor="let image of dummyImages"
                class="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter">
      <ng-container
        *ngTemplateOutlet="footerTemplate; context: { footerData: null }"
      ></ng-container>
    </div>
  </div>
</ng-template>
<ng-template #actionsTemplate let-formMetadata="formMetadata">
  <div id="content" #content class="pdfPage">
    <div class="pageHeader">
      <span
        class="formName-gray"
        *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
        >{{ formMetadata.name }}</span
      >
    </div>
    <div *ngIf="!pdfBuilderConfigurationsForm.get('issues').value">
      <div class="pageTitleRow">
        <div
          class="tableHead-logo"
          *ngIf="pdfBuilderConfigurationsForm.get('logo').value"
        >
          <img [src]="innovapptiveLogo" class="tablelogo" />
        </div>
        <div class="tableHeading-text">
          <span
            class="name"
            *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
            >{{ formMetadata.name }}</span
          >
          <span class="discribe">{{
            formMetadata.description ? formMetadata.description : ''
          }}</span>
        </div>
      </div>
      <div
        class="subjectRow"
        *ngIf="
          pdfBuilderConfigurationsForm.get('submittedOn').value ||
          pdfBuilderConfigurationsForm.get('submittedBy').value ||
          pdfBuilderConfigurationsForm.get('questionCompleted').value
        "
      >
        <div
          class="w-33 f-s-8"
          *ngIf="pdfBuilderConfigurationsForm.get('submittedOn').value"
        >
          Submitted On: 3/18/23, 10:00 PM
        </div>
        <div
          class="w-33 f-s-8"
          *ngIf="pdfBuilderConfigurationsForm.get('submittedBy').value"
        >
          Submitted By: {{ currentUserName }}
        </div>
        <div
          class="w-33 f-s-8"
          *ngIf="pdfBuilderConfigurationsForm.get('questionCompleted').value"
        >
          Tasks Completed: 35/35 (100%)
        </div>
      </div>
    </div>
    <div
      *ngIf="pdfBuilderConfigurationsForm.get('actions').value"
      class="issuesRow"
    >
      <div class="actionsHead">
        <span>Actions</span>
        <span>Raised: 3</span>
      </div>
      <div class="actionCell">
        <div class="action">
          <div class="actionHead">
            <span class="label">Action: </span>
            Please check the bearings of the motor of Equipment 1667229.
          </div>
          <div class="actionBody">
            <div class="bg-yellow">
              <div class="actionRow">
                <span class="label"> Description: </span>
                <span class="description">
                  Bearing of the motor has worn out and needs to be replaced
                </span>
              </div>
              <div class="actionRow">
                <span class="label"> Asset : </span>
                <span class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="actionRow">
              <span class="label"> {{ 'question' | translate }}: </span>
              <span class="description"> Check water pressure. </span>
            </div>
            <div class="actionRow">
              <span class="label"> Value: </span>
              <span class="description"> 90 </span>
            </div>
            <div class="actionRow">
              <span class="label"> Assigned to: </span>
              <span class="description"> John, Krista, Marry, Alexander </span>
            </div>

            <div class="actionColumns">
              <div class="width-50">
                <div class="p-2">
                  <span class="label"> Raised By: </span>
                  <span class="description"> Aron </span>
                </div>
                <div class="p-2">
                  <span class="label"> Due Date : </span>
                  <span class="description"> 3/25/23 </span>
                </div>
              </div>

              <div class="bg-yellow width-100">
                <div class="p-2">
                  <span class="label"> Priority: </span>
                  <span class="description"> High </span>
                </div>
                <div class="p-2">
                  <span class="label"> Status: </span>
                  <span class="description"> Open </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="action">
          <div class="actionHead">
            <span class="label">Action: </span>
            Greasing required on the conveyor belt - 2A
          </div>
          <div class="actionBody">
            <div class="bg-yellow">
              <div class="actionRow">
                <span class="label"> Description: </span>
                <span class="description">
                  Belt is not running smoothly and belt speed has been reduced
                  due to low greasing. Please inspect and fix it on priority
                </span>
              </div>
              <div class="actionRow">
                <span class="label"> Asset: </span>
                <span class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="actionRow">
              <span class="label"> {{ 'question' | translate }}: </span>
              <span class="description"> Check water pressure. </span>
            </div>
            <div class="actionRow">
              <span class="label"> Value: </span>
              <span class="description"> 90 </span>
            </div>
            <div class="actionRow">
              <span class="label"> Assigned to: </span>
              <span class="description"> John, Krista, Marry, Alexander </span>
            </div>
            <div class="actionColumns">
              <div class="width-50">
                <div class="p-2">
                  <span class="label"> Raised By: </span>
                  <span class="description"> Aron </span>
                </div>
                <div class="p-2">
                  <span class="label"> Due Date : </span>
                  <span class="description"> 3/25/23 </span>
                </div>
              </div>

              <div class="bg-yellow width-100">
                <div class="p-2">
                  <span class="label"> Priority: </span>
                  <span class="description"> High </span>
                </div>
                <div class="p-2">
                  <span class="label"> Status: </span>
                  <span class="description"> Open </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter">
      <ng-container
        *ngTemplateOutlet="footerTemplate; context: { footerData: null }"
      ></ng-container>
    </div>
  </div>
</ng-template>
<ng-template #footerTemplate let-footerData="footerData">
  <div class="w-33">
    <span
      class="generatedDate"
      *ngIf="pdfBuilderConfigurationsForm.get('pdfGeneratedDate').value"
      >{{ getCurrentDate() }}</span
    >
  </div>
  <div class="w-33 poweredBy">
    <span class="poweredByText">Powered By</span>
    <svg-icon icon="icon-innova-big" class="footerLogo"></svg-icon>
  </div>
  <div class="w-33">
    <span
      class="customText"
      *ngIf="
        pdfBuilderConfigurationsForm.get('customText').value &&
        pdfBuilderConfigurationsFormCustomText.get('customTextField').value &&
        pdfBuilderConfigurationsFormCustomText.get('customTextLabel').value
      "
    >
      {{ pdfBuilderConfigurationsFormCustomText.get('customTextLabel').value }}:
      {{ pdfBuilderConfigurationsFormCustomText.get('customTextField').value }}
    </span>
  </div>
</ng-template>
