<div
  class="pdfBuilder-dialog"
  *ngIf="{
    authoredFormDetail: authoredFormDetail$ | async,
    formMetadata: formMetadata$ | async,
    formSaveStatus: formSaveStatus$ | async,
    formDetailPublishStatus: formDetailPublishStatus$ | async
  } as props"
>
  <div class="dialogContainer">
    <div class="left">
      <h2
        id="pdfBuilderConfig"
        class="configHead"
        translate="configuration"
        *ngIf="loadPDFBuilderConfig$ | async"
      ></h2>
      <div class="configOptions" [formGroup]="pdfBuilderConfigurationsForm">
        <span class="selectAll">
          <mat-checkbox
            (change)="toggleSelectAll($event)"
            [indeterminate]="isSelectAllIndeterminate()"
          >
            <span translate="selectAll"></span>
          </mat-checkbox>
        </span>
        <div class="group">
          <span
            id="pdfBuilderSummaryPage"
            class="groupHead"
            translate="summaryPage"
          ></span>
          <span class="option">
            <mat-checkbox formControlName="logo" class="checkbox">
              <span id="pdfBuilderLogo" translate="logo"></span>
            </mat-checkbox>
          </span>
        </div>
        <div class="group">
          <span
            id="pdfBuilderFooter"
            class="groupHead"
            translate="footer"
          ></span>
          <span class="option">
            <mat-checkbox formControlName="customText" class="checkbox">
              <span id="pdfBuilderCustomText" translate="customText"></span>
            </mat-checkbox>
            <div class="customText">
              <div
                [formGroup]="pdfBuilderConfigurationsFormCustomText"
                class="customField"
              >
                <mat-form-field class="field" appearance="outline">
                  <mat-label id="pdfBuilderLabel" translate="label"></mat-label>
                  <input
                    id="pdfBuilderLabelText"
                    matInput
                    formControlName="customTextLabel"
                    maxlength="25"
                  />
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                  <mat-label id="pdfBuilderField" translate="field"></mat-label>
                  <input
                    id="pdfBuilderFieldText"
                    matInput
                    formControlName="customTextField"
                    maxlength="25"
                  />
                </mat-form-field>
              </div>
            </div>
          </span>
        </div>
        <div class="group">
          <span
            id="pdfBuilderBodyContent"
            class="groupHead"
            translate="bodyContent"
          ></span>
          <span class="option">
            <mat-checkbox
              formControlName="actions"
              class="checkbox bottomBorder"
            >
              <span id="pdfBuilderAction" translate="actions"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox
              formControlName="issues"
              class="checkbox bottomBorder"
            >
              <span id="pdfBuilderIssues" translate="issues"></span>
            </mat-checkbox>
          </span>
          <span class="option">
            <mat-checkbox
              formControlName="photos"
              class="checkbox bottomBorder"
              (change)="toggleQuestionPhotos($event)"
            >
              <span id="pdfBuilderPhotos" translate="photos"></span>
            </mat-checkbox>
          </span>

          <span
            class="option"
            class="checkbox bottomBorder questions"
            [ngClass]="{ indeterminate: areQuestionsIndeterminate() }"
            (click)="toggleAllQuestions($event)"
          >
            <span
              id="pdfBuilderQuestions"
              *ngIf="moduleName === raceDynamicForms"
              translate="question"
            ></span>
            <span
              id="pdfBuilderTask"
              *ngIf="moduleName !== raceDynamicForms"
              translate="tasks"
            ></span>
          </span>

          <span class="option m-l-50">
            <mat-checkbox
              formControlName="incompleteQuestions"
              class="checkbox bottomBorder"
              (change)="toggleIncompleteQuestions($event)"
            >
              <span
                id="pdfBuilderIncompleteTasks"
                translate="incompleteTasks"
              ></span>
            </mat-checkbox>
          </span>

          <span class="option m-l-50">
            <mat-checkbox
              formControlName="skippedQuestions"
              class="checkbox bottomBorder"
              (change)="toggleSkippedQuestions($event)"
            >
              <span id="pdfBuilderSkippedTask" translate="skippedTasks"></span>
            </mat-checkbox>
          </span>

          <span class="option m-l-50">
            <mat-checkbox
              formControlName="completedQuestions"
              class="checkbox bottomBorder"
              [indeterminate]="areCompletedQuestionsIndeterminate()"
              (change)="toggleCompletedQuestions($event)"
            >
              <span
                id="pdfBuilderCompleteTasks"
                translate="completedTasks"
              ></span>
            </mat-checkbox>
          </span>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="view">
        <span
          id="pdfBuilderPreviewText"
          class="pdf-head"
          translate="pdfPreviewTxt"
        ></span>
        <div class="form-status">
          <div
            id="pdfBuilderChangesSaved"
            class="save-status"
            [hidden]="
              props.formSaveStatus !== formConfigurationStatus.saved ||
              props.authoredFormDetail.isFormDetailPublished
            "
          >
            {{ 'changesSaved' | translate }}
          </div>
          <div
            id="pdfBuilderSavingChanges"
            class="save-status"
            [hidden]="
              props.formSaveStatus !== formConfigurationStatus.saving ||
              props.authoredFormDetail.isFormDetailPublished
            "
          >
            {{ 'savingChanges' | translate }}
          </div>
          <div
            id="pdfBuilderChangesPublished"
            class="save-status"
            [hidden]="
              formDetailPublishStatus !== formConfigurationStatus.published ||
              formStatus !== formConfigurationStatus.published
            "
          >
            {{ 'changesPublished' | translate }}
          </div>
          <div
            id="pdfBuilderPublishingChanges"
            class="save-status"
            [hidden]="
              formDetailPublishStatus !== formConfigurationStatus.publishing ||
              !props.authoredFormDetail.isFormDetailPublished
            "
          >
            {{ 'publishingChanges' | translate }}
          </div>
          <button
            id="pdfBuilderPublishBtn"
            mat-raised-button
            class="publish-btn"
            (click)="publish()"
            [disabled]="
              formStatus === 'Published' ||
              props.authoredFormDetail.isFormDetailPublished ||
              (getAssetsLocationsTasksAdded && moduleName !== raceDynamicForms)
            "
          >
            <span>
              <svg-icon
                id="pdfBuilderPublishIcon"
                icon="icon-upload-white"
                class="publish-btn-icon"
              ></svg-icon>
              <span
                id="pdfBuilderPublishText"
                class="publish"
                translate="publishBtn"
              ></span>
            </span>
          </button>
        </div>
      </div>
      <div *ngIf="formMetadata$ | async as formMetadata" class="pdf-container">
        <!-- LANDING PAGE -->
        <div id="myPDF" class="pdfPageContainer" #myPDF>
          <ng-container
            *ngTemplateOutlet="
              landingPageTemplate;
              context: { formMetadata: formMetadata }
            "
          ></ng-container>
        </div>
        <!-- ISSUES -->
        <div
          id="myPDF"
          class="pdfPageContainer"
          #myPDF
          *ngIf="pdfBuilderConfigurationsForm.get('issues').value"
        >
          <ng-container
            *ngTemplateOutlet="
              issuesTemplate;
              context: { formMetadata: formMetadata }
            "
          ></ng-container>
        </div>
        <!-- ACTIONS -->
        <div
          id="myPDF"
          class="pdfPageContainer"
          #myPDF
          *ngIf="pdfBuilderConfigurationsForm.get('actions').value"
        >
          <ng-container
            *ngTemplateOutlet="
              actionsTemplate;
              context: { formMetadata: formMetadata }
            "
          ></ng-container>
        </div>
        <!-- TASKS -->
        <div
          id="myPDF"
          class="pdfPageContainer"
          #myPDF
          *ngIf="pdfBuilderConfigurationsForm.get('questions').value"
        >
          <div id="content" #content class="pdfPage">
            <div class="pageHeader">
              <span
                id="pdfBuilderName"
                class="formName-gray"
                *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
                >{{ formMetadata?.name }}</span
              >
            </div>
            <div
              *ngIf="
                !(
                  pdfBuilderConfigurationsForm.get('issues').value &&
                  pdfBuilderConfigurationsForm.get('issues').value
                )
              "
            >
              <div class="pageTitleRow">
                <div
                  class="tableHead-logo"
                  *ngIf="pdfBuilderConfigurationsForm.get('logo').value"
                >
                  <img
                    id="pdfBuilderLogo"
                    [src]="innovapptiveLogo"
                    class="tablelogo"
                  />
                </div>
                <div class="tableHeading-text">
                  <span
                    id="pdfBuilderFormTitle"
                    class="name"
                    *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
                    >{{ formMetadata?.name }}</span
                  >
                  <span id="pdfBuilderFormDes" class="discribe">{{
                    formMetadata?.description ? formMetadata?.description : '--'
                  }}</span>
                </div>
              </div>
              <div
                class="subjectRow"
                *ngIf="
                  pdfBuilderConfigurationsForm.get('submittedOn').value ||
                  pdfBuilderConfigurationsForm.get('submittedBy').value ||
                  pdfBuilderConfigurationsForm.get('questionCompleted').value
                "
              >
                <div
                  id="pdfBuilderSubmittedOn"
                  class="w-33 f-s-8 submitted-by"
                  *ngIf="pdfBuilderConfigurationsForm.get('submittedOn').value"
                >
                  Submitted On: 3/18/23, 10:00 PM
                </div>
                <div
                  id="pdfBuilderSubmittedBy"
                  class="w-33 f-s-8"
                  *ngIf="pdfBuilderConfigurationsForm.get('submittedBy').value"
                >
                  Submitted By: {{ currentUserName }}
                </div>
                <div
                  id="pdfBuilderTaskCompleted"
                  class="w-33 f-s-8 tasks-completed"
                  *ngIf="
                    pdfBuilderConfigurationsForm.get('questionCompleted').value
                  "
                >
                  {{ 'taskCompleted' | translate }}: 35/35 (100%)
                </div>
              </div>
            </div>
            <div
              *ngIf="pdfBuilderConfigurationsForm.get('questions').value"
              class="issuesRow"
            >
              <div class="tasksHead">
                <span id="pdfBuilderQuestionsText" translate="questions"></span>
                <span *ngIf="moduleName !== raceDynamicForms">
                  <span id="pdfBuilderAssetLocCount"
                    >Total Locations: {{ totalLocationsCount }}, Assets:
                    {{ totalAssetsCount }}, Tasks:
                    {{ totalQuestionsCount }}
                  </span>
                </span>
              </div>
              <div *ngIf="moduleName !== raceDynamicForms">
                <div class="actionCell" *ngIf="selectedFlatHierarchy">
                  <div
                    *ngFor="let node of selectedFlatHierarchy"
                    class="hierarchyNode"
                  >
                    <div class="hierarchyNodeHead">
                      <div class="nodeLeft">
                        <span id="pdfBuilderNodeName" class="nodeTitle">{{
                          node.name
                        }}</span>
                        <span id="pdfBuilderNodeId" class="nodeId">
                          {{ node.type === 'asset' ? 'Asset' : 'Location' }} ID:
                          <span id="pdfBuilderIdText" class="no-bold"
                            >{{ node.nodeId }} - {{ node.id }}</span
                          ></span
                        >
                      </div>
                      <div
                        id="pdfBuilderPagesSec"
                        class="nodeRight"
                        *ngIf="getPagesOfNode(node.id) | async as totalPages"
                      >
                        Pages: {{ totalPages.length }} • Sections:
                        {{ getSectionsCountByNode(totalPages) }} • Tasks:
                        {{ getAllQuestionsCountByNode(totalPages) }}
                      </div>
                    </div>
                    <div
                      class="hierarchyNodeContainer"
                      *ngIf="getPagesOfNode(node.id) | async as pages"
                    >
                      <ng-container
                        *ngTemplateOutlet="
                          pagesTemplate;
                          context: { pages: pages }
                        "
                      ></ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="moduleName === raceDynamicForms">
                <div class="actionCell">
                  <div
                    class="hierarchyNodeContainer"
                    *ngIf="getPagesOfNode(null) | async as pages"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        pagesTemplate;
                        context: { pages: pages }
                      "
                    ></ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="pageFooter">
              <ng-container
                *ngTemplateOutlet="
                  footerTemplate;
                  context: { footerData: null }
                "
              ></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #landingPageTemplate>
  <div id="content" #content class="pdfPage">
    <div class="pageHeader">
      <div
        class="tableHead-logo"
        *ngIf="pdfBuilderConfigurationsForm.get('logo').value"
      >
        <img
          id="pdfBuilderLandingPageLogo"
          [src]="innovapptiveLogo"
          class="tablelogo"
        />
      </div>
      <div class="p-15">
        <div
          id="pdfBuilderLandingName"
          class="formName"
          *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
        >
          {{ formMetadata?.name }}
        </div>
        <div
          id="pdfBuilderLandinfId"
          class="roundId"
          *ngIf="pdfBuilderConfigurationsForm.get('formId').value"
        >
          <b> Id:</b> {{ formMetadata?.id }}
        </div>
      </div>

      <div>
        <b id="pdfBuilderActionStatus" translate="actionStatus"></b> &nbsp;
        <span id="pdfBuilderLandingSubmitted" id="submitted-color"
          >Submitted</span
        >
      </div>
    </div>

    <div class="landingPageRow">
      <div class="tableHeading-text waterMark">
        <table class="landing-page-table">
          <tr class="bg-gray">
            <th id="pdfBuilderLandingDes" translate="des"></th>
          </tr>
          <tr>
            <td id="pdfBuilderLandingDesText">
              {{ formMetadata?.description ? formMetadata?.description : '--' }}
            </td>
          </tr>
        </table>

        <h5 id="pdfBuilderSummary" translate="summary"></h5>
        <table class="landing-page-table">
          <tr class="bg-gray">
            <th id="pdfBuilderLandingPlant" class="width-35">
              {{ 'plant' | translate }}
            </th>
            <th
              id="pdfBuilderLandinfSchedule"
              class="width-35"
              translate="schedule"
            ></th>
            <th
              id="pdfBuilderLandingShift"
              class="width-35"
              translate="shift"
            ></th>
          </tr>
          <tr>
            <td id="pdfBuilderLandingPlantName">
              {{ ' ' + formMetadata?.plant }}
            </td>
            <td id="pdfBuilderLandingWeekly">Weekly</td>
            <td id="pdfBuilderSHiftType">Shift A</td>
          </tr>
        </table>
        <br />

        <table
          class="landing-page-table"
          *ngIf="
            pdfBuilderConfigurationsForm.get('submittedOn').value ||
            pdfBuilderConfigurationsForm.get('submittedBy').value ||
            pdfBuilderConfigurationsForm.get('questionCompleted').value
          "
        >
          <tr class="bg-gray">
            <th id="pdfBuilderDue" class="width-35" translate="due"></th>
            <th
              id="pdfBuilderLandingSubmittedOn"
              class="width-35"
              *ngIf="pdfBuilderConfigurationsForm.get('submittedOn').value"
              translate="submittedOn"
            ></th>
            <th
              id="pdfBuilderLandinfSubmittedBy"
              class="width-35"
              *ngIf="pdfBuilderConfigurationsForm.get('submittedBy').value"
              translate="submittedBy"
            ></th>
          </tr>
          <tr>
            <td id="pdfBuilderDueText">Feb 02, 2023 - 8:11 AM</td>
            <td id="pdfBuilderSubmittedOnText">Feb 02, 2023 - 8:11 AM</td>
            <td id="pdfBuilderSubmittedByText">{{ currentUserName }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="pdfBuilderConfigurationsForm.get('issues').value">
        <h5 id="pdfBuilderIssueSummary" translate="issuesSummary"></h5>
        <table class="landing-page-table">
          <tr>
            <th id="issue-color" translate="issuesRaised"></th>
            <th
              id="pdfBuilderIssueResolved"
              class="resolved-color"
              translate="issuesResolved"
            ></th>
          </tr>
          <tr>
            <td id="pdfBuilderIsssueRaised">3</td>
            <td id="pdfBuilderIssueResolvedText">0</td>
          </tr>
        </table>
      </div>
      <div *ngIf="pdfBuilderConfigurationsForm.get('actions').value">
        <h5 id="pdfBuilderActionSummary" translate="actionsSummary"></h5>
        <table class="landing-page-table">
          <tr>
            <th
              id="pdfBuilderActionRaised"
              id="action-color"
              translate="actionsRaised"
            ></th>
            <th
              id="pdfBuilderActionResolved"
              class="resolved-color"
              translate="actionsResolved"
            ></th>
          </tr>
          <tr>
            <td id="pdfBuilderActionRaisedText">3</td>
            <td id="pdfBuilderActionResolvedText">0</td>
          </tr>
        </table>
      </div>

      <div *ngIf="pdfBuilderConfigurationsForm.get('questionCompleted').value">
        <h5 id="pdfBuilderTaskSummary">{{ 'tasks' | translate }} Summary</h5>
        <table class="landing-page-table">
          <tr class="task-color">
            <th id="pdfBuilderOpen" translate="open"></th>
            <th id="pdfBuilderSkipped" translate="skipped"></th>
            <th id="pdfBuilderCompleted" translate="completed"></th>
            <th id="pdfBuilderTotal" translate="total"></th>
          </tr>
          <tr>
            <td id="pdfBuilderOpenText">50</td>
            <td id="pdfBuilderSkippedText">0</td>
            <td id="pdfBuilderCompletedText">0</td>
            <td id="pdfBuilderTotalText">50</td>
          </tr>
        </table>
        <br />
        <br />

        <div>
          <table class="landing-page-table">
            <tr class="bg-gray">
              <th id="pdfBuilderTaskCompletedText">
                {{ 'taskCompleted' | translate }} By
              </th>
              <th
                id="pdfBuilderReportGeneratedOn"
                translate="reportGeneratedOn"
              ></th>
            </tr>
            <tr>
              <td>
                <ol class="p-0 m-0">
                  <li id="pdfBuilderNameOne">1. Kate Alexander</li>
                  <li id="pdfBuilderNameTwo">2. David April</li>
                  <li id="pdfBuilderNameThree">3. Henry David</li>
                  <li id="pdfBuilderNameFour">4. Mike Wills</li>
                </ol>
              </td>
              <td id="pdfBuilderReportDate" class="report-alignment">
                Feb 02, 2023 - 8:11 AM
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="pageFooter">
      <ng-container
        *ngTemplateOutlet="footerTemplate; context: { footerData: null }"
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #pagesTemplate let-pages="pages">
  <div *ngFor="let page of pages" class="pageContainer">
    <div class="nodePageHeader">
      <span id="pdfBuilderPageName" class="nodePageTitle">{{ page.name }}</span>
      <span id="pdfBuilderPageSection" class="nodePageRight"
        >Sections: {{ page.sections.length }} • {{ 'tasks' | translate }}:
        {{ page.questions.length }}
      </span>
    </div>
    <div *ngFor="let section of getSectionsWithQuestionsOfPage(page)">
      <div class="pageSection">
        <div class="sectionHeadRow">
          <div id="pdfBuilderSectionName" class="sectionTitle">
            {{ section.name }}
          </div>
          <div id="pdfBuilderTaskLength" class="sectionRight">
            {{ 'tasks' | translate }}: {{ section.questions.length }}
          </div>
        </div>
        <div class="sectionQuestionsContainer">
          <div *ngFor="let question of section.questions" class="questionRow">
            <app-question-preview
              [question]="question"
              [pdfConfigOptions]="pdfBuilderConfigurationsForm.value"
            ></app-question-preview>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #issuesTemplate let-formMetadata="formMetadata">
  <div id="content" #content class="pdfPage">
    <div class="pageHeader">
      <span
        id="pdfBuilderFormName"
        class="formName-gray"
        *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
        >{{ formMetadata?.name }}</span
      >
    </div>
    <div
      *ngIf="pdfBuilderConfigurationsForm.get('issues').value"
      class="issuesRow"
    >
      <div class="issuesHead">
        <span id="pdfBuilderIssuesHeading">Issues</span>
        <span id="pdfBuilderRaisedCount">Raised: 3</span>
      </div>
      <div class="issueCell">
        <div class="issue">
          <div id="pdfBuilderIssuesText" class="issueHead issueText">
            <span id="pdfBuilderIssuesHeading" class="label issueText"
              >Issue:
            </span>
            Oil Spillage from DC motor
          </div>
          <div class="issueBody">
            <div class="bg-yellow">
              <div class="issueRow">
                <span id="pdfBuilderIssuesDes" class="label">
                  Description:
                </span>
                <span id="pdfBuilderIssuesDesText" class="description">
                  Oil spillage found on shop floor due to broken oil drainer.
                </span>
              </div>
              <div class="issueRow">
                <span id="pdfBuilderAsset" class="label"> Asset : </span>
                <span id="pdfBuilderAssetDes" class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="issueRow">
              <span id="pdfBuilderIssueHeading" class="label">
                {{ 'question' | translate }}:
              </span>
              <span id="pdfBuilderIssuesQuesText" class="description">
                Check water pressure.
              </span>
            </div>
            <div class="issueRow">
              <span id="pdfBuilderIssueValue" class="label"> Value: </span>
              <span id="pdfBuilderIssueValueText" class="description">
                90
              </span>
            </div>
            <div class="issueRow">
              <span id="pdfBuilderIssueAssigned" class="label">
                Assigned to:
              </span>
              <span id="pdfBuilderIssueAssignName" class="description">
                John, Krista, Marry, Alexander
              </span>
            </div>
            <div class="issueColumns">
              <div class="width-100">
                <div class="p-5">
                  <span id="pdfBuilderIssueRaiseBy" class="label">
                    Raised By:
                  </span>
                  <span id="pdfBuilderRaiseDes" class="description">
                    Aron
                  </span>
                </div>
                <div class="p-5">
                  <span id="pdfBuilderIssueStatus" class="label">
                    Status:
                  </span>
                  <span
                    id="pdfBuilderIssueStatusText"
                    class="description status-color"
                  >
                    Open
                  </span>
                </div>
                <div class="p-5">
                  <span id="pdfBuilderDueDate" class="label"> Due Date : </span>
                  <span id="pdfBuilderDueDateDes" class="description">
                    3/25/23
                  </span>
                </div>
              </div>

              <div class="width-95">
                <div class="bg-yellow">
                  <div class="p-5">
                    <span id="pdfBuilderPriority" class="label">
                      Priority:
                    </span>
                    <span
                      id="pdfBuilderPriorityDes"
                      class="description priority-color"
                    >
                      High
                    </span>
                  </div>
                  <div class="p-5">
                    <span id="pdfBuilderCateory" class="label">
                      Category:
                    </span>
                    <span id="pdfBuilderCateoryDes" class="description">
                      Safety
                    </span>
                  </div>
                </div>
                <div class="notification-position">
                  <span id="pdfBuilderNotification" class="label">
                    Notification No:
                  </span>
                  <span id="pdfBuilderNotificationDes" class="description">
                    123456
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="issue">
          <div class="issueHead">
            <span id="pdfBuilderIssue" class="label">Issue: </span>
            Pump - 100987 breakdown, production affected
          </div>
          <div class="issueBody">
            <div class="bg-yellow">
              <div class="issueRow">
                <span id="issueDescription" class="label"> Description: </span>
                <span id="issueDesText" class="description">
                  Pump - 100987 seal failure due to cavitation and the pump is
                  not functioning.
                </span>
              </div>
              <div class="issueRow">
                <span id="issueAsset" class="label"> Asset: </span>
                <span id="issueAssetDes" class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="issueRow">
              <span id="issueQuestion" class="label">
                {{ 'question' | translate }}:
              </span>
              <span id="issueQuestionDes" class="description">
                Check water pressure.
              </span>
            </div>
            <div class="issueRow">
              <span id="issueValue" class="label"> Value: </span>
              <span id="issueValueDes" class="description"> 90 </span>
            </div>
            <div class="issueRow">
              <span id="issueAssignTo" class="label"> Assigned to: </span>
              <span id="issueAssignToName" class="description">
                John, Krista, Marry, Alexander
              </span>
            </div>
            <div class="issueColumns">
              <div class="width-100">
                <div class="p-5">
                  <span id="issueRaiseBy" class="label"> Raised By: </span>
                  <span id="issueRaiseByDes" class="description"> Aron </span>
                </div>
                <div class="p-5">
                  <span id="issueStatus" class="label"> Status: </span>
                  <span id="issueStatusText" class="description status-color">
                    Open
                  </span>
                </div>
                <div class="p-5">
                  <span id="issueDueDate" class="label"> Due Date : </span>
                  <span id="issueDueDateDes" class="description">
                    3/25/23
                  </span>
                </div>
              </div>

              <div class="width-95">
                <div class="bg-yellow">
                  <div class="p-5">
                    <span id="issuePriority" class="label"> Priority: </span>
                    <span
                      id="issuePriorityHigh"
                      class="description priority-color"
                    >
                      High
                    </span>
                  </div>
                  <div class="p-5">
                    <span id="issueCategory" class="label"> Category: </span>
                    <span id="issueCategoryText" class="description">
                      Safety
                    </span>
                  </div>
                </div>
                <div class="notification-position p-5">
                  <span id="issueNotif" class="label"> Notification No: </span>
                  <span id="issueNotifDes" class="description"> 123456 </span>
                </div>
              </div>
            </div>
            <div class="imagesContainer">
              <img
                [src]="image"
                *ngFor="let image of dummyImages"
                class="image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter">
      <ng-container
        *ngTemplateOutlet="footerTemplate; context: { footerData: null }"
      ></ng-container>
    </div>
  </div>
</ng-template>
<ng-template #actionsTemplate let-formMetadata="formMetadata">
  <div id="content" #content class="pdfPage">
    <div class="pageHeader">
      <span
        id="pdfBuilderActionName"
        class="formName-gray"
        *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
        >{{ formMetadata?.name }}</span
      >
    </div>
    <div *ngIf="!pdfBuilderConfigurationsForm.get('issues').value">
      <div class="pageTitleRow">
        <div
          class="tableHead-logo"
          *ngIf="pdfBuilderConfigurationsForm.get('logo').value"
        >
          <img
            id="pdfBuilderActionLogo"
            [src]="innovapptiveLogo"
            class="tablelogo"
          />
        </div>
        <div class="tableHeading-text">
          <span
            id="pdfBuilderActionFormtitle"
            class="name"
            *ngIf="pdfBuilderConfigurationsForm.get('formTitle').value"
            >{{ formMetadata?.name }}</span
          >
          <span id="pdfBuilderActionDes" class="discribe">{{
            formMetadata?.description ? formMetadata?.description : '--'
          }}</span>
        </div>
      </div>
      <div
        class="subjectRow"
        *ngIf="
          pdfBuilderConfigurationsForm.get('submittedOn').value ||
          pdfBuilderConfigurationsForm.get('submittedBy').value ||
          pdfBuilderConfigurationsForm.get('questionCompleted').value
        "
      >
        <div
          id="pdfBuilderActionSubmittedOn"
          class="w-33 f-s-8"
          *ngIf="pdfBuilderConfigurationsForm.get('submittedOn').value"
        >
          Submitted On: 3/18/23, 10:00 PM
        </div>
        <div
          id="pdfBuilderActionSubmittedBy"
          class="w-33 f-s-8"
          *ngIf="pdfBuilderConfigurationsForm.get('submittedBy').value"
        >
          Submitted By: {{ currentUserName }}
        </div>
        <div
          id="pdfBuilderActionCompleted"
          class="w-33 f-s-8"
          *ngIf="pdfBuilderConfigurationsForm.get('questionCompleted').value"
        >
          Tasks Completed: 35/35 (100%)
        </div>
      </div>
    </div>
    <div
      *ngIf="pdfBuilderConfigurationsForm.get('actions').value"
      class="issuesRow"
    >
      <div class="actionsHead">
        <span id="pdfBuilderActionHeading">Actions</span>
        <span id="pdfBuilderActionsRaised">Raised: 3</span>
      </div>
      <div class="actionCell">
        <div class="action">
          <div id="pdfBuilderActionText" class="actionHead">
            <span class="label">Action: </span>
            Please check the bearings of the motor of Equipment 1667229.
          </div>
          <div class="actionBody">
            <div class="bg-yellow">
              <div class="actionRow">
                <span id="pdfBuilderActionDesHeading" class="label">
                  Description:
                </span>
                <span id="pdfBuilderActionDesText" class="description">
                  Bearing of the motor has worn out and needs to be replaced
                </span>
              </div>
              <div class="actionRow">
                <span id="pdfBuilderActionAsset" class="label"> Asset : </span>
                <span id="pdfBuilderActionAssetText" class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="actionRow">
              <span id="pdfBuilderActionQuestion" class="label">
                {{ 'question' | translate }}:
              </span>
              <span id="pdfBuilderActionDes" class="description">
                Check water pressure.
              </span>
            </div>
            <div class="actionRow">
              <span id="pdfBuilderActionValue" class="label"> Value: </span>
              <span id="pdfBuilderActionValueText" class="description">
                90
              </span>
            </div>
            <div class="actionRow">
              <span id="pdfBuilderActionAssign" class="label">
                Assigned to:
              </span>
              <span id="pdfBuilderActionAssignName" class="description">
                John, Krista, Marry, Alexander
              </span>
            </div>

            <div class="actionColumns">
              <div class="width-50">
                <div class="p-5">
                  <span id="pdfBuilderActionRaisedBy" class="label">
                    Raised By:
                  </span>
                  <span id="pdfBuilderActionRaisedByText" class="description">
                    Aron
                  </span>
                </div>
                <div class="p-5">
                  <span id="pdfBuilderActionDueDate" class="label">
                    Due Date :
                  </span>
                  <span id="pdfBuilderActionDueDateText" class="description">
                    3/25/23
                  </span>
                </div>
                <div class="p-5">
                  <span id="pdfBuilderActionStatusHeading" class="label">
                    Status:
                  </span>
                  <span
                    id="pdfBuilderActionStatusText"
                    class="description status-color"
                  >
                    Open
                  </span>
                </div>
              </div>

              <div class="bg-yellow width-100">
                <div class="p-5">
                  <span id="pdfBuilderActionPriority" class="label">
                    Priority:
                  </span>
                  <span
                    id="pdfBuilderActionPriorityText"
                    class="description priority-color"
                  >
                    High
                  </span>
                </div>
                <div class="p-5">
                  <span id="pdfBuilderCategory" class="label"> Category: </span>
                  <span id="pdfBuilderCategoryText" class="description">
                    Safety
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="action">
          <div id="pdfBuilderActionHeadingText" class="actionHead">
            <span class="label">Action: </span>
            Greasing required on the conveyor belt - 2A
          </div>
          <div class="actionBody">
            <div class="bg-yellow">
              <div class="actionRow">
                <span id="actionDes" class="label"> Description: </span>
                <span id="actionDesText" class="description">
                  Belt is not running smoothly and belt speed has been reduced
                  due to low greasing. Please inspect and fix it on priority
                </span>
              </div>
              <div class="actionRow">
                <span id="actionAsset" class="label"> Asset: </span>
                <span id="actionAssetText" class="description">
                  170442 - Water Pump Water Pump Water Pump Water
                </span>
              </div>
            </div>
            <div class="actionRow">
              <span id="actionQuestion" class="label">
                {{ 'question' | translate }}:
              </span>
              <span id="actionQuestionDes" class="description">
                Check water pressure.
              </span>
            </div>
            <div class="actionRow">
              <span id="actionValue" class="label"> Value: </span>
              <span id="actionValueText" class="description"> 90 </span>
            </div>
            <div class="actionRow">
              <span id="actionAssignTo" class="label"> Assigned to: </span>
              <span id="actionAssignToText" class="description">
                John, Krista, Marry, Alexander
              </span>
            </div>
            <div class="actionColumns">
              <div class="width-50">
                <div class="p-5">
                  <span id="actionRaiseBy" class="label"> Raised By: </span>
                  <span id="actionRaisedByText" class="description">
                    Aron
                  </span>
                </div>
                <div class="p-5">
                  <span id="actionDueDate" class="label"> Due Date : </span>
                  <span id="actionDueDateText" class="description">
                    3/25/23
                  </span>
                </div>
                <div class="p-5">
                  <span id="actionStatusHeading" class="label"> Status: </span>
                  <span id="actionStatusText" class="description status-color">
                    Open
                  </span>
                </div>
              </div>

              <div class="bg-yellow width-100">
                <div class="p-5">
                  <span id="actionPriority" class="label"> Priority: </span>
                  <span
                    id="actionPriorityText"
                    class="description priority-color"
                  >
                    High
                  </span>
                </div>
                <div class="p-5">
                  <span id="actionCategory" class="label"> Category: </span>
                  <span id="actionCategoryText" class="description">
                    Safety
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pageFooter">
      <ng-container
        *ngTemplateOutlet="footerTemplate; context: { footerData: null }"
      ></ng-container>
    </div>
  </div>
</ng-template>
<ng-template #footerTemplate let-footerData="footerData">
  <div class="w-33 poweredBy">
    <span id="pdfBuilderPoweredBy" class="poweredByText">Powered By</span>
    <svg-icon
      id="pdfBuilderFooterLogo"
      icon="icon-innova-big"
      class="footerLogo"
    ></svg-icon>
  </div>
  <div class="w-33">
    <span
      id="pdfBuilderCustomLabelField"
      class="customText"
      *ngIf="
        pdfBuilderConfigurationsForm.get('customText').value &&
        pdfBuilderConfigurationsFormCustomText.get('customTextField').value &&
        pdfBuilderConfigurationsFormCustomText.get('customTextLabel').value
      "
    >
      {{ pdfBuilderConfigurationsFormCustomText.get('customTextLabel').value }}:
      {{ pdfBuilderConfigurationsFormCustomText.get('customTextField').value }}
    </span>
  </div>
</ng-template>
