<mat-toolbar class="form-toolbar">
  <div>
    <button (click)="onGoBack()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
    </button>
  </div>

  <!-- <mat-stepper #stepper class="stepper-container">
      <div
        *ngFor="
          let step of steps;
          let i = index;
          let last = last;
          let first = first
        "
        (click)="onGotoStep(i)"
        [ngClass]="{
          current: currentStep === i,
          completed: currentStep > i,
          last: last,
          first: first
        }"
      >
        <mat-step>
          <ng-template matStepLabel>
            <div>{{ step.title }}</div>
          </ng-template>
        </mat-step>
      </div>
    </mat-stepper> -->

  <div class="stepper-div">
    <div
      class="steps-breadcrumb"
      *ngFor="
        let step of steps;
        let i = index;
        let last = last;
        let first = first
      "
      (click)="onGotoStep(i)"
      [ngClass]="{
        current: currentStep === i,
        completed: currentStep > i,
        last: last,
        first: first,
        'disable-step': currentStep < i
      }"
    >
      <div class="index">
        <span>{{ i + 1 }}</span>
      </div>
      <div class="title pr-8">{{ step.title }}</div>
      <hr class="stepper-line" *ngIf="i !== steps.length - 1" />
    </div>

    <!-- DYNAMIC CONTENT -->
    <ng-content></ng-content>
    <!-- / DYNAMIC CONTENT -->
  </div>
</mat-toolbar>
