@import '../../../../../scss/colors.scss';

.form-toolbar {
  height: 50px;
  background-color: $white;
  border-bottom: 1px solid $border-color;

  .back-btn {
    border: none;
    background-color: transparent;

    .back-arrow {
      height: 15px;
      width: 15px;
      position: relative;
      top: 1px;
    }
  }
}

.stepper-toolbar {
  display: flex;
  width: 100%;
}

.stepper-container {
  height: 63px;
  position: relative;
  left: 27%;
  width: 40%;

  ::ng-deep .mat-step-header {
    height: 55px;
  }

  ::ng-deep .mat-step-header:hover:not([aria-disabled]) {
    background-color: transparent;
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: $blue-main;
  }
}

.steps-breadcrumb {
  display: flex;
  border: none;
  background: none;

  .title {
    position: relative;
    top: 4px;
    color: $black;
  }
  .index span {
    color: $black;
  }
  .index {
    display: flex;
    margin-right: 6px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 23px;
      height: 23px;
      border-radius: 100%;
      background-color: $blue-main;
      color: $white;
    }
  }
  &.current {
    .index span {
      color: $white;
    }
  }
}

.stepper-div {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 5px;
}

.stepper-line {
  position: relative;
  bottom: 12px;
  left: 115px;
  width: 85px;
  margin: 0;
}

.stepper-line-length {
  position: relative;
  bottom: 12px;
  left: 107px;
  width: 155px;
  margin: 0;
}

.disable-step {
  cursor: not-allowed;
  .title {
    color: $gray1;
    position: relative;
    top: 4px;
  }
  .index span {
    background-color: $disable-stpper-bg;
    color: $light-gray;
  }
}

.completed-step {
  .index span {
    background-color: $green3;
  }
}
