<div class="card-container">
  <button id="slideshowCloseBtn" (click)="close()" class="close-btn">
    <svg-icon
      id="slideshowCancelIcon"
      icon="icon-cancel-white-icon"
      class="cancel-icon"
    ></svg-icon>
  </button>
  <mat-card class="slider-images-container">
    <div class="slide-wrapper">
      <ng-container *ngIf="data.type === 'forms'">
        <ng-container *ngFor="let image of data; let i = index">
          <img
            id="slideshowImg"
            [src]="image"
            *ngIf="i === currentIndex"
            class="slide-images"
          />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="data.type !== 'forms'">
        <ng-container *ngFor="let image of data; let i = index">
          <img
            id="slideshowCurrentImg"
            src="{{ image }}"
            *ngIf="i === currentIndex"
            class="slide-images"
          />
        </ng-container>
      </ng-container>
    </div>
  </mat-card>
  <mat-card class="thumbnail-images-container">
    <mat-icon #previous class="prev-btn">keyboard_arrow_left</mat-icon>

    <div class="images">
      <ng-container *ngIf="data.type === 'forms'">
        <div
          *ngFor="let image of data.images; let i = index"
          class="thumbnail-images"
        >
          <img
            id="slideshowFormImg"
            [src]="image"
            width="70"
            height="70"
            (click)="currentIndex = i"
          />
        </div>
      </ng-container>
      <ng-container *ngIf="data.type !== 'forms'">
        <div *ngFor="let image of data; let i = index">
          <img
            id="slideshowNoForms"
            src="{{ image }}"
            width="70"
            height="70"
            (click)="currentIndex = i"
          />
        </div>
      </ng-container>
    </div>

    <mat-icon #next class="next-btn">keyboard_arrow_right</mat-icon>
  </mat-card>
</div>
