<!-- Dropdown -->
<div *ngIf="question.value.value.length > 3">
  <mat-form-field appearance="outline" class="dropdown">
    <mat-select [multiple]="question.multi" [placeholder]="'enter' | translate">
      <mat-option
        id="downDownResponseTitle"
        *ngFor="let value of question.value.value"
        [value]="value.title"
        [ngStyle]="{ color: value.color }"
      >
        {{ value.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Dropdown -->
<div *ngIf="question.value.value.length <= 3">
  <mat-button-toggle-group>
    <mat-button-toggle
      id="downDownResponseQuestion"
      *ngFor="let question of question.value.value"
      [value]="question.title"
      [ngStyle]="{
        color: question.color
      }"
    >
      {{ question.title }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
