<div class="form-header-modal" [formGroup]="headerDataForm">
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <img src="assets/rdf-forms-icons/back-arrow.svg" alt="back arrow" />
    </button>
  </mat-toolbar>

  <div mat-dialog-actions class="buttons">
    <button
      mat-stroked-button
      type="button"
      color="primary"
      class="skip-btn"
      (click)="onCancel()"
      translate="cancelBtn"
    ></button>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="next-btn"
      (click)="next()"
      [disabled]="headerDataForm.invalid || headerDataForm.pristine"
      translate="Save and Go Next"
    ></button>
  </div>
  <hr class="horizontal-line" />
  <div class="dis-flex form-content">
    <div class="width-100">
      <div class="form-detials">
        <h2 class="heading" translate="setFormDetailsHeading"></h2>

        <!-- <p class="sub-heading" translate="setFormTypeHeading"></p> -->
        <!-- <input
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.standalone"
          id="1"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="standalone"> </span><br /> -->

        <!-- <input
          id="2"
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.embedded"
          [disabled]="true"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="embedded"> </span><br /> -->

        <!-- <p class="radio-sub-text" translate="embeddedSubText"></p> -->

        <!-- <hr class="horizontal-line" /> -->

        <div class="form-name">
          <div class="plan-name">
            <p
              class="form-name-description m-t-0 m-b-0"
              translate="addFormName"
            ></p>
          </div>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <input
              type="text"
              name="formName"
              matInput
              [placeholder]="'formName' | translate"
              formControlName="name"
            />
            <mat-error *ngIf="processValidationErrors('name')" class="m-5">
              {{
                errors.name.name
                  | translate
                    : { name: 'name' | translate, length: errors.name.length }
              }}
            </mat-error>
          </mat-form-field>

          <p
            class="form-name-description m-t-20 m-b-0"
            translate="addFormDescription"
          ></p>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <input
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>
        </div>

        <!-- STARTED -->
        <div class="plant">
          <p class="form-name-description m-b-0 m-t-20" translate="Plant"></p>
          <mat-form-field
            class="chips-list width-100 form-field"
            appearance="outline"
          >
            <mat-label>Select Plant</mat-label>
            <!-- <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Plant 1</mat-option>
              <mat-option value="option2">Plant 2</mat-option>
              <mat-option value="option3">Plant 3</mat-option>
            </mat-select> -->
            <mat-select [(value)]="selectedOption">
              <mat-option *ngFor="let option of options" [value]="option">{{
                option
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="tags">
          <p class="form-name-description m-b-0 m-t-20" translate="tags"></p>
          <mat-form-field
            class="chips-list width-100 form-field"
            appearance="outline"
          >
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
                class="tags-mat-chips"
              >
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                [placeholder]="'startTypingTags' | translate"
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                #tagsInput
                [formControl]="tagsCtrl"
              />
            </mat-chip-list>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <p
          class="form-name-description m-b-0 m-t-20"
          translate="Notes and Attachments"
        ></p>
        <div class="notes_and_Attachment">
          <mat-form-field
            placeholder="Notes and Attachments"
            class="notes_Attachment"
            class="width-100"
            appearance="outline"
          >
            <quill-material
              [ngClass]="{
                'display-toolbar': true
              }"
              formControlName="notes_attachment"
            >
            </quill-material>
          </mat-form-field>
        </div>

        <div class="addpdf">
          <div class="dis-flex">
            <!-- <span *ngIf="headerDataForm.get('value').value.pdf !== null">
              <app-instruction-pdf
                [pdf]="headerDataForm.get('value').value.pdf"
                [index]="'4'"
                (indexEmitter)="instructionsFileDeleteHandler($event)"
              >
              </app-instruction-pdf>
            </span> -->
          </div>

          <br />
          <input
            type="file"
            class="file-upload"
            accept="image/jpeg,image/jpg,image/png,application/pdf"
            (change)="roundplanFileUploadHandler($event)"
            [hidden]="true"
            #roundplanFileUpload
          />

          <button
            mat-button
            color="primary"
            class="addLogicBtn"
            (click)="roundplanFileUpload.click()"
          >
            <mat-icon class="icon">link</mat-icon>
            <span translate="addImagesAndPDFBtn"></span>
          </button>

          <app-image-preview></app-image-preview>
        </div>
      </div>
    </div>
  </div>
</div>
