<div class="form-header-modal" [formGroup]="headerDataForm">
  <mat-toolbar class="form-toolbar">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
    </button>
  </mat-toolbar>
  <div class="dis-flex form-content">
    <div class="width-100">
      <div class="form-detials">
        <h2 class="heading">
          {{ 'setFormDetailsHeading' | translate }}
        </h2>

        <!-- <p class="sub-heading" translate="setFormTypeHeading"></p> -->
        <!-- <input
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.standalone"
          id="1"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="standalone"> </span><br /> -->

        <!-- <input
          id="2"
          type="radio"
          name="formType"
          [value]="formConfigurationStatus.embedded"
          [disabled]="true"
          class="margin"
          formControlName="formType"
        />
        <span class="radio-btn-text" translate="embedded"> </span><br /> -->

        <!-- <p class="radio-sub-text" translate="embeddedSubText"></p> -->

        <!-- <hr class="horizontal-line" /> -->

        <div class="form-name">
          <p class="form-name-description m-t-0 m-b-0">
            {{ 'addFormNameMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <input
              type="text"
              name="formName"
              matInput
              [placeholder]="'formName' | translate"
              formControlName="name"
            />
            <mat-error
              *ngIf="processValidationErrors('name')"
              class="m-5 error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : { name: 'name' | translate, length: errors.name.length }
              }}
            </mat-error>
          </mat-form-field>
          <p class="form-name-description m-t-20 m-b-0">
            {{ 'addFormDescription' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <input
              type="text"
              matInput
              name="formDescription"
              [placeholder]="'addDescription' | translate"
              formControlName="description"
            />
          </mat-form-field>
          <p class="form-name-description m-t-20 m-b-0">
            {{ 'plantMandatory' | translate }}
          </p>
          <mat-form-field appearance="outline" class="width-100 form-field">
            <mat-select
              formControlName="plantId"
              [placeholder]="'plant' | translate"
            >
              <input
                class="searchable-input"
                [placeholder]="'search' | translate"
                (keyup)="onKeyPlant($event)"
              />
              <div class="scrollable-area">
                <mat-option
                  [value]="plant.id"
                  *ngFor="let plant of plantInformation"
                  >{{ plant.plantId }} - {{ plant.name }}</mat-option
                >
              </div>
            </mat-select>
            <mat-error
              *ngIf="processValidationErrors('plantId')"
              class="m-t-5 error-fields"
            >
              {{
                errors.plantId.name
                  | translate
                    : {
                        name: 'plant' | translate
                      }
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="tags">
          <p class="form-name-description m-b-0 m-t-20">
            {{ 'tags' | translate }}
          </p>
          <mat-form-field
            class="chips-list width-100 fo rm-field"
            appearance="outline"
          >
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
                class="tags-mat-chips"
              >
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                [placeholder]="'startTypingTags' | translate"
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
                (click)="openAutoComplete()"
                #tagsInput
                [formControl]="tagsCtrl"
              />
            </mat-chip-list>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="additional-details">
          <p translate="additionalDetails" class="additional-details-text"></p>
          <button class="add-button" (click)="addAdditionalDetails()">
            {{ 'add' | translate }}
          </button>
        </div>
        <div
          class="label-value-text"
          *ngIf="headerDataForm.get('additionalDetails')['controls'].length > 0"
        >
          <span class="label">{{ 'label' | translate }}</span>
          <span class="value">{{ 'value' | translate }}</span>
        </div>
        <div
          class="label-value"
          *ngFor="
            let additionalDetails of headerDataForm.get('additionalDetails')[
              'controls'
            ];
            let i = index
          "
          [formGroup]="additionalDetails"
        >
          <div>
            <div class="dropdown-label">
              <div class="example-form">
                <mat-form-field
                  appearance="outline"
                  class="m-l-5 symbol m-b-10"
                >
                  <input
                    matInput
                    type="text"
                    [formControl]="labelCtrl"
                    class="example-input"
                    [matAutocomplete]="auto1"
                  />
                </mat-form-field>
                <mat-autocomplete #auto1="matAutocomplete">
                  <mat-option
                    *ngFor="let label of filteredLabels | async"
                    [value]="label"
                  >
                    {{ label }}
                  </mat-option>
                  <mat-option *ngIf="labelCtrl.value">
                    <ng-container *ngIf="filteredLabels | async as labels">
                      <ng-container *ngIf="!labels.includes(labelCtrl.value)">
                        Add new option: {{ labelCtrl.value }}
                      </ng-container>
                    </ng-container>
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div class="example-form">
                <mat-form-field
                  appearance="outline"
                  class="m-l-5 symbol m-b-10"
                >
                  <input
                    matInput
                    type="text"
                    [formControl]="labelCtrl"
                    [matAutocomplete]="auto2"
                    class="example-input"
                  />
                </mat-form-field>
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option
                    *ngFor="let label of filteredLabels | async"
                    [value]="label"
                  >
                    {{ label }}
                  </mat-option>
                  <mat-option *ngIf="labelCtrl.value">
                    <ng-container *ngIf="filteredLabels | async as labels">
                      <ng-container *ngIf="!labels.includes(labelCtrl.value)">
                        Add new option: {{ labelCtrl.value }}
                      </ng-container>
                    </ng-container>
                  </mat-option>
                </mat-autocomplete>
              </div>

              <svg-icon
                icon="icon-closeIcon"
                class="close-icon"
                (click)="deleteAdditionalDetails(i)"
              ></svg-icon>
            </div>
          </div>
        </div>

        <div mat-dialog-actions align="end" class="buttons">
          <button
            mat-stroked-button
            type="button"
            color="primary"
            class="skip-btn"
            (click)="onCancel()"
            translate="cancelBtn"
          ></button>
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="next-btn"
            (click)="next()"
            [disabled]="headerDataForm.invalid || headerDataForm.pristine"
            translate="nextBtn"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
