@import '../../../../scss/colors.scss';

.section {
  .section-margin {
    margin: 0 12px 12px 30px;
  }

  .icon-unlink {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
  }

  .section-header {
    background: $blue-head;
    border-radius: 7px 7px 0px 0px;
    margin-top: 12px;
    padding: 5px 7px 12px 25px;

    .six-dots {
      position: relative;
      top: 3px;
      cursor: move;
    }

    input[type='text']:focus {
      outline: none;
      caret-color: $white;
    }

    .section-arrow {
      cursor: pointer;
      position: relative;
      top: 7px;
      left: 10px;
      margin-right: 12px;
      color: $white;
    }

    .form_section_name_input {
      border: none;
      background: none;
      font-size: 110%;
      font-weight: 500;
      color: $white;
      max-width: 60%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .form_section_name_input:disabled {
      color: $white;
    }

    .section-name {
      font-size: 110%;
      font-weight: 500;
      color: $white;
    }

    .edit-icon {
      border: none;
      background-color: $blue-head;
      width: 10px;
      height: 10px;
      position: relative;
      top: -3px;
      left: -5px;

      .edit-icon-img {
        height: 13px;
        width: 15px;
        position: relative;
        top: 2px;
      }
    }

    .more-icon {
      border: none;
      color: $white;
      background-color: $blue-head;
      float: right;
      position: relative;
      top: 5px;
    }
  }

  .add-section-btn {
    background: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-weight: 400;
    font-size: 80%;
    letter-spacing: 0.4px;
    color: $black;
    padding: 2px 5px;
    margin-top: 5px;

    .add-section-btn-icon {
      position: relative;
      top: 2px;
      height: 13px;
      width: 13px;
    }
  }
  .section-generate-container {
    background-color: #2a3eb1;
    border-radius: 7px;
    margin-top: 12px;
    .prompt-container {
      display: flex;
      flex-direction: row;

      .prompt-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        width: 3%;
      }
      .prompt-container-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        width: 3%;

        .prompt-submit-btn {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .prompt-container-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 94%;
        ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled,
        ::ng-deep .mat-form-field-outline {
          opacity: 0;
        }
        ::ng-deep .mat-form-field {
          width: 100%;
          border: none;
        }
        ::ng-deep .mat-form-field-infix {
          border-top: none;
        }
        .prompt-input {
          width: 100%;
          height: max-content;
          outline: none;
          border: none;
          resize: none;
          overflow-y: none;
          color: $white;
          caret-color: $white;
        }
        .prompt-input::selection {
          background: $white;
          color: $black;
        }
        .prompt-input::placeholder {
          color: $gray;
        }
      }
      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  .questions-content {
    background: $white;
    padding-bottom: 6px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
  }

  .disable-questions {
    pointer-events: none;
    background: $timeago-bg;
  }
  .prompt-form-loader-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    .prompt-form-loader {
      margin: 20px 10px;
      font-size: 150%;
      font-weight: 500;
    }
    .loader-icon {
      margin: 5px;
      width: 55px;
      mix-blend-mode: multiply;
    }
  }
}
.sectionHeadRight {
  color: $white;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  .sectionTaskCount {
    margin-top: 5px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: $light-gray;
  padding: 3px 8px;
  border-radius: 2px;
  color: $white;
  top: 35px;
  left: -8px;
  z-index: 99999;
}
.tooltip-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $light-gray transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
