@import '../../../../scss/colors.scss';

.section {
  .section-margin {
    margin: 0 12px 12px 30px;
  }

  .icon-unlink {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
  }

  .section-header {
    background: $blue-head;
    border-radius: 7px 7px 0px 0px;
    margin-top: 12px;
    padding: 5px 7px 12px 25px;

    .six-dots {
      position: relative;
      top: 3px;
      cursor: move;
    }

    input[type='text']:focus {
      outline: none;
      caret-color: $white;
    }

    .section-arrow {
      cursor: pointer;
      position: relative;
      top: 7px;
      left: 10px;
      margin-right: 12px;
      color: $white;
    }

    .form_section_name_input {
      border: none;
      background: none;
      font-size: 110%;
      font-weight: 500;
      color: $white;
      max-width: 60%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .form_section_name_input:disabled {
      color: $white;
    }

    .section-name {
      font-size: 110%;
      font-weight: 500;
      color: $white;
    }

    .edit-icon {
      border: none;
      background-color: $blue-head;
      width: 10px;
      height: 10px;
      position: relative;
      top: -3px;
      left: -5px;

      .edit-icon-img {
        height: 13px;
        width: 15px;
        position: relative;
        top: 2px;
      }
    }

    .more-icon {
      border: none;
      color: $white;
      background-color: $blue-head;
      float: right;
      position: relative;
      top: 5px;
    }
  }

  .add-section-btn {
    background: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-weight: 400;
    font-size: 80%;
    letter-spacing: 0.4px;
    color: $black;
    padding: 2px 5px;
    margin-top: 5px;

    .add-section-btn-icon {
      position: relative;
      top: 2px;
      height: 13px;
      width: 13px;
    }
  }

  .questions-content {
    background: $white;
    padding-bottom: 6px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
  }

  .disable-questions {
    pointer-events: none;
    background: $timeago-bg;
  }
}
.sectionHeadRight {
  color: $white;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  .sectionTaskCount {
    margin-top: 5px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: $light-gray;
  padding: 3px 8px;
  border-radius: 2px;
  color: $white;
  top: 35px;
  left: -8px;
  z-index: 99999;
}
.tooltip-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $light-gray transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
