<div class="row categories-header">
    <div class="col-lg-8 categories-row-heading">
      <img src="./assets/work-instructions-icons/svg/categories.svg" alt=""/>
      <span class="categories-heading">Categories</span>
    </div>
    <div class="col-lg-4">
      <button type="button" class="btn btn-link font-weight-bold btn-link-custom categories-button"
              (click)="open(catSubscribeComponent, {})">
        <img src="./assets/work-instructions-icons/svg/addcategory.svg" alt="" class="categories-img"/>
        <span class="addcategory">ADD CATEGORY</span>
      </button>
    </div>
  </div>
  <ng-container *ngIf="(this.categoriesList | filter : searchCriteria | orderBy:'Created_At':true:'case-insensitive' | paginate: config) as result">
    <div class="row categories-details" [ngClass]="{'categories-details-with-no-results': result.length === 0}">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let obj of result">
        <div *ngIf="obj.CId !== '_UnassignedCategory_'" class="card custom-card hoverWrapper categories-details-card">
          <a [routerLink]="['/instructions/', obj.CId]"><img class="card-img-top" [ngStyle]="getS3CoverImageStyles(obj.Cover_Image)" [hidden]="!getImageSrc(obj.Cover_Image)" [attr.src]="getImageSrc(obj.Cover_Image)" alt=""/> </a>
          <div class="card-body categories-details-card-body">
            <p><a [routerLink]="['/instructions/', obj.CId]" class="categories-Title"> {{obj.Category_Name}}</a></p>
            <p class="categories-Wicount"><strong>{{obj.Drafts_Count}}</strong> Drafted - <strong>{{obj.Published_Count}}</strong> Published</p>
          </div>
          <div id="hoverShow1" class="categories-details-card-hover">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="open(catSubscribeComponent, obj)" id="editCategory">
                <mat-icon>edit</mat-icon>
                <span class="menu-text">Edit Category</span>
              </button>
              <button mat-menu-item (click)="open(delCatSubscribeComponent, obj)" id="deleteCategory">
                <mat-icon class="text-red">close</mat-icon>
                <span class="menu-text text-red">Delete Category</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div *ngIf="obj.CId === '_UnassignedCategory_'" class="card custom-card hoverWrapper categories-details-card">
          <a [routerLink]="['/instructions/', obj.CId]"><img #image class="card-img-top" src='{{obj.Cover_Image}}' alt=""/></a>
          <div class="card-body categories-details-card-body">
            <p><a [routerLink]="['/instructions/', obj.CId]" class="categories-Title">{{obj.Category_Name}}</a></p>
            <p class="categories-Wicount"><strong>{{obj.Drafts_Count}}</strong> Drafted - <strong>{{obj.Published_Count}}</strong> Published</p>
          </div>
        </div>
      </div>
      <div *ngIf="result.length === 0 && this.categoriesList.length > 0 || categoriesList && categoriesList.length === 0" class="no-categories">
        {{categoriesList.length ? 'No Results Found !!' : 'No Categories found !!' }}
      </div>
    </div>
    <div class="col-lg-12" [hidden]="result.length === 0">
      <pagination-template #p="paginationApi"
                       [id]="config.id"
                       (pageChange)="config.currentPage = $event"
                       (pageBoundsCorrection)="config.currentPage = $event">
        <app-custom-pagination-controls [paginationData]="p"></app-custom-pagination-controls>
      </pagination-template>
    </div>
  </ng-container>

