<form [formGroup]="profileForm">
  <div class="p-20">
    <span class="profile-heading">Profile</span>
    <button
      class="edit-btn"
      *ngIf="this.profileEditMode === false"
      (click)="this.profileEditMode = true"
    >
      Edit
    </button>
    <button *ngIf="this.profileEditMode === true">Save</button>
    <button *ngIf="this.profileEditMode === true">Cancel</button>
  </div>

  <div class="image-upload">
    <img [src]="profileImage" class="user-profile-img" />
    <button class="change-remove-btn" *ngIf="this.profileEditMode === true">
      Remove Photo
    </button>
    <label for="file-input" *ngIf="this.profileEditMode === true">
      <button class="change-remove-btn">Change Photo</button>
    </label>
    <input
      id="file-input"
      type="file"
      (change)="onFileChange($event)"
      accept="image/*"
    />
  </div>
  <div class="custom-profile-form-fields">
    <div class="input-container">
      <mat-form-field appearance="outline" class="first-name">
        <mat-label>{{ 'firstName' | translate }}</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="last-name">
        <mat-label>{{ 'lastName' | translate }}</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="input-container width-100">
      <mat-label>{{ 'title' | translate }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100">
      <mat-label>{{ 'email' | translate }}</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100">
      <mat-label>{{ 'roles' | translate }}</mat-label>
      <mat-select
        name="priority"
        multiple
        [compareWith]="objectComparisonFunction"
        formControlName="roles"
      >
        <!-- <mat-select-trigger>
          {{ roles.value[0]?.name }}
          <span
            *ngIf="roles.value?.length > 1"
            class="example-additional-selection"
          >
            (+{{ roles.value.length - 1 }}
            {{ roles.value?.length === 2 ? 'more' : 'more' }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let role of rolesInput; let i = index"
          [value]="role"
          style="padding-right: 0"
          class="roles-select"
          [disabled]="role.name === superAdminText"
        >
          <span>{{ role.name }}</span>
          <div (click)="$event.stopPropagation()" class="info-div">
            <mat-icon
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
              class="material-icons-outlined"
              style="
                margin-top: 17px;
                float: right;
                color: #9e9e9e;
                font-size: 18px;
              "
            >
              info_border
            </mat-icon>
          </div>
        </mat-option> -->
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100">
      <mat-label>{{ 'contact' | translate }}</mat-label>
      <ngx-mat-intl-tel-input
        formControlName="contact"
        [preferredCountries]="['us', 'in']"
        [enablePlaceholder]="true"
        [enableSearch]="true"
        name="contact"
        #contact
      >
      </ngx-mat-intl-tel-input>
      <mat-error
        *ngIf="
          profileForm.get('contact').errors?.required &&
          profileForm.get('contact').touched
        "
        class="m-t-5 error-fields"
      >
        {{ 'fieldRequired' | translate: { name: 'contact' | translate } }}
      </mat-error>
      <mat-error
        *ngIf="
          profileForm.get('contact').errors?.valdatecontactNumber &&
          profileForm.get('contact').touched
        "
        class="m-t-5 error-fields"
      >
        {{ 'invalidContact' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
