<div id="assign-to">
  <mat-card>
    <mat-card-title class="m-0 light-gray dis-flex title">
      <div id="assignedToHeading" class="heading" translate>
        selectUserGroup
      </div>
      <div class="cancel-side-drawer">
        <mat-icon id="assignedToCloseIcon" class="dialog-close">close</mat-icon>
      </div>
    </mat-card-title>

    <mat-card-content (click)="$event.stopPropagation()">
      <span class="custom-form-field-gray-color">
        <mat-form-field appearance="outline" class="search width-100">
          <mat-icon id="assignedToSearchIcon" matPrefix class="searchIcon"
            >search</mat-icon
          >
          <input
            id="assignedToSearchText"
            matInput
            type="text"
            [placeholder]="'search' | translate"
            autocomplete="off"
            [formControl]="search"
          />
        </mat-form-field>
      </span>
      <ng-container *ngFor="let usergroup of filteredUserGroups$ | async">
        <div
          mat-menu-item
          class="user-menu-item"
          [ngClass]="{
            'jsutify-content': isMultiple,
            'disable-events': isMultiple
          }"
          (click)="selectAssignee(usergroup)"
        >
          <img
            id="assignedToProfileImg"
            [src]="usergroup.profileImage"
            alt="Profile Image"
            class="profile-image"
          />
          <div class="user-info">
            <span id="assignedToName" class="name"
              >{{ usergroup.firstName }} {{ usergroup.lastName }}</span
            >
            <span id="assignedToGroup">{{ usergroup.displayUsergroup }}</span>
            <span id="assignedToEmail" class="email">{{
              usergroup.email
            }}</span>
          </div>
          <mat-checkbox
            [checked]="isAssigneeSelected(usergroup.email)"
            *ngIf="isMultiple"
            (change)="selectAssignee(usergroup, $event)"
            (click)="$event.stopPropagation()"
            [ngClass]="{ 'enable-events': isMultiple }"
          ></mat-checkbox>
        </div>
      </ng-container>
      <div
        id="assignedToNoResult"
        *ngIf="!filteredUsersCount"
        class="no-results"
        translate
      >
        noSearchResultsFound
      </div>
    </mat-card-content>
  </mat-card>
</div>
