.modal-card {
    width:555px;
    max-height: 660px;
}

.modal-body {
  overflow-y: scroll;
  height: 375px;
}

.modal-close {
    position: relative;
     right: 0px;
     top: 0px;
     background:white;
}

.modal-close::before, .modal-close::after {
    background-color: black;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}
.modal-title{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #25282B;
    position: relative;
    top: 5px;
}
.form-headings {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #25282B;
    margin-bottom: 7px;
  }

  .form-input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 36px;
  }
  label {
    margin-bottom: 0px;
    width:100%;
    height: 100%;
  }
  .coverImages {
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
  .coverImages:hover{
    opacity: 1;
  }
  .s3coverImage {
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
  }
  .uploadfilecontainer1 {
    height: 36px;
    width: 100%;
    border: 1px dashed #CCCCCC;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 1rem;
  }


  .uploadfilecontainertitle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #76767B;
    padding-top: 8px;
    text-align: center;
  }
  .uploadfilecontainer1:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .files-list {
    overflow-x: hidden;
  }

  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .files-list .delete-file img{
    width:30px;
  }

  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border: 4px solid #1351D8;
    border-radius: 4px;
    opacity: 1;
  }

  .save-btn{
    width: 160px;
    height: 36px;
    background: #1351D8;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
  }

  .save-btn:hover {
    background-color: #2624AD;
  }

  .save-btn:disabled{
    width: 131px;
    height: 36px;
    background: #E5E5E5;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.25px;
    color: black;
  }

  .char-count {
    color: #76767B;
    font-family: "Roboto", sans-serif;
  }

.upload-img {
  position: relative;
  top:-3px;
  left:-10px
}

.text-required {
  color: red;
}

.pt10 {
  padding-top: 10px;
}

.row-padding {
  padding: 5px 0px 10px 0px;
}

.cover-image {
  position: relative;
  left: -7px;
}
.margin-bottom {
  margin-bottom: -7px;
}
