<div class="issuesListContainer" id="main-container">
  <mat-toolbar class="toolbar" id="toolbar-top">
    <button class="issuesListBackBtn" id="backBtn" (click)="dialogRefClose()">
      <svg-icon
        id="issuesActionsViewBackArrow"
        icon="icon-back-arrow"
        class="back-arrow"
      ></svg-icon>
    </button>
  </mat-toolbar>
  <div class="entity-name" id="entityNameFil">
    <span class="fixed-text" id="entityFixedText"
      >{{ 'fixedTitleHeader' | translate }}
    </span>
    <span class="entity-name-text"> {{ entityName }}</span>
  </div>
  <app-issues-list
    [users$]="users$"
    [moduleName]="moduleName"
    [entityId]="entityId"
    [entityType]="entityType"
    [isNotificationAlert]="isNotificationAlert"
    [fromNotificationsList]="fromNotificationsList"
  ></app-issues-list>
</div>
