@import '../../../../../../scss/colors.scss';

.instruction-pdf-container {
  display: inline-flex;
  background: $blue8;
  padding: 1px;
  position: relative;
  top: -3px;

  .pdf-icon {
    height: 20px;
    width: 20px;
    position: relative;
    top: 10px;
  }

  .pdf-container {
    margin-left: 5px;

    .pdf-text {
      font-size: 85%;
      font-weight: 500;
      letter-spacing: -0.24px;
      color: $active-blue;
      overflow-wrap: anywhere;
    }

    .pdf-sub-text {
      font-size: 75%;
      word-wrap: break-word;
      font-weight: 400;
      letter-spacing: 0.066px;
      color: $active-blue;
    }
  }
}
