<div
  *ngIf="permissions$ | async as permission; else loadingPermissionList"
  class="m-t-5 permission-container"
>
  <mat-accordion *ngFor="let per of permission">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      hideToggle
      class="permissions-expand"
      [(expanded)]="panelOpenState"
    >
      <mat-expansion-panel-header class="h-40 expansion-header">
        <mat-panel-title>
          <mat-checkbox
            [disabled]="isEditable"
            [checked]="per.checked"
            color="primary"
            [indeterminate]="fewComplete(per)"
            (change)="setAllChecked($event.checked, per)"
          >
            {{ per.name }}
          </mat-checkbox>
          <span *ngIf="per.countOfChecked !== 0" class="permission-count">
            {{ per.countOfChecked }} of 4
          </span>

          <mat-icon *ngIf="panelOpenState === false"> arrow_right </mat-icon>
          <mat-icon *ngIf="panelOpenState === true">arrow_drop_down</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="m-0">
        <li *ngFor="let subper of per.permissions">
          <mat-checkbox
            color="primary"
            [(ngModel)]="subper.checked"
            (ngModelChange)="updateAllChecked(per, subper)"
            [ngModelOptions]="{ standalone: true }"
          >
            {{ subper.displayName }}
          </mat-checkbox>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #loadingPermissionList>
  <div class="p-10">
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <br />
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <br />
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <br />
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
