<mat-accordion
  *ngIf="permissions$ | async as permission; else loadingPermissionList"
>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle
    style="width: auto; box-shadow: none"
    *ngFor="let per of permission"
  >
    <mat-expansion-panel-header style="height: 40px">
      <mat-panel-title>
        <mat-checkbox
          [disabled]="isEditable"
          [checked]="per.checked"
          color="primary"
          [indeterminate]="fewComplete(per)"
          (change)="setAllChecked($event.checked, per)"
        >
          {{ per.name }}
        </mat-checkbox>
        <mat-icon *ngIf="!panelOpenState">arrow_right</mat-icon>
        <mat-icon *ngIf="panelOpenState">arrow_drop_down</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul style="margin: 0">
      <li *ngFor="let subper of per.permissions">
        <mat-checkbox
          color="primary"
          [(ngModel)]="subper.checked"
          (ngModelChange)="updateAllChecked(per, subper)"
          [ngModelOptions]="{ standalone: true }"
        >
          {{ subper.displayName }}
        </mat-checkbox>
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #loadingPermissionList>
  <div class="p-10">
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'40%'" [height]="'30px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
