<div class="bg-iphone" *ngIf="formMetadata$ | async as formMetadata">
  <span class="current-time">
    {{ currentTime }}
  </span>
  <div class="iphone-header">

    <svg-icon icon="icon-Back_Page" class="previous-arrow" ></svg-icon>
    <p class="form-heading" matTooltip="{{ formMetadata.name }}">
      {{ formMetadata.name }}
    </p>
    <svg-icon
      *ngIf="moduleType === 'operator-rounds'"
      icon="icon-Scan_Asset"
      class="scan-asset"
    ></svg-icon>
    <svg-icon
      *ngIf="moduleType === 'forms'"
      class="iphone-more"
      icon="icon-More"
    ></svg-icon>
  </div>
  <div
    *ngIf="moduleType === 'operator-rounds'"
    class="asset-navigation-container"
  >
    <div class="asset-navigation">
      <svg-icon icon="icon-Arrow_Backward" class="backward-arrow"></svg-icon>
      <div class="asset-name">{{ assetLocationName }}</div>

      <svg-icon icon="icon-Arrow_Forward" class="backward-arrow"></svg-icon>
    </div>

    <svg-icon class="more" icon="icon-More"></svg-icon>
  </div>
  <div
    class="iphone-preview"
    [ngClass]="moduleType === 'operator-rounds' ? 'iphone-preview-operator-rounds' : ''"
  >
    <app-preview
      (totalPageCount)="changePageCount($event)"
      (isOpenBottomSheet)="openBottomSheet($event)"
      [pageIndex]="currentPage"
      [subFormId]="subFormId"
      [moduleType]="moduleType"
    ></app-preview>
  </div>
  <div class="iphone-footer" [ngClass]="moduleType === 'operator-rounds' ? 'iphone-footer-operator-rounds' : ''" *ngIf="totalPages">
    <button
      class="previous-page"
      (click)="prevPage()"
      [style.visibility]="currentPage !== 1 ? 'visible' : 'hidden'"
    >
      <svg-icon
        class="back-page-svg"
        icon="icon-Back_Page"
        class="back-page-svg"
      ></svg-icon>
      <div class="text-previous">
        <span translate="page"></span> {{ currentPage - 1 }}
      </div>
    </button>
    <button class="btn-save" translate="save"></button>
    <span class="page-count" *ngIf="totalPages > 1"
      >{{ currentPage }}/{{ totalPages }}</span
    >
    <button
      class="next-page"
      (click)="nextPage()"
      [style.visibility]="
        currentPage === totalPages || totalPages <= 1 ? 'hidden' : 'visible'
      "
    >
      <div class="text-next">
        <span translate="page"></span> {{ currentPage + 1 }}
      </div>
      <svg-icon
        class="front-page-svg"
        icon="icon-Back_Page"
        class="front-page-svg"
      ></svg-icon>
    </button>
  </div>

  <div class="bottom-sheet" [ngClass]="isOpenBottomSheet ? '' : 'hide-bottom-sheet'">
    <div class="bottom-list-item choose-option" matLine translate="chooseOption"></div>
    <hr />
    <div class="bottom-list-item" matListItemTitle translate="createIssue"></div>
    <hr />
    <button
      class="bottom-list-item bottom-btn"
      matListItemTitle
      (click)="openHistoryBottomSheet()"
      [disabled]="!isHistoryVisible"
      translate="historyTxt"
    ></button>
    <hr />
    <div
      class="bottom-list-item skip-task"
      matListItemTitle
      translate="skipTask"
    ></div>
    <hr />
    <button
      matListItemTitle
      class="bottom-list-item bottom-btn"
      (click)="closeBottomSheet()"
      translate="cancel"
    ></button>
  </div>

  <div class="history-bottom-sheet"  [ngClass]="isOpenHistoryBottomSheet ? '' : 'hide-history-bottom-sheet'">
    <div class="header">
      <div></div>
      <div
        class="title"
        matLine
        translate="historyTxt"
      ></div>
      <button
        (click)="closeHistoryBottomSheet()"
        class="done-btn"
        translate="done"
      ></button>
    </div>
    <hr />
    <div class="main">
      <div
        class="main-heading"
        matLine
        translate="lastFiveReadingsHeader"
      ></div>
      <div class="main-question" matLine translate="whatIsPressureReadingHeader"></div>
      <div class="history-chart-container">
        <img
        class="history-chart"
        src="assets/Images/History_Preview_Graph.png"
        alt="preview-history-graph"
      />
      </div>
      <table class="history-table">
        <tr>
          <th class="table-heading" translate="dateLabel"></th>
          <th
            class="table-heading"
            translate="readingLabel"
          ></th>
          <th class="table-heading" translate="operator"></th>
        </tr>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
      </table>
    </div>
  </div>
</div>
