@import '../../../../scss/colors.scss';

.bg-iphone {
  background-image: url('../../../../assets/img/iphonep.png');
  width: 270px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 270px 550px;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  right: 50px;
}

.current-time {
  position: relative;
  top: 22px;
  left: 30px;
  font-size: 75%;
  font-weight: 500;
}

.iphone-header {
  background-color: $white;
  text-align: center;
  margin: 27px 15px 0 16px;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-heading {
    font-size: 100%;
    margin: 0;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
}

.scan-asset {
  height: 18px;
  width: 18px;
}

.backward-arrow {
  height: 18px;
  width: 18px;
}

.asset-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $asset-nav-preview-bg;
  width: 86%;
  margin-left: 15px;
  padding: 4px;

  .asset-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .asset-name {
      white-space: nowrap;
      margin: 0 16px;
      max-width: 42%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
 
}

.iphone-more {
  height: 20px;
  width: 20px;
}

.iphone-preview {
  height: 415px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 15px;
  margin-left: 15px;
}

.iphone-preview-height {
  height: 390px;
}

.iphone-footer {
  margin: 0px 16px;
  height: 30px;
  font-size: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .previous-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    .back-page-svg {
      height: 20px;
    }
    .text-previous {
      padding: 6px 0;
    }
    :hover {
      cursor: pointer;
    }
  }
  .next-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    .front-page-svg {
      rotate: 180deg;
      height: 20px;
    }
    .text-next {
      padding: 6px 0;
    }
    :hover {
      cursor: pointer;
    }
  }
  .page-count {
    color: $blue-main;
    border: none;
    background-color: transparent;
  }
  .btn-save {
    color: $blue-main;
    border: none;
    background-color: transparent;
  }
}

.previous-arrow{
  height: 20px;
  width: 20px
}

.more{
  height: 25px;
    width: 25px;
    position: relative;
    right: 6px;
    top: 3px;
}

// media queries

@media (min-width: 1280px) and (max-width: 1400px) {
  .bg-iphone {
    width: 250px;
    background-size: 250px 470px;
  }

  .iphone-header {
    margin: 22px 15px 0 15px;
  }

  .iphone-preview {
    height: 347px;
  }

  .iphone-preview-height {
    height: 323px;
  }

  .iphone-footer {
    margin-left: 30px;
  }

  .asset-navigation-container {
    width: 85%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .bg-iphone {
    right: 30px;
    margin-left: 1.3rem;
    position: inherit;
    padding-bottom: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .bg-iphone {
    width: 250px;
    background-size: 250px 500px;
    padding-bottom: 11rem !important;
  }

  .iphone-header {
    margin: 22px 15px 0 15px;
  }

  .iphone-preview {
    height: 372px;
  }

  .iphone-footer {
    margin-left: 25px;
  }

  .asset-navigation-container {
    width: 85%;
  }
}
