<div class="bg-iphone" *ngIf="formMetadata$ | async as formMetadata">
  <div class="iphone-header">
    <h3 class="form-heading">{{ formMetadata.name }}</h3>
    <p class="form-description">
      {{ formMetadata.description ? formMetadata.description : 'Description' }}
    </p>
  </div>
  <div class="iphone-preview">
    <app-preview></app-preview>
  </div>
  <div class="iphone-footer" *ngIf="pagesCount$ | async as pagesCount">
    <span class="page-count">1 / {{ pagesCount }}</span>

    <button class="btn-next" translate="nextBtn"></button>
    <button class="btn-previous" translate="prevBtn"></button>
  </div>
</div>
