@import '../../../../scss/colors.scss';

.bg-iphone {
  background-image: url('../../../../assets/Images/iphonep.png');
  width: 270px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 270px 550px;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  right: 50px;
}

.current-time {
  position: relative;
  top: 22px;
  left: 30px;
  font-size: 75%;
  font-weight: 500;
}

.iphone-header {
  background-color: $white;
  text-align: center;
  margin: 27px 15px 0 16px;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-heading {
    font-size: 100%;
    margin: 0;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
}

.scan-asset {
  height: 18px;
  width: 18px;
}

.backward-arrow {
  height: 18px;
  width: 18px;
}

.asset-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $asset-nav-preview-bg;
  width: 86%;
  margin-left: 15px;
  padding: 4px;

  .asset-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 85%;
    flex-grow: 1;
    position: relative;
    left: 14px;

    .asset-name {
      white-space: nowrap;
      margin: 0 16px;
      max-width: 42%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .more {
    height: 25px;
    width: 25px;
    position: relative;
    top: 2px;
  }
}

.iphone-more {
  height: 20px;
  width: 20px;
}

.iphone-preview {
  height: 422px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 15px;
  margin-left: 15px;
}

.iphone-preview-operator-rounds {
  height: 390px;
}

.iphone-footer {
  margin: 4px 16px;
  height: 30px;
  font-size: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .previous-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    .back-page-svg {
      height: 20px;
      width: 20px;
    }
    .text-previous {
      padding: 6px 0;
    }
    :hover {
      cursor: pointer;
    }
  }
  .next-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    .front-page-svg {
      rotate: 180deg;
      height: 20px;
      width: 20px;
    }
    .text-next {
      padding: 6px 0;
    }
    :hover {
      cursor: pointer;
    }
  }
  .page-count {
    color: $blue-main;
    border: none;
    background-color: transparent;
  }
  .btn-save {
    color: $blue-main;
    border: none;
    background-color: transparent;
  }
}

.iphone-footer-operator-rounds {
  margin: 5px 16px;
}

.bottom-sheet {
  background-color: $white;
  width: 89.5%;
  margin-left: 14px;
  color: $blue2;
  transform: translateY(-102%);
  border-radius: 8px 8px 24px 24px;

  .bottom-btn {
    background-color: transparent;
    color: $blue2;
    width: 100%;
    border: none;
    text-align: center;
  }

  .choose-option {
    color: $gray13;
  }

  .bottom-list-item {
    text-align: center;
    padding: 6px;
  }

  .skip-task {
    color: $red-main;
  }

  hr {
    margin: 0;
    background-color: $border-color-gray;
    border: none;
    height: 1px;
  }
}

.hide-bottom-sheet {
  display: none;
}
.history-bottom-container {
  background-color: $light-gray-transparent;
  height: calc(100% - 37px);
  transform: translateY(-100%);
  width: 89.5%;
  margin-left: 14px;
  border-radius: 24px 24px 24px 24px;

  .history-bottom-sheet {
    background-color: $white;
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px 8px 24px 24px;

    hr {
      margin: 0;
      background-color: $border-color-gray;
      border: none;
      height: 1px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 6px;
      .title {
        font-weight: 500;
        padding-left: 32px;
      }
      .done-btn {
        color: $blue2;
        background-color: transparent;
        border: none;
        font-weight: 500;
      }
    }

    .main {
      padding: 8px;
      .main-heading {
        color: $light-gray;
      }
      .main-question {
        font-weight: 500;
        margin: 12px 0;
      }
      .history-chart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0;
        .history-chart {
          width: 100%;
        }
      }
      .history-table {
        width: 100%;
        text-align: center;
        tr {
          td {
            text-align: center;
          }
        }
        .table-heading {
          text-align: center;
        }
      }
    }
  }
}

.hide-history-bottom-sheet {
  display: none;
}

.previous-arrow {
  height: 20px;
  width: 20px;
}

// media queries

@media (min-width: 1280px) and (max-width: 1400px) {
  .bg-iphone {
    width: 250px;
    background-size: 250px 470px;
  }

  .iphone-header {
    margin: 22px 15px 0 15px;
  }

  .iphone-preview {
    height: 356px;
  }

  .iphone-preview-operator-rounds {
    height: 323px;
  }

  .iphone-footer {
    margin-left: 16px;
  }

  .asset-navigation-container {
    width: 85%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .bg-iphone {
    right: 30px;
    margin-left: 1.3rem;
    position: inherit;
    padding-bottom: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .bg-iphone {
    width: 250px;
    background-size: 250px 500px;
    padding-bottom: 11rem !important;
  }

  .iphone-header {
    margin: 22px 15px 0 15px;
  }

  .iphone-preview {
    height: 382px;
  }

  .iphone-preview-operator-rounds {
    height: 350px;
  }

  .iphone-footer {
    margin-left: 16px;
  }

  .asset-navigation-container {
    width: 85%;
  }
}
