@import '../../../../scss/colors.scss';

.bg-iphone {
  background-image: url('../../../../assets/img/iphonep.png');
  width: 270px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 270px 550px;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  right: 50px;
}

.iphone-header {
  background-color: $white;
  text-align: center;
  margin: 40px 15px 0 16px;

  .form-heading {
    font-size: 100%;
    margin: 0;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }

  .form-description {
    font-size: 85%;
    margin: 0px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
}

.iphone-preview {
  height: 390px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 15px;
  margin-left: 15px;
}

.iphone-footer {
  margin-top: 20px;
  margin-left: 25px;

  .page-count {
    position: relative;
    top: 7px;
    left: 2px;
  }
  .btn-next {
    background: $blue-main;
    color: $white;
    border: none;
    width: 70px;
    border-radius: 5px;
    float: right;
    margin-right: 25px;
    height: 30px;
  }

  .btn-previous {
    height: 30px;
    color: $blue-main;
    border: none;
    width: 70px;
    background-color: transparent;
    float: right;
    margin-right: 10px;
  }
}

// media queries

@media (min-width: 1280px) and (max-width: 1400px) {
  .bg-iphone {
    width: 250px;
    background-size: 250px 470px;
  }

  .iphone-header {
    margin: 35px 15px 0 15px;
  }

  .iphone-preview {
    height: 330px;
  }

  .iphone-footer {
    margin-top: 18px;
    margin-left: 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .bg-iphone {
    right: 30px;
    margin-left: 1.3rem;
    position: inherit;
    padding-bottom: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .bg-iphone {
    width: 250px;
    background-size: 250px 500px;
    padding-bottom: 11rem !important;
  }

  .iphone-header {
    margin: 35px 15px 0 15px;
  }

  .iphone-preview {
    height: 350px;
  }

  .iphone-footer {
    margin-top: 18px;
    margin-left: 25px;
  }
}
