.image-container {
  .insert-image {
    height: 60px;
    width: 100px;
  }

  .image-text {
    font-size: 90%;
    margin-left: 10px;
  }

  .image-sub-text {
    font-size: 80%;
    margin-left: 10px;
  }
}
