.image-container {
  .image-div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insert-image {
    height: fit-content;
    width: 100%;
  }

  .image-text {
    font-size: 90%;
    margin-left: 10px;
  }

  .image-sub-text {
    font-size: 80%;
    margin-left: 10px;
  }
}
