<div
  class="width-50 bg-white dis-flex image-container"
  *ngIf="question.get('value').value !== ''"
>
  <div class="image-div">
    <img
      id="InsertImage"
      class="insert-image"
      [src]="question.get('value').value.objectURL"
      alt="image"
    />
  </div>
  <div>
    <span id="ImageQuestionName" class="image-text">
      {{ question.get('value').value.name }}
    </span>
    <br />
    <span id="ImageValueSize" class="image-sub-text">
      {{ (question.get('value').value.size / 1024).toFixed(2) }}
      KB
    </span>
  </div>
</div>
