@import '../../../../../scss/colors.scss';

.add-page-modal {
  width: 300px;
  padding: 25px;
  overflow: hidden;

  mat-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  mat-radio-button {
    margin: 10px;

    ::ng-deep .mat-radio-label-content {
      font-weight: 500;
      font-size: 110%;
    }
  }

  .footer-btns {
    display: flex;
    justify-content: flex-end;

    .cancel-button {
      margin-right: 10px;
      color: $blue-main;
    }

    .import-btn {
      background-color: $blue-main;
      color: $white;
    }
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 8px;
    background: $white;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 4px 0px 7px 0px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  ::ng-deep .mat-select-arrow {
    position: relative;
    top: 3px;
  }
}
