<div class="add-page-modal">
  <div mat-dialog-content>
    <mat-radio-group [(ngModel)]="selectedPageOption">
      <mat-radio-button
        color="primary"
        *ngFor="let pageOption of pageOptions"
        [value]="pageOption"
      >
        {{ pageOption | translate }}</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field
      appearance="outline"
      class="width-100 m-t-10 m-b-20"
      *ngIf="selectedPageOption === 'existing'"
    >
      <mat-select
        id="addOrSelectPage"
        [placeholder]="'select' | translate"
        [formControl]="selectedPageControl"
        [compareWith]="compareFn"
      >
        <mat-option *ngFor="let page of data.pages" [value]="page">
          {{ page.name }} {{ page.position }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
  </div>

  <div mat-dialog-actions class="footer-btns">
    <button
      id="addOrSelectPageCancelBtn"
      mat-button
      color="primary"
      class="buttons cancel-button"
      (click)="cancel()"
      translate="cancel"
    ></button>
    <button
      id="addOrSelectPageImportBtn"
      mat-raised-button
      color="primary"
      class="buttons import-btn"
      (click)="import()"
      translate="import"
    ></button>
  </div>
</div>
