<form class="userGroupModal" [formGroup]="userGroupForm">
  <div class="modal-header">
    <span
      *ngIf="groupStatus === 'update'"
      class="title"
      translate="editUserGroup"
    >
    </span>
    <span
      *ngIf="groupStatus === 'create'"
      class="title"
      translate="createUserGroup"
    ></span>
    <span class="dialog-close-btn" (click)="close()">
      <mat-icon class="dialog-close">close</mat-icon>
    </span>
  </div>
  <hr class="divider width-100 m-t-10" />
  <div class="input-container">
    <mat-form-field appearance="outline" class="m-b-10 width-100 m-t-10">
      <mat-label
        >{{ 'enterName' | translate }}
        <span class="text-red">*</span></mat-label
      >
      <input matInput formControlName="name" translate="maxCharacter" />
      <mat-error
        *ngIf="processValidationErrors('name')"
        class="m-t-8 error-fields"
      >
        {{
          errors.name.name
            | translate
              : {
                  name: 'enterName' | translate,
                  length: errors.name.length
                }
        }}
      </mat-error>
    </mat-form-field>
    <span class="max-char">{{
      'maxCharacters' | translate : { limit: 40 }
    }}</span>

    <mat-form-field appearance="outline" class="m-b-10 width-100 m-t-10">
      <mat-label>{{ 'roleDescription' | translate }}</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10 m-t-10">
      <mat-label
        >{{ 'plant' | translate }} <span class="text-red">*</span></mat-label
      >
      <mat-select formControlName="plantId">
        <input
          class="searchable-input"
          [placeholder]="'search' | translate"
          (keyup)="onKeyPlant($event)"
        />
        <div class="scrollable-area">
          <mat-option [value]="plant.id" *ngFor="let plant of plantInformation"
            >{{ plant.plantId }} - {{ plant.name }}</mat-option
          >
        </div>
      </mat-select>
      <mat-error
        *ngIf="processValidationErrors('plantId')"
        class="m-t-8 error-fields"
      >
        {{
          errors.plantId.name
            | translate
              : {
                  name: 'Plant' | translate
                }
        }}
      </mat-error>
    </mat-form-field>
    <hr class="divider width-100 m-b-10" />
  </div>

  <div class="footer">
    <button
      mat-raised-button
      class="cancel-btn"
      autofocus="false"
      mat-dialog-close
      translate="cancelBtn"
      tabindex="-1"
    ></button>

    <button
      mat-raised-button
      *ngIf="groupStatus === 'create'"
      class="next-btn"
      (click)="openSelectUser()"
      type="submit"
      translate="nextBtn"
      [disabled]="userGroupForm.invalid || userGroupForm.pristine"
    ></button>
    <button
      mat-raised-button
      *ngIf="groupStatus === 'update'"
      class="next-btn"
      (click)="updateUserGroup()"
      type="submit"
      translate="saveBtn"
      [disabled]="userGroupForm.invalid || userGroupForm.pristine"
    ></button>
  </div>
</form>
