@import '../../../../scss/colors.scss';

.modal-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userGroupModal {
  width: 360px;
  overflow: hidden;
  padding: 12px;
  background: #ffffff;
  border-radius: 4px;
}
.input-container {
  position: relative;
  top: 15px;
}
::ng-deep .mat-form-field-infix {
  padding: 0.5em 0;
  border: 0.59375em solid transparent;
}
.dialog-close-btn {
  float: right;
  cursor: pointer;
}

.divider {
  border: 1px solid $border-color;
  margin-left: -12px;
  width: 110%;
}

.title {
  font-size: 120%;
  font-weight: 500;
  position: relative;
  top: 13px;
}

.next-btn {
  text-transform: capitalize;
  float: right;
  background: #3d5afe;
  color: #ffffff;
  height: 29px;
  font-weight: normal;
  line-height: normal;
  margin-top: 10px;
}

.cancel-btn {
  color: #76767b;
  float: right;
  background: transparent;
  height: 29px;
  font-weight: normal;
  line-height: normal;
  margin: 10px 10px 0 0;
}

::ng-deep .roles-select .mat-option-text {
  display: flex;
}
