<form class="userGroupModal" [formGroup]="userGroupForm">
  <span class="title" translate>createUserGroup</span>
  <span class="dialog-close-btn" (click)="close()">
    <mat-icon class="dialog-close">close</mat-icon>
  </span>
  <hr class="divider1" />
  <div class="input-container">
    <mat-form-field appearance="outline" class="m-b-10 first-name m-t-10">
      <mat-label>{{ 'name2' | translate }}</mat-label>
      <input matInput formControlName="name" />
      <!-- <mat-error
        *ngIf="processValidationErrors('firstName')"
        class="m-t-5 error-fields"
      >
        {{
          errors.firstName.name
            | translate
              : {
                  name: 'firstName' | translate,
                  length: errors.firstName.length
                }
        }}
      </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="outline" class="m-b-10 first-name m-t-10">
      <mat-label>{{ 'description2' | translate }}</mat-label>
      <input matInput formControlName="description2" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10 m-t-10">
      <mat-label>{{ 'plant' | translate }}</mat-label>
      <mat-select formControlName="plantId">
        <mat-option
          *ngFor="let plant of data.plantsList"
          [value]="plant.id"
          style="padding-right: 0"
          class="roles-select"
        >
          <span>{{ plant.plantId }}</span>
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          userGroupForm.controls.plantId.errors?.selectOne &&
          userGroupForm.controls.plantId.touched
        "
        class="m-t-5 error-fields"
      >
        {{ 'plantsEmpty' | translate }}
      </mat-error>
    </mat-form-field>
    <hr class="divider2" />
  </div>

  <button
    mat-button
    class="cancel-btn"
    autofocus="false"
    mat-dialog-close
    translate="cancelBtn"
    tabindex="-1"
  ></button>

  <button
    mat-raised-button
    class="next-btn"
    (click)="save()"
    type="submit"
    translate="nextBtn"
  ></button>
</form>
