<div class="iphone-view" *ngIf="!titleProvided">
  <div class="ipad-view-default-content">
    <div>
      <svg-icon
        icon="icon-default-ipad-content"
        class="ipad-content-image"
      ></svg-icon>
      <div class="clearfix"></div>
      <br /><br /><br />
      <p>Enter step details to preview them there</p>
    </div>
  </div>
</div>

<div class="iphone-view" *ngIf="titleProvided && selectedID === 0">
  <div class="ipad-view-default-content">
    <div class="width-100">
      <div class="main-carosuel-iphone">
        <div class="dis-flex m-b-10">
          <div class="width-20 status-bar-left">9:41</div>
          <svg-icon icon="icon-Iphone-top" class="iphone-top-piece"></svg-icon>
          <div class="width-30 iphone-status-bar-right">
            <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
            <mat-icon class="status-bar-icons">wifi</mat-icon>
            <mat-icon class="status-bar-icons battery_full-icon"
              >battery_full</mat-icon
            >
          </div>
        </div>
        <div class="dis-flex position header">
          <div class="width-20 header-position header-left">
            <svg-icon icon="icon-iphone-cancel" class="icons"></svg-icon>
          </div>
          <div class="width-60 header-title">Work Instructions</div>
          <div class="width-20 header-position header-right">
            <mat-icon class="icon-background-more">more_horiz</mat-icon>
          </div>
        </div>
        <div>
          <h5 class="header-tab-title">
            {{ this.selectedInstruction.WI_Name }}
          </h5>
        </div>
        <div class="width-100 header-tab-btns">
          <button class="width-95 float-right m-r-10 start-btn">
            <mat-icon class="header-tab-icon">play_arrow</mat-icon>
            <span class="header-tab-pos">Start</span>
          </button>
        </div>

        <div class="scroll-header-iphone">
          <div class="header-body">
            <div
              class="width-100 p-0 header-tab"
              *ngIf="selectedInstructionData.selectedTools.length"
            >
              <span class="header-tab-subtitle"
                >{{ selectedInstructionData.selectedTools.length }}
                {{
                  selectedInstructionData.selectedTools.length > 1
                    ? 'Tools'
                    : 'Tool'
                }}</span
              ><br />
              <hr class="header-tab-hr" />
              <div
                class="header-tab-data width-100 pr-0"
                *ngFor="
                  let tool of selectedInstructionData.selectedTools;
                  let i = index
                "
              >
                <mat-radio-group
                  class="header-tab-data-pos"
                  aria-label="Select an option"
                  *ngIf="selectedInstructionData.selectedTools.length !== 1"
                >
                  <mat-radio-button [value]="tool">
                    <a class="ellipsis-tools">{{ tool }}</a>
                  </mat-radio-button>
                </mat-radio-group>
                <div
                  class="header-tab-data-pos pb-2"
                  *ngIf="selectedInstructionData.selectedTools.length === 1"
                >
                  <a class="ellipsis-tools">{{ tool }}</a>
                </div>
                <hr
                  class="header-tab-hr-m0"
                  *ngIf="i !== selectedInstructionData.selectedTools.length - 1"
                />
              </div>
            </div>
            <div
              class="width-100 p-0 header-tab"
              *ngIf="selectedInstructionData.selectedSafetyKits.length"
            >
              <span class="header-tab-subtitle"
                >{{ selectedInstructionData.selectedSafetyKits.length }}
                {{
                  selectedInstructionData.selectedSafetyKits.length > 1
                    ? 'Safety & PPEs'
                    : 'Safety & PPE'
                }}</span
              ><br />
              <hr class="header-tab-hr" />
              <div
                class="header-tab-data width-100 pr-0"
                *ngFor="
                  let safetyKit of selectedInstructionData.selectedSafetyKits;
                  let i = index
                "
              >
                <mat-radio-group
                  class="header-tab-data-pos"
                  aria-label="Select an option"
                  *ngIf="
                    selectedInstructionData.selectedSafetyKits.length !== 1
                  "
                >
                  <mat-radio-button [value]="safetyKit">
                    <a class="ellipsis-tools">{{ safetyKit }}</a>
                  </mat-radio-button>
                </mat-radio-group>
                <div
                  class="header-tab-data-pos pb-2"
                  *ngIf="
                    selectedInstructionData.selectedSafetyKits.length === 1
                  "
                >
                  <a class="ellipsis-tools">{{ safetyKit }}</a>
                </div>
                <hr
                  class="header-tab-hr-m0"
                  *ngIf="
                    i !== selectedInstructionData.selectedSafetyKits.length - 1
                  "
                />
              </div>
            </div>
            <div
              class="width-100 p-0 header-tab"
              *ngIf="selectedInstructionData.selectedSpareParts.length"
            >
              <span class="header-tab-subtitle"
                >{{ selectedInstructionData.selectedSpareParts.length }}
                {{
                  selectedInstructionData.selectedSpareParts.length > 1
                    ? 'Spare Parts'
                    : 'Spare Part'
                }}</span
              ><br />
              <hr class="header-tab-hr" />
              <div
                class="header-tab-data width-100 pr-0"
                *ngFor="
                  let sparePart of selectedInstructionData.selectedSpareParts;
                  let i = index
                "
              >
                <mat-radio-group
                  class="header-tab-data-pos"
                  aria-label="Select an option"
                  *ngIf="
                    selectedInstructionData.selectedSpareParts.length !== 1
                  "
                >
                  <mat-radio-button [value]="sparePart">
                    <a class="ellipsis-tools">{{ sparePart }}</a>
                  </mat-radio-button>
                </mat-radio-group>
                <div
                  class="header-tab-data-pos pb-2"
                  *ngIf="
                    selectedInstructionData.selectedSpareParts.length === 1
                  "
                >
                  <a class="ellipsis-tools">{{ sparePart }}</a>
                </div>
                <hr
                  class="header-tab-hr-m0"
                  *ngIf="
                    i !== selectedInstructionData.selectedSpareParts.length - 1
                  "
                />
              </div>
            </div>
          </div>
          <div>
            <div
              class="width-100 m-l-minus-5 m-l-5 m-t-10"
              *ngFor="let obj of tabs; let i = index"
            >
              <ul class="preview-steps-title">
                <li class="text-left dis-flex h-25">
                  <button *ngIf="i !== 0" class="button-increment float-left">
                    {{ i }}
                  </button>
                  <div *ngIf="i !== 0" class="dis-flex width-100">
                    <div class="header-step-title">
                      {{ obj }}
                    </div>
                    <div class="float-right">
                      <mat-icon>chevron_right</mat-icon>
                    </div>
                  </div>
                </li>
                <hr *ngIf="i !== 0" class="hr-line" />
              </ul>
            </div>
          </div>
        </div>
        <svg-icon icon="icon-Home-Indicator" class="home-indicator"></svg-icon>
      </div>
    </div>
  </div>
</div>

<div class="iphone-view" *ngIf="selectedID !== 0">
  <div class="ipad-view-default-content">
    <div class="width-100">
      <div class="main-carosuel-iphone">
        <div class="dis-flex m-b-10">
          <div class="width-20 status-bar-left">9:41</div>
          <svg-icon icon="icon-Iphone-to" class="iphone-top-piece"></svg-icon>
          <div class="width-30 iphone-status-bar-right">
            <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
            <mat-icon class="status-bar-icons">wifi</mat-icon>
            <mat-icon class="status-bar-icons battery_full-icon"
              >battery_full</mat-icon
            >
          </div>
        </div>
        <div class="dis-flex position header">
          <div class="width-20 header-position header-left">
            <svg-icon icon="icon-iphone-cancel" class="icons"></svg-icon>
          </div>
          <div class="width-60 header-title">Work Instructions</div>
          <div class="width-20 header-position header-right">
            <mat-icon class="icon-background-more header-right-icon"
              >more_horiz</mat-icon
            >
          </div>
        </div>
        <div class="width-100 position header-position">
          <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
        </div>
        <div class="position">
          <div class="width-100 scrollable-iPhone">
            <h3 class="iPhone-editor-step-title">
              {{ this.currentStepTitle }}
            </h3>
            <div
              *ngIf="loadedImages.length > 0"
              class="width-100 col-carousel-iphone p-l-10 p-r-10"
            >
              <app-carousel
                *ngIf="2 > loadedImages.length"
                [slides]="loadedImages"
              ></app-carousel>
              <app-ngcarousel
                *ngIf="loadedImages.length > 1"
                [slides]="loadedImages"
              ></app-ngcarousel>
            </div>
            <div class="width-100 col-carousel-iphone p-l-10 p-r-10">
              <div class="steps-data-iphone">
                <div *ngIf="instructions.content">
                  <div
                    [innerHTML]="instructions.content"
                    class="m-b-minus-10"
                  ></div>
                </div>
                <div *ngIf="warnings.content">
                  <h6 class="editor-main">
                    <span class="editor-header bg-orange">
                      <mat-icon matSuffix class="editor-icons"
                        >warning</mat-icon
                      >
                      <span class="editor-header-position">{{
                        warnings.header
                      }}</span>
                    </span>
                  </h6>
                  <div
                    [innerHTML]="warnings.content"
                    class="m-b-minus-10"
                  ></div>
                </div>
                <div *ngIf="hints.content">
                  <h6 class="editor-main">
                    <span class="editor-header bg-green">
                      <mat-icon matSuffix class="editor-icons">help</mat-icon>
                      <span class="editor-header-position">{{
                        hints.header
                      }}</span>
                    </span>
                  </h6>
                  <div [innerHTML]="hints.content" class="m-b-minus-10"></div>
                </div>
                <div *ngIf="reactionPlan.content">
                  <h6 class="editor-main">
                    <span class="editor-header bg-blue">
                      <mat-icon matSuffix class="editor-icons">build</mat-icon>
                      <span class="editor-header-position">{{
                        reactionPlan.header
                      }}</span>
                    </span>
                  </h6>
                  <div
                    [innerHTML]="reactionPlan.content"
                    class="m-b-minus-10"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dis-flex">
          <div class="width-30">
            <button class="prev-button-iphone">
              <mat-icon class="foot-button">keyboard_arrow_left</mat-icon>
              <span class="foot-btns-data">Previous</span>
            </button>
          </div>
          <div class="width-40">
            <button class="allsteps-button-iphone">
              <mat-icon class="foot-button">list</mat-icon>
            </button>
          </div>
          <div class="width-30">
            <button class="next-button-iphone">
              <span class="foot-btns-data">Next</span>
              <mat-icon class="foot-button">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
        <svg-icon icon="icon-Home-Indicator" class="home-indicator"></svg-icon>
      </div>
    </div>
  </div>
</div>
