<div class="list-view" *ngIf="userInfo$ | async">
  <div class="main-container">
    <div class="forms-header">
      <h2 class="heading" translate="myForms"></h2>
      <div class="custom-form-field-gray-color search">
        <span class="no-of-forms" *ngIf="formsListCount$ | async as totalCount">
          <span class="forms-count"> {{ totalCount }} &nbsp; </span>
          <span class="forms-text">{{
            'forms'
              | translate
                : {
                    count: totalCount || 0
                  }
          }}</span>
        </span>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="searchIcon">search</mat-icon>
          <input
            matInput
            type="text"
            [placeholder]="'searchForms' | translate"
            autocomplete="off"
            [formControl]="searchForm"
          />

          <svg-icon
            icon="icon-filterIcon"
            cdkOverlayOrigin
            class="pointer"
            #trigger="cdkOverlayOrigin"
            (click)="isPopoverOpen = !isPopoverOpen"
            matSuffix
            class="filter-icon"
          ></svg-icon>
        </mat-form-field>
        <button
          *appCheckUserHasPermission="[perms.createForm, perms.importForm]"
          [matMenuTriggerFor]="menu"
          class="create-new-btn"
          translate="createNew"
        ></button>
        <mat-menu #menu="matMenu" backdropClass="template-list">
          <button mat-menu-item [matMenuTriggerFor]="uploadMenu">
            <svg-icon icon="icon-excel1" class="add-manually-icon"></svg-icon>
            <span class="create-template" translate="uploadExcel"> </span>
          </button>

          <button mat-menu-item (click)="openFormCreationModal(null)">
            <svg-icon
              icon="icon-add-manually"
              class="add-manually-icon"
            ></svg-icon>
            {{ 'createManually' | translate }}
          </button>
        </mat-menu>

        <mat-menu #uploadMenu="matMenu">
          <button mat-menu-item>
            <span translate="uploadEmbedded"></span>
          </button>
          <button mat-menu-item>
            <span translate="uploadStandalone"></span>
          </button>
        </mat-menu>

        <button
          mat-raised-button
          [matMenuTriggerFor]="moreMenu"
          class="more-btn"
          *appCheckUserHasPermission="[perms.importLocations]"
        >
          <mat-icon class="menu-icon">more_horiz</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button
            mat-menu-item
            class="menu-buttons"
            [matMenuTriggerFor]="templateMenu"
          >
            <svg-icon icon="icon-excel1" class="menu-icons"></svg-icon>
            <span translate="downloadTemplate"></span>
          </button>
        </mat-menu>
        <mat-menu #templateMenu="matMenu">
          <button mat-menu-item (click)="downloadTemplate('Embedded')">
            <span translate="uploadEmbedded"></span>
          </button>
          <button mat-menu-item (click)="downloadTemplate('Standalone')">
            <span translate="uploadStandalone"></span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div *ngIf="(forms$ | async) && (isLoading$ | async) === false">
      <cwp-dynamictable
        [dataSource]="dataSource"
        [configOptions]="configOptions"
        (fetchDataCallback)="handleTableEvent($event)"
        (rowLevelActionHandler)="rowLevelActionHandler($event)"
        (onConfigOptionsChange)="configOptionsChangeHandler($event)"
        (cellClickActionHandler)="cellClickActionHandler($event)"
        class="width-100"
      ></cwp-dynamictable>
    </div>
  </div>

  <ng-container *ngIf="menuState">
    <app-form-detail
      [@slideInOut]="menuState"
      (slideInOut)="onCloseViewDetail()"
      [selectedForm]="selectedForm"
      (formDetailAction)="formDetailActionHandler()"
    ></app-form-detail>
  </ng-container>

  <div *ngIf="isLoading$ | async">
    <div class="ghost-loading">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="applyFilter($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template>
</div>
