@import '../../../../scss/colors.scss';

.list-view {
  background-color: $white;
  height: calc(100vh - 205px);

  .heading {
    font-weight: 700;
    font-size: 130%;
    color: $blue-head;
    margin: 0;
  }

  .main-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
  }
  .forms-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .common-filter-icon {
    cursor: pointer;
  }
  .search {
    margin-top: 5px;
  }
}
