.peoplesTabBody {
  background: #ffffff !important;
  top: 50px;
  position: absolute;
  position: relative;
  .searchBar {
    display: flex;
    padding: 0px 15px;
    .searchInput {
      border-radius: 5px;
      padding: 10px;
      background: #f5f5f5;
    }
    .searchMore {
      color: #1a66ff;
    }
  }
  .userList {
    height: 66vh;
    overflow: auto;
  }
}
.peopleList {
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background: #b7b9bc2e;
  }
}
.userIcon {
  font-size: 450%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  width: 40px;
  border-radius: 45px;
  margin-top: -15px;
  margin-right: 10px;
}

.icon-button .icon {
  width: 45px;
  height: 45px;
  border-radius: 45px;
}
