<div class="peoplesTabBody">
  <div class="searchBar">
    <input
      matInput
      placeholder="{{ 'searchPeople' | translate }}"
      name="searchKey"
      id="searchKey"
      [(ngModel)]="searchKey"
      (ngModelChange)="this.searchKeyUpdate.next($event)"
      autocomplete="off"
      class="searchInput"
    />
    <button id="peopleSearchMore" mat-icon-button class="searchMore">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div
    class="userList"
    *ngIf="activeUsers$ | async as activeUsers; else loadingUsers"
    (scroll)="onPeopleListScrolled($event)"
  >
    <mat-list>
      <mat-list-item
        *ngFor="let user of activeUsers; let i = index"
        class="peopleList"
        (click)="onTextMessageClick(user)"
      >
        <div class="icon-button" mat-list-icon>
          <div class="userPresence">
            <img id="peopleProfileImg" class="icon" [src]="user.profileImage" />
            <div
              class="statusCircle"
              [ngClass]="{
                online: user.online,
                offline: !user.online
              }"
            ></div>
          </div>
        </div>
        <div mat-line>
          <b id="peopleName">{{ user.firstName }} {{ user.lastName }}</b>
        </div>
        <div id="peopleTitle" mat-line>{{ user.title }}</div>
        <button
          id="peopleCollab"
          [disabled]="user.collaborationDisabled"
          mat-icon-button
          color="primary"
          (click)="onTextMessageClick(user)"
        >
          <mat-icon *ngIf="!user.collaborationDisabled">chat</mat-icon>
          <mat-icon
            *ngIf="user.collaborationDisabled"
            title="This user is not connected to Slack"
            >comments_disabled</mat-icon
          >
        </button>

        <button
          id="peopleAudio"
          mat-icon-button
          color="primary"
          (click)="openAudioVideoCallDialog(user, 'audio')"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          id="peopleVideo"
          mat-icon-button
          color="primary"
          (click)="openAudioVideoCallDialog(user, 'video')"
        >
          <mat-icon>videocam</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<ng-template #loadingUsers>
  <div class="p-15">
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
