<div class="peoplesTabBody">
  <div class="searchBar">
    <input matInput placeholder="Search Users" disabled class="searchInput" />
    <button mat-icon-button class="searchMore">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div
    class="userList"
    *ngIf="activeUsers$ | async as activeUsers; else loadingUsers"
  >
    <mat-list>
      <mat-list-item
        *ngFor="let user of activeUsers; let i = index"
        class="peopleList"
        (click)="onTextMessageClick(user)"
      >
        <div class="icon-button" mat-list-icon>
          <img class="icon" [src]="user.profileImage" />
        </div>
        <div mat-line>
          <b>{{ user.firstName }} {{ user.lastName }}</b>
        </div>
        <div mat-line>{{ user.title }}</div>
        <button
          [disabled]="user.collaborationDisabled"
          mat-icon-button
          color="primary"
          (click)="onTextMessageClick(user)"
        >
          <mat-icon *ngIf="!user.collaborationDisabled">chat</mat-icon>
          <mat-icon
            *ngIf="user.collaborationDisabled"
            title="This user is not connected to Slack"
            >comments_disabled</mat-icon
          >
        </button>

        <button
          mat-icon-button
          color="primary"
          disabled
          (click)="onAudioMessageClick(user)"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          mat-icon-button
          disabled
          color="primary"
          (click)="onVideoMessageClick(user)"
        >
          <mat-icon>videocam</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<ng-template #loadingUsers>
  <div class="p-15">
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
