@import '../../../../../scss/colors.scss';

.form-header-modal {
  background: $white2;

  .form-toolbar {
    height: 65px;
    background-color: $white;
    margin-left: -90px;
    margin-top: -10px;
    width: auto;

    .back-btn {
      border: none;
      background-color: transparent;
    }

    ::ng-deep .mat-stepper-horizontal-line {
      border-top-width: 1px;
      border-top-style: solid;
      height: 0;
      margin: 0 -16px;
      min-width: 24px;
    }
  }
}
.back-arrow-icon {
  width: 15px;
  height: 15px;
}
.add-details {
  width: 500px;
  height: 90%;
  margin: 10px auto;
  padding: 15px;
  background-color: #ffffff;
}

.table {
  border: 1px solid $border-color;
  width: fit-content;
  text-align: left;
}

.heading {
  font-size: 150%;
  font-weight: 500;
  color: $black;
  margin: 5px;
}
.horizontal-line {
  border: 1px solid $border-color;
  margin: 20px 0;
}

.sub-heading {
  font-weight: 400;
  font-size: 110%;
  color: $text-color;
  margin: 10px 5px;
}

.create-table {
  position: relative;
  left: 30%;
}

.button {
  border: 1px solid $border-color;
}

.add-new-btn {
  color: $blue-main;
  border: none;
  background: none;
}

.tableCountHeaderCount {
  color: $white;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
}

// ::ng-deep
//   .mat-stepper-label-position-bottom
//   .mat-horizontal-stepper-header-container {
//   width: fit-content !important;
//   margin: 0 auto !important;
// }

// ::ng-deep .mat-horizontal-content-container {
//   text-align: center !important;
//   overflow: hidden !important;
//   padding: 0 !important;
// }

.preview-button {
  float: right;
  position: relative;
  top: 20px;
  .preview-button-in {
    border: 1px solid $border-color;
    margin: 0px 11px;
    border-radius: 0;
    padding: 0px 17px;
  }
}
