<div class="shift-overlap-modal">
  <h3
    id="shiftOverLapping"
    mat-dialog-title
    translate="shiftTimeOverlapping"
  ></h3>
  <mat-dialog-content class="mat-typography">
    <p id="shiftOverLappingMsg" translate="shiftOverlapMsg1"></p>
    <p id="shiftOverLappingMsgTwo" translate="shiftOverlapMsg2"></p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      id="shiftOverLappingBackBtn"
      [mat-dialog-close]="true"
      class="back"
      translate="backToEditingBtn"
    ></button>
  </mat-dialog-actions>
</div>
