<div class="field-types">
  <div class="each-fieldtype">
    <p
      id="previewQuestionName"
      class="question-name"
      *ngIf="question.fieldType !== 'ARD' && question.fieldType !== 'INST'"
    >
      {{ (question.name ? question.name : 'typeQuestion') | translate }}
      <span
        [ngClass]="['required', question.required ? ' required-visible' : '']"
      >
        *</span
      >
    </p>
    <ng-template appDynamicPreviewResponseTypeLoader></ng-template>
  </div>
  <div class="task-footer">
    <button
      id="previewQuestionBtn"
      *ngIf="question.fieldType !== 'ATT'"
      mat-button
      mat-icon-button
      class="task-icon-button"
    >
      <svg-icon
        id="previewQuestionIconPhoto"
        icon="icon-Photo"
        class="options"
      ></svg-icon>
      <p id="previewQuestionPhoto">Photo</p>
    </button>
    <button mat-button mat-icon-button class="task-icon-button">
      <svg-icon
        id="previewQuestionOption"
        icon="icon-Note"
        class="options"
      ></svg-icon>
      <p id="previewQuestionNote">Note</p>
    </button>
    <button mat-button mat-icon-button class="task-icon-button">
      <svg-icon
        id="previewQuestionIconAction"
        icon="icon-Action"
        class="options"
      ></svg-icon>
      <p id="previewQuestionAction">Action</p>
    </button>
    <button
      id="previewQuestionOpenMoreBtn"
      mat-button
      mat-icon-button
      class="task-icon-button"
      (click)="openMoreMenu()"
    >
      <svg-icon
        id="previewQuestionMoreIcon"
        icon="icon-More"
        class="options"
      ></svg-icon>
      <p id="previewQuestionMore">More</p>
    </button>
  </div>
</div>
