<div class="field-types">
  <div class="each-fieldtype">
    <p
      class="question-name"
      *ngIf="question.fieldType !== 'ARD' && question.fieldType !== 'INST'"
    >
      {{ (question.name ? question.name : 'typeQuestion') | translate }}
      <span
        [ngClass]="['required', question.required ? ' required-visible' : '']"
      >
        *</span
      >
    </p>
    <ng-template appDynamicPreviewResponseTypeLoader></ng-template>
  </div>
  <div class="task-footer">
    <button
      *ngIf="question.fieldType !== 'ATT'"
      mat-button
      mat-icon-button
      disabled
      class="task-icon-button"
    >
      <img src="/assets/preview/Photo.svg" alt="photo" />
      <p>Photo</p>
    </button>
    <button mat-button disabled mat-icon-button class="task-icon-button">
      <img src="/assets/preview/Note.svg" alt="note" />
      <p>Note</p>
    </button>
    <button mat-button disabled mat-icon-button class="task-icon-button">
      <img src="/assets/preview/Action.svg" alt="action" />
      <p>Action</p>
    </button>
    <button
      mat-button
      [disabled]="!question.enableHistory"
      mat-icon-button
      class="task-icon-button"
    >
      <img src="/assets/preview/More.svg" alt="more" />
      <p>More</p>
    </button>
  </div>
  <!-- {{ question | json }} -->
</div>
