@import '../../../../scss/colors.scss';

.form-header-modal {
  margin-top: 30px;

  .form-content {
    height: calc(100vh - 75px);

    .form-detials {
      background-color: $white;
      width: 600px;
      border-radius: 5px;
      margin: 15px auto;
      padding: 49px;
      overflow-y: auto;
      max-height: calc(100vh - 220px);

      .heading {
        font-size: 130%;
        font-weight: 500;
        color: $black;
        margin: 5px;
      }

      .sub-heading {
        font-weight: 400;
        font-size: 110%;
        color: $text-color;
        margin: 10px 5px;
      }

      .radio-btns {
        position: relative;
        top: 15px;
        left: 7px;
      }

      ::ng-deep
        .mat-radio-button.mat-accent.mat-radio-checked
        .mat-radio-outer-circle {
        border-color: $blue-main;
      }

      ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: $blue-main;
      }

      ::ng-deep .mat-ripple-element {
        display: none !important;
      }

      ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
        border-color: $disabled-color !important;
      }

      ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
        background-color: $disabled-color !important;
      }

      .radio-btn-text {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        position: relative;
        left: 10px;
      }

      .radio-sub-text {
        font-weight: 400;
        font-size: 90%;
        color: $text-color;
        opacity: 0.8;
        margin: 3px 0px 5px 35px;
      }

      .form-name-description {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        margin: 20px 5px 0px 5px;
      }

      .form-name {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 6px 0px 13px 0 !important;
        }
        .error-fields {
          margin-top: 14px;
        }
      }

      .tags {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 17px 0 0 0 !important;
        }
      }

      .tags-mat-chips {
        margin: 5px 5px !important;
      }

      .buttons {
        padding: 15px 0 15px 0;
        margin-right: 0;
        width: 100%;
      }

      .next-btn {
        float: right;
        margin-top: 38px;
        height: 29px;
        font-weight: normal;
        line-height: normal;
      }

      .skip-btn {
        float: right;
        margin-right: 15px;
        margin-top: 38px;
        color: $radio-button-checked;
        height: 29px;
        font-weight: normal;
        line-height: normal;
        border: 1px solid $blue-main;
      }
      .horizontal-line {
        border: 1px solid $border-color;
        margin: 20px 0;
      }
    }
  }
  ::ng-deep .mat-form-field {
    margin: 0.25em 0;
    margin-top: 8px;
  }
  ::ng-deep .display-toolbar .ql-toolbar.ql-snow {
    display: block;
    margin-left: 140px;
  }
  .close-icon {
    width: 20px;
    height: 30px;
  }
  .value-field {
    margin-left: 18px;
  }
}

.searchable-input {
  width: 92%;
  border: 1px solid $border-color;
  padding: 5px;
  border-radius: 4px;
  margin: 10px 10px 10px 12px;
}

.scrollable-area {
  max-height: 200px;
  overflow: auto;
}

.next-btn {
  background-color: $radio-button-checked;
  border-color: $radio-button-checked;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.25em 0;
  margin-top: 26px;
  position: relative;
}

.icon-upload {
  -webkit-transform: rotate(120deg);
  font-size: 150%;
  margin-bottom: 5px;
}
.add-new-button {
  width: 100%;
  text-align: start;
}

.attachments-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-bottom: 20px;
}

.upload-button {
  margin-top: -16px;
  padding: 0;
}

.add-button {
  color: $blue-main;
  border: none;
  background: none;
  float: right;
  position: relative;
  bottom: 14px;
  right: 5px;
}
.additional-details {
  background-color: $blue7;
  border-radius: 8px;
  height: 40px;
}

.additional-details-text {
  font-weight: bold;
  font-size: 120%;
  position: relative;
  top: 13px;
  left: 10px;
  margin: 0px;
  padding-bottom: 10px;
}

.label-value-text {
  display: flex;
  margin: 15px 0 5px 10px;
}

.label,
.value {
  font-size: 120%;
  font-weight: 500;
}

.cancel-icon {
  position: relative;
  top: 15px;
  left: 35px;
  cursor: pointer;
}

.mat-dialog-container {
  height: 10px;
  width: 10px;
  float: left;
}

.remove-btn {
  color: $disabled-color;
  float: right;
  cursor: pointer;
  margin-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

::ng-deep .mat-option-text {
  font-size: 100%;
  display: flex;
}
.mat-error {
  margin-top: 16px;
}
.formtype-flex {
  display: flex;

  input[type='radio'] {
    width: 6%;
    height: 17px;
    position: relative;
    top: 18px;
  }

  .formtype-style {
    border: 2px solid $gray;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
  }
}

.buttons {
  border-bottom: 1px solid $border-color;
  min-height: 33px;
}

.next-btn {
  float: right;
  margin-right: 22px;
  height: 30px;
  font-weight: normal;
  line-height: normal;
}

.skip-btn {
  float: right;
  color: $radio-button-checked;
  height: 30px;
  font-weight: normal;
  line-height: normal;
  border: 1px solid $blue-main;
}
.ai-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ai-create-form-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: clip;
    padding: 0px 10px 50px 10px;
    height: calc(100vh - 150px);
    .ai-prompt-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;

      .ai-form-prompt-heading {
        font-size: 140%;
        font-weight: 500;
      }
      .ai-chat-container {
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        width: calc(100% - 45px);
        margin-bottom: 20px;
        .prompt-form {
          font-weight: 500;
        }
        .prompt-container-parent {
          display: flex;
        }
        .prompt-container {
          width: 90%;
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          position: relative;
          border: 1px solid $border-color-gray;
          border-radius: 5px;
          .prompt-container-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 10px;
            width: 5%;
            .prompt-submit-btn {
              background-color: transparent;
              border: none;
              outline: none;
              cursor: pointer;
            }
          }
          .prompt-container-input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            ::ng-deep
              .mat-form-field-appearance-outline.mat-form-field-disabled,
            ::ng-deep .mat-form-field-outline {
              opacity: 0;
            }
            ::ng-deep .mat-form-field {
              width: 100%;
              border: none;
            }
            ::ng-deep .mat-form-field-infix {
              border-top: none;
            }

            .prompt-input {
              width: 100%;
              height: max-content;
              outline: none;
              border: none;
              resize: none;
              overflow-y: none;
            }
          }
          .icon {
            height: 20px;
            width: 20px;
          }
        }
        .prompt-submit {
          width: 10%;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          flex-direction: row;
          position: relative;
          .prompt-container-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 10px;
            width: 5%;
            .prompt-submit-btn {
              background-color: transparent;
              border: none;
              outline: none;
              cursor: pointer;
            }
          }
          .icon {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
    .prompt-form-loader-container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      .prompt-form-loader {
        margin: 20px 10px;
        font-size: 150%;
        font-weight: 500;
      }
      .loader-icon {
        margin: 5px;
        width: 55px;
        mix-blend-mode: multiply;
      }
    }
    .prompt-form-result-text {
      font-size: 120%;
      font-weight: 400;
      margin: 20px 0px;
    }
    .prompt-generated-form-container {
      display: flex;
      align-items: start;
      flex-direction: column;
      background-color: $white;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 15px;
      width: calc(100% - 45px);

      .prompt-generated-form-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .prompt-generated-form-title {
          font-size: 150%;
          font-weight: 500;
        }
        .form_title_input {
          border: none;
          cursor: pointer;
          max-width: 90%;
          background: none;
          font-size: 140%;
          font-weight: 500;
          text-overflow: ellipsis;
          padding: 3px 10px 3px 3px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
        }
        .form-text-input {
          font-size: 140%;
          border: none;
          font-weight: 500;
          padding: 3px 3px 3px 10px;
        }

        input[type='text']:focus {
          outline: none;
          caret-color: $light-gray;
        }

        .edit-icon {
          border: none;
          background-color: transparent;
          position: relative;
          left: -10px;
          .edit-icon-img {
            width: 15px;
            height: 15px;
          }
        }
      }
      .prompt-generated-form-section-heading {
        font-size: 120%;
        font-weight: 500;
        margin: 10px 5px 0px 55px;
      }
      .prompt-generated-form-section-container {
        margin: 10px 0px;
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        .margin-top--6 {
          margin-top: -6px;
        }
        .prompt-regenerate-form-section {
          .prompt-regenerate-section-btn {
            margin-right: 10px;
            width: max-content;
            height: max-content;
            padding: 10px;
            outline: none;
            border: 1px solid $border-color-gray;
            border-radius: 5px;
            background-color: transparent;
            .icon {
              width: 20px;
              height: 20px;
            }
            .disabled {
              opacity: 0.5;
              cursor: not-allowed;
              animation: rotation 2s infinite linear;
            }
            @keyframes rotation {
              from {
                transform: rotate(359deg);
              }
              to {
                transform: rotate(0deg);
              }
            }
          }
          .prompt-generated-section-field {
            width: 100%;
            margin-top: -6px;
          }
        }
      }
    }
    .prompt-regenerate-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px 10px;
      .prompt-regenerate-title {
        font-weight: 500;
      }
      .prompt-regenerate-btn {
        background-color: transparent;
        border: 1px solid $blue-main;
        outline: none;
        cursor: pointer;
        color: $blue-main;
        color: $blue-main;
        font-weight: 500;
        padding: 5px 10px 5px 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        .icon {
          height: 20px;
          width: 20px;
          margin: 5px;
        }
      }
    }
  }
}
.loader-ai-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  .full-screen-loader-icon {
    mix-blend-mode: multiply;
    height: 200px;
  }
  p {
    font-size: 150%;
    font-weight: 500;
  }
}
