@import '../../../../scss/colors.scss';

.widget-config-modal {
  width: 800px;
  max-width: 800px;
  min-height: 430px;
  background: $white;
  overflow: hidden;
  padding: 20px;
}

.dialog-content {
  border-bottom: 1px solid $gray41-gray;
  height: 345px;
  overflow: hidden;
  padding-right: 0;
}

.widget-config-title {
  font-style: normal;
  font-weight: bold;
  font-size: 110%;
  color: $black;
  margin-bottom: 0px;
}

.report-name {
  margin: 0;
  font-size: 110%;
  font-weight: 500;
  line-height: 35px;
}

.description-title {
  font-size: 90%;
  line-height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.created-time-by {
  font-size: 90%;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.select-report-text {
  text-align: center;
  position: relative;
  top: 30%;
}

.chart-wrapper {
  height: 260px;
  margin: 10px 0px 10px 10px;
}

.warning-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $red-main;
  padding: 0 50px;

  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 20px;
}

::ng-deep .widget-config-modal .mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep .widget-config-modal .tableColumns {
  height: auto;
}

::ng-deep .widget-config-modal .mat-table {
  height: 285px !important;
}

::ng-deep .widget-config-modal .table-filter-panel {
  overflow-y: scroll;
  height: 150px;
}

::ng-deep .configurations-div .chart-settings {
  height: 150px;
  overflow-y: scroll;
}

.border-right {
  border-right: 1px solid $gray41-gray;
}

.filter-component {
  margin-left: 8px;
  margin-top: 5px;
}

.preview-heading {
  margin: 0;
  position: relative;
  top: -12px;
}

.report-list-height {
  height: 85px;
}

::ng-deep .widget-config-modal mat-error {
  margin: 5px 0;
}

.widget-save-btn {
  background-color: $blue-main;
  color: $white;
}
