@import '../../../../scss/colors.scss';

.report-configuration {
  overflow: hidden;
  height: 100%;

  ::ng-deep .table-column {
    width: 10%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep
    .mat-button-toggle-group-appearance-standard
    .mat-button-toggle
    + .mat-button-toggle-disabled {
    border-left: 1px solid $light-gray;
  }
}

.report-edit-icon {
  ::ng-deep svg {
    width: 17px !important;
    height: 17px !important;
  }
}

.favorite-icon {
  width: 25px !important;
  height: 20px !important;
  position: relative;
  top: -5px;
  right: 1px;
}

.dropdown-icon {
  position: relative;
  top: 4px;
  right: 4px;
  width: 14px !important;
  height: 16px !important;
}

.chart-control-icon {
  position: relative !important;
  top: 4px;
  ::ng-deep svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.content-div {
  background-color: white;
  display: flex;
  // justify-content: flex-end;
  height: 100%;
}

.report-input {
  text-overflow: ellipsis;
}

.column1 {
  width: 22%;
  border-right: 1px solid $gray34;
  padding-right: 10px;
}

.column2 {
  padding: 12px 10px;
  width: 78%;
}

.all-dropdown-headings {
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  color: $light-gray;
  margin-bottom: 0;
}

.add-filter {
  width: 100%;
}

.edit-icon {
  position: relative;
  top: 1px;
  color: $light-gray;
  cursor: pointer;
}

.segment-group {
  height: 42px;
  margin-bottom: 10px;
}

.group-by-div {
  border: 1px solid $gray;
  padding: 15px;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.group-rows-text {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  color: $light-gray;
}

.report-button {
  background: rgba(61, 90, 254, 0.08);
  min-width: auto;
  margin: 0px 3px;
  border: none;
  padding: 0px 10px;
  height: 35px;
}

.highlight-btn {
  background: rgba(61, 90, 254, 0.08);
  min-width: auto;
  margin: 0px 3px;
  padding: 0px 10px 0px 10px;
  height: 40px;
  border: 3px solid $blue-secondary;
}

.export-btn-loader {
  margin-left: 5px;
}

.cancel-button {
  background: $white;
  min-width: auto;
  margin: 0px 3px;
  color: $blue-main;
  border: 1px solid $blue-main;
  padding: 0px 10px;
  height: 35px;
}

.save-btn-toggle {
  height: 35px;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.save-button {
  background: $blue-main;
  color: $white;
  cursor: pointer;
  min-width: auto;
  border: none;
}

.save-button-arrow {
  width: 30px;
  background: $blue-main;
  color: $white;
  cursor: pointer;
}

.dropdown-arrow {
  position: relative;
  right: 8px;
}

::ng-deep
  .report-configuration
  .mat-button-toggle-disabled
  .mat-button-toggle-button {
  cursor: default;
  background: $gray41;
  color: $gray34;
}

.no-of-records {
  font-weight: 500;
  display: inline-block;
  margin-left: 12px;
  font-size: 100%;
}

.report-name-col {
  width: 100%;
  padding: 0 10px;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border: 1px solid transparent;
  }
}

.filters-col {
  padding: 10px;
  width: 75%;
  margin-top: 20px;
}

.common-filter-formfield {
  width: 275px;
  margin-right: 15px;
}

.common-filter-search {
  padding: 0;
}

.common-filter-icon {
  width: 18px;
}

.width-95 {
  width: 95%;
}

.report-name-error {
  white-space: nowrap;
  margin-top: 7px;
}

.favorite-toggle {
  margin-top: 25px;
  margin-right: 15px;
  text-align: right;
}

.chart-wrapper {
  height: 200px;
  margin-top: 30px;
}

::ng-deep .report-configuration .mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep cwp-table-filter-panel > div {
  height: calc(100vh - 207px);
}

::ng-deep
  .report-configuration
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background {
  background-color: gray !important;
}

::ng-deep .report-configuration .mat-checkbox-frame {
  border-width: 2px;
  border-color: $gray23;
}

::ng-deep
  .report-configuration
  .mat-list-base
  .mat-list-item
  .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 5px;
}

.m-t-3 {
  margin-top: 3px;
}

.text-align-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.settings-modal {
  background: white;
  border: 1ps solid gray;
  border: 1px solid gray;
  padding: 15px 0 15px 8px;
  position: absolute;
  width: auto;
  right: 400px;
  top: -25px;
}
.settings-icon {
  top: 150px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
}

.yes-no-btn {
  float: right;
  margin-right: 10px;
}

.done-btn {
  background-color: $blue-main;
}

.cancel-btn {
  color: $blue-main;
}

.m-t-14 {
  margin-top: 14px;
}

.height-100 {
  height: 100%;
}

.table-filter-panel {
  .outline-filter-tabs {
    padding-left: 10px;
    height: 100%;
  }
  ::ng-deep .mat-tab-header {
    margin-right: 10px;
  }
  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  }
  ::ng-deep .mat-tab-label {
    height: 36px !important;
    width: 50%;
    min-width: auto;
    opacity: 1;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner-class:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  background: transparent;
  animation: spinner 0.8s linear infinite;
}

.btn-background {
  background: rgba(33, 33, 33, 0.5);
  margin: 0px 3px;
  border: none;
  padding: 0px 10px;
  height: 35px;
  position: relative;
  top: -5px;
  width: 42px;
}
