<div ngClass="chatsBody">
  <div ngClass="conversationsList">
    <div ngClass="searchBar">
      <mat-icon>arrow_back</mat-icon>
      <span>Add Participants</span>
    </div>
    <div ngClass="searchBar">
      <input
        matInput
        placeholder="Search Users"
        disabled
        ngClass="searchInput"
      />
    </div>
    <div ngClass="userList">
      <mat-list>
        <mat-list-item
          *ngFor="let user of activeUsers$ | async; let i = index"
          ngClass="peopleList"
        >
          <div class="icon-button" mat-list-icon>
            <img class="icon" [src]="user.profileImage" />
          </div>
          <div mat-line>
            <b>{{ user.firstName }} {{ user.lastName }}</b>
          </div>
          <div mat-line>{{ user.title }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div ngClass="conversationContent">
    <h6>Please select a conversation to send message</h6>
  </div>
</div>
