.import-questions-modal {
  height: 540px;
  width: 540px;
  overflow: hidden;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 10px 0;
  }

  .heading-conatiner {
    justify-content: space-between;
    padding: 10px 10px 0 15px;

    .heading {
      font-size: 120%;
      margin-top: 10px;
    }

    .clear-icon {
      font-size: 130%;
      margin-top: 10px;
      cursor: pointer;
    }
  }

  .body-container {
    padding: 0 15px 10px 15px;
  }
}
