<div
  class="widget-delete-modal custom-form-field-white-color"
  [formGroup]="reportNameAndDescForm"
>
  <p class="title" translate>saveReportAs</p>
  <mat-form-field appearance="outline" class="width-100">
    <mat-label translate>reportName</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="processValidationErrors('name')" class="m-t-5">
      {{
        errors.name.name
          | translate
            : {
                name: 'reportName' | translate,
                length: errors.name.length
              }
      }}
    </mat-error>
  </mat-form-field>
  <br />
  <button
    mat-raised-button
    class="save-as-btn"
    type="submit"
    [disabled]="reportNameAndDescForm.invalid"
    (click)="saveAs()"
    translate="save"
    *appCheckUserHasPermission="[permissions.updateReport,permissions.updateOPRReport]"
  ></button>
  <button
    mat-button
    class="yes-no-btn"
    autofocus="false"
    mat-dialog-close
    translate="cancel"
  ></button>
</div>
