<div class="assignee-modal">
  <h1 mat-dialog-title class="assignee-modal-heading">
    <span class="assign-work-order-heading">{{
      'assignWorkOrder' | translate
    }}</span>
    <button (click)="dismiss()" class="modal-dismiss-class">
      <svg-icon icon="icon-cancel"></svg-icon>
    </button>
  </h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="mat-field">
      <mat-label>{{ 'workCenter' | translate }}</mat-label>
      <mat-select
        [(ngModel)]="workCenter"
        name="workCenter"
        (selectionChange)="this.onCenterChange($event)"
      >
        <mat-option *ngFor="let work of workCenterList" [value]="work">{{
          work.workCenterKey
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-field">
      <mat-label>{{ 'assignee' | translate }}</mat-label>
      <mat-select
        [(ngModel)]="assignee"
        name="assignee"
        (selectionChange)="this.onAssigneeChange($event)"
      >
        <mat-option
          *ngFor="let assign of displayedAssigneeList"
          [value]="assign"
        >
          <img
            [hidden]="!getImageSrc(assign.image)"
            [attr.src]="getImageSrc(assign.image)"
            alt=""
            class="assignee-person-image"
          />
          {{ assign.personName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="f-right">
    <button mat-button class="cancel-btn" (click)="dismiss()">
      {{ 'cancel' | translate | uppercase }}
    </button>
    <button
      mat-button
      color="primary"
      (click)="onSave()"
      class="save-btn"
      [disabled]="saveDisabled"
    >
      {{ 'save' | translate | uppercase }}
    </button>
  </div>
</div>
