@import '../../../../scss/colors.scss';

.assignee-modal {
  height: 220px;
  padding: 20px 0;
  overflow: hidden;
}

.assignee-modal-heading {
  margin-bottom: 0;
}

.assign-work-order-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 80%;
  line-height: 21px;
  color: $black;
  margin-left: 20px;
}

.modal-dismiss-class {
  background: none;
  border: none;
  float: right;
  margin-right: 15px;
  margin-top: 5px;

  ::ng-deep svg {
    width: 16px !important;
    height: 16px !important;
    background-color: transparent;
    fill: $black !important;
    // all: inherit;
  }
}

.cancel-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: $gray4;
  float: right;
  --background-hover: none;
}

.save-btn {
  margin-right: 20px;
  background-color: $blue-primary;
  color: $white;
}

.save-btn:disabled {
  margin-right: 20px;
  background-color: $gray41-gray;
  color: $gray5;
}

.mat-field {
  margin: 10px 20px 0px 20px;
}

.assignee-person-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: 10px;
}
