<div *ngIf="userInfo$ | async" class="issues-list">
  <span class="no-of-issues" *ngIf="issuesCount$ | async as totalCount">
    <span class="issues-count">
      {{ totalCount | count }}
    </span>
    <span class="issues-text">
      {{
        'issues'
          | translate
            : {
                count: totalCount || 0
              }
      }}
    </span>
  </span>
  <span class="custom-form-field-gray-color">
    <mat-form-field appearance="outline" class="issues-search">
      <mat-icon matPrefix class="searchIcon">search</mat-icon>
      <input
        matInput
        type="text"
        [placeholder]="'search' | translate"
        autocomplete="off"
        [formControl]="searchIssue"
      />
      <svg-icon
        icon="icon-filterIcon"
        matSuffix
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="isPopoverOpen = !isPopoverOpen"
        class="common-filter-icon"
      ></svg-icon>
    </mat-form-field>
    <ng-template
      cdkConnectedOverlay
      cdkConnectedOverlayPanelClass="custom-popover"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayHasBackdrop]="true"
      [cdkConnectedOverlayOpen]="isPopoverOpen"
      [cdkConnectedOverlayOrigin]="trigger"
      cdkConnectedOverlayWidth="400px"
      (backdropClick)="isPopoverOpen = false"
    >
      <app-filter
        [json]="filterJson"
        (close)="isPopoverOpen = false"
        (apply)="applyFilters($event)"
        (reset)="clearFilters()"
        class="set-filter"
      ></app-filter>
    </ng-template>
  </span>

  <div *ngIf="(issues$ | async) && (isLoading$ | async) === false">
    <cwp-dynamictable
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (cellClickActionHandler)="cellClickActionHandler($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      class="width-100"
    ></cwp-dynamictable>
  </div>

  <div *ngIf="isLoading$ | async">
    <div class="padding-lr-20">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</div>
