<app-dynamic-stepper
  [steps]="steps"
  [currentStep]="currentStep"
  [showGoBack]="true"
  (goBack)="goBack()"
  (gotoStep)="onGotoStep($event)"
  (gotoNextStep)="gotoNextStep()"
  (gotoPreviousStep)="gotoPreviousStep()"
>
  <div stepsContent>
    <!-- STEP 1 -->
    <div [hidden]="currentStep !== 0">
      <app-form-configuration-modal
        [data]="data"
        (gotoNextStep)="gotoNextStep()"
      ></app-form-configuration-modal>
    </div>

    <!-- STEP 2 -->
    <div [hidden]="currentStep !== 1">
      <app-form-configuration
        (gotoNextStep)="gotoNextStep()"
        (gotoPreviousStep)="gotoPreviousStep()"
      ></app-form-configuration>
    </div>

    <!-- STEP 3 -->
    <div [hidden]="currentStep !== 2">
      <app-pdf-builder
        [moduleName]="'RDF'"
        (gotoPreviousStep)="gotoPreviousStep()"
      ></app-pdf-builder>
    </div>
  </div>
</app-dynamic-stepper>
