<span class="tag">
  <label id="selectTags" translate="tag"></label>&nbsp;
  <select
    [(ngModel)]="tagAnswer"
    (ngModelChange)="dataChanged()"
    class="tag-field-select"
    [ngStyle]="{
      color: tagAnswer === getNoneTag() ? '#3d5afe' : '#f44336'
    }"
  >
    <option
      id="selectTagNone"
      value="None"
      translate="noneTag"
      class="none-field"
    ></option>
    <option
      id="selectTagDanger"
      value="Danger"
      translate="dangerTag"
      class="other-field"
    ></option>
    <option
      id="selectTagCaution"
      value="Caution"
      translate="cautionTag"
      class="other-field"
    ></option>
    <option
      id="selectTagInfo"
      value="Information"
      translate="informationTag"
      class="other-field"
    ></option>
  </select>
</span>
