<span class="tag">
  <label translate="tag"></label>&nbsp;
  <select
    [(ngModel)]="tagAnswer"
    (ngModelChange)="dataChanged()"
    class="tag-field-select"
    [ngStyle]="{
      color: tagAnswer === getNoneTag() ? '#3d5afe' : '#f44336'
    }"
  >
    <option value="None" translate="noneTag" class="none-field"></option>
    <option value="Danger" translate="dangerTag" class="other-field"></option>
    <option value="Caution" translate="cautionTag" class="other-field"></option>
    <option
      value="Information"
      translate="informationTag"
      class="other-field"
    ></option>
  </select>
</span>
