@import '../../../../../../scss/colors.scss';

.tag-field-select {
  border: none;
  background: transparent;
  width: 110px;
}

.none-field {
  color: $blue-main;
}

.other-field {
  color: red;
}
