<div class="uom-delete-modal">
  <p id="uomDeleteTitle" class="cancel-title" translate="delete"></p>
  <p
    id="uomDeleteSubTitle"
    class="cancel-subtitle"
    translate="deleteSubTitle"
  ></p>
  <button
    id="uomDeleteBtn"
    mat-raised-button
    color="warn"
    class="delete-btn pr-2"
    (click)="deleteForm('delete')"
    translate="delete"
  ></button>
  <button
    id="uomDeleteCancelBtn"
    mat-button
    class="cancel-btn"
    (click)="deleteForm('cancel')"
    translate="cancel"
  ></button>
</div>
