<div
  class="create-form-main"
  [formGroup]="formConfiguration"
  *ngIf="{ formMetadata: formMetadata$ | async } as props"
>
  <div class="dis-flex form-header">
    <div class="dis-flex width-45">
      <svg-icon
        id="roundPlanDetailIcon"
        icon="icon-round-plans-icon"
        class="plans-icon"
      ></svg-icon>
      <input
        id="roundPlanDetailText"
        hidden
        type="file"
        #formImageuploader
        accept="image/x-png,image/jpeg"
        (change)="uploadFormImageFile($event)"
      />
      <div class="width-90">
        <a
          matTooltip="{{ formConfiguration.get('name').value }}"
          class="dis-inline"
        >
          <a class="width-90">
            <input
              id="roundPlanDetailNameText"
              #name
              type="text"
              [size]="name.value !== '' ? getSize(name.value) : 20"
              class="form_title_input"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
              (keyup.enter)="formConfiguration.get('name').disable()"
              (blur)="formConfiguration.get('name').disable()"
            />

            <mat-error
              id="roundPlanDetailNameError"
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </a>
          <button
            id="roundPlanDetailEditNameBtn"
            (click)="editFormName()"
            class="edit-icon"
            *ngIf="formConfiguration.get('name').disabled === true"
          >
            <svg-icon
              id="roundPlanDetailEditNameIcon"
              icon="icon-edit-icon"
              class="edit-icon-img"
            ></svg-icon>
          </button>
        </a>
        <br />
        <div class="dis-flex center">
          <a
            matTooltip="{{ formConfiguration.get('description').value }}"
            class="width-62"
          >
            <input
              id="roundPlanDetailDescriptionText"
              type="text"
              class="form_description_input"
              placeholder="{{ 'addFormDesc' | translate }}"
              formControlName="description"
              autofocus="true"
              autocomplete="off"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="header-level">
      <div class="row1">
        <span class="txt">{{ 'headerFrequency' | translate }} : </span>
        <span *ngIf="payload">
          {{ this.headerDetails.get('HeaderFrequency').value }}
        </span>
      </div>
      <div class="row2">
        <div>
          <span class="txt">{{ 'shift' | translate }}: </span>
          <span *ngIf="payload">
            {{ this.headerDetails.get('shiftDetails').value }}
          </span>
        </div>
        <div>
          <span class="txt">{{ 'slot' | translate }}: </span>
          <span *ngIf="payload">
            {{ this.headerDetails.get('slotDetials').value }}
          </span>
        </div>
        <div>
          <span class="txt">{{ 'start' | translate }} : </span>
          <span *ngIf="payload">
            {{ this.headerDetails.get('HeadersStartDate').value }}
          </span>
          <span class="txt">{{ 'end' | translate }} : </span>
          <span *ngIf="payload">
            {{ this.headerDetails.get('HeadersEndDate').value }}
          </span>
        </div>
        <div>
          <span class="txt">{{ 'assigneDetails' | translate }} : </span>
          <span *ngIf="payload">
            {{ this.headerDetails.get('AssigneDetails').value }}
          </span>
        </div>
      </div>
    </div>

    <div class="dis-flex width-45 justify-content-end">
      <div class="save-status">
        {{ statusSubject | async }}
      </div>
      <button id="SchedulingBtn" mat-stroked-button class="schedule-btn">
        <span>
          <span translate="schedule"></span>
        </span>
      </button>
    </div>
  </div>
</div>
<div class="dis-flex form">
  <div class="asset-location-search width-30">
    <span class="custom-form-field-gray-color search">
      <mat-form-field appearance="outline" class="searchField">
        <mat-icon id="hierarchyContainerSearchIcon" matPrefix class="searchIcon"
          >search</mat-icon
        >
        <input
          id="hierarchyContainerSearchText"
          matInput
          type="text"
          [placeholder]="'search' | translate"
          autocomplete="off"
          [matAutocomplete]="auto"
          [formControl]="searchHierarchyKey"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="searchResultSelected($event)"
        >
          <mat-optgroup [label]="getSearchMatchesLabel()">
            <mat-option
              *ngFor="let option of filteredOptions$ | async"
              [value]="option"
              class="searchResultOption"
            >
              <div class="nodeContent">
                <img [src]="option.image" />
                <div class="description">
                  <span id="hierarchyContainerName" class="title">{{
                    option.name
                  }}</span>
                  <span id="hierarchyContainerType" class="subTitle">
                    {{
                      'nodeSubTitle'
                        | translate
                          : {
                              nodeType: option.type | titlecase,
                              nodeId: option.nodeId
                            }
                    }}
                  </span>
                </div>
              </div>
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>

        <svg-icon
          id="hierarchyContainerCloseIcon"
          icon="icon-close"
          matSuffix
          *ngIf="searchHierarchyKey.value.length"
          class="closeIcon"
          (click)="clearSearchResults()"
        ></svg-icon>
      </mat-form-field>
    </span>

    <div class="hierarchy">
      <div *ngIf="!flatHierarchy.length" class="emptySearchResult">
        <span id="hierarchyContainerLocationFound">
          {{
            'noAssetsOrLocationsFound'
              | translate : { searchKey: searchHierarchyKey.value }
          }}
        </span>
      </div>
      <app-node
        [node]="node"
        [hierarchyMode]="mode"
        *ngFor="let node of flatHierarchy"
      ></app-node>
    </div>
  </div>
  <div
    class="questions-responses-width width-40"
    *ngIf="selectedNode; else loadingSelectedNode"
  >
    <app-builder
      [isEmbeddedForm]="false"
      [selectedNode]="selectedNode"
      [isPreviewActive]="isPreviewActive"
      [moduleName]="'rounds'"
    ></app-builder>
  </div>
  <div class="width-30 right-panel">
    <h3 class="heading">Revise Schedule</h3>

    <div>
      <div class="selected-locations">
        <p class="m-0">
          <mat-icon>keyboard_arrow_down</mat-icon>
          <span class="selected-text">Selected</span>
        </p>
        <div *ngFor="let location of locations" class="locations">
          <div>{{ location.name }}</div>
          <div>{{ location.count }} Tasks</div>
        </div>
      </div>
    </div>

    <div class="subheadings">
      <h3>Schedule by Frequency</h3>

      <div class="dis-flex schedule-frequency">
        <p id="taskScheduleConfigurationRepeatEvery" class="f-w-400">
          {{ 'repeatEvery' | translate }}
        </p>
        <mat-form-field appearance="fill" class="repeat-num">
          <input type="number" matInput min="1" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="repeat-day">
          <mat-select>
            <mat-option
              *ngFor="let repeatEvery of repeatTypes"
              [value]="repeatEvery"
            >
              {{ repeatEvery }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <ng-container
         *ngIf="schedulerConfigForm.get('repeatEvery').value === 'week'"
      >
        <div id="scheduleConfigurationRepeatOn" class="row-title">
          {{ 'repeatOn' | translate }}
        </div>
        <mat-button-toggle-group
          name="daysOfWeek"
          formControlName="daysOfWeek"
          multiple
        >
          <mat-button-toggle
            id="scheduleConfigurationDayOfWeek"
            *ngFor="let dayOfWeek of daysOfWeek; let i = index"
            [value]="i"
            >{{ dayOfWeek.slice(0, 1).toUpperCase() }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </ng-container> -->
      <!-- <ng-container
        *ngIf="schedulerConfigForm.get('repeatEvery').value === 'month'"
      >
        <div id="scheduleConfigurationRepeatOnMonth" class="row-title">
          {{ 'repeatOn' | translate }}
        </div>
        <div formArrayName="monthlyDaysOfWeek">
          <div
            *ngFor="let weekOfMonth of weeksOfMonth; let i = index"
            class="weeks-of-month"
          >
            <div
              id="scheduleConfigurationWeekOfMonth"
              class="row-title"
              class="m-r-40"
              [ngClass]="{ 'm-r-36': i === 1 }"
            >
              {{ weekOfMonth }}
            </div>
            <div>
              <mat-button-toggle-group
                [formControlName]="i"
                name="{{ i }}"
                multiple
              >
                <mat-button-toggle
                  id="scheduleConfigurationMonth"
                  *ngFor="let dayOfWeek of daysOfWeek; let i = index"
                  [value]="i"
                >
                  {{ dayOfWeek.slice(0, 1).toUpperCase() }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
      </ng-container> -->
      <div class="dis-flex custom-form-field-white-color m-t-10">
        <span class="f-w-400 startdate">Start Date</span>
        <mat-form-field appearance="outline" class="width-30">
          <mat-label id="taskScheduleConfigStartDate" translate>
            startDate
          </mat-label>
          <input matInput readonly />
          <input
            matInput
            [matDatepicker]="startDate"
            (dateChange)="updateDate($event, 'startDate')"
            [min]="startDatePickerMinDate"
            hidden
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startDate"
            (click)="startDate.open()"
          >
            <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="dis-flex custom-form-field-white-color m-t-10">
        <span class="f-w-400 enddate">End Date</span>
        <mat-form-field appearance="outline" class="width-30">
          <mat-label id="taskScheduleConfigEndDate" translate>
            endDate
          </mat-label>
          <input matInput readonly />
          <input
            matInput
            [matDatepicker]="endDate"
            (dateChange)="updateDate($event, 'endDate')"
            [min]="startDatePickerMinDate"
            hidden
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endDate"
            (click)="endDate.open()"
          >
            <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="subheadings">
      <h3>Shifts</h3>
    </div>

    <div>
      <h3 class="subheadings">Slots</h3>
    </div>
  </div>
  <ng-template #loadingSelectedNode>
    {{ 'nullSelectedLocationAssetFirst' | translate }}
    {{ 'nullSelectedLocationAssetSecond' | translate }}
  </ng-template>
</div>
