<div class="modal-container">
  <app-hierarchy-locations-list
    *ngIf="hierarchyLoaded && mode === 'location'"
    [locationsData]="masterHierarchyList"
    [selectedList]="selectedHierarchyList"
    (handleLocationHierarchy)="prepareHierarchyForSelectedLocations($event)"
  ></app-hierarchy-locations-list>
  <app-hierarchy-assets-list
    *ngIf="hierarchyLoaded && mode === 'assets'"
    [hierarchyData]="selectedLocationsHierarchy"
    [selectedList]="selectedHierarchyList"
  ></app-hierarchy-assets-list>
</div>
