@import '../../../../../../scss/colors.scss';

.dis-flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray3;
  border-radius: 8px;
  margin-top: 4px;

  .text-answer {
    width: 93%;
    height: 28px;
    border: none;
    margin-left: 6px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 90%;
    }
  }

  .location-icon {
    height: 18px;
    width: 18px;
    position: relative;
    top: 7px;
    margin-right: 4px;
  }
}
