.split-pane-visible > ion-menu.custom-menu1 {
  max-width: 300px!important;
}

.split-pane-visible > ion-menu.custom-menu2 {
  max-width: 70px!important;
  min-width: 70px!important;
}

ion-menu ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;

  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
  --transition: none;
}

ion-item {
   padding-left: 10px;
}

ion-item.selected {
  --color: #2953E8;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}

/*
 * Material Design Menu
*/
ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-list-header {
  padding-left: 18px;
  padding-right: 18px;

  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 450;
}

ion-menu.md ion-item {
  --padding-start: 18px;

  margin-right: 10px;

  border-radius: 0 50px 50px 0;

  font-weight: 500;
}

ion-menu.md ion-item.selected {
  border-left: 5px solid #2953E8;
  padding: 0;
}

.submenu.selected{
  border-left: none !important;
  padding-left: 10px !important;
}

ion-menu.md ion-item.selected ion-icon {
  color: #2953E8;
}

ion-menu.md ion-list-header,
ion-menu.md ion-item ion-icon {
  color: var(--ion-color-step-650, #5f6368);
}

ion-menu.ios ion-list-header {
  padding-left: 16px;
  padding-right: 16px;

  margin-bottom: 8px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-item.selected ion-icon {
  color: #2953E8;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  font-family: Poppins;
  font-size: 14px
}

.p-0 {
  padding: 0 !important;
}

.sidebar-logo {
  padding: 15px 10px 10px 20px;
}

.icon-margin {
  margin: 0;
}