
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.alert-head.sc-ion-alert-ios {
  text-align: left;
}

.alert-tappable.sc-ion-alert-ios {
  height: 44px;
  border-bottom: 1px solid #cccccc;
}

.sc-ion-modal-md-h {
  --width: 400px;
  --height: 250px;
}

.plyr--audio .plyr__controls {
  padding-bottom: 0;
}

.plyr__control {
  display: none;
}

/* .plyr__controls__item {
    display: none;
  } */

.plyr__progress__buffer {
  display: none;
}

.plyr__volume {
  display: none;
}

.plyr__time {
  display: none;
}

.plyr video {
  width: 315px;
}

.plyr__tooltip {
  display: none;
}

.plyr__progress input {
  width: 320px;
  height: 2px;
  margin: 30px 30px;
}

.audioPopover {
  width: 382px;
  height: auto;
  max-width: 382px;
}


// .popover-body {
//   padding: 0;
// }

.popover {
    width: 382px;
    // height: 425px;
    max-width: 382px;
}

.popover .arrow {
    display: none;
}

.searchbar-input.sc-ion-searchbar-md {
  background: #F2F2F2;
  opacity: 0.75;
  box-shadow: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
