.mat-drawer-content {
  overflow: hidden;
  background-color: #f2f2f2;
}

.mat-drawer {
  position: fixed;
  border: none;
  height: auto;
  box-shadow: none;
  overflow: hidden;
}

.menu-item {
  padding-right: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.menu-item li {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #76767b;
  cursor: pointer;
}

.menu-item li:hover {
  background-color: #eeeeee;
}

.menu-item li.selected {
  border-left: 5px solid #2a3eb1;
}

.menu-item li.selected .sidebar-icons {
  background-color: #2a3eb1;
}

.submenu {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #8b96cc;
  cursor: pointer;
  height: 42px !important;
}

.submenu.subSelected {
  color: #2a3eb1;
  background: #f0f3ff;
  border-radius: 8px;
}

.sidebar-icons {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 7px;
}

li.selected .sidebar-icons {
  margin-left: 5px;
}

@media screen and (min-width: 990px) {
  .min-app {
    display: none;
  }
}

@media screen and (max-width: 1022px) {
  .min-app {
    position: fixed;
    top: 40%;
    left: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 1022px) {
  .main-app {
    display: none;
  }
}

.m-l-70 {
  margin-left: 70px;
}

.menu-title {
  position: relative;
  left: 20px;
}

.menu-name {
  color: #727caf;
  font-size: 14px;
}

.menu-name.active {
  color: #2a3eb1;
}

.menu-name:hover {
  background-color: transparent;
}

.menu-name:focus {
  background-color: transparent;
}

.hide-content {
  display: none;
}

.arrow-margin {
  margin: 15px 10px;
}

.innov-big-img {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.innov-small-img {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.show-content {
  margin: 14px 0 0 70px;
  height: 100%;
}

.show-login {
  margin: 0;
  height: 100%;
}

mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #ffffff;
  margin-top: 65px;
}

::ng-deep mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 75px !important;
  overflow: hidden;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent;
}

::ng-deep .mat-list-item-content {
  padding: 0 10px !important;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

.sidebar-menu-items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75vh;
}
