@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.searchbar-input.sc-ion-searchbar-md {
  background: #F2F2F2;
  opacity: 0.75;
  border-radius: 8px;
  box-shadow: none;
}

.mat-form-field-flex > .mat-form-field-infix { 
  padding: 0.4em 0px !important;
}

.mat-form-field-label-wrapper { 
  top: -1.5em; 
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}