<div class="min-app">
  <img src="assets/img/svg/small_screen.svg" /><br />
  Please use a tablet or desktop for the best connected worker experience
</div>

<mat-drawer-container class="app-container main-app">
  <mat-drawer
    mode="side"
    opened
    class="sidenav-drawer"
    *ngIf="this.currentRouteUrl !== '/login'"
  >
    <div
      [ngClass]="{
        'maximized-sidebar-container': this.sidebar === false,
        'minimized-sidebar-container': this.sidebar === true
      }"
    >
      <div class="sidebar-header">
        <img
          src="../../../assets/img/svg/innov-logo.svg"
          class="sidebar-logo"
          *ngIf="this.sidebar === false"
        />
        <img
          src="../../../assets/img/svg/innov-small-logo.svg"
          class="sidebar-small-logo"
          *ngIf="this.sidebar === true"
        />
      </div>
      <ul *ngFor="let menuitem of menus; let i = index" class="menu-item">
        <li
          [routerLink]="menuitem.url"
          routerLinkActive="selected"
          routerDirection="root"
          detail="false"
          (click)="selectedListElement(menuitem.title)"
          title="{{ menuitem.title }}"
          *appCheckUserHasPermission="[menuitem.permission]"
        >
          <span *ngIf="this.sidebar === false">
            <img src="{{ menuitem.image }}" class="sidebar-icons" />
            <span class="menu-title">
              {{ menuitem.title }}
            </span>
          </span>
          <span *ngIf="this.sidebar === true">
            <button [matMenuTriggerFor]="menu" class="menu-trigger-btn">
              <img src="{{ menuitem.image }}" class="sidebar-icons" />
            </button>
          </span>
        </li>

        <div
          *ngIf="menuitem.showSubMenu && menuitem.subPages !== null"
          class="m-l-60"
        >
          <ng-container *ngIf="permissions$ | async as permissions">
            <ng-container
              *ngIf="
                checkUserHasSubMenusPermissions(
                  permissions,
                  menuitem.subPages,
                  menuitem.permission
                )
              "
            >
              <ul
                lines="none"
                class="p-0 submenu"
                *ngFor="let submenuitem of menuitem.subPages"
              >
                <li
                  [routerLink]="submenuitem.url"
                  routerLinkActive="subSelected"
                  routerDirection="root"
                  detail="false"
                  *appCheckUserHasPermission="[submenuitem.permission]"
                >
                  <span>{{ submenuitem.title }}</span>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </div>

        <mat-menu #menu="matMenu" class="sidebar-menu-panel">
          <span *ngIf="menuitem.subPages !== null && this.sidebar === true">
            <ng-container *ngIf="permissions$ | async as permissions">
              <ng-container
                *ngIf="
                  checkUserHasSubMenusPermissions(
                    permissions,
                    menuitem.subPages,
                    menuitem.permission
                  )
                "
              >
                <ul
                  class="p-0 submenu"
                  *ngFor="let submenuitem of menuitem.subPages"
                >
                  <li
                    [routerLink]="submenuitem.url"
                    routerLinkActive="subSelected"
                    routerDirection="root"
                    detail="false"
                    *appCheckUserHasPermission="[submenuitem.permission]"
                  >
                    {{ submenuitem.title }}
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </span>
        </mat-menu>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content
    [ngClass]="{
      'hide-sidebar': this.currentRouteUrl === '/login',
      'max-drawer-content': this.sidebar === false,
      'min-drawer-content': this.sidebar === true
    }"
  >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
