<ion-header className="nav-header">
  <ion-toolbar>
    <app-component-header [title]=headerTitle></app-component-header>
    <ion-row>
      <ion-col class="maintenance-header">
          <ion-searchbar placeholder="Search Work Orders" class="searchbar"></ion-searchbar>
          <button class="filter-btn">
            <ion-img [src]="filterIcon" class="filter-btn-icon"></ion-img>
            <ion-label class="filter-btn-text">Filter</ion-label>
            <ion-img [src]="filterArrowIcon" class="filter-btn-arrow"></ion-img>
          </button>
        
          <ion-segment (ionChange)="segmentChanged($event)" mode="ios" value="week" class="segment-group">
            <ion-segment-button value="today" class="segment-button">
              <ion-label>Today</ion-label>
            </ion-segment-button>
            <ion-segment-button value="week" class="segment-button">
              <ion-label>Due This Week</ion-label>
            </ion-segment-button>
            <ion-segment-button value="month" class="segment-button">
              <ion-label>This Month</ion-label>
            </ion-segment-button>
          </ion-segment>
          
            <!-- <ion-button style="display: flex; --background: transparent;
            --color: black;
            --box-shadow: none;">
              <ion-img [src]="newWorkOrderIcon" style="width: 17px;"></ion-img>
              <ion-label>NEW WORK ORDER</ion-label>
            </ion-button>
           -->
      </ion-col>  
    </ion-row>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <ion-list class="ion-list1">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{this.workOrders['unassigned'].length}}</span>
            <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br>
            <span class="kit-heading">Unassigned Work Orders</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of this.workOrders['unassigned']; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}} - {{workOrder.workOrderDesc}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dataIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.equipmentID}} - {{workOrder.equipmentName}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">04-Jul-2021</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="timeIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">4 hrs</span>
            </span>

            <button (click)="openSelect()" class="assign-btn">
              <ion-img [src]="assignIcon" style="width: 20px;"></ion-img>
              <span style="padding-left: 5px;
              padding-top: 2px;">ASSIGN</span> 
            </button>

            <ion-item style="display: none;">
               
              <ion-label>Assign To:</ion-label>
              <ion-select #select1 (ionChange)="optionsFn($event, i);" mode="ios">
                  <ion-select-option value="brown"><ion-img [src]="profile1"></ion-img>Amy Butcher</ion-select-option>
                  <ion-select-option value="pink"><ion-img [src]="profile2"></ion-img>Carlos Arnal </ion-select-option>
                  <ion-select-option value="red"><ion-img [src]="profile3"></ion-img>Steve Austin</ion-select-option>
                </ion-select>
            </ion-item>

          </ion-label>           
        </ion-item>
       
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list2">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{this.workOrders['assigned'].length}}</span>
            <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br>
            <span class="kit-heading">Assigned Work Orders</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of this.workOrders['assigned']; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}} - {{workOrder.workOrderDesc}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dataIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.equipmentID}} - {{workOrder.equipmentName}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">04-Jul-2021}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="timeIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">6 hrs</span>
            </span>

            <span>
               <select class="form-control form-control-sm" [(ngModel)]="this.selectedUser">
                 <option value="Amy Butcher">Amy Butcher</option>
                 <option value="Carlos Arnal">Carlos Arnal </option>
                 <option value="Steve Austin">Steve Austin</option>
               </select>   
            </span>
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list3">
        <ion-item>
          <ion-label>
            <span class="kits-count">0</span>
            <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br>
            <span class="kit-heading">In Progress</span>
          </ion-label>
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list4">
        <ion-item>
          <ion-label>
            <span class="kits-count">0</span>
            <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br>
            <span class="kit-heading">Waiting For Approval</span>
          </ion-label>
        </ion-item>
       </ion-list>
      </ion-col>
  </ion-row> 
</ion-content>
