:host /deep/ .mat-form-field-flex > .mat-form-field-infix { 
  padding: 0.4em 0px !important;
}

:host /deep/ .mat-form-field-label-wrapper { 
  top: -1.5em; 
}

:host /deep/ .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

ion-content {
  --ion-background-color: #f2f2f2;
  --offset-top: 0px !important;
}

.maintenance-page {
  padding: 12px;
  height: 100%;
}

ion-list {
  --ion-background-color: white;
  border-radius: 8px;
  padding: 0;
}

ion-item {
  --ion-background-color: white;
  border-bottom: 1px solid #CCCCCC; 
  padding: 0;
  --border-width: 0;
  --border-color: transparent;
}

.kits-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.kit-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.kit-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #000000;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.date-priority-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  white-space:pre-wrap;
  align-items: center;
  color: #76767B;
  padding: 2px 0;
  margin-left: 5px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.assign-btn {
  --box-shadow:none; 
  --background: #F2F2F2;
  opacity: 0.75;
  border-radius: 4px;
}

.assign-btn-icon {
  width: 20px;
}

.assign-btn-text {
  padding-left: 5px;
  padding-top: 2px;
  color: #000000;
}

.assign-dropdown {
  display: none;
}

select#gender option[value="male"]   { background-image:url('../../../assets/spare-parts-icons/profilePicture1.svg');   }
select#gender option[value="female"] { background-image:url('../../../assets/spare-parts-icons/profilePicture2.svg'); }
select#gender option[value="others"] { background-image:url('../../../assets/spare-parts-icons/profilePicture3.svg'); }


.unassigned-workorder-list {
  border-top: 10px solid #5856D6;
}

.assigned-workorder-list {
  border-top: 10px solid #5AC8FA;
}

.in-progress-workorder-list{
  border-top: 10px solid#FFCC00;
}

.completed-workorder-list{
  border-top: 10px solid #FF9500;
}

.list-icons {
  width: 18px;
}

.display-flex {
  display: flex;
}

.maintenance-header {
  display: flex;
  padding: 10px 0 20px 0;
  height: 70px;
}

.searchbar {
  width: 270px;     
  margin: 0 10px;
  padding: 0;
}

.filter-btn {
  display: flex; 
  height: 42px;
  border-radius: 8px; 
  padding: 0 10px;
}

.filter-btn-icon {
  width: 15px; 
  margin-top: 13px;
}

.filter-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  align-items: center;
  color: #7D7D7D;
  padding-left: 10px;
}

.filter-btn-arrow {
  margin-top: 16px; 
  margin-left: 30px;
}

.filter-icon {
  padding-top: 11px;
}

.mat-field {
  width: 100%;
}

.reset-filters-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #3D5AFE;
  background: transparent;
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
}

.apply-filters-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  float: right;
  background: #3D5AFE;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.high-priority {
  font-family: Roboto;
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #f39f9b;
}
.very-high-priority{
  font-family: Roboto;
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF3B30;
}

.medium-priority {
  font-family: Roboto;
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF9800;
}

.low-priority {
  font-family: Roboto;
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #4CAF50;
}


.kit-ready {
  background-color: #34C759;
  font-family: Roboto;
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  float: right;
}
.show-operations-btn {
  padding-top: 10px;
  text-transform: initial;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #76767B;
  letter-spacing: 0; 
  --background-hover: none;
}

.down-up-arrow {
  padding-right: 5px;
  font-size: 18px;
}

.operations-line {
  height: 5px; 
  margin:0;
  border: 0;
  box-shadow: 0 10px 8px -12px #8c8c8c inset;
}

.operations-div {
  border-left: 2px solid #E5E5E5;
  margin-left: 15px;
}

.operations-list {
  border-bottom:none !important;
}

.filters-row {
  padding: 0px 10px;
}

.assign-user-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin-top: 10px;
}

.assign-user-image {
  width: 46px;
  height: 36px;
  border-radius: 50%;
}

.cursor {
  cursor: pointer;
}

.inprogress-user-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #76767B;
  cursor: default;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin-top: 10px;
}
.progress-bar-class {
  margin-bottom: 7px;
  margin-left: 20px;
  height: 6px;
  border-radius: 8px;
  width: 90%;
}

.float-right {
  float: right; 
  text-align: right;
}

.width-100 {
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: auto;
  padding-left: 15px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  opacity: 0.75;
}

.input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

input:focus {
  outline: none;
}

.column-height {
  max-height: calc(100vh - 260px);
  overflow-y: scroll;
}

.ion-item-cols {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}