<ion-header className="nav-header">
  <ion-toolbar>
    <app-header [title]="headerTitle"></app-header>
    <ion-row>
      <ion-col class="maintenance-header">
          <ion-searchbar placeholder="Search Work Orders" [formControl]="filter" class="searchbar"></ion-searchbar>      
          <ion-segment value="today" [formControl]="selectDate" mode="ios"  class="segment-group">
            <ion-segment-button value="today" class="segment-button">
              <ion-label>Due Today</ion-label>
            </ion-segment-button>
            <ion-segment-button value="week" class="segment-button">
              <ion-label>Due This Week</ion-label>
            </ion-segment-button>
            <ion-segment-button value="month" class="segment-button">
              <ion-label>Due This Month</ion-label>
            </ion-segment-button>
            <ion-segment-button value="custom" class="segment-button">
              <ion-label>Custom</ion-label>
            </ion-segment-button>
          </ion-segment>
          <button class="filter-btn" (click)="myFunction()">
            <ion-label class="filter-btn-text">{{this.showFilters === false ? 'Show' : 'Hide'}} Filters</ion-label>
          </button>
      </ion-col>  
    </ion-row>
    <ion-row *ngIf="this.showFilters === true">
      <ion-col>
        <form #form="ngForm">
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label>Show Overdue</mat-label>
            <mat-select [(ngModel)]="showOverdue" name="showOverdue">
              <mat-option *ngFor="let showdue of showOverdueList" [value]="showdue">
                {{showdue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label>Priority</mat-label>
            <mat-select name="priority" multiple [(ngModel)]="priority">
              <mat-option *ngFor="let prioritizedItem of priorityList" [value]="prioritizedItem">{{prioritizedItem}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-field">
            <mat-label>Kitting Status</mat-label>
            <mat-select name="kitStatus" multiple [(ngModel)]="kitStatus">
              <mat-option *ngFor="let kit of kitStatusList" [value]="kit">{{kit}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-field">
            <mat-label>Work Center</mat-label>
            <mat-select name="workCenter" multiple [(ngModel)]="workCenter">
              <mat-option *ngFor="let workCenterItem of workCenterList" [value]="workCenterItem">{{workCenterItem}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-field">
            <mat-label>Assignee</mat-label>
            <mat-select name="assign" multiple [(ngModel)]="assign">
              <mat-option *ngFor="let assigned of assignList" [value]="assigned">{{assigned}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button (click)="form.reset()" class="reset-filters-btn">Reset Filters</button>
        </form>
      </ion-col>
    </ion-row>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-row *ngIf="this.filteredWorkOrderList$ | async as workOrders">
    <ion-col>
      <ion-list class="unassigned-workorder-list">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.unassigned.length}}</span>
            <br>
            <span class="kit-heading">Unassigned Work Orders</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.unassigned; let i = index;">
          <ion-label>
            <span *ngIf="workOrder.priorityStatus==='Very high' || workOrder.priorityStatus==='High'" class="high-priority">HIGH</span>
            <span *ngIf="workOrder.priorityStatus==='Medium'" class="medium-priority">MEDIUM</span>
            <span *ngIf="workOrder.priorityStatus==='Low'" class="low-priority">LOW</span>
            <span class="kit-ready">KIT READY</span>
            <br/>
            <span class="kit-number">{{workOrder.workOrderID}} - {{workOrder.workOrderDesc}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dataIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.equipmentID}} - {{workOrder.equipmentName}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="timeIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.estimatedTime}}</span>
            </span>

            <button (click)="openSelect()" class="assign-btn">
              <ion-img [src]="assignIcon" class="assign-btn-icon"></ion-img>
              <span class="assign-btn-text">ASSIGN</span> 
            </button>

            <ion-item class="assign-dropdown">
               
              <ion-label>Assign To:</ion-label>
              <ion-select #operatorsList (ionChange)="optionsFn($event, i);" mode="ios">
                  <ion-select-option value="brown"><ion-img [src]="profile1"></ion-img>Amy Butcher</ion-select-option>
                  <ion-select-option value="pink"><ion-img [src]="profile2"></ion-img>Carlos Arnal </ion-select-option>
                  <ion-select-option value="red"><ion-img [src]="profile3"></ion-img>Steve Austin</ion-select-option>
                </ion-select>
            </ion-item>

          </ion-label>           
        </ion-item>
       
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="assigned-workorder-list">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.assigned.length}}</span>
            <br>
            <span class="kit-heading">Assigned Work Orders</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.assigned; let i = index;">
          <ion-label>
            <span *ngIf="workOrder.priorityStatus==='Very high' || workOrder.priorityStatus==='High'" class="high-priority">HIGH</span>
            <span *ngIf="workOrder.priorityStatus==='Medium'" class="medium-priority">MEDIUM</span>
            <span *ngIf="workOrder.priorityStatus==='Low'" class="low-priority">LOW</span>
            <span class="kit-ready">KIT READY</span>
            <br/>
            <span class="kit-number">{{workOrder.workOrderID}} - {{workOrder.workOrderDesc}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dataIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.equipmentID}} - {{workOrder.equipmentName}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="timeIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.estimatedTime}}</span>
            </span>

            <span>
               <select class="form-control form-control-sm" [(ngModel)]="this.selectedUser">
                 <option value="Amy Butcher">Amy Butcher</option>
                 <option value="Carlos Arnal">Carlos Arnal </option>
                 <option value="Steve Austin">Steve Austin</option>
               </select>   
            </span>
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="in-progress-workorder-list">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.inProgress.length}}</span>
            <br>
            <span class="kit-heading">In Progress</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.inProgress; let i = index;">
          <ion-label>
            <span *ngIf="workOrder.priorityStatus==='Very high' || workOrder.priorityStatus==='High'" class="high-priority">HIGH</span>
            <span *ngIf="workOrder.priorityStatus==='Medium'" class="medium-priority">MEDIUM</span>
            <span *ngIf="workOrder.priorityStatus==='Low'" class="low-priority">LOW</span>
            <br/>
            <span class="kit-number">{{workOrder.workOrderID}} - {{workOrder.workOrderDesc}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dataIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.equipmentID}} - {{workOrder.equipmentName}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="timeIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.estimatedTime}}</span>
            </span>

            <span>
               <select class="form-control form-control-sm" [(ngModel)]="this.selectedUser">
                 <option value="Amy Butcher">Amy Butcher</option>
                 <option value="Carlos Arnal">Carlos Arnal </option>
                 <option value="Steve Austin">Steve Austin</option>
               </select>   
            </span>
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="completed-workorder-list">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.completed.length}}</span>
            <br>
            <span class="kit-heading">Completed</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.completed; let i = index;">
          <ion-label>
            <span *ngIf="workOrder.priorityStatus==='Very high' || workOrder.priorityStatus==='High'" class="high-priority">HIGH</span>
            <span *ngIf="workOrder.priorityStatus==='Medium'" class="medium-priority">MEDIUM</span>
            <span *ngIf="workOrder.priorityStatus==='Low'" class="low-priority">LOW</span>
            <br/>
            <span class="kit-number">{{workOrder.workOrderID}} - {{workOrder.workOrderDesc}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dataIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.equipmentID}} - {{workOrder.equipmentName}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="timeIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.estimatedTime}}</span>
            </span>

            <span>
               <select class="form-control form-control-sm" [(ngModel)]="this.selectedUser">
                 <option value="Amy Butcher">Amy Butcher</option>
                 <option value="Carlos Arnal">Carlos Arnal </option>
                 <option value="Steve Austin">Steve Austin</option>
               </select>   
            </span>
          </ion-label>        
        </ion-item>
       </ion-list>
      </ion-col>
  </ion-row> 
</ion-content>
