<ng-container
  *ngIf="{
    pageWiseLogicsAskQuestions: pageWiseLogicsAskQuestions$ | async,
    questionLogics: questionLogics$ | async
  }"
>
  <div
    [formGroup]="logicsForm"
    *ngIf="getLogicsList()"
    class="add-logic-container"
  >
    <div formArrayName="logics">
      <mat-tab-group
        [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="onTabChanged($event)"
      >
        <mat-tab
          *ngFor="
            let logic of getLogicsList();
            let i = index;
            trackBy: trackByLogicId
          "
          label="{{
            logic.value.logicTitle ? logic.value.logicTitle : 'Untitled'
          }}"
        >
          <div class="tabContent" [formGroupName]="i">
            <div class="logicRow">
              <svg-icon
                id="addLogicIcon"
                icon="icon-delete-icon"
                class="delete-icon"
                (click)="deleteLogic(logic.value.id, questionId, pageIndex)"
              ></svg-icon>
              <input id="addLogicId" type="hidden" formControlName="id" />
              <input
                id="addLogicLogicTitle"
                type="hidden"
                formControlName="logicTitle"
              />
              <input
                id="addLogicExpression"
                type="hidden"
                formControlName="expression"
              />

              <input
                id="addLogicAction"
                type="hidden"
                formControlName="action"
              />
              <input
                id="addLogicMandateAttachment"
                type="hidden"
                formControlName="mandateAttachment"
              />
              <input
                id="addLogicRaiseIssue"
                type="hidden"
                formControlName="raiseIssue"
              />

              <span id="addLogicIfAnswer" translate="ifAnswer"></span>
              <select
                id="addLogic"
                class="logicCondition"
                formControlName="operator"
                (ngModelChange)="operatorChanged(logic.value, i, $event)"
                [ngClass]="{
                  'width-15px':
                    logic.value.operator === 'EQ' && fieldType === 'TF',
                  'width-70px':
                    logic.value.operator === 'GT' ||
                    (logic.value.operator === 'NE' && fieldType === 'NF'),
                  'width-55px':
                    (logic.value.operator === 'EQ' && fieldType === 'NF') ||
                    logic.value.operator === 'LT'
                }"
              >
                <option
                  id="addLogicOptions"
                  class="logicOperator"
                  value="{{ operator.code }}"
                  *ngFor="let operator of fieldOperators"
                >
                  {{ operator.displayName }}
                </option>
              </select>

              <input
                id="addLogicValue"
                type="text"
                class="logicValue"
                formControlName="operand2"
                (input)="operand2Changed(logic.value, $event, i)"
                *ngIf="dropDownTypes.indexOf(fieldType) < 0"
              />
              <select
                id="addLogicSelect"
                class="logicValue"
                formControlName="operand2"
                *ngIf="
                  dropDownTypes.indexOf(fieldType) > -1 && fieldType !== 'CB'
                "
                (change)="operand2Changed(logic.value, $event, i)"
              >
                <!-- <ng-container *ngIf="fieldType !== 'CB'; else isCheckBox"> -->
                <option
                  id="addLogicOptionTitle"
                  class="logicOperator"
                  *ngFor="let option of quickResponseValues"
                  value="{{ option.title }}"
                >
                  {{ option.title }}
                </option>
                <!-- </ng-container> -->
                <!-- <ng-template #isCheckBox>
                  <option
                    class="logicOperator"
                    *ngFor="let option of checkBoxResponses"
                    value="{{ option }}"
                  >
                    {{ option }}
                  </option>
                </ng-template> -->
              </select>

              <select
                class="logicValue"
                formControlName="operand2"
                *ngIf="
                  dropDownTypes.indexOf(fieldType) > -1 && fieldType === 'CB'
                "
                (change)="operand2Changed(logic.value, $event, i)"
              >
                <!-- <ng-container *ngIf="fieldType !== 'CB'; else isCheckBox"> -->
                <!-- <option
                    class="logicOperator"
                    *ngFor="let option of quickResponseValues"
                  >
                    {{ option.title }}
                  </option> -->
                <!-- </ng-container> -->
                <!-- <ng-template #isCheckBox> -->
                <option
                  id="addLogicOption"
                  class="logicOperator"
                  *ngFor="let option of checkBoxResponses"
                  value="{{ option }}"
                >
                  {{ option }}
                </option>
                <!-- </ng-template> -->
              </select>

              <span id="addLogicThen" translate="then"></span>
              <span
                id="addLogicAskEvidence"
                *ngIf="
                  logic.value.mandateAttachment ||
                  logic.value.evidenceQuestions.length
                "
                class="mandateAction"
                translate="askEvidence"
              >
              </span>
              <span
                id="addLogicRaiseIssue"
                *ngIf="logic.value.raiseIssue"
                class="mandateAction"
                translate="raiseIssue"
              >
              </span>
              <span
                id="addLogicMandateQuestions"
                *ngIf="logic.value.mandateQuestions.length"
                class="mandateAction"
                (click)="openSelectQuestionsDialog(logic.value, i, 'MANDATE')"
              >
                Mandate ({{ logic.value.mandateQuestions.length }}) Questions
                <mat-icon>edit</mat-icon>
              </span>
              <span
                id="addLogicHideQuestions"
                *ngIf="logic.value.hideQuestions.length"
                class="mandateAction"
                (click)="openSelectQuestionsDialog(logic.value, i, 'HIDE')"
              >
                Hide ({{ logic.value.hideQuestions.length }}) Questions
                <mat-icon id="addLogicEditIcon">edit</mat-icon>
              </span>
              <span
                id="addLogicAskQuestions"
                *ngIf="logic.value.questions.length"
                class="mandateAction"
                (click)="triggerMenuAction('ask_questions', i, logic.value)"
                translate="askQuestions"
              >
              </span>
              <span
                id="addLogicRaiseNotification"
                *ngIf="logic.value.raiseNotification"
                class="mandateAction"
                translate="raiseNotification"
                (click)="
                  openRaiseNotificationDialog('raise_notification', i, logic)
                "
              >
              </span>
              <button
                id="addLogicBtn"
                [disabled]="
                  !logic.value.operand2 || !logic.value.operand2.length
                "
                mat-button
                [matMenuTriggerFor]="menu"
                class="actionBtn"
                translate="logicActionBtn"
              ></button>
              <mat-menu #menu="matMenu">
                <button
                  id="addLogicMandateQuestionBtn"
                  class="logicActionMenuItem"
                  mat-menu-item
                  (click)="openSelectQuestionsDialog(logic.value, i, 'MANDATE')"
                  translate="mandateQuestions"
                ></button>
                <button
                  id="addLogicHideQuestionBtn"
                  class="logicActionMenuItem"
                  mat-menu-item
                  (click)="openSelectQuestionsDialog(logic.value, i, 'HIDE')"
                  translate="hideQuestions"
                ></button>
                <button
                  id="addLogicAskQuestionBtn"
                  class="logicActionMenuItem"
                  mat-menu-item
                  (click)="triggerMenuAction('ask_questions', i, logic.value)"
                  translate="askQuestions"
                ></button>
                <button
                  id="addLogicAskEvdienceBtn"
                  class="logicActionMenuItem"
                  mat-menu-item
                  *ngIf="
                    !(
                      logic.value.mandateAttachment ||
                      logic.value.evidenceQuestions.length
                    )
                  "
                  (click)="
                    mandateAttachment('mandate_attachment', i, logic.value)
                  "
                  translate="askEvidence"
                ></button>
                <button
                  id="addLogicRaiseIssue"
                  *ngIf="
                    raiseIssueApplicableFields.includes(fieldType) &&
                    !isEmbeddedForm
                  "
                  class="logicActionMenuItem"
                  mat-menu-item
                  (click)="raiseIssue('raise_issue', i, logic.value)"
                  translate="raiseIssue"
                ></button>
                <button
                  id="addLogicRaiseNotification"
                  *ngIf="isEmbeddedForm"
                  class="logicActionMenuItem"
                  mat-menu-item
                  (click)="
                    openRaiseNotificationDialog('raise_notification', i, logic)
                  "
                  translate="raiseNotification"
                ></button>
              </mat-menu>
            </div>
            <div
              *ngIf="
                pageWiseLogicSectionAskEvidenceQuestions[pageIndex][
                  logic.value.id
                ]?.length
              "
              class="logicAskQuestions"
            >
              <ng-container
                *ngFor="
                  let questionObj of pageWiseLogicSectionAskEvidenceQuestions[
                    pageIndex
                  ][logic.value.id];
                  trackBy: trackByQuestionIndex;
                  let questionIndex = index
                "
              >
                <div class="askQuestion">
                  <div class="questionContainer">
                    <app-question
                      class="question"
                      [pageIndex]="pageIndex"
                      [questionId]="questionObj.id"
                      [sectionId]="questionObj.sectionId"
                      [questionName]="questionObj.name"
                      [isQuestionPublished]="questionObj.isPublished"
                      [questionIndex]="questionIndex"
                      [isAskQuestion]="true"
                      [subFormId]="selectedNodeId"
                      [question]="questionObj"
                      [isAskQuestionFocusId]="isAskQuestionFocusId"
                      (click)="setIsAskQuestionFocusId(questionObj.id)"
                      (isAskedQuestionFocusId)="setIsAskQuestionFocusId($event)"
                      (questionEvent)="
                        askQuestionEventHandler($event, logic.value, i)
                      "
                      [isPreviewActive]="isPreviewActive"
                    ></app-question>
                  </div>
                </div>
              </ng-container>
            </div>
            <div
              *ngIf="
                pageWiseLogicsAskQuestions[pageIndex][logic.value.id]?.length
              "
              class="logicAskQuestions"
            >
              <ng-container
                *ngFor="
                  let questionObj of pageWiseLogicsAskQuestions[pageIndex][
                    logic.value.id
                  ];
                  trackBy: trackByQuestionIndex;
                  let questionIndex = index
                "
              >
                <div class="askQuestion">
                  <div class="questionContainer">
                    <app-question
                      class="question"
                      [pageIndex]="pageIndex"
                      [questionId]="questionObj.id"
                      [sectionId]="questionObj.sectionId"
                      [questionName]="questionObj.name"
                      [questionIndex]="questionIndex"
                      [isAskQuestion]="true"
                      [subFormId]="selectedNodeId"
                      [isAskQuestionFocusId]="isAskQuestionFocusId"
                      [question]="questionObj"
                      (click)="setIsAskQuestionFocusId(questionObj.id)"
                      (isAskedQuestionFocusId)="setIsAskQuestionFocusId($event)"
                      (questionEvent)="
                        askQuestionEventHandler($event, logic.value, i)
                      "
                      [isPreviewActive]="isPreviewActive"
                    ></app-question>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <button
              id="addLogicToQuestionBtn"
              mat-icon-button
              (click)="addLogicToQuestion(questionId, pageIndex)"
            >
              <mat-icon id="addLogicCircleIcon">add_circle</mat-icon>
            </button>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
