<div [formGroup]="logicsForm" *ngIf="getLogicsList().length">
  <div formArrayName="logics">
    <mat-tab-group>
      <mat-tab
        *ngFor="let logic of getLogicsList(); let i = index"
        label="{{
          logic.value.logicTitle ? logic.value.logicTitle : 'Untitled'
        }}"
      >
        <div class="tabContent" [formGroupName]="i">
          <div class="logicRow">
            <img
              src="assets/rdf-forms-icons/delete-icon.svg"
              alt="delete-icon"
              class="delete-icon"
              (click)="deleteLogic(logic.value.id, questionId, pageIndex)"
            />
            <input type="hidden" formControlName="id" />
            <input type="hidden" formControlName="logicTitle" />
            <input type="hidden" formControlName="expression" />

            <input type="hidden" formControlName="action" />
            If answer
            <select class="logicCondition" formControlName="operator">
              <option
                class="logicOperator"
                value="{{ operator.code }}"
                *ngFor="let operator of fieldOperators"
              >
                {{ operator.displayName }}
              </option>
            </select>

            <input
              type="text"
              class="logicValue"
              formControlName="operand2"
              *ngIf="dropDownTypes.indexOf(fieldType) < 0"
            />
            <select
              class="logicValue"
              stype="margin-left: -30px;"
              formControlName="operand2"
              *ngIf="dropDownTypes.indexOf(fieldType) > -1"
            >
              <ng-container *ngIf="fieldType !== 'CB'; else isCheckBox">
                <option
                  class="logicOperator"
                  *ngFor="let option of dropdownValues"
                >
                  {{ option.title }}
                </option>
              </ng-container>
              <ng-template #isCheckBox>
                <option
                  class="logicOperator"
                  *ngFor="let option of checkBoxResponses"
                >
                  {{ option }}
                </option>
              </ng-template>
            </select>

            then
            <span
              *ngIf="logic.value.action && logic.value.action === 'MANDATE'"
              class="mandateAction"
            >
              Mandate ({{ logic.value.mandateQuestions.length }}) Questions
              <mat-icon>edit</mat-icon>
            </span>
            <span
              *ngIf="logic.value.action && logic.value.action === 'HIDE'"
              class="mandateAction"
            >
              Hide ({{ logic.value.hideQuestions.length }}) Questions
              <mat-icon>edit</mat-icon>
            </span>
            <span
              *ngIf="
                logic.value.action && logic.value.action === 'ask_evidence'
              "
              class="mandateAction"
            >
              Ask Evidence
            </span>
            <span
              *ngIf="
                logic.value.action && logic.value.action === 'ask_questions'
              "
              class="mandateAction"
            >
              Ask Questions
            </span>
            <button mat-button [matMenuTriggerFor]="menu" class="actionBtn">
              + action
            </button>
            <mat-menu #menu="matMenu">
              <button class="logicActionMenuItem" mat-menu-item>
                Mandate Questions
              </button>
              <button class="logicActionMenuItem" mat-menu-item>
                Hide Questions
              </button>
              <button mat-menu-item class="logicActionMenuItem">
                Ask Evidence
              </button>
              <button class="logicActionMenuItem" mat-menu-item>
                Ask Questions
              </button>
            </mat-menu>
          </div>
          <div
            *ngIf="logic.value.action === 'ask_questions' && false"
            class="logicAskQuestions"
          >
            Ask Questions!
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
