<div *ngFor="let page of selectedPage" class="task-level-tasks">
  <div class="pages" [formGroup]="pageForm">
    <div class="page-header">
      <mat-icon
        id="pageExpandIcon"
        (click)="toggleIsOpenState()"
        *ngIf="pageForm.get('isOpen').value === true"
        class="page-arrow"
      >
        expand_more
      </mat-icon>
      <mat-icon
        id="pageRightIcon"
        (click)="toggleIsOpenState()"
        *ngIf="pageForm.get('isOpen').value === false"
        class="page-arrow"
      >
        chevron_right
      </mat-icon>

      <mat-checkbox
        class="page-checkbox"
        [checked]="page.complete"
        [indeterminate]="page.partiallyChecked"
        (change)="toggleAllSectionCheckbox($event.checked, page)"
      ></mat-checkbox>

      <span class="form_page_name_input">{{ page.name }} </span>
    </div>
    <div *ngIf="pageForm.get('isOpen').value === true" class="section-content">
      <div *ngFor="let section of page.sections">
        <div class="section dis-flex">
          <div class="width-95 section-margin">
            <div class="section-header">
              <mat-icon
                id="sectionExpandMore"
                (click)="toggleIsOpenState()"
                *ngIf="sectionForm.get('isOpen').value === true"
                class="section-arrow"
              >
                expand_more
              </mat-icon>
              <mat-icon
                id="sectionArrow"
                (click)="toggleIsOpenState()"
                *ngIf="sectionForm.get('isOpen').value === false"
                class="section-arrow"
              >
                chevron_right
              </mat-icon>
              <mat-checkbox
                class="section-checkbox"
                [checked]="section.complete"
                [indeterminate]="section.partiallyChecked"
                (change)="
                  toggleAllSectionQuestion($event.checked, section, page)
                "
              ></mat-checkbox>

              <span class="form_section_name_input">{{ section.name }}</span>
            </div>
            <div class="questions-content">
              <div
                *ngFor="let question of questionToSection.get(section['id'])"
              >
                <div class="questions">
                  <div class="dis-flex questions-div">
                    <div class="width-70">
                      <div class="width-100" class="dis-flex">
                        <mat-checkbox
                          class="question-checkbox"
                          [checked]="question.complete"
                          (change)="
                            toggleAllQuestion(
                              $event.checked,
                              question,
                              section,
                              page
                            )
                          "
                        ></mat-checkbox>
                        <div class="task-question">{{ question.name }}</div>
                      </div>
                    </div>
                    <div class="width-10">
                      <div>Header</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
