.iphone-view {
  background: url('/assets/rdf-forms-icons/iPhone11-DeviceFrame.png') top left
    no-repeat;
  background-size: 275px 470px;
  width: 285px;
  min-height: 470px;
  height: auto !important;
  overflow: hidden;
  position: fixed;
  right: 50px;
  margin: 0px auto 0;
}

.ipad-view-default-content {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  top: 55px;
  position: relative;
  height: 100%;
}

.main-carosuel-iphone {
  background-color: #ffffff;
  margin-top: -42px;
  margin-left: 15px;
  margin-right: 25px;
  height: 440px;
  border-radius: 25px;
}

.iphone-header {
  background: #3a6175;
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
  height: 100px;
}

.p-5 {
  padding: 5px;
}

.status-bar-left {
  text-align: left;
  font-size: 80%;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 2px;
  color: #ffffff;
}

.status-bar-right {
  text-align: right;
  margin-left: -20px;
}

.iphone-status-bar-right {
  text-align: right;
}

.status-bar-icons {
  font-size: 95%;
  font-weight: 500;
  width: 12px;
  margin-right: 3px;
  color: #ffffff;
}

.battery_full-icon {
  transform: rotate(90deg);
  position: relative;
  top: -5px;
  left: -3px;
}

.status-bar-icons-battery {
  transform: rotate(90deg);
  font-size: 90%;
  font-weight: bolder;
  width: 15px;
  height: 10px;
  position: relative;
  top: 1px;
}

.status-bar-text {
  font-size: 50%;
  font-weight: bolder;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.in-progress-text {
  color: #ffffff;
  font-size: 90%;
}

.back-button {
  color: #ffffff;
  float: left;
  margin-left: 5px;
}

.file-icon {
  width: 30px;
  float: left;
  margin-left: -20px;
  margin-top: 5px;
}

.width-45 {
  width: 45%;
}

.form-div {
  position: relative;
  top: 7px;
  left: -7px;
}

.form-name {
  float: left;
  color: #ffffff;
  font-size: 100%;
}

.form-description {
  float: left;
  color: #ffffff;
  font-size: 80%;
  margin-top: 3px;
}

.section-name {
  text-align: left;
  color: #000000;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #d3d3d3;
}

.question-name {
  text-align: left;
  margin-left: 10px;
  font-size: 90%;
}

.text-left {
  text-align: left;
}

.input-fields {
  width: 120px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
}

.input-fields:focus {
  outline: none;
}

.default-value {
  float: right;
  font-size: 90%;
}

.input-fields-with-icons {
  width: 100px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
}

.input-fields-with-icons:focus {
  outline: none;
}

.signature-input-fields {
  width: 160px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
  position: relative;
  top: -12px;
}

.signature-input-fields:focus {
  outline: none;
}

.location-input-fields {
  width: 160px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
}

.location-input-fields:focus {
  outline: none;
}

.take-a-photo-btn {
  width: 215px;
  position: relative;
  left: 5px;
  background-color: #0053d7;
  color: white;
  height: 34px;
  font-weight: 400;

  ::ng-deep svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
  }
}

.scan-icon {
  margin-left: 5px;
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
  }
}

.signature-icon {
  position: relative;
  left: 10px;
  ::ng-deep svg {
    width: 35px !important;
    height: 35px !important;
  }
}

.vi-values {
  width: inherit;
  font-size: 80%;
  background: white;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
}

.btns {
  background-color: #008dc7;
  border: #008dc7;
  color: #ffffff;
  padding: 5px;
  height: 30px;
  width: 80px;
  margin-top: 6px;
  float: right;
  margin-right: 12px;
}

.dropdown {
  width: 85%;
  margin: 0 7px;
  height: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  text-align: left;
  padding-left: 10px;

  ::ng-deep .mat-select-value {
    height: 24px;
    padding-top: 8px;
  }
}
