<div class="iphone-view">
  <div class="ipad-view-default-content">
    <div class="width-100">
      <div class="main-carosuel-iphone">
        <div
          style="
            background: #3a6175;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            height: 100px;
          "
        >
          <div class="dis-flex" style="padding: 5px">
            <div class="width-60 status-bar-left">9:41</div>
            <div class="width-40 iphone-status-bar-right m-r-10">
              <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
              <mat-icon class="status-bar-icons">wifi</mat-icon>
              <mat-icon class="status-bar-icons battery_full-icon">
                battery_full
              </mat-icon>
            </div>
          </div>
          <div style="color: #ffffff; font-size: 90%">in Progress</div>
          <mat-icon style="color: #ffffff; float: left; margin-left: 5px">
            keyboard_arrow_left
          </mat-icon>
          <div>
            <img
              src="../../../../assets/rdf-forms-icons/file-icon.png"
              alt="file-icons"
              style="
                width: 30px;
                float: left;
                margin-left: -20px;
                margin-top: 5px;
              "
            />
            <span
              style="float: left; color: #ffffff; font-size: 100%; padding: 7px"
            >
              F036
            </span>
            <br />
            <span
              style="
                float: left;
                color: #ffffff;
                font-size: 80%;
                padding: 7px;
                margin-left: -45px;
              "
            >
              F036-DOT Cargo Tank– 5 year
            </span>
          </div>
        </div>

        <div>
          <p>section</p>
        </div>
      </div>
    </div>
  </div>
</div>
