.iphone-view {
  background: url('/assets/rdf-forms-icons/iPhone11-DeviceFrame.svg') top left
    no-repeat;
  background-size: 100% 100%;
  width: 300px;
  min-height: 596px;
  height: auto !important;
  overflow: hidden;
  margin: 0px auto 0;
}

.ipad-view-default-content {
  /* margin: 0 auto; */
  text-align: center;
  vertical-align: middle;
  width: 100%;
  top: 55px;
  position: relative;
  height: 100%;
}

.main-carosuel-iphone {
  background-color: #ffffff;
  margin-top: -40px;
  margin-left: 20px;
  margin-right: 20px;
  height: 560px;
  border-radius: 25px;
}

.iphone-header {
  background: #3a6175;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  height: 100px;
}

.p-5 {
  padding: 5px;
}

.status-bar-left {
  text-align: left;
  font-size: 80%;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 2px;
  color: #ffffff;
}

.status-bar-right {
  text-align: right;
  margin-left: -20px;
}

.iphone-status-bar-right {
  text-align: right;
}

.status-bar-icons {
  font-size: 95%;
  font-weight: 500;
  width: 12px;
  margin-right: 3px;
  color: #ffffff;
}

.battery_full-icon {
  transform: rotate(90deg);
  position: relative;
  top: -5px;
  left: -3px;
}

.status-bar-icons-battery {
  transform: rotate(90deg);
  font-size: 90%;
  font-weight: bolder;
  width: 15px;
  height: 10px;
  position: relative;
  top: 1px;
}

.status-bar-text {
  font-size: 50%;
  font-weight: bolder;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.in-progress-text {
  color: #ffffff;
  font-size: 90%;
}

.back-button {
  color: #ffffff;
  float: left;
  margin-left: 5px;
}

.file-icon {
  width: 30px;
  float: left;
  margin-left: -20px;
  margin-top: 5px;
}

.width-45 {
  width: 45%;
}

.form-div {
  position: relative;
  top: 7px;
  left: -7px;
}

.form-name {
  float: left;
  color: #ffffff;
  font-size: 100%;
}

.form-description {
  float: left;
  color: #ffffff;
  font-size: 80%;
  margin-top: 3px;
}

.section-name {
  text-align: left;
  color: #000000;
  font-weight: 500;
  margin-left: 10px;
}

.question-name {
  text-align: left;
  margin-left: 10px;
  font-size: 90%;
}

.text-left {
  text-align: left;
}

.input-fields {
  width: 120px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
}

.input-fields:focus {
  outline: none;
}

.default-value {
  float: right;
  font-size: 90%;
}

.input-fields-with-icons {
  width: 100px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
}

.input-fields-with-icons:focus {
  outline: none;
}

.signature-input-fields {
  width: 180px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  font-size: 90%;
}

.signature-input-fields:focus {
  outline: none;
}

.scan-icon {
  width: 15px;
  margin-left: 5px;
}
