<div class="iphone-view">
  <div class="ipad-view-default-content">
    <div class="width-100">
      <div class="main-carosuel-iphone">
        <div class="iphone-header">
          <div class="dis-flex p-5">
            <div class="width-60 status-bar-left">9:41</div>
            <div class="width-40 iphone-status-bar-right m-r-10">
              <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
              <mat-icon class="status-bar-icons">wifi</mat-icon>
              <mat-icon class="status-bar-icons battery_full-icon">
                battery_full
              </mat-icon>
            </div>
          </div>
          <!-- <div class="in-progress-text">in Progress</div> -->
          <mat-icon class="back-button"> keyboard_arrow_left </mat-icon>
          <div class="dis-flex">
            <div class="width-10" style="margin-top: 18px">
              <img
                src="../../../../assets/rdf-forms-icons/file-icon.png"
                alt="file-icons"
                class="file-icon"
              />
            </div>
            <div class="width-90 form-div" style="top: 26px !important">
              <span class="form-name">
                {{ formData.id }}
              </span>
              <br />
              <span class="form-description">
                {{ formData.name ? formData.name : 'Unititled Form' }}
              </span>
            </div>
          </div>
        </div>

        <div
          style="
            overflow-y: auto;
            height: 420px;
            border-bottom: 1px solid #d3d3d3;
          "
        >
          <div *ngFor="let section of formData.sections; let i = index">
            <p class="section-name">
              {{ section.name ? section.name : 'Section Name' }}
              <mat-icon style="float: right; position: relative; top: -2px">
                keyboard_arrow_down
              </mat-icon>
            </p>
            <div *ngFor="let question of section.questions">
              <div class="dis-flex m-b-10 m-r-15">
                <div
                  class="width-45 question-name"
                  *ngIf="question.fieldType !== 'LLF'"
                >
                  {{ question.name ? question.name : 'Type Question' }}
                </div>
                <div
                  class="width-100 question-name"
                  *ngIf="question.fieldType === 'LLF'"
                >
                  <div [innerHTML]="question.name"></div>
                </div>
                <div
                  class="width-45 text-left"
                  *ngIf="question.fieldType !== 'LLF'"
                >
                  <p
                    class="m-0"
                    *ngIf="
                      question.fieldType === 'TF' && question.value !== 'LTV'
                    "
                  >
                    <input type="text" class="input-fields" />
                  </p>

                  <p
                    class="m-0"
                    *ngIf="
                      question.fieldType === 'DF' ||
                      question.fieldType === 'DFR'
                    "
                  >
                    <input type="date" class="input-fields" />
                  </p>

                  <p
                    *ngIf="question.fieldType === 'CB'"
                    style="float: right"
                    class="m-0"
                  >
                    <input type="checkbox" />
                  </p>

                  <p *ngIf="question.fieldType === 'TIF'" class="m-0">
                    <input type="time" class="input-fields" />
                  </p>

                  <textarea
                    rows="3"
                    cols="10"
                    *ngIf="
                      question.value === 'LTV' && question.fieldType === 'TF'
                    "
                    class="input-fields"
                  ></textarea>

                  <p *ngIf="question.fieldType === 'NF'" class="m-0">
                    <input type="number" class="input-fields" />
                  </p>

                  <p
                    *ngIf="question.fieldType === 'LF'"
                    class="default-value m-0"
                  >
                    {{ question.value }}
                  </p>

                  <p *ngIf="question.fieldType === 'SF'" class="dis-flex m-0">
                    <input type="text" class="input-fields-with-icons" />
                    <img
                      src="assets/rdf-forms-icons/scan.svg"
                      alt="scan"
                      class="scan-icon"
                    />
                  </p>
                </div>
              </div>
              <div class="width-100">
                <div
                  *ngIf="question.fieldType === 'SGF'"
                  style="margin: -10px 0 0 -10px"
                >
                  <input
                    type="text"
                    placeholder="Full Name"
                    class="signature-input-fields"
                  />
                  <img
                    src="assets/rdf-forms-icons/signature.svg"
                    alt="signature-icon"
                    style="
                      width: 35px;
                      position: relative;
                      left: 10px;
                      top: 5px;
                    "
                  />
                </div>

                <div
                  *ngIf="question.fieldType === 'GAL'"
                  style="margin: -10px 0 0 -10px"
                >
                  <input type="text" class="signature-input-fields" />
                  <img
                    src="assets/rdf-forms-icons/location.png"
                    alt="signature-icon"
                    style="
                      width: 35px;
                      position: relative;
                      left: 10px;
                      top: 5px;
                      height: 20px;
                    "
                  />
                </div>

                <div
                  *ngIf="question.fieldType === 'ATT'"
                  style="margin: -5px 0 10px -10px"
                >
                  <button
                    mat-raised-button
                    style="
                      width: 240px;
                      position: relative;
                      left: 10px;
                      background-color: #0053d7;
                      color: white;
                      height: 34px;
                    "
                  >
                    <img
                      src="assets/rdf-forms-icons/take-a-photo.svg"
                      alt="take-a-photo-icon"
                    />
                    Take Photo
                  </button>
                </div>

                <div *ngIf="question.fieldType === 'IMG'">
                  <img
                    [src]="getImageSrc(question.value.base64)"
                    *ngIf="question.value.base64"
                    alt="image"
                    style="width: 240px; height: 80px; margin-left: 10px"
                  />
                </div>

                <div *ngIf="question.fieldType === 'RT'">
                  <mat-slider style="width: 230px; margin-top: -15px">
                  </mat-slider>
                </div>

                <div *ngIf="question.fieldType === 'VI'">
                  <div *ngIf="question.value?.values?.length > 0">
                    <div *ngIf="4 >= question.value.values.length">
                      <mat-button-toggle-group
                        style="height: 35px; align-items: center; width: 240px"
                      >
                        <mat-button-toggle
                          class="vi-values"
                          [value]="ques.title"
                          [ngStyle]="{
                            color: ques.color
                          }"
                          *ngFor="let ques of question.value.values"
                        >
                          {{ ques.title }}
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                  </div>
                </div>

                <div *ngIf="question.fieldType === 'DD'">
                  <div *ngIf="question.value?.values?.length > 0">
                    <div *ngIf="question.value.values.length > 4">
                      <mat-select class="dropdown" [multiple]="question.multi">
                        <mat-option
                          *ngFor="let ques of question.value.values"
                          [value]="ques.title"
                          [ngStyle]="{
                            color: ques.color
                          }"
                        >
                          {{ ques.title }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button class="btns">Save</button>
          <button class="btns">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
