<div id="opendetail" *ngIf="selectedForm && (isLoading$ | async) === false">
  <mat-card>
    <ng-container>
      <div>
        <svg-icon
          icon="icon-close"
          class="cancel-icon"
          (click)="cancelForm()"
        ></svg-icon>
        <h1 class="detail-heading">{{ selectedForm?.name }}</h1>
      </div>
      <div *ngIf="selectedFormDetail$ | async">
        <ng-container *ngIf="formStatus === formConfigurationStatus.published">
          <ng-container *ngIf="scheduleConfiguration">
            <div class="name-heading">
              <div>
                <p class="color-gray">
                  {{ 'frequency' | translate }}
                </p>
              </div>
              <div class="flex-custom">
                <h4
                  class="create-name"
                  *ngIf="selectedForm?.schedule; else schedule"
                >
                  <ng-container
                    *ngIf="
                      scheduleConfiguration?.scheduleType !== 'byDate';
                      else byDate
                    "
                  >
                    {{ selectedForm.schedule }}
                    <span *ngIf="scheduleConfiguration?.repeatEvery !== 'day'"
                      >, {{ 'every' | translate }}
                    </span>
                    {{ frequencyDetail.info | translate }}
                    <a class="link" [matMenuTriggerFor]="menu">{{
                      frequencyDetail.more
                    }}</a>
                  </ng-container>
                  <ng-template #byDate>
                    {{ selectedForm.schedule }},
                    {{ frequencyDetail.info | date : dateFormat }}
                    <a class="link" [matMenuTriggerFor]="menu">{{
                      frequencyDetail.more
                    }}</a>
                  </ng-template>
                </h4>
                <ng-template #schedule>
                  <button
                    mat-button
                    class="schedule-btn"
                    translate="schedule"
                    (click)="scheduleRoundPlanEvent()"
                  ></button>
                </ng-template>
                <mat-menu #menu="matMenu" backdropClass="custom-dates-menu">
                  <div
                    *ngIf="
                      frequencyDetail.scheduleType === 'byDate';
                      else byFrequency
                    "
                    class="custom-dates"
                  >
                    <p *ngFor="let data of frequencyDetail.data">
                      {{ data.date | date : dateFormat }}
                    </p>
                  </div>
                  <ng-template #byFrequency>
                    <mat-button-toggle-group
                      multiple
                      class="week-buttons"
                      *ngIf="frequencyDetail.repeatEvery === 'week'"
                    >
                      <mat-button-toggle
                        *ngFor="
                          let dayOfWeek of scheduleConfigs.daysOfWeek;
                          let i = index
                        "
                        [ngClass]="{
                          active: isDayOfWeekSelected(frequencyDetail.data, i)
                        }"
                        [value]="i"
                        >{{ dayOfWeek.slice(0, 1).toUpperCase() }}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div *ngIf="frequencyDetail.repeatEvery === 'month'">
                      <div
                        *ngFor="
                          let filteredWeek of frequencyDetail.data;
                          let i = index
                        "
                        class="weeks-of-month"
                      >
                        <div
                          class="row-title"
                          class="m-r-20"
                          [ngClass]="{ 'm-r-36': i === 1 }"
                        >
                          {{ scheduleConfigs.weeksOfMonth[filteredWeek.index] }}
                        </div>
                        <div>
                          <mat-button-toggle-group
                            multiple
                            class="week-buttons"
                          >
                            <mat-button-toggle
                              *ngFor="
                                let dayOfWeek of scheduleConfigs.daysOfWeek;
                                let i = index
                              "
                              [ngClass]="{
                                active: isDayOfWeekSelected(
                                  filteredWeek.week,
                                  i
                                )
                              }"
                              [value]="i"
                              >{{ dayOfWeek.slice(0, 1).toUpperCase() }}
                            </mat-button-toggle>
                          </mat-button-toggle-group>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </mat-menu>
              </div>
            </div>
            <div
              class="name-heading"
              *ngIf="scheduleConfiguration?.scheduleType !== 'byDate'"
            >
              <div>
                <p class="color-gray">
                  {{ 'startEnds' | translate }}
                </p>
              </div>
              <div class="flex-custom">
                <h4 class="create-name">
                  {{ selectedForm?.scheduleDates }}
                </h4>
              </div>
            </div>
            <div
              class="name-heading"
              *ngIf="scheduleConfiguration?.scheduleType !== 'byDate'"
            >
              <div>
                <p class="color-gray">
                  {{ 'dueDate' | translate }}
                </p>
              </div>
              <div class="flex-custom">
                <h4 class="create-name">
                  {{
                    formatDate(
                      selectedForm?.dueDate,
                      selectedForm?.plantId,
                      dateFormat
                    )
                  }}
                </h4>
              </div>
            </div>
            <div class="name-heading">
              <div>
                <p class="color-gray">
                  {{ 'assignedTo' | translate }}
                </p>
              </div>
              <div class="flex-custom">
                <h4 class="create-name">
                  {{
                    selectedForm?.assignedTo
                      ? selectedForm?.assignedTo
                      : placeHolder
                  }}
                </h4>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="formDetailType === 'Authored'; else submitted">
          <div *ngIf="isTemplate">
            <div class="name-heading">
              <div>
                <p class="color-gray">{{ 'templateId' | translate }}</p>
              </div>
              <div class="flex-custom" *ngIf="selectedForm?.id">
                <h4 class="create-name">{{ selectedForm?.id }}</h4>
              </div>
            </div>
            <div class="name-heading">
              <div>
                <p class="color-gray">{{ 'status' | translate }}</p>
              </div>
              <div class="flex-custom" *ngIf="selectedForm?.formStatus">
                <h4 class="create-name">{{ selectedForm?.formStatus }}</h4>
              </div>
            </div>
            <div class="name-heading">
              <div>
                <p class="color-gray">{{ 'questionS' | translate }}</p>
              </div>
              <div class="flex-custom" *ngIf="selectedForm?.questionsCount">
                <h4 class="create-name">{{ selectedForm?.questionsCount }}</h4>
              </div>
            </div>
            <div class="name-heading">
              <div>
                <p class="color-gray">{{ 'templateIn' | translate }}</p>
              </div>
              <div class="flex-custom" (click)="showAffectedTemplateForms()">
                <h4 class="create-name affected-forms">
                  {{ selectedForm?.formsUsageCount }} Forms
                </h4>
              </div>
            </div>
          </div>
          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'lastPublishedBy' | translate }}
              </p>
            </div>
            <div class="flex-custom" *ngIf="selectedForm?.lastPublishedBy">
              <h4 class="create-name">{{ selectedForm?.lastPublishedBy }}</h4>
              <span class="dots"></span>
              <p class="date-name color-gray">
                {{
                  formatDate(
                    selectedForm?.publishedDate,
                    selectedForm?.plantId,
                    dateTimeFormat
                  )
                }}
              </p>
            </div>
          </div>
          <div *ngIf="!isTemplate" class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'createdBy' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">{{ selectedForm?.author }}</h4>
              <span class="dots"></span>
              <p class="date-name color-gray">
                {{
                  formatDate(
                    selectedForm?.createdAt,
                    selectedForm?.plantId,
                    dateTimeFormat
                  )
                }}
              </p>
            </div>
          </div>
          <div *ngIf="!isTemplate" class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'timeZone' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                <span *ngIf="this.plantTimezoneMap[selectedForm?.plantId]">
                  {{
                    this.plantTimezoneMap[selectedForm?.plantId].description
                  }}</span
                ><span *ngIf="!this.plantTimezoneMap[selectedForm?.plantId]">{{
                  this.placeHolder
                }}</span>
              </h4>
            </div>
          </div>
          <div
            *ngIf="!isTemplate && moduleName !== 'OPERATOR_ROUNDS'"
            class="name-heading"
          >
            <div>
              <p class="color-gray">
                {{ 'templatesUsed' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                <div *ngFor="let templateName of templatesUsed">
                  {{ templateName }}
                </div>
              </h4>
            </div>
          </div>
          <div *ngIf="!isTemplate" class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'slot' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                <div *ngFor="let shiftDetail of slotArr; let i = index">
                  <span class="make-bold"
                    >{{ shiftObj[shiftDetail[i]].name }} :</span
                  >
                  <ng-container *ngFor="let shift of shiftDetail[i + 1]">
                    <span>
                      {{ convertTo12HourFormat(shift.startTime) }} -
                      {{ convertTo12HourFormat(shift.endTime) }}
                    </span>
                  </ng-container>
                </div>
              </h4>
            </div>
          </div>
        </ng-container>
        <ng-template #submitted>
          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'status' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name text-transform">
                {{ selectedForm?.status }}
              </h4>
            </div>
          </div>

          <div *ngIf="moduleName === 'OPERATOR_ROUNDS'" class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'locationAssetsCompleted' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                {{
                  selectedForm?.locationAssetsCompleted
                    ?.toString()
                    .split(',')[0]
                }}
              </h4>
            </div>
          </div>

          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'tasksCompleted' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                {{ selectedForm?.tasksCompleted.split(',')[0] }}
              </h4>
            </div>
          </div>
          <div
            class="name-heading"
            *ngIf="scheduleConfiguration?.scheduleType !== 'byDate'"
          >
            <div>
              <p class="color-gray">
                {{ 'startDate' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                {{
                  formatDateTime(
                    selectedForm?.scheduledAt,
                    selectedForm?.plantId
                  )
                }}
              </h4>
            </div>
          </div>

          <div *ngIf="moduleName === 'OPERATOR_ROUNDS'" class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'taskSkipped' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                {{ selectedForm?.taskSkipped }}
              </h4>
            </div>
          </div>

          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'dueDate' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                {{
                  formatDateTime(selectedForm?.dueDate, selectedForm.plantId)
                }}
              </h4>
            </div>
          </div>
          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'assignedTo' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">{{ selectedForm?.assignedTo }}</h4>
            </div>
          </div>
          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'timeZone' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                <span *ngIf="this.plantTimezoneMap[selectedForm?.plantId]">
                  {{
                    this.plantTimezoneMap[selectedForm?.plantId].description
                  }}</span
                ><span *ngIf="!this.plantTimezoneMap[selectedForm?.plantId]">{{
                  this.placeHolder
                }}</span>
              </h4>
            </div>
          </div>
          <div class="name-heading">
            <div>
              <p class="color-gray">
                {{ 'shift' | translate }}
              </p>
            </div>
            <div class="flex-custom">
              <h4 class="create-name">
                {{ shiftObj[selectedForm?.shiftId]?.name }}
              </h4>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-container>
    <div
      *ngIf="
        moduleName !== 'OPERATOR_ROUNDS' &&
        formStatus !== formConfigurationStatus.published
      "
    >
      <h4>{{ 'preview' | translate }}</h4>
      <div>
        <div class="name-heading">
          <div class="flex-custom">
            <h4 class="create-name">
              {{ pagesCount }} {{ 'pages' | translate }}
            </h4>
            <span class="dots"></span>
            <p class="date-name color-gray">
              {{ questionsCount }} {{ 'questions' | translate }}
            </p>
          </div>
          <div (click)="onNavigateToDetailPage()">
            <button
              *ngIf="!isTemplate"
              mat-raised-button
              class="w-full btn-push btn-primary-blue"
            >
              {{ 'editForm' | translate }}
            </button>
            <button
              *ngIf="isTemplate"
              mat-raised-button
              class="w-full btn-push btn-primary-blue"
            >
              Edit
            </button>
          </div>
        </div>

        <div
          class="question-bg"
          *ngIf="selectedFormDetail$ | async as selectedFormDetail"
        >
          <div>
            <h3 class="question-heading headind-accordian pointer">
              <ng-container>
                {{ defaultFormName }}
                <label [matMenuTriggerFor]="menu">
                  <svg-icon
                    icon="icon-arrow-down"
                    class="arrow-icon"
                  ></svg-icon>
                </label>
              </ng-container>
            </h3>
            <mat-menu #menu="matMenu">
              <button
                class="btn-range"
                (click)="openMenu(page)"
                mat-menu-item
                *ngFor="
                  let page of selectedFormDetail?.pages;
                  let index = index
                "
              >
                {{ page?.name }} {{ page.position }}
              </button>
            </mat-menu>
          </div>
          <div>
            <app-preview
              [subFormId]="''"
              [pageIndex]="currentPage"
              [moduleType]="'formDetailView'"
            ></app-preview>
          </div>
        </div>
      </div>
    </div>
    <div
      (click)="onNavigateToDetailPage()"
      *ngIf="
        moduleName === 'OPERATOR_ROUNDS' &&
        formStatus !== formConfigurationStatus.published
      "
    >
      <button mat-raised-button class="w-full btn-primary-blue m-t-20">
        {{ 'editForm' | translate }}
      </button>
    </div>
    <div class="footer" *ngIf="showPDFDownload">
      <button
        mat-raised-button
        class="viewPDFBtn"
        translate="viewPDFBtn"
        [disabled]="pdfButtonDisabled"
        (click)="viewPDF()"
      ></button>
      <button
        mat-stroked-button
        class="downloadPDFBtn"
        [disabled]="pdfButtonDisabled"
        (click)="downloadPDF()"
      >
        <svg-icon
          icon="{{
            pdfButtonDisabled
              ? 'icon-picture-as-pdf-disabled'
              : 'icon-picture-as-pdf'
          }}"
          class="pdf-picture"
        ></svg-icon>
        <span translate="download"></span>
      </button>
    </div>
  </mat-card>
</div>
<div *ngIf="isLoading$ | async">
  <div class="ghost-loading mt-5 pt-5">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</div>
