@import '../../../../scss/colors.scss';

:host {
  background: $white;
  color: $white;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  min-width: 450px;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.pdf-picture {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  right: 5px;
}

#opendetail {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  .mat-card {
    box-shadow: none;
    min-height: 96vh;
    padding: 16px 0 !important;
  }
  .footer {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px 15px;
    right: -6px;
    .viewPDFBtn {
      width: 50%;
      margin-right: 10px;
      background: $blue-main;
      color: $white;
    }
    .viewPDFBtn:disabled {
      background-color: $gray2-bg;
      color: $gray7;
    }
    .downloadPDFBtn {
      width: 50%;
      background: $white;
      color: $blue-main;
      border: 1px solid $blue-main;
      img {
        margin-right: 5px;
      }
    }
    .downloadPDFBtn:disabled {
      border: 1px solid $gray2-bg;
      color: $gray7;
    }
  }

  #formDetailPreview {
    margin-left: 12px;
  }

  .btn-primary-blue {
    background-color: $blue-main;
    color: $white;
  }

  .btn-primary-blue:focus,
  .btn-primary-blue:active,
  .btn-primary-blue:focus:active {
    box-shadow: none;
  }

  .color-gray {
    color: $light-gray;
  }

  .detail-heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 12px;
  }
  .dots {
    width: 5px;
    height: 5px;
    background-color: $light-gray;
    border-radius: 50%;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .name-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border-bottom: 1px solid $gray9;
    padding: 0 12px 0 12px;
  }

  #skippedBgColor {
    background-color: rgba($chart-lime, $opacity20);
  }
  .flex-custom {
    display: flex;
    align-items: center;
    align-self: center;
    .flex-img {
      margin-right: 5px;
    }
    .create-name {
      white-space: nowrap;
      font-weight: 500;

      .link {
        color: $blue-main;
        cursor: pointer;
      }
    }
    .create-name.text-transform {
      text-transform: capitalize;
    }
    .date-name {
      white-space: nowrap;
      font-size: 85%;
    }

    .schedule-btn {
      font-weight: 500;
      font-size: 85%;
      color: $blue-main;
    }
  }
  .w-full {
    width: 95%;
    margin-left: 12px;
  }
  .btn-push {
    margin-top: -10px;
  }
  .question-bg {
    background: rgba(61, 90, 254, 0.08);
    padding: 8px;

    .question-heading {
      text-align: center;
    }
    .headind-accordian {
      letter-spacing: 0.4px;
      color: $blue-head;
      font-weight: 600;
      margin: 7px 0;
    }
    .section-question {
      background: rgba(103, 58, 183, 0.08);
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;
      width: 100%;
      border-radius: 6px;
    }
  }
}

.btn-range {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.cancel-icon {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 12px;
}

.arrow-icon {
  height: 10px;
  width: 10px;
  position: relative;
  top: 1px;
}

.ghost-loading {
  padding: 18px 18px;
}

::ng-deep .cdk-overlay-pane .custom-dates {
  color: $light-gray;
  padding: 2px 60px 2px 16px;
  p {
    font-size: 85%;
  }
}
.make-bold {
  font-weight: bolder;
}

.custom-dates-menu {
  ::ng-deep .cdk-overlay-pane mat-button-toggle {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 7px;
    line-height: 34px;
  }
  ::ng-deep
    .cdk-overlay-pane
    .mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    line-height: 0;
  }
  ::ng-deep
    .cdk-overlay-pane
    .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
  .mat-button-toggle-group-appearance-standard {
    border: 0;
  }

  ::ng-deep
    .cdk-overlay-pane
    .mat-button-toggle-group-appearance-standard
    .mat-button-toggle
    + .mat-button-toggle {
    border-left: 0;
  }

  ::ng-deep .cdk-overlay-pane .mat-button-toggle .mat-button-toggle-ripple {
    border-radius: 30px;
  }

  ::ng-deep .mat-menu-panel {
    max-width: 500px !important;
  }
}

::ng-deep .cdk-overlay-pane .weeks-of-month {
  display: flex;
  margin: 7px 0 0 7px;
  align-items: center;
}

::ng-deep .cdk-overlay-pane .row-title {
  margin: 12px 0;
  font-weight: 400;
}

::ng-deep .slider-values {
  color: $black !important;
}

::ng-deep .field-types .each-fieldtype .text-answer {
  width: 97% !important;
}

::ng-deep .field-types .each-fieldtype .signature-icon {
  width: 17px !important;
  right: 3px !important;
}

::ng-deep .field-types .each-fieldtype .slider {
  width: 85% !important;
  margin-left: 7px;
  margin-right: 7px;
}
.m-t-20 {
  margin-top: 20px;
}

.affected-forms {
  cursor: pointer;
  color: $blue-main;
}

.in-row {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 5px;
}

.in-column {
  display: flex;
  padding: 0px 5px 5px 5px;
}
