<div
  id="opendetail"
  *ngIf="
    selectedForm &&
    (selectedFormDetail$ | async) &&
    (isLoading$ | async) === false
  "
>
  <mat-card>
    <ng-container>
      <div>
        <img
          (click)="cancelForm()"
          src="assets/rdf-forms-icons/close.svg"
          alt="close"
          class="pointer"
        />
        <h1 class="detail-heading">{{ selectedForm?.name }}</h1>
      </div>
      <div class="name-heading">
        <div>
          <p class="color-gray">
            {{ 'lastPublishedBy' | translate }}
          </p>
        </div>
        <div class="flex-custom" *ngIf="selectedForm?.lastPublishedBy">
          <h4 class="create-name">{{ selectedForm?.lastPublishedBy }}</h4>
          <span class="dots"></span>
          <p class="date-name color-gray">
            {{ formateDate(selectedForm?.updatedAt) }}
          </p>
        </div>
      </div>
      <div class="name-heading">
        <div>
          <p class="color-gray">
            {{ 'lastModifiedBy' | translate }}
          </p>
        </div>
        <div class="flex-custom" *ngIf="selectedForm?.lastPublishedBy">
          <h4 class="create-name">{{ selectedForm?.lastPublishedBy }}</h4>
          <span class="dots"></span>
          <p class="date-name color-gray">
            {{ formateDate(selectedForm?.updatedAt) }}
          </p>
        </div>
      </div>
      <div class="name-heading">
        <div>
          <p class="color-gray">
            {{ 'authoredBy' | translate }}
          </p>
        </div>
        <div class="flex-custom">
          <h4 class="create-name">{{ selectedForm?.author }}</h4>
          <span class="dots"></span>
          <p class="date-name color-gray">
            {{ formateDate(selectedForm?.createdAt) }}
          </p>
        </div>
      </div>
    </ng-container>
    <div>
      <h4>{{ 'preview' | translate }}</h4>
      <div>
        <div class="name-heading">
          <div class="flex-custom">
            <h4 class="create-name">
              {{ pagesCount }} {{ 'pages' | translate }}
            </h4>
            <span class="dots"></span>
            <p class="date-name color-gray">
              {{ questionsCount }} {{ 'questions' | translate }}
            </p>
          </div>
          <div (click)="onNavigateToDetailPage()">
            <button mat-raised-button class="w-full btn-push btn-primary-blue">
              {{ 'editForm' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <div
    class="question-bg"
    *ngIf="selectedFormDetail$ | async as selectedFormDetail"
  >
    <div>
      <h3 class="question-heading headind-accordian pointer">
        <ng-container>
          {{ defaultFormName }}
          <label [matMenuTriggerFor]="menu">
            <img src="assets/rdf-forms-icons/arrow-down.svg" alt="arrow-down" />
          </label>
        </ng-container>
      </h3>
      <mat-menu #menu="matMenu">
        <button
          class="btn-range"
          (click)="openMenu(page)"
          mat-menu-item
          *ngFor="let page of selectedFormDetail?.pages; let index = index"
        >
          {{ page?.name }} {{ page.position }}
        </button>
      </mat-menu>
    </div>
    <div>
      <app-preview></app-preview>
    </div>
  </div>
</div>
<div *ngIf="isLoading$ | async">
  <div class="ghost-loading mt-5 pt-5">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</div>
