.tabContent {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: white;
}

.logicValue {
  margin: 0px 5px;
  border: 1px solid #d7dbf4;
  border-radius: 45px;
  padding: 0px 10px;
  background: #d7dbf4;
  line-height: 1.5;
}
.logicCondition {
  margin: 0px 5px;
  border: 1px solid #d7dbf4;
  border-radius: 45px;
  padding: 0px 10px;
  background: #d7dbf4;
  line-height: 1.5;
}
