<div [formGroup]="logicsForm" *ngIf="getLogicsList().length">
  <mat-tab-group formArrayName="logics">
    <mat-tab
      *ngFor="let logic of getLogicsList(); let i = index"
      label="{{ logic.value.logicTitle ? logic.value.logicTitle : 'Untitled' }}"
    >
      <div class="tabContent" [formGroupName]="i">
        <div class="logicRow">
          <img
            src="assets/rdf-forms-icons/delete-icon.svg"
            alt="delete-icon"
            class="delete-icon"
            (click)="deleteLogic(logic, i)"
          />
          <input type="hidden" formControlName="logicTitle" />
          <input type="hidden" formControlName="expression" />
          <input type="hidden" formControlName="askEvidence" />
          <input type="hidden" formControlName="action" />
          If answer

          <select
            class="logicCondition"
            formControlName="operator"
            (ngModelChange)="operatorChanged(logic, $event)"
          >
            <option
              class="logicOperator"
              value="{{ operator.code }}"
              *ngFor="let operator of fieldOperators"
            >
              {{ operator.displayName }}
            </option>
          </select>
          <input
            *ngIf="dropDownTypes.indexOf(question.value.fieldType) < 0"
            type="text"
            class="logicValue"
            formControlName="operand2"
            (ngModelChange)="operand2Changed(logic, $event)"
          />
          <select
            class="logicValue"
            stype="margin-left: -30px;"
            formControlName="operand2"
            *ngIf="dropDownTypes.indexOf(question.value.fieldType) > -1"
          >
            <ng-container
              *ngIf="question.value.fieldType !== 'CB'; else isCheckBox"
            >
              <option
                class="logicOperator"
                *ngFor="let option of question.value.value.values"
                [selected]="logic.value.operand2 === option.title"
              >
                {{ option.title }}
              </option>
            </ng-container>
            <ng-template #isCheckBox>
              <option
                class="logicOperator"
                *ngFor="let option of checkBoxResponses"
                [selected]="logic.value.operand2 === option"
              >
                {{ option }}
              </option>
            </ng-template>
          </select>
          then
          <span
            *ngIf="logic.value.action && logic.value.action === 'MANDATE'"
            class="mandateAction"
            (click)="openSelectQuestionsDialog(question, logic, 'MANDATE')"
          >
            Mandate ({{ logic.value.mandateQuestions.length }}) Questions
            <mat-icon>edit</mat-icon>
          </span>
          <span
            *ngIf="logic.value.action && logic.value.action === 'HIDE'"
            class="mandateAction"
            (click)="openSelectQuestionsDialog(question, logic, 'HIDE')"
          >
            Hide ({{ logic.value.hideQuestions.length }}) Questions
            <mat-icon>edit</mat-icon>
          </span>
          <span
            *ngIf="logic.value.action && logic.value.action === 'ask_evidence'"
            class="mandateAction"
          >
            Ask Evidence
            <!-- <mat-icon (click)="removeEvidence(logic)">close</mat-icon> -->
          </span>
          <span
            *ngIf="
              logic.value.action && logic.value.action === 'raise_notification'
            "
            class="mandateAction"
          >
            Raise Notification
            <!-- <mat-icon (click)="removeEvidence(logic)">close</mat-icon> -->
          </span>
          <span
            *ngIf="logic.value.action && logic.value.action === 'ask_questions'"
            class="mandateAction"
            (click)="triggerMenuAction('ask_questions', question, logic, i)"
          >
            Ask Questions
          </span>
          <button mat-button [matMenuTriggerFor]="menu" class="actionBtn">
            + action
          </button>
          <mat-menu #menu="matMenu">
            <button
              class="logicActionMenuItem"
              mat-menu-item
              (click)="openSelectQuestionsDialog(question, logic, 'MANDATE')"
            >
              Mandate Questions
            </button>
            <button
              class="logicActionMenuItem"
              mat-menu-item
              (click)="openSelectQuestionsDialog(question, logic, 'HIDE')"
            >
              Hide Questions
            </button>
            <button
              mat-menu-item
              class="logicActionMenuItem"
              (click)="askEvidence(question, logic, i)"
            >
              Ask Evidence
            </button>
            <button
              class="logicActionMenuItem"
              mat-menu-item
              (click)="triggerMenuAction('ask_questions', question, logic, i)"
            >
              Ask Questions
            </button>
            <button
              class="logicActionMenuItem"
              mat-menu-item
              (click)="openRaiseNotificationsDialog(question, logic, i)"
            >
              Raise Notification
            </button>
          </mat-menu>
          <!-- <input
            readonly
            formControlName="expression"
            class="action expression"
            *ngIf="logic.value.action"
          /> -->
        </div>
        <div
          *ngIf="logic.value.action === 'ask_questions'"
          class="logicAskQuestions"
        >
          <app-ask-question
            [formId]="formId"
            [logic]="logic"
            (onValueChanged)="onLogicQuestionValueChanged(logic, $event)"
            (onQuestionDelete)="onLogicQuestionDelete(logic, $event)"
          ></app-ask-question>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
