.tabContent {
  display: flex;
  // align-items: center;
  padding: 5px 10px;
  background: white;
  flex-direction: column;
}

.logicValue {
  margin: 0px 5px;
  border: 1px solid #d7dbf4;
  border-radius: 45px;
  padding: 0px 10px;
  background: #d7dbf4;
  line-height: 1.5;
}
.logicCondition {
  margin: 0px 5px;
  border: 1px solid #d7dbf4;
  border-radius: 45px;
  padding: 0px 10px;
  background: #d7dbf4;
  line-height: 1.5;
}

.action {
  margin: 0px 5px;
  border: 1px solid lightblue;
  border-radius: 6px;
  padding: 0px 5px;
  background: lightblue;
}

.logicAskQuestions {
  width: 100%;
}
