@import '../../../../scss/colors.scss';

.title {
  font-size: 145%;
  font-weight: 500;
  padding-bottom: 1px;
}
.search {
  position: relative;
  top: -3px;
  right: 10px;
}

.create-btn {
  text-transform: capitalize;
  float: right;
  background: $blue-main;
  color: $white;
  height: 31px;
  width: 150px;
  top: 2px;
  font-weight: normal;
  line-height: normal;
}
.remove-btn {
  text-transform: capitalize;
  float: right;
  background: $blue-main;
  color: $white;
  height: 35px;
  width: 150px;
  font-weight: normal;
  line-height: normal;
  margin: 10px;
}

.cancel-btn {
  text-transform: capitalize;
  float: right;
  border: 1px solid $blue-primary;
  background-color: $white;
  color: $blue-main;
  height: 35px;
  width: 150px;
  font-weight: normal;
  line-height: normal;
  margin: 10px;
}
.footer-left {
  display: flex;
  justify-content: center;
}
.user-content {
  height: max-content;
}

.check-circle-icon {
  height: 18px;
  width: 18px;
  padding: 8px;
  margin-top: 13px;
  margin-left: 13px;
}
.user-content {
  height: max-content;
}
.footer {
  background-color: $blue25;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  position: absolute;
  bottom: 15px;
  border-top: 1px solid $gray41;
  right: 0;
  z-index: 3;
}
.footer-button {
  display: flex;
  justify-content: flex-end;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px;
  position: relative;
  padding: 2px;
  height: 52px;
}

.checkedUsers {
  margin: 15px 14px 15px 5px;
  position: relative;
  top: 7px;
}

.checkedUsersCount {
  font-weight: 500;
  font-size: 110%;
  color: $gray-bg;
}

.checkedUsersText {
  font-weight: 500;
  font-size: 110%;
  color: $gray-bg;
  margin-left: 5px;
}
