<div class="container">
  <div class="header">
    <div class="left-pannel">
      <h2 class="title">{{ userGroupName }}</h2>
    </div>

    <div class="right-pannel">
      <span class="custom-form-field-gray-color search">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix class="searchIcon">search</mat-icon>
          <input
            matInput
            type="text"
            [placeholder]="'searchUsers' | translate"
            autocomplete="off"
            [formControl]="searchUser"
          />
        </mat-form-field>
      </span>

      <button
        mat-raised-button
        class="create-btn"
        translate="changeUserinGroup"
        (click)="selectUnselectUsers()"
        [disabled]="disableBtn"
      ></button>
    </div>
  </div>
  <div *ngIf="allUsers$ | async as users" class="users-content">
    <cwp-dynamictable
      *ngIf="(isLoading$ | async) === false"
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
    ></cwp-dynamictable>
    <div *ngIf="isLoading$ | async">
      <div class="ghost-loading">
        <div *ngFor="let number of ghostLoading">
          <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
          </ngx-shimmer-loading>
        </div>
      </div>
    </div>

    <div class="footer-btns" *ngIf="selectedCount">
      <button
        mat-button
        class="cancel-btn"
        autofocus="false"
        translate="cancelBtn"
        tabindex="-1"
      ></button>

      <button
        mat-raised-button
        class="remove-btn"
        type="submit"
        translate="removeBtn"
        (click)="removeMultipleMembers()"
      ></button>
    </div>
  </div>
</div>

<!-- <ng-template #loadingUsers>
  <div style="padding: 0 20px">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
  </div>
</ng-template> -->
