<button class="play_audio_button" 
        [popover]="popTemplate" 
        [placement]="'bottom'" 
        [container]="'body'" 
        #pop="bs-popover" 
        [outsideClick]="true"
        containerClass="audioPopover"> 
  <mat-icon class="mat-icon-play-circle">play_circle_outline</mat-icon>
</button>
        
<ng-template #popTemplate>
  <mat-card class="audio-card">
    <mat-card-header class="audio-header">
      <mat-icon>music_note</mat-icon>
      <span class="audio-title">{{getAudioTitle(fileInfo.filePath)}}</span>
    </mat-card-header>  
    <mat-card-content>
      <div class="display">
        <img (click)="player.rewind(10)" src="assets/work-instructions-icons/svg/backward10sec.svg" class="backward-icon"/>
        <img (click)="play()" src="assets/work-instructions-icons/svg/play_icon.svg" class="play-icon" [hidden]="this.playerStatus === 'play'"/>
        <img (click)="pause()" src="assets/work-instructions-icons/svg/pause_icon.svg" class="play-icon" [hidden]="this.playerStatus === 'pause'"/>
        <img (click)="player.forward(10)" src="assets/work-instructions-icons/svg/forward10sec.svg" class="forward-icon "/>
      </div>
      
      <plyr [plyrType]="fileInfo.fileType"
            plyrTitle="Audio/Video Player"
            [plyrPlaysInline]="true"
            [plyrSources]="playSources"
            (plyrInit)="playerInit($event)"
            (plyrProgress)="playerProgress()"
            (plyrTimeUpdate)="playerTimeUpdate()"
            (plyrSeeked)="playerSeeked()"
            (plyrPlay)="playerPlay()"
            (plyrPause)="playerPause()">
      </plyr>
      <span *ngIf="fileInfo.fileType === 'audio'" class="float-left">{{secondsToHms(currentTime)}}</span>
      <span *ngIf="fileInfo.fileType === 'audio'" class="float-right">{{secondsToHms(player?.duration)}}</span>
    </mat-card-content>
  </mat-card>
</ng-template>