.mat-icon-play-circle {
  cursor: pointer;
  margin-right: 10px;
}

.audio-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
  margin-left: 20px;
}

.audio-card {
  width: 380px;
  height: 170px;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.backward-icon {
  width: 25px;
  margin-left: 80px;
  cursor: pointer;
}

.play-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  cursor: pointer;
}

.display {
  display: flex;
}

.forward-icon {
  width: 25px;
  margin-right: 80px;
  cursor: pointer;
}

.audio-header {
  padding-bottom: 30px;
}

.play_audio_button {
  background-color: white;
}

.float-left {
  float: left;
  padding: 0 10px;
}

.float-right {
  float: right;
  padding: 0 10px;
}
