<div *ngIf="question.value.tag.title !== getNoneTag()">
  <div class="tag-text">
    <div *ngIf="question.value.tag.title === 'Caution'"></div>
    <div *ngIf="question.value.tag.title === 'Information'"></div>
    <div *ngIf="question.value.tag.title === 'Danger'"></div>
    <p
      id="instructionResponseValue"
      class="tag-text"
      [ngClass]="
        question.value.tag.title === 'Information'
          ? 'information'
          : question.value.tag.title === 'Danger'
          ? 'danger'
          : question.value.tag.title === 'Caution'
          ? 'caution'
          : ''
      "
    >
      {{ question.value.tag.title }}
    </p>
  </div>
  <!-- <p class="tag-text" [ngStyle]="{ color: question.value.tag.colour }">
    {{ question.value.tag.title }}
  </p> -->
</div>

<!-- instructions needs unescaped HTML -->

<div [innerHTML]="question.name" class="instruction"></div>

<!-- Instructions Images -->
<div>
  <ng-container *ngFor="let image of instructionsMedia.images; index as i">
    <img
      id="instructionResponseImg"
      [src]="image"
      alt="image"
      class="instruction-image-field"
      *ngIf="image !== null"
    />
  </ng-container>
</div>

<ng-container *ngIf="instructionsMedia.pdf !== null">
  <app-instruction-pdf-preview [pdf]="instructionsMedia.pdf">
  </app-instruction-pdf-preview>
</ng-container>
