@import '../../../../../../scss/colors.scss';

.tag-text {
  border-radius: 16px;
  width: fit-content;
  margin: 0px 0px 4px 0;
  padding: 4px 13px;
  position: relative;
  right: 5px;
}

.instruction {
  font-size: 95%;
  font-weight: 500;
  margin: 0;
  word-wrap: break-word;
}

.instruction ol li {
  list-style-type: auto;
}

.instruction-image-field {
  width: 56px;
  margin: 3px;
  height: 56px;
  border-radius: 8px;
}

.information {
  background-color: $information-bg;
  color: $information-text;
}

.danger {
  background-color: $danger-bg;
  color: $danger-text;
}

.caution {
  background-color: $caution-bg;
  color: $caution-text;
}
