<div *ngIf="question.value.tag.title !== getNoneTag()">
  <div class="tag-text">
    <div *ngIf="question.value.tag.title === 'Caution'"></div>
    <div *ngIf="question.value.tag.title === 'Information'"></div>
    <div *ngIf="question.value.tag.title === 'Danger'"></div>
    <p
      id="instructionResponseValue"
      class="tag-text"
      [ngClass]="
        question.value.tag.title === 'Information'
          ? 'information'
          : question.value.tag.title === 'Danger'
          ? 'danger'
          : question.value.tag.title === 'Caution'
          ? 'caution'
          : ''
      "
    >
      {{ question.value.tag.title }}
    </p>
  </div>
  <!-- <p class="tag-text" [ngStyle]="{ color: question.value.tag.colour }">
    {{ question.value.tag.title }}
  </p> -->
</div>

<!-- instructions needs unescaped HTML -->

<div [innerHTML]="question.name" class="instruction"></div>

<!-- Instructions Images -->
<div>
  <ng-container
    *ngFor="let image of (instructionsMedia$ | async).images; index as i"
  >
    <img
      id="instructionResponseImg"
      [src]="image.data"
      alt="image"
      class="instruction-image-field"
      *ngIf="image !== null && image.id !== null"
    />
  </ng-container>
</div>

<ng-container *ngIf="(instructionsMedia$ | async).pdf?.data.fileInfo !== null">
  <app-instruction-pdf-preview
    [pdf]="(instructionsMedia$ | async).pdf?.data.fileInfo"
  >
  </app-instruction-pdf-preview>
</ng-container>
