<div *ngIf="question.value.tag.title !== getNoneTag()">
  <div class="tag-text">
    <div *ngIf="question.value.tag.title === 'Caution'">
      <svg-icon icon="icon-caution" class="icon-caution"> </svg-icon>
    </div>
    <div *ngIf="question.value.tag.title === 'Information'">
      <svg-icon icon="icon-information" class="icon-information"></svg-icon>
    </div>
    <div *ngIf="question.value.tag.title === 'Danger'">
      <svg-icon icon="icon-danger" class="icon-danger"></svg-icon>
    </div>
  </div>
  <!-- <p class="tag-text" [ngStyle]="{ color: question.value.tag.colour }">
    {{ question.value.tag.title }}
  </p> -->
</div>

<!-- instructions needs unescaped HTML -->

<div [innerHTML]="question.name" class="instruction"></div>

<!-- Instructions Images -->
<div>
  <ng-container *ngFor="let image of question.value.images; index as i">
    <img
      src="{{ image.objectURL }}"
      alt="image"
      class="instruction-image-field"
      *ngIf="image !== null"
    />
  </ng-container>
</div>

<ng-container *ngIf="question.value.pdf !== null">
  <app-instruction-pdf-preview [pdf]="question.value.pdf">
  </app-instruction-pdf-preview>
</ng-container>
