.tag-text {
  margin-left: 8px;
}

.instruction {
  word-wrap: break-word;
}

.instruction ol li {
  list-style-type: auto;
}

.instruction-image-field {
  width: 56px;
  margin: 3px;
  height: 56px;
  border-radius: 8px;
}
