<div id="create-stepper">
  <!-- CENTER -->
  <div class="center">
    <!-- STEPS HEADER -->
    <app-steps-header
      [steps]="steps"
      [moduleName]="moduleName"
      [currentStep]="currentStep"
      [showGoBack]="showGoBack"
      (gotoStep)="onGotoStep($event)"
      (goBack)="goBack.emit()"
    >
      <ng-container *ngTemplateOutlet="stepsHeader"></ng-container>
    </app-steps-header>
    <!-- / STEPS HEADER -->

    <!-- STEPS CONTENT -->
    <div class="content">
      <div class="step">
        <div class="step-content">
          <ng-container *ngTemplateOutlet="stepsContent"></ng-container>
        </div>
      </div>
    </div>
    <!-- / STEPS CONTENT -->
  </div>
</div>

<ng-template #stepsHeader>
  <ng-content select="[stepsHeader]"></ng-content>
</ng-template>

<ng-template #stepsContent>
  <ng-content select="[stepsContent]"></ng-content>
</ng-template>
