<!-- Array-->
<div>
  <label>
    <img
      id="arrayResponseImg"
      class="img-array"
      (click)="openBottomSheet()"
      src="assets/rdf-forms-icons/array-arrow.svg"
      alt="img-array"
    />
  </label>
  <span id="arrayResponseTypeQuestion" class="array-heading">
    {{ (question.name ? question.name : 'typeQuestion') | translate }}
  </span>

  <div class="add-new-button">
    <svg-icon
      id="arrayResponseAddIcon"
      icon="icon-add-new"
      class="add-new-icon"
    ></svg-icon>
    <label id="arrayResponseAddNew" translate="addNew"></label>
  </div>
</div>
