<div *ngIf="this.userdata.singleDelete === true">
  <div class="widget-delete-modal" *ngIf="this.userdata.data.length === 0">
    <p
      id="deleteCancelTitle"
      class="cancel-title"
      translate="deleteModalHeading"
    ></p>
    <p
      id="deleteCancelSubTitle"
      class="cancel-subtitle"
      translate="deleteModalSubHeading"
    ></p>

    <button
      id="deleteRoleYesBtn"
      mat-raised-button
      class="yes-btn"
      (click)="deleteRole('yes')"
      translate="yesBtn"
    ></button>
    <button
      id="deleteRoleNoBtn"
      mat-button
      class="no-btn"
      (click)="deleteRole('no')"
      translate="noBtn"
    ></button>
  </div>

  <div class="widget-delete-modal" *ngIf="this.userdata.data.length !== 0">
    <p
      id="deleteRoleCancelTitle"
      class="cancel-title"
      translate="deleteRoleHavingUsersHeading"
    ></p>

    <button
      id="deleteRoleOkBtn"
      mat-raised-button
      class="ok-btn"
      (click)="deleteRole('ok')"
      translate="okBtn"
    ></button>
  </div>
</div>

<div *ngIf="this.userdata.multiDelete === true">
  <div class="widget-delete-modal">
    <p id="deleteRoleAlert" class="cancel-title" translate="alert"></p>
    <p
      id="deleteRoleSubTitle"
      class="cancel-subtitle"
      *ngIf="this.userdata.usersExists.length !== 0"
    >
      <b>
        “
        <span
          id="deleteRoleName"
          *ngFor="let data of this.userdata.usersExists; let i = index"
        >
          {{ data.name }}
          <span *ngIf="i !== this.userdata.usersExists.length - 1">,</span>
        </span>
        ”
        {{
          'rolesPlural'
            | translate
              : {
                  roles: this.userdata.usersExists.length
                }
        }}
        <span id="deleteRoleText" translate="cannotBeDeletedText"> </span>
      </b>
      <span id="deleteRoleAssignedText" translate="usersAssignedText"> </span>
    </p>
    <p
      class="cancel-subtitle"
      *ngIf="this.userdata.usersDoesntExists.length !== 0"
    >
      <span id="deleteRoleWantToText" translate="doYouWantToText"> </span>
      <b>
        <span id="deleteRoleHeading" translate="delete"> </span>
        <span
          id="usersDoesntExists"
          *ngFor="let data of this.userdata.usersDoesntExists"
        >
          “{{ data.name }}”
        </span>
        {{
          'rolesPlural'
            | translate
              : {
                  roles: this.userdata.usersDoesntExists.length
                }
        }}?
      </b>
    </p>

    <button
      id="multiDeleteRoleYesBtn"
      mat-raised-button
      class="yes-btn"
      (click)="deleteRole('yes')"
      translate="yesBtn"
      *ngIf="this.userdata.usersDoesntExists.length !== 0"
    ></button>
    <button
      id="multiDeleteRoleNoBtn"
      mat-button
      class="no-btn"
      (click)="deleteRole('no')"
      translate="noBtn"
      *ngIf="this.userdata.usersDoesntExists.length !== 0"
    ></button>
    <button
      id="multiDeleteRoleOkBtn"
      mat-raised-button
      class="ok-btn"
      (click)="deleteRole('ok')"
      translate="okBtn"
      *ngIf="this.userdata.usersDoesntExists.length === 0"
    ></button>
  </div>
</div>
