<div class="login-main-page">
  <h1 class="login-heading">
    Let's get <br />
    empowered
  </h1>

  <div class="centered" [formGroup]="loginForm">
    <img src="assets/img/svg/innov-logo.svg" alt="" class="p-t-10 width-200" />
    <h4 class="m-5 p-t-10">Sign in</h4>
    <input
      type="text"
      placeholder="Email address, phone number or Skype"
      class="email-input"
      formControlName="email"
      autofocus="false"
    />
    <mat-error *ngIf="f.email.errors?.required"> Email is required </mat-error>
    <mat-error *ngIf="f.email.errors?.email"> Enter a valid Email </mat-error>
    <p class="cant-access-text">Can't access your account?</p>
    <button class="next-btn">Next</button>
  </div>
  <img
    src="assets/login/graphics_left.svg"
    alt="graphics left"
    class="graphics-left"
  />
  <img
    src="assets/login/graphics_right.svg"
    alt="graphics right"
    class="graphics-right"
  />
</div>
