<div class="login-main-page">
  <h1 class="login-heading" [innerHTML]="'loginHeader' | translate"></h1>

  <form
    class="centered"
    [formGroup]="loginForm"
    (ngSubmit)="redirectToTenantIdp()"
  >
    <h2 class="m-0" translate>welcome</h2>
    <h5 class="m-t-5 m-b-5 p-t-10" translate>signinInfo</h5>
    <input
      type="text"
      matInput
      [placeholder]="'companyOrDomainNamePlaceholder' | translate"
      class="company-or-domain-input"
      formControlName="companyOrDomainName"
      autofocus="false"
      (keyup.enter)="onEnter()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="tenantsInfo$ | async as tenantsInfo">
        <mat-option
          *ngFor="let tenantInfo of tenantsInfo"
          [value]="tenantInfo.tenantName"
        >
          {{ tenantInfo.tenantName }}
        </mat-option>
        <mat-option
          *ngFor="let tenantInfo of tenantsInfo"
          [value]="tenantInfo.tenantDomainName"
        >
          {{ tenantInfo.tenantDomainName }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <mat-error
      *ngIf="
        loginForm.get('companyOrDomainName').touched &&
        loginForm.get('companyOrDomainName').errors?.required
      "
    >
      {{ 'required' | translate: { name: 'companyOrDomainName' | translate } }}
    </mat-error>
    <mat-error
      *ngIf="
        loginForm.get('companyOrDomainName').touched &&
        loginForm.get('companyOrDomainName').errors?.noWhiteSpace
      "
    >
      {{
        'noWhiteSpace' | translate: { name: 'companyOrDomainName' | translate }
      }}
    </mat-error>
    <mat-error
      *ngIf="
        !loginForm.get('companyOrDomainName').errors?.noWhiteSpace &&
        loginForm.get('companyOrDomainName').touched &&
        loginForm.get('companyOrDomainName').errors?.maxlength
      "
    >
      {{
        'maxlength'
          | translate
            : {
                name: 'companyOrDomainName' | translate,
                length: loginForm.get('companyOrDomainName').errors?.maxlength
                  .requiredLength
              }
      }}
    </mat-error>
    <mat-error
      *ngIf="
        !loginForm.get('companyOrDomainName').errors?.noWhiteSpace &&
        loginForm.get('companyOrDomainName').touched &&
        loginForm.get('companyOrDomainName').errors?.invalidCompanyOrDomaniName
      "
    >
      {{ 'invalidCompanyOrDomaniName' | translate }}
    </mat-error>
    <button
      class="next-btn"
      [disabled]="!loginForm.valid || loginForm.pristine"
      translate="next"
    ></button>
  </form>
  <img
    src="assets/login/graphics_left.svg"
    alt="graphics left"
    class="graphics-left"
  />
  <img
    src="assets/login/graphics_right.svg"
    alt="graphics right"
    class="graphics-right"
  />
</div>
