<div class="list-view">
  <div class="main-container">
    <div class="forms-header">
      <h2 id="templateListHeading" class="heading" translate="templates"></h2>
      <span class="custom-form-field-gray-color search">
        <span class="no-of-forms" *ngIf="templatesCount$ | async as totalCount">
          <span id="templateListCount" class="forms-count">
            {{ totalCount | count }}
          </span>
          <span id="templateListCountText" class="forms-text">{{
            'templates'
              | translate
                : {
                    count: totalCount || 0
                  }
          }}</span>
        </span>
        <mat-form-field appearance="outline">
          <mat-icon id="templateListSearchIcon" matPrefix class="searchIcon"
            >search</mat-icon
          >
          <input
            id="templateListSearchText"
            matInput
            type="text"
            [placeholder]="'searchTemplates' | translate"
            autocomplete="off"
            [formControl]="searchTemplates"
          />
          <svg-icon
            id="templateListFilterIcon"
            icon="icon-filterIcon"
            class="filter-icon"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="isPopoverOpen = !isPopoverOpen"
            matSuffix
          ></svg-icon>
        </mat-form-field>
        <button
          id="templateListCreateBtn"
          mat-raised-button
          translate="createNew"
          class="create-new-btn"
          (click)="openCreateTemplateModal()"
          *appCheckUserHasPermission="[permissions.createFormTemplate]"
        ></button>
      </span>
    </div>

    <div *ngIf="(isLoading$ | async) === false">
      <cwp-dynamictable
        [dataSource]="dataSource"
        [configOptions]="configOptions"
        (rowLevelActionHandler)="rowLevelActionHandler($event)"
        (onConfigOptionsChange)="configOptionsChangeHandler($event)"
        (cellClickActionHandler)="cellClickActionHandler($event)"
        class="width-100"
      ></cwp-dynamictable>
    </div>
  </div>

  <ng-container *ngIf="menuState">
    <app-form-detail
      [@slideInOut]="menuState"
      (slideInOut)="onCloseViewDetail()"
      [selectedForm]="selectedForm"
      (showAffectedForms)="showAffectedSlider($event)"
      [isTemplate]="true"
      (formDetailAction)="templateDetailActionHandler()"
    ></app-form-detail>
  </ng-container>

  <ng-container *ngIf="affectedSliderState">
    <app-affected-form-template-slider
      [@slideInOut]="affectedSliderState"
      (slideInOut)="onCloseAffectedSlider()"
      (affectedFormDetail)="onClickAffectedFormDetail($event)"
      [selectedForm]="selectedTemplate"
    ></app-affected-form-template-slider>
  </ng-container>

  <ng-container *ngIf="affectedFormDetailState">
    <app-form-detail
      [@slideInOut]="affectedFormDetailState"
      (slideInOut)="onCloseViewDetail()"
      [selectedForm]="affectedFormDetail"
      (formDetailAction)="affectedFormDetailActionHandler()"
    ></app-form-detail>
  </ng-container>

  <div *ngIf="isLoading$ | async">
    <div class="ghost-loading">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="updateFilter($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template>
</div>
