<div id="add-edit-slider">
  <mat-card [formGroup]="plantForm">
    <div class="top-bar">
      <svg-icon icon="icon-close" class="cancel" (click)="cancel()"></svg-icon>
      <h1 class="heading">{{ plantTitle }}</h1>
    </div>
    <div class="container-div">
      <p class="image-container">
        <span *ngIf="!plantImage?.length">
          <svg-icon icon="icon-default-plant" class="image-contain"></svg-icon>
        </span>

        <img
          [src]="plantImage"
          alt="Image"
          class="image-contain"
          *ngIf="plantImage?.length"
        />
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label translate="nameMandatory"></mat-label>
          <input
            matInput
            [placeholder]="'nameMandatory' | translate"
            formControlName="name"
          />
          <mat-error
            *ngIf="processValidationErrors('name')"
            class="m-t-5 error-fields"
          >
            {{
              errors.name.name
                | translate
                  : {
                      name: 'name' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label translate="plantIdMandatory"></mat-label>
          <input
            matInput
            [placeholder]="'plantIdMandatory' | translate"
            formControlName="plantId"
          />
          <mat-error
            *ngIf="processValidationErrors('plantId')"
            class="m-t-5 error-fields"
          >
            {{
              errors.plantId.name
                | translate
                  : {
                      name: 'plantId' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label translate="countryMandatory"></mat-label>
          <mat-select
            formControlName="country"
            [placeholder]="'countryMandatory' | translate"
            (closed)="onSelectBlur()"
          >
            <input
              #inputRef
              [(ngModel)]="this.countrySearch"
              [ngModelOptions]="{ standalone: true }"
              class="searchable-input"
              [placeholder]="'search' | translate"
              (keyup)="onKeyCountry($event)"
            />
            <div class="scrollable-area">
              <mat-option
                *ngFor="let country of this.countryData"
                [value]="country.countryCode"
                >{{ country.countryName }}
              </mat-option>
            </div>
          </mat-select>
          <mat-error
            *ngIf="processValidationErrors('country')"
            class="m-t-5 error-fields"
          >
            {{
              errors.country.name
                | translate
                  : {
                      name: 'country' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label translate="zipCodeMandatory"></mat-label>
          <input
            matInput
            [placeholder]="'zipCodeMandatory' | translate"
            formControlName="zipCode"
          />
          <mat-error
            *ngIf="processValidationErrors('zipCode')"
            class="m-t-5 error-fields"
          >
            {{
              errors.zipCode.name
                | translate
                  : {
                      name: 'zipCode' | translate,
                      length: errors.zipCode.length
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label *ngIf="noState" translate="stateNotMandatory"></mat-label>
          <mat-label *ngIf="!noState" translate="stateMandatory"></mat-label>
          <mat-select
            formControlName="state"
            [placeholder]="'stateMandatory' | translate"
          >
            <input
              class="searchable-input"
              [placeholder]="'search' | translate"
              (keyup)="onKeyState($event)"
            />
            <div class="scrollable-area">
              <mat-option *ngFor="let state of this.states" [value]="state">{{
                state
              }}</mat-option>
            </div>
          </mat-select>
          <mat-error
            *ngIf="processValidationErrors('state')"
            class="m-t-5 error-fields"
          >
            {{
              errors.state.name
                | translate
                  : {
                      name: 'state' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="m-0">
        <mat-form-field appearance="outline" class="width-100 m-b-10">
          <mat-label translate="timeZoneMandatory"></mat-label>
          <mat-select
            formControlName="timeZone"
            [placeholder]="'timeZoneMandatory' | translate"
            [compareWith]="compareTimeZones"
          >
            <div class="scrollable-area">
              <mat-option
                *ngFor="let timeZone of this.timeZones"
                [value]="timeZone"
                ><span> {{ timeZone.description }}</span></mat-option
              >
            </div>
          </mat-select>
          <mat-error
            *ngIf="processValidationErrors('timeZone')"
            class="m-t-5 error-fields"
          >
            {{
              errors.timeZone.name
                | translate
                  : {
                      name: 'timeZone' | translate
                    }
            }}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="additional-details">
        <mat-label translate="additionalDetails"></mat-label>
      </p>
      <span class="m-2">
        <mat-form-field appearance="outline" class="width-100" class="m-5">
          <mat-label translate="label"></mat-label>
          <input
            matInput
            [placeholder]="'label' | translate"
            formControlName="label"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100" class="m-5">
          <mat-label translate="field"></mat-label>
          <input
            matInput
            [placeholder]="'field' | translate"
            formControlName="field"
          />
        </mat-form-field>
      </span>
    </div>
  </mat-card>
  <div class="actions-footer">
    <button
      mat-stroked-button
      class="cancel-btn"
      type="button"
      (click)="cancel()"
      translate="cancelBtn"
    ></button>
    <button
      mat-raised-button
      class="create-btn"
      type="submit"
      [disabled]="plantForm.invalid"
      (click)="create()"
    >
      {{ plantButton }}
    </button>
  </div>
</div>
