<div class="assets-modal">
  <div class="dis-flex heading-conatiner">
    <button id="assetsModalBackBtn" class="back-btn">
      <svg-icon id="assetsModalBackIcon" icon="icon-back-arrow"></svg-icon>
    </button>
    <h2 id="assetsModalSelectAsset" class="heading" translate>Select Assets</h2>
  </div>
  <div class="search">
    <mat-form-field class="width-100" appearance="outline">
      <mat-icon id="assetsModalSearchIcon" matSuffix class="icon"
        >search</mat-icon
      >
      <input
        id="assetsModalSearchText"
        matInput
        [placeholder]="'Search Asset' | translate"
        class="width-100"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div class="list-container">
    <div class="dis-flex list-item-conatiner">
      <li class="selected-list-element">
        <div class="width-100">
          <p class="form-name"></p>
          <p class="form-des"></p>
        </div>
        <!-- <div class="width-30">
          <p class="no-of-ques">{{ form.countOfQues }} Questions</p>
        </div> -->
      </li>
    </div>
    <div id="assetsModalNoResult" class="dis-flex no-records" translate>
      noResults
    </div>
  </div>

  <div mat-dialog-actions class="actions">
    <button
      id="assetsModalCancelBtn"
      mat-stroked-button
      mat-dialog-close="true"
      translate="Cancel"
    ></button>
    <button
      id="assetsModalAddBtn"
      mat-raised-button
      color="primary"
      translate="Add"
      (click)="assets()"
    ></button>
  </div>
</div>

<ng-template #loadingForms>
  <div class="ghost-loading">
    <div>
      <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
