<div>
  <table class="table-class">
    <thead>
      <tr>
        <td></td>
        <td><span translate="column"></span> 1</td>
        <td><span translate="column"></span> 2</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bg-color">1</td>
        <td><input type="text" class="input-p" /></td>
        <td><input type="text" class="input-p" /></td>
      </tr>
      <tr>
        <td class="bg-color">2</td>
        <td><input type="text" class="input-p" /></td>
        <td><input type="text" class="input-p" /></td>
      </tr>
    </tbody>
  </table>
  <div class="add-new-button">
    <img src="assets/img/add-new.svg" class="add-new-icon" />
    <label translate="addNew"></label>
  </div>
</div>
