<div>
  <table class="table-class">
    <thead>
      <tr>
        <td></td>
        <td><span id="tabularFormatColOne" translate="column"></span> 1</td>
        <td><span id="tabularFormatColTwo" translate="column"></span> 2</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bg-color">1</td>
        <td><input type="text" class="input-p" /></td>
        <td><input type="text" class="input-p" /></td>
      </tr>
      <tr>
        <td class="bg-color">2</td>
        <td><input type="text" class="input-p" /></td>
        <td><input type="text" class="input-p" /></td>
      </tr>
    </tbody>
  </table>
  <div class="add-new-button">
    <svg-icon
      id="tabularFormatIcon"
      icon="icon-add-new"
      class="add-new-icon"
    ></svg-icon>
    <label translate="addNew"></label>
  </div>
</div>
