@import '../../../../scss/colors.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color;
  letter-spacing: 0.15px;
  font-weight: 700;
  padding: 10px 15px;
  .addBtn {
    margin-top: -5px;
    color: $blue;
  }
}
.search {
  margin-top: 5px;
  margin-right: 15px;
  .searchField {
    width: 95%;
    padding: 0px 10px;
  }
}
.hierarchy {
  overflow-y: auto;
  height: 65vh;
  width: -webkit-fill-available;
}
.displayGrid {
  display: grid;
}
.displayInlineBlock {
  display: inline-block;
}
.emptyHierarchy {
  display: flex;
  height: calc(100vh - 275px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span {
    color: $light-gray;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
  }
  button {
    background: $blue-main;
    color: $white;
  }
}
.emptySearchResult {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: $gray4;
  font-style: italic;
}
.toggle-btn-icon {
  margin-top: -20px;
  height: 17px;
  width: 17px;
  position: relative;
  top: -5px;
}
.toggle-btn-group {
  padding: 0px;
  height: 30px;
  border-radius: 15px;
  border: 0.781564px solid $border-color;
}
.toggle-btn {
  width: 55px;
  height: -webkit-fill-available;
}

.activeBtn {
  background: $blue-head;
}
.nodeContent {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: inherit;
}
img {
  max-width: 40px;
  max-height: 40px;
}
.description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  line-height: 1.5;
  .title {
    font-weight: 500;
  }
  .subTitle {
    font-weight: 400;
  }
}
.searchResultOption {
  height: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.closeIcon {
  cursor: pointer;
  height: 12px;
  width: 12px;
}
.addIcon {
  margin-top: -3px;
}
