@import '../../../../scss/colors.scss';

.inactive-users-main-container {
  background-color: $white;

  ::ng-deep .table-column {
    width: 25%;
  }
}

.inactive-users-header {
  padding: 3px 10px;
  border-bottom: 1px solid $border-bottom;
  height: 42px;
}

.no-of-inactive-users {
  float: right;
  margin: 15px;
}

.inactive-users-count {
  font-weight: 500;
  font-size: 110%;
  color: $gray-bg;
}

.inactive-users-text {
  font-weight: 500;
  font-size: 110%;
  color: $gray1;
  margin-left: 5px;
}

.add-role-btn {
  background: $blue-main;
  color: $white;
}

.search-form-field {
  float: left;
  margin-right: 10px;
}

.users-content {
  height: calc(100vh - 80px);
  width: 100%;
}
