.inactive-users-main-container {
  background-color: #ffffff;

  ::ng-deep .table-column {
    width: 25%;
  }
}

.inactive-users-header {
  padding: 3px 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 42px;
}

.no-of-inactive-users {
  float: right;
  margin: 15px;
}

.inactive-users-count {
  font-weight: 500;
  font-size: 110%;
  color: #212121;
}

.inactive-users-text {
  font-weight: 500;
  font-size: 110%;
  color: #9e9e9e;
  margin-left: 5px;
}

.add-role-btn {
  background: #3d5afe;
  color: #ffffff;
}

.search-form-field {
  float: left;
  margin-right: 10px;
}

.users-content {
  height: calc(100vh - 80px);
  width: 100%;
}
