<ng-container *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div *ngIf="currentRouteUrl === routingUrls.inActiveUsers.url">
    <div class="inactive-users-main-container">
      <div class="inactive-users-header">
        <div class="width-60 custom-form-field-gray-color">
          <mat-form-field appearance="outline" class="search-form-field">
            <mat-icon id="inactiveUsersSearchIcon" matPrefix class="searchIcon"
              >search</mat-icon
            >
            <input
              id="inactiveUserSearchtext"
              matInput
              type="text"
              [placeholder]="'searchUsers' | translate"
              autocomplete="off"
              [formControl]="searchUser"
            />
          </mat-form-field>
        </div>
        <span
          class="no-of-inactive-users"
          *ngIf="userCount$ | async as userCount"
        >
          <span
            class="inactive-users-count"
            id="inactiveUserCount"
            *ngIf="userCount.count"
          >
            {{ userCount.count }}
          </span>
          <span
            id="NoInactiveUserCount"
            class="inactive-users-count"
            *ngIf="!userCount.count"
            >0</span
          >
          <span class="inactive-users-text" id="inactiveUserCount">{{
            'inactiveUsersPlural'
              | translate
                : {
                    count: userCount.count ? userCount.count : 0
                  }
          }}</span>
        </span>
      </div>
      <div
        *ngIf="users$ | async as users; else loadingInactiveUsers"
        class="dis-flex users-content"
      >
        <cwp-dynamictable
          [dataSource]="dataSource"
          [configOptions]="configOptions"
          (fetchDataCallback)="handleTableEvent($event)"
          class="width-100"
        ></cwp-dynamictable>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingInactiveUsers>
  <div class="p-0-20">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
