.remove_inner_bottom{
    --inner-border-width: 0; 
 }
 
.footer {
    padding-left: 15px;
    height: 105px;
}

.footer-text {
    font-size: 14px;
    margin-bottom: 0;
}

.footer-logo {
    width: 120px;
    position: relative;
    top: 0;
    left: 10px;
}

.Logo {
    width:170px;
    padding-left:20px;
}

.menu-width {
    width: 170px;
    padding-left:20px;
    font-size: 12px;
}
