.remove_inner_bottom{
    --inner-border-width: 0; 
 }

 .form-inputs {
    border:1px solid #E5E5E5;
    border-radius:10px;
    margin-left: 15px;
 }

 .form-labels {
     width: 80px;
 }

 .bold {
     font-weight: 600;
 }

 .borders {
     border: 1px solid #E5E5E5;
 }
 .my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }


  .custom-card {
    border-radius: 10px;
  }


  .display {
     display: flex;
  }

  .hide {
   display: none;
}
.m-r-10 {
    margin-right: 10px;
}
.input-fields {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.sc-ion-input-md-h {
    padding-left: 7px !important;
}
.sc-ion-input-lg-h {
    padding-left: 5px;
}