<div class="search-container">
  <div id="opendetail">
    <app-form-detail
      [@slideInOut]="formDetailState"
      (slideInOut)="closeRoundPlanHandler()"
      [selectedForm]="roundPlanDetail"
      [moduleName]="'OPERATOR_ROUNDS'"
      [hidden]="hideRoundPlanDetail"
      (formDetailAction)="roundPlanDetailActionHandler()"
      (scheduleRoundPlan)="openScheduleConfigHandler($event)"
      [formStatus]="formConfigurationStatus.published"
      [scheduleConfiguration]="
        roundPlanScheduleConfigurations[roundPlanDetail?.id]
      "
    ></app-form-detail>
  </div>
  <ng-container *ngIf="users$ | async">
    <app-schedule-configuration
      [@slideInOut]="scheduleConfigState"
      [roundPlanDetail]="scheduleRoundPlanDetail"
      [hidden]="hideScheduleConfig"
      [moduleName]="'OPERATOR_ROUNDS'"
      [assigneeDetails]="assigneeDetails"
      (scheduleConfigEvent)="scheduleConfigEventHandler($event)"
      (scheduleConfig)="scheduleConfigHandler($event)"
      (viewForms)="viewFormsHandler($event)"
    ></app-schedule-configuration>
  </ng-container>
  <span class="custom-form-field-gray-color plan-categories">
    <mat-button-toggle-group
      name="plans"
      aria-label="Plans"
      [formControl]="planCategory"
    >
      <mat-button-toggle value="all"
        >{{
          'all'
            | translate
              : {
                  count:
                    this.roundPlanCounts.scheduled +
                    this.roundPlanCounts.unscheduled
                }
        }}
      </mat-button-toggle>
      <mat-button-toggle value="scheduled"
        >{{
          'scheduled'
            | translate
              : {
                  count: this.roundPlanCounts.scheduled
                }
        }}
      </mat-button-toggle>
      <mat-button-toggle value="unscheduled">{{
        'unscheduled'
          | translate
            : {
                count: this.roundPlanCounts.unscheduled
              }
      }}</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field appearance="outline" class="search">
      <mat-icon matPrefix class="searchIcon">search</mat-icon>
      <input
        matInput
        type="text"
        [placeholder]="'search' | translate"
        autocomplete="off"
        [formControl]="searchForm"
      />
      <svg-icon
        icon="icon-filterIcon"
        class="common-filter-icon"
        matSuffix
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="isPopoverOpen = !isPopoverOpen"
      ></svg-icon>
    </mat-form-field>
  </span>
  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="applyFilters($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template>
</div>
<ng-container *ngIf="userInfo$ | async">
  <div
    *ngIf="(filteredRoundPlans$ | async) && (isLoading$ | async) === false"
    class="plans-list"
  >
    <cwp-dynamictable
      [ngClass]="{
        'remove-zindex': zIndexDelay === 400 || zIndexScheduleDelay === 400
      }"
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (cellClickActionHandler)="cellClickActionHandler($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      class="width-100"
    ></cwp-dynamictable>
  </div>

  <div *ngIf="isLoading$ | async">
    <div class="padding-lr-20">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</ng-container>
