@import '../../../../scss/colors.scss';

.actions-list {
  ::ng-deep .table-column {
    width: 15%;
    min-width: fit-content;
  }

  ::ng-deep .mat-column-status {
    width: 5%;
  }

  .actions-search {
    position: fixed;
    right: 14px;
    top: 387px;
  }
  .no-of-actions {
    margin-right: 10px;
    position: fixed;
    right: 265px;
    top: 402px;
  }
  .actions-count {
    font-weight: 500;
    font-size: 110%;
    color: $gray-bg;
  }
  .actions-text {
    font-weight: 500;
    font-size: 110%;
    color: $gray1;
    margin-left: 5px;
    .ghost-loading {
      padding: 0 20px;
    }
  }
}
