<ng-container *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div
    class="observations-container"
    *ngIf="
      currentRouteUrl === routingUrls.roundPlanObservations.url ||
      currentRouteUrl === routingUrls.rdfObservations.url
    "
  >
    <div class="dis-flex charts">
      <div class="width-50 chart m-r-10" *ngIf="priorityData && statusData">
        <h3 translate="openIssues"></h3>
        <div class="dis-flex">
          <div class="width-50">
            <p class="center">{{ 'priority' | translate }}</p>
            <app-donut-chart
              class="issue-chart"
              [options]="priorityData?.issues"
            ></app-donut-chart>
          </div>
          <div class="width-50">
            <p class="center">{{ 'status' | translate }}</p>
            <app-donut-chart
              class="issue-chart"
              [options]="statusData?.issues"
            ></app-donut-chart>
          </div>
        </div>
      </div>
      <div class="width-50 chart m-l-10" *ngIf="priorityData && statusData">
        <h3 translate="openActions"></h3>
        <div class="dis-flex">
          <div class="width-50">
            <p class="center">{{ 'priority' | translate }}</p>
            <app-donut-chart
              class="issue-chart"
              [options]="priorityData?.actions"
            ></app-donut-chart>
          </div>
          <div class="width-50">
            <p class="center">{{ 'status' | translate }}</p>
            <app-donut-chart
              class="issue-chart"
              [options]="statusData?.actions"
            ></app-donut-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-header">
      <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>{{ 'issues' | translate }}</ng-template>
          <app-issues-list
            [users$]="users$"
            [moduleName]="moduleName"
          ></app-issues-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>{{ 'actions' | translate }}</ng-template>
          <app-actions-list
            [users$]="users$"
            [moduleName]="moduleName"
          ></app-actions-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
