<div class="upload-list-view">
  <div class="upload-modal">
    <div *ngIf="!isReviewed">
      <h1 id="uploadResponseTitle" class="heading">{{ title }}</h1>

      <img <<<<<<<
      HEAD:src/app/shared/components/upload-response-modal/upload-response-modal.component.html
      ======= id="uploadResponseImg" >>>>>>>
      cbe2cf10ab3dae47d84b5c32f5f3d2cc7d03afb6:src/app/components/master-configurations/upload-response-modal/upload-response-modal.component.html
      *ngIf="!isSuccess && !isFailure" class="center"
      src="assets/Images/illustration_bulkupload.svg" />
      <svg-icon
        id="uploadResonseSuccessIcon"
        icon="icon-illustration_bulkupload_success"
        *ngIf="isSuccess"
        class="center mb-5"
      ></svg-icon>
      <svg-icon
        id="uploadResponseFailIcon"
        icon="icon-illustration_bulkupload_failure"
        *ngIf="isFailure"
        class="center mb-5"
      ></svg-icon>
      <mat-progress-bar
        *ngIf="!isSuccess && !isFailure && type !== 'forms'"
        mode="indeterminate"
      ></mat-progress-bar>
      <mat-progress-bar
        *ngIf="!isSuccess && !isFailure && type === 'forms'"
        mode="determinate"
        [value]="((successCount + failedCount) / totalCount) * 100"
      ></mat-progress-bar>
      <mat-progress-bar
        *ngIf="isSuccess"
        mode="determinate"
        value="100"
      ></mat-progress-bar>
      <mat-progress-bar
        *ngIf="isFailure"
        mode="determinate"
        value="100"
      ></mat-progress-bar>
      <div id="uploadResponseMessage" class="sub-heading">{{ message }}</div>
      <button
        id="uploadResponseCancelBtn"
        mat-stroked-button
        class="cancel-btn"
        type="button"
        *ngIf="!isSuccess"
        (click)="onClose()"
        translate="cancelBtn"
      ></button>
      <button
        id="uploadResponseReviewBtn"
        *ngIf="isSuccess"
        (click)="onReview()"
        mat-raised-button
        class="review-btn"
        translate="review"
        type="submit"
      ></button>
    </div>
    <div *ngIf="isReviewed">
      <div class="success-message" *ngIf="failedCount === 0">
        <div class="only-success-message" id="uploadResponseOnlySuccessCount">
          <svg-icon
            icon="icon-upload-success"
            class="upload-icon"
            id="uploadOnlySuccessResponseIcon"
          ></svg-icon>
          <p>
            {{ successCount }} {{ type }} {{ 'successfullyUpload' | translate }}
          </p>
        </div>
      </div>
      <div class="success-message" *ngIf="successCount === 0">
        <div class="only-failure-message" id="uploadResponseOnlyFailureCount">
          <svg-icon
            icon="icon-upload-error"
            class="upload-icon"
            id="uploadOnlyFailureResponseIcon"
          ></svg-icon>
          <p>{{ failedCount }} {{ type }} {{ 'failedUpload' | translate }}</p>
        </div>
      </div>
      <div class="success-message" *ngIf="successCount > 0 && failedCount > 0">
        <div class="success-box" id="uploadResponseSuccessCount">
          <svg-icon
            id="uploadResponseIcon"
            icon="icon-upload-success"
            class="upload-icon"
          ></svg-icon>
          {{ successCount }} {{ type }} {{ 'successfullyUpload' | translate }}
        </div>
        <div class="failure-box" id="uploadResponsefailCount">
          <svg-icon
            id="uploadResponseErrorIcon"
            icon="icon-upload-error"
            class="upload-icon"
          ></svg-icon>
          {{ failedCount }} {{ type }} {{ 'failedUpload' | translate }}
        </div>
      </div>
      <div
        id="uploadResponseDownloadExcel"
        class="review-text"
        *ngIf="failedCount > 0"
        (click)="downloadExcel()"
      >
        {{ 'downloadExcel' | translate }}
      </div>

      <button
        id="uploadResponseCloseBtn"
        mat-stroked-button
        class="review-btn"
        type="button"
        (click)="onClose()"
        translate="closeBtn"
      ></button>
    </div>
  </div>
</div>
