@import '../../../../scss/colors.scss';

.upload-list-view {
  .upload-modal {
    width: 400px;
    height: auto;
    overflow: hidden;
    padding: 17px;
    background: $white;
    border-radius: 4px;
  }

  .heading {
    font-size: 130%;
    font-weight: 500;
  }

  .cancel-btn {
    color: $blue-main;
    border-color: $blue-main;
    float: right;
    margin-right: 15px;
  }

  .review-btn {
    background-color: $blue-main;
    color: $white;
    float: right;
  }

  .review-btn:disabled {
    background-color: $gray2-bg;
    color: $gray7;
  }

  .sub-heading {
    font-size: 130%;
    font-weight: 300;
    margin-top: 15px;
  }

  ::ng-deep .center {
    position: relative;
    bottom: 10px;
    left: 45px;
  }
  .failure {
    width: 25%;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: $green3;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background-color: $gray43;
  }

  .review-text {
    text-align: right;
    margin-right: 60px;
    margin-bottom: 30px;
    color: $blue-main;
    font-weight: 500;
    cursor: pointer;
  }

  .success-message {
    display: flex;
    font-weight: 300;
    div {
      padding: 40px;
      margin: 15px;
      text-align: center;
      border-radius: 15px;
      width: 50%;

      img {
        display: block;
        margin: auto;
        padding-bottom: 15px;
      }
    }

    .success-box {
      background-color: $gray43;
    }

    .failure-box {
      background-color: rgba($red-main, $opacity10);
    }

    .only-success-message {
      width: 100%;
      background-color: $gray43;
    }

    .only-failure-message {
      width: 100%;
      background-color: rgba($red-main, $opacity10);
    }
  }
}

.upload-icon {
  height: 50px;
  width: 90px;
}
