<ng-container *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div
    class="publish-main custom-form-field-gray-color"
    *ngIf="currentRouteUrl === routingUrls.published.url"
  >
    <div class="dis-flex header-publish">
      <mat-form-field appearance="outline" class="search-field m-t-5">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input
          id="inputSearch"
          matInput
          [(ngModel)]="search"
          placeholder="Search by title or author"
        />
      </mat-form-field>
      <select [(ngModel)]="CreatedBy" class="author-dropdown minimal width-15">
        <option value="">Authors</option>
        <ng-container *ngIf="authors$ | async as authors">
          <option *ngFor="let obj of authors" [value]="obj">{{ obj }}</option>
        </ng-container>
      </select>
    </div>
    <ng-container
      *ngIf="published$ | async as published; else loadingPublished"
    >
      <table id="publish-table" class="table">
        <thead>
          <tr>
            <th scope="col" class="width-30" (click)="setOrder('WI_Name')">
              Title
              <span [hidden]="reverseObj.WI_Name"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'WI_Name'"
                  >arrow_downward</mat-icon
                ></span
              >
              <span [hidden]="!reverseObj.WI_Name"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'WI_Name'"
                  >arrow_upward</mat-icon
                ></span
              >
            </th>
            <th
              scope="col"
              class="width-20"
              (click)="setOrder('Category_Name')"
            >
              Category
              <span [hidden]="reverseObj.Category_Name"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'Category_Name'"
                  >arrow_downward</mat-icon
                ></span
              >
              <span [hidden]="!reverseObj.Category_Name"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'Category_Name'"
                  >arrow_upward</mat-icon
                ></span
              >
            </th>
            <th scope="col" class="width-20" (click)="setOrder('updated_at')">
              Last Edited
              <span [hidden]="reverseObj.updated_at"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'updated_at'"
                  >arrow_downward</mat-icon
                ></span
              >
              <span [hidden]="!reverseObj.updated_at"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'updated_at'"
                  >arrow_upward</mat-icon
                ></span
              >
            </th>
            <th scope="col" class="width-20" (click)="setOrder('CreatedBy')">
              Author
              <span [hidden]="reverseObj.CreatedBy"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'CreatedBy'"
                  >arrow_downward</mat-icon
                ></span
              >
              <span [hidden]="!reverseObj.CreatedBy"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'CreatedBy'"
                  >arrow_upward</mat-icon
                ></span
              >
            </th>
            <th scope="col" class="width-10"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngIf="
              published
                | filter : search
                | dropdownFilter : CreatedBy
                | orderBy : order : reverse : true
                | paginate : config as result
            "
          >
            <app-dummy #filteredResults [value]="result"></app-dummy>
            <tr *ngFor="let obj of result">
              <th scope="row" class="width-30">
                <div class="dis-flex">
                  <img
                    class="coverImg"
                    [hidden]="!getImageSrc(obj.Cover_Image, obj.Id)"
                    [attr.src]="getImageSrc(obj.Cover_Image, obj.Id)"
                    alt=""
                  />
                  <a
                    class="list-ellipsis"
                    [routerLink]="['/work-instructions/published', obj.Id]"
                  >
                    <span matTooltip="{{ obj.WI_Name }}">
                      {{ obj.WI_Name }}
                    </span>
                  </a>
                </div>
              </th>

              <td class="width-20">
                <a
                  class="font-color"
                  [routerLink]="['/work-instructions/published', obj.Id]"
                  >{{ obj.categories }}</a
                >
              </td>
              <td class="width-20">
                <a
                  class="font-color"
                  [routerLink]="['/work-instructions/published', obj.Id]"
                  >Edited {{ obj.updated_at | timeAgo }} by
                  {{ obj.EditedBy }}</a
                >
              </td>
              <td class="width-20">
                <a
                  class="font-color"
                  [routerLink]="['/work-instructions/published', obj.Id]"
                  ><mat-icon class="mat-icon-circle">account_circle</mat-icon>
                  {{ obj.CreatedBy }}</a
                >
              </td>
              <td class="width-10">
                <a (click)="setFav(obj)">
                  <span
                    *ngIf="obj.IsFavorite === false || obj.IsFavorite === null"
                    ><mat-icon class="mat-icon-star"
                      >star_border</mat-icon
                    ></span
                  >
                  <span
                    *ngIf="obj.IsFavorite !== false && obj.IsFavorite !== null"
                    ><mat-icon class="mat-icon-star is-fav-icon"
                      >star</mat-icon
                    ></span
                  >
                </a>
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                  *appCheckUserHasPermission="[
                    permissions.updateWorkInstruction,
                    permissions.copyWorkInstruction,
                    permissions.deleteWorkInstruction
                  ]"
                  aria-label="More Options"
                >
                  <mat-icon matTooltip="More" matTooltipClass=""
                    >more_horiz</mat-icon
                  >
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    [routerLink]="['/work-instructions/published', obj.Id]"
                    id="editWorkInstruction"
                    *appCheckUserHasPermission="[
                      permissions.updateWorkInstruction
                    ]"
                  >
                    <span class="menu-text">Edit Work Instruction</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="copyWI(obj)"
                    id="copyWorkInstruction"
                    *appCheckUserHasPermission="[
                      permissions.copyWorkInstruction
                    ]"
                  >
                    <span class="menu-text">Copy Work Instruction</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="removePublsihedWI(obj)"
                    id="deleteWorkInstruction"
                    *appCheckUserHasPermission="[
                      permissions.deleteWorkInstruction
                    ]"
                  >
                    <span class="menu-text text-red">
                      Delete Work Instruction
                    </span>
                  </button>
                </mat-menu>
              </td>
            </tr>
            <tr>
              <div
                class="no-search-records"
                *ngIf="result.length === 0 && published.length > 0"
              >
                No Result Found!
              </div>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="no-records" *ngIf="published && published.length === 0">
        No Published Work Instructions
      </div>
      <div *ngIf="published && published.length > 0" class="pagination-main">
        <pagination-template
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
          (pageBoundsCorrection)="config.currentPage = $event"
        >
          <app-custom-pagination-controls [paginationData]="p">
          </app-custom-pagination-controls>
        </pagination-template>
      </div>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loadingPublished>
  <div class="drafts-fav-recents-publish">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
