.publish-main {
  height: 95vh;
  margin: 14px;
}

.header-publish {
  background: white;
  height: 56px;
  padding: 0px 10px;
  justify-content: flex-end;
}

.published-table-title h2 {
  margin: 0;
  padding: 15px 0px;
  color: #000000;
  background: #fff;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.mat-icon-circle {
  font-size: 35px;
  vertical-align: middle;
  position: relative;
  left: -10px;
  top: -5px;
  color: #bdbdbd;
}

.mat-icon-star {
  position: relative;
  top: 6px;
}
.font-color {
  color: #000000;
}

.arrow {
  font-size: 16px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.arrow-inactive {
  color: white;
}

table {
  width: 100%;
  background: white;
  margin-top: 14px;
}

td {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

thead th {
  cursor: pointer;
  border-top: none;
  text-align: left;
  font-weight: 500;
  color: #000;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

tbody th {
  text-align: left;
  font-weight: 500;
  color: #000;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

tbody td {
  color: #212121;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

tbody tr td:nth-child(5) {
  text-align: right;
}

.wi-name {
  position: relative;
  top: -15px;
}

.table th,
.table td {
  vertical-align: middle;
  border-bottom: 1px solid #c8ced3;
  font-family: 'Roboto';
  padding: 10px;
}

.pagination-main {
  background-color: #ffffff;
  height: 45px;
  padding-top: 10px;
}
