<button
  id="responseTypeBtn"
  (click)="openResponseTypeModal()"
  class="response-type-btn"
  [ngClass]="{
    'dis-flex p-t-0':
      questionForm.get('fieldType').value === 'VI' ||
      questionForm.get('fieldType').value === 'DD',
    border: title === 'table response type'
  }"
>
  <div
    *ngIf="
      questionForm.get('fieldType').value === 'VI' ||
        questionForm.get('fieldType').value === 'DD';
      else nonMCQFields
    "
    class="chip-list"
  >
    <mat-chip-list
      *ngIf="questionForm.get('value').value?.type === 'globalResponse'"
      class="response-type-chips"
    >
      <mat-chip id="responseTypeName" class="chips">
        {{ questionForm.get('value').value?.name }}
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list
      *ngIf="questionForm.get('value').value?.type === 'quickResponse'"
      class="response-type-chips"
    >
      <mat-chip
        id="responseTypeTitle"
        class="chips"
        [ngStyle]="{
          color: questionForm.get('value').value?.value[0]?.color,
          backgroundColor: questionForm.get('value').value?.value[0]
            .backgroundColor
            ? questionForm.get('value').value?.value[0]?.backgroundColor
            : 'rgba(10, 1, 0, 0.2)',
          borderColor: questionForm.get('value').value?.value[0].backgroundColor
            ? questionForm.get('value').value?.value[0]?.backgroundColor
            : 'rgba(10, 1, 0, 0.2)'
        }"
      >
        {{ questionForm.get('value').value?.value[0].title }}
      </mat-chip>
      <mat-chip
        id="responseTypeValue"
        *ngIf="questionForm.get('value').value?.value.length >= 2"
        class="chips"
        [ngStyle]="{
          color: questionForm.get('value').value?.value[1]?.color,
          backgroundColor: questionForm.get('value').value?.value[1]
            .backgroundColor
            ? questionForm.get('value').value?.value[1]?.backgroundColor
            : 'rgba(10, 1, 0, 0.2)',
          borderColor: questionForm.get('value').value?.value[1].backgroundColor
            ? questionForm.get('value').value?.value[1]?.backgroundColor
            : 'rgba(10, 1, 0, 0.2)'
        }"
      >
        {{ questionForm.get('value').value?.value[1].title }}
      </mat-chip>
      <span
        id="responseTypeValueLength"
        *ngIf="questionForm.get('value').value?.value.length > 2"
        class="ellipsis-more"
        >+ ({{ questionForm.get('value').value?.value.length - 2 }}
        more)
      </span>
    </mat-chip-list>
    <div
      id="responseType"
      *ngIf="questionForm.get('value').value?.globalDataset"
      class="globalset-res-type"
    >
      {{ questionForm.get('value').value?.responseType }}
    </div>
  </div>

  <ng-template #nonMCQFields>
    <svg-icon
      [icon]="getFieldTypeImage(questionForm.get('fieldType').value)"
      class="response-type-icons"
    ></svg-icon>

    &nbsp;
    <span id="responseTypeFieldType" class="response-type-text">
      {{ getFieldTypeDescription(questionForm.get('fieldType').value) }}
    </span>
  </ng-template>
  <mat-icon
    id="responseTypeDownArrow"
    *ngIf="!this.isImported"
    class="response-type-btn-arrow"
  >
    keyboard_arrow_down
  </mat-icon>
</button>
