// blue-main
@import '../../../../scss/colors.scss';

#expandableComponentIcon {
  color: $blue-main;
}

.scrollable-area {
  height: calc(
    100vh - 220px
  ); // If scroll issue reduce this - Top bar size or any addtional component on top
  overflow: auto;
  padding: 16px 16px 0 16px;
}

.shift-log-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
