.right-div {
  position: absolute;
  right: 40px;
}

::ng-deep .mat-snack-bar-container {
  margin: 0 !important;
  margin-top: 5px !important;
  position: absolute;
  right: 1px;
  top: 60px;
  border-radius: 0px !important;
}

.search-form-field {
  float: right;
}

.reports-body {
  background: #ffffff;
  margin-right: 14px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

  ::ng-deep .table-column {
    width: 40%;
  }
}

::ng-deep .reports-body .mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep .reports-body #matTableMain {
  height: calc(100vh - 160px);
}

.reports-body > div {
  width: 100%;
}

.headings {
  font-style: normal;
  font-weight: bold;
  font-size: 160%;
  letter-spacing: 0.15px;
  color: #212121;
}

.text-align {
  text-align: right;
}

.new-report-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.15px;
  color: #ffffff;
  border: 1px solid #3d5afe;
  border-radius: 4px;
  background-color: #3d5afe;
  height: 27px;
  padding: 0px 14px;
  float: right;
  margin: 7px;
  cursor: pointer;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
}

.no-of-records {
  font-weight: 500;
  padding-left: 10px;
}

::ng-deep .reports-body .mat-elevation-z8 {
  box-shadow: none;
}

.toggle-btns {
  margin: 7px 0 0 7px;
}

.toggle-btns {
  ::ng-deep .mat-button-toggle-group {
    height: 35px;
    align-items: center;
    border: none;
  }
  ::ng-deep .mat-button-toggle {
    width: 80px;
  }
}

.toogle-btn-text {
  font-size: 90%;
}
