<div class="users-by-module-div">
  <div class="p-15">
      <span class="users-by-module-title">Usage by module</span>
      <mat-icon class="material-icons-outlined users-by-module-icons">save_alt</mat-icon>
      <mat-icon class="material-icons-outlined users-by-module-icons">file_copy</mat-icon>
      <span class="float-right"><span class="data-labels-text">Data labels</span><mat-slide-toggle></mat-slide-toggle></span>
      <mat-form-field appearance="outline" class="selected-all-dropdown">
        <mat-label>Selected</mat-label>
        <mat-select value="all">
          <mat-option value="all">All</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="col-md-12">
      Graph
  </div>
</div>