<ng-container *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div
    class="files custom-form-field-gray-color"
    *ngIf="currentRouteUrl === routingUrls.files.url"
  >
    <div class="dis-flex header-files">
      <mat-form-field appearance="outline" class="search-field m-t-5">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input
          matInput
          [(ngModel)]="search"
          placeholder="Search by title or author"
        />
      </mat-form-field>
    </div>
    <ng-container *ngIf="mediaFiles$ | async as mediaFiles; else loadingFiles">
      <table id="draft-table" class="table">
        <thead>
          <tr>
            <th scope="col" class="width-30" (click)="setOrder('fileName')">
              File Name
              <span [hidden]="reverseObj.fileName"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'fileName'"
                  >arrow_downward</mat-icon
                ></span
              >
              <span [hidden]="!reverseObj.fileName"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'fileName'"
                  >arrow_upward</mat-icon
                ></span
              >
            </th>
            <th scope="col" class="width-20" (click)="setOrder('updatedAt')">
              Date and Time
              <span [hidden]="reverseObj.updatedAt"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'updatedAt'"
                  >arrow_downward</mat-icon
                ></span
              >
              <span [hidden]="!reverseObj.updatedAt"
                ><mat-icon
                  class="arrow"
                  [class.arrow-inactive]="order !== 'updatedAt'"
                  >arrow_upward</mat-icon
                ></span
              >
            </th>
            <th scope="col" class="width-10"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngIf="
              mediaFiles
                | filter : search
                | orderBy : order : reverse : true
                | paginate : config as result
            "
          >
            <tr *ngFor="let obj of result; let i = index">
              <th class="width-30 text-left-align">
                <span class="files-names">
                  <mat-icon class="music-icon"> music_note </mat-icon>
                  <span *ngIf="this.editRows[i] === false">{{
                    obj.fileName
                  }}</span>
                  <input
                    type="text"
                    class="files-input"
                    value="{{ obj.fileName }}"
                    [(ngModel)]="obj.fileName"
                    *ngIf="this.editRows[i] === true"
                  />
                </span>
              </th>

              <td class="width-20">
                <span class="files-data">{{
                  obj.updatedAt | dateTime : 'dd mmm yyyy | hh:mm:ss'
                }}</span>
              </td>
              <td class="width-50">
                <span class="files-icons-list">
                  <app-player
                    [fileInfo]="{
                      filePath: obj.filePath,
                      fileType: obj.fileType
                    }"
                    *ngIf="this.editRows[i] === false"
                  ></app-player>
                  <ng-container
                    *appCheckUserHasPermission="[permissions.updateFile]"
                  >
                    <mat-icon
                      class="files-icons"
                      (click)="updateEditRow(i)"
                      *ngIf="this.editRows[i] === false"
                      >edit</mat-icon
                    >
                  </ng-container>
                  <ng-container
                    *appCheckUserHasPermission="[permissions.deleteFile]"
                  >
                    <mat-icon
                      class="files-icons"
                      (click)="removeFile(obj)"
                      *ngIf="this.editRows[i] === false"
                      >delete_forever</mat-icon
                    >
                  </ng-container>
                </span>
                <ng-container
                  *appCheckUserHasPermission="[
                    permissions.createWorkInstruction
                  ]"
                >
                  <button
                    class="create-wi-btn"
                    *ngIf="this.editRows[i] === false"
                    (click)="createWorkInstruction(obj.filePath)"
                  >
                    <mat-icon class="create-wi-btn-icon">add</mat-icon>
                    <span class="create-wi-btn-text"
                      >Create Work Instruction</span
                    >
                  </button>
                </ng-container>
                <ng-container
                  *appCheckUserHasPermission="[permissions.updateFile]"
                >
                  <button
                    class="save-files-btn"
                    *ngIf="this.editRows[i] === true"
                    (click)="saveFile(obj, i)"
                  >
                    SAVE
                  </button>
                </ng-container>
                <button
                  #cancel
                  class="cancel-files-btn"
                  *ngIf="this.editRows[i] === true"
                  (click)="
                    this.editRows[i] = false;
                    obj.fileName = obj.originalFileName
                  "
                >
                  CANCEL
                </button>
              </td>
            </tr>
            <tr>
              <div
                class="no-search-records"
                *ngIf="result.length === 0 && mediaFiles.length > 0"
              >
                No Result Found!
              </div>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="no-records" *ngIf="mediaFiles && mediaFiles.length === 0">
        No Video/Audio Files available in the repository!
      </div>
      <div *ngIf="mediaFiles && mediaFiles.length > 0" class="pagination-main">
        <pagination-template
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
          (pageBoundsCorrection)="config.currentPage = $event"
        >
          <app-custom-pagination-controls
            [paginationData]="p"
          ></app-custom-pagination-controls>
        </pagination-template>
      </div>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loadingFiles>
  <div class="drafts-fav-recents-publish">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
