@import '../../../../scss/colors.scss';

.files {
  height: 95vh;
  margin-right: 14px;
}

.header-files {
  background: $white;
  height: 50px;
  padding: 0px 10px;
  justify-content: flex-end;
}

.drafts-table-title h2 {
  margin: 0;
  padding: 15px 0px;
  color: $black;
  background: $white;
  font-size: 200%;
  font-weight: 600;
}

.mat-icon-circle {
  font-size: 300%;
  vertical-align: middle;
  position: relative;
  left: -15px;
  top: -10px;
  color: $gray34;
}
.mat-icon-star {
  position: relative;
  top: 6px;
}
.font-color {
  color: $black;
}

.arrow {
  font-size: 120%;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.arrow-inactive {
  color: $white;
}

table {
  width: 100%;
  background: $white;
  margin-top: 14px;
}

td {
  font-size: 100%;
}

thead th {
  cursor: pointer;
  border-top: none;
  text-align: left;
  font-weight: 500;
  color: $black;
  font-size: 110%;
}

tbody th {
  text-align: left;
  font-weight: 500;
  color: $black;
  font-size: 110%;
}

tbody td {
  color: $gray-bg;
  text-align: left;
  font-weight: normal;
  font-size: 100%;
}

tbody tr td:nth-child(5) {
  text-align: right;
}

.files-icons-list {
  position: relative;
  top: 5px;
}

.files-icons {
  margin: 0 15px;
  cursor: pointer;
}

.create-wi-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: $blue-main;
  background-color: transparent;
  border: 1px solid rgba(61, 90, 254, 0.5);
  border-radius: 4px;
}

.create-wi-btn-icon {
  position: relative;
  top: 5px;
}

.create-wi-btn-text {
  position: relative;
  top: -1px;
  padding-left: 5px;
}

.files-data {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 19px;
  align-items: center;
  color: $gray4;
}

.files-names {
  font-style: normal;
  font-weight: 500;
  font-size: 110%;
  line-height: 21px;
  color: $gray11;
}

.music-icon {
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.save-files-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 22px;
  padding: 5px 10px;
  letter-spacing: 0.5px;
  color: $white;
  background: $blue-main;
  border-radius: 4px;
  border: none;
}

.cancel-files-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 22px;
  padding: 5px 10px;
  letter-spacing: 0.5px;
  color: $black;
  background: $gray25;
  border-radius: 4px;
  margin-left: 10px;
  border: none;
}

.files-input {
  height: 40px;
  border: 1px solid $blue-main;
  border-radius: 4px;
}

.wi-name {
  position: relative;
  top: -15px;
}

.table th,
.table td {
  vertical-align: middle;
  border-bottom: 1px solid $gray31;

  padding: 10px;
}

.pagination-main {
  background-color: $white;
  height: 45px;
  padding-top: 10px;
}
