<div class="p-l-10">
  <div class="dis-flex">
    <div class="width-70">
      <h2 class="step-title-heading">
        <input
          type="text"
          id="step_title"
          [(ngModel)]="selectedStep.Title"
          class="wi_title_input"
          placeholder="Title"
          autofocus="true"
          [disabled]="!titleProvided"
          value="{{ selectedStep.Title }}"
          matTooltip="{{ selectedStep.Title }}"
          matTooltipClass=""
          (ngModelChange)="this.steptitle.next($event)"
        />
        <span class="success-msg" *ngIf="showMsg">
          <span class="f-left success-icon"><mat-icon>done</mat-icon></span>
        </span>
      </h2>
    </div>
    <div class="p-t-2 m-l-minus-15 width-30">
      <button
        class="align-icon fa-pull-right p-t-5 p-l-25 btn btn-hide-show-preview"
        (click)="displayStatus(previewDisplay)"
        *ngIf="previewDisplay === false"
      >
        SHOW PREVIEW
      </button>
      <mat-icon
        class="delete-forever-icon align-icon p-t-5 p-l-15 step-action"
        title="Delete Step"
        (click)="deleteStep(this.step)"
        *appCheckUserHasPermission="[permissions.deleteWorkInstruction]"
        >delete_forever</mat-icon
      >
      <mat-icon
        class="align-icon fa-pull-right p-l-0 p-t-5 step-action"
        title="Clone Step"
        (click)="cloneCurrentStep()"
        *appCheckUserHasPermission="[permissions.createWorkInstruction]"
        >content_copy
      </mat-icon>
    </div>
  </div>
  <mat-divider class="mat-divider"></mat-divider>
  <div *ngIf="twelveColumned === 'true'" class="step-content-container">
    <form [formGroup]="stepContentForm" class="p-r-10">
      <div
        class="dis-flex"
        *ngFor="let field of selectedStep.Fields; let i = index"
      >
        <div class="width-50">
          <div *ngIf="field.FieldType === 'ATT'">
            <p class="titles">Attachments</p>
            <mat-divider class="mat-divider"></mat-divider>
            <div
              class="uploadfilecontainer1"
              ngx-dropzone
              accept="image/jpeg,image/jpg,image/png"
              (change)="uploadFile($event)"
            >
              <div *ngIf="files.length === 0" class="p-t-15">
                <svg-icon icon="icon-attachment_placeholder"></svg-icon>
                <h3 class="attachment-placeholder-text">
                  Pictures and videos can speak a thousand words
                </h3>
              </div>
              <input
                hidden
                type="file"
                accept="image/x-png,image/jpeg"
                #fileInput
                (change)="uploadFile($event)"
                placeholder="drop here"
              />
              <label class="uploadfilecontainertitle">
                <span class="upload-btn p-l-10">
                  <svg-icon icon="icon-upload-icon-blue" class="upload-img">
                  </svg-icon>
                  <span class="upload-text"> UPLOAD </span>
                </span>
                <span class="drop-att">or drop attachments here </span>
              </label>
            </div>
            <div class="clearfix"></div>
            <div>
              <div *ngFor="let file of files; let i = index">
                <div class="responsive-img-container">
                  <img
                    alt="attachment"
                    [hidden]="!getStepImage(file)"
                    [attr.src]="getStepImage(file)"
                  />
                  <br />
                  <div class="image-title p-l-10">{{ file }}</div>
                  <div class="delete-uploaded-file">
                    <button
                      class="delete-file"
                      (click)="deleteAtt(file, i)"
                      *appCheckUserHasPermission="[
                        permissions.deleteWorkInstruction
                      ]"
                    >
                      <mat-icon class="delete-forever-icon"
                        >delete_forever</mat-icon
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="width-50">
          <p
            *ngIf="field.FieldType === 'RTF' && field.FieldCategory === 'INS'"
            class="titles"
          >
            Instructions
          </p>
          <mat-divider
            class="mat-divider"
            *ngIf="field.FieldType === 'RTF' && field.FieldCategory === 'INS'"
          ></mat-divider>
          <p *ngIf="field.FieldType === 'RTF'">
            <mat-form-field appearance="outline" class="form-field rtf-text">
              <mat-label
                *ngIf="field.FieldCategory === 'INS'"
                class="mat-label m-b-35"
              >
                <mat-icon matSuffix class="icon-size sky-blue">error</mat-icon>
                <span class="label-titles">Instructions</span>
              </mat-label>
              <mat-label
                *ngIf="field.FieldCategory === 'WARN'"
                class="mat-label m-b-35"
              >
                <mat-icon matSuffix class="icon-size orange">warning</mat-icon>
                <span class="label-titles">Warnings</span>
              </mat-label>
              <mat-label
                *ngIf="field.FieldCategory === 'HINT'"
                class="mat-label m-b-35"
              >
                <mat-icon matSuffix class="icon-size green">help</mat-icon>
                <span class="label-titles">Hints</span>
              </mat-label>
              <mat-label
                *ngIf="field.FieldCategory === 'REACTION PLAN'"
                class="mat-label m-b-35"
              >
                <mat-icon matSuffix class="icon-size blue">build</mat-icon>
                <span class="label-titles">Reaction Plan</span>
              </mat-label>
              <quill-material
                (editorChange)="handleEditorChange(field)"
                (editorFocus)="updateQuillToolBarClass($event, field.Title)"
                [ngClass]="{
                  'display-toolbar': quillToolbarClass === field.Title
                }"
                class="steps-quill-material"
                [formControlName]="field.Title"
                [(ngModel)]="field.FieldValue"
                placeholder=""
              >
              </quill-material>
              <mat-error
                *ngIf="stepContentForm.get(field.Title).hasError('required')"
                >Please enter a value</mat-error
              >
            </mat-form-field>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="steps-block" *ngIf="twelveColumned === 'false'">
    <form [formGroup]="stepContentForm" class="p-r-10">
      <div
        class="form-group"
        *ngFor="let field of selectedStep.Fields; let i = index"
      >
        <div *ngIf="field.FieldType === 'ATT'">
          <p class="titles">Attachments</p>
          <mat-divider class="mat-divider"></mat-divider>
          <div
            class="uploadfilecontainer1"
            ngx-dropzone
            accept="image/jpeg,image/jpg,image/png"
            (change)="uploadFile($event)"
          >
            <input
              hidden
              type="file"
              accept="image/x-png,image/jpeg"
              #fileInput
              (change)="uploadFile($event)"
              placeholder="drop here"
            />
            <label class="uploadfilecontainertitle">
              <span class="upload-btn p-l-10">
                <svg-icon
                  icon="icon-upload-icon-blue"
                  class="upload-img"
                ></svg-icon>
                <span class="upload-text"> UPLOAD </span>
              </span>
              <span class="drop-att">or drop attachments here </span>
            </label>
          </div>
          <div
            class="files-list dis-flex"
            *ngFor="let file of files; let i = index"
          >
            <div class="f-left p-r-10 vertical-center width-10">
              <svg-icon icon="icon-drag-handle" class="drag-handler"></svg-icon>
            </div>
            <div class="f-left p-0 width-20">
              <img
                alt="Attachment"
                [hidden]="!getStepImage(file)"
                [attr.src]="getStepImage(file)"
                class="file-images"
              />
            </div>
            <div class="fnt-gray p-0 vertical-center-file p-l-10 width-50">
              {{ file }}
            </div>
            <div class="p-0 vertical-center-icons width-20">
              <button
                class="delete-file"
                (click)="deleteAtt(file, i)"
                *appCheckUserHasPermission="[permissions.deleteWorkInstruction]"
              >
                <mat-icon class="delete-forever-icon">delete_forever</mat-icon>
              </button>
              <div
                ngx-dropzone
                class="customised-drop-zone"
                [accept]="'image/*'"
                (change)="uploadFile($event, i)"
                *appCheckUserHasPermission="[
                  permissions.createWorkInstruction,
                  permissions.updateWorkInstruction
                ]"
              >
                <input
                  hidden
                  type="file"
                  accept="image/x-png,image/jpeg"
                  #fileInput
                  (change)="uploadFile($event, i)"
                  placeholder="drop here"
                />
                <mat-icon class="edit-icon">edit</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <p
          *ngIf="field.FieldType === 'RTF' && field.FieldCategory === 'INS'"
          class="titles"
        >
          Instructions
        </p>
        <mat-divider
          class="mat-divider"
          *ngIf="field.FieldType === 'RTF' && field.FieldCategory === 'INS'"
        ></mat-divider>
        <p *ngIf="field.FieldType === 'RTF'">
          <mat-form-field appearance="outline" class="form-field rtf-text">
            <mat-label
              *ngIf="field.FieldCategory === 'INS'"
              class="mat-label m-b-35"
            >
              <mat-icon matSuffix class="icon-size sky-blue">error</mat-icon>
              <span class="label-titles">Instructions</span>
            </mat-label>
            <mat-label
              *ngIf="field.FieldCategory === 'WARN'"
              class="mat-label m-b-35"
            >
              <mat-icon matSuffix class="icon-size orange">warning</mat-icon>
              <span class="label-titles">Warnings</span>
            </mat-label>
            <mat-label
              *ngIf="field.FieldCategory === 'HINT'"
              class="mat-label m-b-35"
            >
              <mat-icon matSuffix class="icon-size green">help</mat-icon>
              <span class="label-titles">Hints</span>
            </mat-label>
            <mat-label
              *ngIf="field.FieldCategory === 'REACTION PLAN'"
              class="mat-label m-b-35"
            >
              <mat-icon matSuffix class="icon-size blue">build</mat-icon>
              <span class="label-titles">Reaction Plan</span>
            </mat-label>
            <quill-material
              (editorChange)="handleEditorChange(field)"
              (editorFocus)="updateQuillToolBarClass($event, field.Title)"
              [ngClass]="{
                'display-toolbar': quillToolbarClass === field.Title
              }"
              class="steps-quill-material"
              [formControlName]="field.Title"
              [(ngModel)]="field.FieldValue"
              placeholder=""
            >
            </quill-material>
            <mat-error
              *ngIf="stepContentForm.get(field.Title).hasError('required')"
              >Please enter a value</mat-error
            >
          </mat-form-field>
        </p>
      </div>
    </form>
  </div>
</div>
