@import '../../../../../scss/colors.scss';

mat-form-field {
  width: 100%;
}

input[type='text']:focus {
  outline: none;
  caret-color: #007aff;
}

h2 {
  padding: 7px;
}

.step-title-heading {
  width: 100%;
  font-size: 180%;
  margin-top: 5px;
  margin-bottom: 10px;
}

#StepMessageInToaster {
  visibility: hidden;
  min-width: 250px;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $white;
  text-align: center;
  padding: 10px;
  position: absolute;
  height: 40px;
  z-index: 1;
  left: 600px;
  top: -50px;
}

#StepMessageInToaster.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.titles {
  font-size: 100%;
  font-weight: 600;

  margin-top: 10px;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 3%;
  transform: translateY(25%);
}

.file-images {
  border-radius: 10px;
  border: 3px $white solid;
  width: 60px;
  height: 60px;
  padding: 0;
}

.responsive-img-container {
  width: 100%;
  min-height: 150px;
  height: auto !important;
  overflow: hidden;
  background: transparent;
  margin-bottom: 30px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 1px;
}

.delete-file {
  background: white;
  border: none;
  cursor: pointer;
  float: right;
}

.delete-forever-icon {
  position: relative;
  top: 0;
  color: $gray-text;
  cursor: pointer;
}

.image-title {
  position: relative;
  width: 100%;
  height: 40px;
  left: 0px;
  bottom: -15px;
  backdrop-filter: blur(4px);
  background: #f8f8f8;
  opacity: 0.8;
}

.vertical-center-file {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  left: -5%;

  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 19px;
  color: $gray11;
}

.vertical-center-icons {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  right: -7px;
}

.uploadfilecontainer1 {
  min-height: 45px;
  height: auto !important;
  overflow: hidden;
  padding-top: 5px;
  width: 100%;
  border: 1px dashed #cccccc;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 18px;
  display: block;
}

.uploadfilecontainertitle {
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 19px;
  color: $gray-text;
  padding-top: 9px;
  padding-left: 0;
  margin: 0 auto;
  position: relative;
  top: 8px;
}

.attachment-placeholder-text {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  color: $gray-text;
}

.uploadfilecontainertitle .upload-btn {
  background: transparent;
  border: 1px solid $blue-primary;
  color: $blue-primary;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px 35px 0 35px;
  height: 30px;
  text-align: center;
}

.uploadfilecontainertitle .upload-img {
  color: $blue-primary;
  position: relative;
  left: 15px;

  ::ng-deep svg {
    width: 12px !important;
    height: 12px !important;
  }
}

.uploadfilecontainertitle .upload-text {
  position: relative;
  left: 15px;
  font-size: 80%;
  top: -2px;
}

.uploadfilecontainertitle .drop-att {
  position: relative;
  top: -3px;
  left: 5px;
}

.uploadfilecontainer1:hover {
  cursor: pointer;
  opacity: 0.8;
}

.files-list {
  width: 100%;
  color: #1c8adb;
}

.files-list .delete-file,
.files-list .edit-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file mat-icon,
.files-list .edit-file mat-icon {
  color: $gray-text;
  font-size: 160%;
}

.edit-file {
  position: relative;
  left: 7px;
}

.files-list .delete-file img {
  width: 30px;
}

.label-titles {
  position: relative;
  top: -5px;
  left: 5px;
  font-size: 100%;
}

.uploadimg {
  position: relative;
  top: -3px;
  left: -10px;
}

.align-icon {
  float: right;
}

.form-field {
  margin-bottom: 15px;
}

.mat-label {
  position: relative;
  top: -2px;
}

.success-icon {
  height: 25px;
  position: relative;
  top: -3px;
}

.icon-size {
  font-size: 160%;
}

.mat-divider {
  display: block;
  margin: -10px 0px 10px 0px;
  border-top-width: 1px;
  border-top-style: solid;
}

.wi_title_input {
  border: none;
  background: transparent;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
}

.wi_title_input:focus {
  outline: none;
}

.editor {
  position: relative;
  left: 0px;
}

.step-action {
  cursor: pointer;
  color: $gray-text;
  position: relative;
  top: 2px;
}

button.btn-hide-show-preview {
  font-weight: 500;
  font-size: 90%;
  text-transform: uppercase;
  color: $gray-text;
  position: relative;
  top: 10px;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.customised-drop-zone {
  height: 25px !important;
  border: 0px !important;
  float: right;
}

.edit-icon {
  font-size: 150%;
  padding-top: 1px;
}

.step-content-container {
  overflow-y: auto;
  height: calc(100vh - 290px);
}

.delete-uploaded-file {
  position: absolute;
  top: 0;
  right: 10px;
  background: $gray-text;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
}

.drag-handler {
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
  }
}
