<div mat-dialog-title>
  <div class="logicRow">
    <mat-icon>info</mat-icon>
    <div class="questionLogic">
      <span class="currentQuestion">
        {{ data.questionName }}
      </span>
      <p class="m-0">
        If answer {{ operatorSymbolMap[data.logic.operator] }}
        {{ data.logic.operand2 }}
      </p>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="dialogBody">
    <span class="heading"> Enter the fields for the Notification </span>
    <div class="validationMessageRow" [formGroup]="notificationForm">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Trigger Info</mat-label>
        <input
          matInput
          placeholder="Please create a Notification to the Maintenance Team to report an Issue "
          formControlName="triggerInfo"
        />
        <div class="dis-flex h-30">
          <div
            *ngIf="processValidationErrors('triggerInfo')"
            class="invalid-feedback m-t-2"
          >
            {{ errors.triggerInfo.name | translate }}
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Trigger While</mat-label>
        <mat-select formControlName="triggerWhen">
          <mat-option value="While Filling form">Filling the Form</mat-option>
          <mat-option value="While Submitting form"
            >Submitting the Form</mat-option
          >
        </mat-select>
        <div class="dis-flex h-30">
          <div
            *ngIf="processValidationErrors('triggerWhen')"
            class="invalid-feedback m-t-2"
          >
            {{ errors.triggerWhen.name | translate }}
          </div>
        </div>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close (click)="close()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    color="primary"
    [disabled]="notificationForm.invalid"
    (click)="submit()"
  >
    Okay
  </button>
</mat-dialog-actions>
