<div mat-dialog-title>
  <div class="logicRow">
    <mat-icon id="raiseNotificationInfo">info</mat-icon>
    <div class="questionLogic">
      <span id="raiseNotificationQuestionName" class="currentQuestion">
        {{ data.questionName }}
      </span>
      <p id="raiseNotificationAnswer" class="m-0">
        If answer {{ operatorSymbolMap[data.logic.operator] }}
        {{ data.logic.operand2 }}
      </p>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="dialogBody">
    <span id="raiseNotificationField" class="heading">
      Enter the fields for the Notification
    </span>
    <div class="validationMessageRow" [formGroup]="notificationForm">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label id="raiseNotificationTriggerInfo">Trigger Info</mat-label>
        <input
          id="raiseNotificationTriggerText"
          matInput
          placeholder="Please create a Notification to the Maintenance Team to report an Issue "
          formControlName="triggerInfo"
        />
        <div class="dis-flex h-30">
          <div
            id="raiseNotificationTiggerName"
            *ngIf="processValidationErrors('triggerInfo')"
            class="invalid-feedback m-t-2"
          >
            {{ errors.triggerInfo.name | translate }}
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label id="raiseNotificationTriggerWhile">Trigger While</mat-label>
        <mat-select formControlName="triggerWhen">
          <mat-option
            id="raiseNotificationFillFormOption"
            value="While Filling form"
            >Filling the Form</mat-option
          >
          <mat-option
            id="raiseNotificationSubmitForm"
            value="While Submitting form"
            >Submitting the Form</mat-option
          >
        </mat-select>
        <div class="dis-flex h-30">
          <div
            *ngIf="processValidationErrors('triggerWhen')"
            class="invalid-feedback m-t-2"
            id="raiseNotificationTriggerWhen"
          >
            {{ errors.triggerWhen.name | translate }}
          </div>
        </div>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button
    id="raiseNotificationCancelBtn"
    mat-raised-button
    mat-dialog-close
    (click)="close()"
  >
    Cancel
  </button>
  <button
    id="raiseNotificationSubmitBtn"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    color="primary"
    [disabled]="notificationForm.invalid"
    (click)="submit()"
  >
    Okay
  </button>
</mat-dialog-actions>
