.yes-no-btn {
  float: right;
  margin-top: 10px;
}
.shift-change-modal {
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
  line-height: 19px;
  margin-bottom: 10px;
  margin-top: 0;
}
