<div class="list-view">
  <div class="main-container">
    <mat-tab-group
      animationDuration="0ms"
      [selectedIndex]="getSelectedIndex()"
      (selectedTabChange)="onTabChange($event)"
    >
      <mat-tab id="schedulerForm" [label]="'Forms' | translate">
        <app-lazy-load-container>
          <ng-template #body>
            <app-forms
              (selectTab)="selectTabHandler($event)"
              [users$]="users$"
            ></app-forms>
          </ng-template>
        </app-lazy-load-container>
      </mat-tab>
      <mat-tab id="schedulerInspections" [label]="'Inspections' | translate">
        <app-lazy-load-container>
          <ng-template #body>
            <app-inspection
              [users$]="users$"
              (selectTab)="selectTabHandler($event)"
            ></app-inspection>
          </ng-template>
        </app-lazy-load-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
