@import '../../../../scss/colors.scss';

.pages {
  overflow-y: auto;

  .page-header-embedded {
    border-radius: 10px !important;
    border: 1px solid $border-color !important;
    margin-top: 12px;
    padding: 5px 7px;
  }

  .page-header {
    background: $white;
    border-radius: 10px 10px 0px 0px;
    margin-top: 12px;
    padding: 5px 7px 5px 7px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: $border-color;

    .page-arrow {
      cursor: pointer;
      position: relative;
      top: 7px;
      left: 5px;
      margin-right: 7px;
      color: $black;
    }

    input[type='text']:focus {
      outline: none;
      caret-color: $black;
    }

    .form_page_name_input {
      border: none;
      background: none;
      font-size: 110%;
      font-weight: 500;
      color: $black;
      max-width: 50%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .page-name {
      font-size: 110%;
      font-weight: 500;
      color: $black;
    }

    .edit-icon {
      border: none;
      background-color: $white;

      .page-edit-icon {
        height: 15px;
        width: 14px;
        position: relative;
        left: -13px;
      }
    }

    .more-icon {
      border: none;
      background-color: $white;
      float: right;
    }
  }

  .add-page-btn {
    background: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-weight: 400;
    font-size: 80%;
    letter-spacing: 0.4px;
    color: $black;
    padding: 2px 5px;
    margin-top: 5px;

    .add-page-btn-icon {
      position: relative;
      top: 2px;
      height: 13px;
      width: 13px;
    }
  }

  .section-content {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: $border-color;
    background: $gray2;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
  }
}
.pageHeadRight {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 7px;
  .pageTaskCount {
    font-size: 100%;
  }
}
