<div class="pages" [formGroup]="pageForm">
  <div class="page-header" *ngIf="!isEmbeddedForm && !isTemplate">
    <mat-icon
      id="pageExpandIcon"
      (click)="toggleIsOpenState()"
      *ngIf="pageForm.get('isOpen').value === true"
      class="page-arrow"
    >
      expand_more
    </mat-icon>
    <mat-icon
      id="pageRightIcon"
      (click)="toggleIsOpenState()"
      *ngIf="pageForm.get('isOpen').value === false"
      class="page-arrow"
    >
      chevron_right
    </mat-icon>

    <a class="width-60">
      <input
        id="pageText"
        #pageName
        type="text"
        autofocus
        formControlName="name"
        [size]="getSize(pageForm.get('name').value)"
        class="form_page_name_input"
        placeholder="Untitled Page"
        autocomplete="off"
        (keyup.enter)="pageForm.get('name').disable()"
        (blur)="pageForm.get('name').disable()"
      />

      <button
        id="pageEditPage"
        mat-icon-button
        (click)="editPage()"
        class="edit-icon"
        *ngIf="pageForm.get('name').disabled === true"
      >
        <svg-icon
          id="pageEditIcon"
          icon="icon-edit-icon"
          class="page-edit-icon"
        ></svg-icon>
      </button>
    </a>

    <div class="pageHeadRight">
      <span id="pageQuestionCount" class="pageTaskCount">
        {{ pageQuestionsCount }}
      </span>
      <button
        id="pageMoreBtn"
        [matMenuTriggerFor]="pageMenu"
        class="more-icon"
        aria-label="More Options"
      >
        <mat-icon id="pageMoreIcon">more_horiz</mat-icon>
      </button>
      <mat-menu #pageMenu="matMenu">
        <button
          id="pageDeletePageBtn"
          mat-menu-item
          (click)="deletePage()"
          class="text-red"
        >
          <span id="pageDelete" translate="deletePage"></span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div
    *ngIf="pageForm.get('isOpen').value === true"
    class="section-content"
    [ngClass]="{ 'page-header-embedded': isEmbeddedForm || isTemplate }"
  >
    <ng-content></ng-content>
  </div>

  <button
    id="pageAddPageBtn"
    class="add-page-btn"
    (click)="addPage()"
    *ngIf="!isEmbeddedForm && !isTemplate"
  >
    <svg-icon
      id="pageAddPageIcon"
      icon="icon-add-page"
      class="add-page-btn-icon"
    ></svg-icon>
    {{ 'addPage' | translate }}
  </button>
</div>
