<div class="scheduler-list-view">
  <div class="main-container">
    <mat-tab-group
      animationDuration="0ms"
      [selectedIndex]="getSelectedIndex()"
      (selectedTabChange)="onTabChange($event)"
    >
      <mat-tab id="schedulerPlans" [label]="'plans' | translate">
        <app-lazy-load-container>
          <ng-template #body>
            <app-plans
              (selectTab)="selectTabHandler($event)"
              [users$]="users$"
              [userGroups$]="userGroups$"
            ></app-plans>
          </ng-template>
        </app-lazy-load-container>
      </mat-tab>
      <mat-tab id="schedulerRounds" [label]="'rounds' | translate">
        <app-lazy-load-container>
          <ng-template #body>
            <app-rounds
              (selectTab)="selectTabHandler($event)"
              [users$]="users$"
              [userGroups$]="userGroups$"
            ></app-rounds>
          </ng-template>
        </app-lazy-load-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
