<div class="user-modal" [formGroup]="userForm">
  <span *ngIf="dialogText === 'editUser'" class="title" translate
    >editUser</span
  >
  <span *ngIf="dialogText === 'addUser'" class="title" translate>addUser</span>
  <span class="dialog-close-btn" (click)="close()">
    <mat-icon class="dialog-close">close</mat-icon>
  </span>

  <div class="image-upload">
    <img [src]="profileImage" class="user-profile-img" />
    <label for="file-input">
      <img
        src="assets//user-management-icons/upload.svg"
        class="file-upload-icon"
      />
    </label>
    <input
      id="file-input"
      type="file"
      (change)="onFileChange($event.target?.files)"
      accept="image/*"
    />
  </div>

  <!-- <input
    type="file"
    (change)="onFileChange($event.target?.files)"
    accept="image/*"
  /> -->
  <div class="custom-mat-form-field-white-color" style="margin-top: 15px">
    <div class="input-container">
      <mat-form-field appearance="outline" class="m-b-10 first-name">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error
          *ngIf="userForm.controls.firstName.errors?.required"
          style="margin-top: 7px"
        >
          {{ 'fieldRequired' | translate: { name: 'firstName' | translate } }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="m-b-10 last-name">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error
          *ngIf="userForm.controls.lastName.errors?.required"
          style="margin-top: 7px"
        >
          {{
            'fieldRequired'
              | translate
                : {
                    name: 'lastName' | translate
                  }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field
      appearance="outline"
      class="input-container width-100 m-b-10"
    >
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        *ngIf="userForm.controls.title.errors?.required"
        style="margin-top: 7px"
      >
        {{
          'fieldRequired'
            | translate
              : {
                  name: 'title' | translate
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="userForm.controls.email.errors?.required"
        style="margin-top: 7px"
      >
        {{
          'fieldRequired'
            | translate
              : {
                  name: 'email' | translate
                }
        }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100 m-b-10">
      <mat-label>Roles</mat-label>
      <mat-select
        name="priority"
        multiple
        [compareWith]="objectComparisonFunction"
        formControlName="roles"
      >
        <mat-select-trigger>
          {{ roles.value[0]?.name }}
          <span
            *ngIf="roles.value?.length > 1"
            class="example-additional-selection"
          >
            (+{{ roles.value.length - 1 }}
            {{ roles.value?.length === 2 ? 'more' : 'more' }})
          </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let role of rolesInput; let i = index"
          [value]="role"
          style="padding-right: 0"
        >
          <span>{{ role.name }}</span>
          <mat-icon
            cdkOverlayOrigin
            (click)="getPermissions(role)"
            #trigger="cdkOverlayOrigin"
            class="material-icons-outlined"
            style="
              margin-top: 17px;
              float: right;
              color: #9e9e9e;
              font-size: 18px;
            "
            (click)="isfilterTooltipOpen[i] = true"
          >
            info_border
          </mat-icon>
          <ng-template
            cdkConnectedOverlay
            cdkConnectedOverlayPanelClass="custom-popover"
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            [cdkConnectedOverlayHasBackdrop]="true"
            [cdkConnectedOverlayOpen]="isfilterTooltipOpen[i]"
            [cdkConnectedOverlayOrigin]="trigger"
            cdkConnectedOverlayWidth="400px"
            (backdropClick)="isfilterTooltipOpen[i] = false"
          >
            <div class="permissions-modal">
              <div class="header custom-mat-form-field-gray-color">
                <span class="widgets-heading">Permisions</span>
                <button
                  (click)="isfilterTooltipOpen[i] = false"
                  class="permissions-cancel"
                >
                  <img src="../../../../../assets/img/svg/cancel-icon.svg" />
                </button>
                <app-permissions
                  [rolePermissions]="rolePermissions"
                ></app-permissions>
              </div>
              <div class="dashboard-widgets-list"></div>
            </div>
          </ng-template>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button
    *ngIf="dialogText === 'addUser'"
    mat-raised-button
    color="primary"
    class="add-user-btn"
    (click)="save()"
    type="submit"
    [disabled]="userForm.invalid"
    translate="addUserBtn"
  ></button>
  <button
    *ngIf="dialogText === 'editUser'"
    mat-raised-button
    color="primary"
    class="add-user-btn"
    (click)="save()"
    type="submit"
    [disabled]="userForm.invalid"
    translate="editUserBtn"
  ></button>
  <button
    mat-button
    class="cancel-btn"
    autofocus="false"
    mat-dialog-close
    translate="cancelBtn"
  ></button>
</div>
