<div class="ipad-view" *ngIf="!titleProvided">
  <div class="ipad-view-default-content">
    <svg-icon icon="icon-default-ipad-content"></svg-icon>
    <div class="clearfix"></div>
    <br /><br /><br />
    <p>Enter step details to preview them there</p>
  </div>
</div>
<div class="ipad-view" *ngIf="titleProvided && selectedID === 0">
  <div class="ipad-view-default-content">
    <div>
      <div class="main-carosuel-ipad">
        <div class="dis-flex status-bar-row">
          <div class="width-40 status-bar-left">9:41 Mon Jun 3</div>
          <div class="width-60 status-bar-right">
            <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
            <mat-icon class="status-bar-icons">wifi</mat-icon>
            <span class="status-bar-text">100%</span>
            <mat-icon class="status-bar-icons-battery">battery_full</mat-icon>
          </div>
        </div>
        <div class="dis-flex position header">
          <div class="width-30 header-position header-left">
            <svg-icon icon="icon-iphone-cancel" class="icons"></svg-icon>
          </div>
          <div class="width-40 header-title">
            Work Instructions
            <span *ngIf="tabs.length - 1 > 1" class="wi-step-cnt">
              {{ tabs.length - 1 }} Steps</span
            >
            <span *ngIf="tabs.length - 1 === 1" class="wi-step-cnt">
              {{ tabs.length - 1 }} Step</span
            >
          </div>
          <div class="width-30 header-position btn-pos">
            <svg-icon icon="icon-iphone-search" class="header-right-icons">
            </svg-icon>
          </div>
        </div>
        <div class="dis-flex header-tab-row">
          <div class="width-50">
            <h5 class="header-tab-title">
              {{ this.selectedInstruction.WI_Name }}
            </h5>
          </div>
          <div class="width-50 header-tab-btns">
            <button class="text-center float-right m-r-10 start-btn">
              <mat-icon class="header-tab-icon">play_arrow</mat-icon>
              <span class="header-tab-pos">Start</span>
            </button>
          </div>
        </div>
        <div class="scroll-header">
          <div class="dis-flex header-body">
            <div
              class="width-30 header-tab"
              *ngIf="selectedInstructionData.selectedTools.length"
            >
              <span class="header-tab-subtitle"
                >{{ selectedInstructionData.selectedTools.length }}
                {{
                  selectedInstructionData.selectedTools.length > 1
                    ? 'Tools'
                    : 'Tool'
                }}</span
              ><br />
              <hr class="header-tab-hr" />
              <div
                class="header-tab-data pr-0"
                *ngFor="
                  let tool of selectedInstructionData.selectedTools;
                  let i = index
                "
              >
                <mat-radio-group
                  class="header-tab-data-pos"
                  aria-label="Select an option"
                  *ngIf="selectedInstructionData.selectedTools.length !== 1"
                >
                  <mat-radio-button [value]="tool">
                    <a class="ellipsis-tools">
                      {{ tool }}
                    </a>
                  </mat-radio-button>
                </mat-radio-group>
                <div
                  class="header-tab-data-pos pb-2"
                  *ngIf="selectedInstructionData.selectedTools.length === 1"
                >
                  <a class="ellipsis-tools">
                    {{ tool }}
                  </a>
                </div>
                <hr
                  class="header-tab-hr-m0"
                  *ngIf="i !== selectedInstructionData.selectedTools.length - 1"
                />
              </div>
            </div>
            <div
              class="width-30 header-tab"
              *ngIf="selectedInstructionData.selectedSafetyKits.length"
            >
              <span class="header-tab-subtitle"
                >{{ selectedInstructionData.selectedSafetyKits.length }}
                {{
                  selectedInstructionData.selectedSafetyKits.length > 1
                    ? 'Safety & PPEs'
                    : 'Safety & PPE'
                }}</span
              ><br />
              <hr class="header-tab-hr" />
              <div
                class="header-tab-data pr-0"
                *ngFor="
                  let safetyKit of selectedInstructionData.selectedSafetyKits;
                  let i = index
                "
              >
                <mat-radio-group
                  class="header-tab-data-pos"
                  aria-label="Select an option"
                  *ngIf="
                    selectedInstructionData.selectedSafetyKits.length !== 1
                  "
                >
                  <mat-radio-button [value]="safetyKit">
                    <a class="ellipsis-tools">
                      {{ safetyKit }}
                    </a>
                  </mat-radio-button>
                </mat-radio-group>
                <div
                  class="header-tab-data-pos pb-2"
                  *ngIf="
                    selectedInstructionData.selectedSafetyKits.length === 1
                  "
                >
                  <a class="ellipsis-tools">
                    {{ safetyKit }}
                  </a>
                </div>
                <hr
                  class="header-tab-hr-m0"
                  *ngIf="
                    i !== selectedInstructionData.selectedSafetyKits.length - 1
                  "
                />
              </div>
            </div>
            <div
              class="width-30 header-tab"
              *ngIf="selectedInstructionData.selectedSpareParts.length"
            >
              <span class="header-tab-subtitle"
                >{{ selectedInstructionData.selectedSpareParts.length }}
                {{
                  selectedInstructionData.selectedSpareParts.length > 1
                    ? 'Spare Parts'
                    : 'Spare Part'
                }}</span
              ><br />
              <hr class="header-tab-hr" />
              <div
                class="header-tab-data pr-0"
                *ngFor="
                  let sparePart of selectedInstructionData.selectedSpareParts;
                  let i = index
                "
              >
                <mat-radio-group
                  class="header-tab-data-pos"
                  aria-label="Select an option"
                  *ngIf="
                    selectedInstructionData.selectedSpareParts.length !== 1
                  "
                >
                  <mat-radio-button [value]="sparePart">
                    <a class="ellipsis-tools">
                      {{ sparePart }}
                    </a>
                  </mat-radio-button>
                </mat-radio-group>
                <div
                  class="header-tab-data-pos pb-2"
                  *ngIf="
                    selectedInstructionData.selectedSpareParts.length === 1
                  "
                >
                  <a class="ellipsis-tools">
                    {{ sparePart }}
                  </a>
                </div>
                <hr
                  class="header-tab-hr-m0"
                  *ngIf="
                    i !== selectedInstructionData.selectedSpareParts.length - 1
                  "
                />
              </div>
            </div>
          </div>

          <div class="scroll-device-content m-0 p-0">
            <div *ngFor="let obj of tabs; let i = index">
              <ul class="preview-steps-title">
                <li class="text-left tabs-list">
                  <button *ngIf="i !== 0" class="button-increment float-left">
                    {{ i }}
                  </button>
                  <div class="width-100 dis-flex">
                    <div *ngIf="i !== 0" class="header-step-title width-90">
                      {{ obj }}
                    </div>
                    <div *ngIf="i !== 0" class="float-right">
                      <mat-icon>chevron_right</mat-icon>
                    </div>
                  </div>
                </li>
                <hr *ngIf="i !== 0" class="hr-line" />
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ipad-view" *ngIf="selectedID !== 0">
  <div class="ipad-view-default-content">
    <div class="width-100">
      <div class="main-carosuel-ipad">
        <div class="dis-flex status-bar-row">
          <div class="width-40 status-bar-left">9:41 Mon Jun 3</div>
          <div class="width-60 status-bar-right">
            <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
            <mat-icon class="status-bar-icons">wifi</mat-icon>
            <span class="status-bar-text">100%</span>
            <mat-icon class="status-bar-icons-battery">battery_full</mat-icon>
          </div>
        </div>
        <div class="dis-flex position header">
          <div class="width-30 header-position header-left">
            <svg-icon icon="icon-iphone-cancel" class="icons"></svg-icon>
          </div>
          <div class="width-40 header-title">
            Work Instructions
            <span class="wi-step-cnt">
              {{ selectedID }} of {{ tabs.length - 1 }} Steps</span
            >
          </div>
          <div class="width-30 header-position header-right">
            <svg-icon icon="icon-speaker" class="icons"></svg-icon>
            <svg-icon
              icon="icon-iphone-warning"
              class="icons warning-icon"
            ></svg-icon>
          </div>
        </div>
        <div class="width-100 position header-position">
          <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
        </div>
        <div class="dis-flex position">
          <div
            *ngIf="loadedImages.length > 0"
            class="width-40 col-carousel-ipad"
          >
            <app-carousel [slides]="loadedImages"></app-carousel>
          </div>
          <div *ngIf="loadedImages.length > 0" class="width-60">
            <div class="steps-data-ipad">
              <h3 class="editor-step-title">{{ this.currentStepTitle }}</h3>
              <div *ngIf="instructions.content">
                <div
                  [innerHTML]="instructions.content"
                  class="m-b-minus-10"
                ></div>
              </div>
              <div *ngIf="warnings.content">
                <h6 class="editor-main">
                  <span class="editor-header bg-red">
                    <mat-icon matSuffix class="editor-icons">warning</mat-icon>
                    <span class="editor-header-position">{{
                      warnings.header
                    }}</span>
                  </span>
                </h6>
                <div [innerHTML]="warnings.content" class="m-b-minus-10"></div>
              </div>
              <div *ngIf="hints.content">
                <h6 class="editor-main">
                  <span class="editor-header bg-green">
                    <mat-icon matSuffix class="editor-icons">help</mat-icon>
                    <span class="editor-header-position">{{
                      hints.header
                    }}</span>
                  </span>
                </h6>
                <div [innerHTML]="hints.content" class="m-b-minus-10"></div>
              </div>
              <div *ngIf="reactionPlan.content">
                <h6 class="editor-main">
                  <span class="editor-header bg-blue">
                    <mat-icon matSuffix class="editor-icons">build</mat-icon>
                    <span class="editor-header-position">{{
                      reactionPlan.header
                    }}</span>
                  </span>
                </h6>
                <div
                  [innerHTML]="reactionPlan.content"
                  class="m-b-minus-10"
                ></div>
              </div>
            </div>
          </div>
          <div *ngIf="loadedImages.length === 0" class="width-100">
            <div class="steps-data-ipad p-l-15">
              <h3 class="editor-step-title">{{ this.currentStepTitle }}</h3>
              <div *ngIf="instructions.content">
                <div
                  [innerHTML]="instructions.content"
                  class="m-b-minus-10"
                ></div>
              </div>
              <div *ngIf="warnings.content">
                <h6 class="editor-main">
                  <span class="editor-header bg-red">
                    <mat-icon matSuffix class="editor-icons">warning</mat-icon>
                    <span class="editor-header-position">{{
                      warnings.header
                    }}</span>
                  </span>
                </h6>
                <div [innerHTML]="warnings.content" class="m-b-minus-10"></div>
              </div>
              <div *ngIf="hints.content">
                <h6 class="editor-main">
                  <span class="editor-header bg-green">
                    <mat-icon matSuffix class="editor-icons">help</mat-icon>
                    <span class="editor-header-position">{{
                      hints.header
                    }}</span>
                  </span>
                </h6>
                <div [innerHTML]="hints.content" class="m-b-minus-10"></div>
              </div>
              <div *ngIf="reactionPlan.content">
                <h6 class="editor-main">
                  <span class="editor-header bg-blue">
                    <mat-icon matSuffix class="editor-icons">build</mat-icon>
                    <span class="editor-header-position">{{
                      reactionPlan.header
                    }}</span>
                  </span>
                </h6>
                <div
                  [innerHTML]="reactionPlan.content"
                  class="m-b-minus-10"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div class="dis-flex position ipad-thumbnail">
          <div class="width-90 col-thumbnail">
            <ul
              *ngFor="let img of loadedImages; let i = index"
              class="thumbnail"
            >
              <li class="thumbnail-list">
                <img
                  alt="Thumbnail"
                  class="thumbnail-img"
                  [hidden]="!getStepImage(img.src)"
                  [attr.src]="getStepImage(img.src)"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="dis-flex">
          <div class="width-30">
            <button class="prev-button-ipad">
              <mat-icon class="foot-button">keyboard_arrow_left</mat-icon>
              <span class="foot-btns-data">Previous</span>
            </button>
          </div>
          <div class="width-40">
            <button class="allsteps-button">
              <mat-icon class="foot-button">list</mat-icon>
              <span class="foot-btns-data all-steps">All Steps</span>
            </button>
          </div>
          <div class="width-30">
            <button class="next-button-ipad">
              <span class="foot-btns-data">Next</span>
              <mat-icon class="foot-button">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
