@import '../../../../../scss/colors.scss';

.mat-tab-body {
  padding: 10px !important;
}

.m-l-5 {
  margin-left: -5px;
}

.ipad-iphone-preview-block {
  overflow-y: scroll;
  height: calc(100vh - 175px);
  overflow-x: hidden;
}
.ipad-view {
  background: url('/assets/Images/iPad_big.png') top left no-repeat;
  background-size: 100% 100%;
  width: 98%;
  height: 465px;
  overflow: hidden;
  margin: 0 auto;
}
@media screen and (min-height: 700px) {
  .ipad-view {
    width: 640px;
    height: 480px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1200px) {
  .ipad-view {
    width: 98%;
    height: 400px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1100px) {
  .ipad-view {
    width: 98%;
    height: 370px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 990px) {
  .ipad-view {
    width: 98%;
    height: 400px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 765px) {
  .ipad-view {
    width: 98%;
    height: 470px;
    margin-bottom: 40px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 595px) {
  .ipad-view {
    width: 98%;
    height: 400px;
    margin-bottom: 40px;
    margin: 0 auto;
  }
}
.ipad-view-default-content {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  top: 50px;
  position: relative;
  height: 100%;
}
.ipad-content-image {
  position: relative;
  top: 65px;
}

.ipad-view-default-content p {
  color: $gray4;
  font-size: 120%;

  padding: 0 10px;
  text-align: center;
  margin: 0 10px;
}

.form-factors {
  padding: 10px 10px;
}

.mat-ink-bar {
  width: 100px !important;
}

.custom-row {
  clear: left;
  width: 100%;
  height: 100%;
  margin: 0;
  /* position: relative;
    top: -40px; */
  /* height: 75vh;
    overflow-y: scroll; */
}

@media only screen and (max-width: 765px) {
  .custom-row {
    overflow-y: scroll;
    height: calc(100vh - 215px);
  }
}
.custom-header-height {
  height: 55px;
}

.col-carousel-ipad {
  padding: 0 10px;
  height: 245px;
  position: relative;
  left: 45px;
}
@media only screen and (max-width: 1200px) {
  .col-carousel-ipad {
    padding: 0 10px;
    height: 190px;
    position: relative;
    left: 45px;
  }
}
@media only screen and (max-width: 1100px) {
  .col-carousel-ipad {
    padding: 0 10px;
    height: 170px;
    position: relative;
    left: 45px;
  }
}
@media only screen and (max-width: 990px) {
  .col-carousel-ipad {
    padding: 0 10px;
    height: 190px;
    position: relative;
    left: 45px;
  }
}
@media only screen and (max-width: 765px) {
  .col-carousel-ipad {
    padding: 0 10px;
    height: 240px;
    position: relative;
    left: 45px;
  }
}
@media only screen and (max-width: 595px) {
  .col-carousel-ipad {
    padding: 0 10px;
    height: 190px;
    position: relative;
    left: 45px;
  }
}
.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.025);
}

.control {
  border: none;
  background-color: transparent;
  outline: 0;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: $white;
  font-weight: bold;
  font-size: 100%;
  user-select: none;
  height: 100%;
  opacity: 80%;
}

.control:hover,
.control:focus {
  opacity: 1;
}
.control.next {
  right: 0;
}
.control.prev {
  left: 0;
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
}

.arrow.left {
  transform: rotate(45deg);
}
.arrow.right {
  transform: rotate(225deg);
}

.main-carosuel-ipad {
  background: $white;
  margin-top: -25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 430px;
  border-radius: 10px;
}
@media only screen and (max-width: 1200px) {
  .main-carosuel-ipad {
    background: $white;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 363px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .main-carosuel-ipad {
    background: $white;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 335px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .main-carosuel-ipad {
    background: $white;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 362px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 765px) {
  .main-carosuel-ipad {
    background: $white;
    margin-top: -28px;
    margin-left: 10px;
    margin-right: 10px;
    height: 425px;
    padding-left: -17px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 595px) {
  .main-carosuel-ipad {
    background: $white;
    margin-top: -31px;
    margin-left: 2px;
    margin-right: 1px;
    height: 362px;
    padding-left: -17px;
    border-radius: 10px;
  }
}
.position {
  margin-left: -40px;
  margin-right: -30px;
}
.col-thumbnail {
  padding: 10px;
  position: relative;
  left: 15px;
  height: 65px;
}
@media only screen and (max-width: 1200px) {
  .col-thumbnail {
    padding: 10px;
    position: relative;
    left: 15px;
    height: 50px;
  }
}
@media only screen and (max-width: 765px) {
  .col-thumbnail {
    padding: 10px;
    position: relative;
    left: 15px;
    height: 65px;
  }
}
@media only screen and (max-width: 595px) {
  .col-thumbnail {
    padding: 10px;
    position: relative;
    left: 15px;
    height: 70px;
  }
}

.thumbnail {
  margin: 0;
  padding: 0;
  width: 100%;
}
.ipad-thumbnail {
  margin-left: -22px;
}
.thumbnail-list {
  display: inline-block;
  float: left;
  padding: 0px 10px 0px 0px;
}
.thumbnail-img {
  width: 70px;
  height: 70px;
  border-radius: 0.5em;
  position: relative;
  left: 10px;
}
@media only screen and (max-width: 1200px) {
  .thumbnail-img {
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    position: relative;
    left: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .thumbnail-img {
    width: 45px;
    height: 45px;
    border-radius: 0.5em;
    position: relative;
    left: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .thumbnail-img {
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    position: relative;
    left: 10px;
  }
}
@media only screen and (max-width: 765px) {
  .thumbnail-img {
    width: 65px;
    height: 65px;
    border-radius: 0.5em;
    position: relative;
    left: 10px;
  }
}

@media only screen and (max-width: 595px) {
  .thumbnail-img {
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    position: relative;
    left: 10px;
  }
}

.arrow-right {
  position: absolute;
  top: 0px;
}
.header {
  position: relative;
  top: -5px;
  flex-wrap: nowrap;
  padding: 0 15px;
}

.header-left {
  text-align: left;
  position: relative;
  left: 35px;
}
.header-right {
  text-align: right;
  right: 35px;
}
.header-right-icons {
  position: relative;
  left: -5px;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.header-position {
  position: relative;
  top: -10px;
}
.header-title {
  font-size: 100%;
  font-weight: 600;
  margin-top: -7px;
}
.close-icon-position {
  position: relative;
  left: 40px;
  float: left;
}

.scroll-header {
  overflow-y: scroll;
  height: 310px;
  overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
  .scroll-header {
    overflow-y: scroll;
    height: 262px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1100px) {
  .scroll-header {
    overflow-y: scroll;
    height: 235px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 990px) {
  .scroll-header {
    overflow-y: scroll;
    height: 260px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 765px) {
  .scroll-header {
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 595px) {
  .scroll-header {
    overflow-y: scroll;
    height: 230px;
    overflow-x: hidden;
  }
}

.header-body {
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 7px;
}
.wi-step-cnt {
  font-weight: 500;
  margin-left: 5px;
}
.preview-steps-title {
  padding-top: 5px;
  position: relative;
  top: -40px;
  margin: 0 10px 0 12px;
  padding-left: 0;
  list-style: none;
}

.preview-steps-title li {
  height: 50px;
}

.icon-background {
  background: $gray41-gray;
  color: $blue11;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  border-radius: 50%;
  background: $gray41-gray;
  color: $blue11;
  width: 30px;
  height: 30px;
  padding: 7px 0 0px 0px;
  margin-right: 10px;
  font-size: 120%;
}
.icons {
  width: 25px;
  height: 25px;
}
.warning-icon {
  position: relative;
  left: 5px;
}
.prev-button-ipad {
  padding-right: 12px;
  border: none;
  background-color: $gray41-gray;
  color: $blue11;
  border-radius: 5px;
  white-space: nowrap;
  float: left;
  margin-left: 15px;
  height: 31px;
  cursor: default;
}

.allsteps-button {
  padding: 0px 18px 0px 10px;
  border: none;
  background-color: $gray41-gray;
  color: $blue11;
  border-radius: 5px;
  white-space: nowrap;
  height: 30px;
  cursor: default;
}
.next-button-ipad {
  padding-left: 12px;
  border: none;
  background-color: $blue11;
  color: $white;
  border-radius: 5px;
  white-space: nowrap;
  float: right;
  margin-right: 15px;
  height: 31px;
  cursor: default;
}

.foot-btns-data {
  position: relative;
  top: -4px;
}
.all-steps {
  position: relative;
  left: 8px;
}
.foot-button {
  position: relative;
  top: 3px;
  left: -4px;
  width: 15px;
}
.editor-main {
  text-align: left;
  padding-left: 5px;
  position: relative;
  top: 7px;
  margin: 0;
}
.editor-icons {
  position: relative;
  top: 3px;
  font-size: 100%;
}
.editor-header {
  color: $white;
  padding: 3px;
  border-radius: 7px;
}
.editor-step-title {
  text-align: left;
  padding-left: 10px;
  font-size: 160%;
  font-weight: 600;

  margin-bottom: 3px;
}

.iPhone-editor-step-title {
  text-align: left;
  padding-left: 80px;
  font-size: 160%;
  font-weight: 600;

  margin-bottom: 3px;
}

.editor-listvalues .bullet-icon {
  font-size: 80%;
  padding: 0;
  width: auto;
  position: relative;
  top: 2px;
  height: 0;
}
.editor-header-position {
  position: relative;
  left: -7px;
  top: -1px;
  font-size: 85%;
  font-weight: 500;
}

.steps-data-ipad {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 245px;
  margin-right: 35px;
  margin-left: 35px;
}
@media only screen and (max-width: 1200px) {
  .steps-data-ipad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 190px;
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media only screen and (max-width: 1100px) {
  .steps-data-ipad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 170px;
    margin-right: 35px;
    margin-left: 35px;
  }
}
@media only screen and (max-width: 990px) {
  .steps-data-ipad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 190px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 765px) {
  .steps-data-ipad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 240px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 595px) {
  .steps-data-ipad {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 190px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.pos {
  float: right;
  position: relative;
  right: 15px;
}
.status-bar-row {
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.status-bar-left {
  text-align: left;
  font-size: 60%;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 2px;
}

.status-bar-right {
  text-align: right;
  margin-left: -20px;
}

.iphone-status-bar-right {
  text-align: right;
}

.status-bar-icons {
  font-size: 80%;
  font-weight: bolder;
  width: 10px;
  margin-right: 3px;
}

.status-bar-icons-battery {
  transform: rotate(90deg);
  font-size: 90%;
  font-weight: bolder;
  width: 15px;
  height: 10px;
  position: relative;
  top: 1px;
}

.status-bar-text {
  font-size: 50%;
  font-weight: bolder;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.btn-outline-blue:disabled {
  color: $gray20 !important;
  border: 1px solid $gray20 !important;
}

.start-with-voice-btn {
  color: $blue19;
  background: $gray41-gray;
  display: inline-flex;
  border: none;
  padding: 4px 10px 2px 23px;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.start-btn {
  background-color: $blue11;
  color: $white;
  border: none;
  padding: 3px 0px 0px 0px;
  border-radius: 7px;
  text-align: center;
  margin-left: 4px;
  white-space: nowrap;
  cursor: default;
}
.header-tab-row {
  padding: 0 5px 0 15px;
}

.header-tab-title {
  text-align: left;
  font-weight: bold;
  margin: 0;
  font-size: 130%;
}
.header-tab {
  background-color: $gray41-gray;
  border-radius: 5px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  margin-bottom: 1rem;
  align-self: start;
  padding: 10px 0;
}
.header-tab-btns {
  text-align: right;
  float: right;
  position: relative;
  right: -5px;
}
.header-tab-icon {
  font-size: 140%;
  margin: 2px 5px 0px 0px;
  width: 20px;
}
.header-tab-pos {
  position: relative;
  top: -4px;
  left: -5px;
}

.header-tab-subtitle {
  font-size: 100%;
  font-weight: 600;
  text-align: left;
  color: $black;
  float: left;
  position: relative;
  top: 3px;
  left: 15px;
}

.header-tab-data {
  font-size: 80%;
  text-align: left;
  color: $gray27;
  pointer-events: none;
  padding: 0 10px;
}

.header-tab-data-pos {
  position: relative;
  top: 3px;
}

.header-tab-hr {
  margin: 6px 0px 0px 0px;
  border: 0.5px solid $gray33;
  height: 0px;
}

.header-tab-hr-m0 {
  margin-top: 5px;
  border: 0.5px solid $gray33;
  height: 0px;
}

.button-increment {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $gray41-gray;
  border: none;
  font-size: 80%;
  position: relative;
  top: 5px;
  cursor: default;
}

.header-step-title {
  font-style: normal;
  font-weight: bold;
  font-size: 90%;
  letter-spacing: 0.8px;
  color: $gray11;
  padding-left: 2px;
  margin-left: 15px;
  line-height: 2em;
}

.btn-pos {
  text-align: right;
  margin-left: -20px;
}

.footer-line {
  margin-bottom: 7px;
  margin-top: 7px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 1em 0 !important;
}

.ellipsis-tools {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: $black;
}

.tabs-list {
  text-align: left;
  display: flex;
  height: 25px;
}

.hr-line {
  margin-left: 30px;
  border: 1px solid $gray44;
}
