<div>
  <div class="form-toolbar">
    <div class="width-10">
      <button id="backBtn" class="back-btn">
        <svg-icon
          id="stepperHeaderBackIcon"
          id="backBtnIcon"
          icon="icon-back-arrow"
          class="back-arrow"
        ></svg-icon>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-header" *ngIf="(isLoading$ | async) === false">
      <h2 class="card-title">{{ globalData.header }}</h2>
      <div class="card-buttons" style="width: 100%">
        <!-- <button class="btn" mat-raised-button></button> -->
        <button class="btn" mat-raised-button color="primary">Publish</button>
        <!-- Add more buttons as needed -->
      </div>
    </div>
    <div class="card-body">
      <!-- Existing content here -->
      <div class="container" *ngIf="(isLoading$ | async) === false">
        <div class="left-panel">
          <!-- Existing left panel content -->
          <ul class="step-list">
            <li
              class="step-item"
              *ngFor="let step of stepsInstructionList; index as i"
              [ngClass]="{ 'current-step': currentStep.index === i + 1 }"
              (click)="setCurrentStep(step)"
            >
              <span class="step-badge">{{ i + 1 }}</span>
              {{ step.STEP }}
            </li>
          </ul>
        </div>
        <div class="vertical-separator"></div>
        <div class="right-panel" *ngIf="currentStep">
          <div class="step-header">
            {{ currentStep.index }} {{ currentStep.STEP }}
          </div>
          <hr />
          <div class="data-row">
            <div class="image-column">
              <img
                src="{{
                  currentStep.IMAGE
                    ? currentStep.IMAGE
                    : 'assets/Images/animation_llxcnda6_small.gif'
                }}"
                alt="Step Image"
              />
            </div>
            <div class="info-container">
              <div class="tag-container">
                <h4>Instruction</h4>
                <div class="instruction-column">
                  {{ currentStep?.INSTRUCTIONS }}
                </div>
              </div>
              <div class="tag-container">
                <h4>Hint</h4>
                <div class="hint-column">
                  {{ currentStep?.HINTS }}
                </div>
              </div>
              <div class="tag-container">
                <h4>Warning</h4>
                <div class="warning-column">
                  {{ currentStep?.WARNINGS }}
                </div>
              </div>
              <div class="tag-container">
                <h4>Reaction Plan</h4>
                <div class="plan-column">
                  {{ currentStep?.REACTION_PLAN }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-loading" *ngIf="isLoading$ | async">
        <img src="assets/Images/loading.gif" alt="Loading Image" />
      </div>
    </div>
  </div>
  <!-- <div class="container" *ngIf="!(isLoading$ | async)">
    <div class="header">
      <div class="header-title">{{ globalData.header }}</div>
      <div class="header-actions">
        <span>{{ status }}</span>
      </div>
    </div>
    <div class="left-panel">
      <ul class="step-list">
        <li
          class="step-item"
          *ngFor="let step of stepsInstructionList; index as i"
          [ngClass]="{ 'current-step': currentStep.index === i + 1 }"
          (click)="setCurrentStep(step)"
        >
          <span class="step-badge">{{ i + 1 }}</span>
          {{ step.STEP }}
        </li>
      </ul>
    </div>
    <div class="vertical-separator"></div>
    <div class="right-panel" *ngIf="currentStep">
      <div class="step-header">
        {{ currentStep.index }} {{ currentStep.STEP }}
      </div>
      <hr />
      <div class="data-row">
        <div class="image-column">
          <img
            src="{{
              currentStep.IMAGE
                ? currentStep.IMAGE
                : 'assets/Images/animation_llxcnda6_small.gif'
            }}"
            alt="Step Image"
          />
        </div>
        <div class="info-column">
          {{ currentStep.INSTRUCTIONS }}
        </div>
      </div>
    </div>
  </div> -->
</div>
