@import '../../../../scss/colors.scss';
.form-header-modal {
  margin-top: 30px;

  .form-content {
    height: calc(100vh - 75px);

    .form-detials {
      background-color: $white;
      width: 600px;
      border-radius: 5px;
      margin: 15px auto;
      padding: 49px;
      overflow-y: auto;
      max-height: calc(100vh - 220px);

      .heading {
        font-size: 130%;
        font-weight: 500;
        color: $black;
        margin: 5px;
      }

      .sub-heading {
        font-weight: 400;
        font-size: 110%;
        color: $text-color;
        margin: 10px 5px;
      }

      .radio-btns {
        position: relative;
        top: 15px;
        left: 7px;
      }

      ::ng-deep
        .mat-radio-button.mat-accent.mat-radio-checked
        .mat-radio-outer-circle {
        border-color: $blue-main;
      }

      ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: $blue-main;
      }

      ::ng-deep .mat-ripple-element {
        display: none !important;
      }

      ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
        border-color: $disabled-color !important;
      }

      ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
        background-color: $disabled-color !important;
      }

      .radio-btn-text {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        position: relative;
        left: 10px;
      }

      .radio-sub-text {
        font-weight: 400;
        font-size: 90%;
        color: $text-color;
        opacity: 0.8;
        margin: 3px 0px 5px 35px;
      }

      .form-name-description {
        font-weight: 500;
        font-size: 110%;
        color: $black;
        margin: 20px 5px 0px 5px;
      }

      .form-name {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 6px 0px 13px 0 !important;
        }
        .error-fields {
          margin-top: 14px;
        }
      }

      .tags {
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 17px 0 0 0 !important;
        }
      }

      .tags-mat-chips {
        margin: 5px 5px !important;
      }

      .buttons {
        padding: 15px 0 15px 0;
        margin-right: 0;
        width: 100%;
      }

      .next-btn {
        float: right;
        margin-top: 38px;
        height: 29px;
        font-weight: normal;
        line-height: normal;
      }

      .skip-btn {
        float: right;
        margin-right: 15px;
        margin-top: 38px;
        color: $radio-button-checked;
        height: 29px;
        font-weight: normal;
        line-height: normal;
        border: 1px solid $blue-main;
      }
      .horizontal-line {
        border: 1px solid $border-color;
        margin: 20px 0;
      }
    }
  }
  ::ng-deep .mat-form-field {
    margin: 0.25em 0;
    margin-top: 8px;
  }
  ::ng-deep .display-toolbar .ql-toolbar.ql-snow {
    display: block;
    margin-left: 140px;
  }
  .close-icon {
    width: 20px;
    height: 30px;
  }
  .value-field {
    margin-left: 18px;
  }
}

.form-toolbar {
  height: 65px;
  background-color: $white;
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .back-btn {
    border: none;
    background-color: transparent;

    .back-btn-text {
      font-weight: 700;
      font-size: 120%;
      letter-spacing: 0.15px;
      color: $text-color;
      margin-left: 10px;
      position: relative;
      top: -2px;
    }

    .back-arrow {
      height: 15px;
      width: 15px;
      position: relative;
      top: 1px;
    }
  }
  .header-buttons {
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
  }
}

.container {
  display: flex;
  align-items: stretch;
  padding: 8px;
  border-radius: 4px;
  height: 100vh;
  width: 100%;
}

.container-loading {
  display: flex;
  align-items: stretch;
  padding: 8px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.left-panel {
  flex: 1;
  border-right: 1px solid #ccc;
}

.step-list {
  list-style-type: none;
  padding: 0;
}

.step-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 95%;
  padding: 8px;
  border-radius: 8px;
}

.step-item:hover {
  cursor: pointer;
}

.step-badge {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #1351d8;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.vertical-separator {
  width: 1px;
  background-color: #ccc;
}

.right-panel {
  flex: 3;
  padding: 20px;
}

.step-header {
  font-size: 18px;
  font-weight: bold;
}

.data-row {
  display: flex;
  margin-top: 20px;
}

.image-column {
  height: auto;
  width: 30%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.info-column {
  width: 100%;
  display: block;
}
.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-column,
.info-column {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.current-step {
  background-color: #dbe6ff;
  color: #1351d8;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.card-title {
  font-weight: bold;
}

.card-buttons {
  display: flex;
  gap: 10px;
  position: relative;
}

.btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: -20px;
}

.btn:hover {
  background-color: #258cd1;
}

.instruction-column {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 4px;
  border-width: 2px;
  padding: 4px;
  border: solid;
  border-color: cadetblue;
  margin-top: 5px;
}

.hint-column {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 4px;
  border-width: 2px;
  padding: 4px;
  border: solid;
  border-color: green;
  margin-top: 5px;
}

.warning-column {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 4px;
  border-width: 2px;
  padding: 4px;
  border: solid;
  border-color: red;
  margin-top: 5px;
}

.plan-column {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: solid;
  border-width: 2px;
  padding: 4px;
  margin-top: 5px;
  border-color: blue;
}

.tag-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

/* Existing styles */
