.create-form-main {
  overflow: hidden;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 12px 0;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    position: relative;
    top: 5px;
  }
}

.left-panel {
  width: 70%;
}

.right-panel {
  width: 30%;
}

@media only screen and (max-width: 5700px) {
  .left-panel {
    width: 90%;
  }
  .right-panel {
    width: 10%;
  }
}

@media only screen and (max-width: 4098px) {
  .left-panel {
    width: 90%;
  }
  .right-panel {
    width: 10%;
  }
}

@media only screen and (max-width: 2800px) {
  .left-panel {
    width: 85%;
  }
  .right-panel {
    width: 15%;
  }
}

@media only screen and (max-width: 2049px) {
  .left-panel {
    width: 80%;
  }
  .right-panel {
    width: 20%;
  }
}

@media only screen and (max-width: 1920px) {
  .left-panel {
    width: 70%;
  }
  .right-panel {
    width: 30%;
  }
}

@media only screen and (max-width: 1260px) {
  .left-panel {
    width: 70%;
  }
  .right-panel {
    width: 30%;
  }
}

@media only screen and (max-width: 1100px) {
  .left-panel {
    width: 65%;
  }
  .right-panel {
    width: 35%;
  }
}

input[type='text']:focus {
  outline: none;
  caret-color: #007aff;
}

select:focus {
  outline: none;
}

.form_title_input {
  border: none;
  cursor: pointer;
  width: 100%;
  background: none;
  font-size: 140%;
  font-weight: 500;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.form_description_input {
  border: none;
  cursor: pointer;
  width: 100%;
  background: none;
  font-size: 100%;
  font-weight: 500;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.changes-text {
  margin-top: 23px;
  color: #76767b;
  font-size: 100%;
}

.publish {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  position: relative;
  left: 3px;
  /* top: 2px; */
}

.import-btn {
  width: 160px;
  height: 36px;
  border: 1px solid #1351d8;
  color: #1351d8;
  margin: 12px 0 0 12px;
}

.publish-btn {
  width: 160px;
  height: 36px;
  background-color: #1351d8;
  border-color: #1351d8;
  margin: 12px 12px 0 12px;
}

.publish-btn-icon {
  position: relative;
  top: 2px;
  left: -3px;
}

.section-arrow {
  cursor: pointer;
  position: relative;
  top: 7px;
  left: 5px;
  margin-right: 7px;
  color: #1866b4;
}

.form_section_name_input {
  border: none;
  background: none;
  font-size: 110%;
  font-weight: 500;
  color: #000000;
}

.section-name {
  font-size: 110%;
  font-weight: 500;
  color: #000000;
}

.sub-headings {
  letter-spacing: 0.419185px;
  color: #76767b;
  font-size: 90%;
}

.six-dots {
  position: relative;
  top: 3px;
  cursor: move;
}

.response-type-modal {
  height: 500px;
  width: 500px;
  background: white;
  border: 1px solid #e0e0e0;
  position: fixed;
  top: 15%;
  left: 40%;

  h1 {
    padding: 10px 10px 0 10px;
  }

  .content {
    height: 430px;
    overflow-y: scroll;
    padding: 0 15px;
  }

  .response-field-types {
    padding: 10px 0 5px 10px;
    margin: 5px 0;
    cursor: pointer;
  }

  .response-field-types:hover,
  .active {
    background-color: #ebedfe;
  }
}

.response-type-btn {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 40px;
  margin-top: 7px;
  width: 90%;
  text-align: left;
  padding-left: 12px;
  padding-top: 10px;

  .response-type-chips {
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;

    ::ng-deep .mat-chip-list-wrapper {
      flex-wrap: nowrap;
    }
  }
}

.delete-icon {
  background: white;
  height: 28px;
  position: relative;
  left: 40px;
  padding: 10px;
  top: -60px;
  cursor: pointer;
  width: 20px;
}

.more-icon {
  background: none;
  border: none;
  float: right;
  margin-top: 5px;
  margin-right: -5px;
  .more-icon-no-color {
    color: #757575;
  }
}

.insert-image {
  height: 40px;
  width: 60px;
}

.required-input {
  position: relative;
  top: 1px;
}

.response-type-icons {
  width: 15px;
  height: 15px;
}

.chip-list {
  width: 90%;
  ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin: 22px 0px 5px 4px !important;
  }
}

#app-customizer {
  position: fixed;
  bottom: 0px;
  top: 0;
  right: 0;
  width: 370px;
  z-index: 999;

  .title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  .mat-card {
    margin: 0;
    border-radius: 0;
    height: 100%;
    padding: 0;
  }
  .mat-card-content {
    padding: 15px;
    max-height: calc(100vh - 80px);
  }
  .slider-heading {
    font-size: 110%;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px;
  }
  .slider-inputs {
    width: 100px;
    height: 35px;
    border: 1px solid #bac1c4;
    border-radius: 4px;
  }
}

#import-form-customizer {
  position: fixed;
  bottom: 0px;
  top: 0;
  right: 0;
  width: 415px;
  z-index: 999;

  .slider-heading {
    padding: 15px 15px 5px 15px;
    font-size: 80%;
  }

  .mat-card {
    margin: 0;
    border-radius: 0;
    height: 100%;
    padding: 0;
  }
  .mat-card-content {
    padding: 0 15px;
    max-height: 82vh;
    overflow-y: auto;
  }

  .section-div {
    background: rgba(61, 90, 254, 0.15);
    border-radius: 8px 8px 0px 0px;
    height: 30px;
    padding: 15px 0 0 12px;
    margin: 5px 0;
  }

  .questions {
    padding-left: 12px;
  }

  ::ng-deep .mat-checkbox-layout {
    white-space: pre-wrap;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.empty-section {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
  font-style: italic;
  font-weight: 100;
}

.add-logic-row {
  display: flex;
  align-items: center;
  align-content: center;
  // margin-left: 30px;

  .add-logic-btn {
    color: #1351d8;
    padding: 2px 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    .icon {
      font-size: 150%;
      height: auto;
      transform: rotate(305deg);
      color: #3d5afe;
      margin-top: -4px;
      margin-right: -5px;
    }
  }
  .vert-divider {
    height: 25px;
    margin: 0px 15px;
  }
}

.logicBuilder {
  // height: 20px;
  // background: #efecec;
  // margin-left: 30px;
  // padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  // margin-left: 30px;
}

.height {
  height: 0;
}

.quick-response {
  ::ng-deep .mat-button-wrapper {
    display: flex;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
  }

  ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin: 12px 5px 5px 5px !important;
  }
}
