<div class="create-form-main" [formGroup]="createForm">
  <div
    class="dis-flex"
    style="
      justify-content: space-between;
      background-color: #ffffff;
      border-bottom: 1px solid #e5e5e5;
    "
  >
    <div>
      <a class="form-title">
        <input
          type="text"
          formControlName="name"
          class="form_title_input"
          placeholder="Untitled Form"
          autofocus="true"
          autocomplete="off"
          (blur)="setFormTitle()"
        />
      </a>
      <a class="form-description">
        <input
          type="text"
          formControlName="description"
          class="form_description_input"
          placeholder="Add Form description"
          autofocus="true"
          autocomplete="off"
        />
      </a>
    </div>
    <div class="dis-flex">
      <p *ngIf="status$ | async as status" style="margin-top: 22px">
        {{ status }}
      </p>
      <button
        (click)="publishForm()"
        mat-raised-button
        class="b-r-8 publish-btn"
        [disabled]="
          disableFormFields ||
          publishInProgress ||
          createForm.get('isPublishedTillSave').value
        "
      >
        <span>
          <img
            alt="upload"
            src="assets/work-instructions-icons/svg/upload-white.png"
            class="publish-btn-icon"
          />
          <span class="publish">Publish</span>
        </span>
      </button>
    </div>
  </div>
  <div class="dis-flex">
    <div formArrayName="sections" class="width-70" cdkDropListGroup>
      <div *ngFor="let section of getSections(createForm); let i = index">
        <div style="padding: 10px" [formGroupName]="i">
          <input type="hidden" formControlName="position" [ngModel]="i + 1" />
          <div
            style="
              background: rgba(61, 90, 254, 0.15);
              border-radius: 8px 8px 0px 0px;
              height: 35px;
              padding: 7px;
            "
          >
            <mat-icon
              (click)="toggleOpenState(i)"
              *ngIf="isOpenState[i + 1] === true"
              class="section-arrow"
            >
              keyboard_arrow_down
            </mat-icon>
            <mat-icon
              (click)="toggleOpenState(i)"
              *ngIf="isOpenState[i + 1] === false"
              class="section-arrow"
            >
              keyboard_arrow_right
            </mat-icon>

            <span>
              <input
                type="text"
                formControlName="name"
                class="form_section_name_input"
                placeholder="Untitled Section"
                autofocus="true"
                autocomplete="off"
                (keyup.enter)="section.get('name').disable()"
              />
              <button
                mat-icon-button
                [disabled]="disableFormFields"
                (click)="editSection(section)"
                style="width: 13px; margin-left: 5px"
                *ngIf="section.get('name').disabled === true"
              >
                <img
                  src="assets/rdf-forms-icons/edit-icon.svg"
                  alt="edit-icon"
                />
              </button>
            </span>

            <img
              src="assets/rdf-forms-icons/more.svg"
              alt="more-icon"
              style="float: right; margin-top: 17px; margin-right: 12px"
            />

            <button
              mat-icon-button
              matTooltip="Add Question"
              matTooltipPosition="right"
              [disabled]="disableFormFields"
              (click)="addQuestion(i)"
              style="position: relative; left: 80px; float: right"
            >
              <img
                src="assets/rdf-forms-icons/add-questions.svg"
                alt="add-questions"
              />
            </button>

            <button
              mat-icon-button
              matTooltip="Add Section"
              matTooltipPosition="right"
              [disabled]="disableFormFields"
              (click)="addSection(i)"
              style="position: relative; left: 118px; top: 45px; float: right"
            >
              <img
                src="assets/rdf-forms-icons/add-sections.svg"
                alt="add-sections"
              />
            </button>
          </div>
          <div
            *ngIf="isOpenState[i + 1] === true"
            style="background-color: #ffffff; padding-bottom: 10px"
            formArrayName="questions"
          >
            <div class="dis-flex">
              <div class="width-70">
                <p class="sub-headings m-l-30">Questions</p>
              </div>
              <div class="width-30">
                <p class="sub-headings">Response Type</p>
              </div>
            </div>
            <div
              cdkDrop
              cdkDropList
              (cdkDropListDropped)="drop($event)"
              [cdkDropListData]="getQuestions(section)"
              [id]="section.id"
            >
              <div
                cdkDrag
                *ngFor="let question of getQuestions(section); let j = index"
              >
                <div
                  [formGroupName]="j"
                  (click)="
                    setShowAndHideContents(
                      getSections(createForm).length,
                      getQuestions(section).length
                    );
                    showAndHideContent[i][j] = true
                  "
                >
                  <div class="dis-flex">
                    <input
                      type="hidden"
                      formControlName="position"
                      [ngModel]="j + 1"
                    />
                    <div class="width-70">
                      <img
                        cdkDragHandle
                        src="assets/rdf-forms-icons/six-dots.svg"
                        alt="six-dots"
                        class="m-l-10 six-dots"
                      />
                      <mat-form-field
                        appearance="outline"
                        class="width-90"
                        style="margin-left: 10px"
                      >
                        <input
                          autocomplete="off"
                          type="text"
                          matInput
                          formControlName="name"
                          placeholder="Type Question"
                        />
                        <!-- <quill-material formControlName="name" placeholder="">
                    </quill-material> -->
                      </mat-form-field>
                    </div>

                    <div class="width-30">
                      <mat-form-field appearance="outline">
                        <mat-select
                          placeholder="Select Response"
                          formControlName="fieldType"
                        >
                          <mat-select-trigger>
                            <img
                              [src]="
                                getFieldTypeImage(
                                  question.controls.fieldType.value
                                )
                              "
                            />&nbsp;
                            <span style="position: relative; top: -2px">{{
                              getFieldTypeDescription(
                                question.controls.fieldType.value
                              )
                            }}</span>
                          </mat-select-trigger>
                          <mat-option
                            *ngFor="let fieldType of fieldTypes"
                            [value]="fieldType.type"
                            (click)="
                              isCustomizerOpen = true;
                              setFieldType = fieldType.type
                            "
                          >
                            <img
                              [src]="getFieldTypeImage(fieldType.type)"
                            />&nbsp;
                            <span style="position: relative; top: -2px">
                              {{ fieldType.description }}
                            </span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div
                    id="app-customizer"
                    *ngIf="isCustomizerOpen && setFieldType === 'RT'"
                  >
                    <mat-card class="p-0">
                      <mat-card-title class="m-0 light-gray">
                        <div class="slider-heading">Slider</div>
                      </mat-card-title>
                      <mat-card-content>
                        <div class="dis-flex">
                          <div class="width-50">
                            <label for="min">From</label><br />
                            <input
                              id="min"
                              type="number"
                              class="slider-inputs"
                              [(ngModel)]="sliderOptions.min"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </div>
                          <div class="width-50" style="text-align: end">
                            <label for="max">To</label><br />
                            <input
                              id="max"
                              type="number"
                              class="slider-inputs"
                              [(ngModel)]="sliderOptions.max"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </div>
                        </div>
                        <mat-slider
                          [max]="sliderOptions.max"
                          [min]="sliderOptions.min"
                          [step]="sliderOptions.increment"
                          class="width-100"
                        >
                        </mat-slider>
                        <div>
                          <label for="incre">Increment</label>
                          <br />
                          <input
                            id="incre"
                            type="number"
                            class="slider-inputs"
                            [(ngModel)]="sliderOptions.increment"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </div>
                        <br />
                        <br />
                        <button
                          mat-raised-button
                          color="primary"
                          style="width: 48%; margin-right: 10px"
                          (click)="applySliderOptions(sliderOptions, question)"
                        >
                          Apply
                        </button>
                        <button
                          mat-raised-button
                          color="primary"
                          style="width: 48%"
                          (click)="isCustomizerOpen = false"
                        >
                          Cancel
                        </button>
                      </mat-card-content>
                    </mat-card>
                  </div>

                  <div
                    *ngIf="showAndHideContent[i][j] === true"
                    style="
                      background: #f3f3f3;
                      border-radius: 7px;
                      padding: 5px;
                      padding: 10px;
                      margin: 0 50px;
                    "
                  >
                    <input
                      type="checkbox"
                      id="required"
                      name="required"
                      formControlName="required"
                    />&nbsp;
                    <label for="required">Required</label>

                    <span
                      *ngIf="question.controls.fieldType.value === 'LF'"
                      style="margin-left: 50px"
                    >
                      <label for="defaultValue">Default Value</label
                      >&nbsp;&nbsp;
                      <input
                        type="text"
                        id="defaultValue"
                        formControlName="value"
                        style="border: 1px solid #cccccc; border-radius: 3px"
                      />
                    </span>

                    <span
                      *ngIf="question.controls.fieldType.value === 'TF'"
                      style="margin-left: 50px"
                    >
                      <label>Format:</label>&nbsp;

                      <select
                        formControlName="value"
                        style="
                          border: none;
                          background: transparent;
                          -webkit-appearance: none;
                          width: 110px;
                          color: #3d5afe;
                        "
                      >
                        <option value="TF" style="padding: 10px">
                          Short Answer
                        </option>
                        <option value="LTV" style="padding: 10px">
                          Long Answer
                        </option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="width-30" style="padding: 10px 20px">
      <app-rdf-forms-iphone-preview
        [formData]="createForm.getRawValue()"
      ></app-rdf-forms-iphone-preview>
    </div>
  </div>
</div>
