.create-form-main {
  height: 85vh;
  overflow-y: auto;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 12px 0;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    position: relative;
    top: 5px;
  }
}

input[type='text']:focus {
  outline: none;
  caret-color: #007aff;
}

select:focus {
  outline: none;
}

.form_title_input {
  border: none;
  cursor: pointer;
  width: 100%;
  background: none;
  font-size: 140%;
  font-weight: 500;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.form_description_input {
  border: none;
  cursor: pointer;
  width: 100%;
  background: none;
  font-size: 100%;
  font-weight: 500;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.changes-text {
  margin-top: 23px;
  color: #76767b;
  font-size: 100%;
}

.publish {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  position: relative;
  left: 3px;
  /* top: 2px; */
}

.publish-btn {
  width: 160px;
  height: 36px;
  background-color: #1351d8;
  border-color: #1351d8;
  margin: 12px 12px 0 12px;
}

.publish-btn-icon {
  position: relative;
  top: 2px;
  left: -3px;
}

.section-arrow {
  cursor: pointer;
  position: relative;
  top: 7px;
  left: 5px;
  margin-right: 7px;
  color: #1866b4;
}

.form_section_name_input {
  border: none;
  background: none;
  font-size: 110%;
  font-weight: 500;
  color: #000000;
}

.section-name {
  font-size: 110%;
  font-weight: 500;
  color: #000000;
}

.sub-headings {
  letter-spacing: 0.419185px;
  color: #76767b;
  font-size: 90%;
}

.six-dots {
  position: relative;
  top: 3px;
}

.response-type-modal {
  height: 500px;
  width: 500px;
  background: white;
  border: 1px solid #e0e0e0;
  position: fixed;
  top: 15%;
  left: 40%;

  h1 {
    padding: 10px 10px 0 10px;
  }

  .content {
    height: 430px;
    overflow-y: scroll;
    padding: 0 15px;
  }

  .response-field-types {
    padding: 10px 0 5px 10px;
    margin: 5px 0;
  }

  .response-field-types:hover {
    background-color: #ebedfe;
  }
}

.response-type-btn {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 40px;
  margin-top: 7px;
  width: 80%;
  text-align: left;
  padding-left: 12px;
  padding-top: 10px;
}

.required-input {
  position: relative;
  top: 1px;
  margin-left: 40px;
}

.response-type-icons {
  width: 15px;
  height: 15px;
}

#app-customizer {
  position: fixed;
  bottom: 0px;
  top: 0;
  right: 0;
  width: 370px;
  z-index: 999;

  .title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  .mat-card {
    margin: 0;
    border-radius: 0;
    height: 100%;
    padding: 0;
  }
  .mat-card-content {
    padding: 15px;
    max-height: calc(100vh - 80px);
  }
  .slider-heading {
    font-size: 110%;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px;
  }
  .slider-inputs {
    width: 100px;
    height: 35px;
    border: 1px solid #bac1c4;
    border-radius: 4px;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}
