@import '../../../../scss/colors.scss';

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 5px 0px 5px 0px;
}

.mat-tab-body-wrapper {
  padding: 10px !important;
}

.mat-subheader {
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $gray11;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.mat-tab-label-container .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 100px;
  min-width: 100px !important;
}
.mat-tab-label-container .mat-tab-list .mat-ink-bar {
  width: 140px !important;
}

.btn-hide-show-preview {
  font-weight: 500;
  font-size: 90%;
  text-transform: uppercase;
  color: $gray4;
  position: relative;
  right: 0px;
  text-align: right !important;
  top: 25px;
  width: auto;
  z-index: 99999;
  background: transparent;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.uploadfilecontainer1 {
  height: 36px;
  width: 100%;
  border: 1px dashed $gray44;
  border-radius: 8px;
  background-color: $white;
}

.uploadfilecontainertitle {
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  line-height: 19px;
  color: $gray4;
  padding-top: 8px;
  padding-left: 160px;
}
.uploadfilecontainer1:hover {
  cursor: pointer;
  opacity: 0.8;
}

.files-list {
  width: 100%;
  color: $blue18;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img {
  width: 30px;
}

.mat-form-field {
  display: inherit !important;
}

.mat-form-field-infix {
  display: inherit !important;
}

.mat-divider {
  display: block;
  margin: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 1em 0 !important;
}

.mat-tab-label {
  width: 100px;
  min-width: 130px !important ;
}

.mat-ink-bar {
  width: 100px !important;
}
.custom-row {
  clear: left;
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
}

.custom-header-height {
  height: 55px;
}

.coverImage {
  width: 80px;
  border-radius: 7px;
  cursor: pointer;
}

.header-container {
  padding: 5px 15px 5px 10px;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  border-bottom: 1px solid $gray44;
}

.details-tab {
  width: 160px;
}
.width {
  width: 100%;
  /*overflow-y: scroll;*/
}
.margin {
  margin-bottom: -5px;
}
.margin-bottom {
  margin-bottom: -7px;
}

.sixColsPreview {
  overflow-y: auto;
  height: calc(100vh - 290px);
  display: flex;
  overflow-x: hidden;
}

.disable-click {
  pointer-events: none;
}
