@import '../../../../scss/colors.scss';

.form-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 765px) {
  .form-container {
    overflow-y: scroll;
    height: 580px;
  }
}

.form-container header {
  border-bottom: 1px solid $gray41-gray;
}

.custom-header-height {
  height: 55px;
}

.mat-tab-body {
  padding: 10px !important;
}

.add-step-btn {
  float: right;
  padding: 9px;
  position: absolute;
  right: -30px;
}

.add-step-btn button {
  position: absolute;
  right: 10px;
  border: 1px solid $blue-main;
}

.add-step-btn button:hover {
  background-color: $blue23;
}

.header-btn {
  position: absolute;
  top: calc(100vh - 60px);
  width: 160px;
  height: 36px;
  background: $white;
  border: 1px solid $blue-main;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: $blue-main;
}

.header-btn:hover {
  background-color: $blue23;
}

.step-btn {
  position: absolute;
  top: calc(100vh - 60px);
  right: 20px;
  width: 160px;
  height: 36px;
  background: $white;
  border: 1px solid $blue-main;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.25px;
  color: $blue-main;
}

.step-btn-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: calc(100% - 70px);
}

.step-btn:hover {
  background-color: $blue23;
}

.example-step-navigation-bar {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.example-step {
  background: transparent;
  border: 0;
  margin: 0 10px;
  padding: 10px;
  color: $gray4;
  text-transform: uppercase;
}

.example-step.example-active {
  border-bottom: 1px solid $blue-primary;
  font-weight: 700;
  color: $blue-primary;
  line-height: 1.7rem;
}

textarea:focus,
input:focus {
  outline: none !important;
}

.example-nav-button {
  background: transparent;
  border: 0;
  color: $gray4;
}

.header-add-step {
  margin-right: 30px;
  width: 160px;
  height: 36px;
  border: 1px solid $blue-primary;
}

.header-add-step-text {
  /* position: relative; */
  top: 1px;
}
.section-block {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}
.ipad-iphone-dropdown {
  position: relative;
  right: 15px;
}

.btn-hide-show-preview {
  font-weight: 500;
  font-size: 80%;
  text-transform: uppercase;
  color: $gray4;
  background: transparent;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.dis-flex {
  display: flex;
}
.prevbtn {
  margin-left: 12px;
  display: flex;
  margin-bottom: 4px;
}
.prevnextbtns {
  border: none;
  background-color: white;
}
.nextbtn {
  display: flex;
  margin-bottom: 4px;
}

.stepsbar {
  max-width: 840px;
}

@media only screen and (max-width: 1200px) {
  .stepsbar {
    max-width: 585px;
  }
}
@media only screen and (max-width: 1100px) {
  .stepsbar {
    max-width: 460px;
  }
}
@media only screen and (max-width: 990px) {
  .stepsbar {
    max-width: 580px;
  }
}
@media only screen and (max-width: 890px) {
  .stepsbar {
    max-width: 480px;
  }
}
@media only screen and (max-width: 830px) {
  .stepsbar {
    max-width: 430px;
  }
}
@media only screen and (max-width: 765px) {
  .stepsbar {
    max-width: 380px;
  }
}
@media only screen and (max-width: 690px) {
  .stepsbar {
    max-width: 280px;
  }
}
@media only screen and (max-width: 595px) {
  .stepsbar {
    max-width: 250px;
  }
}
