<div class="filter-form-fields">
  <div class="custom-form-field-gray-color">
    <mat-form-field appearance="outline" class="width-100">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        placeholder="Add Filter"
        matInput
        [matAutocomplete]="autoCompleteFilter"
        [formControl]="addFilterControl"
      />
      <mat-autocomplete
        #autoCompleteFilter="matAutocomplete"
        [displayWith]="displayFn"
      >
        <mat-option *ngFor="let col of reportColumns$ | async" [value]="col">
          <div (click)="addFilter(col)">
            {{ col.displayName }}
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <form
    [formGroup]="filtersForm"
    id="filtersForm"
    (ngSubmit)="onSave()"
    class="custom-form-field-white-color"
  >
    <mat-list
      role="list"
      *ngFor="let filterForm of filters.controls; let i = index"
      formArrayName="filters"
    >
      <div>
        <mat-list-item role="listitem">
          <ng-container [formGroupName]="i">
            <mat-form-field
              appearance="outline"
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
              (click)="openFilterModal(filterForm.value, i, $event)"
              class="width-100"
              *ngIf="filterForm.value.filterType !== 'daterange'"
            >
              <mat-label>{{ filterForm.value.displayName }}</mat-label>
              <input
                type="text"
                placeholder="{{ filterForm.value.displayName }}"
                value="{{ filterForm.value.displayText }}"
                matInput
                autocomplete="off"
              />
            </mat-form-field>
          </ng-container>
          <ng-container [formGroupName]="i">
            <mat-form-field
              appearance="outline"
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
              (click)="openFilterModal(filterForm.value, i, $event)"
              class="width-100"
              *ngIf="filterForm.value.filterType === 'daterange'"
            >
              <mat-label>{{ filterForm.value.displayName }}</mat-label>
              <input
                type="text"
                placeholder="{{ filterForm.value.displayName }}"
                value="{{ filterForm.value.displayText }}"
                matInput
                autocomplete="off"
              />
            </mat-form-field>
            <mat-icon
              matSuffix
              (click)="deleteFilteredField(filterForm.value, i)"
              class="delete-icon"
              type="button"
            >
              close
            </mat-icon>
          </ng-container>
        </mat-list-item>
      </div>
      <button
        (click)="isOpen = !isOpen"
        type="button"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        class="hidden-button"
        aria-label="Dummy"
      >
        {{ isOpen ? 'Close' : 'Open' }}
      </button>

      <!-- <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen"
      >
        <ul class="example-list">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </ng-template> -->

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayHasBackdrop]="true"
        cdkConnectedOverlayPanelClass="custom-popover"
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        cdkConnectedOverlayWidth="400px"
        [cdkConnectedOverlayOpen]="isfilterTooltipOpen[i]"
        [cdkConnectedOverlayOrigin]="trigger"
        (backdropClick)="isfilterTooltipOpen[i] = false"
      >
        <div
          [formGroupName]="i"
          class="filter-input-modal"
          [ngStyle]="{
            top: this.dynamicFilterModalTopPosition
          }"
        >
          <div class="m-b-10">
            <span class="filter-modal-heading">
              Filter by {{ filterForm.value.displayName }}
            </span>
            <button
              class="filter-modal-cancel"
              type="button"
              (click)="isfilterTooltipOpen[i] = false"
              aria-label="Close Filter"
            >
              <svg-icon
                icon="icon-cancel-icon"
                class="filter-cancel-icon"
              ></svg-icon>
            </button>
          </div>
          <div>
            <div
              *ngIf="
                filterForm.value.filterType !== 'multi' &&
                filterForm.value.filterType !== 'single' &&
                filterForm.value.filterType !== 'daterange'
              "
            >
              <p class="operator-text">Operator</p>
              <select
                formControlName="operator"
                name="operatorType"
                class="operator-dropdown"
              >
                <option
                  *ngFor="let option of filteredOptionsByType"
                  value="{{ option }}"
                >
                  {{ option }}
                </option>
              </select>
            </div>

            <div *ngIf="filterForm.value.filterType === 'string'">
              <mat-form-field appearance="outline" class="width-100">
                <input
                  type="text"
                  matInput
                  name="stringOperand"
                  formControlName="operand"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>

            <div *ngIf="filterForm.value.filterType === 'number'">
              <mat-form-field appearance="outline" class="width-100">
                <input
                  type="number"
                  name="inputValue"
                  matInput
                  formControlName="operand"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>

            <div *ngIf="filterForm.value.filterType === 'daterange'">
              <mat-form-field appearance="outline" class="width-100">
                <mat-select
                  name="inputValue"
                  formControlName="operator"
                  (selectionChange)="
                    updateDateRangeValidation($event.value, filterForm)
                  "
                >
                  <mat-option
                    *ngFor="let val of this.filteredOptionsByType"
                    [value]="val"
                    >{{ val }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <div *ngIf="filterForm.value.operator === 'custom'">
                <button
                  (focus)="rangePicker.open()"
                  class="select-date-range-btn"
                  aria-label="Open Date Range"
                >
                  {{ customBtnText }}
                </button>
                <mat-form-field appearance="fill" class="date-field-form-field">
                  <mat-date-range-input
                    [rangePicker]="rangePicker"
                    formGroupName="operand"
                    class="datepicker"
                  >
                    <input
                      type="button"
                      matStartDate
                      name="startDate"
                      formControlName="startDate"
                    />
                    <input
                      type="button"
                      matEndDate
                      name="endDate"
                      formControlName="endDate"
                    />
                  </mat-date-range-input>
                  <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                      <button
                        mat-button
                        matDateRangePickerCancel
                        aria-label="Cancel Date Range"
                      >
                        {{ 'cancel' | translate }}
                      </button>
                      <button
                        mat-raised-button
                        type="button"
                        color="primary"
                        matDateRangePickerApply
                        aria-label="Apply Date Range"
                      >
                        {{ 'apply' | translate }}
                      </button>
                    </mat-date-range-picker-actions>
                  </mat-date-range-picker>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="filterForm.value.filterType === 'multi'">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>{{ filterForm.value.displayName }}</mat-label>
                <mat-select
                  multiple
                  name="inputValue"
                  formControlName="operand"
                >
                  <mat-option
                    *ngFor="
                      let val of this.filteredOptionsByType[
                        filterForm.value.name
                      ]
                    "
                    [value]="val"
                    >{{ val }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="filterForm.value.filterType === 'single'">
              <mat-form-field appearance="outline" class="width-100">
                <mat-label>{{ filterForm.value.displayName }}</mat-label>
                <mat-select name="inputValue" formControlName="operand">
                  <mat-option
                    name="singleOperand"
                    *ngFor="
                      let val of this.filteredOptionsByType[
                        filterForm.value.name
                      ]
                    "
                    [value]="val"
                    >{{ val }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <button
              class="save-btn"
              mat-raised-button
              type="button"
              (click)="onSave()"
              form="filtersForm"
              [disabled]="filterForm.invalid || filterForm.pristine"
              aria-label="Save Filter"
            >
              Save
            </button>
          </div>
        </div>
      </ng-template>
    </mat-list>
  </form>
</div>
