<div class="history-bottom-list">
  <span
    class="history-bottom-list-heading"
    matLine
    translate="historyTxt"
  ></span>
  <span matLine
    ><button
      (click)="closeHistoryBottomSheet()"
      class="history-bottom-list-action"
      translate="done"
    ></button
  ></span>
  <hr />
</div>
<div class="history-bottom-list-content">
  <span
    class="history-reading-heading"
    matLine
    translate="lastFiveReadingsHeader"
  ></span>
  <div class="history-question">
    <span matLine translate="whatIsPressureReadingHeader"></span>
  </div>
  <table class="history-bottom-sheet-box">
    <img
      class="history-bottom-sheet-chart"
      src="assets/preview/History_Preview_Graph.png"
      alt="preview-history-graph"
    />
  </table>
  <table class="history-bottom-sheet-table">
    <tr>
      <th class="history-bottom-sheet-table-heading" translate="dateLabel"></th>
      <th
        class="history-bottom-sheet-table-heading"
        translate="readingLabel"
      ></th>
      <th class="history-bottom-sheet-table-heading" translate="operator"></th>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
  </table>
</div>
