<div class="history-bottom-list">
  <span class="history-bottom-list-heading" matLine>History</span>
  <span matLine
    ><button
      (click)="closeHistoryBottomSheet()"
      class="history-bottom-list-action"
    >
      Done
    </button></span
  >
  <hr />
</div>
<div class="history-bottom-list-content">
  <span class="history-reading-heading" matLine>Last 5 readings</span>
  <div class="history-question">
    <span matLine>What is the pressure reading?</span>
  </div>
  <table class="history-bottom-sheet-box">
    <img
      class="history-bottom-sheet-chart"
      src="assets/preview/History_Preview_Graph.png"
      alt="preview-history-graph"
    />
  </table>
  <table class="history-bottom-sheet-table">
    <tr>
      <th class="history-bottom-sheet-table-heading">Date</th>
      <th class="history-bottom-sheet-table-heading">Reading</th>
      <th class="history-bottom-sheet-table-heading">Operator</th>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
  </table>
</div>
