<div class="history-bottom-list">
  <span class="history-bottom-list-heading" matLine>History</span>
  <span matLine
    ><button
      (click)="closeHistoryBottomSheet()"
      class="history-bottom-list-action"
    >
      Done
    </button></span
  >
  <hr />
</div>
<div class="history-bottom-list-content">
  <span matLine>Last 5 readings</span>
  <div class="history-question">
    <span matLine>What is the pressure reading?</span>
  </div>
  <table class="history-bottom-sheet-box">
    <img
      class="history-bottom-sheet-chart"
      src="https://study.com/cimages/multimages/16/421f9297-0796-452c-a293-2e5a4d197a082633892807764314388.jpeg"
    />
  </table>
  <table class="history-bottom-sheet-table">
    <tr>
      <th class="history-bottom-sheet-table-heading">Date</th>
      <th class="history-bottom-sheet-table-heading">Reading</th>
      <th class="history-bottom-sheet-table-heading">Operator</th>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
  </table>
</div>
