<div id="view-location-slider">
  <mat-card>
    <div>
      <svg-icon (click)="cancel()" icon="icon-close" class="cancel"></svg-icon>
    </div>
    <div *ngIf="selectedPlant">
      <p>
        <img [src]="selectedPlantImageurl(selectedPlant)" alt="Image" class="image" />
      </p>
      <h1 class="heading">{{ selectedPlant.name }}</h1>
      <hr class="horizon-line" />
      <p class="m-0 sub-headings" translate="plantId"></p>
      <p class="m-0 sub-headings-value">{{ selectedPlant.plantId }}</p>
      <hr class="horizon-line" />
      <p class="m-0 sub-headings" translate="country"></p>
      <p class="m-0 sub-headings-value">
        {{ selectedPlant.country ? selectedPlant.country : '--' }}
      </p>
      <hr class="horizon-line" />
      <p class="m-0 sub-headings" translate="zipCode"></p>
      <p class="m-0 sub-headings-value">
        {{ selectedPlant.zipCode ? selectedPlant.zipCode : '--' }}
      </p>
      <hr class="horizon-line" />
      <p class="m-0 sub-headings" translate="state"></p>
      <p class="m-0 sub-headings-value">
        {{ selectedPlant.state ? selectedPlant.state : '--' }}
      </p>
      <hr class="horizon-line" />
      <p class="m-0 sub-headings" translate="shifts"></p>
      <p class="m-0 sub-headings-value">
        {{ selectedPlant.shiftNames ? selectedPlant.shiftNames?.join(', ') : '--' }}
      </p>
      <hr class="horizon-line" />
      <p class="m-0 sub-headings" translate="additionalDetails"></p>
      <p class="m-0 sub-headings-value">
        {{ selectedPlant.label ? selectedPlant.label : '--' }}
        :
        {{ selectedPlant.field ? selectedPlant.field : '--' }}
      </p>
      <hr class="horizon-line" />
      <button mat-raised-button class="edit-btn" (click)="edit()" translate="editBtn"></button>
    </div>
  </mat-card>
</div>