<div>
  <input
    id="dateTimeResponseLocal"
    type="datetime-local"
    class="text-answer"
    [placeholder]="'enter' | translate"
    *ngIf="question.value.date && question.value.time"
  />
  <input
    id="dateTimeResponseDate"
    type="date"
    class="text-answer"
    [placeholder]="'enter' | translate"
    *ngIf="question.value.date && !question.value.time"
  />

  <input
    id="dateTimeResponseTime"
    type="time"
    class="text-answer"
    [placeholder]="'enter' | translate"
    *ngIf="!question.value.date && question.value.time"
  />
</div>
