<form class="save-template-naming-modal" [formGroup]="saveTemplateForm">
  <span class="title" id="saveTemplateNameTitle" translate
    >saveTemplateNamingModalTitle</span
  >
  <mat-form-field appearance="outline" class="input-container width-100 m-b-10">
    <mat-label id="saveTemplateName">{{
      'templateName' | translate
    }}</mat-label>
    <input matInput formControlName="templateName" />
    <mat-error
      *ngIf="processValidationErrors()"
      class="m-t-15 error-fields"
      id="saveTemplateNameError"
    >
      {{
        errors.name
          | translate
            : {
                name: 'templateName' | translate,
                length: errors.length
              }
      }}
    </mat-error>
  </mat-form-field>
  <button
    id="saveTemplateNameBtn"
    mat-raised-button
    class="next-btn"
    type="submit"
    (click)="next()"
    [disabled]="
      saveTemplateForm.invalid ||
      (!saveTemplateForm.pristine && saveTemplateForm.pending)
    "
    translate="saveTemplateBtn"
  ></button>
</form>
