@import '../../../../scss/colors.scss';

.issues-list {
  ::ng-deep .table-column {
    width: 15%;
  }

  .issues-search {
    position: fixed;
    right: 14px;
    top: 387px;
  }
  .no-of-issues {
    margin-right: 10px;
    position: fixed;
    right: 265px;
    top: 402px;
  }
  .issues-count {
    font-weight: 500;
    font-size: 110%;
    color: $gray-bg;
  }
  .issues-text {
    font-weight: 500;
    font-size: 110%;
    color: $gray1;
    margin-left: 5px;
    .ghost-loading {
      padding: 0 20px;
    }
  }

  .common-filter-icon {
    height: 14px;
    width: 14px;
  }
}
