<div class="chatsBody" *ngIf="selectedView === 'CHAT'">
  <div class="conversationsList">
    <div class="searchBar">
      <input
        id="chatsSearchUserText"
        matInput
        placeholder="Search Users"
        disabled
        class="searchInput"
      />
      <button
        id="chatsSearchBtn"
        mat-icon-button
        class="searchMore"
        [matMenuTriggerFor]="menu"
        aria-label="More Options"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button id="chatsCreateGroupBtn" mat-menu-item (click)="createGroup()">
          Create Group
        </button>
        <button id="chatsMuteMessageBtn" mat-menu-item disabled>
          Mute Messages
        </button>
        <button id="chatsDeleteConvBtn" mat-menu-item disabled>
          Delete Conversations
        </button>
      </mat-menu>
    </div>
    <div class="userList" (scroll)="onConversationsListScrolled($event)">
      <mat-list
        *ngIf="
          conversations$ | async as conversations;
          else loadingConversations
        "
      >
        <mat-list-item
          *ngFor="let conversation of conversations; let i = index"
          (click)="setSelectedConversation(conversation)"
          class="conversationListItem"
          [ngClass]="{
            active:
              selectedConversation &&
              selectedConversation.id === conversation.id
          }"
        >
          <div
            class="icon-button"
            mat-list-icon
            *ngIf="conversation.chatType === 'oneOnOne'"
          >
            <div class="userPresence">
              <img
                id="chatsProfileImg"
                class="icon"
                [src]="conversation.userInfo.profileImage"
              />
              <div
                class="statusCircle"
                [ngClass]="{
                  online: conversation.userInfo.online,
                  offline: !conversation.userInfo.online
                }"
              ></div>
            </div>
          </div>
          <div
            class="icon-button"
            mat-list-icon
            *ngIf="conversation.chatType === 'group'"
          >
            <mat-icon class="icon group-icon">groups</mat-icon>
          </div>
          <div mat-line class="convTitle">
            <span
              id="chatsName"
              *ngIf="conversation.chatType === 'oneOnOne'"
              class="convName"
              >{{ conversation.userInfo.firstName }}
              {{ conversation.userInfo.lastName }}
            </span>
            <span
              id="chatsConvoTopic"
              *ngIf="conversation.chatType === 'group'"
              class="convName"
              >{{ conversation.topic }}
            </span>
            <span id="chatsConvoDateTime" class="timeAgo">
              {{ conversation.latest.createdDateTime | timeAgo }}
            </span>
          </div>
          <div class="convDesc" mat-line>
            <span
              id="chatsConvoUnreadCount"
              [ngClass]="{ unreadCount: conversation.unreadCount }"
            >
              {{ conversation.unreadCount }}</span
            >
            <span
              [innerHTML]="
                conversation.latest.message ? conversation.latest.message : ''
              "
              [ngClass]="{
                unreadMessage: conversation.latest.unread === true
              }"
            >
            </span>
          </div>
        </mat-list-item>
        <mat-list-item
          *ngIf="
            conversations &&
            conversations.length < 8 &&
            conversationsSkipToken &&
            conversationsSkipToken.length
          "
        >
          <div class="loadMore">
            <span id="chatsLoadingMore" translate class="loadMoreText"
              >loadingMore</span
            >
            <mat-spinner strokeWidth="5" diameter="25"></mat-spinner>
          </div>
        </mat-list-item>
        <div *ngIf="appendingConversations">
          <ng-template>
            <div class="p-15">
              <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
              </ngx-shimmer-loading>
              <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
              </ngx-shimmer-loading>
              <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
              </ngx-shimmer-loading>
            </div>
          </ng-template>
        </div>
      </mat-list>
    </div>
  </div>
  <div
    class="conversationContent"
    [ngClass]="{
      attachmentPreviewBG: showAttachmentPreview
    }"
    *ngIf="selectedConversation"
  >
    <div class="conversationHead" *ngIf="!showAttachmentPreview">
      <div class="displayFlex">
        <div
          class="icon-button"
          mat-list-icon
          *ngIf="selectedConversation.chatType === 'oneOnOne'"
        >
          <div class="userPresence">
            <img
              id="chatsUserProfileImg"
              class="icon mt-10"
              [src]="selectedConversation.userInfo.profileImage"
            />
            <div
              class="statusCircle"
              [ngClass]="{
                online: selectedConversation.userInfo.online,
                offline: !selectedConversation.userInfo.online
              }"
            ></div>
          </div>
        </div>
        <div
          class="icon-button"
          mat-list-icon
          *ngIf="selectedConversation.chatType === 'group'"
        >
          <mat-icon class="icon group-icon-head">groups</mat-icon>
        </div>
        <div
          class="userTitle"
          *ngIf="selectedConversation.chatType === 'oneOnOne'"
        >
          <span id="chatsUserName" class="userName"
            >{{ selectedConversation.userInfo.firstName }}
            {{ selectedConversation.userInfo.lastName }}
          </span>
          <div id="chatsUserInfoTitle" mat-line class="userDescription">
            {{ selectedConversation.userInfo?.title }}
          </div>
        </div>
        <div
          class="userTitle groupTitle"
          *ngIf="selectedConversation.chatType === 'group'"
        >
          <span id="chatsSelectConvoTopic" class="userName"
            >{{ selectedConversation.topic }}
          </span>
          <div mat-line class="userDescription groupDescription">
            <span
              id="chatsMemFirstName"
              *ngFor="
                let member of selectedConversation.members | slice : 0 : 2;
                let i = index
              "
            >
              {{ member.firstName }}<span *ngIf="i < 1">, </span>
            </span>
            <div *ngIf="selectedConversation.members.length > 2">
              <div
                id="chatsMore"
                (click)="isOpen = !isOpen"
                cdkOverlayOrigin
                #trigger="cdkOverlayOrigin"
                class="showMoreBtn"
              >
                +{{ selectedConversation.members.length - 2 }} More
              </div>

              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayHasBackdrop]="true"
                cdkConnectedOverlayPanelClass="custom-popover"
                cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                cdkConnectedOverlayWidth="400px"
                [cdkConnectedOverlayOpen]="isOpen"
                [cdkConnectedOverlayOrigin]="trigger"
                (backdropClick)="isOpen = false"
              >
                <div class="shom-more-members">
                  <ul class="memberList">
                    <li
                      *ngFor="
                        let member of selectedConversation.members
                          | slice : 2 : selectedConversation.members.length;
                        let i = index
                      "
                      class="member"
                    >
                      <div class="icon-button" mat-list-icon>
                        <img class="icon" [src]="member.profileImage" />
                      </div>
                      <div mat-line>
                        <div id="chatsMemberName" class="memberName">
                          {{ member.firstName }} {{ member.lastName }}
                        </div>
                        <div id="chatsMemberTitle" class="memberTitle">
                          {{ member.title }}
                        </div>
                      </div>
                      <mat-divider class="horiz-divider"></mat-divider>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          id="chatsAudioBtn"
          mat-icon-button
          color="primary"
          (click)="openAudioVideoCallDialog(selectedConversation, 'audio')"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          id="chatsVideoBtn"
          mat-icon-button
          color="primary"
          (click)="openAudioVideoCallDialog(selectedConversation, 'video')"
        >
          <mat-icon>videocam</mat-icon>
        </button>
        <button
          id="chatsSearchMoreBtn"
          mat-icon-button
          color="primary"
          class="searchMore"
          [matMenuTriggerFor]="menu"
          aria-label="More Options"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button
            id="chatsAddPeopleBtn"
            mat-menu-item
            (click)="addPeopleToConversation(selectedConversation)"
          >
            Add People
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="conversationHead" *ngIf="showAttachmentPreview">
      <div class="displayFlex alignCenter">
        <button mat-icon-button (click)="closePreview()">
          <mat-icon>close</mat-icon>
        </button>
        <span id="chatsSelectAttachName">{{ selectedAttachment.name }}</span>
      </div>
    </div>
    <mat-divider
      class="horiz-divider"
      *ngIf="!showAttachmentPreview"
    ></mat-divider>
    <mat-progress-bar
      mode="query"
      *ngIf="appendingConvHistory"
    ></mat-progress-bar>
    <div
      class="conversationBody"
      (scroll)="onConversationHistoryScrolled($event)"
      id="conversationHistory"
      #scrollMe
      [scrollTop]="scrollMe.scrollHeight"
      *ngIf="
        conversationHistory$ | async as conversationHistory;
        else loadingHistory
      "
    >
      <div *ngIf="!showAttachmentPreview">
        <div *ngFor="let message of conversationHistory; let i = index">
          <div
            class="conversationMessage"
            *ngIf="!isLoggedInUser(message.from)"
          >
            <!-- <div class="conv-user-icon">
            <span class="icon"></span>
            <img class="icon" [src]="message.from.profileImage" />
          </div> -->
            <div class="nameAndMessage">
              <div *ngIf="message.messageType === 'meeting'">
                <div class="attachmentItemMeeting">
                  <mat-icon id="chatsVideoCam" mat-list-icon>videocam</mat-icon>
                  <div id="chatsMessageName" mat-line class="attachmentTitle">
                    {{ message.from.firstName }}
                    {{ message.from.lastName }} is Inviting you for a meeting.
                  </div>
                  <div mat-line class="attachmentSubTitle">
                    <div class="downloadBtn" (click)="openMeetingLink(message)">
                      <mat-icon id="chatsVideoCamIcon">videocam</mat-icon
                      ><span id="chatsMeeting" class="downloadLabel"
                        >Join the meeting</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="messageContainerNonLoggedIn">
                <span
                  id="chatsMessage"
                  class="groupMessageFrom"
                  *ngIf="selectedConversation.chatType !== 'oneOnOne'"
                  >{{ message.from.firstName }}
                  {{ message.from.lastName }}</span
                >
                <div
                  [innerHtml]="message.message"
                  *ngIf="message.message && message.message.length"
                  class="message"
                ></div>
                <span id="chatsTimeStamp" class="timestamp">{{
                  message.timestamp | timeAgo
                }}</span>
                <div *ngIf="message.attachments && message.attachments.length">
                  <mat-list>
                    <mat-list-item
                      *ngFor="let file of message.attachments"
                      class="attachmentItem"
                    >
                      <div class="attachmentItemRow">
                        <div class="iconAndTitle">
                          <mat-icon>folder</mat-icon>
                          <div id="chatsFileName" class="attachmentTitle">
                            {{ file.name }}
                          </div>
                        </div>
                        <div
                          *ngIf="
                            !downloadInProgress ||
                            downloadingFileRef !== message.id + '_' + file.id
                          "
                          class="downloadBtn"
                          (click)="downloadFile(file, message.id, file.id)"
                        >
                          <mat-icon>arrow_circle_down</mat-icon>
                        </div>
                        <div
                          *ngIf="
                            downloadInProgress &&
                            downloadingFileRef === message.id + '_' + file.id
                          "
                          class="downloadBtn"
                        >
                          <mat-spinner
                            strokeWidth="5"
                            diameter="25"
                          ></mat-spinner>
                        </div>
                      </div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
          <div
            class="conversationMessageCurrentUser"
            *ngIf="isLoggedInUser(message.from)"
          >
            <div
              class="nameAndMessage"
              [ngClass]="{
                loggedInUser: isLoggedInUser(message.from)
              }"
            >
              <div *ngIf="message.messageType === 'meeting'">
                <div class="attachmentItemMeeting">
                  <!-- <div mat-line>{{ message.text }}</div> -->
                  <mat-icon mat-list-icon>videocam</mat-icon>
                  <div id="chatsInviteName" mat-line class="attachmentTitle">
                    {{ message.from.firstName }}
                    {{ message.from.lastName }} is Inviting you for a meeting.
                  </div>
                  <div mat-line class="attachmentSubTitle">
                    <div class="downloadBtn" (click)="openMeetingLink(message)">
                      <mat-icon>videocam</mat-icon
                      ><span id="chatsJoinMeeting" class="downloadLabel"
                        >Join the meeting</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="messageContainer">
                <div
                  [innerHtml]="message.message"
                  *ngIf="message.message && message.message.length"
                  class="message"
                ></div>
                <div *ngIf="message.attachments && message.attachments.length">
                  <mat-list>
                    <mat-list-item
                      *ngFor="let file of message.attachments"
                      class="attachmentItem"
                    >
                      <div class="attachmentItemRow">
                        <div class="iconAndTitle">
                          <mat-icon>folder</mat-icon>
                          <div id="chatsFile" class="attachmentTitle">
                            {{ file.name }}
                          </div>
                        </div>
                        <div
                          *ngIf="
                            !downloadInProgress ||
                            downloadingFileRef !== message.id + '_' + file.id
                          "
                          class="downloadBtn"
                          (click)="downloadFile(file, message.id, file.id)"
                        >
                          <mat-icon>arrow_circle_down</mat-icon>
                        </div>
                        <div
                          *ngIf="
                            downloadInProgress &&
                            downloadingFileRef === message.id + '_' + file.id
                          "
                          class="downloadBtn"
                        >
                          <mat-spinner
                            strokeWidth="5"
                            diameter="25"
                          ></mat-spinner>
                        </div>
                      </div>
                    </mat-list-item>
                  </mat-list>
                </div>
                <span id="chatsTimeAgo" class="timestamp">{{
                  message.timestamp | timeAgo
                }}</span>
              </div>
            </div>
            <!-- <div class="conv-user-icon">
            <span class="icon"></span>
            <img class="icon" [src]="message.from.profileImage" />
          </div> -->
          </div>
        </div>
      </div>
      <div *ngIf="showAttachmentPreview" class="attachmentPreview">
        <div class="previewContainer">
          <img
            id="chatsPreviewImg"
            class="previewImg"
            *ngIf="
              selectedAttachment &&
              selectedAttachment.src &&
              selectedAttachment.isImage
            "
            [src]="selectedAttachment.src"
          />
          <embed
            class="previewImg"
            *ngIf="
              selectedAttachment &&
              selectedAttachment.src &&
              !selectedAttachment.isImage
            "
            [src]="selectedAttachment.src"
          />
        </div>
        <div class="attachmentsList">
          <div
            class="attachmentsListItem"
            *ngFor="let attachment of uploadedFiles"
            (click)="setSelectedAttachment(attachment)"
            [ngClass]="{
              selectedAttachment: attachment.name === selectedAttachment.name
            }"
          >
            <mat-icon
              class="removeAttachmentIcon"
              (click)="removeAttachment(attachment)"
              >cancel</mat-icon
            >
            <mat-icon *ngIf="attachment.isImage" class="font-5rem"
              >image</mat-icon
            >
            <mat-icon
              *ngIf="attachment.type === 'application/pdf'"
              class="font-5rem"
              >picture_as_pdf</mat-icon
            >
            <mat-icon
              *ngIf="
                attachment.type ===
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
              "
              class="font-5rem"
              >description</mat-icon
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="chatBottom"
      *ngIf="conversationHistoryLoaded || showAttachmentPreview"
    >
      <mat-divider class="horiz-divider"></mat-divider>
      <div class="messageInputBar">
        <input
          id="chatsUploadFile"
          #uploadFile
          type="file"
          multiple
          id="uploadFile"
          class="hidden-input"
          accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg, .docx, .pdf"
        />

        <button
          id="chatsUploadFileBtn"
          for="uploadFile"
          (click)="openAttachments()"
          class="attachmentIconBtn"
        >
          <mat-icon class="attachmentAddIcon" *ngIf="showAttachmentPreview"
            >add</mat-icon
          >
          <mat-icon class="attachmentIcon" *ngIf="!showAttachmentPreview"
            >attach_file</mat-icon
          >
        </button>
        <div class="messageInputGroup">
          <input
            id="chatsMessageText"
            matInput
            class="messageInput"
            placeholder="Enter Message.."
            autocomplete="off"
            [disabled]="messageDeliveryProgress"
            [(ngModel)]="messageText"
            (keyup.enter)="onMessageEnter(selectedConversation, messageText)"
          />
          <div matSuffix>
            <button
              id="chatsSendMessage"
              mat-icon-button
              [disabled]="
                !showAttachmentPreview ||
                (!messageText.trim().length && !showAttachmentPreview)
              "
              (click)="sendMessageToUser(selectedConversation, messageText)"
            >
              <mat-spinner
                *ngIf="messageDeliveryProgress"
                strokeWidth="5"
                diameter="25"
              ></mat-spinner>
              <mat-icon
                *ngIf="!messageDeliveryProgress"
                [ngClass]="{
                  disableSendBtn: !messageText.trim().length,
                  activeSendBtn: messageText.trim().length
                }"
                >send</mat-icon
              >
            </button>
          </div>
        </div>

        <button id="chatsAudioRecord" mat-mini-fab class="audioRecord" disabled>
          <mat-icon>mic</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="conversationContent centerText" *ngIf="!selectedConversation">
    <span id="chatsSelectedConvo" translate
      >selectConversationToSendMessage</span
    >
  </div>
</div>
<div *ngIf="selectedView === 'CREATE_UPDATE_GROUP'">
  <app-create-group
    (handleGroupCreation)="handleGroupCreation($event)"
    (viewChangeListener)="handleViewChange($event)"
    [selectedConversation]="selectedConversation"
    [conversationMode]="conversationMode"
  ></app-create-group>
</div>

<ng-template #loadingConversations>
  <div class="p-15">
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
<ng-template #loadingHistory>
  <div class="p-15">
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'45px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
