@import '../../../../../scss/colors.scss';

.chatsBody {
  display: flex;
}
.active {
  cursor: pointer;
  background: $blue22;
}
.disablesendbtn {
  color: $gray34;
}

.activeSendBtn {
  color: $blue;
}

.disabled {
  pointer-events: none;
}
.conversationListItem {
  cursor: pointer;
  .convTitle {
    font-weight: 700 !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .convName {
      width: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .timeAgo {
      font-weight: 400;
      color: $light-gray;
      font-size: xx-small;
    }
  }
  .convDesc {
    color: $light-gray;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  &:hover {
    cursor: pointer;
    background: $gray35;
  }
}
.centerText {
  display: flex !important;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  color: $gray1;
  font-weight: 400;
}
.conversationContent {
  display: flex;
  width: 100%;
  height: 82vh;
  flex-direction: column;
  background: $white !important;
  border-left: 5px solid $white2;
  margin-top: 10px;
  .conversationHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 50px;
    .iconButton {
      background: none;
      padding: 0;
      border: 0;
      cursor: pointer;
      width: 40px;
      border-radius: 45px;
    }
    .iconButton .icon {
      width: 45px !important;
      height: 45px !important;
      border-radius: 45px;
    }
    .userTitle {
      margin-left: 15px;
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      .userName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 175px;
        font-weight: 700;
      }
      .userDescription {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        font-weight: 400;
        color: $light-gray;
      }
    }
  }
  .conversationBody {
    width: 100%;
    min-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    // margin-left: 20px;
  }
  .conversationMessage {
    display: flex;
    word-break: break-word;
    margin-left: 10px;
    .nameAndMessage {
      width: 95% !important;
      word-break: break-all;
      padding-right: 20px;
    }
  }
  .conversationMessageCurrentUser {
    margin: 10px 0px;
    margin-right: 10px;
    display: flex;
    word-break: break-word;
    align-items: center;
    justify-content: flex-end;
    .nameAndMessage {
      width: 95% !important;
      word-break: break-all;
    }
  }
  .conv-user-icon {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 40px;
    border-radius: 45px;
    margin-right: 10px;
  }
  .attachmentItem {
    font-size: 90%;
    background: $gray37;
    border-radius: 5px;
    width: 99% !important;
    .attachmentItemRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 250px;
      justify-content: space-between;
      background: $white;
      padding: 5px;
      border-radius: 5px;
      .iconAndTitle {
        display: flex;
        align-items: center;
      }
      .downloadBtn {
        color: $blue-main;
        cursor: pointer;
      }
    }
    .attachmentTitle {
      font-size: 90%;
      font-weight: 450;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      color: $black;
    }
    .attachmentSubTitle {
      font-size: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .downloadBtn {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        background: $blue2;
        border-radius: 5px;
        color: $white;

        &:hover {
          background: $blue3-hover;
        }
        .downloadLabel {
          margin-left: 5px;
        }
      }
    }
  }
  .conv-user-icon .icon {
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }

  .chatBottom {
    .messageInputBar {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      .messageInputGroup {
        display: flex;
        align-items: center;
        margin-left: 5px;
        border-radius: 5px;
        width: 100%;
        background: $gray;
        color: $black;
      }
      .messageInput {
        padding: 10px;
        background: $gray;
        border-radius: 5px;
      }
      .audioRecord {
        color: $white;
        // background: $blue2;
        border-radius: 8px;
        font-size: 70%;
        height: auto;
        margin-left: 5px;
      }
    }
  }
}
.conversationsList {
  width: 40%;
  background: $white;
  border-radius: 15px;
  max-width: 400px;
  min-width: 250px;
  .searchBar {
    display: flex;
    padding: 10px 0px;
    margin-top: 50px;
    .searchInput {
      border-radius: 5px;
      padding: 10px;
      background: $white1;
      margin-left: 15px;
    }
    .searchMore {
      color: $blue;
    }
  }
  .userList {
    height: 68vh;
    overflow: auto;
    overflow-x: hidden;
    // margin-right: -10px;
  }
}
.userIcon {
  font-size: 450%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add application styles & imports to this file! */

.icon-button {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  width: 40px;
  border-radius: 45px;
  margin-top: -15px;
  margin-right: 10px;
}

.icon-button .icon {
  width: 45px !important;
  height: 45px !important;
  border-radius: 45px;
}

.displayFlex {
  display: flex;
}
.horiz-divider {
  margin: 0px 10px;
}
.horiz-dividerConv {
  width: 95% !important;
}

.timeAgoLabel {
  margin-left: 5px;
  color: $gray;
  font-size: 70%;
  background: $gray38;
  padding: 5px;
  border-radius: 10px;
}

.shadow {
  width: 100px;
  margin: 0 auto;
  height: 100px;
  background-color: $white1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  &.top {
    box-shadow: 0px -15px 10px -15px $gray-shadow;
  }
  &.bottom {
    box-shadow: 0px 15px 10px -15px $gray-shadow;
  }
  &.left {
    box-shadow: -15px 0px 10px -15px $gray-shadow;
  }
  &.right {
    box-shadow: 15px 0px 10px -15px $gray-shadow;
  }
}

.attachmentItemMeeting {
  font-size: 90%;
  display: flex;
  background: $green6;
  border-radius: 5px;
  width: 300px;
  padding: 15px 12px;
  margin-top: 5px;

  .attachmentTitle {
    font-size: 90%;
    font-weight: 450;
  }
  .attachmentSubTitle {
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .downloadBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0px 5px;
      background: $blue2;
      border-radius: 5px;
      color: $white;

      &:hover {
        background: $blue3-hover;
      }
      .downloadLabel {
        margin-left: 5px;
        padding: 5px;
      }
    }
  }
}
.group-icon {
  font-size: 180%;
  border: 0.5px solid $gray39;
}
.group-icon-head {
  font-size: 300%;
  border: 0.5px solid $gray39;
}
.m-0 {
  margin: 0px;
}
.mt-10 {
  margin-top: 10px;
}

.loggedInUser {
  text-align: right;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .timestamp {
    font-size: 70%;
    color: $gray1;
  }
  .message {
    background: $blue-main;
    color: $white;
    padding: 5px 10px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    max-width: 70%;
    word-break: break-word;
    p {
      margin: 0px;
    }
  }
}
.messageContainerNonLoggedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  .timestamp {
    font-size: 70%;
    color: $gray1;
  }
  .message {
    background: $white1;
    padding: 5px 10px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    max-width: 70%;
    word-break: break-word;
    p {
      margin: 0px;
      padding: 0px;
    }
  }
}

.message,
p {
  margin: 0px !important;
}
.unreadLatestMessage {
  font-weight: bold !important;
}

.groupTitle {
  margin-top: -10px;
}
.groupDescription {
  width: 300px;
}
.attachmentIconBtn {
  background: $gray;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0px 5px;
  border: none;
}

.attachmentIcon {
  transform: rotate(45deg);
  color: $blue-main;
}
.attachmentAddIcon {
  color: $blue-main;
}

.hidden-input {
  display: none;
}

.groupMessageFrom {
  font-size: 70%;
  color: $light-gray;
}

.shom-more-members:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -12px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 15px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.shom-more-members {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 6px 4px 84px rgba(0, 0, 0, 0.15);
  padding: 16px 0px;
  width: 275px;
  position: relative;
  top: 10px;
  left: -80px;
  .memberList {
    margin: 0px;
    padding: 0px 15px;
  }
}

.unreadMessage {
  font-weight: 800 !important;
  width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.member {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  .memberName {
    font-weight: 500;
  }
  .memberTitle {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $gray1;
    font-weight: 400;
    font-size: 75%;
  }
  .icon-button {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
    width: 40px;
    border-radius: 45px;
    margin-top: -15px;
    margin-right: 10px;
  }
  .icon-button .icon {
    width: 35px !important;
    height: 35px !important;
    border-radius: 45px;
    margin-top: 20px;
  }
}

.showMoreBtn {
  color: $blue;
  cursor: pointer;
  margin-left: 3px;
}

.attachmentPreviewBG {
  background: $gray-bg !important;
  color: $white;
  margin: 0px;
  height: auto;
}
.attachmentPreview {
  display: flex;
  flex-direction: column;
  // width: 400px;
  align-items: center;
  .previewContainer {
    height: 230px;
    display: flex;
    justify-content: center;
    .previewImg {
      width: 100%;
      height: 100%;
    }
  }
  .attachmentsList {
    display: flex;
    flex-direction: row;
    width: 432px;
    overflow-x: auto;
    height: 100px;
    .attachmentsListItem {
      min-width: 80px;
      max-width: 80px;
      margin: 2px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      color: $gray-bg;
      padding: 5px 5px;
      position: relative;
      // &:hover {
      //   background: $blue3-hover;
      // }
      .font-5rem {
        font-size: 5rem;
        color: $white;
      }
      .removeAttachmentIcon {
        position: absolute;
        right: 0px;
        top: 0px;
        color: $blue-main;
        z-index: 999999;
      }
      .attachmentDetail {
        display: flex;
        // color: $white;
        flex-direction: column;
        white-space: nowrap;
        .attachmentTitle {
          // color: $white;
          font-size: 80%;
        }
        .attachmentSize {
          // color: $white1;
          font-size: 75%;
        }
      }
    }
    .selectedAttachment {
      border: 2px solid $blue-secondary;
    }
  }
}

.searchMore {
  color: $blue;
}
.alignCenter {
  align-items: center;
}

.unreadCount {
  background: $red-main;
  color: $white;
  border-radius: 45px;
  width: 20px;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.userPresence {
  position: absolute;
  .statusCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // background-color: grey;
    border: 2px solid $white;
    bottom: 2px;
    right: 0;
    position: absolute;
  }
  .online {
    background-color: $green;
  }
  .offline {
    background-color: $gray;
  }
}

.loadMore {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: $blue-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  .loadMoreText {
    padding: 15px;
  }
}
