<div class="save-template-container">
  <span id="saveTemplateClose" class="dialog-close-btn" (click)="close()">
    <mat-icon id="saveTemplateCloseIcon" class="dialog-close">close</mat-icon>
  </span>
  <app-save-template-naming-modal
    *ngIf="!displayConfirm"
    [placeholderName]="data.formMetadata.name"
    (templateState)="advanceStep($event)"
  ></app-save-template-naming-modal>
  <app-save-template-confirm-modal
    [templateData]="data"
    [templateName]="templateName"
    [templateId]="templateId"
    (closeModal)="close()"
    *ngIf="displayConfirm"
  >
  </app-save-template-confirm-modal>
</div>
