<span class="table-field">
  <button id="tableColBtn" class="add-column-btn" (click)="addTab()">
    <svg-icon
      id="tableCloIcon"
      icon="icon-add-column"
      class="add-column-icon"
    ></svg-icon>
    <span
      id="tableColText"
      class="add-column-text"
      translate="addColumn"
    ></span>
  </button>

  <span class="rows m-l-20">
    <span id="tableRowText" class="rows-text" translate="rows"></span>
    <input
      id="tableRowNumber"
      type="number"
      class="rows-input m-l-10"
      value="2"
    />
  </span>

  <span class="m-l-20">
    <input
      id="tableCheckbox"
      type="checkbox"
      class="fix-no-of-rows-checkbox"
      checked
    />
    <span class="m-l-10" translate="fixNoofRows"></span>
  </span>

  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)"
  >
    <mat-tab *ngFor="let tab of tabs; let index = index">
      <ng-template mat-tab-label>
        <a id="tableTab" matTooltip="{{ tab }}" class="labels"> {{ tab }} </a>
      </ng-template>
      <span class="table-content">
        <button
          id="tableDeleteBtn"
          class="delete-button"
          [disabled]="tabs.length === 1"
          (click)="removeTab(index)"
        >
          <svg-icon
            id="tableDeleteIcon"
            icon="icon-delete-icon"
            class="delete-icon"
          ></svg-icon>
        </button>
        <span id="tableColName" class="labels" translate="columnName"></span>
        <input
          id="tableColField"
          type="text"
          name="column"
          class="input-field"
        />
        <span
          id="tableResponseType"
          class="labels"
          translate="responseType"
        ></span>
        <app-response-type-button
          [questionForm]="questionForm"
          [fieldTypes]="fieldTypes"
          [title]="'table response type'"
        >
        </app-response-type-button>
      </span>
    </mat-tab>
  </mat-tab-group>
</span>
