<div class="selectUser">
  <div class="modal-header">
    <button (click)="onCancel()" class="back-btn">
      <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
    </button>
    <h2 class="title">{{ 'selectUser' | translate }}</h2>
    <span class="no-of-active-users" *ngIf="userCount$ | async as userCount">
      <span class="active-users-count" *ngIf="userCount.count">
        {{ userCount.count }}
      </span>
      <span class="active-users-count" *ngIf="!userCount.count">0</span>
      <span class="active-users-text">{{
        'usersPlural'
          | translate
            : {
                count: userCount.count ? userCount.count : 0
              }
      }}</span>
    </span>
    <div class="width-25 custom-form-field-gray-color usergroup-left">
      <span class="custom-form-field-gray-color search">
        <mat-form-field appearance="outline" class="search-form-field">
          <mat-icon matPrefix class="searchIcon">search</mat-icon>
          <input
            matInput
            type="text"
            [placeholder]="'searchUsers' | translate"
            autocomplete="off"
            [formControl]="searchUser"
          />
        </mat-form-field>
      </span>
    </div>
  </div>
  <div
    *ngIf="users$ | async as users; else loadingUsers"
    class="dis-flex users-content"
  >
    <cwp-dynamictable
      [dataSource]="dataSource"
      [configOptions]="configOptions"
      (fetchDataCallback)="handleTableEvent($event)"
      (rowLevelActionHandler)="rowLevelActionHandler($event)"
      class="width-100"
    ></cwp-dynamictable>
  </div>
  <div class="footer">
    <button
      mat-button
      class="cancel-btn"
      autofocus="false"
      translate="cancelBtn"
      (click)="onCancel()"
      tabindex="-1"
    ></button>

    <button
      mat-raised-button
      class="create-btn"
      type="submit"
      translate="createBtn"
      mat-dialog-close
      (click)="onCreate()"
    ></button>
  </div>
</div>

<ng-template #loadingUsers>
  <div style="padding: 0 20px">
    <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
    <ngx-shimmer-loading [width]="'100%'" [height]="'20px'">
    </ngx-shimmer-loading>
  </div>
</ng-template>
