<div class="bg-white categories-div categories-grid">
  <div class="categories-header dis-flex">
    <div class="categories-row-heading width-80">
      <svg-icon icon="icon-categories" class="categories-icon"></svg-icon>
      <span class="categories-heading">Categories</span>
    </div>
    <div class="width-20">
      <button
        type="button"
        class="btn btn-link font-weight-bold btn-link-custom categories-button"
        (click)="open(catSubscribeComponent, {})"
        *appCheckUserHasPermission="[permissions.createCategory]"
      >
        <svg-icon icon="icon-addcategory" class="categories-img"></svg-icon>
        <span class="addcategory">Add Category</span>
      </button>
    </div>
  </div>
  <ng-container
    *ngIf="
      this.isCategoriesLoading === false && this.categoriesList
        | filter : searchCriteria
        | orderBy : 'Created_At' : true : true
        | paginate : config as result
    "
  >
    <div
      *ngIf="
        (result.length === 0 && categoriesList.length > 0) ||
        (categoriesList && categoriesList.length === 0)
      "
      class="no-fav"
    >
      {{
        categoriesList.length ? 'No Results Found !!' : 'No Categories found !!'
      }}
    </div>
    <mat-grid-list
      cols="3"
      rowHeight="190px"
      class="categories-details"
      [ngClass]="{ 'categories-details-with-no-results': result.length === 0 }"
    >
      <mat-grid-tile *ngFor="let obj of result; let i = index">
        <div
          *ngIf="obj.CId !== defaultCategoryId"
          class="card custom-card hoverWrapper categories-details-card"
          [ngClass]="{ highlight: selectedCategoryIndex === i }"
        >
          <a [routerLink]="['/work-instructions/category', obj.CId]">
            <img
              class="card-img-top width-100 h-100px"
              [ngStyle]="getS3CoverImageStyles(obj.Cover_Image)"
              [hidden]="!getImageSrc(obj.Cover_Image, obj.CId)"
              [attr.src]="getImageSrc(obj.Cover_Image, obj.CId)"
              alt=""
            />
          </a>
          <div class="card-body categories-details-card-body">
            <p>
              <a
                [routerLink]="['/work-instructions/category', obj.CId]"
                class="categories-Title"
                matTooltip="{{ obj.Category_Name }}"
              >
                {{ obj.Category_Name }}</a
              >
            </p>
            <p class="categories-Wicount">
              <b>{{ obj.Drafts_Count }}</b> Drafted -
              <b>{{ obj.Published_Count }}</b> Published
            </p>
            <div id="hoverShow1" class="categories-details-card-hover">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                (menuOpened)="menuOpened(i)"
                (menuClosed)="menuClosed()"
                class="m-r-20"
                *appCheckUserHasPermission="[
                  permissions.updateCategory,
                  permissions.deleteCategory
                ]"
                aria-label="More Options"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="open(catSubscribeComponent, obj)"
                  id="editCategory"
                  *appCheckUserHasPermission="[permissions.updateCategory]"
                >
                  <span class="menu-text">Edit Category</span>
                </button>
                <button
                  mat-menu-item
                  (click)="open(delCatSubscribeComponent, obj)"
                  id="deleteCategory"
                  *appCheckUserHasPermission="[permissions.deleteCategory]"
                >
                  <span class="menu-text text-red">Delete Category</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div
          *ngIf="obj.CId === defaultCategoryId"
          class="card custom-card hoverWrapper categories-details-card"
        >
          <a [routerLink]="['/work-instructions/category', obj.CId]"
            ><img
              #image
              class="card-img-top width-100 h-100px"
              src="{{ obj.Cover_Image }}"
              alt=""
          /></a>
          <div class="card-body categories-details-card-body">
            <p>
              <a
                [routerLink]="['/work-instructions/category', obj.CId]"
                class="categories-Title"
                matTooltip="{{ obj.Category_Name }}"
                >{{ obj.Category_Name }}</a
              >
            </p>
            <p class="categories-Wicount">
              <strong>{{ obj.Drafts_Count }}</strong> Drafted -
              <strong>{{ obj.Published_Count }}</strong> Published
            </p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div [hidden]="result.length === 0">
      <pagination-template
        #p="paginationApi"
        [id]="config.id"
        (pageChange)="config.currentPage = $event"
        (pageBoundsCorrection)="config.currentPage = $event"
      >
        <app-custom-pagination-controls
          [paginationData]="p"
        ></app-custom-pagination-controls>
      </pagination-template>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="this.isCategoriesLoading === true">
  <div class="ghost-loader-categories-container">
    <div class="categories-div">
      <div class="categories-div-width">
        <ngx-shimmer-loading [width]="'95%'" [height]="'100px'">
        </ngx-shimmer-loading
        ><br />
        <ngx-shimmer-loading [width]="'70%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" [height]="'10px'">
        </ngx-shimmer-loading>
      </div>
      <div class="categories-div-width">
        <ngx-shimmer-loading [width]="'95%'" [height]="'100px'">
        </ngx-shimmer-loading
        ><br />
        <ngx-shimmer-loading [width]="'70%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" [height]="'10px'">
        </ngx-shimmer-loading>
      </div>
      <div class="categories-div-width">
        <ngx-shimmer-loading [width]="'95%'" [height]="'100px'">
        </ngx-shimmer-loading
        ><br />
        <ngx-shimmer-loading [width]="'70%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" [height]="'10px'">
        </ngx-shimmer-loading>
      </div>
    </div>
    <div class="categories-div">
      <div class="categories-div-width">
        <ngx-shimmer-loading [width]="'95%'" [height]="'100px'">
        </ngx-shimmer-loading
        ><br />
        <ngx-shimmer-loading [width]="'70%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" [height]="'10px'">
        </ngx-shimmer-loading>
      </div>
      <div class="categories-div-width">
        <ngx-shimmer-loading [width]="'95%'" [height]="'100px'">
        </ngx-shimmer-loading
        ><br />
        <ngx-shimmer-loading [width]="'70%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" [height]="'10px'">
        </ngx-shimmer-loading>
      </div>
      <div class="categories-div-width">
        <ngx-shimmer-loading [width]="'95%'" [height]="'100px'">
        </ngx-shimmer-loading
        ><br />
        <ngx-shimmer-loading [width]="'70%'" [height]="'20px'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [width]="'70%'" [height]="'10px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</ng-container>
