@import '../../../../scss/colors.scss';

.upload-list-view {
  .upload-modal {
    width: 400px;
    height: auto;
    overflow: hidden;
    padding: 17px;
    background: $white;
    border-radius: 4px;
  }

  .heading {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .cancel-btn {
    color: $blue-main;
    border-color: $blue-main;
    float: right;
    margin-right: 15px;
  }

  .review-btn {
    background-color: $blue-main;
    color: $white;
    float: right;
  }

  .review-btn:disabled {
    background-color: $gray2-bg;
    color: $gray7;
  }

  .sub-heading {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 15px;
  }

  ::ng-deep .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 15px;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #4caf50;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background-color: #edf7ed;
  }

  .review-text {
    text-align: right;
    margin-right: 60px;
    margin-bottom: 30px;
    color: $blue-main;
    font-weight: 500;
    cursor: pointer;
  }

  .success-message {
    display: flex;
    font-weight: 300;
    div {
      padding: 40px;
      margin: 15px;
      text-align: center;
      border-radius: 15px;
      width: 50%;

      &:first-child {
        background-color: #edf7ed;
      }

      &:last-child {
        background-color: #feeceb;
      }

      img {
        display: block;
        margin: auto;
        padding-bottom: 15px;
      }
    }
  }
}
