<div class="upload-list-view">
  <div class="upload-modal">
    <div *ngIf="!isReviewed">
      <h1 class="heading">{{ title }}</h1>
      <img
        src="assets/master-configurations/upload.svg"
        *ngIf="!isSuccess"
        alt="upload-inprogress"
        class="center"
      />
      <img
        src="assets/master-configurations/upload-done.svg"
        *ngIf="isSuccess"
        alt="upload-done"
        class="center mb-5"
      />
      <mat-progress-bar
        *ngIf="!isSuccess"
        mode="indeterminate"
      ></mat-progress-bar>
      <mat-progress-bar
        *ngIf="isSuccess"
        mode="determinate"
        value="100"
      ></mat-progress-bar>
      <div class="sub-heading">{{ message }}</div>
      <button
        mat-stroked-button
        class="cancel-btn"
        type="button"
        *ngIf="!isSuccess"
        (click)="onClose()"
        translate="cancelBtn"
      ></button>
      <button
        *ngIf="isSuccess"
        (click)="onReview()"
        mat-raised-button
        class="review-btn"
        translate="review"
        type="submit"
      ></button>
    </div>
    <div *ngIf="isReviewed">
      <div class="success-message">
        <div>
          <img
            src="assets/master-configurations/upload-success.svg"
            alt="upload-icon"
          />
          {{ successCount }} {{ type }} {{ 'successfullyUpload' | translate }}
        </div>
        <div>
          <img
            src="assets/master-configurations/upload-error.svg"
            alt="upload-icon"
          />
          {{ failedCount }} {{ type }} {{ 'failedUpload' | translate }}
        </div>
      </div>
      <div class="review-text" *ngIf="failedCount > 0" (click)="downloadExcel()">
        {{ 'downloadExcel' | translate }}
      </div>

      <button
        mat-stroked-button
        class="review-btn"
        type="button"
        (click)="onClose()"
        translate="closeBtn"
      ></button>
    </div>
  </div>
</div>
