<div mat-dialog-title>Select questions to be hidden</div>
<div mat-dialog-content>
  <div class="dialogBody">
    <div class="logicRow">
      <mat-icon>info</mat-icon>
      If answer {{ data.operator }} {{ data.operand2 }}
    </div>
    <div *ngFor="let section of sections">
      <div class="sectionHead">{{ section.name }}</div>
      <div class="sectionContent">
        <mat-checkbox
          *ngFor="let question of section.questions"
          class="question"
          [checked]="selectedQuestions.indexOf(question.id) > -1"
          (change)="selectQuestion($event.checked, question.id)"
          [ngClass]="{
            'strike-question': selectedQuestions.indexOf(question.id) > -1
          }"
        >
          {{
            question.name && question.name.length
              ? question.name
              : 'Untitled question'
          }}
          - {{ question.id }}</mat-checkbox
        >
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="close()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="submit()"
  >
    Okay
  </button>
</mat-dialog-actions>
