::ng-deep .mat-dialog-container {
  padding: 25px !important;
}
.dialogBody {
  max-height: 400px;
  .logicRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 16px 16px;
    background: #eff6ff;
    border-radius: 6px;
    justify-content: flex-start;
    color: #1e40af;
    .mat-icon {
      color: #60a5fa;
      margin-right: 5px;
    }
  }
}
.sectionHead {
  display: flex;
  padding: 10px;
  margin: 5px 0px;
  align-items: center;
  background: rgba(61, 90, 254, 0.15);
}
.sectionContent {
  display: flex;
  flex-direction: column;
  .question {
    padding: 5px;
    margin-left: 10px;
  }
}

.strike-question {
  text-decoration: line-through;
}
.currentQuestion {
  font-size: 110%;
  font-weight: 500;
  color: #000000;
}
