@import '../../../../../scss/colors.scss';

.cdk-drag-placeholder {
  display: none;
}
.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 3px 3px -2px $black4, 0 8px 10px 1px $black5,
    0 3px 14px 2px $black6;
  background: $gray35;
  opacity: 0.3;
}
.drop-inside {
  border: 3px solid $blue6;
}
.drop-before {
  border-top: 5px solid $blue6;
}
.drop-after {
  border-bottom: 5px solid $blue6;
}

.children {
  margin-left: 40px;
}
.childrenHead {
  display: flex;
  align-items: center;
  margin-left: 45px;
  .expandCollapseBtn {
    cursor: pointer;
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
}

.node-children {
  position: relative;
  transition: height 0.2s;
  margin-left: 40px;
}

.node-title {
  padding: 15px;
  margin: 5px;
  background: $gray;
  cursor: grab;
}

// NODE CSS

.node {
  &:hover {
    background: $gray35;
    color: $black;
  }
}

.parentNode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $gray41;
  border-bottom: 1px solid $gray41;
  padding: 10px;
  min-width: max-content;
  .left {
    display: flex;
    width: 85%;
    flex-direction: column;
    img {
      max-width: 40px;
      max-height: 40px;
    }
    .description {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
    }
  }

  .right {
    display: flex;
    align-items: center;
    .more-icon {
      cursor: pointer;
    }
  }
}
.nodeContent {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.children {
  margin-left: 40px;
}
.childrenHead {
  padding: 10px;
  display: flex;
  align-items: center;
  color: $blue-main;
  .expandCollapseBtn {
    cursor: pointer;
    padding: 2%;
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
}
.white {
  color: $white;
  &:hover {
    color: $white;
  }
}
.displayInlineBlock {
  display: inline-block;
}
.inactive {
  color: $light-gray !important;
}
.active {
  background: $active-blue;
  color: $white;
}

.active:hover {
  background-color: $blue28;
  color: $white;
}

.question-six-dots {
  height: 15px;
  width: 15px;
  position: relative;
  top: 6px;
  cursor: move;
  right: 2px;
}

.noMarginLeft {
  margin-left: 0px !important;
}
.showHierarchy {
  background-color: $white;
  box-shadow: $black7 0px 5px 15px;
  border-radius: 5px;
}
.nodeCount {
  background: $active-blue;
  min-width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  margin-right: 10px;
}

.nodeCountInvert {
  background: $white;
  color: $active-blue;
}
.routePlanContainer {
  height: 65vh;
  overflow: auto;
}

.node-icon {
  height: 24px;
  width: 24px;
  position: relative;
  top: 2px;
}

.show-popup {
  position: fixed;
  background: $white;
  border: 1px solid $gray41;
}
