<ng-container
  *ngIf="{
    selectedNode: selectedNode$ | async,
    nodeWiseQuestionsCount: nodeWiseQuestionsCount$ | async
  }"
>
  <ng-template #tmplNode let-node="node">
    <div
      class="node-item"
      [attr.data-id]="node.id"
      [attr.id]="'node-' + node.id"
    >
      <div
        *ngIf="!node.isDeletedInRoutePlan"
        class="parentNode node"
        [ngClass]="{ active: selectedNode.id === node.id }"
        (click)="setSelectedNode(node)"
      >
        <div class="left">
          <div class="dis-flex">
            <svg-icon
              icon="icon-six-dots"
              *ngIf="hierarchyMode !== 'asset_hierarchy'"
              cdkDragHandle
              class="question-six-dots"
            ></svg-icon>
            <div class="nodeContent" class="nodeContent">
              <svg-icon
                [icon]="
                  node?.type === 'location'
                    ? 'icon-locationIcon'
                    : 'icon-asset-icon'
                "
                class="node-icon"
              ></svg-icon>
              <div class="description">
                <span class="title">{{ node.name }}</span>
                <span class="subTitle">
                  {{
                    'nodeSubTitle'
                      | translate
                        : {
                            nodeType: node.type | titlecase,
                            nodeId: node.nodeId
                          }
                  }}
                </span>
              </div>
            </div>
          </div>
          <div
            *ngIf="node.hasChildren || (node.children && node.children.length)"
            class="childrenHead"
            [ngClass]="{ white: selectedNode.id === node.id }"
          >
            <span
              class="expandCollapseBtn"
              (click)="node.isExpanded = !node.isExpanded"
              ><mat-icon [ngClass]="{ 'rotate-270': !node.isExpanded }"
                >expand_circle_down</mat-icon
              ></span
            >
            <span>
              {{
                'nodeChildrenHead'
                  | translate
                    : {
                        assetsCount:
                          assetHierarchyUtil.getAssetsLocationsCountByNode(
                            node
                          ),
                        tasksCount: getTotalTasksCountByNode(node)
                      }
              }}
            </span>
          </div>
        </div>
        <div class="right">
          <span
            class="nodeCount"
            [ngClass]="{ nodeCountInvert: selectedNode.id === node.id }"
          >
            {{ getTasksCountByNodeId(node.id) }}
          </span>
          <span
            [matMenuTriggerFor]="hierarchyMenu"
            #hierarchyMenuTrigger="matMenuTrigger"
            class="more-icon"
            aria-label="More Options"
          >
            <mat-icon>more_horiz</mat-icon>
          </span>
          <mat-menu #hierarchyMenu="matMenu" xPosition="before">
            <button
              mat-menu-item
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin"
              (click)="toggleShowHierarchyPopover(node)"
            >
              <span translate="showHierarchy"></span>
            </button>
            <ng-template
              cdkConnectedOverlay
              [cdkConnectedOverlayOrigin]="trigger"
              [cdkConnectedOverlayOpen]="togglePopover"
              *ngIf="node.id === nodeSelectedForShowHierarchy.id"
              (backdropClick)="togglePopover = true"
            >
              <div
                class="show-popup"
                [ngStyle]="{ top: positions.top, left: positions.left }"
              >
                <app-show-hierarchy-popup
                  #showHierarchy
                  class="showHierarchy"
                  [nodeUid]="nodeSelectedForShowHierarchy.uid"
                  (closeHierarchyOverlay)="togglePopover = $event"
                  [positions]="positions"
                ></app-show-hierarchy-popup>
              </div>
            </ng-template>
            <button mat-menu-item (click)="triggerCopyNode(node)">
              <span translate="copy"></span>
            </button>
            <button
              mat-menu-item
              class="text-red"
              (click)="onRemoveNode($event, node)"
            >
              <span translate="delete"></span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div
        *ngIf="node.isExpanded && node.children.length"
        class="node-children"
        [ngClass]="{ noMarginLeft: node.isDeletedInRoutePlan }"
        cdkDropList
        [cdkDropListData]="node.children"
        [id]="node.id"
        [cdkDropListConnectedTo]="dropTargetIds"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListSortingDisabled]="true"
      >
        <div
          *ngFor="let child of node.children"
          cdkDrag
          [cdkDragData]="child.id"
          (cdkDragMoved)="dragMoved($event)"
        >
          <ng-container
            *ngTemplateOutlet="tmplNode; context: { node: child }"
          ></ng-container>
        </div>
      </div>
    </div>
  </ng-template>
  <div
    cdkDropList
    [cdkDropListData]="hierarchy"
    [id]="'main'"
    [cdkDropListConnectedTo]="dropTargetIds"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListSortingDisabled]="true"
    class="routePlanContainer"
    cdkScrollable
  >
    <div
      *ngFor="let node of hierarchy"
      cdkDrag
      [cdkDragData]="node.id"
      (cdkDragMoved)="dragMoved($event)"
    >
      <ng-container
        *ngTemplateOutlet="tmplNode; context: { node: node }"
      ></ng-container>
    </div>
  </div>
</ng-container>
