<div class="report-delete-modal">
  <p id="userDeleteDeactivate" class="title" *ngIf="this.multiple !== true">
    {{ 'deactivateUser' | translate }}
  </p>
  <p id="userDeleteTitle" class="title" *ngIf="this.multiple === true">
    {{ 'deactivate' | translate }}
    {{ this.selctedUsersList.length === 1 ? 'User?' : 'Users?' }}
  </p>
  <p id="userDeleteWarning" class="warning-body" *ngIf="this.multiple !== true">
    {{ 'deactivateUserWarning' | translate }}
    <b>{{ firstName + ' ' + lastName }}</b
    >?
  </p>

  <p
    id="userDeleteMultiWarning"
    class="warning-body"
    *ngIf="this.multiple === true"
  >
    {{ 'deactivateUsersWarning' | translate }}
    {{ this.selctedUsersList.length === 1 ? 'User?' : 'Users?' }}
  </p>

  <button
    id="userDeleteYesBtn"
    mat-raised-button
    color="warn"
    class="yes-no-btn"
    (click)="deleteUser()"
  >
    Yes
  </button>
  <button
    id="userDeleteNoBtn"
    mat-button
    color="primary"
    class="yes-no-btn"
    autofocus="false"
    mat-dialog-close
  >
    No
  </button>
</div>
