<div
  class="import-questions-modal"
  *ngIf="{ formMetadata: formMetadata$ | async }"
>
  <div class="dis-flex heading-conatiner">
    <h2 class="heading" translate>Import from?</h2>
    <mat-icon class="clear-icon" mat-dialog-close="true">clear</mat-icon>
  </div>
  <div class="list-view">
    <div class="main-container">
      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="'TEMPLATES' | translate"> </mat-tab>
        <mat-tab [label]="'ROUND PLANS' | translate"> </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="search">
    <mat-form-field class="width-100" appearance="outline">
      <input
        matInput
        [placeholder]="'search' | translate"
        class="width-100"
        autocomplete="off"
        [formControl]="searchRoundPlan"
      />
      <mat-icon matSuffix class="icon">search</mat-icon>
    </mat-form-field>
  </div>
  <div
    *ngIf="roundPlans$ | async as forms; else loadingForms"
    class="list-container"
  >
    <div
      *ngFor="let form of forms.data; let i = index"
      class="dis-flex list-item-conatiner"
    >
      <li
        class="selected-list-element"
        (click)="selectListItem(form, i)"
        [ngClass]="{ active: selectedItem === i }"
      >
        <div class="width-100">
          <p class="form-name">{{ form.name }}</p>
          <p class="form-des">
            {{
              (form.description ? form.description : 'formDescription')
                | translate
            }}
          </p>
        </div>
        <!-- <div class="width-30">
          <p class="no-of-ques">{{ form.countOfQues }} Questions</p>
        </div> -->
      </li>
    </div>
    <div class="dis-flex no-records" *ngIf="forms.data.length === 0" translate>
      noResults
    </div>
  </div>

  <!-- <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayPanelClass="custom-popover"
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isPopoverOpen"
    [cdkConnectedOverlayOrigin]="trigger"
    cdkConnectedOverlayWidth="400px"
    (backdropClick)="isPopoverOpen = false"
  >
    <app-filter
      [ngClass]="{ 'rounds-filter': nameRound === true }"
      [json]="filterJson"
      (close)="isPopoverOpen = false"
      (apply)="applyFilter($event)"
      (reset)="resetFilter()"
    ></app-filter>
  </ng-template> -->

  <div mat-dialog-actions class="actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="disableSelectBtn"
      (click)="selectFormElement()"
      translate="select"
    ></button>
    <button
      mat-stroked-button
      mat-dialog-close="true"
      translate="close"
    ></button>
  </div>
</div>

<ng-template #loadingForms>
  <div class="ghost-loading">
    <div *ngFor="let number of ghostLoading">
      <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
      </ngx-shimmer-loading>
    </div>
  </div>
</ng-template>
