.signin-container {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-card {
    padding: 2em;
    z-index: 100;

    .signin {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .sso-button {
      margin: 0 0.5em;
      width: 300px;
    }
  }
}
