@import '../../../../scss/colors.scss';

::ng-deep .date-segment .mat-button-toggle-group {
  height: 34px;
  align-items: center;
  border: 1px solid $white2;
}

::ng-deep
  .date-segment
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  padding: 0 12px;
  font-size: 95%;
}

.date-segment {
  margin-left: 10px;
  margin-top: -10px;
}

::ng-deep .mat-datepicker-content {
  display: block;
  border-radius: 4px;
  position: relative;
  left: -295px;
}

.date-range-form-field {
  visibility: hidden;
  width: 0;
}
