<div class="iphone-view" *ngIf="formMetadata$ | async as formMetadata">
  <div class="ipad-view-default-content">
    <div class="width-100">
      <div class="main-carosuel-iphone">
        <div class="iphone-header">
          <div class="dis-flex p-5 p-b-0">
            <div class="width-60 status-bar-left">9:41</div>
            <div class="width-40 iphone-status-bar-right m-r-10">
              <mat-icon class="status-bar-icons">signal_cellular_alt</mat-icon>
              <mat-icon class="status-bar-icons">wifi</mat-icon>
              <mat-icon class="status-bar-icons battery_full-icon">
                battery_full
              </mat-icon>
            </div>
          </div>
          <mat-icon class="back-button"> keyboard_arrow_left </mat-icon>
          <div class="dis-flex">
            <div class="width-10 m-t-12">
              <img
                src="assets/rdf-forms-icons/file-icon.png"
                alt="file-icons"
                class="file-icon"
              />
            </div>
            <div class="width-90 form-div">
              <span class="form-name">
                {{ formMetadata.embeddedFormId }}
              </span>
              <br />
              <span class="form-description">
                {{ formMetadata.name ? formMetadata.name : 'Unititled Form' }}
              </span>
            </div>
          </div>
        </div>

        <div class="iphone-body-content">
          <app-preview-for-embedded-forms
            [pageIndex]="currentPage"
            [subFormId]="subFormId"
            [moduleType]="moduleType"
          ></app-preview-for-embedded-forms>
        </div>

        <div>
          <button class="btns" translate="submit"></button>
          <button class="btns" translate="save"></button>
        </div>
      </div>
    </div>
  </div>
</div>
