<div class="bottom-list">
  <div class="bottom-list-option" matLine translate="chooseOption"></div>
  <hr />
  <span matListItemTitle translate="createIssue"></span>
  <hr />
  <button
    (click)="openHistoryBottomSheet()"
    class="history-bottom-sheet"
    click
    matListItemTitle
    [disabled]="data.history === false"
    translate="historyTxt"
  ></button>
  <hr />
  <span
    class="skip-task-list-item"
    matListItemTitle
    translate="skipTask"
  ></span>
  <hr />
  <button
    matListItemTitle
    class="close-bottom-sheet"
    (click)="closeBottomSheet()"
    translate="cancel"
  ></button>
</div>
