<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [title]="headerTitle"></app-header>
    <ion-row>
      <ion-col class="spareparts-header">
        <app-common-filter [title]="headerTitle" 
                           [showOverdueList]="showOverdueList" 
                           [priorityList]="priorityList">
        </app-common-filter>
        <app-date-segment (dateRangeEvent)="dateRangeEventHandler($event)"></app-date-segment>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ngx-spinner size="medium" bdColor="#C0C0C0" type="ball-clip-rotate-pulse" [fullScreen]="false"></ngx-spinner>
  <ion-row *ngIf="this.filteredWorkOrderList$ | async as workOrders" class="spareparts-page">
    <ion-col class="width-20">
      <ion-list class="ion-list1">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['1'].length}}</span>
            <br>
            <span class="kit-heading">Kits Required</span>
          </ion-label>
        </ion-item>
        <div class="column-height">
            <ion-item lines="none" *ngFor="let workOrder of workOrders['1']; let i = index;">
              <ion-label>
                <span class="kit-number">{{workOrder.workOrderID}}</span><br>
                <span class="display-flex">
                  <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
                </span>
                <span class="display-flex" *ngIf="workOrder.priorityStatus !== ''">
                  <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
                </span>
                <span class="display-flex">
                  <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                  <span
                    [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
                </span>
                <span *ngIf="this.technicians$ | async as technicians">
                    <button mat-button [matMenuTriggerFor]="menu" class="assign-picklist-btn">
                        <img src="../../../assets/spare-parts-icons/assign.svg" style="width: 18px;"/>
                        <span class="assign-text-class">ASSIGN PICKLIST</span>   
                    </button>
                  
                    <mat-menu #menu="matMenu" class="custom-mat-menu">
                      <button mat-menu-item *ngFor="let technician of technicians; let i = index;" (click)="assignTech(technician.fName,workOrder.workOrderID);">
                        <span> {{technician.fName}}</span>
                      </button>
                    </mat-menu>
                </span>
              </ion-label>
            </ion-item>
        </div>

      </ion-list>
    </ion-col>
    <ion-col class="width-20">
      <ion-list class="ion-list2">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['2'].length}}</span>
            <br>
            <span class="kit-heading">Assigned For Picking</span>
          </ion-label>
        </ion-item>
        <div class="column-height">
            <ion-item lines="none" *ngFor="let workOrder of workOrders['2']; let i = index;">
              <ion-label>
                <span class="kit-number">{{workOrder.workOrderID}}</span><br>
                <span class="display-flex">
                  <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
                </span>
                <span class="display-flex" *ngIf="workOrder.priorityStatus !== ''">
                  <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
                </span>
                <span class="display-flex">
                  <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                  <span
                    [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
                </span>
                <div class="display-flex m-t-10">
                  <ion-img [src]="technicianProfile" style="width:15px;"></ion-img>
                  <span class="m-l-10">{{workOrder.assignee}}</span>
                </div>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-col>
    <ion-col class="width-20">
      <ion-list class="ion-list3">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['3'].length}}</span>
            <br>
            <span class="kit-heading">Kitting In Progress</span>
          </ion-label>
        </ion-item>
        <div class="column-height">
            <ion-item lines="none" *ngFor="let workOrder of workOrders['3']; let i = index;">
              <ion-label>
                <span class="kit-number">{{workOrder.workOrderID}}</span><br>
                <span class="display-flex">
                  <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
                </span>
                <span class="display-flex" *ngIf="workOrder.priorityStatus !== ''">
                  <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
                </span>
                <span>
                  <span class="display-flex">
                    <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                    <span class="date-priority-label">{{workOrder.staged}} of {{workOrder.totItems}} Parts Picked</span>
                  </span>
                  <div class="m-l-20">
                    <ion-progress-bar value={{workOrder.progressValue}} color="medium" class="progress-bar-class">
                    </ion-progress-bar>
                    <span
                      [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
                  </div>
                </span>
                <div class="display-flex m-t-10">
                  <ion-img [src]="technicianProfile" style="width:15px;"></ion-img>
                  <span class="m-l-10">{{workOrder.assignee}}</span>
                </div>
              </ion-label>
            </ion-item>
        </div>
      </ion-list>
    </ion-col>
    <ion-col class="width-20">
      <ion-list class="ion-list4">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['4'].length}}</span>
            <!-- <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br> -->
            <br>
            <span class="kit-heading">Kits Complete</span>
          </ion-label>
        </ion-item>
        <div class="column-height">
            <ion-item lines="none" class="no-padding-item" *ngFor="let workOrder of workOrders['4']; let i = index;">
              <ion-label class="no-margin">
                <!-- <div class="pickedup-date-time">
                  Pickup Today, 10am-11am
                </div> -->
                <div class="padding">
                  <span class="kit-number">{{workOrder.workOrderID}}</span><br>
                  <span class="display-flex">
                    <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                    <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
                  </span>
                  <span class="display-flex" *ngIf="workOrder.priorityStatus !== ''">
                    <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
                    <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
                  </span>
                  <span class="display-flex">
                    <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                    <span class="date-priority-label">{{workOrder.totItems}} Parts</span>
                  </span>
                </div>
              </ion-label>
            </ion-item>
        </div>
      </ion-list>
    </ion-col>
    <ion-col class="width-20">
      <ion-list class="ion-list5">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['5'].length}}</span>
            <!-- <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br> -->
            <br>
            <span class="kit-heading">Kits Issued</span>
          </ion-label>
        </ion-item>
        <div class="column-height">
          <ion-item lines="none" class="no-padding-item" *ngFor="let workOrder of workOrders['5']; let i = index;">
            <ion-label class="no-margin">
              <div class="padding">
                <span class="kit-number">{{workOrder.workOrderID}}</span><br>
                <span class="display-flex">
                  <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
                </span>
                <span class="display-flex">
                  <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.totItems}} Parts</span>
                </span>
                <span class="display-flex">
                  <ion-img [src]="pickedUpIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">Picked up by {{workOrder.assignee}}</span>
                </span>
              </div>
            </ion-label>
          </ion-item>
      </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>