<ion-header className="nav-header">
  <ion-toolbar>
    <app-header [title]="headerTitle"></app-header>
    <ion-row>
      <ion-col class="spareparts-header">
          <!-- <ion-searchbar placeholder="Search Work Orders" [formControl]="filter" class="searchbar" disabled></ion-searchbar> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" placeholder="Search" aria-label="Search"style="border:1px solid #F2F2F2; opacity: 0.75; background:#F2F2F2;">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <ion-img [src]="filterIcon"
                         [popover]="popTemplate"
                         [placement]="'bottom'"
                         [container]="'body'"
                         #pop="bs-popover"></ion-img>
              </span>
            </div>
          </div>
          <ng-template #popTemplate>
            <form #form="ngForm">
              <mat-form-field appearance="outline" class="mat-field">
                <mat-label>Show Overdue</mat-label>
                <mat-select name="showOverdue" [(ngModel)]="showOverdue">
                  <mat-option *ngFor="let showdue of showOverdueList" [value]="showdue">
                    {{showdue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="mat-field">
                <mat-label>Priority</mat-label>
                <mat-select name="priority" multiple [(ngModel)]="priority">
                  <mat-option *ngFor="let prioritizedItem of priorityList" [value]="prioritizedItem">{{prioritizedItem}}</mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="mat-field">
                <mat-label>Kitting Status</mat-label>
                <mat-select name="kitStatus" multiple [(ngModel)]="kitStatus">
                  <mat-option *ngFor="let kit of kitStatusList" [value]="kit">{{kit}}</mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field appearance="outline" class="mat-field">
                <mat-label>Work Center</mat-label>
                <mat-select name="workCenter" multiple [(ngModel)]="workCenter">
                  <mat-option *ngFor="let workCenterItem of workCenterList" [value]="workCenterItem">{{workCenterItem}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="mat-field" *ngIf="workCenter != ''">
                <mat-label>Assignee</mat-label>
                <mat-select name="assign" multiple [(ngModel)]="assign">
                  <mat-option *ngFor="let assigned of assignList" [value]="assigned">{{assigned}}</mat-option>
                </mat-select>
              </mat-form-field> 

              <br/>
              <button class="btn apply-filters-btn" (click)="pop.hide()">Apply</button>
              <button (click)="form.reset()" class="reset-filters-btn">Reset</button>
              
            </form>
          </ng-template>

          
          <ion-segment [formControl]="selectDate" mode="ios" value="today" class="segment-group">
            <ion-segment-button value="today" class="segment-button">
              <ion-label>Today</ion-label>
            </ion-segment-button>
            <hr class="segmented-line"/>
            <ion-segment-button value="week" class="segment-button">
              <ion-label>Due This Week</ion-label>
            </ion-segment-button>
            <hr class="segmented-line"/>
            <ion-segment-button value="month" class="segment-button">
              <ion-label>This Month</ion-label>
            </ion-segment-button>
            <hr class="segmented-line"/>
             <ion-segment-button value="custom" class="segment-button" disabled>
              <ion-label>Custom</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>  
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-row *ngIf="this.filteredWorkOrderList$ | async as workOrders">
    <ion-col>
      <ion-list class="ion-list1">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.kitsrequired.length}}</span>
            <br>
            <span class="kit-heading">Kits Required</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.kitsrequired; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.priorityStatus}} Priority</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="partsIcon" class="list-icons"></ion-img>
              <span [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
            </span>
            <span>
              <ion-button (click)="openSelect()" expand="full" class="assign-picklist-btn">
                <ion-img [src]="assignIcon" class="assignIcon-class"></ion-img>
                <span class="assign-text-class">ASSIGN PICKLIST</span> 
              </ion-button>          
              <ion-item style="display: none;" *ngIf="this.technicians$ | async as technicians">
               
                <ion-label>Assign To:</ion-label>
                <ion-select #select1 mode="ios" (ionChange)="optionsFn($event, i);" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let technician of technicians.technicians; let i = index;">
                  <ion-toolbar>
                    <ion-img [src]="profile1"></ion-img>
                    <ion-label>{{technician.personName}}</ion-label>
                  </ion-toolbar>
                   
                </ion-select-option>
                <!-- <ion-select-option><ion-img [src]="profile2"></ion-img>Carlos Arnal </ion-select-option>
                <ion-select-option><ion-img [src]="profile3"></ion-img>Steve Austin</ion-select-option> -->
                </ion-select>
              </ion-item>
            </span>
          </ion-label>        
        </ion-item>
       
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list2">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.assingedforpicking.length}}</span>
            <br>
            <span class="kit-heading">Assigned For Picking</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.assingedforpicking; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.priorityStatus}} Priority</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="partsIcon" class="list-icons"></ion-img>
              <span [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
            </span>
            <span>
              <!-- <ion-item>
                <ion-select value="this.selectedUser" [interfaceOptions]="customPopoverOptions" interface="popover" mode="ios">
                <ion-select-option value="Amy Butcher">
                  <ion-toolbar>
                    <ion-img [src]="profile1"></ion-img>
                    <ion-label>Amy Butcher</ion-label>
                  </ion-toolbar>
                   
                </ion-select-option>
                <ion-select-option value="Carlos Arnal"><ion-img [src]="profile2"></ion-img>Carlos Arnal </ion-select-option>
                <ion-select-option value="Steve Austin"><ion-img [src]="profile3"></ion-img>Steve Austin</ion-select-option>
                </ion-select>
              </ion-item>   -->
            </span>
            <div class="m-t-10">
              <img [src]="baseCode"/>
              <span class="m-l-10">Amy Butcher</span>
            </div>  
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list3">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.kittinginprogress.length}}</span>
            <br>
            <span class="kit-heading">Kitting In Progress</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders.kittinginprogress; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.priorityStatus}} Priority</span>
            </span>
            <span>
              <span class="display-flex">
                <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                <span class="date-priority-label">{{workOrder.progress[0]}} of {{workOrder.progress[1]}} Parts Picked</span>
              </span>
              <div class="m-l-20">
                <ion-progress-bar value={{workOrder.progressValue}} color="medium" class="progress-bar-class"></ion-progress-bar>
                <span [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
              </div>
             
            </span>
            <div class="m-t-10">
              <img [src]="baseCode"/>
              <span class="m-l-10">Amy Butcher</span>
            </div>  
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list4">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders.kitscomplete.length}}</span>
            <!-- <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br> -->
            <br>
            <span class="kit-heading">Kits Complete</span>
          </ion-label>
       </ion-item>
        <ion-item lines="none"  class="no-padding-item" *ngFor="let workOrder of workOrders.kitscomplete; let i = index;">
          <ion-label class="no-margin">
            <div class="pickedup-date-time">
              Pickup Today, 10am-11am 
            </div>
            <div class="padding">
              <span class="kit-number">{{workOrder.workOrderID}}</span><br>
              <span class="display-flex">
                <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
              </span>
              <span class="display-flex">
                <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
                <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
              </span>
              <span class="display-flex">
                  <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.progress[0]}} Parts</span>
              </span>
            </div>
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list5">
        <ion-item>
          <ion-label>
            <span class="kits-count">0</span>
            <!-- <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br> -->
            <br>
            <span class="kit-heading">Kits Picked Up</span>
          </ion-label>
        </ion-item>
       </ion-list>
    </ion-col>
  </ion-row> 
</ion-content>