<ion-header className="nav-header">
  <ion-toolbar>
    <app-header [title]="headerTitle"></app-header>
    <ion-row>
      <ion-col class="spareparts-header">
         
        <app-common-filter [title]="headerTitle" 
        [showOverdueList]="showOverdueList"
        [priorityList]="priorityList"
        [kitStatusList]="kitStatusList"
        [workCenterList]="workCenterList"
        [assignList]="assignList"
        (filterEvent)="searchFilter($event)">
      </app-common-filter>
          
           <ion-segment [formControl]="selectDate" mode="ios" value="today" class="segment-group">
            <ion-segment-button value="today" class="segment-button">
              <ion-label>Today</ion-label>
            </ion-segment-button>
            <hr class="segmented-line"/>
            <ion-segment-button value="week" class="segment-button">
              <ion-label>Due This Week</ion-label>
            </ion-segment-button>
            <hr class="segmented-line"/>
            <ion-segment-button value="month" class="segment-button">
              <ion-label>This Month</ion-label>
            </ion-segment-button>
            <hr class="segmented-line"/>
             <ion-segment-button value="custom" class="segment-button" disabled>
              <ion-label>Custom</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-col>  
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-row *ngIf="this.filteredWorkOrderList$ | async as workOrders">
    <ion-col>
      <ion-list class="ion-list1">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['1'].length}}</span>
            <br>
            <span class="kit-heading">Kits Required</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders['1']; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="partsIcon" class="list-icons"></ion-img>
              <span [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
            </span>
            <span>
              <ion-button (click)="openSelect()" expand="full" class="assign-picklist-btn">
                <ion-img [src]="assignIcon" class="assignIcon-class"></ion-img>
                <span class="assign-text-class">ASSIGN PICKLIST</span> 
              </ion-button>          
              <ion-item style="display: none;" *ngIf="this.technicians$ | async as technicians">
               
                <ion-label>Assign To:</ion-label>
                <ion-select #select1 mode="ios" (ionChange)="optionsFn($event, i);" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let technician of technicians.technicians; let i = index;">
                  <ion-toolbar>
                    <ion-img [src]="profile1"></ion-img>
                    <ion-label>{{technician.personName}}</ion-label>
                  </ion-toolbar>
                   
                </ion-select-option>
                <!-- <ion-select-option><ion-img [src]="profile2"></ion-img>Carlos Arnal </ion-select-option>
                <ion-select-option><ion-img [src]="profile3"></ion-img>Steve Austin</ion-select-option> -->
                </ion-select>
              </ion-item>
            </span>
          </ion-label>        
        </ion-item>
       
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list2">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['2'].length}}</span>
            <br>
            <span class="kit-heading">Assigned For Picking</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders['2']; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="partsIcon" class="list-icons"></ion-img>
              <span [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
            </span>
            <span>
              <!-- <ion-item>
                <ion-select value="this.selectedUser" [interfaceOptions]="customPopoverOptions" interface="popover" mode="ios">
                <ion-select-option value="Amy Butcher">
                  <ion-toolbar>
                    <ion-img [src]="profile1"></ion-img>
                    <ion-label>Amy Butcher</ion-label>
                  </ion-toolbar>
                   
                </ion-select-option>
                <ion-select-option value="Carlos Arnal"><ion-img [src]="profile2"></ion-img>Carlos Arnal </ion-select-option>
                <ion-select-option value="Steve Austin"><ion-img [src]="profile3"></ion-img>Steve Austin</ion-select-option>
                </ion-select>
              </ion-item>   -->
            </span>
            <div class="m-t-10">
              <img [src]="baseCode"/>
              <span class="m-l-10">Amy Butcher</span>
            </div>  
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list3">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['3'].length}}</span>
            <br>
            <span class="kit-heading">Kitting In Progress</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" *ngFor="let workOrder of workOrders['3']; let i = index;">
          <ion-label>
            <span class="kit-number">{{workOrder.workOrderID}}</span><br>
            <span class="display-flex">
              <ion-img [src]="dateIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
            </span>
            <span class="display-flex">
              <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
              <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
            </span>
            <span>
              <span class="display-flex">
                <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                <span class="date-priority-label">{{workOrder.staged}} of {{workOrder.totItems}} Parts Picked</span>
              </span>
              <div class="m-l-20">
                <ion-progress-bar value={{workOrder.progressValue}} color="medium" class="progress-bar-class"></ion-progress-bar>
                <span [ngClass]="{'parts-available-label':workOrder.partsavailable==='PARTS AVAILABLE' , 'waiting-on-parts-label': workOrder.partsavailable==='WAITING ON PARTS'}">{{workOrder.partsavailable}}</span>
              </div>
             
            </span>
            <div class="m-t-10">
              <img [src]="baseCode"/>
              <span class="m-l-10">Amy Butcher</span>
            </div>  
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list4">
        <ion-item>
          <ion-label>
            <span class="kits-count">{{workOrders['4'].length}}</span>
            <!-- <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br> -->
            <br>
            <span class="kit-heading">Kits Complete</span>
          </ion-label>
       </ion-item>
        <ion-item lines="none"  class="no-padding-item" *ngFor="let workOrder of workOrders['4']; let i = index;">
          <ion-label class="no-margin">
            <div class="pickedup-date-time">
              Pickup Today, 10am-11am 
            </div>
            <div class="padding">
              <span class="kit-number">{{workOrder.workOrderID}}</span><br>
              <span class="display-flex">
                <ion-img [src]="dateIcon" class="list-icons"></ion-img>
                <span class="date-priority-label">{{workOrder.dueDate | date: 'd-MMM-yyyy'}}</span>
              </span>
              <span class="display-flex">
                <ion-img [src]="priorityIcon" class="list-icons"></ion-img>
                <span class="date-priority-label">{{workOrder.priorityStatus}}</span>
              </span>
              <span class="display-flex">
                  <ion-img [src]="partsIcon" class="list-icons"></ion-img>
                  <span class="date-priority-label">{{workOrder.totItems}} Parts</span>
              </span>
            </div>
          </ion-label>        
        </ion-item>
       </ion-list>
    </ion-col>
    <ion-col>
      <ion-list class="ion-list5">
        <ion-item>
          <ion-label>
            <span class="kits-count">0</span>
            <!-- <ion-img [src]="filterIcon" class="filter-icon"></ion-img><br> -->
            <br>
            <span class="kit-heading">Kits Picked Up</span>
          </ion-label>
        </ion-item>
       </ion-list>
    </ion-col>
  </ion-row> 
</ion-content>