:host /deep/ .searchbar-input.sc-ion-searchbar-md {
  background: #F2F2F2;
  opacity: 0.75;
  border-radius: 8px;
  box-shadow: none;
}

:host /deep/ .mat-form-field-flex > .mat-form-field-infix { 
  padding: 0.4em 0px !important;
}

:host /deep/ .mat-form-field-label-wrapper { 
  top: -1.5em; 
}

:host /deep/ .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

ion-content {
  --ion-background-color: #f2f2f2;
}

ion-col {
  padding: 20px 10px;
}

ion-list {
  --ion-background-color: white;
  border-radius: 8px;
  padding: 0;
}

ion-item {
  --ion-background-color: white;
  border-bottom: 1px solid #CCCCCC; 
  padding: 0;
  --border-width: 0;
  --border-color: transparent;
}

.kits-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.kit-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.kit-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #000000;
}


.filter-icon {
  padding-top: 11px;
}

.date-priority-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #76767B;
  padding: 2px 0;
}

.parts-available-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #34C759;
  border-radius: 2px;
  padding: 2px 6px;
  margin-top: 2px;
}
.waiting-on-parts-label{

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #FF9500;
    border-radius: 2px;
    padding: 2px 6px;
    margin-top: 2px;
}

.assign-picklist-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 14px;
  color: #000000;
  margin-top:10px;
  --box-shadow: none;
  --background:#F2F2F2;
  height: 36px;
}

.assignIcon-class {
  width: 20px;
}

.assign-text-class {
  padding-left: 10px;
  padding-top: 2px;
}

select#gender option[value="male"]   { background-image:url('../../../assets/spare-parts-icons/profilePicture1.svg');   }
select#gender option[value="female"] { background-image:url('../../../assets/spare-parts-icons/profilePicture2.svg'); }
select#gender option[value="others"] { background-image:url('../../../assets/spare-parts-icons/profilePicture3.svg'); }

.ion-list1 {
  border-top: 10px solid #AF52DE;;
}

.ion-list2 {
  border-top: 10px solid #5856D6;
}

.ion-list3{
  border-top: 10px solid #FFCC00;
}

.ion-list4{
  border-top: 10px solid #34C759;
}

.ion-list5 {
  border-top: 10px solid #007AFF;
}

.list-icons {
  width: 20px;
  padding-right: 7px;
}

.display-flex {
  display: flex;
}

.spareparts-header {
  display: flex;
  padding: 10px 0 20px 0;
}

.searchbar {
  width: 270px;     
  margin: 0 10px;
  padding: 0;
}

.filter-btn {
  display: flex; 
  height: 42px;
  border-radius: 8px; 
  padding: 0 10px;
}

.filter-btn-icon {
  width: 15px; 
  margin-top: 13px;
}

.filter-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  align-items: center;
  color: #7D7D7D;
  padding-left: 10px;
}

.filter-btn-arrow {
  margin-top: 16px; 
  margin-left: 30px;
}

.segment-group {
  margin: 0 10px;
  height: 42px;
}

.segmented-line {
  border: 1px solid #CCCCCC;
  height: 22px;
  margin-top: 9px;
}

.segment-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  --color: #7D7D7D;
  min-width: 100px;
}

.segment-button-checked {
  background: transparent;
  --indicator-height: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  --color: #000000;
}

.pickedup-date-time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
  background-color: #E5E5E5; 
  padding: 5px 15px;
}

.progress-bar-class {
  margin-bottom: 7px;
  height: 6px;
  border-radius: 8px;
  width: 85%;
}

.mat-field {
  width: 100%;
}

.reset-filters-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #3D5AFE;
  background: transparent;
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
}

.apply-filters-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  float: right;
  background: #3D5AFE;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 15px;
}


.m-l-20 {
  margin-left: 20px;
}

.no-padding-item {
  --padding-start:0; 
  --inner-padding-end:0;
}

.no-margin {
  margin:0 !important;
}

.padding {
  padding: 10px 0px 10px 15px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.filters-row {
  padding: 0px 10px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: auto;
  padding-left: 15px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  opacity: 0.75;
}

.input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

input:focus {
  outline: none;
}