@import '../../../../../../scss/colors.scss';

.modal-card {
  width: 460px;
  background-color: $white;
  border-radius: 5px;
  height: 510px;
}

.category-header {
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 15px 10px 10px 20px;
  font-size: 120%;
}

.category-body {
  overflow: auto;
  height: 390px;
  padding: 0;
  margin: 0;

  ::ng-deep .mat-dialog-content {
    padding: 0;
    overflow: auto;
    margin: 0;
    height: auto;
    max-height: 390px;
  }
}

.title-field {
  width: 98%;
  height: 22px;
  padding: 0.375rem 0 0.375rem 0.75rem;
  font-size: 120%;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cancel-icon {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.form-headings {
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  line-height: 19px;
  color: $gray11;
  margin-bottom: 7px;
}

.form-input {
  background: $white;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 36px;
}
label {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}
.coverImages {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.coverImages:hover {
  opacity: 1;
}
.s3coverImage {
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
}

.invalid-feedback {
  color: red;
}

.uploadfilecontainer1 {
  height: 36px;
  width: 100%;
  border: 1px dashed #cccccc;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 1rem;
}

.uploadfilecontainertitle {
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  line-height: 19px;
  color: $gray-text;
  padding-top: 8px;
  text-align: center;
  position: relative;
  left: 35%;
  top: 8px;
}
.uploadfilecontainer1:hover {
  cursor: pointer;
  opacity: 0.8;
}

.files-list {
  overflow-x: hidden;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img {
  width: 30px;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  border: 4px solid $blue-main;
  border-radius: 4px;
  opacity: 1;
}

.save-btn {
  width: 160px;
  height: 36px;
  background: $blue-main;
  border-radius: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 1.25px;
  color: $white;
  float: right;
  cursor: pointer;
  border: none;
  margin: 10px 25px;
}

.save-btn:hover {
  background-color: $blue-main;
}

.save-btn:disabled {
  width: 131px;
  height: 36px;
  background: $border-color-gray;
  border-radius: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 1.25px;
  color: black;
  margin: 10px 25px;
}

.char-count {
  color: $gray-text;
}

.upload-img {
  ::ng-deep svg {
    width: 15px !important;
    height: 15px !important;
    position: relative;
    left: -5px;
    top: 2px;
  }
}

.text-required {
  color: red;
}

.pt10 {
  padding-top: 10px;
}

.row-padding {
  padding: 5px 0px 10px 0px;
}

.cover-image {
  position: relative;
  left: -7px;
}
.margin-bottom {
  margin-bottom: -35px;
}

.h-30 {
  height: 30px;
}

.max-count {
  position: absolute;
  right: 25px;
}
