<div class="modal-card custom-modal-card bg-white">
  <section class="modal-card-head">Delete Category?</section>
  <section class="modal-card-body">
    {{ ref.data.WI_COUNT }}
    <div
      *ngIf="
        (ref && ref.data.Drafts_Count === 0) ||
        (ref && ref.data.Published_Count === 0)
      "
    >
      Do you want to delete category
      <strong>'{{ ref.data.Category_Name }}'</strong> ?
    </div>
    <div
      *ngIf="
        (ref && ref.data.Drafts_Count > 0) ||
        (ref && ref.data.Published_Count > 0)
      "
    >
      Category <strong>'{{ ref.data.Category_Name }}'</strong> will be deleted.
      All work instructions will be available in the 'Unassigned' category. Do
      you want to continue?
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="buttons is-right">
      <button (click)="close('no')" type="button" class="no-btn">No</button>
      <button (click)="close('yes')" type="button" class="yes-btn">Yes</button>
    </div>
  </footer>
</div>
