<div class="assets-list-view">
  <div class="main-container">
    <div class="assets-header">
      <div>
        <h2 class="heading" translate="assets"></h2>
      </div>
      <div>
        <span class="custom-form-field-gray-color search">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix class="searchIcon">search</mat-icon>
            <input
              matInput
              type="text"
              [placeholder]="'searchLocation' | translate"
              autocomplete="off"
              [formControl]="searchAssets"
            />
            <img [src]="filterIcon" matSuffix alt="Open Filter" />
          </mat-form-field>
        </span>

        <button
          mat-raised-button
          [matMenuTriggerFor]="createMenu"
          translate="createNew"
          class="create-new-btn"
        ></button>
        <mat-menu #createMenu="matMenu">
          <button mat-menu-item class="menu-buttons" disabled>
            <img
              src="assets/master-configurations/upload-from-excel.svg"
              alt="Excel"
              class="menu-icons"
            />
            <span>Upload Excel</span>
          </button>
          <button mat-menu-item (click)="addManually()" class="menu-buttons">
            <img
              src="assets/master-configurations/add-manually.svg"
              alt="add manually"
              class="add-manually-icon"
            />
            <span>Add Manually</span>
          </button>
        </mat-menu>

        <button
          mat-raised-button
          [matMenuTriggerFor]="moreMenu"
          class="more-btn"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <button mat-menu-item (click)="exportAsXLSX()" class="menu-buttons">
            <img
              src="assets/master-configurations/upload-from-excel.svg"
              alt="Excel"
              class="menu-icons"
            />
            <span>Download Template</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <div *ngIf="(assets$ | async) && (isLoading$ | async) === false">
      <cwp-dynamictable
        [dataSource]="dataSource"
        [configOptions]="configOptions"
        (fetchDataCallback)="handleTableEvent($event)"
        (rowLevelActionHandler)="rowLevelActionHandler($event)"
        (onConfigOptionsChange)="configOptionsChangeHandler($event)"
        (cellClickActionHandler)="cellClickActionHandler($event)"
        class="width-100"
      ></cwp-dynamictable>
    </div>
  </div>

  <ng-container *ngIf="assetsAddOrEditOpenState">
    <app-add-edit-assets
      [@slideInOut]="assetsAddOrEditOpenState"
      (slideInOut)="onCloseAssetsAddOrEditOpenState($event)"
      [assetsEditData]="assetsEditData"
      (createdAssetsData)="addOrUpdateAssets($event)"
    ></app-add-edit-assets>
  </ng-container>

  <ng-container *ngIf="openAssetsDetailedView">
    <app-assets-detail-view
      [@slideInOut]="openAssetsDetailedView"
      (slideInOut)="onCloseAssetsDetailedView($event)"
      [selectedAsset]="selectedAsset"
    ></app-assets-detail-view>
  </ng-container>

  <div *ngIf="isLoading$ | async">
    <div class="ghost-loading">
      <div *ngFor="let number of ghostLoading">
        <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</div>
