.spare-parts-body {
  height: 100%;
  margin-right: 14px;
}

.spareparts-page {
  height: 120vh;
  padding: 20px 0;
}

.header-filters {
  display: flex;
  background-color: #ffffff;
  height: 50px;
  padding-top: 10px;
}

.spcc-filters {
  position: absolute;
  right: 25px;
  margin-top: -3px;
}

.plants-workcenters {
  background: #ffffff;
  margin-top: -52px;
}

@media (max-width: 1365px) {
  .plants-workcenters {
    padding-left: 0 !important;
    margin-top: 0;
    padding-top: 10px;
  }

  .header-filters {
    height: auto;
  }
}

.list-elements {
  padding: 12px;
  border-bottom: 1px solid #cccccc;
  list-style-type: none;
}

.kits-count {
  font-style: normal;
  font-weight: bold;
  font-size: 150%;
  line-height: 26px;
  color: #000000;
}

.kit-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 16px;
  color: #000000;
}

.kits-required {
  border-top: 10px solid #af52de;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.assign-for-picking {
  border-top: 10px solid #5856d6;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.kitting-in-progress {
  border-top: 10px solid #ffcc00;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.kits-complete {
  border-top: 10px solid #007aff;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.kits-issued {
  border-top: 10px solid #34c759;
  width: 100%;
  margin: 0;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.li-cols {
  border-top: 1px solid #cccccc;
  padding: 10px 15px 10px 15px;
}

.li-cols:first-child {
  border-top: none;
  padding: 10px 15px 10px 15px;
}

.column-height {
  max-height: calc(100vh - 240px);
  overflow-y: scroll;
}

.filter-option {
  height: 48px !important;
}

.filter-option-desc {
  margin: 0px 0px;
}

.filter-option-id {
  margin: 0px 0px;
  color: #757575;
  height: 19px;
}

.loader-position {
  position: relative;
  top: 5px;
}
