.main-container {
  background-color: #ffffff;
  height: 90vh;
  position: relative;
}

.roles-header {
  text-align: right;
  padding: 7px;
  border-bottom: 1px solid #e7e7e7;
}

.more-roles {
  position: relative;
  top: -2px;
}

.count-of-roles {
  margin: 0 0 0 10px;
}

.unselected-role-text {
  text-align: center;
  position: relative;
  top: 40%;
  line-height: 30px;
  color: #757575;
  letter-spacing: 0.15px;
}

.roles-count {
  font-weight: 500;
  font-size: 110%;
  color: #212121;
  position: relative;
  right: 7px;
}

.roles-text {
  position: relative;
  left: -6px;
  font-weight: 500;
  font-size: 110%;
  color: #9e9e9e;
}

.add-role-btn {
  background: #3d5afe;
  color: #ffffff;
  box-shadow: none;
  margin-left: 10px;
  height: 29px;
  font-weight: normal;
  line-height: normal;
}

.roles-content {
  height: 80vh;
}

.roles-left-panel {
  border-right: 1px solid #e7e7e7;
}

.roles-right-panel {
  border-bottom: 1px solid #e7e7e7;
}

.roles-title {
  position: relative;
  top: 5px;
}

.search-form-field {
  width: 95%;
  margin: 0 10px 10px 10px;
  position: relative;
  top: 5px;
}

.copy-role-btn {
  color: #3d5afe;
  border: 1px solid #bdbdbd;
  float: right;
  margin: 8px 10px 0 0;
  height: 29px;
  font-weight: normal;
  line-height: normal;
}

.save-role-btn {
  background-color: #3d5afe;
  color: #ffffff;
  float: right;
  margin: 8px 10px 0 0;
  box-shadow: none;
  height: 29px;
  font-weight: normal;
  line-height: normal;
}

.show-cancel-btn {
  display: block;
}

.hide-cancel-btn {
  display: none;
}

.role-name {
  padding: 10px;
  margin-top: 3px;
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.role-count {
  padding: 3px 7px;
  font-size: 80%;
  background: rgba(61, 90, 254, 0.08);
  border-radius: 20px;
  position: absolute;
  right: 40px;
}

.super-admin-icon {
  position: relative;
  top: 2px;
  ::ng-deep svg {
    height: 15px !important;
    width: 20px !important;
  }
}

.more-items {
  position: absolute;
  right: 0;
}

.roles {
  padding: 0;
  height: 68vh;
  overflow-y: auto;
  background: white;
}

.roles-list {
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
}

.roles-list:first-child {
  border-top: 1px solid #e7e7e7;
}

.selected-roles-list {
  background: rgba(61, 90, 254, 0.08);
  .role-name {
    color: #5449b7;
  }
}

.roles-list:hover {
  background-color: rgba(61, 90, 254, 0.08);
}

.custom-mat-form-field-white-color {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 8px;
    background: #ffffff;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -24px !important;
  }
  ::ng-deep.mat-form-field-flex > .mat-form-field-infix {
    padding: 1px 0px 8px 0px !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }
}

.mat-error-name {
  position: absolute;
  z-index: 10;
  margin-left: 20px;
  margin-top: -7px;
  background: white;
  padding: 0 4px;
  letter-spacing: 0.4px;
}

.mat-error-description {
  position: absolute;
  z-index: 10;
  margin-left: 7px;
  margin-top: -7px;
  background: white;
  padding: 4px;
  letter-spacing: 0.4px;
}

.role-errors {
  margin-bottom: 0 !important;
}

.confirm-btn {
  background-color: red;
  color: yellow;
}

.text-red-color {
  color: #f44336;
}

.error-fields {
  white-space: nowrap;
  margin-left: -10px;
  background: white;
}

.roles-content {
  ::ng-deep .mat-form-field-subscript-wrapper {
    width: auto;
  }
}
