<h1 mat-dialog-title class="dialogHead">Deleting "{{ data.node.name }}"?</h1>
<div mat-dialog-content class="dialogContent">
  <span *ngIf="data.hierarchyMode === 'asset_hierarchy'">
    Deleting the node "{{ data.node.name }}" would result in deletion of all of
    it's instances. Please confirm.
  </span>
  <span *ngIf="data.hierarchyMode !== 'asset_hierarchy'">
    Please confirm.
  </span>
</div>
<div mat-dialog-actions class="dialogFooter">
  <button mat-button class="noBtn" (click)="closeDialog()">No</button>
  <button mat-button (click)="confirmDelete()" class="confirmBtn">Yes</button>
</div>
