<h1 mat-dialog-title class="dialogHead" id="hierarchyDeleteName">
  {{ 'deleteNode' | translate : { nodeName: data.node.name } }}
</h1>
<div mat-dialog-content class="dialogContent">
  <span
    id="hierarchyDeleteMessage"
    *ngIf="data.hierarchyMode === 'asset_hierarchy'"
  >
    {{ 'deleteNodeMessage' | translate : { nodeName: data.node.name } }}
  </span>
  <span
    *ngIf="data.hierarchyMode !== 'asset_hierarchy'"
    translate="deleteMessagePleaseConfirm"
  >
  </span>
</div>
<div mat-dialog-actions class="dialogFooter">
  <button
    id="hierarchyDeleteCloseBtn"
    mat-button
    class="noBtn"
    (click)="closeDialog()"
    translate="no"
  ></button>
  <button
    id="hierarchyDeleteYesBtn"
    mat-button
    (click)="confirmDelete()"
    class="confirmBtn"
    translate="yes"
  ></button>
</div>
