// IE10&11 Flexbox fix
@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column;
  }
}

.background {
  background-color: #E5E5E5;
}

.app,
app-dashboard,
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: hidden;

  .main {
    flex: 1;
    min-width: 0;
    background: white;
  }
}