// General
$transitionDuration: 300ms !default;
$gutter: 1rem !default;
$transitionTiming: cubic-bezier(0.35, 0, 0.25, 1);
$sidebarTrnTime: 0.3s;

// Widths
$sidebar-width: 16rem !default;
$compact-sidebar-width: 70px !default;
$compact-big-sidebar-width: 150px !default;
