@import "bulma-modal";
// If you want to add something do it here
@import "custom";

// Custom Modal
// @import '~bulma/css/bulma.css';
@import "layout";

// Quill
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

.modal {
  pointer-events: none !important;
}

.modal-content {
  pointer-events: all !important;
}

li.breadcrumb-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1351D8;
}

li.breadcrumb-item.active span {
  outline: none !important;
  border: none
}

.navbar-minimized .app-sidebar-nav-dropdown a {
  padding-left: 15px !important;
}

.mat-select-panel {
  margin-top: 30px !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #DBE6FF;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: rgba(0,0,0,.87);
  background: #DBE6FF;
}

.mat-chip-list-wrapper {
  margin: -15px -4px 10px -4px !important;
}

.mat-radio-label {
  white-space: normal;
}

.mat-radio-container {
  height: 16px !important;
  width: 16px !important;
}
.mat-radio-outer-circle {
  height: 16px !important;
  width: 16px !important;
  border-color: #3678af;
}
.mat-radio-inner-circle {
  height: 16px !important;
  width: 16px !important;
  border-color: #3678af;
}
.mat-radio-button .mat-radio-ripple {
  height: 32px !important;
  width: 32px !important;
  left: calc(50% - 16px) !important;
  top: calc(50% - 16px) !important;
}
.mat-button-wrapper {
  position: relative;
  top: 1px !important;
}

.mat-tab-label {
  height: 48px !important;
  padding: 0px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.9;
  min-width: auto !important;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.ipad-view .mat-progress-bar {
  display: block;
  height: 1px !important;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100% !important;
  left: 43px !important;
}
.iphone-view .mat-progress-bar {
  display: block;
  height: 1px !important;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100% !important;
  left: 43px !important;
}
.ql-toolbar.ql-snow {
  position: absolute;
  top: -29px !important;
  background: white;
  z-index: 1;
  left: 16px !important;
  display: none;
}

.ql-editor {
  padding: 0;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul {
  margin-bottom: 1rem !important;
}

.ql-editor p:last-child {
  margin-bottom: 0 !important;
}

.ql-editor.ql-blank p {
  margin-bottom: 0 !important;
}

.display-toolbar .ql-editor {
  padding: 12px 15px !important;
}

.display-toolbar .ql-toolbar.ql-snow {
  display: block;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none;
}

.form-field {
  margin-bottom: -15px !important;
}

.editor-p {
  text-align: left;
  padding-left: 10px !important;
}

.editor-ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.editor-ul {
  list-style-type: disc;
  list-style-position: inside;
}

.editor-listvalues {
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.custom-header-height .mat-tab-label {
  width: 100% !important;
}

.mat-tab-label .mat-tab-label-content {
  width: 100% !important;
}

.mat-tab-label .mat-tab-label-content label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 1rem;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0 !important;
  color: white;
  vertical-align: 0.5em !important;
  content: "";
  border-top: 0.3em solid !important;
  border-right: 0.3em solid transparent !important;
  border-bottom: 0 !important;
  border-left: 0.3em solid transparent !important;
}


.mat-chip-list-wrapper .mat-standard-chip {
  margin: 12px 4px 5px 4px !important;
}

textarea.mat-input-element {
  overflow-y: hidden;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  position: relative;
}

.mat-tab-label-container {
  display: flex;
  flex-grow: 0;
  overflow: hidden;
  z-index: 1;
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none;
}

.mat-tab-header-pagination-after, .mat-tab-header-pagination-before {
  padding-right: 4px !important;
  display: none !important;
  box-shadow: none !important;
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.swal2-container {
  z-index: 10001 !important;
}

.stepsbar .mat-tab-label {
  height: 48px !important;
  padding: 0px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.9 !important;
  min-width: auto !important;
  width: auto !important;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.stepsbar .mat-tab-label .mat-tab-label-content {
  width: 100% !important;
}

.stepsbar .mat-tab-label .mat-tab-label-content label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 1rem;
  cursor: pointer;
  max-width: 180px !important;
}

.copy-ins .modal-body .mat-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  border-bottom: 2px;
}
.copy-ins .modal-body .mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 50%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.nav-link .nav-dropdown-toggle {
  margin-left: 15px !important;
}

.nav-item:first-child {
  margin-left: 15px;
}

.copy-ins .modal-body .mat-tab-label:hover {
  background-color: #DBE6FF !important;
}

.copy-ins .modal-body .mat-tab-label-active:hover {
  background-color: #FFFFFF !important;
}

.login .mat-form-field {
  display: inline;
  position: relative;
  text-align: left;
}

.user-regstration .mat-form-field {
  display: inline;
  position: relative;
  text-align: left;
}

.swal2-styled.swal2-confirm {
  width: 130px !important;
}
.swal2-styled.swal2-cancel {
  width: 130px !important;
}

.login .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;

}
.login .mat-form-field-label-wrapper {
  top: -1.5em;
}

.login .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
}

.login .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 5px 1em 0 1em;
}

.login .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #E8E8E8;
  color: #E8E8E8;
  border-radius: 5px;
}
.login .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #E8E8E8;
}

button.mat-menu-item {
  width: 100%;
  height: 40px;
}

// .login .mat-form-field.mat-form-field-invalid .mat-form-field-label {
//   color: #878787;
// }

// .login .mat-error {
//   font-size: 12px !important;
//   color: #878787;
//   margin-bottom: 10px !important;
// }

.login .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0 0.75em 0;
}

a {
  color:black;
}