<div class="locations-list-view">
  <ng-container *ngIf="userInfo$ | async">
    <div class="main-container">
      <div class="locations-header">
        <div>
          <h2 id="plantListHeading" class="heading" translate="plants"></h2>
        </div>
        <div>
          <span class="custom-form-field-gray-color search">
            <mat-form-field appearance="outline">
              <mat-icon id="plantListSearchIcon" matPrefix class="searchIcon"
                >search</mat-icon
              >
              <input
                id="plantListSearchText"
                matInput
                type="text"
                [placeholder]="'searchId' | translate"
                autocomplete="off"
                [formControl]="searchPlant"
              />
              <svg-icon
                id="plantListFilterIcon"
                matSuffix
                *ngIf="false"
                icon="icon-filterIcon"
                class="filter-icon"
              ></svg-icon>
            </mat-form-field>
          </span>

          <button
            id="plantListCreateBtn"
            mat-raised-button
            translate="createNew"
            class="create-new-btn"
            *appCheckUserHasPermission="[perms.createPlant, perms.importPlants]"
            (click)="addManually()"
          ></button>

          <input id="upload" hidden type="file" />
        </div>
      </div>
      <div *ngIf="(plants$ | async) && (isLoading$ | async) === false">
        <cwp-dynamictable
          [dataSource]="dataSource"
          [configOptions]="configOptions"
          (fetchDataCallback)="handleTableEvent($event)"
          (rowLevelActionHandler)="rowLevelActionHandler($event)"
          (onConfigOptionsChange)="configOptionsChangeHandler($event)"
          (cellClickActionHandler)="cellClickActionHandler($event)"
          class="width-100"
        ></cwp-dynamictable>
      </div>
      <ng-container *ngIf="plantAddOrEditOpenState">
        <app-add-edit-plant
          [@slideInOut]="plantAddOrEditOpenState"
          (slideInOut)="onClosePlantAddOrEditOpenState($event)"
          [plantEditData]="plantEditData"
          (createdPlantData)="addOrUpdatePlant($event)"
        ></app-add-edit-plant>
      </ng-container>
      <ng-container *ngIf="openPlantDetailedView">
        <app-plant-detail-view
          [@slideInOut]="openPlantDetailedView"
          (slideInOut)="onClosePlantDetailedView($event)"
          [selectedPlant]="selectedPlant"
        ></app-plant-detail-view>
      </ng-container>
      <div *ngIf="isLoading$ | async">
        <div class="ghost-loading">
          <div *ngFor="let number of ghostLoading">
            <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
            </ngx-shimmer-loading>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
