<div class="edit-template-name-modal">
  <span id="editTemplateName" class="title">{{
    'overwriteTemplateTitle' | translate : { name: data.templateName }
  }}</span>
  <span id="editTemplateNameClose" class="dialog-close-btn" (click)="close()">
    <mat-icon id="editTemplateNameCloseIcon" class="dialog-close"
      >close</mat-icon
    >
  </span>
  <p id="editTemplateNameMessage">
    {{ 'overwriteTemplateMessage' | translate : { name: data.templateName } }}
  </p>
  <button
    id="editTemplateNameSave"
    mat-raised-button
    class="save-template-btn"
    type="submit"
    (click)="save()"
  >
    {{ 'overwriteSaveTemplateBtn' | translate }}
  </button>
  <button
    id="editTemplateNameCancel"
    mat-stroked-button
    class="cancel-btn"
    translate="cancel"
    (click)="close()"
  ></button>
</div>
