.header-filters {
  background-color: #ffffff;
  height: 65px;
  margin-top: -10px;
}
.dashboard {
  background: #ffffff;
  margin: 7px 10px 7px 10px;
  display: flex;
}

.dashboard > div {
  width: 100%;
}

.dashboard-title {
  font-size: 110%;
  font-weight: 500;
  position: relative;
  left: 10px;
}

.more-icon {
  position: relative;
  left: 10px;
  background: none;
  border: none;
  z-index: 10;
  .more-icon-no-color {
    color: #757575;
  }
  ::ng-deep svg {
    width: 17px !important;
    height: 17px !important;
  }
}
.more-icon-all {
  margin-top: 18px;
}

.widgets {
  text-align: right;
}

.no-of-widgets {
  font-weight: 500;
  padding: 18px 22px;
  float: right;

  font-size: 120%;
  color: #757575;
}

.new-widget-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  letter-spacing: 0.15px;
  color: #ffffff;
  border: 1px solid #3d5afe;
  border-radius: 4px;
  background-color: #3d5afe;
  padding: 10px 14px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
}

.widget-more-icon {
  float: right;
  text-align: right;
}

.widget-header {
  padding: 0 15px 0 15px;
  margin-top: 10px;
  justify-content: space-between;
}

.widget-title {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 32px;
}

.widget-body {
  padding: 0 15px 0 15px;
  height: 85%;
}

.gridster-item-content {
  height: 100%;
}

#gridster-container {
  height: 75vh;
}

::ng-deep #gridster-container gridster .gridster-column {
  border-left: none;
  border-right: 10px solid white;
  box-sizing: initial;
  background-color: #ffffff;
}

::ng-deep #gridster-container gridster .gridster-row {
  border-top: none;
  border-bottom: 10px solid white;
  box-sizing: initial;
}

::ng-deep #gridster-container gridster {
  border-bottom: 5px solid white;
  background-color: #ffffff;
}

::ng-deep gridster-item {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.09);
}

.create-dashboard-opt {
  color: #3d5afe;
}

.default-chip {
  margin-left: 3px;
  border-radius: 15px;
  padding: 1px 6px;
  font-size: 80%;
  background: #3f51b5;
  color: #ffff;
  position: relative;
  top: -1px;
}

.w-100 {
  width: 100%;
}

.mat-icon-action {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 160%;
}

.delete-menu-item {
  color: #f6685e;
}

.widgets-count {
  position: relative;
  right: 15px;
  top: 15px;
  font-size: 110%;
  font-weight: 500;
}

.widget-count-text {
  opacity: 0.6;
}

.dropdown-dashboard-name-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 75%;
  display: inline-block;
  position: relative;
  top: 10px;
}

.dropdwon-dashboard-default {
  position: relative;
  top: -7px;
  left: 5px;
}
