<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [title]="headerTitle"></app-header>
    <div>
      <mat-form-field appearance="outline" class="plant-dropdown">
        <mat-label>Plant</mat-label>
        <mat-select value="domain_energy">
          <mat-option value="domain_energy">Domain Energy USA</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="product-dropdown">
        <mat-label>Product</mat-label>
        <mat-select value="mworkorder">
          <mat-option value="mworkorder">mWorkOrder</mat-option>
          <mat-option value="minventory">mInventory</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row customer-row">
    <div class="col-md-7">
      <img src="assets/invam-icons/preview-image.svg" class="customerlogo"/>
      <span class="customerName">Domain Energy (USA) </span>
      <span class="customerId">CUSMAR005</span>
    </div>
    <div class="col-md-3 p-0">
      <p class="customer-headings">Agreement</p>
      <span class="startDate">15 Aug 2020 - </span>
      <span class="endDate">29 Oct 2021</span>
      <img src="assets/invam-icons/divider.svg" class="divider"/>
      <span *ngIf="noOfDays < 90 || noOfDays == 90" class="redDays">{{noOfDays}} Days left</span>
      <span *ngIf="noOfDays > 90 && (noOfDays < 150 || noOfDays == 150)" class="yellowDays">{{noOfDays}} Days left</span>
      <span *ngIf="noOfDays > 150" class="greenDays">{{noOfDays}} Days left</span>
    </div>
    <div class="col-md-2 text-align">
      <p class="customer-headings">Account Manager</p>
      <span class="accountManager-name">Ryan Landes</span>
    </div>
  </div>
  <div class="row segmented-button-div">
     <div class="col-md-12 m-t-10">
        <mat-button-toggle-group value="usageReport" class="butoon-segment" [(ngModel)]="buttonSegment">
            <mat-button-toggle value="usageReport">Usage Report</mat-button-toggle>
            <mat-button-toggle value="productivityReport">Productivity Report</mat-button-toggle>
            <mat-button-toggle value="roiReport">ROI Report</mat-button-toggle>
        </mat-button-toggle-group>
     </div>
     <div class="col-md-9 m-t-20">
      <mat-form-field appearance="outline">
        <mat-label>Report Period</mat-label>
        <mat-select value="prev_year" [(ngModel)]="customPeriod">
          <mat-option value="curr_year">Current Year</mat-option>
          <mat-option value="curr_mon">Current Month</mat-option>
          <mat-option value="prev_year">Previous Year</mat-option>
          <mat-option value="cust_per">Custom Period</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3 m-t-20 text-align">
      <mat-button-toggle-group value="date" class="filtering">
        <mat-button-toggle value="date">D</mat-button-toggle>
        <mat-button-toggle value="week">W</mat-button-toggle>
        <mat-button-toggle value="month">M</mat-button-toggle>
        <mat-button-toggle value="year">Y</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-md-12 m-t-20" *ngIf="buttonSegment == 'usageReport'">
      <donut-chart></donut-chart>
      <br/>
      <users-transactions-graph></users-transactions-graph>
      <br/>
      <usage-by-module-graph></usage-by-module-graph>
      <br/>
    </div>
    <div class="col-md-12 m-t-20" *ngIf="buttonSegment !== 'usageReport'">
        No Data is present yet
    </div>
  </div>
</ion-content>
