<button
  class="play_audio_button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="isPopoverOpen = !isPopoverOpen"
>
  <mat-icon class="mat-icon-play-circle">play_circle_outline</mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="isPopoverOpen"
  [cdkConnectedOverlayOrigin]="trigger"
  (backdropClick)="isPopoverOpen = false"
>
  <mat-card class="audio-card">
    <mat-card-header class="audio-header">
      <mat-icon>music_note</mat-icon>
      <span class="audio-title">{{ getAudioTitle(fileInfo.filePath) }}</span>
    </mat-card-header>
    <mat-card-content>
      <div class="display">
        <svg-icon
          icon="icon-backward10sec"
          class="backward-icon"
          (click)="player.rewind(10)"
        ></svg-icon>
        <svg-icon
          icon="icon-play_icon"
          class="play-icon"
          (click)="play()"
          [hidden]="this.playerStatus === 'play'"
        ></svg-icon>
        <svg-icon
          icon="icon-pause_icon"
          class="play-icon"
          [hidden]="this.playerStatus === 'pause'"
          (click)="pause()"
        ></svg-icon>
        <svg-icon
          icon="icon-forward10sec"
          class="forward-icon"
          (click)="player.forward(10)"
        ></svg-icon>
      </div>

      <plyr
        [plyrType]="fileInfo.fileType"
        plyrTitle="Audio/Video Player"
        [plyrPlaysInline]="true"
        [plyrSources]="playSources"
        (plyrInit)="playerInit($event)"
        (plyrProgress)="playerProgress()"
        (plyrTimeUpdate)="playerTimeUpdate()"
        (plyrSeeked)="playerSeeked()"
        (plyrPlay)="playerPlay()"
        (plyrPause)="playerPause()"
      >
      </plyr>
      <span *ngIf="fileInfo.fileType === 'audio'" class="float-left">{{
        secondsToHms(currentTime)
      }}</span>
      <span *ngIf="fileInfo.fileType === 'audio'" class="float-right">{{
        secondsToHms(player?.duration)
      }}</span>
    </mat-card-content>
  </mat-card>
</ng-template>
