<div
  class="import-questions"
  [ngClass]="{ 'enable-import-questions': title === 'forms' }"
  *ngIf="{
    sectionIndexes: sectionIndexes$ | async,
    pagesCount: pagesCount$ | async,
    questionCounter: questionCounter$ | async
  }"
>
  <mat-card class="p-0">
    <mat-card-title class="m-0 light-gray">
      <div class="slider-heading">
        <button id="importQuestionsBackArrow" (click)="back()" class="back-btn">
          <svg-icon icon="icon-back-arrow" class="back-arrow"></svg-icon>
        </button>
        <span id="importQuestionHeading">{{
          'importQuestions' | translate
        }}</span>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div id="importQuestionFormName" class="form-name">
        {{ selectedFormName }}
      </div>
      <div *ngFor="let page of selectedFormData">
        <p id="importQuestionRight" *ngIf="!isEmbeddedForm">
          <mat-icon
            (click)="toggleIsOpen(page)"
            *ngIf="page.isOpen === false"
            class="page-arrow"
          >
            chevron_right
          </mat-icon>
          <mat-icon
            id="importQuestionExandMore"
            (click)="toggleIsOpen(page)"
            *ngIf="page.isOpen === true"
            class="page-arrow"
          >
            expand_more
          </mat-icon>

          <mat-checkbox
            id="importQuestionPageName"
            [checked]="page.checked"
            [indeterminate]="fewComplete(page)"
            (change)="setAllChecked($event.checked, page)"
          >
          </mat-checkbox>
          {{ page.name }} {{ page.position }}
        </p>
        <div *ngIf="page.isOpen === true || isEmbeddedForm">
          <div *ngFor="let section of page.sections; let i = index">
            <p class="section-div">
              <mat-icon
                id="importQuestionPageDown"
                (click)="toggleIsOpen(section)"
                *ngIf="section.isOpen === false"
                class="page-arrow"
              >
                chevron_right
              </mat-icon>
              <mat-icon
                id="importQuestionExpandPage"
                (click)="toggleIsOpen(section)"
                *ngIf="section.isOpen === true"
                class="page-arrow"
              >
                expand_more
              </mat-icon>
              <mat-checkbox
                id="importQuestionSectionName"
                [checked]="section.checked"
                [indeterminate]="checkedSectionCount(section, page)"
                (change)="setAllSectionChecked($event.checked, section)"
              >
              </mat-checkbox>
              {{ section.name }}
            </p>
            <div *ngIf="section.isOpen === true">
              <div *ngFor="let question of section.questions" class="questions">
                <mat-checkbox
                  [checked]="question.checked"
                  (change)="
                    updateAllChecked($event.checked, question, section, page)
                  "
                >
                  <span id="importQuestionQuestionName">{{
                    question.name
                  }}</span>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div *ngIf="isFooter" class="import-form-footer">
      <button
        id="importQuestionCancelBtn"
        mat-stroked-button
        class="cancel-button"
        (click)="cancel()"
        translate="cancel"
      ></button>
      <button
        id="importQuestionUseBtn"
        mat-raised-button
        color="primary"
        class="use-button"
        (click)="useForm()"
        translate="use"
      ></button>
    </div>
  </mat-card>
</div>
