@import '../../../../scss/colors.scss';

.recents-main {
  height: 95vh;
  margin-right: 14px;
}

.header-recents {
  background: white;
  height: 50px;
  padding: 0px 10px;
  justify-content: flex-end;
}

.recents-table-title h2 {
  margin: 0;
  padding: 15px 0px;
  color: $black;
  background: $white;
  font-size: 200%;
  font-weight: 600;
}

.mat-icon-circle {
  font-size: 300%;
  vertical-align: middle;
  position: relative;
  left: -15px;
  top: -10px;
  color: $gray34;
}
.mat-icon-star {
  position: relative;
  top: 6px;
}
.font-color {
  color: $black;
}

.arrow {
  font-size: 120%;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.arrow-inactive {
  color: white;
}

table {
  width: 100%;
  background: white;
  margin-top: 14px;
}

td {
  font-size: 100%;
}

thead th {
  cursor: pointer;
  border-top: none;
  text-align: left;
  font-weight: 500;
  color: $black;
  font-size: 110%;
}

tbody th {
  text-align: left;
  font-weight: 500;
  color: $black;
  font-size: 110%;
}

tbody td {
  color: $gray-bg;
  text-align: left;
  font-weight: normal;
  font-size: 100%;
}

tbody tr td:nth-child(5) {
  text-align: right;
}

.wi-name {
  position: relative;
  top: -15px;
}

.table th,
.table td {
  vertical-align: middle;
  border-bottom: 1px solid $gray31;

  padding: 10px;
}

.chip {
  background: $gray44;
  padding: 5px;
  border-radius: 4px;
  font-size: 80%;

  font-style: normal;
  font-weight: normal;
  color: $white;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  height: 15px;
}

.pagination-main {
  background-color: $white;
  height: 45px;
  padding-top: 10px;
}
