<div
  class="app-customizer"
  *ngIf="sliderOpenState.isOpen && sliderOpenState.questionId === question.id"
>
  <mat-card
    class="p-0"
    *ngIf="sliderOpenState.isOpen && question.id === sliderOpenState.questionId"
  >
    <mat-card-title class="m-0 light-gray">
      <div
        id="responseTypeSliderText"
        class="mcq-heading"
        translate="slider"
      ></div>
    </mat-card-title>
    <mat-card-content>
      <div class="dis-flex">
        <div class="width-50">
          <label
            id="responseTypeSliderForm"
            for="min"
            translate="from"
            class="values"
          ></label
          ><br />
          <input
            id="responseTypeSliderFormType"
            id="min"
            type="number"
            class="slider-inputs"
            [(ngModel)]="sliderOptions.min"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="width-50 text-align-end">
          <label
            id="responseTypeSliderTo"
            for="max"
            translate="to"
            class="values"
          ></label
          ><br />
          <input
            id="max"
            type="number"
            class="slider-inputs"
            [(ngModel)]="sliderOptions.max"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <mat-slider
        [max]="sliderOptions.max"
        [min]="sliderOptions.min"
        [step]="sliderOptions.increment"
        [(ngModel)]="sliderOptions.value"
        [ngModelOptions]="{ standalone: true }"
        class="width-100"
      >
        <input matSliderThumb />
      </mat-slider>
      <div class="margin-20">
        <label
          id="responseTypeSliderIncrement"
          for="incre"
          translate="increment"
          class="values"
        ></label>
        <br />
        <input
          id="incre"
          type="number"
          class="slider-inputs"
          [(ngModel)]="sliderOptions.increment"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <br />
      <br />
      <button
        id="responseTypeSliderCancelBtn"
        mat-stroked-button
        color="primary"
        class="cancel-slider"
        (click)="cancelSlider()"
        translate="cancel"
      ></button>
      <button
        id="responseTypeSliderApplyBtn"
        mat-raised-button
        color="primary"
        class="apply-slider-btn"
        (click)="applySliderOptions(sliderOptions)"
        translate="apply"
      ></button>
    </mat-card-content>
  </mat-card>
</div>

<div class="app-customizer" *ngIf="multipleChoiceOpenState">
  <mat-card class="p-0" *ngIf="multipleChoiceOpenState === true">
    <mat-card-title class="m-0 light-gray">
      <div
        id="responseTypeSliderMCQ"
        class="mcq-heading"
        translate="multipleChoice"
      ></div>
    </mat-card-title>
    <div [formGroup]="responseForm">
      <div
        id="responseTypeSliderMCQText"
        class="margin response-heading"
        translate="response"
      ></div>
      <input type="hidden" formControlName="id" />

      <mat-card-content>
        <div
          class="width-100 response-drop-list"
          formArrayName="responses"
          cdkScrollable
        >
          <div cdkDrop cdkDropList [cdkDropListData]="getResponseList()">
            <div *ngFor="let response of getResponseList(); let i = index">
              <div [formGroupName]="i" class="dis-flex response-list">
                <input
                  id="responseTypeSliderTitle"
                  matInput
                  formControlName="title"
                  [placeholder]="'responseTitle' | translate"
                  autocomplete="off"
                  class="input-forms"
                  (keyup.enter)="initResponse(); keytab($event)"
                />
                <div>
                  <input
                    id="responseTypeSliderColor"
                    matInput
                    class="input-forms"
                    type="color"
                    (change)="applyBGColor($event, response)"
                    class="color-type"
                    formControlName="color"
                    [hidden]="respType === 'globalResponse'"
                  />
                  <button
                    id="responseTypeSliderDelete"
                    mat-flat-button
                    (click)="deleteResponse(i)"
                    color="#545F70"
                    class="delete-btn"
                  >
                    <svg-icon
                      id="responseTypeSliderDeleteIcon"
                      icon="icon-delete-icon"
                      class="delete-btn-icon"
                    ></svg-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button
            id="responseTypeSliderAddResponseBtn"
            mat-flat-button
            (click)="initResponse()"
            class="add-response"
            translate="addRes"
          ></button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>

  <div class="actions-footer">
    <button
      id="responseTypeSliderCancelResBtn"
      mat-stroked-button
      class="cancel-response-btn"
      (click)="cancelResponse()"
      translate="cancel"
    ></button>
    <button
      id="responseTypeSliderSubmitBtn"
      mat-raised-button
      (click)="submitResponses()"
      class="submit-response-btn"
      [disabled]="isFormNotUpdated === true || responseForm.pristine"
    >
      {{ (isCreate ? 'create' : 'update') | translate }}
    </button>
  </div>
</div>

<div
  class="app-customizer"
  *ngIf="
    rangeSelectorOpenState.isOpen &&
    rangeSelectorOpenState.questionId === question.id
  "
>
  <mat-card
    class="p-0"
    *ngIf="
      rangeSelectorOpenState.isOpen === true &&
      rangeSelectorOpenState.questionId === question.id
    "
  >
    <mat-card-title class="m-0 light-gray">
      <div
        id="responseTypeSliderRangeText"
        class="mcq-heading"
        translate="rangeSelectorHeading"
      ></div>
    </mat-card-title>
    <mat-card-content class="matCardContent">
      <div class="rangeLimitContainer" [formGroup]="rangeMetadataForm">
        <div class="limit">
          <div class="limitContent">
            <div class="limitValue">
              <span
                id="responseTypeSliderRangeLowerLimit"
                translate="lowerLimitTxt"
              ></span>
              <input
                id="responseTypeSliderLimitText"
                matInput
                type="number"
                autocomplete="off"
                class="inputField"
                formControlName="min"
              />
            </div>
            <div class="limitAction">
              <label
                id="responseTypeSliderLowerCondText"
                translate="lowerLimitConditionTxt"
              ></label>
              <mat-radio-group
                class="limitRadioGroup"
                formControlName="minAction"
                [disabled]="!rangeMetadataForm.get('min').value"
              >
                <mat-radio-button
                  *ngFor="let action of lowerLimitActions"
                  class="limitRadioOption"
                  [value]="action"
                >
                  {{ action }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div
            class="limitMessage"
            [ngClass]="{
              warning: rangeMetadataForm.get('minAction').value === 'Warning',
              alert: rangeMetadataForm.get('minAction').value === 'Alert',
              note: rangeMetadataForm.get('minAction').value === 'Note'
            }"
            *ngIf="
              rangeMetadataForm.get('minAction').value &&
              rangeMetadataForm.get('minAction').value.length &&
              rangeMetadataForm.get('minAction').value !== 'None'
            "
          >
            <div class="messageHead">
              <span class="titleRow">
                <svg-icon
                  id="responseTypeSliderTitleRowIcon"
                  class="titleRowIcon"
                  [icon]="getImage(rangeMetadataForm.get('minAction').value)"
                >
                </svg-icon>
                <span id="responseTypeSliderMinAction" class="title">
                  {{ rangeMetadataForm.get('minAction').value }}
                </span>
              </span>
              <mat-icon
                id="responseTypeSliderEditIcon"
                class="editIcon"
                (click)="focusMinMsg()"
                >edit</mat-icon
              >
            </div>
            <div class="messageInput">
              <textarea
                rows="2"
                matInput
                wrap="soft"
                maxlength="70"
                placeholder="{{ 'enterMessage' | translate }}"
                id="minMsgInput"
                autocomplete="off"
                class="inputField"
                formControlName="minMsg"
              ></textarea>
            </div>
          </div>
        </div>
        <mat-divider class="limitDivider"></mat-divider>
        <div class="limit">
          <div class="limitContent">
            <div class="limitValue">
              <span
                id="responseTypeSliderUpperLimit"
                translate="upperLimitTxt"
              ></span>
              <input
                id="responseTypeSliderUpperLimitText"
                matInput
                type="number"
                autocomplete="off"
                class="inputField"
                formControlName="max"
              />
            </div>
            <div class="limitAction">
              <label
                id="responseTypeSliderUpperLimCond"
                translate="upperLimitConditionTxt"
              ></label>
              <mat-radio-group
                class="limitRadioGroup"
                formControlName="maxAction"
                [disabled]="!rangeMetadataForm.get('max').value"
              >
                <mat-radio-button
                  *ngFor="let action of upperLimitActions"
                  class="limitRadioOption"
                  [value]="action"
                >
                  {{ action }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div
            class="limitMessage"
            [ngClass]="{
              warning: rangeMetadataForm.get('maxAction').value === 'Warning',
              alert: rangeMetadataForm.get('maxAction').value === 'Alert',
              note: rangeMetadataForm.get('maxAction').value === 'Note'
            }"
            *ngIf="
              rangeMetadataForm.get('maxAction').value &&
              rangeMetadataForm.get('maxAction').value.length &&
              rangeMetadataForm.get('maxAction').value !== 'None'
            "
          >
            <div class="messageHead">
              <span class="titleRow">
                <svg-icon
                  id="responseTypeSliderTitleRow"
                  class="titleRowIcon"
                  [icon]="getImage(rangeMetadataForm.get('maxAction').value)"
                >
                </svg-icon>
                <span id="responseTypeSliderMaxAction" class="title">{{
                  rangeMetadataForm.get('maxAction').value
                }}</span>
              </span>
              <mat-icon
                id="responseTypeSliderMaxEdit"
                class="editIcon"
                (click)="focusMaxMsg()"
                >edit</mat-icon
              >
            </div>
            <div class="messageInput">
              <textarea
                rows="2"
                wrap="soft"
                matInput
                maxlength="70"
                placeholder="{{ 'enterMessage' | translate }}"
                id="maxMsgInput"
                autocomplete="off"
                class="inputField"
                formControlName="maxMsg"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="rangeSelectorFooter">
    <button
      id="responseTypeSliderCancelRangeBtn"
      mat-stroked-button
      class="cancelBtn"
      (click)="cancelRangeSelection()"
      translate="cancel"
    ></button>
    <button
      id="responseTypeSliderSubmitRangeBtn"
      mat-raised-button
      (click)="submitRangeSelection()"
      color="primary"
      class="applyBtn"
      translate="apply"
    ></button>
  </div>
</div>
