<div id="assign-rounds">
  <mat-card>
    <mat-card-title class="m-0 light-gray dis-flex title">
      <div
        id="assignInspectionHeading"
        class="heading"
        translate="selectAnOperator"
      ></div>
      <div class="cancel-side-drawer">
        <mat-icon id="assignInspectionCloseIcon" class="dialog-close"
          >close</mat-icon
        >
      </div>
    </mat-card-title>
    <mat-card-content (click)="$event.stopPropagation()">
      <div
        class="arrow"
        [ngStyle]="{ left: dropdownPosition?.left, top: dropdownPosition?.top }"
      ></div>
      <span class="custom-form-field-gray-color">
        <mat-form-field appearance="outline" class="search width-100">
          <mat-icon id="assignInspectionSearchIcon" matPrefix class="searchIcon"
            >search</mat-icon
          >
          <input
            id="assignInspectionSearchText"
            matInput
            type="text"
            [placeholder]="'search' | translate"
            autocomplete="off"
            [formControl]="searchUsers"
          />
        </mat-form-field>
      </span>
      <ng-container *ngFor="let user of filteredUsers$ | async">
        <div
          id="assignInspectionSelectAssignee"
          mat-menu-item
          class="user-menu-item"
          (click)="selectAssignee(user)"
        >
          <img
            id="assignInspectionProfileImg"
            [src]="user.profileImage"
            alt="Profile Image"
            class="profile-image"
          />
          <span class="user-info">
            <span id="assignInspectionName" class="name"
              >{{ user.firstName }} {{ user.lastName }}</span
            >
            <span id="assignInspectionEmail" class="email">{{
              user.email
            }}</span>
          </span>
        </div>
      </ng-container>
      <div
        id="assignInspectionNoResult"
        *ngIf="!filteredUsersCount"
        class="no-results"
        translate
      >
        noSearchResultsFound
      </div>
    </mat-card-content>
  </mat-card>
</div>
