@import '../../../scss/colors.scss';

.content {
  background-color: $white2;
  min-height: 100%;
}

.work-instructions-body {
  height: calc(100vh - 65px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.work-instructions-header {
  display: flex;
  margin: 0 14px 14px 0;
  padding-top: 4px;
  justify-content: flex-end;
  height: 50px;
}

.work-instructions-header {
  ::ng-deep .mat-button-toggle {
    background-color: $blue-main;
  }

  ::ng-deep .mat-button-toggle-group {
    height: 34px;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
  }
}

.search-field {
  margin: 0px 15px;
  width: 25%;
}

.create-new-ins {
  width: 275px;
  height: 42px;
  padding: 0;
  margin-top: 7px;
}

.create-new-ins-icon {
  float: left;
  padding-top: 15px;
}

.create-wi-img {
  ::ng-deep svg {
    width: 13px !important;
    height: 13px !important;
    position: relative;
    top: 2px;
  }
}

.dropdown-arrow {
  ::ng-deep svg {
    width: 10px !important;
    height: 10px !important;
  }
}

.data {
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  align-items: center;
  letter-spacing: 0.25px;
  color: $white;
  padding-left: 5px;
}

.create-new-dropdown {
  position: relative;
  top: -3px;
  width: 10px;
}

.drafts-favorites {
  margin: 0 14px 14px 0;
  display: flex;
}

.drafts-favorites-div {
  border-radius: 8px;
  height: 270px;
  position: relative;
}

.recents-favorites-lst-header {
  padding: 7px 20px;
  margin: 0;
}

.recents-favorites-lst-header span {
  position: relative;
  top: 3px;
  left: 2px;
  font-style: normal;
  font-weight: 600;
  font-size: 120%;
  color: $black;
}

.recents-favorites-list {
  padding: 15px;
  margin: 0;
}

.recents-favorites-list li {
  list-style-type: none;
  padding-bottom: 20px;
}

.list-data {
  flex-wrap: nowrap;
  display: flex;
  position: relative;
}

.no-fav {
  text-align: center;
  width: 90%;
  background: $white2;
  margin: 0 20px;
  border-radius: 5px;
  padding: 10px;
  border: 1px dashed #666;
  font-weight: 600;
}

.drafts {
  height: 20px;
  position: relative;
  top: 10px;
}
.row-gap {
  height: 20px;
  background: $white2;
  position: relative;
  top: 10px;
}

.recent-title {
  font-style: normal;
  font-weight: 600;
  font-size: 110%;
  line-height: 18px;
  color: $gray11;
  max-width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  float: left;
}

.recent-title:focus {
  outline: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.category-ellipsis {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis:focus {
  outline: none;
}
.recent-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 95%;
  line-height: 10px;
  letter-spacing: 0.25px;
  color: $gray-text;
  text-overflow: ellipsis;
  outline: none;
}

.recent-edited {
  font-style: normal;
  font-weight: normal;
  font-size: 95%;
  text-align: right;
  letter-spacing: 0.25px;
  color: $gray-text;
  float: right;
}

.seeall {
  font-style: normal;
  font-weight: 600;
  font-size: 90%;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: $blue-main;
  cursor: pointer;
  border: none;
  background: transparent;
}
.fav-icon {
  position: relative;
  left: 5px;
  top: 0px;
  margin-top: -5px;
  float: left;
}

.seeall-fixed {
  padding-bottom: 10px;
  position: absolute;
  bottom: 0%;
  left: 50%;
}

.arrow-button {
  background-color: $blue-main;
  border: none;
  border-left: 1px solid $gray11;
}

.draft-icon {
  font-weight: 600;
  font-size: 120%;
  position: relative;
  top: 2px;
}

.favorite-icon {
  font-weight: 600;
  font-size: 120%;
  position: relative;
  top: 3px;
}

.recents-favorites-list .chip {
  background: #cccccc;
  padding: 7px;
  border-radius: 4px;
  font-size: 80%;

  font-style: normal;
  font-weight: normal;
  color: $white;
  margin-left: 10px;
  text-align: center;
  margin-top: -7px;
}

.dis-flex:focus {
  outline: none;
}

.dropdown-item {
  border-bottom: none;
  padding: 7px 15px;
}

.dropdown-item-title {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 19px;
  color: $gray11;
  position: relative;
  top: -5px;
}
.dropdown-item-line {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .maximize-col {
    margin-bottom: 10px;
    min-width: 730px;
  }
}

.position {
  position: absolute;
  right: 0%;
}
