<!-- routerLink="/work-instructions/create" -->

<div *ngIf="currentRouteUrl$ | async as currentRouteUrl">
  <div
    *ngIf="currentRouteUrl === routingUrls.workInstructions.url"
    class="work-instructions-body"
  >
    <div class="bg-white work-instructions-header custom-form-field-gray-color">
      <mat-form-field appearance="outline" class="search-field">
        <mat-icon matPrefix class="searchIcon">search</mat-icon>
        <input
          matInput
          [(ngModel)]="searchCriteria"
          placeholder="Search by title or author"
        />
      </mat-form-field>
      <div
        *appCheckUserHasPermission="[
          permissions.createWorkInstruction,
          permissions.importWorkInstruction,
          permissions.copyWorkInstruction
        ]"
      >
        <mat-button-toggle-group>
          <mat-button-toggle
            (click)="openHeaderModel()"
            *appCheckUserHasPermission="[permissions.createWorkInstruction]"
          >
            <svg-icon icon="icon-createwi" class="create-wi-img"></svg-icon>
            <span class="data"> Create Work Instruction </span>
          </mat-button-toggle>
          <mat-button-toggle
            [matMenuTriggerFor]="menu"
            *appCheckUserHasPermission="[
              permissions.importWorkInstruction,
              permissions.copyWorkInstruction
            ]"
            aria-label="More Options"
          >
            <svg-icon icon="icon-dropdown" class="dropdown-arrow"></svg-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-menu #menu="matMenu">
          <button
            id="import"
            mat-menu-item
            (click)="uploader.click()"
            *appCheckUserHasPermission="[permissions.importWorkInstruction]"
          >
            <span class="dropdown-item-title">Import File</span>
          </button>
          <button
            id="copy"
            mat-menu-item
            (click)="copyWorkInstruction()"
            *appCheckUserHasPermission="[permissions.copyWorkInstruction]"
          >
            <span class="dropdown-item-title">Copy Existing</span>
          </button>
          <button
            id="export"
            mat-menu-item
            (click)="exportAsXLSX()"
            *appCheckUserHasPermission="[permissions.importWorkInstruction]"
          >
            <span class="dropdown-item-title">Download Template</span>
          </button>
        </mat-menu>
        <input
          id="upload"
          hidden
          type="file"
          #uploader
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,audio/*,video/*"
          (change)="uploadFile($event)"
          (click)="resetFile($event)"
        />
      </div>
    </div>
    <div class="drafts-favorites">
      <div class="width-50 maximize-col m-r-7">
        <div class="bg-white drafts-favorites-div">
          <div class="recents-favorites-lst-header">
            <i class="fa fa-file-o draft-icon" aria-hidden="true"></i>
            <span class="p-l-5">Drafts</span>
          </div>
          <div
            *ngIf="
              workInstructions$ | async as workInstructions;
              else loadingDrafts
            "
          >
            <ng-container
              *ngIf="
                workInstructions.drafts
                  | filter : searchCriteria
                  | sortBy : 'desc' : 'updated_at'
                  | slice : 0 : 3 as result
              "
            >
              <app-dummy #recentDrafts [value]="result"></app-dummy>
              <ul class="recents-favorites-list">
                <li class="list-data" *ngFor="let obj of result">
                  <div class="recent-wi-img p-0 width-10">
                    <img
                      class="coverImg"
                      [hidden]="!getImageSrc(obj.Cover_Image, obj.Id)"
                      [attr.src]="getImageSrc(obj.Cover_Image, obj.Id)"
                      alt=""
                    />
                  </div>

                  <div class="p-l-r-0 width-60">
                    <div
                      class="ellipsis"
                      [routerLink]="['/work-instructions/edit', obj.Id]"
                    >
                      <a>
                        <span
                          class="recent-title"
                          matTooltip="{{ obj.WI_Name }}"
                          matTooltipClass=""
                        >
                          {{ obj.WI_Name }}
                        </span>
                      </a>
                    </div>
                    <div class="category-ellipsis">
                      <span
                        class="recent-subtitle"
                        matTooltip="{{ obj.categories }}"
                        matTooltipClass=""
                        >{{ obj.categories }}</span
                      >
                    </div>
                  </div>

                  <div class="p-l-10 width-30 position">
                    <span class="recent-edited">
                      Edited {{ obj.updated_at | timeAgo }}
                    </span>
                    <br />
                    <span class="recent-edited">by {{ obj.EditedBy }}</span>
                  </div>
                </li>
              </ul>
              <div
                *ngIf="
                  (result.length === 0 && workInstructions.drafts.length > 0) ||
                  (workInstructions.drafts &&
                    workInstructions.drafts.length === 0)
                "
                class="no-fav"
              >
                {{
                  workInstructions.drafts.length
                    ? 'No Results Found !!'
                    : 'No Drafted Instructions found !!'
                }}
              </div>
              <div
                class="text-center seeall-fixed"
                *ngIf="
                  workInstructions.drafts.length !== 0 && result.length !== 0
                "
              >
                <button
                  class="seeall isDisabled"
                  [routerLink]="['/work-instructions/drafts']"
                  [queryParams]="{ search: searchCriteria }"
                  (click)="showMore = true"
                >
                  SEE ALL
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="maximize-col width-50 m-l-7">
        <div class="bg-white drafts-favorites-div">
          <div class="recents-favorites-lst-header">
            <i class="fa fa-star-o favorite-icon" aria-hidden="true"></i>
            <span class="p-l-5">Favorites</span>
          </div>
          <div
            *ngIf="
              workInstructions$ | async as workInstructions;
              else loadingDrafts
            "
          >
            <ng-container
              *ngIf="
                workInstructions.favorites
                  | filter : searchCriteria
                  | sortBy : 'desc' : 'updated_at'
                  | slice : 0 : 3 as result
              "
            >
              <app-dummy #recentFavourites [value]="result"></app-dummy>
              <ul class="recents-favorites-list">
                <li class="list-data" *ngFor="let obj of result">
                  <div class="recent-wi-img p-0 width-10">
                    <img
                      class="coverImg"
                      [hidden]="!getImageSrc(obj.Cover_Image, obj.Id)"
                      [attr.src]="getImageSrc(obj.Cover_Image, obj.Id)"
                      alt=""
                    />
                  </div>

                  <div class="p-l-r-0 width-60">
                    <div
                      [routerLink]="['/work-instructions/edit', obj.Id]"
                      class="dis-flex"
                    >
                      <a class="ellipsis">
                        <span
                          class="recent-title"
                          matTooltip="{{ obj.WI_Name }}"
                          matTooltipClass=""
                        >
                          {{ obj.WI_Name }}
                        </span>
                      </a>
                      <a (click)="setFav($event, obj)">
                        <mat-icon class="mat-icon-star is-fav-icon fav-icon">
                          star
                        </mat-icon>
                      </a>
                      <span class="chip" *ngIf="obj.Published === false">
                        Draft
                      </span>
                    </div>
                    <div class="category-ellipsis">
                      <span
                        class="recent-subtitle"
                        matTooltip="{{ obj.categories }}"
                        matTooltipClass=""
                      >
                        {{ obj.categories }}
                      </span>
                    </div>
                  </div>

                  <div class="p-l-10 width-30 position">
                    <span class="recent-edited">
                      Edited {{ obj.updated_at | timeAgo }}
                    </span>
                    <br />
                    <span class="recent-edited">by {{ obj.EditedBy }}</span>
                  </div>
                </li>
              </ul>
              <div
                *ngIf="
                  (result.length === 0 &&
                    workInstructions.favorites.length > 0) ||
                  (workInstructions.favorites &&
                    workInstructions.favorites.length === 0)
                "
                class="no-fav"
              >
                {{
                  workInstructions.favorites.length
                    ? 'No Results Found !!'
                    : 'No Favorite Instructions found !!'
                }}
              </div>
              <div class="text-center seeall-fixed">
                <button
                  *ngIf="
                    result.length !== 0 &&
                    workInstructions.favorites.length !== 0
                  "
                  class="seeall isDisabled"
                  [routerLink]="['/work-instructions/favorites']"
                  [queryParams]="{ search: searchCriteria }"
                  (click)="showMore = true"
                >
                  SEE ALL
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <app-categories [searchCriteria]="searchCriteria"></app-categories>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #loadingDrafts>
  <div class="ghost-loader-wi-home">
    <div>
      <ngx-shimmer-loading
        [width]="'9%'"
        [height]="'45px'"
        class="drafted-fav-image"
      >
      </ngx-shimmer-loading>
      <span class="drafted-fav-wi-name-category">
        <ngx-shimmer-loading
          [width]="'60%'"
          [height]="'20px'"
          class="drafted-fav-title"
        >
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'10px'"
          class="drafted-fav-category"
        >
        </ngx-shimmer-loading>
      </span>
      <span class="drafted-fav-updated-details">
        <ngx-shimmer-loading
          [width]="'20%'"
          [height]="'10px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading
          [width]="'20%'"
          [height]="'10px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
      </span>
    </div>
    <div>
      <ngx-shimmer-loading
        [width]="'9%'"
        [height]="'45px'"
        class="drafted-fav-image"
      >
      </ngx-shimmer-loading>
      <span class="drafted-fav-wi-name-category">
        <ngx-shimmer-loading
          [width]="'60%'"
          [height]="'20px'"
          class="drafted-fav-title"
        >
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'10px'"
          class="drafted-fav-category"
        >
        </ngx-shimmer-loading>
      </span>
      <span class="drafted-fav-updated-details">
        <ngx-shimmer-loading
          [width]="'20%'"
          [height]="'10px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading
          [width]="'20%'"
          [height]="'10px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
      </span>
    </div>
    <div>
      <ngx-shimmer-loading
        [width]="'9%'"
        [height]="'45px'"
        class="drafted-fav-image"
      >
      </ngx-shimmer-loading>
      <span class="drafted-fav-wi-name-category">
        <ngx-shimmer-loading
          [width]="'60%'"
          [height]="'20px'"
          class="drafted-fav-title"
        >
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading
          [width]="'50%'"
          [height]="'10px'"
          class="drafted-fav-category"
        >
        </ngx-shimmer-loading>
      </span>
      <span class="drafted-fav-updated-details">
        <ngx-shimmer-loading
          [width]="'20%'"
          [height]="'10px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
        <br />
        <ngx-shimmer-loading
          [width]="'20%'"
          [height]="'10px'"
          class="right-alignment"
        >
        </ngx-shimmer-loading>
      </span>
    </div>
  </div>
</ng-template>
