<div class="list-view">
    <div class="main-container">
        <div class="forms-header">
            <div class="custom-form-field-gray-color search">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix id="formsListsearchIcon" class="searchIcon">search</mat-icon>
                    <input id="searchPositionsList" matInput type="text" placeholder="Search..." autocomplete="off"
                        [formControl]="searchPosition" />
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="(forms$ | async) && (isLoading$ | async) === false">
            <cwp-dynamictable [dataSource]="dataSource" [configOptions]="configOptions"
              (fetchDataCallback)="handleTableEvent($event)"
              (cellClickActionHandler)="cellClickActionHandler($event)" class="width-100">
            </cwp-dynamictable>
            
        </div>
    </div>
     <div *ngIf="(isLoading$ | async) || !dataFetchingComplete">
        <div class="ghost-loading">
            <div *ngFor="let number of ghostLoading">
                <ngx-shimmer-loading [width]="'100%'" [height]="'40px'">
                </ngx-shimmer-loading>
            </div>
        </div>
    </div>
</div>