<div
  class="create-form-main"
  [formGroup]="formConfiguration"
  [ngClass]="{
    'disable-form-interactions':
      formDetailPublishStatus === formConfigurationStatus.publishing
  }"
  *ngIf="{
    formMetadata: formMetadata$ | async,
    authoredFormDetail: authoredFormDetail$ | async,
    createOrEditForm: createOrEditForm$ | async,
    formSaveStatus: formSaveStatus$ | async,
    formDetailPublishStatus: formDetailPublishStatus$ | async,
    isFormCreated: isFormCreated$ | async,
    questionCounter: questionCounter$ | async,
    redirectToFormsList: redirectToFormsList$ | async
  } as props"
>
  <div class="dis-flex form-header">
    <div class="dis-flex width-55">
      <svg-icon id="formLogo" icon="icon-formlogo" class="form-logo"></svg-icon>
      <input
        hidden
        type="file"
        #formImageuploader
        accept="image/x-png,image/jpeg"
        (change)="uploadFormImageFile($event)"
      />
      <div class="width-90">
        <a
          matTooltip="{{ formConfiguration.get('name').value }}"
          class="dis-inline"
        >
          <a class="width-90">
            <input
              id="formNameText"
              #name
              type="text"
              [size]="name.value !== '' ? getSize(name.value) : 20"
              class="form_title_input"
              formControlName="name"
              autofocus="true"
              autocomplete="off"
              (keyup.enter)="formConfiguration.get('name').disable()"
              (blur)="formConfiguration.get('name').disable()"
            />

            <mat-error
              id="formNameError"
              *ngIf="processValidationErrors('name')"
              class="error-fields"
            >
              {{
                errors.name.name
                  | translate
                    : {
                        name: 'name' | translate,
                        length: errors.name.length
                      }
              }}
            </mat-error>
          </a>
          <button
            id="formNameEditBtn"
            (click)="editFormName()"
            class="edit-icon"
            *ngIf="formConfiguration.get('name').disabled === true"
          >
            <svg-icon
              id="formNameEditIcon"
              icon="icon-edit-icon"
              class="edit-icon-img"
            ></svg-icon>
          </button>
        </a>
        <br />
        <div class="dis-flex center">
          <a
            matTooltip="{{ formConfiguration.get('description').value }}"
            class="width-60"
          >
            <input
              id="formDescriptionText"
              type="text"
              class="form_description_input"
              placeholder="{{ 'addFormDesc' | translate }}"
              formControlName="description"
              autofocus="true"
              autocomplete="off"
            />
          </a>
          <span
            ><span id="formPlant" class="plant"
              >{{ 'plant' | translate }}:</span
            >
            {{ ' ' + formMetadata.plant }}</span
          >
        </div>
      </div>
    </div>
    <div class="dis-flex width-70 justify-content-end">
      <div
        id="formSavedChanges"
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saved ||
          formStatus !== formConfigurationStatus.draft ||
          isFormDetailPublished
        "
      >
        {{ 'changesSaved' | translate }}
      </div>
      <div
        id="formSavingChanges"
        class="save-status"
        [hidden]="
          props.formSaveStatus !== formConfigurationStatus.saving ||
          isFormDetailPublished
        "
      >
        {{ 'savingChanges' | translate }}
      </div>
      <div
        id="formChangesPublished"
        class="save-status"
        [hidden]="
          formDetailPublishStatus !== formConfigurationStatus.published ||
          formStatus !== formConfigurationStatus.published
        "
      >
        {{ 'changesPublished' | translate }}
      </div>
      <div
        id="formPublishingChanges"
        class="save-status"
        [hidden]="
          formDetailPublishStatus !== formConfigurationStatus.publishing ||
          !isFormDetailPublished
        "
      >
        {{ 'publishingChanges' | translate }}
      </div>
      <mat-slide-toggle
        class="collapse-btn slide-toggle"
        [formControl]="collapseAllSections"
        name="collapseAllSections"
        >{{ 'collapseAllSections' | translate }}</mat-slide-toggle
      >
      <button
        id="FormImportBtn"
        mat-stroked-button
        class="import-btn"
        translate="importBtn"
        (click)="importQuestions(0)"
      ></button>

      <!-- <button
        mat-stroked-button
        class="import-btn"
        [disabled]="isEmbeddedForm"
        translate="saveAsTemplate"
        (click)="openSaveTemplateDialog()"
      ></button> -->

      <button
        id="formNextBtn"
        mat-stroked-button
        class="next-btn"
        (click)="publishOrShowPdf()"
        [disabled]="
          formStatus === formConfigurationStatus.published && isEmbeddedForm
        "
      >
        {{ isEmbeddedForm ? ('publishBtn' | translate) : ('next' | translate) }}
      </button>
    </div>
  </div>
  <div class="dis-flex form">
    <div class="questions-responses-width">
      <app-builder
        [selectedNode]="selectedNode"
        [isPreviewActive]="true"
        [isEmbeddedForm]="isEmbeddedForm"
        [isTemplate]="false"
        [formId]="this.formMetadata.id"
        [counter]="formConfiguration.get('counter').value"
        [moduleName]="'forms'"
      ></app-builder>
    </div>
    <div class="iphone-width m-t-20" *ngIf="!isEmbeddedForm">
      <app-iphone [moduleType]="'forms'" [subFormId]="''"></app-iphone>
    </div>

    <div class="iphone-width m-t-20" *ngIf="isEmbeddedForm">
      <app-iphone-for-embedded-forms
        [moduleType]="'forms'"
        [subFormId]="''"
      ></app-iphone-for-embedded-forms>
    </div>
  </div>
</div>

<div *ngIf="openAppSider$ | async as openAppSider">
  <div *ngIf="openAppSider">
    <app-import-questions-slider
      [title]="'forms'"
      [isFooter]="true"
      [selectedFormName]="selectedFormName"
      [selectedFormId]="selectedFormId"
      [selectedFormData]="selectedFormData"
      [isEmbeddedForm]="isEmbeddedForm"
      [currentFormData]="currentFormData"
      (cancelSliderEvent)="cancelSlider($event)"
      (backEvent)="backSlider($event)"
    ></app-import-questions-slider>
  </div>
</div>

<div *ngIf="openImportTemplateSider$ | async as openImportTemplateSider">
  <div *ngIf="openImportTemplateSider">
    <app-import-template-questions-slider
      [isFooter]="true"
      [selectedTemplateName]="selectedFormName"
      [selectedTemplateData]="selectedFormData"
      [allTemplates]="allTemplates"
      [isEmbeddedForm]="isEmbeddedForm"
      [currentFormData]="currentFormData"
      (cancelSliderEvent)="cancelTemplateSlider($event)"
      (backEvent)="backTemplateSlider($event)"
    ></app-import-template-questions-slider>
  </div>
</div>
