.background-container {
  background: #f0f7ff;
  height: 100vh;
  margin-top: -30px;

  .background-heading {
    padding: 22px;
    font-weight: 800;
    font-size: 44px;
    letter-spacing: 1.5px;
  }

  .logo {
    position: absolute;
    right: 20px;
    top: 55px;
  }

  .graphics-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .graphics-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
