::ng-deep .mat-datepicker-content-touch .mat-datepicker-content-ser {
  width: 296px !important;
  height: 354px !important;
}

.date-picker-position {
  position: absolute;
  top: 100px;
  left: 100px;
}
