::ng-deep .mat-datetimepicker-content-touch .mat-datetimepicker-content-ser {
  width: 296px !important;
  height: 354px !important;
}

.datetime-picker-position {
  position: absolute;
  top: 100px;
  left: 100px;
}
