<div class="save-template-confirm-modal">
  <span class="title" id="saveTemplateName">{{
    (templateId ? 'overwriteTemplateTitle' : 'newTemplateTitle')
      | translate : { name: templateName }
  }}</span>
  <p id="saveTemplateMessage">
    {{
      (templateId ? 'overwriteTemplateMessage' : 'newTemplateMessage')
        | translate : { name: templateName }
    }}
  </p>
  <button
    id="saveTemplateSaveBtn"
    mat-raised-button
    class="save-template-btn"
    type="submit"
    (click)="save()"
  >
    {{
      (templateId ? 'overwriteSaveTemplateBtn' : 'saveTemplateBtn') | translate
    }}
  </button>
  <button
    id="saveTemplateCancelBtn"
    mat-stroked-button
    class="cancel-btn"
    translate="cancel"
    (click)="this.closeModal.emit(false)"
  ></button>
</div>
