@import '../../../../scss/colors.scss';

.save-template-confirm-modal {
  height: 80px;
}

.title {
  font-size: 120%;
  font-weight: 500;
}

.save-template-btn {
  text-transform: capitalize;
  float: right;
  background: $blue-main;
  color: $white;
}

.cancel-btn {
  border: 0px;
  color: $blue-main;
  background-color: $white;
  float: right;
  margin-right: 10px;
}
