.save-template-confirm-modal {
  width: 300px;
  height: 75px;
}

.title {
  font-size: 120%;
  font-weight: 500;
}

.save-template-btn {
  text-transform: capitalize;
  float: right;
  background: #3d5afe;
  color: #ffffff;
}
