<div id="round-plan-success-container">
  <mat-icon>
    <svg-icon icon="icon-schedule-success" class="schedule-icon"></svg-icon>
  </mat-icon>
  <p class="color">
    {{ 'scheduleSuccess' | translate }}
  </p>
  <div class="message">
    <p>
      {{ data.roundPlanName }}
    </p>
    <p [innerHTML]="'scheduleSuccessMessage' | translate"></p>
  </div>
  <button mat-button translate="viewRounds" (click)="viewRounds()"></button>
  <button mat-button translate="close" (click)="close()"></button>
</div>
