<div
  mat-dialog-title
  class="dialogTitle"
  cdkDrag
  [cdkDragDisabled]="dialogCollapsed"
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  cdkDragBoundary="body"
>
  <div class="dialogHeader">
    <div id="collabInnoChatTitle" class="headerTitle" translate>
      innoChatTitle
    </div>
    <div>
      <button
        id="collabRemoveBtn"
        mat-icon-button
        disableRipple
        class="closeBtn"
        (click)="collapseCollabDialog()"
        *ngIf="!dialogCollapsed"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <button
        id="collabUnflodLessBtn"
        mat-icon-button
        disableRipple
        class="closeBtn rotate90"
        (click)="minimizeCollabDialog()"
        *ngIf="isMaximized || dialogCollapsed"
      >
        <mat-icon>unfold_less</mat-icon>
      </button>
      <button
        id="collabUnfoldMoreBtn"
        mat-icon-button
        disableRipple
        class="closeBtn rotate90"
        (click)="maximizeCollabDialog()"
        *ngIf="!isMaximized && !dialogCollapsed"
      >
        <mat-icon>unfold_more</mat-icon>
      </button>

      <button
        id="collabCloseBtn"
        mat-icon-button
        disableRipple
        class="closeBtn"
        (click)="closeCollabDialog()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div
  mat-dialog-content
  class="dialogContent"
  [ngClass]="{ displayNone: dialogCollapsed }"
>
  <div
    [ngClass]="{ 'hideButtonGroup' : hideButtonGroup }"
    name="collaborationMode"
    aria-label="Collaboration Mode"
    class="buttonGroup"
  >
    <button
      id="collabGroupChatsBtn"
      mat-button
      class="btnGroupBtn"
      [ngClass]="{'activeTab': selectedTab==='chats'}"
      (click)="setSelectedTab('chats')"
      translate="chats"
    ></button>
    <mat-divider class="groupBtnDivider"></mat-divider>
    <button
      id="collabGroupCallBtn"
      mat-button
      class="btnGroupBtn"
      [ngClass]="{'activeTab': selectedTab==='calls'}"
      (click)="setSelectedTab('calls')"
      translate="calls"
    ></button>
    <mat-divider class="groupBtnDivider"></mat-divider>
    <button
      id="collabGroupPeopleBtn"
      mat-button
      class="btnGroupBtn"
      [ngClass]="{'activeTab': selectedTab==='people'}"
      (click)="setSelectedTab('people')"
      translate="people"
    ></button>
  </div>

  <div class="dialogBody">
    <div>
      <div *ngIf="selectedTab ==='chats'" class="tabContent">
        <app-chats
          [targetUser]="selectedUser"
          (viewChangeHandler)="handleViewChange($event)"
        ></app-chats>
      </div>
      <div *ngIf="selectedTab ==='calls'" class="tabContent">
        <app-calls></app-calls>
      </div>
      <div *ngIf="selectedTab ==='people'" class="tabContent">
        <app-people
          (handleTextMessaging)="handleTextMessaging($event)"
          (handleAudioMessaging)="handleAudioMessaging($event)"
          (handleVideoMessaging)="handleVideoMessaging($event)"
        ></app-people>
      </div>
    </div>
  </div>
</div>
