@import '../../../../scss/colors.scss';

.rotate90 {
  transform: rotate(90deg);
}
.cdk-overlay-pane {
  width: unset !important;
  height: unset !important;
  max-width: 100% !important;
}

::ng-deep .overlay-max {
  max-width: 100% !important;
  height: 100vh !important;
  margin: 0px !important;
  display: contents;
}
::ng-deep .overlay-min {
  margin-top: 54.5px !important;
  margin-right: 180px !important;
  height: auto !important;
}

::ng-deep .bottomRight {
  position: fixed !important;
  right: 0px !important;
  bottom: 0px !important;
  width: 300px !important;
  height: 48px !important;
  margin-right: 0px !important;
  transform: none !important;
}

::ng-deep .bottomRightAVConfCollapsed {
  position: fixed !important;
  right: 0px !important;
  bottom: 50px !important;
  height: 48px !important;
  margin-right: 0px !important;
  transform: none !important;
}

.dialogTitle {
  background: $white;
  margin: 0px;
  cursor: move;
  .dialogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $blue-head;
    padding: 4px 15px;
    .headerTitle {
      color: $white;
    }
    .buttonGroup {
      box-shadow: 0 0px 0px -1px $gray40, 0 1px 0px 0 $gray40,
        0 0px 0px 0 $gray40;
    }
    .closeBtn {
      color: $white;
    }
  }
}
.dialogContent {
  margin: 0px;
  padding: 0px 0px;
  background-color: $white;
  min-height: 88vh !important;
  .buttonGroup {
    background: $white2;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dialogBody {
    height: 88vh;

    .tabContent {
      height: 81vh;
    }
  }
}

::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-radius: 5px;
  background: $white2;
  height: 35px;
  width: fit-content;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}
.btnGroupBtn {
  color: $dark-gray;
  font-weight: 400;
}

.hideButtonGroup {
  display: none !important;
}

.displayNone {
  display: none !important;
}

.groupBtnDivider {
  background: $gray1;
  width: 1px;
  height: 20px;
}
.activeTab {
  font-weight: 500;
  color: $black;
}
